Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Fix typo
  docs/usage_guide.rst
Due: none

Sort history events first by timestamp and then sequence index
  rotkehlchen/accounting/accountant.py
  rotkehlchen/db/history_events.py
  rotkehlchen/history/events.py
Due: backend

Protect against zerodiv at get_prices_for_swap
  rotkehlchen/accounting/pot.py
  rotkehlchen/tests/unit/decoders/test_1inch.py
Due: backend

Fix test for periodic query of transaction receipts
  rotkehlchen/tests/unit/test_tasks_manager.py
Due: backend

Fix processing of eth2 details in pnl accounting
  rotkehlchen/chain/ethereum/modules/eth2/structures.py
Due: backend

Add test for ETH2 staking event in PnL accounting process
  rotkehlchen/chain/ethereum/modules/eth2/structures.py
  rotkehlchen/tests/unit/accounting/test_staking.py
  rotkehlchen/tests/utils/history.py
Due: backend

Handle the broken case of existing fee but not fee currency
  rotkehlchen/accounting/pot.py
  rotkehlchen/exchanges/data_structures.py
Due: backend

fix issue with pytest import causing `tests/test_no_missing_init.py` to fail on mac
  .gitignore
  rotkehlchen/tests/conftest.py
Due: backend

fix: disallow invalid trade fee
  frontend/app/src/components/history/ExternalTradeForm.vue
  frontend/app/src/components/inputs/AssetSelect.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

Update usage_guide.rst
  docs/usage_guide.rst
Due: none

update docs as regards building from source on osx
  .gitignore
  docs/installation_guide.rst
Due: none

Add accounting test for ignored transaction's decoded events
  rotkehlchen/accounting/processed_event.py
  rotkehlchen/tests/unit/accounting/test_settings.py
Due: backend

Remove unused cost basis member
  rotkehlchen/accounting/cost_basis/base.py
Due: backend

Add eth explorer link to the exported CSV
  rotkehlchen/accounting/export/csv.py
  rotkehlchen/accounting/pot.py
  rotkehlchen/accounting/structures/processed_event.py
  rotkehlchen/accounting/transactions.py
  rotkehlchen/api/rest.py
Due: backend

Export str(asset) to the CSV and not the identifier
  rotkehlchen/accounting/structures/processed_event.py
Due: backend

Remove some unused code in accounting
  rotkehlchen/accounting/export/csv.py
  rotkehlchen/accounting/mixins/event.py
  rotkehlchen/accounting/pnl.py
  rotkehlchen/accounting/pot.py
  rotkehlchen/accounting/types.py
Due: backend

Add ids for manually tracked balances
  docs/changelog.rst
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v31_v32.py
  rotkehlchen/tests/data/v31_rotkehlchen.db
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

fix issue with invalid trades fees
  docs/changelog.rst
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/upgrades/v31_v32.py
  rotkehlchen/tests/api/test_trades.py
Due: backend

added sql statement to set fee_currency as NULL if fee is missing & test for db upgrade
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/upgrades/v31_v32.py
  rotkehlchen/tests/data/v31_rotkehlchen.db
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

fix: transaction page performance
  frontend/app/src/services/history/types.ts
  frontend/app/src/views/history/transactions/TransactionContent.vue
Due: frontend_unit, frontend_integration

fix issue with frontend e2e test failing & simplifying logic for invalid trades
  frontend/app/tests/e2e/fixtures/history/trades.json
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/upgrades/v31_v32.py
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend, frontend_unit, frontend_integration

feat: adjust pnl report frontend
  frontend/app/.gitignore
  frontend/app/src/components/asset-manager/AssetTable.vue
  frontend/app/src/components/dashboard/BlockchainBalanceCardList.vue
  frontend/app/src/components/dashboard/ManualBalanceCardList.vue
  frontend/app/src/components/defi/display/DefiProtocolIcon.vue
  frontend/app/src/components/display/ExchangeDisplay.vue
  frontend/app/src/components/helper/RowExpander.vue
  frontend/app/src/components/helper/date/RangeSelector.vue
  frontend/app/src/components/history/transactions/TransactionEventAsset.vue
  frontend/app/src/components/history/transactions/TransactionEventNote.vue
  frontend/app/src/components/history/transactions/TransactionEvents.vue
  frontend/app/src/components/profitloss/CostBasisTable.vue
  frontend/app/src/components/profitloss/Generate.vue
  frontend/app/src/components/profitloss/ProfitLossEventType.vue
  frontend/app/src/components/profitloss/ProfitLossEvents.vue
  frontend/app/src/components/profitloss/ProfitLossOverview.vue
  frontend/app/src/components/profitloss/ReportPeriodSelector.vue
  frontend/app/src/components/profitloss/ReportsTable.vue
  frontend/app/src/components/settings/OracleEntry.vue
  frontend/app/src/filters.ts
  frontend/app/src/locales/en.json
  frontend/app/src/store/reports/index.ts
  frontend/app/src/types/reports.ts
  frontend/app/src/types/user.ts
  frontend/app/src/utils/report.ts
  frontend/app/src/utils/text.ts
  frontend/app/src/views/reports/ProfitLossReport.vue
  frontend/app/tests/e2e/pages/account-balances-page/manual-balances-page.ts
Due: frontend_unit, frontend_integration

Fix duplicate sequence index for kraken trades
  rotkehlchen/db/upgrades/v31_v32.py
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

Be sure that two events for the same id don't share the same sequence index during migration
  rotkehlchen/db/upgrades/v31_v32.py
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

Save balances snapshot despite NFT balances failure
  rotkehlchen/rotkehlchen.py
Due: backend

Upgrade types-cryptography and types-requests
  requirements_lint.txt
Due: none

Remove duplicate logic for history events sequence indices fix
  rotkehlchen/db/upgrades/v31_v32.py
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/tests/data/v31_rotkehlchen.db
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

Catch errors raised by web3.eth.block_number at connect
  rotkehlchen/chain/ethereum/manager.py
  rotkehlchen/chain/ethereum/modules/nfts.py
Due: backend

fix: pnl report improvement
  frontend/app/src/components/display/AmountDisplay.vue
  frontend/app/src/components/profitloss/AccountingSettingsDisplay.vue
  frontend/app/src/components/profitloss/CostBasisTable.vue
  frontend/app/src/components/profitloss/ProfitLossEvents.vue
  frontend/app/src/components/profitloss/ProfitLossOverview.vue
  frontend/app/src/components/profitloss/ReportsTable.vue
  frontend/app/src/data/currencies.ts
  frontend/app/src/locales/en.json
  frontend/app/src/store/assets/index.ts
  frontend/app/src/store/balances/getters.ts
  frontend/app/src/types/reports.ts
  frontend/app/src/types/user.ts
  frontend/app/src/utils/report.ts
Due: frontend_unit, frontend_integration

Add a flaky pytest plugin and mark some initial tests flaky
  requirements_dev.txt
  rotkehlchen/tests/api/test_balances.py
  rotkehlchen/tests/api/test_nfts.py
  rotkehlchen/tests/api/test_substrate_manager.py
Due: backend

feat: move toggle privacy button to app bar
  frontend/app/src/App.vue
  frontend/app/src/components/CurrencyDropdown.vue
  frontend/app/src/components/PrivacyModeDropdown.vue
  frontend/app/src/components/UserDropdown.vue
  frontend/app/tests/e2e/pages/rotki-app.ts
Due: frontend_unit, frontend_integration

feat: enable running single frontend integration test
  frontend/app/package.json
  frontend/app/src/components/display/AmountDisplay.vue
  frontend/package-lock.json
Due: frontend_unit, frontend_integration

feat: add on column at manual price table
  frontend/app/src/components/price-manager/PriceTable.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

user db snapshot feature + tests + updated api docs
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/snapshots.py
  rotkehlchen/db/utils.py
  rotkehlchen/tests/api/test_snapshots.py
Due: backend

Update EtheriumManager to filter exchanges
  rotkehlchen/exchanges/manager.py
Due: backend

Create setting for excluded exchanges
  rotkehlchen/db/settings.py
  rotkehlchen/tests/api/test_settings.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/unit/test_exchanges.py
Due: backend

Create API for excluded_exchanges setting
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/serialization/serialize.py
Due: backend

Fix exchange_manager fixture
  rotkehlchen/tests/fixtures/__init__.py
  rotkehlchen/tests/fixtures/exchanges/__init__.py
  rotkehlchen/tests/fixtures/history.py
  rotkehlchen/tests/unit/test_exchanges.py
  rotkehlchen/tests/unit/test_tasks_manager.py
Due: backend
