Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Updates changelog
  docs/changelog.rst
Due: none

Adds strict parsing for frontend settings
  frontend/app/src/components/dashboard/OverallBalances.vue
  frontend/app/src/components/defi/wizard/DefiWizard.vue
  frontend/app/src/components/display/AmountDisplay.vue
  frontend/app/src/components/helper/DataTable.vue
  frontend/app/src/components/helper/HashLink.vue
  frontend/app/src/components/profitloss/ReportPeriodSelector.vue
  frontend/app/src/components/settings/FrontendSettings.vue
  frontend/app/src/components/settings/explorers/Explorers.vue
  frontend/app/src/components/settings/explorers/RoundingSettings.vue
  frontend/app/src/data/defaults.ts
  frontend/app/src/mixins/settings-mixin.ts
  frontend/app/src/premium/setup-interface.ts
  frontend/app/src/services/monitoring.ts
  frontend/app/src/store/defi/getters.ts
  frontend/app/src/store/session/actions.ts
  frontend/app/src/store/settings/actions.ts
  frontend/app/src/store/settings/consts.ts
  frontend/app/src/store/settings/getters.ts
  frontend/app/src/store/settings/index.ts
  frontend/app/src/store/settings/mutations.ts
  frontend/app/src/store/settings/state.ts
  frontend/app/src/store/settings/types.d.ts
  frontend/app/src/store/types.d.ts
  frontend/app/src/types/currency-location.ts
  frontend/app/src/types/frontend-settings.ts
  frontend/app/src/types/user.ts
  frontend/app/src/typing/types.ts
  frontend/app/src/views/defi/DecentralizedFinance.vue
  frontend/app/src/views/history/TradeHistory.vue
  frontend/app/src/views/settings/GeneralSettings.vue
  frontend/app/tests/unit/components/defi/wizard/defi-wizard.spec.ts
  frontend/app/tests/unit/components/defi/wizard/module-selector.spec.ts
  frontend/app/tests/unit/components/display/amount-display.spec.ts
  frontend/app/tests/unit/store/balances/getters.spec.ts
  frontend/app/tests/unit/store/settings/actions.spec.ts
  frontend/app/tests/unit/store/settings/mutations.spec.ts
  frontend/app/tests/unit/store/settings/utils.spec.ts
  frontend/app/tests/unit/views/settings/user-security-settings.spec.ts
  frontend/common/src/settings/graphs.ts
  frontend/common/src/settings/index.ts
Due: frontend_unit, frontend_integration

Renames currency properties
  frontend/app/src/components/CurrencyDropDown.vue
  frontend/app/src/components/accounts/AccountBalanceTable.vue
  frontend/app/src/components/dashboard/ManualBalanceCardList.vue
  frontend/app/src/components/dashboard/NetworthChart.vue
  frontend/app/src/components/defi/display/LendingAssetTable.vue
  frontend/app/src/components/display/AmountCurrency.vue
  frontend/app/src/components/display/AmountDisplay.vue
  frontend/app/src/components/helper/display/icons/AssetIcon.vue
  frontend/app/src/components/profitloss/ProfitLossOverview.vue
  frontend/app/src/composables/session.ts
  frontend/app/src/data/currencies.ts
  frontend/app/src/store/balances/actions.ts
  frontend/app/src/store/balances/getters.ts
  frontend/app/src/store/reports/state.ts
  frontend/app/src/store/session/getters.ts
  frontend/app/src/types/currency.ts
  frontend/app/src/types/user.ts
  frontend/app/src/views/ProfitLossReport.vue
  frontend/app/src/views/settings/GeneralSettings.vue
Due: frontend_unit, frontend_integration

Removes trailing slash from BigNumber import
  frontend/app/src/components/ExternalTradeForm.vue
  frontend/app/src/components/accounts/exchanges/ExchangeAmountRow.vue
  frontend/app/src/components/assets/AssetLocations.vue
  frontend/app/src/components/dashboard/BlockchainBalanceCardList.vue
  frontend/app/src/components/dashboard/ExchangeBox.vue
  frontend/app/src/components/dashboard/ManualBalanceCardList.vue
  frontend/app/src/components/dashboard/NetworthChart.vue
  frontend/app/src/components/dashboard/NftBalanceTable.vue
  frontend/app/src/components/dashboard/OverallBalances.vue
  frontend/app/src/components/defi/Deposits.vue
  frontend/app/src/components/defi/display/InfoRow.vue
  frontend/app/src/components/defi/loan/loans/liquity/LiquityLiquidation.vue
  frontend/app/src/components/defi/loan/loans/makerdao/MakerDaoVaultDebtDetails.vue
  frontend/app/src/components/display/AmountDisplay.vue
  frontend/app/src/components/history/TransactionsDetails.vue
  frontend/app/src/components/nft/NftGallery.vue
  frontend/app/src/components/settings/explorers/RoundingSelector.vue
  frontend/app/src/components/settings/explorers/RoundingSettings.vue
  frontend/app/src/data/amount_formatter.ts
  frontend/app/src/filters.ts
  frontend/app/src/services/axios-tranformers.ts
  frontend/app/src/store/balances/actions.ts
  frontend/app/src/store/debug.ts
  frontend/app/src/store/history/types.ts
  frontend/app/src/store/reports/types.d.ts
  frontend/app/src/store/settings/mutations.ts
  frontend/app/src/store/settings/state.ts
  frontend/app/src/typing/types.ts
  frontend/app/src/utils/bignumbers.ts
  frontend/app/src/utils/setup-formatter.ts
  frontend/app/tests/e2e/pages/dashboard-page.ts
  frontend/app/tests/e2e/specs/accounts-balances.spec.ts
  frontend/app/tests/unit/amount_formatter.spec.ts
  frontend/app/tests/unit/components/display/amount-display.spec.ts
  frontend/app/tests/unit/store/settings/actions.spec.ts
  frontend/app/tests/unit/store/settings/mutations.spec.ts
  frontend/app/tests/unit/store/settings/utils.spec.ts
Due: frontend_unit, frontend_integration

Fix copy pasta error. loopring -> nfts location
  frontend/app/src/locales/en.json
  rotkehlchen/rotkehlchen.py
Due: backend, frontend_unit, frontend_integration

Fixes single expansion for trade details
  frontend/app/src/components/history/ClosedTrades.vue
Due: frontend_unit, frontend_integration

Temporarily disable arm64 build due to build errors
  .github/workflows/rotki_packaging.yaml
Due: none

Bump version: 1.22.0 → 1.22.1
  .bumpversion.cfg
  docs/conf.py
  frontend/app/package.json
  frontend/package-lock.json
  setup.py
Due: frontend_unit, frontend_integration

Add v1.22.1 to the changelog
  docs/changelog.rst
Due: none

Add tests for all cexex comparing unsupported assets to mapping
  rotkehlchen/tests/exchanges/test_binance.py
  rotkehlchen/tests/exchanges/test_bitfinex.py
  rotkehlchen/tests/exchanges/test_bittrex.py
  rotkehlchen/tests/exchanges/test_ftx.py
  rotkehlchen/tests/exchanges/test_gemini.py
  rotkehlchen/tests/exchanges/test_iconomi.py
  rotkehlchen/tests/exchanges/test_kucoin.py
  rotkehlchen/tests/exchanges/test_poloniex.py
Due: backend

RMRK for Kucoin and BCH for Bitfinex should now work properly again
  rotkehlchen/assets/converters.py
Due: backend

Add changelog for 3702
  docs/changelog.rst
Due: none

Splits the login/account creation flow
  frontend/app/src/components/AccountManagement.vue
  frontend/app/src/components/account-management/CreateAccount.vue
  frontend/app/src/components/account-management/Login.vue
  frontend/app/src/components/account-management/PremiumCredentials.vue
  frontend/app/src/services/rotkehlchen-api.ts
  frontend/app/src/store/session/actions.ts
  frontend/app/src/types/exchanges.ts
  frontend/app/src/types/login.ts
  frontend/app/tests/unit/components/account-management.spec.ts
Due: frontend_unit, frontend_integration

Fixes tabindex and adds default ss0graph value
  frontend/app/src/components/inputs/RevealableInput.vue
  frontend/app/src/types/user.ts
Due: frontend_unit, frontend_integration

Adds caching to docker build
  .github/workflows/rotki_nightly_builds.yml
  .github/workflows/rotki_packaging.yaml
Due: none

Updates frontend dependencies
  frontend/app/package.json
  frontend/app/src/components/NavigationMenu.vue
  frontend/app/src/components/helper/LocationSelector.vue
  frontend/app/src/components/history/type.d.ts
  frontend/app/src/components/settings/api-keys/ExchangeKeysForm.vue
  frontend/app/src/premium/premium.ts
  frontend/app/src/services/assets/asset-api.ts
  frontend/app/src/services/axios-tranformers.ts
  frontend/app/src/services/defi/defi-api.ts
  frontend/app/src/services/history/history-api.ts
  frontend/app/src/services/types-api.ts
  frontend/app/tests/e2e/pages/account-balances-page.ts
  frontend/common/package.json
  frontend/package-lock.json
Due: frontend_unit, frontend_integration

Upgrade web3.py to 5.25.0
  requirements.txt
  rotkehlchen/chain/ethereum/manager.py
Due: backend

Add PSP airdrop + assets
  frontend/app/src/assets/images/airdrops/ParaSwap-logo.jpg
  frontend/app/src/store/defi/const.ts
  frontend/app/src/views/defi/Airdrops.vue
  rotkehlchen/chain/ethereum/airdrops.py
  rotkehlchen/constants/assets.py
  rotkehlchen/constants/assets.py.template
Due: backend, frontend_unit, frontend_integration

Add ENS and ParaSwap support
  docs/usage_guide.rst
Due: none

Update rotkehlchen/constants/assets.py
  rotkehlchen/constants/assets.py
Due: backend

Add 3716 feature to changelog
  docs/changelog.rst
Due: none

change img format to svg
  frontend/app/src/assets/images/airdrops/ParaSwap-logo.jpg
  frontend/app/src/assets/images/airdrops/ParaSwap-logo.svg
  frontend/app/src/views/defi/Airdrops.vue
Due: frontend_unit, frontend_integration

Add DB table for eth2 validators
  rotkehlchen/db/schema.py
Due: backend

Add api endpoints to add and delete eth2 validators
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/encoding.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/chain/ethereum/modules/eth2.py
  rotkehlchen/chain/ethereum/structures.py
  rotkehlchen/chain/manager.py
  rotkehlchen/db/eth2.py
  rotkehlchen/db/schema.py
  rotkehlchen/externalapis/beaconchain.py
Due: backend

Add api endpoint to get saved validators
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/chain/ethereum/structures.py
  rotkehlchen/chain/manager.py
  rotkehlchen/db/schema.py
Due: backend

Tests for add/delete/get eth2 validators
  rotkehlchen/api/v1/encoding.py
  rotkehlchen/chain/ethereum/modules/eth2.py
  rotkehlchen/db/eth2.py
  rotkehlchen/tests/api/test_eth2.py
Due: backend

Add eth2 argument to blockchain balances endpoint
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/encoding.py
  rotkehlchen/chain/ethereum/modules/eth2.py
  rotkehlchen/chain/ethereum/structures.py
  rotkehlchen/chain/ethereum/typing.py
  rotkehlchen/chain/manager.py
  rotkehlchen/tests/api/test_blockchain.py
  rotkehlchen/tests/api/test_eth2.py
  rotkehlchen/tests/external_apis/test_beaconchain.py
  rotkehlchen/typing.py
Due: backend

Eth2 deposits are now pulled from beaconcha.in much faster
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/chain/ethereum/modules/eth2.py
  rotkehlchen/chain/ethereum/typing.py
  rotkehlchen/db/eth2.py
  rotkehlchen/db/schema.py
  rotkehlchen/externalapis/beaconchain.py
  rotkehlchen/serialization/serialize.py
  rotkehlchen/tests/api/test_eth2.py
  rotkehlchen/tests/unit/test_eth2.py
Due: backend

Fix CONSTANT_ASSETS.append(A_PSP)
  rotkehlchen/constants/assets.py
Due: backend

Use assert_proper_response_with_result in all tests where applicable
  rotkehlchen/tests/api/test_assets.py
  rotkehlchen/tests/api/test_async.py
  rotkehlchen/tests/api/test_external_services.py
  rotkehlchen/tests/api/test_messages.py
  rotkehlchen/tests/api/test_periodic.py
  rotkehlchen/tests/api/test_statistics.py
  rotkehlchen/tests/api/test_substrate_manager.py
  rotkehlchen/tests/api/test_users.py
Due: backend

Fix linter lines too long and unused library
  rotkehlchen/tests/api/test_assets.py
  rotkehlchen/tests/api/test_external_services.py
  rotkehlchen/tests/api/test_messages.py
  rotkehlchen/tests/api/test_statistics.py
Due: backend

Fix api docs for eth2_validators GET
  docs/api.rst
Due: none

Fix tests
  rotkehlchen/chain/ethereum/modules/eth2.py
  rotkehlchen/tests/db/test_db.py
Due: backend

Enforcing naming conventions with eslint
  frontend/app/.eslintrc.js
  frontend/app/src/plugins/api.ts
  frontend/app/src/plugins/interop.ts
  frontend/app/src/py-handler.ts
  frontend/app/src/services/rotkehlchen-api.ts
  frontend/app/src/store/balances/getters.ts
  frontend/app/src/store/defi/xswap-utils.ts
  frontend/app/tsconfig.eslint.json
Due: frontend_unit, frontend_integration

Add new types for cryptocom
  rotkehlchen/data/importer.py
Due: backend

Add bisq import to backend
  frontend/app/src/components/history/consts.ts
  frontend/app/src/components/import/Bisq.vue
  frontend/app/src/data/defaults.ts
  frontend/app/src/locales/en.json
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/encoding.py
  rotkehlchen/constants/assets.py
  rotkehlchen/constants/assets.py.template
  rotkehlchen/data/global.db
  rotkehlchen/data/importer.py
  rotkehlchen/db/schema.py
  rotkehlchen/externalapis/bisq_market.py
  rotkehlchen/inquirer.py
  rotkehlchen/tests/api/test_data_import.py
  rotkehlchen/tests/api/test_database.py
  rotkehlchen/tests/api/test_settings.py
  rotkehlchen/tests/data/bisq_trades.csv
  rotkehlchen/tests/data/cryptocom_trades_list.csv
  rotkehlchen/tests/external_apis/test_bisq_market.py
  rotkehlchen/tests/utils/dataimport.py
  rotkehlchen/typing.py
Due: backend, frontend_unit, frontend_integration

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
