Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

test: type escape to properly close skipped chains dropdown
  frontend/app/tests/e2e/specs/app/settings/general.spec.ts
Due: frontend_unit, frontend_integration

fix: adjust pull transaction schema to fix delete custom
  frontend/.gitignore
  frontend/app/src/components/history/events/HistoryEventsTable.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/composables/api/history/events/index.ts
  frontend/app/src/composables/history/events/tx/decoding.ts
  frontend/app/src/types/history/events/index.ts
Due: frontend_unit, frontend_integration

fix: manual balance redirection from dashboard summary
  frontend/app/src/components/accounts/manual-balances/ManualBalancesDialog.vue
  frontend/app/src/pages/balances/manual/[[tab]].vue
  frontend/app/src/pages/dashboard/index.vue
  frontend/app/tests/e2e/pages/general-settings-page.ts
Due: frontend_unit, frontend_integration

Remove special handling of yearn v1 tokens in inquirer
  rotkehlchen/inquirer.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend

Fix typo from 8829
  rotkehlchen/chain/polygon_pos/modules/polygon_pos_bridge/decoder.py
Due: backend

Improve yearn decoding
  rotkehlchen/chain/ethereum/modules/yearn/decoder.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/tests/unit/decoders/test_yearn.py
Due: backend

Add Scroll airdrop decoder
  docs/changelog.rst
  rotkehlchen/chain/evm/decoding/airdrops.py
  rotkehlchen/chain/scroll/modules/scroll_airdrop/__init__.py
  rotkehlchen/chain/scroll/modules/scroll_airdrop/constants.py
  rotkehlchen/chain/scroll/modules/scroll_airdrop/decoder.py
  rotkehlchen/tests/unit/decoders/test_scroll_airdrop.py
Due: backend

test: introduce early bail on failure for cypress
  frontend/app/cypress.config.ts
  frontend/app/tests/e2e/support/index.ts
Due: frontend_unit, frontend_integration

Adjust unused/typing only imports
  rotkehlchen/chain/arbitrum_one/modules/gitcoin/decoder.py
  rotkehlchen/chain/arbitrum_one/modules/gmx/balances.py
  rotkehlchen/chain/evm/decoding/velodrome/decoder.py
  rotkehlchen/exchanges/htx.py
  rotkehlchen/rotkehlchen.py
Due: backend

Bump production packages
  requirements.txt
Due: none

Fix extrafi balance query for multiple pools of same token
  docs/changelog.rst
  rotkehlchen/chain/evm/decoding/extrafi/balances.py
Due: backend

test: introduce early bail on failure for cypress (#8852)
  frontend/app/cypress.config.ts
  frontend/app/tests/e2e/support/index.ts
Due: frontend_unit, frontend_integration

feat: remove loopring tag
  frontend/app/public/assets/images/protocols/coinbaseprime.svg
  frontend/app/src/components/accounts/AccountBalancesTable.vue
  frontend/app/src/components/inputs/TagFilter.vue
  frontend/app/src/components/premium/NoPremiumPlaceholder.vue
  frontend/app/src/components/settings/NftSettingsCategory.vue
  frontend/app/src/components/settings/general/nft/NftImageRenderingSetting.vue
  frontend/app/src/components/settings/general/nft/NftImageRenderingSettingMenu.vue
  frontend/app/src/components/tags/TagDisplay.vue
  frontend/app/src/composables/accounts/blockchain/use-account-delete.ts
  frontend/app/src/composables/blockchain/balances/index.ts
  frontend/app/src/composables/filters/blockchain-account.ts
  frontend/app/src/store/session/tags.ts
  frontend/app/src/types/tags.ts
Due: frontend_unit, frontend_integration

fix: wrong asset name and symbol in asset detail
  frontend/app/src/composables/assets/retrieval.ts
  frontend/app/src/pages/assets/[identifier].vue
Due: frontend_unit, frontend_integration

style: improve protocol icon styling consistency
  frontend/app/src/components/history/events/HistoryEventTypeCounterparty.vue
Due: frontend_unit, frontend_integration

feat: responsive setting section navigator
  frontend/app/src/components/settings/accounting/rule/AccountingRuleSetting.vue
  frontend/app/src/components/settings/controls/SettingsPage.vue
  frontend/app/src/components/settings/frontend/AddressNamePrioritySetting.vue
  frontend/app/src/locales/en.json
  frontend/app/src/pages/settings/accounting/index.vue
Due: frontend_unit, frontend_integration

improve scroll airdrop decoder
  rotkehlchen/chain/scroll/modules/scroll_airdrop/constants.py
  rotkehlchen/chain/scroll/modules/scroll_airdrop/decoder.py
  rotkehlchen/tests/unit/decoders/test_scroll_airdrop.py
Due: backend

Bump version: 1.35.1 → 1.36.0
  .bumpversion.cfg
  docs/conf.py
  frontend/app/package.json
  pyproject.toml
Due: frontend_unit, frontend_integration

Add 1.36.0 to the changelog (guesstimate)
  docs/changelog.rst
Due: none

fix: send correct payload for add blockchain label
  frontend/app/src/components/dashboard/DynamicMessageDisplay.vue
  frontend/app/src/composables/api/blockchain/accounts.ts
Due: frontend_unit, frontend_integration

fix: send correct payload for add blockchain label (#8862)
  frontend/app/src/components/dashboard/DynamicMessageDisplay.vue
  frontend/app/src/composables/api/blockchain/accounts.ts
Due: frontend_unit, frontend_integration

Update yearn ydaemon api
  rotkehlchen/chain/ethereum/modules/yearn/utils.py
  rotkehlchen/tests/external_apis/test_yearn.py
Due: backend

Save timestamp of last delegation check
  rotkehlchen/chain/ethereum/transactions.py
Due: backend

fix: update blockchain selector model to match source set
  frontend/app/src/components/helper/BlockchainAccountSelector.vue
Due: frontend_unit, frontend_integration
