Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

fix(frontend): zoom-aware net worth percentage
  docs/changelog.rst
  frontend/app/src/modules/dashboard/OverallBalances.vue
  frontend/app/src/modules/dashboard/graph/NetWorthChart.vue
  frontend/app/src/modules/dashboard/graph/net-value-stats.spec.ts
  frontend/app/src/modules/dashboard/graph/net-value-stats.ts
  frontend/app/src/modules/dashboard/graph/use-net-value-chart-config.ts
  frontend/app/src/modules/dashboard/graph/use-net-value-event-handlers.spec.ts
  frontend/app/src/modules/dashboard/graph/use-net-value-event-handlers.ts
Due: frontend_unit, frontend_integration

perf(accounting): cache ignored_asset_ids in event loop
  docs/changelog.rst
  rotkehlchen/accounting/history_base_entries.py
Due: backend

perf(externalapis): add shared TokenBucket rate limiter
  rotkehlchen/externalapis/blockscout.py
  rotkehlchen/externalapis/coingecko.py
  rotkehlchen/externalapis/cryptocompare.py
  rotkehlchen/externalapis/defillama.py
  rotkehlchen/externalapis/etherscan.py
  rotkehlchen/externalapis/etherscan_like.py
  rotkehlchen/externalapis/routescan.py
  rotkehlchen/tests/unit/test_rate_limiter.py
  rotkehlchen/utils/rate_limiter.py
Due: backend

perf(aggregator): parallelize per-chain balance queries
  rotkehlchen/chain/aggregator.py
Due: backend

Add clipper support
  docs/changelog.rst
  frontend/app/public/assets/images/protocols/clipper.svg
  rotkehlchen/chain/arbitrum_one/modules/clipper/__init__.py
  rotkehlchen/chain/arbitrum_one/modules/clipper/decoder.py
  rotkehlchen/chain/base/modules/clipper/__init__.py
  rotkehlchen/chain/base/modules/clipper/decoder.py
  rotkehlchen/chain/ethereum/modules/clipper/__init__.py
  rotkehlchen/chain/ethereum/modules/clipper/decoder.py
  rotkehlchen/chain/evm/decoding/clipper/__init__.py
  rotkehlchen/chain/evm/decoding/clipper/constants.py
  rotkehlchen/chain/evm/decoding/clipper/decoder.py
  rotkehlchen/chain/optimism/modules/clipper/__init__.py
  rotkehlchen/chain/optimism/modules/clipper/decoder.py
  rotkehlchen/chain/polygon_pos/modules/clipper/__init__.py
  rotkehlchen/chain/polygon_pos/modules/clipper/decoder.py
  rotkehlchen/tests/unit/decoders/test_clipper.py
  rotkehlchen/tests/unit/decoders/test_main.py
Due: backend, frontend_unit, frontend_integration

chore: polish TokenBucket docstring and aggregator one-liner
  rotkehlchen/chain/aggregator.py
  rotkehlchen/utils/rate_limiter.py
Due: backend

perf(externalapis): auto-detect API tier for rate-limited clients
  rotkehlchen/api/services/external_services.py
  rotkehlchen/externalapis/coingecko.py
  rotkehlchen/externalapis/cryptocompare.py
  rotkehlchen/externalapis/defillama.py
  rotkehlchen/externalapis/etherscan.py
  rotkehlchen/externalapis/etherscan_like.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/unit/test_rate_limiter.py
  rotkehlchen/utils/rate_limiter.py
Due: backend

ci: use playwright native sharding for e2e
  .github/workflows/task_e2e_tests.yml
  frontend/app/tests/e2e/pages/manual-balances-page.ts
  frontend/app/tests/e2e/specs/balances/manual-balances.spec.ts
Due: frontend_unit, frontend_integration

chore(frontend): bump @rotki/ui-library to 2.20.1
  docs/changelog.rst
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

ci: drop unused actions:write from e2e job
  .github/workflows/rotki_ci.yml
  .github/workflows/task_e2e_tests.yml
Due: none

ci: bump rotki/action-gh-release to v3.0.0
  .github/workflows/rotki_release.yaml
Due: none

Change default threadpool size
  rotkehlchen/server.py
Due: backend

Ensure --locked in CI
  .github/workflows/rotki_ci.yml
  .github/workflows/rotki_dev_builds.yml
  .github/workflows/rotki_nightly.yml
  .github/workflows/rotki_release.yaml
  .github/workflows/task_backend_tests.yml
  .github/workflows/task_docs_event_types_check.yml
  .github/workflows/task_e2e_tests.yml
Due: none

Remove dead code
  pyproject.toml
  rotkehlchen/accounting/structures/processed_event.py
  rotkehlchen/accounting/types.py
  uv.lock
Due: backend

ci: pass DISCORD_WEBHOOK through env instead of template interpolation
  .github/workflows/rotki_dev_builds.yml
  .github/workflows/rotki_nightly.yml
Due: none

ci: url-encode branch/author inputs in test-caching PR lookup
  .github/workflows/task_backend_tests.yml
Due: none

ci: drop unused actions:write from dev_builds and nightly
  .github/workflows/rotki_dev_builds.yml
  .github/workflows/rotki_nightly.yml
Due: none

ci: bump rotki/action-sqldiff to v3.0.1
  .github/workflows/rotki_sqldiff.yml
Due: none

Vendor filetype
  pyproject.toml
  rotkehlchen/data_migrations/migrations/migration_3.py
  rotkehlchen/tests/data/images/MON_small.png
  rotkehlchen/tests/data/images/eip155%3A57073%2Ferc20%3A0x0200C29006150606B650577BBE7B6248F58470c1_small.svg
  rotkehlchen/tests/unit/test_vendor.py
  rotkehlchen/utils/filetype.py
  uv.lock
Due: backend

chore(frontend): bump @rotki/ui-library to 2.20.2
  docs/changelog.rst
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

fix(frontend): reset net worth chart zoom on timeframe switch
  docs/changelog.rst
  frontend/app/src/modules/dashboard/OverallBalances.vue
  frontend/app/src/modules/dashboard/graph/NetWorthChart.vue
Due: frontend_unit, frontend_integration

refactor(frontend): tidy OverallBalances script setup
  frontend/app/src/modules/dashboard/OverallBalances.vue
Due: frontend_unit, frontend_integration

Query block production with RPC calls
  docs/changelog.rst
  rotkehlchen/chain/ethereum/decoding/decoder.py
  rotkehlchen/chain/ethereum/modules/eth2/beacon.py
  rotkehlchen/chain/ethereum/modules/eth2/utils.py
  rotkehlchen/externalapis/beaconchain/service.py
  rotkehlchen/externalapis/blockscout.py
  rotkehlchen/externalapis/etherscan_like.py
  rotkehlchen/tests/api/test_eth2.py
  rotkehlchen/tests/integration/test_eth2.py
  rotkehlchen/tests/utils/ethereum.py
Due: backend

Adjust tests
  rotkehlchen/tests/integration/test_eth2.py
Due: backend

Match exactly relayer information
  rotkehlchen/chain/ethereum/decoding/decoder.py
  rotkehlchen/tests/integration/test_eth2.py
Due: backend

Add query for produced blocks
  rotkehlchen/api/services/history.py
  rotkehlchen/chain/ethereum/modules/eth2/eth2.py
  rotkehlchen/externalapis/blockscout.py
  rotkehlchen/externalapis/etherscan.py
  rotkehlchen/externalapis/etherscan_like.py
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/api/test_eth2.py
  rotkehlchen/tests/integration/test_eth2.py
Due: backend

Cover other tests
  rotkehlchen/tests/integration/test_eth2.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
