Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

fix: keep the snapshot action on the left (#6911)
  frontend/app/src/components/dashboard/NetWorthChart.vue
  frontend/app/src/components/history/events/HistoryEventsList.vue
  frontend/app/src/components/history/events/HistoryEventsListTable.vue
Due: frontend_unit, frontend_integration

Fix usage of custom assets in history view page
  rotkehlchen/api/v1/fields.py
  rotkehlchen/api/v1/schemas.py
Due: backend

Export asset type for custom assets
  docs/changelog.rst
  rotkehlchen/api/rest.py
  rotkehlchen/assets/asset.py
  rotkehlchen/globaldb/assets_management.py
  rotkehlchen/tests/api/test_custom_assets.py
  rotkehlchen/tests/api/test_user_assets.py
  rotkehlchen/utils/serialization.py
Due: backend

feat(frontend): accounting rules conflict resolution
  frontend/app/src/components/dialogs/BigDialog.vue
  frontend/app/src/components/helper/TimeframeSelector.vue
  frontend/app/src/components/profitloss/ReportMissingAcquisitions.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleConflictsDialog.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleSetting.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleWithLinkedSettingDisplay.vue
  frontend/app/src/components/status/update/AssetConflictDialog.vue
  frontend/app/src/components/status/update/AssetConflictRow.vue
  frontend/app/src/components/status/update/AssetUpdate.vue
  frontend/app/src/components/status/update/AssetUpdateMessage.vue
  frontend/app/src/components/status/update/ConflictDialog.vue
  frontend/app/src/composables/api/settings/accounting-api.ts
  frontend/app/src/composables/message-handling.ts
  frontend/app/src/composables/settings/accounting/index.ts
  frontend/app/src/locales/en.json
  frontend/app/src/types/asset/index.ts
  frontend/app/src/types/common.ts
  frontend/app/src/types/settings/accounting.ts
  frontend/app/src/types/websocket-messages.ts
Due: frontend_unit, frontend_integration

feat: update based on the review
  frontend/app/src/components/helper/DataTable.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleConflictsDialog.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleSetting.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleWithLinkedSettingDisplay.vue
  frontend/app/src/composables/message-handling.ts
  frontend/app/src/composables/settings/accounting/index.ts
Due: frontend_unit, frontend_integration

feat(frontend): accounting rules conflict resolution (#6913)
  frontend/app/src/components/dialogs/BigDialog.vue
  frontend/app/src/components/helper/DataTable.vue
  frontend/app/src/components/helper/TimeframeSelector.vue
  frontend/app/src/components/profitloss/ReportMissingAcquisitions.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleConflictsDialog.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleSetting.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleWithLinkedSettingDisplay.vue
  frontend/app/src/components/status/update/AssetConflictDialog.vue
  frontend/app/src/components/status/update/AssetConflictRow.vue
  frontend/app/src/components/status/update/AssetUpdate.vue
  frontend/app/src/components/status/update/AssetUpdateMessage.vue
  frontend/app/src/components/status/update/ConflictDialog.vue
  frontend/app/src/composables/api/settings/accounting-api.ts
  frontend/app/src/composables/message-handling.ts
  frontend/app/src/composables/settings/accounting/index.ts
  frontend/app/src/locales/en.json
  frontend/app/src/types/asset/index.ts
  frontend/app/src/types/common.ts
  frontend/app/src/types/settings/accounting.ts
  frontend/app/src/types/websocket-messages.ts
Due: frontend_unit, frontend_integration

Handle beaconchain performance endpoint shenanigans
  rotkehlchen/externalapis/beaconchain.py
Due: backend

docs: update usage guide
  docs/_static/rotkehlchen_docs.css
  docs/images/add_external_service.png
  docs/images/customized_events.png
  docs/images/edit_evm_event.png
  docs/images/event_not_processed.png
  docs/images/events_eth_block_event_form.png
  docs/images/events_eth_deposit_event_form.png
  docs/images/events_eth_withdrawal_event_form.png
  docs/images/events_evm_event_form.png
  docs/images/events_history_event_form.png
  docs/images/events_query_process.png
  docs/images/redecode_all_events.png
  docs/images/redecode_events.png
  docs/images/rotki_create_account.png
  docs/images/rotki_create_account_enable_sync.png
  docs/images/rotki_login_screen.png
  docs/images/rotki_premium_signup_failed.png
  docs/images/sc_accounting_csv_export_settings.png
  docs/images/sc_accounting_custom_rule.png
  docs/images/sc_accounting_settings.png
  docs/usage_guide.rst
Due: none

fix: counterparty not showing in rule conflict
  frontend/app/src/components/helper/DataTable.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleConflictsDialog.vue
  frontend/app/src/composables/blockchain/accounts/index.ts
  frontend/app/src/composables/blockchain/index.ts
  frontend/app/src/utils/collection.ts
Due: frontend_unit, frontend_integration

style: fix highlighting wrong style
  frontend/app/src/components/helper/DataTable.vue
Due: frontend_unit, frontend_integration

fix: update based on the review
  frontend/app/src/composables/blockchain/accounts/index.ts
  frontend/app/src/composables/blockchain/index.ts
Due: frontend_unit, frontend_integration

fix: counterparty not showing in rule conflict (#6915)
  frontend/app/src/components/helper/DataTable.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleConflictsDialog.vue
  frontend/app/src/composables/blockchain/accounts/index.ts
  frontend/app/src/composables/blockchain/index.ts
  frontend/app/src/utils/collection.ts
Due: frontend_unit, frontend_integration

fix: adjust the padding on trades/movements for location details
  frontend/app/src/components/history/deposits-withdrawals/DepositsWithdrawalsContent.vue
  frontend/app/src/components/history/trades/ClosedTrades.vue
Due: frontend_unit, frontend_integration

fix(ExternalLink): add href prop for browser env only
  frontend/app/src/components/helper/ExternalLink.vue
  frontend/app/src/components/helper/ExternalLinkButton.vue
  frontend/app/src/composables/links.ts
Due: frontend_unit, frontend_integration

fix(ExternalLink): add href prop for browser env only (#6917)
  frontend/app/src/components/helper/ExternalLink.vue
  frontend/app/src/components/helper/ExternalLinkButton.vue
  frontend/app/src/composables/links.ts
Due: frontend_unit, frontend_integration

Avoid sending ws message if we have no conflicts
  rotkehlchen/db/updates.py
Due: backend

Fix handling of missing fiat rates
  rotkehlchen/inquirer.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend

style: remove border for append row for better look
  frontend/app/src/components/display/ValidatorDisplay.vue
  frontend/app/src/components/helper/DataTable.vue
Due: frontend_unit, frontend_integration

fix: add blur also to validator display
  frontend/app/src/components/display/ValidatorDisplay.vue
Due: frontend_unit, frontend_integration

style: remove border for append row for better look (#6919)
  frontend/app/src/components/display/ValidatorDisplay.vue
  frontend/app/src/components/helper/DataTable.vue
Due: frontend_unit, frontend_integration

style: fix weird highlight for account balances table
  frontend/app/src/components/AssetBalances.vue
  frontend/app/src/components/accounts/AccountBalanceTable.vue
Due: frontend_unit, frontend_integration

style: fix weird highlight for account balances table (#6921)
  frontend/app/src/components/AssetBalances.vue
  frontend/app/src/components/accounts/AccountBalanceTable.vue
Due: frontend_unit, frontend_integration

docs: update usage guide for history events (#6916)
  docs/_static/rotkehlchen_docs.css
  docs/images/add_external_service.png
  docs/images/customized_events.png
  docs/images/edit_evm_event.png
  docs/images/event_not_processed.png
  docs/images/events_eth_block_event_form.png
  docs/images/events_eth_deposit_event_form.png
  docs/images/events_eth_withdrawal_event_form.png
  docs/images/events_evm_event_form.png
  docs/images/events_history_event_form.png
  docs/images/events_query_process.png
  docs/images/redecode_all_events.png
  docs/images/redecode_events.png
  docs/images/rotki_create_account.png
  docs/images/rotki_create_account_enable_sync.png
  docs/images/rotki_login_screen.png
  docs/images/rotki_premium_signup_failed.png
  docs/images/sc_accounting_csv_export_settings.png
  docs/images/sc_accounting_custom_rule.png
  docs/images/sc_accounting_settings.png
  docs/usage_guide.rst
Due: none

style: fix missing variant
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/status/sync/SyncIndicator.vue
Due: frontend_unit, frontend_integration

feat: add scroll to top button
  frontend/app/src/components/app/AppCore.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
Due: frontend_unit, frontend_integration

binance unsupported asste error handling
  rotkehlchen/data_import/importers/binance.py
Due: backend

uniswap fix
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/uniswap/v3/decoder.py
  rotkehlchen/tests/unit/decoders/test_uniswapv3.py
Due: backend

feat: add scroll to top button (#6922)
  frontend/app/src/components/app/AppCore.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/status/sync/SyncIndicator.vue
Due: frontend_unit, frontend_integration

fix: remove sort for some unsupported column
  frontend/app/src/components/address-book-manager/AddressBookTable.vue
  frontend/app/src/components/price-manager/historic/HistoricPriceContent.vue
Due: frontend_unit, frontend_integration

fix: remove sort for some unsupported column (#6924)
  frontend/app/src/components/address-book-manager/AddressBookTable.vue
  frontend/app/src/components/price-manager/historic/HistoricPriceContent.vue
Due: frontend_unit, frontend_integration

fix: asset conflict
  frontend/app/src/components/status/update/AssetConflictDialog.vue
  frontend/app/src/components/status/update/AssetUpdate.vue
  frontend/app/src/components/status/update/AssetUpdateInlineConfirm.vue
Due: frontend_unit, frontend_integration

fix: improve prices order setting
  frontend/app/src/components/helper/PriceRefresh.vue
  frontend/app/src/components/helper/PrioritizedList.vue
  frontend/app/src/components/helper/PrioritizedListEntry.vue
  frontend/app/src/components/settings/PriceOracleSettings.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/types/settings/prioritized-list-data.ts
  frontend/app/src/types/settings/prioritized-list-id.ts
Due: frontend_unit, frontend_integration

gnosis and base modules in spec
  rotkehlchen.spec
Due: backend

fix: update based on the review
  frontend/app/src/components/helper/TimeframeSelector.vue
  frontend/app/src/components/staking/liquity/LiquityStakingDetails.vue
  frontend/app/src/components/status/update/AssetUpdate.vue
  frontend/app/src/components/status/update/AssetUpdateInlineConfirm.vue
Due: frontend_unit, frontend_integration

fix: asset conflict dialog (#6925)
  frontend/app/src/components/helper/TimeframeSelector.vue
  frontend/app/src/components/staking/liquity/LiquityStakingDetails.vue
  frontend/app/src/components/status/update/AssetConflictDialog.vue
  frontend/app/src/components/status/update/AssetUpdate.vue
  frontend/app/src/components/status/update/AssetUpdateInlineConfirm.vue
Due: frontend_unit, frontend_integration

fix: refresh prices after changing the oracle order (#6926)
  frontend/app/src/components/helper/PriceRefresh.vue
  frontend/app/src/components/helper/PrioritizedList.vue
  frontend/app/src/components/helper/PrioritizedListEntry.vue
  frontend/app/src/components/settings/PriceOracleSettings.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/types/settings/prioritized-list-data.ts
  frontend/app/src/types/settings/prioritized-list-id.ts
Due: frontend_unit, frontend_integration

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
