Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    paths:
      - rotkehlchen
  frontend_unit:
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Introduces setting for kusama rpc node
  frontend/app/src/data/converters.ts
  frontend/app/src/data/defaults.ts
  frontend/app/src/data/factories.ts
  frontend/app/src/locales/en.json
  frontend/app/src/model/action-result.ts
  frontend/app/src/typing/types.ts
  frontend/app/src/views/settings/GeneralSettings.vue
Due: frontend_unit, frontend_integration

Work on adding ignore support on the frontend
  frontend/app/src/components/history/ClosedTrades.vue
  frontend/app/src/views/history/DepositsWithdrawals.vue
  frontend/app/src/views/history/Transactions.vue
Due: frontend_unit, frontend_integration

Introduces the ability to ignore/unignore actions
  frontend/app/src/components/OtcForm.vue
  frontend/app/src/components/history/ClosedTrades.vue
  frontend/app/src/components/history/IgnoreButtons.vue
  frontend/app/src/locales/en.json
  frontend/app/src/services/history/types.d.ts
  frontend/app/src/services/rotkehlchen-api.ts
  frontend/app/src/store/defi/getters.ts
  frontend/app/src/store/history/actions.ts
  frontend/app/src/store/history/consts.ts
  frontend/app/src/store/history/mutations.ts
  frontend/app/src/store/history/types.d.ts
  frontend/app/src/views/history/DepositsWithdrawals.vue
  frontend/app/src/views/history/Transactions.vue
Due: frontend_unit, frontend_integration

Fixes failed e2e tests
  frontend/app/tests/e2e/pages/history-page.ts
Due: frontend_unit, frontend_integration

Fix balances query for users of binance.us
  docs/changelog.rst
  rotkehlchen/exchanges/binance.py
Due: backend

Updates to new response schema for ignore/unignore, trades etc
  frontend/app/src/components/history/ClosedTrades.vue
  frontend/app/src/services/history/types.d.ts
  frontend/app/src/services/rotkehlchen-api.ts
  frontend/app/src/services/types-api.ts
  frontend/app/src/store/history/actions.ts
  frontend/app/src/store/history/consts.ts
  frontend/app/src/store/history/getters.ts
  frontend/app/src/store/history/mutations.ts
  frontend/app/src/store/history/types.d.ts
  frontend/app/src/views/history/DepositsWithdrawals.vue
  frontend/app/src/views/history/TradeHistory.vue
  frontend/app/src/views/history/Transactions.vue
Due: frontend_unit, frontend_integration

Fixes key for transaction ignoring
  frontend/app/src/store/history/actions.ts
  frontend/app/src/views/history/Transactions.vue
Due: frontend_unit, frontend_integration

Fixes edit and delete for ledger actions
  frontend/app/src/locales/en.json
  frontend/app/src/services/history/history-api.ts
  frontend/app/src/store/history/actions.ts
  frontend/app/src/views/history/LedgerActions.vue
Due: frontend_unit, frontend_integration

Fixes trade profit loss name
  frontend/app/src/components/profitloss/ProfitLossOverview.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

Fixes tax report sorting and overview labels
  frontend/app/src/components/profitloss/ProfitLossEvents.vue
  frontend/app/src/components/profitloss/ProfitLossOverview.vue
Due: frontend_unit, frontend_integration

Add periodic querying of exchange trades in the task manager
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/unit/test_tasks_manager.py
Due: backend

Changelog entry for 2015
  docs/changelog.rst
Due: none

Add backend task for periodically querying ethereum transactions
  rotkehlchen/chain/ethereum/transactions.py
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/unit/test_tasks_manager.py
Due: backend

Changelog entry for 968
  docs/changelog.rst
Due: none

frontend: dont reset form if null
  frontend/app/src/components/accounts/BlockchainBalances.vue
Due: frontend_unit, frontend_integration

Bump version: 1.11.0 → 1.12.0
  .bumpversion.cfg
  docs/conf.py
  frontend/app/package-lock.json
  frontend/app/package.json
  setup.py
Due: frontend_unit, frontend_integration

Add release v1.12.0 to the changelog
  docs/changelog.rst
Due: none

Revert "Introduces the ability change to a custom URL for the backend"
  docs/changelog.rst
  frontend/app/src/components/AccountManagement.vue
  frontend/app/src/components/account-management/Login.vue
  frontend/app/src/components/account-management/utils.ts
  frontend/app/src/locales/en.json
  frontend/app/src/store/store.ts
Due: frontend_unit, frontend_integration

Bump version: 1.12.0 → 1.12.1
  .bumpversion.cfg
  docs/conf.py
  frontend/app/package-lock.json
  frontend/app/package.json
  setup.py
Due: frontend_unit, frontend_integration

removed icn token
  rotkehlchen/assets/asset.py
  rotkehlchen/data/all_assets.json
  rotkehlchen/externalapis/coinpaprika.py
  tools/asset_aggregator/timerange_check.py
Due: backend

Add v1.12.1 to the changelog
  docs/changelog.rst
Due: none

Add noop methods for all unimplemented exchange interface methods
  rotkehlchen/exchanges/binance.py
  rotkehlchen/exchanges/bitcoinde.py
  rotkehlchen/exchanges/bitfinex.py
  rotkehlchen/exchanges/bitmex.py
  rotkehlchen/exchanges/bitstamp.py
  rotkehlchen/exchanges/bittrex.py
  rotkehlchen/exchanges/coinbase.py
  rotkehlchen/exchanges/coinbasepro.py
  rotkehlchen/exchanges/exchange.py
  rotkehlchen/exchanges/gemini.py
  rotkehlchen/exchanges/iconomi.py
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/exchanges/poloniex.py
  rotkehlchen/tests/exchanges/test_manager.py
Due: backend

Ignore lgtm missing-call-to-init
  rotkehlchen/exchanges/binance.py
  rotkehlchen/exchanges/bitcoinde.py
  rotkehlchen/exchanges/bitfinex.py
  rotkehlchen/exchanges/bitmex.py
  rotkehlchen/exchanges/bitstamp.py
  rotkehlchen/exchanges/bittrex.py
  rotkehlchen/exchanges/coinbase.py
  rotkehlchen/exchanges/coinbasepro.py
  rotkehlchen/exchanges/exchange.py
  rotkehlchen/exchanges/gemini.py
  rotkehlchen/exchanges/iconomi.py
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/exchanges/poloniex.py
Due: backend

Add changelog entry for 2113
  docs/changelog.rst
Due: none

Never add comma at end of long string. Turns it into a tuple
  rotkehlchen/chain/substrate/manager.py
Due: backend

Something that should never happen is an AssertionError
  rotkehlchen/chain/ethereum/adex/typing.py
  rotkehlchen/chain/substrate/manager.py
  rotkehlchen/exchanges/exchange.py
Due: backend

Substrate Interface init log error and raise handlable exception
  rotkehlchen/chain/substrate/manager.py
Due: backend

Copy all data files for scalecodec when packaging with pyinstaller
  tools/pyinstaller_hooks/hook-scalecodec.py
Due: none

Add changelog for 2116
  docs/changelog.rst
Due: none

Fix IndexError raised in CC historical subsequent queries
  rotkehlchen/externalapis/cryptocompare.py
Due: backend

Show action datetime when editing a LedgerAction
  frontend/app/src/components/history/LedgerActionForm.vue
Due: frontend_unit, frontend_integration

Changelog for 2120
  docs/changelog.rst
Due: none

Bump version: 1.12.1 → 1.12.2
  .bumpversion.cfg
  docs/conf.py
  frontend/app/package-lock.json
  frontend/app/package.json
  setup.py
Due: frontend_unit, frontend_integration

Add v1.12.2 to the changelog
  docs/changelog.rst
Due: none

Update ethereum requirements
  requirements.txt
  requirements_dev.txt
  requirements_lint.txt
  rotkehlchen/chain/ethereum/manager.py
Due: backend

Fix tests
  rotkehlchen/chain/ethereum/manager.py
Due: backend

Exposes dates utils to the premium components
  frontend/app/src/components/dashboard/const.ts
  frontend/app/src/electron-main/ipc.ts
  frontend/app/src/utils/premium.ts
Due: frontend_unit, frontend_integration

Replace web3 getBlock with get_block
  rotkehlchen/chain/ethereum/manager.py
  rotkehlchen/tests/utils/mock.py
Due: backend

Fixes proper display of accounting settings
  frontend/app/src/components/profitloss/AccountingSettingsDisplay.vue
Due: frontend_unit, frontend_integration

Updates changelog
  docs/changelog.rst
Due: none
