Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Finish updating decoders/tests for evm swaps
  rotkehlchen/chain/ethereum/modules/uniswap/v2/common.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/chain/evm/decoding/paraswap/decoder.py
  rotkehlchen/chain/evm/decoding/uniswap/utils.py
  rotkehlchen/chain/evm/decoding/velodrome/decoder.py
  rotkehlchen/tests/unit/decoders/test_paraswap.py
  rotkehlchen/tests/unit/decoders/test_sushiswap.py
  rotkehlchen/tests/unit/decoders/test_uniswapv2.py
  rotkehlchen/tests/unit/decoders/test_velodrome.py
  rotkehlchen/tests/utils/ethereum.py
Due: backend

fix: table filter stuck after delete chip
  docs/changelog.rst
  frontend/app/src/components/table-filter/SuggestedItem.vue
Due: frontend_unit, frontend_integration

refactor: support updated event entry schema
  frontend/app/auto-imports.d.ts
  frontend/app/src/components/history/events/HistoryEventsTable.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/composables/api/history/events/index.ts
  frontend/app/src/composables/history/events/index.ts
  frontend/app/src/composables/use-pagination-filter/index.ts
  frontend/app/src/types/history/events/index.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-transactions.spec.ts
  frontend/app/tests/unit/specs/composables/history/transactions.spec.ts
Due: frontend_unit, frontend_integration

refactor: support updated event entry schema (#9839)
  frontend/app/auto-imports.d.ts
  frontend/app/src/components/history/events/HistoryEventsTable.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/composables/api/history/events/index.ts
  frontend/app/src/composables/history/events/index.ts
  frontend/app/src/composables/use-pagination-filter/index.ts
  frontend/app/src/types/history/events/index.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-transactions.spec.ts
  frontend/app/tests/unit/specs/composables/history/transactions.spec.ts
Due: frontend_unit, frontend_integration

feat: add form to edit or add evm swap events
  frontend/app/src/components/history/events/HistoryEventForm.vue
  frontend/app/src/components/history/events/HistoryEventFormDialog.vue
  frontend/app/src/components/history/events/HistoryEventsAction.vue
  frontend/app/src/components/history/events/HistoryEventsListItemAction.vue
  frontend/app/src/components/history/events/HistoryEventsTable.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/modules/history/events/utils.spec.ts
  frontend/app/src/modules/history/management/forms/AssetMovementEventForm.vue
  frontend/app/src/modules/history/management/forms/EthBlockEventForm.vue
  frontend/app/src/modules/history/management/forms/EthDepositEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/EthDepositEventForm.vue
  frontend/app/src/modules/history/management/forms/EthWithdrawalEventForm.vue
  frontend/app/src/modules/history/management/forms/EvmEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/EvmEventForm.vue
  frontend/app/src/modules/history/management/forms/EvmSwapEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/EvmSwapEventForm.vue
  frontend/app/src/modules/history/management/forms/OnlineHistoryEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/OnlineHistoryEventForm.vue
  frontend/app/src/modules/history/management/forms/SwapEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/SwapEventForm.vue
  frontend/app/src/modules/history/management/forms/common/EventDateLocation.vue
  frontend/app/src/modules/history/management/forms/common/EvmLocation.vue
  frontend/app/src/modules/history/management/forms/form-guards.ts
  frontend/app/src/modules/history/management/forms/form-types.ts
  frontend/app/src/modules/history/management/forms/history-event-form.spec.ts
  frontend/app/src/modules/history/management/forms/swap/SwapEventAssetAmount.vue
  frontend/app/src/modules/history/management/forms/swap/SwapEventFee.vue
  frontend/app/src/modules/history/management/forms/swap/SwapEventNotes.vue
  frontend/app/src/modules/history/management/forms/utils.ts
  frontend/app/src/types/history/events/index.ts
Due: frontend_unit, frontend_integration

feat: add form to edit or add evm swap events (#9835)
  frontend/app/src/components/history/events/HistoryEventForm.vue
  frontend/app/src/components/history/events/HistoryEventFormDialog.vue
  frontend/app/src/components/history/events/HistoryEventsAction.vue
  frontend/app/src/components/history/events/HistoryEventsListItemAction.vue
  frontend/app/src/components/history/events/HistoryEventsTable.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/modules/history/events/utils.spec.ts
  frontend/app/src/modules/history/management/forms/AssetMovementEventForm.vue
  frontend/app/src/modules/history/management/forms/EthBlockEventForm.vue
  frontend/app/src/modules/history/management/forms/EthDepositEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/EthDepositEventForm.vue
  frontend/app/src/modules/history/management/forms/EthWithdrawalEventForm.vue
  frontend/app/src/modules/history/management/forms/EvmEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/EvmEventForm.vue
  frontend/app/src/modules/history/management/forms/EvmSwapEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/EvmSwapEventForm.vue
  frontend/app/src/modules/history/management/forms/OnlineHistoryEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/OnlineHistoryEventForm.vue
  frontend/app/src/modules/history/management/forms/SwapEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/SwapEventForm.vue
  frontend/app/src/modules/history/management/forms/common/EventDateLocation.vue
  frontend/app/src/modules/history/management/forms/common/EvmLocation.vue
  frontend/app/src/modules/history/management/forms/form-guards.ts
  frontend/app/src/modules/history/management/forms/form-types.ts
  frontend/app/src/modules/history/management/forms/history-event-form.spec.ts
  frontend/app/src/modules/history/management/forms/swap/SwapEventAssetAmount.vue
  frontend/app/src/modules/history/management/forms/swap/SwapEventFee.vue
  frontend/app/src/modules/history/management/forms/swap/SwapEventNotes.vue
  frontend/app/src/modules/history/management/forms/utils.ts
  frontend/app/src/types/history/events/index.ts
Due: frontend_unit, frontend_integration

fix: table filter stuck after delete chip (#9838)
  docs/changelog.rst
  frontend/app/src/components/table-filter/SuggestedItem.vue
Due: frontend_unit, frontend_integration

Remove the data integrity check
  rotkehlchen/db/dbhandler.py
  rotkehlchen/rotkehlchen.py
Due: backend

Bump ruff & pyright
  requirements_lint.txt
Due: none

Aav3 v3 ETH deposit v3 gateway fix
  docs/changelog.rst
  rotkehlchen/chain/arbitrum_one/modules/aave/v3/decoder.py
  rotkehlchen/tests/unit/decoders/test_aave_v3.py
Due: backend

Handle CRV mint in L2s
  docs/changelog.rst
  rotkehlchen/chain/arbitrum_one/modules/curve/decoder.py
  rotkehlchen/chain/base/modules/curve/decoder.py
  rotkehlchen/chain/ethereum/modules/curve/decoder.py
  rotkehlchen/chain/evm/decoding/curve/constants.py
  rotkehlchen/chain/evm/decoding/curve/decoder.py
  rotkehlchen/chain/gnosis/modules/curve/decoder.py
  rotkehlchen/chain/optimism/modules/curve/decoder.py
  rotkehlchen/chain/polygon_pos/modules/curve/decoder.py
  rotkehlchen/tests/unit/decoders/test_curve.py
Due: backend

fix: update event csv export confirmation message
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
Due: frontend_unit, frontend_integration

fix: update labels for evm event location label and address and fix suggestions
  frontend/app/src/components/inputs/AutoCompleteWithSearchSync.vue
  frontend/app/src/locales/en.json
  frontend/app/src/locales/fr.json
  frontend/app/src/modules/history/management/forms/EvmEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/EvmEventForm.vue
  frontend/app/src/modules/history/management/forms/EvmSwapEventForm.vue
  frontend/app/src/modules/history/management/forms/common/EvmLocation.vue
Due: frontend_unit, frontend_integration

ensure the order of events for stakedao lp deposits
  rotkehlchen/chain/evm/decoding/stakedao/decoder.py
  rotkehlchen/tests/unit/decoders/test_stakedao.py
Due: backend

fix: ensure query only params are not passed to request
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/composables/history/events/index.ts
  frontend/app/src/composables/use-pagination-filter/index.ts
  frontend/app/tests/unit/specs/composables/accounts/filter-paginate-exchange-balances.spec.ts
  frontend/app/tests/unit/specs/composables/accounts/filter-paginate-nfts.spec.ts
  frontend/app/tests/unit/specs/composables/assets/filter-paginate-assets.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-transactions.spec.ts
Due: frontend_unit, frontend_integration

refactor: pulling some small composables out of history events
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/modules/history/events/use-history-events-auto-fetch.ts
  frontend/app/src/modules/history/events/use-history-events-status.ts
Due: frontend_unit, frontend_integration

fix failing periodic task for pendle yield tokens
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/unit/test_tasks_manager.py
Due: backend

Fix problem with empty event query
  rotkehlchen/api/rest.py
  rotkehlchen/tests/api/test_history_base_entry.py
Due: backend

fix: only allow even addition to existing transactions
  frontend/app/src/components/history/events/HistoryEventForm.vue
  frontend/app/src/modules/history/management/forms/form-guards.ts
  frontend/app/src/modules/history/management/forms/history-event-form.spec.ts
Due: frontend_unit, frontend_integration

feat: bump premium components version to v13
  rotkehlchen/premium/premium.py
Due: backend

Extend EvmSwapEvents to support multi swaps
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/rest_helpers/history_events.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/chain/evm/decoding/odos/common.py
  rotkehlchen/history/events/structures/evm_swap.py
  rotkehlchen/tests/api/test_history_base_entry.py
  rotkehlchen/tests/unit/decoders/test_odos_v2.py
Due: backend

Fix history view filter to show incoming transactions for filtered addresses
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/ethereum/modules/eth2/utils.py
  rotkehlchen/chain/evm/decoding/pendle/utils.py
  rotkehlchen/db/eth2.py
  rotkehlchen/db/filtering.py
  rotkehlchen/tests/api/test_history_base_entry.py
Due: backend

fix: update the mapping cache error message to include more info
  frontend/app/src/components/inputs/AssetSelect.vue
  frontend/app/src/locales/en.json
  frontend/app/src/store/assets/asset-cache.ts
Due: frontend_unit, frontend_integration

fix: update the mapping cache error message to include more info (#9861)
  frontend/app/src/components/inputs/AssetSelect.vue
  frontend/app/src/locales/en.json
  frontend/app/src/store/assets/asset-cache.ts
Due: frontend_unit, frontend_integration

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
