Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Make addressses names multichain
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/ethereum/names.py
  rotkehlchen/db/addressbook.py
  rotkehlchen/serialization/serialize.py
  rotkehlchen/tests/api/test_addressbook.py
  rotkehlchen/tests/unit/test_ethereum_names.py
  rotkehlchen/tests/utils/factories.py
  rotkehlchen/types.py
Due: backend

Test for removing multiple ledger actions
  rotkehlchen/tests/unit/test_ledger_actions.py
Due: backend

Introduces option to add an account on multiple evm-chains
  frontend/app/.eslintrc-auto-import.json
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/accounts/blockchain/XpubInput.vue
  frontend/app/src/components/accounts/management/AccountDialog.vue
  frontend/app/src/components/accounts/management/AccountForm.vue
  frontend/app/src/components/accounts/management/types/AddressAccountForm.vue
  frontend/app/src/components/accounts/management/types/ValidatorAccountForm.vue
  frontend/app/src/components/settings/api-keys/ExchangeKeysForm.vue
  frontend/app/src/composables/api/accounts.ts
  frontend/app/src/composables/api/info/chains.ts
  frontend/app/src/composables/info/chains.ts
  frontend/app/src/locales/en.json
  frontend/app/src/services/converters.ts
  frontend/app/src/store/balances/types.ts
  frontend/app/src/store/blockchain/accounts/btc.ts
  frontend/app/src/store/blockchain/accounts/eth.ts
  frontend/app/src/store/blockchain/accounts/index.ts
  frontend/app/src/store/blockchain/index.ts
  frontend/app/src/types/api/accounts.ts
  frontend/app/src/types/api/chains.ts
  frontend/app/src/types/blockchain/chains.ts
  frontend/app/src/utils/data.ts
  frontend/app/tests/e2e/specs/accounts-balances/blockchain-balances.spec.ts
  frontend/app/tests/unit/utils/data.spec.ts
  frontend/app/vite.config.ts
Due: frontend_unit, frontend_integration

Remove ignored action ids GET api endpoint
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/tests/api/test_ignored_actions.py
Due: backend

Adds wait for prices when adding eth accounts
  frontend/app/tests/e2e/pages/account-balances-page/blockchain-balances-page.ts
  frontend/app/tests/e2e/support/utils.ts
  frontend/app/vite.config.ts
Due: frontend_unit, frontend_integration

Re-enables add exchange test by mocking api response
  frontend/app/tests/e2e/pages/api-keys-page.ts
  frontend/app/tests/e2e/specs/api-keys.spec.ts
  frontend/app/tests/e2e/support/utils.ts
Due: frontend_unit, frontend_integration

Updates cypress
  .github/.env.ci
  .github/workflows/task_e2e_tests.yml
  frontend/app/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

fix en.json typos
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

PUT/DELETE in ignored_actions now depends on action type
  docs/api.rst
  rotkehlchen/accounting/debugimporter/json.py
  rotkehlchen/accounting/structures/base.py
  rotkehlchen/accounting/structures/types.py
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/api/test_exchanges.py
  rotkehlchen/tests/api/test_ignored_actions.py
  rotkehlchen/tests/api/test_ledger_actions.py
  rotkehlchen/tests/api/test_settings.py
  rotkehlchen/tests/api/test_trades.py
  rotkehlchen/tests/unit/accounting/test_settings.py
Due: backend

Improve tests and code in addressbook
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/chain/ethereum/names.py
  rotkehlchen/db/addressbook.py
  rotkehlchen/tests/api/test_addressbook.py
  rotkehlchen/tests/utils/factories.py
Due: backend

Small docs adjustment for explaining swap types
  docs/usage_guide.rst
Due: none

Changes pnpm/cypress caching on GitHub actions
  .github/workflows/rotki_ci.yml
  .github/workflows/rotki_dev_builds.yml
  .github/workflows/rotki_release.yaml
  .github/workflows/task_e2e_tests.yml
Due: none

Bumps minor dependencies
  frontend/app/.eslintrc-auto-import.json
  frontend/app/package.json
  frontend/app/src/auto-imports.d.ts
  frontend/common/package.json
  frontend/dev-proxy/package.json
  frontend/eslint/all/package.json
  frontend/eslint/basic/package.json
  frontend/eslint/prettier/package.json
  frontend/eslint/typescript/package.json
  frontend/eslint/vue/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

Fix transfers between tracked accounts
  docs/changelog.rst
  rotkehlchen/chain/ethereum/decoding/base.py
  rotkehlchen/chain/ethereum/decoding/constants.py
  rotkehlchen/chain/ethereum/decoding/decoder.py
  rotkehlchen/tests/unit/decoders/test_main.py
Due: backend

Generalize basic decoders between EVM chains
  rotkehlchen/chain/ethereum/decoding/constants.py
  rotkehlchen/chain/ethereum/decoding/decoder.py
  rotkehlchen/chain/ethereum/decoding/utils.py
  rotkehlchen/chain/ethereum/modules/airdrops/decoder.py
  rotkehlchen/chain/ethereum/modules/makerdao/decoder.py
  rotkehlchen/chain/evm/decoding/base.py
  rotkehlchen/chain/evm/decoding/constants.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/chain/optimism/decoding/decoder.py
  rotkehlchen/tests/fixtures/blockchain.py
  rotkehlchen/tests/unit/decoders/test_main.py
Due: backend

Add evm chain name to the blockchain endpoint
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/tests/api/test_misc.py
Due: backend

Introduces basic parallelization for e2e tests
  .github/workflows/task_e2e_tests.yml
  frontend/app/cypress.config.ts
  frontend/app/tests/e2e/specs/1/account-creation.spec.ts
  frontend/app/tests/e2e/specs/1/api-keys.spec.ts
  frontend/app/tests/e2e/specs/1/assets.spec.ts
  frontend/app/tests/e2e/specs/1/defi.spec.ts
  frontend/app/tests/e2e/specs/1/settings.spec.ts
  frontend/app/tests/e2e/specs/2/accounts-balances/blockchain-balances.spec.ts
  frontend/app/tests/e2e/specs/2/accounts-balances/manual-balances.spec.ts
  frontend/app/tests/e2e/specs/2/history/ledger-actions.spec.ts
  frontend/app/tests/e2e/specs/2/history/trade-history.spec.ts
Due: frontend_unit, frontend_integration

feat: adjust evm transactions frontend
  frontend/app/src/components/accounts/management/AccountDialog.vue
  frontend/app/src/components/accounts/management/types/AddressAccountForm.vue
  frontend/app/src/components/accounts/management/types/ValidatorAccountForm.vue
  frontend/app/src/components/accounts/management/types/XpubAccountForm.vue
  frontend/app/src/components/asset-manager/ManagedAssetForm.vue
  frontend/app/src/components/asset-manager/UnderlyingTokenManager.vue
  frontend/app/src/components/display/AccountDisplay.vue
  frontend/app/src/components/helper/BlockchainAccountSelector.vue
  frontend/app/src/components/helper/display/icons/AssetIcon.vue
  frontend/app/src/components/helper/display/icons/EvmChainIcon.vue
  frontend/app/src/components/history/transactions/TransactionContent.vue
  frontend/app/src/components/staking/LiquityPage.vue
  frontend/app/src/composables/accounts/dialog.ts
  frontend/app/src/composables/accounts/loading.ts
  frontend/app/src/composables/filters/transactions.ts
  frontend/app/src/composables/info/chains.ts
  frontend/app/src/locales/en.json
  frontend/app/src/locales/gr.json
  frontend/app/src/services/assets/consts.ts
  frontend/app/src/services/history/transactions.ts
  frontend/app/src/store/defi/liquity/index.ts
  frontend/app/src/store/history/transactions.ts
  frontend/app/src/types/api/chains.ts
  frontend/app/src/types/blockchain/chains.ts
  frontend/app/src/types/history/tx.ts
Due: frontend_unit, frontend_integration

Handle errors when querying missing receipts
  rotkehlchen/chain/evm/transactions.py
Due: backend

Ensure order of the events in uni v3
  rotkehlchen/chain/ethereum/modules/uniswap/v3/decoder.py
  rotkehlchen/tests/unit/decoders/test_uniswapv3.py
Due: backend

Fix missing chain param while querying transactions
  rotkehlchen/chain/evm/transactions.py
  rotkehlchen/db/addressbook.py
  rotkehlchen/tests/unit/test_evm_tx_decoding.py
Due: backend

Add accept_docker_risk boolean in info endpoint
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/tests/api/test_misc.py
Due: backend

Introduces a script and simplifies e2e start command
  frontend/app/package.json
  frontend/app/scripts/e2e.js
Due: frontend_unit, frontend_integration

Check that evm-chain supports querying transactions
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
