Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Check tx_hash for existance before adding/editing
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/tests/api/test_history_base_entry.py
Due: backend

style: swap events animation and layout
  frontend/app/src/components/history/events/HistoryEventAsset.vue
  frontend/app/src/components/history/events/HistoryEventNote.vue
  frontend/app/src/components/history/events/HistoryEventsList.vue
  frontend/app/src/components/history/events/HistoryEventsListItem.vue
  frontend/app/src/components/history/events/HistoryEventsListItemAction.vue
  frontend/app/src/components/history/events/HistoryEventsListSwap.vue
  frontend/app/src/components/history/events/HistoryEventsListTable.vue
  frontend/app/src/components/history/events/HistoryEventsTable.vue
  frontend/app/src/locales/en.json
  frontend/app/src/modules/common/links/HashLink.vue
  frontend/app/src/modules/history/events/utils.spec.ts
  frontend/app/src/modules/history/events/utils.ts
  frontend/app/src/modules/history/management/forms/form-guards.ts
  frontend/app/src/utils/assets.ts
  frontend/app/tailwind.config.js
Due: frontend_unit, frontend_integration

decode gearbox rewards claim
  docs/changelog.rst
  rotkehlchen/chain/arbitrum_one/modules/gearbox/balances.py
  rotkehlchen/chain/arbitrum_one/modules/gearbox/constants.py
  rotkehlchen/chain/arbitrum_one/modules/gearbox/decoder.py
  rotkehlchen/chain/ethereum/modules/gearbox/balances.py
  rotkehlchen/chain/ethereum/modules/gearbox/constants.py
  rotkehlchen/chain/ethereum/modules/gearbox/decoder.py
  rotkehlchen/chain/evm/decoding/gearbox/balances.py
  rotkehlchen/chain/evm/decoding/gearbox/constants.py
  rotkehlchen/chain/evm/decoding/gearbox/decoder.py
  rotkehlchen/chain/optimism/modules/gearbox/balances.py
  rotkehlchen/chain/optimism/modules/gearbox/constants.py
  rotkehlchen/chain/optimism/modules/gearbox/decoder.py
  rotkehlchen/tests/unit/decoders/test_gearbox.py
  rotkehlchen/tests/unit/test_protocol_balances.py
Due: backend

improve events export timestamp and filename
  frontend/app/src/composables/api/history/events/index.ts
  rotkehlchen/accounting/export/csv.py
  rotkehlchen/api/rest.py
  rotkehlchen/history/events/structures/base.py
  rotkehlchen/history/events/utils.py
  rotkehlchen/tests/api/test_history_events_export.py
Due: backend, frontend_unit, frontend_integration

Remove etherscan old api
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/arbitrum_one/etherscan.py
  rotkehlchen/chain/base/etherscan.py
  rotkehlchen/chain/binance_sc/etherscan.py
  rotkehlchen/chain/ethereum/etherscan.py
  rotkehlchen/chain/evm/l2_with_l1_fees/etherscan.py
  rotkehlchen/chain/gnosis/etherscan.py
  rotkehlchen/chain/optimism/etherscan.py
  rotkehlchen/chain/polygon_pos/etherscan.py
  rotkehlchen/chain/scroll/etherscan.py
  rotkehlchen/db/settings.py
  rotkehlchen/externalapis/etherscan.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/api/test_settings.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/unit/decoders/test_arbitrum_one.py
  rotkehlchen/tests/unit/decoders/test_eigenlayer.py
  rotkehlchen/tests/unit/decoders/test_hop.py
  rotkehlchen/tests/unit/decoders/test_juicebox.py
Due: backend

Adjust tests
  rotkehlchen/tests/api/test_settings.py
  rotkehlchen/tests/api/test_uniswap.py
  rotkehlchen/tests/data/pnl_debug.json
  rotkehlchen/tests/unit/decoders/test_arbitrum_one.py
  rotkehlchen/tests/unit/decoders/test_zerox.py
  rotkehlchen/tests/unit/test_blockchain_balances.py
  rotkehlchen/tests/unit/test_evm_tx_decoding.py
  rotkehlchen/tests/unit/test_inquirer.py
  rotkehlchen/tests/unit/test_makerdao.py
  rotkehlchen/tests/utils/blockchain.py
Due: backend

Adjust fee taken for cowswap
  rotkehlchen/externalapis/cowswap.py
Due: backend

fix(frontend): adjust etherscan v2
  frontend/app/shared/external-links.ts
  frontend/app/src/components/accounts/management/AccountForm.vue
  frontend/app/src/components/accounts/management/AccountFormEtherscanAlert.vue
  frontend/app/src/components/nft/NftGallery.vue
  frontend/app/src/components/settings/api-keys/ServiceKeyCard.vue
  frontend/app/src/components/settings/api-keys/external/EtherscanApiKey.vue
  frontend/app/src/components/settings/api-keys/external/EtherscanApiKeys.vue
  frontend/app/src/components/settings/api-keys/external/GnosisPayAuth.vue
  frontend/app/src/components/settings/api-keys/external/OpenSeaApiKey.vue
  frontend/app/src/components/settings/api-keys/external/TheGraphApiKey.vue
  frontend/app/src/composables/message-handling/index.ts
  frontend/app/src/composables/message-handling/missing-api-key.ts
  frontend/app/src/composables/settings/api-keys/external/index.ts
  frontend/app/src/data/factories.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/api-keys/external/index.vue
  frontend/app/src/store/settings/general.ts
  frontend/app/src/types/external.ts
  frontend/app/src/types/user.ts
  frontend/app/src/utils/url.ts
  frontend/app/tests/unit/specs/components/settings/api-keys/external-services.spec.ts
Due: frontend_unit, frontend_integration

Correctly decode curve single token withdraw
  docs/changelog.rst
  rotkehlchen/chain/evm/decoding/curve/constants.py
  rotkehlchen/tests/unit/decoders/test_curve.py
Due: backend

Improve evm swap add/edit schema
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/rest_helpers/history_events.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/tests/api/test_history_base_entry.py
Due: backend

fix: use js function to get filename
  frontend/app/src/components/settings/data-security/backups/BackupManager.vue
  frontend/app/src/components/settings/data-security/backups/DatabaseBackups.vue
  frontend/app/src/composables/api/history/events/index.ts
  frontend/app/src/utils/backups.ts
  frontend/app/src/utils/file.ts
  rotkehlchen/api/rest.py
  rotkehlchen/history/events/utils.py
  rotkehlchen/tests/api/test_history_events_export.py
Due: backend, frontend_unit, frontend_integration

feat(frontend): delete multiple validators
  docs/changelog.rst
  frontend/app/src/components/accounts/EthStakingValidators.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetTable.vue
  frontend/app/src/composables/accounts/blockchain/use-account-delete.ts
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

decode stakedao claims
  rotkehlchen/chain/evm/decoding/stakedao/constants.py
  rotkehlchen/chain/evm/decoding/stakedao/decoder.py
  rotkehlchen/tests/unit/decoders/test_stakedao.py
Due: backend

Make account labels multichain in auto-detection
  docs/changelog.rst
  rotkehlchen/chain/aggregator.py
  rotkehlchen/db/addressbook.py
  rotkehlchen/tests/unit/test_chains_aggregator.py
Due: backend

Exclude scrvUSD from yearn decoding
  rotkehlchen/chain/ethereum/modules/curve/savings/constants.py
  rotkehlchen/chain/ethereum/modules/curve/savings/decoder.py
  rotkehlchen/chain/ethereum/modules/yearn/decoder.py
  rotkehlchen/tests/unit/decoders/test_curve_savings.py
Due: backend

improve historical price queries for events export
  rotkehlchen/api/rest.py
  rotkehlchen/history/price.py
  rotkehlchen/tests/api/test_historical_assets_price.py
  rotkehlchen/tests/api/test_history_events_export.py
Due: backend

stakedao gauge price manual calculation
  rotkehlchen/chain/evm/decoding/stakedao/utils.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend

fix: remove coingecko and cryptocompare checkbox
  frontend/app/src/components/asset-manager/managed/ManagedAssetForm.vue
  frontend/app/src/components/settings/api-keys/external/EtherscanApiKey.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/types/websocket-messages.ts
Due: frontend_unit, frontend_integration

Bump ruff to 0.11.8
  requirements_lint.txt
Due: none

Update colibri dependencies
  colibri/Cargo.lock
  colibri/Cargo.toml
Due: none
