Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Bump version: 1.43.2 → 1.44.0 (#12971)
  .bumpversion.cfg
  Cargo.lock
  Cargo.toml
  docs/changelog.rst
  docs/conf.py
  frontend/app/package.json
  pyproject.toml
Due: frontend_unit, frontend_integration

fix(wallet): stop resolving unknown chains to ethereum
  frontend/app/src/modules/wallet/send/TradeSendCard.spec.ts
  frontend/app/src/modules/wallet/send/TradeSendCard.vue
  frontend/app/src/modules/wallet/send/use-trade-network-match.spec.ts
  frontend/app/src/modules/wallet/send/use-trade-network-match.ts
  frontend/app/src/modules/wallet/use-transaction-manager.ts
  frontend/app/src/modules/wallet/use-wallet-helper.spec.ts
  frontend/app/src/modules/wallet/use-wallet-helper.ts
  frontend/app/src/modules/wallet/use-wallet-store.ts
Due: frontend_unit, frontend_integration

test(wallet): cover the changed lines in the chain rework
  frontend/app/src/modules/wallet/bridge/use-injected-wallet.spec.ts
  frontend/app/src/modules/wallet/send/use-trade-network-match.spec.ts
  frontend/app/src/modules/wallet/send/use-trade-network-match.ts
  frontend/app/src/modules/wallet/use-transaction-manager.spec.ts
Due: frontend_unit, frontend_integration

feat(wallet): derive send chains from the backend
  frontend/app/src/modules/wallet/bridge/use-injected-wallet.spec.ts
  frontend/app/src/modules/wallet/bridge/use-injected-wallet.ts
  frontend/app/src/modules/wallet/chains-viem.spec.ts
  frontend/app/src/modules/wallet/chains-viem.ts
  frontend/app/src/modules/wallet/constants.ts
  frontend/app/src/modules/wallet/send/TradeSendCard.spec.ts
  frontend/app/src/modules/wallet/send/TradeSendCard.vue
  frontend/app/src/modules/wallet/send/use-trade-gas-estimation.spec.ts
  frontend/app/src/modules/wallet/send/use-trade-gas-estimation.ts
  frontend/app/src/modules/wallet/use-wallet-chains.spec.ts
  frontend/app/src/modules/wallet/use-wallet-chains.ts
  frontend/app/src/modules/wallet/use-wallet-connect.spec.ts
  frontend/app/src/modules/wallet/use-wallet-connect.ts
  frontend/app/src/modules/wallet/use-wallet-helper.spec.ts
  frontend/app/src/modules/wallet/use-wallet-helper.ts
  frontend/app/src/modules/wallet/use-wallet-store.spec.ts
  frontend/app/src/modules/wallet/use-wallet-store.ts
Due: frontend_unit, frontend_integration

test(e2e): wait for the saved event, not a count
  frontend/app/src/modules/history/IgnoredInAccountingIcon.vue
  frontend/app/tests/e2e/pages/history-event-rows.ts
  frontend/app/tests/e2e/pages/history-events-page.ts
  frontend/app/tests/e2e/specs/history/history-events.spec.ts
Due: frontend_unit, frontend_integration

fix(staking): correct staked total when filtering
  frontend/app/src/modules/accounts/api/use-blockchain-accounts-api.ts
  frontend/app/src/modules/staking/eth/use-eth-validator-management.spec.ts
  frontend/app/src/modules/staking/eth/use-eth-validator-management.ts
Due: frontend_unit, frontend_integration

feat(staking): show optional API key in a popover
  frontend/app/src/locales/en.json
  frontend/app/src/modules/accounts/management/AccountFormApiKeyMenu.spec.ts
  frontend/app/src/modules/accounts/management/AccountFormApiKeyMenu.vue
  frontend/app/src/modules/settings/settings-registry-frontend.ts
  frontend/app/src/modules/settings/settings-repo.spec.ts
  frontend/app/src/modules/settings/types/frontend-settings.ts
  frontend/app/src/modules/settings/types/user-settings.spec.ts
  frontend/app/src/modules/staking/eth/EthStakingPage.vue
Due: frontend_unit, frontend_integration

Fix the ETH staking total when filtering (#12974)
  frontend/app/src/locales/en.json
  frontend/app/src/modules/accounts/api/use-blockchain-accounts-api.ts
  frontend/app/src/modules/accounts/management/AccountFormApiKeyMenu.spec.ts
  frontend/app/src/modules/accounts/management/AccountFormApiKeyMenu.vue
  frontend/app/src/modules/settings/settings-registry-frontend.ts
  frontend/app/src/modules/settings/settings-repo.spec.ts
  frontend/app/src/modules/settings/types/frontend-settings.ts
  frontend/app/src/modules/settings/types/user-settings.spec.ts
  frontend/app/src/modules/staking/eth/EthStakingPage.vue
  frontend/app/src/modules/staking/eth/use-eth-validator-management.spec.ts
  frontend/app/src/modules/staking/eth/use-eth-validator-management.ts
Due: frontend_unit, frontend_integration

feat: structured bridge data for monerium legs
  rotkehlchen/api/services/history.py
  rotkehlchen/api/services/integrations.py
  rotkehlchen/chain/evm/decoding/utils.py
  rotkehlchen/externalapis/monerium.py
  rotkehlchen/tests/api/test_external_services.py
  rotkehlchen/tests/api/test_query_online_events.py
  rotkehlchen/tests/external_apis/test_monerium.py
  rotkehlchen/tests/unit/events/test_match_bridge_transactions.py
Due: backend

fix(notifications): group the monerium auth flow
  frontend/app/src/modules/core/messaging/handlers/monerium-session.spec.ts
  frontend/app/src/modules/core/messaging/handlers/monerium-session.ts
  frontend/app/src/modules/core/notifications/use-notification-cooldown.spec.ts
  frontend/app/src/modules/core/notifications/use-notification-cooldown.ts
  frontend/app/src/modules/integrations/monerium/MoneriumAuth.spec.ts
  frontend/app/src/modules/integrations/monerium/MoneriumAuth.vue
  frontend/common/src/messages/index.ts
Due: frontend_unit, frontend_integration

fix: match xdai bridge legs by logged nonce
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/xdai_bridge/decoder.py
  rotkehlchen/chain/evm/decoding/xdai_bridge/decoder.py
  rotkehlchen/tests/unit/decoders/test_xdai_bridge.py
  rotkehlchen/tests/unit/events/test_match_bridge_transactions.py
Due: backend

feat(gnosis-pay): explain the wallet domain warning
  frontend/app/src/locales/en.json
  frontend/app/src/modules/integrations/gnosis-pay/components/GnosisPayAuth.vue
  frontend/app/src/modules/integrations/gnosis-pay/components/GnosisPaySignMessage.spec.ts
  frontend/app/src/modules/integrations/gnosis-pay/components/GnosisPaySignMessage.vue
Due: frontend_unit, frontend_integration

fix(gnosis-pay): use a bare authority as the SIWE domain
  frontend/app/src/modules/integrations/gnosis-pay/use-gnosis-pay-signing.spec.ts
  frontend/app/src/modules/integrations/gnosis-pay/use-gnosis-pay-signing.ts
Due: frontend_unit, frontend_integration

fix: match zksync lite bridge legs with their ethereum leg
  docs/changelog.rst
  rotkehlchen/chain/zksync_lite/manager.py
  rotkehlchen/db/upgrades/v52_v53.py
  rotkehlchen/tests/api/test_evmlike.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/unit/events/test_match_bridge_transactions.py
Due: backend

Improve logs for colibri
  colibri/src/icons.rs
  colibri/src/logging.rs
  docs/changelog.rst
Due: none

Improve logs for colibri (#12978)
  colibri/src/icons.rs
  colibri/src/logging.rs
  docs/changelog.rst
Due: none

fix(dashboard): skeleton the net worth on first load
  frontend/app/src/modules/dashboard/OverallBalances.spec.ts
  frontend/app/src/modules/dashboard/OverallBalances.vue
  frontend/app/src/modules/dashboard/use-net-worth-loading.spec.ts
  frontend/app/src/modules/dashboard/use-net-worth-loading.ts
Due: frontend_unit, frontend_integration

fix: match zksync lite exits via their payout
  rotkehlchen/tasks/bridges.py
  rotkehlchen/tasks/historical_balances.py
  rotkehlchen/tests/unit/events/test_match_bridge_transactions.py
Due: backend

fix: decode zksync lite legacy withdrawal event
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/zksync/decoder.py
  rotkehlchen/tests/unit/decoders/test_xdai_bridge.py
  rotkehlchen/tests/unit/decoders/test_zksync.py
Due: backend

fix(balances): don't show values before their prices
  frontend/app/src/modules/assets/AssetLocations.vue
  frontend/app/src/modules/assets/prices/use-price-utils.spec.ts
  frontend/app/src/modules/assets/prices/use-price-utils.ts
  frontend/app/src/modules/balances/AssetBalances.vue
  frontend/app/src/modules/balances/blockchain/use-blockchain-total-summary.spec.ts
  frontend/app/src/modules/balances/blockchain/use-blockchain-total-summary.ts
  frontend/app/src/modules/balances/value-pending.spec.ts
  frontend/app/src/modules/balances/value-pending.ts
  frontend/app/src/modules/dashboard/DashboardAssetTable.spec.ts
  frontend/app/src/modules/dashboard/DashboardAssetTable.vue
Due: frontend_unit, frontend_integration

fix(gnosis-pay): clear expiry warning on re-auth
  frontend/app/src/modules/integrations/gnosis-pay/use-gnosis-pay-signing.spec.ts
  frontend/app/src/modules/integrations/gnosis-pay/use-gnosis-pay-signing.ts
Due: frontend_unit, frontend_integration

ci(release): pin the latest-mac merge script deps
  .github/scripts/package.json
  .github/scripts/pnpm-lock.yaml
  .github/scripts/pnpm-workspace.yaml
  .github/workflows/rotki_release.yaml
Due: none

ci(release): grant docker-merge artifact-metadata
  .github/workflows/rotki_release.yaml
Due: none

ci(release): validate merge-latest.mjs inputs
  .github/scripts/merge-latest.mjs
Due: none

ci(release): move merge-latest.mjs to js-yaml 5
  .github/scripts/merge-latest.mjs
  .github/scripts/package.json
  .github/scripts/pnpm-lock.yaml
Due: none
