Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Delete data for evmlike address at address removal
  rotkehlchen/api/rest.py
  rotkehlchen/chain/balances.py
  rotkehlchen/chain/constants.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tests/api/test_evmlike.py
  rotkehlchen/types.py
Due: backend

VCR api test_ethereum_tokens_detection
  rotkehlchen/tests/api/test_balances.py
Due: backend

Make DSR proxy token detection deterministic and VCR test
  rotkehlchen/chain/ethereum/tokens.py
  rotkehlchen/tests/unit/test_inquirer.py
  rotkehlchen/tests/unit/test_tokens.py
Due: backend

ZKSyncLite code organization: No longer an ethereum submodule
  rotkehlchen/api/rest.py
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/ethereum/modules/__init__.py
  rotkehlchen/chain/zksync_lite/__init__.py
  rotkehlchen/chain/zksync_lite/constants.py
  rotkehlchen/chain/zksync_lite/manager.py
  rotkehlchen/chain/zksync_lite/structures.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/api/test_evmlike.py
  rotkehlchen/tests/fixtures/blockchain.py
  rotkehlchen/tests/integration/test_zksynclite.py
  rotkehlchen/types.py
Due: backend

Fix Arbitrum One bridge directions for L2 events
  rotkehlchen/chain/arbitrum_one/modules/arbitrum_one_bridge/decoder.py
  rotkehlchen/tests/unit/decoders/test_arbitrum_one_bridge.py
Due: backend

Upgrade evmchains_to_skip_detection to be saved as chains
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/chain/accounts.py
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/balances.py
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/data_migrations/utils.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/evmtx.py
  rotkehlchen/db/settings.py
  rotkehlchen/db/upgrades/v41_v42.py
  rotkehlchen/externalapis/etherscan.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/data/v41_rotkehlchen.db
  rotkehlchen/tests/data_migrations/test_migrations.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/db/test_utils.py
  rotkehlchen/tests/utils/blockchain.py
  rotkehlchen/types.py
Due: backend

Updated docstrings to reflect deposit/withdraw direction
  rotkehlchen/chain/arbitrum_one/modules/arbitrum_one_bridge/decoder.py
Due: backend

fix: account display props
  frontend/app/src/components/defi/loan/loans/MakerDaoVaultLoan.vue
  frontend/app/src/components/helper/BlockchainAccountSelector.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
Due: frontend_unit, frontend_integration

fix: account display props (#7694)
  frontend/app/src/components/defi/loan/loans/MakerDaoVaultLoan.vue
  frontend/app/src/components/helper/BlockchainAccountSelector.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
Due: frontend_unit, frontend_integration

Auto-detect activity for EVM addresses in zksync lite
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/fields.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/accounts.py
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/zksync_lite/manager.py
  rotkehlchen/data_migrations/utils.py
  rotkehlchen/db/settings.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/api/blockchain/test_evm.py
  rotkehlchen/tests/utils/blockchain.py
  rotkehlchen/types.py
Due: backend

Adjust types/structures for Evmlike
  rotkehlchen/api/v1/fields.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/evm/names.py
  rotkehlchen/chain/zksync_lite/manager.py
  rotkehlchen/db/settings.py
  rotkehlchen/tests/integration/test_zksynclite.py
  rotkehlchen/tests/unit/test_zerionsdk.py
  rotkehlchen/types.py
Due: backend

refactor(frontend): adjust airdrops, add more filters and show notification for available
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/defi/airdrops/index.vue
  frontend/app/src/types/defi/airdrops.ts
Due: frontend_unit, frontend_integration

refactor(frontend): adjust airdrops, add available status
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/defi/airdrops/index.vue
  frontend/app/src/types/defi/airdrops.ts
Due: frontend_unit, frontend_integration

Fix EvmLike Transaction query/refresh schema
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/evm/types.py
  rotkehlchen/tests/api/test_evmlike.py
Due: backend

Feat (API): Allow sorting in addressbook
  docs/api.rst
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/filtering.py
  rotkehlchen/tests/api/test_addressbook.py
Due: backend

Request evlike transaction redecoding by tx_hash
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/api/v1/types.py
  rotkehlchen/chain/zksync_lite/manager.py
  rotkehlchen/tests/api/test_evmlike.py
Due: backend

Fix some errors in EVMLike api
  rotkehlchen/accounting/export/csv.py
  rotkehlchen/accounting/structures/processed_event.py
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/tests/api/test_evmlike.py
  rotkehlchen/types.py
Due: backend

refactor(frontend): replace vselect in addressbook form with menu select from lib
  frontend/app/src/components/address-book-manager/AddressBookForm.vue
  frontend/app/src/components/address-book-manager/AddressBookTable.vue
  frontend/app/src/locales/fr.json
  frontend/app/src/types/common.ts
Due: frontend_unit, frontend_integration

chore: fix failing tests
  frontend/app/tests/e2e/pages/assets-manager-page.ts
  frontend/app/tests/e2e/pages/history-page/trade-history-page.ts
  frontend/app/tests/e2e/specs/history/trade-history.spec.ts
Due: frontend_unit, frontend_integration

chore: fix failing tests
  frontend/app/tests/unit/specs/components/history/events/eth-block-event-form.spec.ts
  frontend/app/tests/unit/specs/components/history/events/eth-deposit-event-form.spec.ts
  frontend/app/tests/unit/specs/components/history/events/eth-withdrawal-event-form.spec.ts
  frontend/app/tests/unit/specs/components/history/events/evm-event-form.spec.ts
  frontend/app/tests/unit/specs/components/history/events/online-history-event-form.spec.ts
  frontend/app/tests/unit/specs/components/history/trades/external-trade-form.spec.ts
Due: frontend_unit, frontend_integration

chore(frontend): bump library version
  frontend/app/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

refactor(frontend): replace vselect in managed assets form with menu select from lib
  frontend/app/src/components/asset-manager/managed/ManagedAssetForm.vue
  frontend/app/src/types/api/chains.ts
  frontend/app/src/types/blockchain/chains.ts
Due: frontend_unit, frontend_integration

refactor(frontend): replace vselect in csv import form with menu select from lib
  frontend/app/src/components/import/GroupedImport.vue
  frontend/app/src/types/upload-types.ts
Due: frontend_unit, frontend_integration

chore(frontend): fix space from comment on last PR
  frontend/app/src/components/history/events/HistoryEventsList.vue
  frontend/app/src/components/history/events/HistoryEventsListTable.vue
Due: frontend_unit, frontend_integration

feat(frontend): add sorting by name and address for address book
  frontend/app/src/components/address-book-manager/AddressBookManagement.vue
  frontend/app/src/components/address-book-manager/AddressBookTable.vue
  frontend/app/src/composables/api/blockchain/addresses-names.ts
Due: frontend_unit, frontend_integration

chore: update changelog
  docs/changelog.rst
Due: none

chore(frontend): remove writeable computed refs
  frontend/app/src/components/address-book-manager/AddressBookForm.vue
  frontend/app/src/components/address-book-manager/AddressBookTable.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetForm.vue
Due: frontend_unit, frontend_integration

feat(frontend): add sorting by name and address for address book (#7700)
  docs/changelog.rst
  frontend/app/src/components/address-book-manager/AddressBookManagement.vue
  frontend/app/src/components/address-book-manager/AddressBookTable.vue
  frontend/app/src/composables/api/blockchain/addresses-names.ts
Due: frontend_unit, frontend_integration

Implement ZKSync Full exit transaction pulling and decoding
  rotkehlchen/chain/zksync_lite/manager.py
  rotkehlchen/chain/zksync_lite/structures.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v41_v42.py
  rotkehlchen/tests/api/test_evmlike.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/integration/test_zksynclite.py
Due: backend

VCR test_get_transaction_receipt
  rotkehlchen/tests/unit/test_ethereum_inquirer.py
  rotkehlchen/tests/utils/ethereum.py
Due: backend
