Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

fix(binance): avoid query all binance pairs
  frontend/app/src/components/helper/BinancePairsSelector.vue
  frontend/app/src/components/settings/api-keys/exchange/ExchangeKeysForm.vue
  frontend/app/src/modules/onchain/use-transaction-manager.ts
Due: frontend_unit, frontend_integration

feat(frontend): force binance market pairs
  docs/changelog.rst
  frontend/app/src/components/settings/api-keys/exchange/ExchangeKeysForm.vue
  frontend/app/src/components/settings/api-keys/exchange/ExchangeKeysFormDialog.vue
  frontend/app/src/composables/message-handling/binance-pairs-missing.ts
  frontend/app/src/composables/message-handling/index.ts
  frontend/app/src/locales/en.json
  frontend/app/src/modules/balances/exchanges/use-exchanges.ts
  frontend/app/src/pages/api-keys/exchanges/index.vue
  frontend/app/src/types/websocket-messages/base.ts
  frontend/app/src/types/websocket-messages/messages.ts
  frontend/app/src/types/websocket-messages/notifications.ts
Due: frontend_unit, frontend_integration

Remove the fetchall of the cursor for 5432
  rotkehlchen/db/drivers/gevent.py
Due: backend

Improve the ignored_assets query in get_tokens_for_address
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/drivers/gevent.py
Due: backend

chore: add simple windows signing script
  packaging/simple-sign.ps1
Due: none

fix: add retry with backoff, and alert information
  frontend/app/src/components/helper/BinancePairsSelector.vue
  frontend/app/src/components/settings/api-keys/exchange/ExchangeKeysForm.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

fix: hide premium devices under dev flag
  frontend/app/src/pages/api-keys/premium/index.vue
Due: frontend_unit, frontend_integration

add false-positives to the exclusion list
  rotkehlchen/tests/unit/test_assets.py
Due: backend

fix: some improvement to onchain send
  frontend/app/src/composables/history/events/tx/use-refresh-transactions.ts
  frontend/app/src/modules/onchain/send/TradeSendCard.vue
Due: frontend_unit, frontend_integration

fix: failed to save global notes
  frontend/app/src/composables/api/session/user-notes.ts
Due: frontend_unit, frontend_integration

fix: failed to save global notes (#10410)
  frontend/app/src/composables/api/session/user-notes.ts
Due: frontend_unit, frontend_integration

feat: enable wallet connect on non packaged version
  frontend/app/src/modules/onchain/send/TradeSendCard.vue
Due: frontend_unit, frontend_integration

set protocol spark savings vault tokens
  rotkehlchen/chain/evm/decoding/base.py
  rotkehlchen/chain/evm/decoding/spark/savings/decoder.py
  rotkehlchen/tests/unit/decoders/test_spark.py
Due: backend

Use special string for global user notes location
  docs/api.rst
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/upgrades/v48_v49.py
  rotkehlchen/tests/data/v48_rotkehlchen.db
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

Adjust global notes location value in frontend
  frontend/app/src/components/notes/UserNotesList.vue
  frontend/app/src/components/notes/UserNotesSidebar.vue
  frontend/app/src/types/notes.ts
Due: frontend_unit, frontend_integration

fix: addressbook address filter
  frontend/app/src/components/address-book-manager/AddressBookManagement.vue
  frontend/app/src/components/table-filter/SuggestedItem.vue
  frontend/app/src/composables/filters/address-book.ts
Due: frontend_unit, frontend_integration

Adjust global notes location value in frontend (#10414)
  frontend/app/src/components/notes/UserNotesList.vue
  frontend/app/src/components/notes/UserNotesSidebar.vue
  frontend/app/src/types/notes.ts
Due: frontend_unit, frontend_integration

Bump linting
  pyproject.toml
  uv.lock
Due: none

fix: debounce asset search in dashboard table
  frontend/app/src/components/dashboard/DashboardAssetTable.vue
Due: frontend_unit, frontend_integration

Do not use hardcoded EvmToken
  rotkehlchen/chain/ethereum/modules/gitcoin/decoder.py
  rotkehlchen/constants/assets.py
Due: backend

Avoid crash on conflict while fixing swaps
  rotkehlchen/data_migrations/migrations/migration_20.py
Due: backend

Fix decoding of morpho beefy vault deposits
  rotkehlchen/chain/evm/decoding/morpho/decoder.py
  rotkehlchen/tests/unit/decoders/test_beefy_finance.py
Due: backend

fix: allow excess item cache on the same batch
  frontend/app/src/components/dashboard/DashboardAssetTable.vue
  frontend/app/src/composables/item-cache.ts
  frontend/app/src/store/assets/asset-cache.spec.ts
Due: frontend_unit, frontend_integration

fix: wording for refresh particular exchange balances
  frontend/app/src/locales/en.json
  frontend/app/src/pages/balances/exchange/[[exchange]].vue
Due: frontend_unit, frontend_integration

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
