Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Use Final on db setting defaults
  rotkehlchen/db/settings.py
Due: backend

Add unmatched asset movement list endpoint
  docs/api.rst
  docs/dev_changelog.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/tasks/events.py
  rotkehlchen/tests/api/test_event_matching.py
Due: backend

Send WS message with unmatched asset movement count
  docs/websockets.rst
  rotkehlchen/api/websockets/typedefs.py
  rotkehlchen/tasks/events.py
  rotkehlchen/tests/unit/events/test_match_asset_movements.py
Due: backend

Refactor blockscout to use a single instance
  rotkehlchen/chain/arbitrum_one/node_inquirer.py
  rotkehlchen/chain/base/node_inquirer.py
  rotkehlchen/chain/binance_sc/node_inquirer.py
  rotkehlchen/chain/ethereum/node_inquirer.py
  rotkehlchen/chain/evm/l2_with_l1_fees/node_inquirer.py
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/chain/gnosis/node_inquirer.py
  rotkehlchen/chain/optimism/node_inquirer.py
  rotkehlchen/chain/polygon_pos/node_inquirer.py
  rotkehlchen/chain/scroll/node_inquirer.py
  rotkehlchen/externalapis/blockscout.py
  rotkehlchen/externalapis/etherscan.py
  rotkehlchen/externalapis/etherscan_like.py
  rotkehlchen/externalapis/routescan.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/external_apis/test_blockscout.py
  rotkehlchen/tests/fixtures/blockchain.py
Due: backend

Mintclub claim events will now be decoded properly
  docs/changelog.rst
  frontend/app/public/assets/images/protocols/mintclub-dark.svg
  frontend/app/public/assets/images/protocols/mintclub.svg
  rotkehlchen/chain/base/modules/mintclub/__init__.py
  rotkehlchen/chain/base/modules/mintclub/constants.py
  rotkehlchen/chain/base/modules/mintclub/decoder.py
  rotkehlchen/tests/unit/decoders/test_mintclub.py
Due: backend, frontend_unit, frontend_integration

Safe multisig upgrade events will now be properly understood
  docs/changelog.rst
  rotkehlchen/chain/evm/decoding/safe/decoder.py
  rotkehlchen/tests/unit/decoders/test_safe.py
Due: backend

chore: improve code comments clarity
  .github/ISSUE_TEMPLATE/bug_report.md
  rotkehlchen/globaldb/upgrades/v2_v3.py
  tools/profiling/graph.py
Due: backend

Allow editing a tag name
  docs/changelog.rst
  frontend/app/src/components/inputs/TagInput.vue
  frontend/app/src/components/tags/TagForm.vue
  frontend/app/src/components/tags/TagFormDialog.vue
  frontend/app/src/components/tags/TagManager.vue
  frontend/app/src/composables/api/tags.spec.ts
  frontend/app/src/composables/api/tags.ts
  frontend/app/src/modules/accounts/use-blockchain-accounts-store.ts
  frontend/app/src/store/session/tags.ts
  frontend/app/src/utils/tags.ts
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tests/api/test_tags.py
Due: backend, frontend_unit, frontend_integration

Fix beaconcha.in rate limit notification spam
  rotkehlchen/chain/ethereum/modules/eth2/eth2.py
  rotkehlchen/externalapis/beaconchain/service.py
  rotkehlchen/tests/external_apis/test_beaconchain.py
Due: backend

Fix coverage artifact upload in nightly workflow
  .github/workflows/task_backend_tests.yml
Due: none

fix: unify the deduplication logic
  frontend/app/src/components/inputs/TagInput.vue
  frontend/app/src/utils/tags.ts
Due: frontend_unit, frontend_integration

Allow editing a tag name (#11206)
  docs/changelog.rst
  frontend/app/src/components/inputs/TagInput.vue
  frontend/app/src/components/tags/TagForm.vue
  frontend/app/src/components/tags/TagFormDialog.vue
  frontend/app/src/components/tags/TagManager.vue
  frontend/app/src/composables/api/tags.spec.ts
  frontend/app/src/composables/api/tags.ts
  frontend/app/src/modules/accounts/use-blockchain-accounts-store.ts
  frontend/app/src/store/session/tags.ts
  frontend/app/src/utils/tags.ts
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tests/api/test_tags.py
Due: backend, frontend_unit, frontend_integration

fix: remove outdated docstring for on_account_addition
  rotkehlchen/utils/interfaces.py
Due: backend

feat(11198): show mcc icons for gnosis pay transactions
  frontend/app/src/components/common/MerchantIcon.vue
  frontend/app/src/components/history/events/HistoryEventNote.vue
  frontend/app/src/composables/history/events/notes.ts
  frontend/app/src/locales/en.json
  frontend/app/tests/unit/specs/composables/history/notes.spec.ts
  rotkehlchen/externalapis/gnosispay.py
  rotkehlchen/tests/unit/decoders/test_gnosis_pay.py
Due: backend, frontend_unit, frontend_integration

fix(frontend): don't show warning while still loading
  docs/changelog.rst
  frontend/app/src/components/history/events/HistoryEventsList.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

Add Bit2Me exchange integration
  frontend/app/public/assets/images/protocols/bit2me.png
  rotkehlchen/assets/converters.py
  rotkehlchen/constants/location_details.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/settings.py
  rotkehlchen/db/upgrade_manager.py
  rotkehlchen/db/upgrades/v51_v52.py
  rotkehlchen/exchanges/bit2me.py
  rotkehlchen/exchanges/constants.py
  rotkehlchen/tests/exchanges/test_bit2me.py
  rotkehlchen/tests/fixtures/exchanges/__init__.py
  rotkehlchen/tests/fixtures/exchanges/bit2me.py
  rotkehlchen/types.py
Due: backend, frontend_unit, frontend_integration

fix(11208): improve asset filtering UX
  docs/changelog.rst
  frontend/app/src/components/accounts/manual-balances/ManualBalancesForm.vue
  frontend/app/src/components/inputs/AssetSelect.vue
  frontend/app/src/composables/filters/events.ts
  frontend/app/src/composables/filters/manual-balances.ts
  frontend/app/src/utils/assets.ts
  frontend/app/tests/unit/specs/composables/filters/use-history-event-filter.spec.ts
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/tests/api/test_assets.py
Due: backend, frontend_unit, frontend_integration

Fix balance parsing: use 'currency' field instead of 'asset'
  rotkehlchen/exchanges/bit2me.py
  rotkehlchen/tests/exchanges/test_bit2me.py
Due: backend

address backend comments
  rotkehlchen/api/v1/schemas.py
Due: backend

fix(11208): improve asset filtering UX (#11219)
  docs/changelog.rst
  frontend/app/src/components/accounts/manual-balances/ManualBalancesForm.vue
  frontend/app/src/components/inputs/AssetSelect.vue
  frontend/app/src/composables/filters/events.ts
  frontend/app/src/composables/filters/manual-balances.ts
  frontend/app/src/utils/assets.ts
  frontend/app/tests/unit/specs/composables/filters/use-history-event-filter.spec.ts
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/tests/api/test_assets.py
Due: backend, frontend_unit, frontend_integration

feat: Support querying for Kraken Futures balances
  frontend/app/src/components/settings/api-keys/exchange/ExchangeKeysForm.vue
  frontend/app/src/locales/en.json
  frontend/app/src/modules/balances/exchanges/use-exchanges.ts
  frontend/app/src/pages/api-keys/exchanges/index.vue
  frontend/app/src/types/exchanges.ts
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/constants/misc.py
  rotkehlchen/db/constants.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/exchanges/manager.py
  rotkehlchen/exchanges/utils.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/api/test_exchanges.py
  rotkehlchen/tests/exchanges/test_kraken.py
  rotkehlchen/tests/unit/test_exchanges.py
  rotkehlchen/tests/utils/kraken.py
Due: backend, frontend_unit, frontend_integration

Add support for twocrypto and tricrypto pools
  docs/changelog.rst
  rotkehlchen/chain/evm/decoding/curve/constants.py
  rotkehlchen/tests/unit/decoders/test_curve.py
Due: backend

fix: correct docstring for convert_to_int function
  rotkehlchen/utils/misc.py
Due: backend

fix: group beaconcha.in rate limit notification
  frontend/app/src/locales/en.json
  frontend/app/src/store/notifications/index.ts
  frontend/app/tests/unit/specs/store/notifications/index.spec.ts
  frontend/common/src/messages/index.ts
  rotkehlchen/externalapis/beaconchain/service.py
Due: backend, frontend_unit, frontend_integration

feat: asset select hint
  docs/changelog.rst
  frontend/app/src/components/inputs/AssetSelect.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

Track earliest modified event timestamp for balance cache invalidation
  rotkehlchen/api/rest_helpers/history_events.py
  rotkehlchen/chain/ethereum/modules/eth2/eth2.py
  rotkehlchen/db/cache.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/eth2.py
  rotkehlchen/db/evmtx.py
  rotkehlchen/db/history_events.py
  rotkehlchen/externalapis/monerium.py
  rotkehlchen/tests/db/test_history_events.py
  rotkehlchen/tests/unit/solana_decoders/test_spl_transfers.py
Due: backend

feat: asset select hint (#11223)
  docs/changelog.rst
  frontend/app/src/components/inputs/AssetSelect.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

Avoid caching all the tokens at once for curve
  rotkehlchen/chain/evm/decoding/curve/curve_cache.py
  rotkehlchen/chain/evm/decoding/curve/decoder.py
  rotkehlchen/globaldb/cache.py
  rotkehlchen/tests/unit/decoders/test_curve.py
  rotkehlchen/tests/unit/globaldb/test_globaldb_cache.py
Due: backend

Properly match exchange to exchange asset movements
  rotkehlchen/history/events/structures/asset_movement.py
  rotkehlchen/tasks/events.py
  rotkehlchen/tests/api/test_event_matching.py
  rotkehlchen/tests/unit/events/test_match_asset_movements.py
Due: backend

Use all indexers for rpc method calls
  rotkehlchen/chain/arbitrum_one/node_inquirer.py
  rotkehlchen/chain/ethereum/constants.py
  rotkehlchen/chain/ethereum/modules/uniswap/utils.py
  rotkehlchen/chain/evm/active_management/manager.py
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/chain/evm/tokens.py
  rotkehlchen/chain/mixins/rpc_nodes.py
  rotkehlchen/externalapis/blockscout.py
  rotkehlchen/externalapis/etherscan.py
  rotkehlchen/externalapis/etherscan_like.py
  rotkehlchen/tests/api/active_management/test_transfers.py
  rotkehlchen/tests/api/blockchain/test_evm.py
  rotkehlchen/tests/api/blockchain/test_optimism.py
  rotkehlchen/tests/api/test_blockchain_transactions.py
  rotkehlchen/tests/api/test_misc.py
  rotkehlchen/tests/external_apis/test_blockscout.py
  rotkehlchen/tests/unit/test_blockchain_balances.py
  rotkehlchen/tests/unit/test_calendar_reminders.py
  rotkehlchen/tests/unit/test_ethereum_inquirer.py
  rotkehlchen/tests/unit/test_indexers.py
  rotkehlchen/tests/unit/test_inquirer.py
  rotkehlchen/tests/unit/test_protocol_balances.py
  rotkehlchen/tests/utils/ethereum.py
  rotkehlchen/tests/utils/history.py
Due: backend

Add endpoint for getting possible asset movement matches
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/filtering.py
  rotkehlchen/tasks/events.py
  rotkehlchen/tests/api/test_event_matching.py
  rotkehlchen/tests/unit/events/test_match_asset_movements.py
Due: backend

Detect poison attacks of spam assets impersonating base currency
  rotkehlchen/assets/spam_assets.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/tests/unit/decoders/test_spam.py
Due: backend

add table for historical balance processing
  rotkehlchen/db/cache.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/minimized_schema.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v50_v51.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
