Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Fixes some issues with failing tests
  frontend/app/src/components/AccountManagement.vue
  frontend/app/src/components/account-management/CreateAccount.vue
  frontend/app/src/components/account-management/Login.vue
  frontend/app/src/components/app/AppCore.vue
  frontend/app/src/components/dashboard/OverallBalances.vue
  frontend/app/src/components/settings/FrontendSettings.vue
  frontend/app/src/main.ts
  frontend/app/src/premium/premium.ts
  frontend/app/src/premium/setup-premium.ts
  frontend/app/src/views/Dashboard.vue
  frontend/app/tests/e2e/pages/dashboard-page.ts
  frontend/app/tests/e2e/pages/rotki-app.ts
Due: frontend_unit, frontend_integration

Fix on tests
  rotkehlchen/chain/ethereum/modules/aave/common.py
  rotkehlchen/chain/ethereum/modules/yearn/graph.py
  rotkehlchen/chain/ethereum/modules/yearn/vaults.py
  rotkehlchen/chain/ethereum/modules/yearn/vaultsv2.py
  rotkehlchen/db/upgrades/v34_v35.py
  rotkehlchen/inquirer.py
  rotkehlchen/tests/api/test_yearn_vaults.py
  rotkehlchen/tests/data/v34_rotkehlchen.db
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

Rename evm_address to address for the api response
  rotkehlchen/assets/asset.py
  rotkehlchen/assets/types.py
  rotkehlchen/globaldb/handler.py
  rotkehlchen/globaldb/schema.py
  rotkehlchen/globaldb/updates.py
  rotkehlchen/globaldb/upgrades/v2_v3.py
  rotkehlchen/tests/api/test_assets_updates.py
  rotkehlchen/tests/unit/test_assets.py
  rotkehlchen/tests/unit/test_defi_oracles.py
  rotkehlchen/tests/unit/test_globaldb.py
  rotkehlchen/tests/unit/test_globaldb_asset_updates.py
Due: backend

feat: adjust evm assets in frontend
  frontend/app/src/components/asset-manager/AssetForm.vue
  frontend/app/src/components/asset-manager/AssetManagement.vue
  frontend/app/src/components/asset-manager/AssetTable.vue
  frontend/app/src/components/defi/DefiAsset.vue
  frontend/app/src/components/helper/AssetDetailsBase.vue
  frontend/app/src/components/helper/display/icons/AssetIcon.vue
  frontend/app/src/components/status/update/ConflictRow.vue
  frontend/app/src/composables/balances.ts
  frontend/app/src/composables/defi.ts
  frontend/app/src/locales/en.json
  frontend/app/src/router/index.ts
  frontend/app/src/services/assets/asset-api.ts
  frontend/app/src/services/assets/consts.ts
  frontend/app/src/services/axios-tranformers.ts
  frontend/app/src/store/assets/index.ts
  frontend/app/src/store/defi/yearn/index.ts
  frontend/app/src/store/utils.ts
  frontend/app/src/utils/assets.ts
  frontend/app/tests/e2e/fixtures/history/trades.json
  frontend/common/src/data/index.ts
Due: frontend_unit, frontend_integration

Address my own comments in the evm chain assets PR
  docs/api.rst
  rotkehlchen.spec
  rotkehlchen/assets/utils.py
  rotkehlchen/constants/resolver.py
  rotkehlchen/db/upgrades/v34_v35.py
  rotkehlchen/globaldb/handler.py
  rotkehlchen/globaldb/updates.py
  rotkehlchen/globaldb/upgrades/v2_v3.py
  rotkehlchen/tests/unit/test_globaldb_upgrades.py
  setup.py
Due: backend

Remove global db v1->v2 upgrade and fix stuff in v2->v3
  rotkehlchen/data/globaldb_v2_v3_assets.sql
  rotkehlchen/db/upgrade_manager.py
  rotkehlchen/globaldb/handler.py
  rotkehlchen/globaldb/schema.py
  rotkehlchen/globaldb/upgrades/manager.py
  rotkehlchen/globaldb/upgrades/v1_v2.py
  rotkehlchen/globaldb/upgrades/v2_v3.py
  rotkehlchen/globaldb/utils.py
  rotkehlchen/tests/fixtures/globaldb.py
  rotkehlchen/tests/unit/test_globaldb_upgrades.py
  rotkehlchen/utils/upgrades.py
Due: backend

Remove chainID from the underlying token schema and structure
  docs/api.rst
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/assets/asset.py
  rotkehlchen/chain/ethereum/modules/balancer/balancer.py
  rotkehlchen/chain/ethereum/modules/balancer/utils.py
  rotkehlchen/globaldb/handler.py
  rotkehlchen/inquirer.py
  rotkehlchen/serialization/schemas.py
  rotkehlchen/tests/api/test_balancer.py
  rotkehlchen/tests/api/test_custom_ethereum_tokens.py
  rotkehlchen/tests/unit/test_globaldb.py
  rotkehlchen/tests/unit/test_inquirer.py
  rotkehlchen/tests/utils/globaldb.py
Due: backend

Use executemany in the v2->v3 global DB assets upgrade sql
  rotkehlchen/data/globaldb_v2_v3_assets.sql
Due: backend

Fix tests after all the changes in the evm global db part
  rotkehlchen/globaldb/handler.py
  rotkehlchen/globaldb/upgrades/manager.py
  rotkehlchen/tests/data/exported_assets.json
  rotkehlchen/tests/data/exported_assets.zip
  rotkehlchen/tests/unit/test_globaldb_upgrades.py
Due: backend

fix: e2e test in evm PR
  frontend/app/src/components/asset-manager/AssetTable.vue
  frontend/app/src/components/asset-manager/UnderlyingTokenManager.vue
  frontend/app/src/components/inputs/AssetSelect.vue
  frontend/app/src/locales/en.json
  frontend/app/src/services/assets/types.ts
  frontend/app/src/utils/assets.ts
  frontend/app/tests/e2e/support/utils.ts
Due: frontend_unit, frontend_integration

fix: update fileupload sources
  frontend/app/src/components/import/FileUpload.vue
Due: frontend_unit, frontend_integration

Adap compound module to evm
  rotkehlchen/chain/ethereum/modules/compound/compound.py
Due: backend

Correct bch balance and remove variable not being used
  rotkehlchen/chain/bitcoin/xpub.py
  rotkehlchen/chain/manager.py
Due: backend

Fixes frontend build errors
  frontend/app/package.json
  frontend/app/src/components/CurrencyDropdown.vue
  frontend/app/src/components/account-management/Login.vue
  frontend/app/src/components/accounts/AccountGroupHeader.vue
  frontend/app/src/components/dashboard/NftBalanceTable.vue
  frontend/app/src/components/dashboard/VisibleColumnsSelector.vue
  frontend/app/src/components/defi/ActiveModules.vue
  frontend/app/src/components/defi/loan/loans/CompoundLending.vue
  frontend/app/src/components/dialogs/MessageDialog.vue
  frontend/app/src/components/dialogs/WatcherDialog.vue
  frontend/app/src/components/error/ErrorScreen.vue
  frontend/app/src/components/error/MacOsVersionUnsupported.vue
  frontend/app/src/components/error/StartupErrorScreen.vue
  frontend/app/src/components/eth-address-book-manager/EthAddressBookManagement.vue
  frontend/app/src/components/helper/ProgressScreen.vue
  frontend/app/src/components/helper/RefreshHeader.vue
  frontend/app/src/components/history/ExternalTradeForm.vue
  frontend/app/src/components/history/LedgerActionForm.vue
  frontend/app/src/components/history/TransactionEventForm.vue
  frontend/app/src/components/history/UpgradeRow.vue
  frontend/app/src/components/import/FileUpload.vue
  frontend/app/src/components/inputs/TagInput.vue
  frontend/app/src/components/profitloss/Generate.vue
  frontend/app/src/components/settings/api-keys/ServiceKey.vue
  frontend/app/src/components/settings/data-security/ChangePassword.vue
  frontend/app/src/components/settings/data-security/DataManagement.vue
  frontend/app/src/components/settings/general/RefreshSetting.vue
  frontend/app/src/components/settings/general/rpc/EthereumRpcNodeManager.vue
  frontend/app/src/components/status/sync/SyncButtons.vue
  frontend/app/src/components/status/sync/SyncIndicator.vue
  frontend/app/src/components/status/update/AppUpdatePopup.vue
  frontend/app/src/premium/premium.ts
  frontend/app/src/views/reports/ProfitLossReports.vue
  frontend/common/package.json
  frontend/package-lock.json
Due: frontend_unit, frontend_integration

Further reduces the number of frontend build errors
  frontend/app/src/components/dashboard/EditBalancesSnapshotForm.vue
  frontend/app/src/components/dashboard/EditBalancesSnapshotLocationSelector.vue
  frontend/app/src/components/dashboard/EditBalancesSnapshotTable.vue
  frontend/app/src/components/dashboard/EditSnapshotDialog.vue
  frontend/app/src/components/defi/loan/loans/makerdao/MakerDaoVaultLiquidation.vue
  frontend/app/src/components/eth-address-book-manager/EthAddressBookManagement.vue
  frontend/app/src/components/history/ClosedTrades.vue
  frontend/app/src/components/history/ExternalTradeForm.vue
  frontend/app/src/components/history/LedgerActionForm.vue
  frontend/app/src/components/history/transactions/TransactionEvents.vue
  frontend/app/src/components/inputs/RevealableInput.vue
  frontend/app/src/components/profitloss/ReportsTable.vue
  frontend/app/src/components/settings/general/rpc/EthereumRpcNodeManager.vue
  frontend/app/src/composables/filters/trades.ts
  frontend/app/src/composables/filters/transactions.ts
  frontend/app/src/store/balances/types.ts
  frontend/app/src/views/defi/Airdrops.vue
  frontend/app/src/views/history/deposits-withdrawals/DepositsWithdrawalsContent.vue
  frontend/app/src/views/history/transactions/TransactionContent.vue
  frontend/app/src/views/history/transactions/TransactionQueryStatus.vue
  frontend/app/src/views/staking/StakingPage.vue
Due: frontend_unit, frontend_integration

Fix covalent and web3 tx hash types mismatch
  rotkehlchen/chain/avalanche/manager.py
  rotkehlchen/externalapis/covalent.py
  rotkehlchen/tests/unit/test_avalanche_manager.py
Due: backend

feat: enable generic data import for rotki
  docs/api.rst
  rotkehlchen/accounting/structures/base.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/data_import/importers/rotki_events.py
  rotkehlchen/data_import/importers/rotki_trades.py
  rotkehlchen/data_import/manager.py
  rotkehlchen/data_import/utils.py
  rotkehlchen/db/upgrades/v32_v33.py
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/tests/api/test_data_import.py
  rotkehlchen/tests/api/test_history_base_entry.py
  rotkehlchen/tests/data/rotki_generic_events.csv
  rotkehlchen/tests/data/rotki_generic_trades.csv
  rotkehlchen/tests/unit/accounting/test_transactions.py
  rotkehlchen/tests/unit/test_history.py
  rotkehlchen/tests/utils/dataimport.py
Due: backend

Bumps the components version
  rotkehlchen/premium/premium.py
Due: backend

Fix amount selected for trades in bisq importer
  docs/changelog.rst
  rotkehlchen/data_import/importers/bisq_trades.py
  rotkehlchen/tests/utils/dataimport.py
Due: backend

feat: move ignored assets setting to assets page
  docs/images/rotki_add_edit_token.png
  docs/images/rotki_add_edit_token_optionals.png
  docs/images/rotki_manage_assets.png
  docs/images/rotki_merge_assets.png
  docs/images/sc_accounting_settings.png
  docs/usage_guide.rst
  frontend/app/src/components/GlobalSearch.vue
  frontend/app/src/components/asset-manager/AssetManagement.vue
  frontend/app/src/components/asset-manager/AssetTable.vue
  frontend/app/src/components/helper/AssetDetailsBase.vue
  frontend/app/src/components/history/ClosedTrades.vue
  frontend/app/src/components/history/ExternalTradeForm.vue
  frontend/app/src/components/settings/controls/IgnoreAssetSetting.vue
  frontend/app/src/components/settings/controls/UnignoreAssetSetting.vue
  frontend/app/src/components/settings/controls/UpdateIgnoredAssetsSetting.vue
  frontend/app/src/locales/en.json
  frontend/app/src/premium/premium-apis.ts
  frontend/app/src/services/assets/asset-api.ts
  frontend/app/src/services/history/history-api.ts
  frontend/app/src/store/assets/index.ts
  frontend/app/src/store/balances/blockchain-balances.ts
  frontend/app/src/store/balances/exchanges.ts
  frontend/app/src/store/balances/index.ts
  frontend/app/src/store/balances/prices.ts
  frontend/app/src/store/statistics/index.ts
  frontend/app/src/views/Dashboard.vue
  frontend/app/src/views/history/deposits-withdrawals/DepositsWithdrawalsContent.vue
  frontend/app/src/views/history/ledger-actions/LedgerActionContent.vue
  frontend/app/src/views/settings/AccountingSettings.vue
  frontend/app/tests/e2e/pages/accounting-settings-page.ts
  frontend/app/tests/e2e/pages/assets-manager-page.ts
  frontend/app/tests/e2e/specs/assets.spec.ts
  frontend/app/tests/e2e/specs/settings.spec.ts
  frontend/app/tests/unit/components/account-management.spec.ts
  frontend/app/tests/unit/store/balances/getters.spec.ts
Due: frontend_unit, frontend_integration

Adds proper display of error when force sync fails
  frontend/app/src/store/session/premium.ts
  frontend/app/src/store/tasks/index.ts
  frontend/dev-proxy/src/index.ts
Due: frontend_unit, frontend_integration

Add support for multi-EVM ETH_SCAN contract
  rotkehlchen/chain/ethereum/manager.py
  rotkehlchen/chain/ethereum/tokens.py
  rotkehlchen/constants/ethereum.py
  rotkehlchen/data/eth_contracts.json
  rotkehlchen/tests/utils/blockchain.py
Due: backend

Fixes some more build errors
  frontend/app/src/components/asset-manager/AssetTable.vue
  frontend/app/src/components/asset-manager/UnderlyingTokenManager.vue
  frontend/app/src/components/dashboard/EditLocationDataSnapshotTable.vue
  frontend/app/src/components/dialogs/WatcherDialog.vue
  frontend/app/src/components/display/AmountDisplay.vue
  frontend/app/src/components/profitloss/AccountingSettingsDisplay.vue
  frontend/app/src/components/profitloss/CostBasisTable.vue
  frontend/app/src/components/profitloss/ProfitLossEvents.vue
  frontend/app/src/components/status/update/AppUpdatePopup.vue
  frontend/app/src/components/status/update/ConflictDialog.vue
  frontend/app/src/services/session/types.d.ts
  frontend/app/src/utils/data.ts
Due: frontend_unit, frontend_integration

Fix typos in documentation, code and comments
  docs/contribute.rst
  rotkehlchen/chain/bitcoin/__init__.py
  rotkehlchen/chain/ethereum/modules/l2/loopring.py
  rotkehlchen/chain/manager.py
  rotkehlchen/externalapis/beaconchain.py
Due: backend

Updates packaging to introduce win signing
  .github/workflows/rotki_dev_builds.yml
  .github/workflows/rotki_release.yaml
  frontend/app/package.json
  frontend/package.json
  package.py
Due: frontend_unit, frontend_integration

feat: derive new addresses from xpubs when balances are refreshed
  docs/changelog.rst
  rotkehlchen/chain/bitcoin/xpub.py
  rotkehlchen/chain/manager.py
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/api/test_balances.py
Due: backend

Remove return from on_account_addition callback
  rotkehlchen/chain/ethereum/defi/defisaver_proxy.py
  rotkehlchen/chain/ethereum/modules/aave/aave.py
  rotkehlchen/chain/ethereum/modules/adex/adex.py
  rotkehlchen/chain/ethereum/modules/balancer/balancer.py
  rotkehlchen/chain/ethereum/modules/compound/compound.py
  rotkehlchen/chain/ethereum/modules/eth2/eth2.py
  rotkehlchen/chain/ethereum/modules/l2/loopring.py
  rotkehlchen/chain/ethereum/modules/liquity/trove.py
  rotkehlchen/chain/ethereum/modules/makerdao/vaults.py
  rotkehlchen/chain/ethereum/modules/nfts.py
  rotkehlchen/chain/ethereum/modules/pickle_finance/main.py
  rotkehlchen/chain/ethereum/modules/sushiswap/sushiswap.py
  rotkehlchen/chain/ethereum/modules/uniswap/uniswap.py
  rotkehlchen/chain/ethereum/modules/yearn/vaults.py
  rotkehlchen/utils/interfaces.py
Due: backend

Improve query_balances cache clearing
  docs/api.rst
  rotkehlchen/chain/manager.py
Due: backend

Fixes some build errors reported by vue-tsc
  frontend/app/src/components/dashboard/BlockchainBalanceCardDetails.vue
  frontend/app/src/components/dashboard/BlockchainBalanceCardList.vue
  frontend/app/src/components/dashboard/EditSnapshotDialog.vue
  frontend/app/src/components/dashboard/LiquidityProviderBalanceTable.vue
  frontend/app/src/components/defi/ActiveModules.vue
  frontend/app/src/components/defi/QueriedAddressDialog.vue
  frontend/app/src/components/helper/TimeframeSelector.vue
  frontend/app/src/components/helper/table/NotesDisplay.vue
  frontend/app/src/components/history/TradeDetails.vue
  frontend/app/src/components/import/GroupedImport.vue
  frontend/app/src/components/nft/NftGallery.vue
  frontend/app/src/components/price-manager/PriceManagement.vue
  frontend/app/src/components/price-manager/PriceTable.vue
  frontend/app/src/components/profitloss/AccountingSettingsDisplay.vue
  frontend/app/src/components/profitloss/ProfitLossOverview.vue
  frontend/app/src/components/tags/TagManager.vue
  frontend/app/src/services/assets/types.ts
  frontend/app/src/utils/report.ts
  frontend/app/src/views/PriceManager.vue
  frontend/app/src/views/reports/ProfitLossReport.vue
Due: frontend_unit, frontend_integration

Refactor asset balances and icon endpoints
  docs/api.rst
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/tests/api/test_icons.py
  rotkehlchen/tests/api/test_statistics.py
Due: backend

Adds small vite-plugin to copy ps-list binary on windows
  frontend/app/vite.config.main.ts
Due: frontend_unit, frontend_integration

Removes sleep from dev command when running on Windows
  frontend/start-dev.js
Due: none

Use json only for icons and balance endpoints
  docs/api.rst
  rotkehlchen/api/v1/resources.py
  rotkehlchen/tests/api/test_icons.py
  rotkehlchen/tests/api/test_statistics.py
Due: backend

Fixes the rest of build errors and enabled pre-build typechecking
  .github/workflows/rotki_ci.yml
  frontend/app/package.json
  frontend/app/src/components/accounts/exchanges/ExchangeBalances.vue
  frontend/app/src/components/asset-manager/AssetManagement.vue
  frontend/app/src/components/dashboard/EditBalancesSnapshotTable.vue
  frontend/app/src/components/dashboard/EditLocationDataSnapshotForm.vue
  frontend/app/src/components/dashboard/EditSnapshotTotal.vue
  frontend/app/src/components/dashboard/LiquidityProviderBalanceDetails.vue
  frontend/app/src/components/dashboard/LiquidityProviderBalanceTable.vue
  frontend/app/src/components/defi/Borrowing.vue
  frontend/app/src/components/defi/loan/LoanDebt.vue
  frontend/app/src/components/defi/loan/LoanInfo.vue
  frontend/app/src/components/defi/loan/loans/MakerDaoVaultLoan.vue
  frontend/app/src/components/defi/loan/loans/liquity/LiquityCollateral.vue
  frontend/app/src/components/defi/loan/loans/makerdao/MakerDaoVaultLiquidation.vue
  frontend/app/src/components/defi/loan/loans/makerdao/ManageWatchers.vue
  frontend/app/src/components/defi/uniswap/UniswapPoolDetails.vue
  frontend/app/src/components/display/AmountCurrency.vue
  frontend/app/src/components/helper/DataTable.vue
  frontend/app/src/components/helper/DefiProtocolSelector.vue
  frontend/app/src/components/helper/LocationSelector.vue
  frontend/app/src/components/history/ClosedTrades.vue
  frontend/app/src/components/history/transactions/TransactionEventNote.vue
  frontend/app/src/components/import/FileUpload.vue
  frontend/app/src/components/import/ImportSource.vue
  frontend/app/src/components/import/upload-types.ts
  frontend/app/src/components/inputs/AmountInput.vue
  frontend/app/src/components/nft/NftGalleryItem.vue
  frontend/app/src/components/profitloss/AccountingSettingsDisplay.vue
  frontend/app/src/components/settings/data-security/DataManagement.vue
  frontend/app/src/components/settings/data-security/PurgeSelector.vue
  frontend/app/src/components/settings/data-security/backups/DatabaseBackups.vue
  frontend/app/src/components/settings/data-security/types.d.ts
  frontend/app/src/components/staking/liquity/LiquityStakingDetails.vue
  frontend/app/src/components/status/FrontendUpdateNotifier.vue
  frontend/app/src/env.d.ts
  frontend/app/src/views/history/deposits-withdrawals/DepositsWithdrawalsContent.vue
  frontend/app/src/views/history/ledger-actions/LedgerActionContent.vue
Due: frontend_unit, frontend_integration

Enables some warnings that should become errors after being fixed
  frontend/app/.eslintrc.js
  frontend/app/package.json
Due: frontend_unit, frontend_integration

Add note about git signed commits in contributing guide
  docs/contribute.rst
Due: none

Improve documentation about database migrations and decryption
  docs/contribute.rst
Due: none

Minor fixes to Usage Guide
  docs/usage_guide.rst
Due: none

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
