Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

fix: rename defi yearn mapping for consistency
  rotkehlchen/chain/ethereum/defi/protocols.py
Due: backend

Use hashed key instead of string for accounting rules
  rotkehlchen/accounting/rules.py
  rotkehlchen/accounting/structures/base.py
  rotkehlchen/accounting/structures/evm_event.py
  rotkehlchen/chain/ethereum/modules/aave/v1/accountant.py
  rotkehlchen/chain/ethereum/modules/aave/v2/accountant.py
  rotkehlchen/chain/ethereum/modules/balancer/v1/accountant.py
  rotkehlchen/chain/ethereum/modules/balancer/v2/accountant.py
  rotkehlchen/chain/ethereum/modules/compound/accountant.py
  rotkehlchen/chain/ethereum/modules/cowswap/accountant.py
  rotkehlchen/chain/ethereum/modules/curve/accountant.py
  rotkehlchen/chain/ethereum/modules/dxdaomesa/accountant.py
  rotkehlchen/chain/ethereum/modules/eth2/accountant.py
  rotkehlchen/chain/ethereum/modules/gitcoin/accountant.py
  rotkehlchen/chain/ethereum/modules/hop/accountant.py
  rotkehlchen/chain/ethereum/modules/kyber/accountant.py
  rotkehlchen/chain/ethereum/modules/liquity/accountant.py
  rotkehlchen/chain/ethereum/modules/makerdao/accountant.py
  rotkehlchen/chain/ethereum/modules/makerdao/sai/accountant.py
  rotkehlchen/chain/ethereum/modules/oneinch/v1/accountant.py
  rotkehlchen/chain/ethereum/modules/oneinch/v2/accountant.py
  rotkehlchen/chain/ethereum/modules/oneinch/v4/accountant.py
  rotkehlchen/chain/ethereum/modules/pickle_finance/accountant.py
  rotkehlchen/chain/ethereum/modules/sushiswap/accountant.py
  rotkehlchen/chain/ethereum/modules/uniswap/v1/accountant.py
  rotkehlchen/chain/ethereum/modules/uniswap/v2/accountant.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/accountant.py
  rotkehlchen/chain/ethereum/modules/votium/accountant.py
  rotkehlchen/chain/ethereum/modules/weth/accountant.py
  rotkehlchen/chain/ethereum/modules/yearn/accountant.py
  rotkehlchen/chain/ethereum/modules/zksync/accountant.py
  rotkehlchen/chain/evm/accounting/aggregator.py
  rotkehlchen/chain/evm/accounting/airdrop.py
  rotkehlchen/chain/evm/accounting/interfaces.py
  rotkehlchen/chain/optimism/modules/hop/accountant.py
  rotkehlchen/chain/optimism/modules/velodrome/accountant.py
Due: backend

improving binance import
  rotkehlchen/data_import/importers/binance.py
  rotkehlchen/data_import/utils.py
  rotkehlchen/tests/data/binance_history.csv
  rotkehlchen/tests/utils/dataimport.py
Due: backend

Check for correctness of schema during db upgrade
  rotkehlchen/db/upgrades/v39_v40.py
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

Move ledger actions accounting rules
  rotkehlchen/accounting/rules.py
  rotkehlchen/chain/evm/accounting/airdrop.py
  rotkehlchen/db/upgrades/v39_v40.py
  rotkehlchen/tests/data/v39_rotkehlchen.db
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

Properly handle negative amounts for kraken staking
  rotkehlchen/exchanges/kraken.py
Due: backend

Handle kraken failed withdrawals and other events properly
  docs/changelog.rst
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/history/skipped.py
  rotkehlchen/tests/api/test_skipped_events.py
  rotkehlchen/tests/exchanges/test_kraken.py
  rotkehlchen/tests/utils/kraken.py
Due: backend

Fix kraken trade event order. Spend events come first
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/tests/exchanges/test_kraken.py
Due: backend

fix(frontend): migrate lqt details and fix spacing
  frontend/app/package.json
  frontend/app/src/components/staking/liquity/LiquityStakingDetails.vue
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

add accounting for The Graph staking
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/thegraph/accountant.py
  rotkehlchen/tests/unit/accounting/evm/test_thegraph.py
Due: backend

fix(frontend): airdrops not reloading after navigating there again
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/defi/airdrops/index.vue
  frontend/app/src/types/status.ts
Due: frontend_unit, frontend_integration

feat(frontend): use defi metadata mapping
  frontend/app/.eslintrc-auto-import.json
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/defi/Overview.vue
  frontend/app/src/components/display/StatCard.vue
  frontend/app/src/composables/api/defi/index.ts
  frontend/app/src/composables/defi/metadata.ts
  frontend/app/src/pages/defi/overview/index.vue
  frontend/app/src/store/defi/index.ts
  frontend/app/src/store/defi/overview.ts
  frontend/app/src/types/defi/overview.ts
  frontend/app/src/types/defi/protocols.ts
  frontend/app/src/utils/text.ts
Due: frontend_unit, frontend_integration

fix: based on the review
  frontend/app/src/components/defi/Overview.vue
  frontend/app/src/composables/defi/airdrops/metadata.ts
  frontend/app/src/composables/defi/metadata.ts
Due: frontend_unit, frontend_integration

chore(frontend): upgrade lib dependency
  frontend/app/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

feat: add hint component for reuse, and update layout for detected tokens
  frontend/app/src/components/HintMenuIcon.vue
  frontend/app/src/components/asset-manager/NewlyDetectedAssetTable.vue
  frontend/app/src/components/asset-manager/custom/CustomAssetTable.vue
  frontend/app/src/components/asset-manager/newly-detected/NewlyDetectedAssetContent.vue
  frontend/app/src/components/asset-manager/newly-detected/NewlyDetectedAssetTable.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/pages/asset-manager/newly-detected/index.vue
  frontend/app/src/plugins/rui/index.ts
Due: frontend_unit, frontend_integration

Bump py-machineid to 0.4.4
  requirements.txt
Due: none

Upgrade mypy to 1.6.0
  requirements_lint.txt
Due: none

Fix gnosis native token to the actual XDAI
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/unit/test_types.py
  rotkehlchen/types.py
Due: backend

Bump maxminddb to 2.4.0
  requirements.txt
Due: none

chore: update imports path
  frontend/app/src/components/accounts/manual-balances/ManualBalanceTable.vue
  frontend/app/src/components/asset-manager/newly-detected/NewlyDetectedAssetTable.vue
Due: frontend_unit, frontend_integration

create/modify all history events
  docs/api.rst
  docs/changelog.rst
  docs/conf.py
  requirements_docs.txt
  rotkehlchen/accounting/structures/base.py
  rotkehlchen/accounting/structures/evm_event.py
  rotkehlchen/accounting/structures/types.py
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/fields.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/api/test_history_base_entry.py
  rotkehlchen/tests/api/test_history_events_export.py
  rotkehlchen/tests/utils/history_base_entry.py
Due: backend

Fix an old circular import with some ethereum/modules and some tests
  docs/api.rst
  rotkehlchen/accounting/structures/base.py
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/ethereum/modules/__init__.py
Due: backend

fix: rename icon for polygon_pos and arbitrum_one for consistency
  docs/api.rst
  rotkehlchen/chain/arbitrum_one/constants.py
  rotkehlchen/constants/location_details.py
  rotkehlchen/types.py
Due: backend

feat(frontend): use defi metadata mapping (#6721)
  frontend/app/.eslintrc-auto-import.json
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/defi/Overview.vue
  frontend/app/src/components/display/StatCard.vue
  frontend/app/src/composables/api/defi/index.ts
  frontend/app/src/composables/defi/airdrops/metadata.ts
  frontend/app/src/composables/defi/metadata.ts
  frontend/app/src/pages/defi/overview/index.vue
  frontend/app/src/store/defi/index.ts
  frontend/app/src/store/defi/overview.ts
  frontend/app/src/types/defi/overview.ts
  frontend/app/src/types/defi/protocols.ts
  frontend/app/src/utils/text.ts
Due: frontend_unit, frontend_integration
