Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Create ExchangeLocationID and replace an old type
  rotkehlchen/exchanges/exchange.py
  rotkehlchen/tasks/manager.py
  rotkehlchen/types.py
Due: backend

made improvement to feature based on reviews
  docs/api.rst
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/snapshots.py
  rotkehlchen/tests/api/test_snapshots.py
Due: backend

Remove query params from snapshot endpoint
  docs/api.rst
  rotkehlchen/api/v1/resources.py
  rotkehlchen/tests/api/test_snapshots.py
Due: backend

Add more ksm tests to flaky and fields.Str -> fields.String
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/tests/api/test_blockchain.py
Due: backend

Fix type: ignore in ethereum/airdrops
  rotkehlchen/chain/ethereum/airdrops.py
Due: backend

Create a temporal wrapper object for GlobalDB Binance
  rotkehlchen/chain/ethereum/modules/aave/common.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/upgrades/v25_v26.py
  rotkehlchen/exchanges/__init__.py
  rotkehlchen/exchanges/utils.py
  rotkehlchen/globaldb/assets_management.py
  rotkehlchen/globaldb/binance.py
  rotkehlchen/globaldb/handler.py
  rotkehlchen/globaldb/updates.py
  rotkehlchen/tests/api/test_assets_updates.py
  rotkehlchen/tests/api/test_custom_assets.py
  rotkehlchen/tests/api/test_custom_ethereum_tokens.py
  rotkehlchen/tests/api/test_exchanges.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/external_apis/test_cryptocompare.py
  rotkehlchen/tests/unit/test_aave.py
  rotkehlchen/tests/unit/test_assets.py
  rotkehlchen/tests/unit/test_exchanges.py
  rotkehlchen/tests/unit/test_globaldb.py
  rotkehlchen/tests/unit/test_globaldb_upgrades.py
Due: backend

feat: add option to toggle exchanges sync
  frontend/app/src/components/settings/ExchangeSyncSettings.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

fix: pnl report improvements
  frontend/app/src/components/display/AmountDisplay.vue
  frontend/app/src/components/profitloss/CostBasisTable.vue
  frontend/app/src/components/profitloss/ProfitLossEvents.vue
  frontend/app/src/components/profitloss/ProfitLossOverview.vue
  frontend/app/src/locales/en.json
  frontend/app/src/utils/text.ts
  frontend/app/tests/unit/components/display/amount-display.spec.ts
Due: frontend_unit, frontend_integration

Assert that at new pnl report generation the previous one is erased
  rotkehlchen/accounting/pot.py
  rotkehlchen/tests/api/test_pnl_csv.py
Due: backend

Properly preserve event order for 1inch v2 swaps decoding
  rotkehlchen/chain/ethereum/decoding/oneinch/v2/decoder.py
  rotkehlchen/chain/ethereum/transactions.py
  rotkehlchen/tests/unit/decoders/test_1inch.py
  rotkehlchen/tests/utils/constants.py
Due: backend

Allow DBFilter order by multiple attribute/direction combinations
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/filtering.py
  rotkehlchen/db/history_events.py
  rotkehlchen/history/events.py
  rotkehlchen/tests/db/test_db_filters.py
Due: backend

For expense in accounting after year make sure whole amount counts
  rotkehlchen/accounting/structures/processed_event.py
  rotkehlchen/tests/unit/accounting/test_misc.py
  rotkehlchen/tests/unit/accounting/test_prefork_assets.py
  rotkehlchen/tests/unit/accounting/test_settings.py
  rotkehlchen/tests/unit/accounting/test_transactions.py
Due: backend

Include event extra data in PnL data and tx_hash in PnL api notes
  rotkehlchen/accounting/export/csv.py
  rotkehlchen/accounting/structures/processed_event.py
  rotkehlchen/api/rest.py
Due: backend

Remove redundant transaction information from gas burn notes
  docs/api.rst
  rotkehlchen/chain/ethereum/decoding/decoder.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/api/test_history_base_entry.py
  rotkehlchen/tests/unit/accounting/test_settings.py
  rotkehlchen/tests/unit/decoders/test_1inch.py
  rotkehlchen/tests/unit/decoders/test_enriched.py
  rotkehlchen/tests/unit/decoders/test_kyber.py
  rotkehlchen/tests/unit/decoders/test_pickle.py
  rotkehlchen/tests/unit/decoders/test_votium.py
  rotkehlchen/tests/unit/test_evm_tx_decoding.py
Due: backend

Add test_two_vaults_same_account_same_collateral to flaky tests
  rotkehlchen/tests/api/test_makerdao_vaults.py
Due: backend

Adds a retry configuration on the history spec
  frontend/app/tests/e2e/pages/history-page/trade-history-page.ts
  frontend/app/tests/e2e/specs/history/trade-history.spec.ts
Due: frontend_unit, frontend_integration

Add pickle jars to the frontend protocol matchs
  frontend/app/src/store/history/consts.ts
  frontend/app/src/types/transaction.ts
Due: frontend_unit, frontend_integration

fixing concerns raised in review and new api endpoint for viewing actionable items
  rotkehlchen/accounting/accountant.py
  rotkehlchen/accounting/cost_basis/base.py
  rotkehlchen/accounting/types.py
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/errors.py
  rotkehlchen/externalapis/cryptocompare.py
  rotkehlchen/globaldb/manual_price_oracle.py
  rotkehlchen/history/price.py
  rotkehlchen/serialization/serialize.py
Due: backend

api documentation, testing the feature and other minor fixes
  docs/api.rst
  rotkehlchen/accounting/accountant.py
  rotkehlchen/accounting/cost_basis/base.py
  rotkehlchen/api/rest.py
  rotkehlchen/errors.py
  rotkehlchen/serialization/serialize.py
  rotkehlchen/tests/api/test_history.py
Due: backend

first iteration at resolving #4185
  rotkehlchen/accounting/accountant.py
  rotkehlchen/accounting/cost_basis/base.py
  rotkehlchen/accounting/types.py
  rotkehlchen/errors.py
  rotkehlchen/externalapis/cryptocompare.py
  rotkehlchen/globaldb/manual_price_oracle.py
  rotkehlchen/history/price.py
Due: backend

fix: fix exchange balance amount bug
  frontend/app/src/components/display/AmountDisplay.vue
Due: frontend_unit, frontend_integration

feat: UI download db snapshot for particular timestamp
  docs/changelog.rst
  frontend/app/src/components/UserDropdown.vue
  frontend/app/src/components/dashboard/NetworthChart.vue
  frontend/app/src/components/help/HelpSidebar.vue
  frontend/app/src/components/history/TransactionsDetails.vue
  frontend/app/src/locales/en.json
  frontend/app/src/services/rotkehlchen-api.ts
  frontend/app/src/utils/download.ts
Due: frontend_unit, frontend_integration

improve documentation and tests
  docs/api.rst
  rotkehlchen/accounting/types.py
  rotkehlchen/globaldb/binance.py
  rotkehlchen/tests/unit/accounting/test_basic.py
  rotkehlchen/tests/unit/accounting/test_misc.py
Due: backend

Add test_unset_own_rpc_endpoint to flaky tests
  rotkehlchen/tests/api/test_substrate_manager.py
Due: backend

Remove unused function taxable_gain_for_sell
  rotkehlchen/utils/misc.py
Due: backend

Adds interface for price oracles
  rotkehlchen/chain/ethereum/oracles/saddle.py
  rotkehlchen/chain/ethereum/oracles/uniswap.py
  rotkehlchen/externalapis/coingecko.py
  rotkehlchen/externalapis/cryptocompare.py
  rotkehlchen/externalapis/interface.py
  rotkehlchen/inquirer.py
  rotkehlchen/interfaces.py
Due: backend

Add uniswap v3 oracle
  rotkehlchen/chain/ethereum/oracles/__init__.py
  rotkehlchen/chain/ethereum/oracles/uniswap_v3.py
  rotkehlchen/constants/ethereum.py
  rotkehlchen/data/eth_abi.json
  rotkehlchen/data/eth_contracts.json
  rotkehlchen/inquirer.py
Due: backend

Add uniswap v2 and saddle as oracles
  frontend/app/src/components/settings/OracleEntry.vue
  frontend/app/src/locales/en.json
  frontend/app/src/types/user.ts
  rotkehlchen/chain/ethereum/oracles/saddle.py
  rotkehlchen/chain/ethereum/oracles/uniswap.py
  rotkehlchen/chain/ethereum/oracles/uniswap_v3.py
  rotkehlchen/constants/ethereum.py
  rotkehlchen/data/eth_contracts.json
  rotkehlchen/inquirer.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/api/test_settings.py
  rotkehlchen/tests/fixtures/accounting.py
  rotkehlchen/tests/unit/test_defi_oracles.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend, frontend_unit, frontend_integration

Allow only for ethereum tokens in defi oracles
  rotkehlchen/chain/ethereum/oracles/saddle.py
  rotkehlchen/chain/ethereum/oracles/uniswap.py
  rotkehlchen/externalapis/coingecko.py
  rotkehlchen/externalapis/cryptocompare.py
  rotkehlchen/inquirer.py
  rotkehlchen/interfaces.py
  rotkehlchen/tests/unit/test_defi_oracles.py
Due: backend

Update changelog and docs
  docs/changelog.rst
  frontend/app/src/components/settings/OracleEntry.vue
  rotkehlchen/chain/ethereum/oracles/saddle.py
Due: backend, frontend_unit, frontend_integration

Use correct name for oracles
  frontend/app/src/components/settings/OracleEntry.vue
Due: frontend_unit, frontend_integration

Remove uneeded tests
  rotkehlchen/chain/ethereum/oracles/saddle.py
  rotkehlchen/chain/ethereum/oracles/uniswap.py
  rotkehlchen/errors/defi.py
  rotkehlchen/tests/unit/test_defi_oracles.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend

Remove unused ledger actions arg at exchange processing history
  rotkehlchen/exchanges/exchange.py
  rotkehlchen/history/events.py
  rotkehlchen/tests/exchanges/test_coinbase.py
  rotkehlchen/tests/unit/accounting/test_exchanges.py
  rotkehlchen/tests/utils/accounting.py
  rotkehlchen/tests/utils/exchanges.py
  rotkehlchen/tests/utils/history.py
Due: backend

fix: update autocomplete dropdown
  frontend/app/src/components/helper/BlockchainAccountSelector.vue
  frontend/app/src/components/helper/filter/ValidatorFilterInput.vue
  frontend/app/src/plugins/vuetify.ts
Due: frontend_unit, frontend_integration

Add snapshot currency conversion
  rotkehlchen/db/snapshots.py
  rotkehlchen/db/utils.py
  rotkehlchen/tests/api/test_snapshots.py
Due: backend

Adds custom command and changes some e2e tests
  frontend/app/tests/e2e/pages/history-page/ledger-action-page.ts
  frontend/app/tests/e2e/pages/history-page/trade-history-page.ts
  frontend/app/tests/e2e/pages/rotki-app.ts
  frontend/app/tests/e2e/specs/accounts-balances.spec.ts
  frontend/app/tests/e2e/specs/api-keys.spec.ts
  frontend/app/tests/e2e/specs/defi.spec.ts
  frontend/app/tests/e2e/specs/history/ledger-actions.spec.ts
  frontend/app/tests/e2e/specs/history/trade-history.spec.ts
  frontend/app/tests/e2e/specs/settings.spec.ts
  frontend/app/tests/e2e/support/commands.ts
  frontend/app/tests/e2e/support/types.d.ts
Due: frontend_unit, frontend_integration

Updates cypress and uses cypress action on ci
  .github/workflows/rotki_ci.yml
  .github/workflows/rotki_nightly.yml
  frontend/app/package.json
  frontend/package-lock.json
Due: frontend_unit, frontend_integration

Improve interface for oracles, documentation and error catching
  rotkehlchen/chain/ethereum/modules/yearn/vaults.py
  rotkehlchen/chain/ethereum/modules/yearn/vaultsv2.py
  rotkehlchen/chain/ethereum/oracles/saddle.py
  rotkehlchen/chain/ethereum/oracles/uniswap.py
  rotkehlchen/constants/misc.py
  rotkehlchen/externalapis/coingecko.py
  rotkehlchen/externalapis/cryptocompare.py
  rotkehlchen/inquirer.py
  rotkehlchen/interfaces.py
  rotkehlchen/tests/fixtures/accounting.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
