Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Change GET to POST for current asset prices in backend
  docs/api.rst
  rotkehlchen/api/v1/resources.py
  rotkehlchen/tests/api/test_current_assets_price.py
Due: backend

Use POST instead of GET for current prices in the frontend
  frontend/app/src/services/balances/balances-api.ts
Due: frontend_unit, frontend_integration

Removes extra v-containers and adjusts css
  frontend/app/src/App.vue
  frontend/app/src/components/AccountManagement.vue
  frontend/app/src/components/accounts/BlockchainBalances.vue
  frontend/app/src/components/accounts/ManualBalances.vue
  frontend/app/src/components/accounts/ManualBalancesList.vue
  frontend/app/src/components/accounts/exchanges/ExchangeBalances.vue
  frontend/app/src/components/dashboard/OverallBalances.vue
  frontend/app/src/components/defi/Borrowing.vue
  frontend/app/src/components/defi/Lending.vue
  frontend/app/src/components/defi/ModuleNotActive.vue
  frontend/app/src/components/defi/balancer/Balancer.vue
  frontend/app/src/components/defi/dex-trades/DexTradeHistory.vue
  frontend/app/src/components/defi/sushiswap/Sushiswap.vue
  frontend/app/src/components/defi/uniswap/Uniswap.vue
  frontend/app/src/components/helper/TabNavigation.vue
  frontend/app/src/components/history/ClosedTrades.vue
  frontend/app/src/components/settings/AssetBalances.vue
  frontend/app/src/components/settings/PremiumSettings.vue
  frontend/app/src/components/settings/api-keys/ExchangeSettings.vue
  frontend/app/src/components/settings/api-keys/ExternalServices.vue
  frontend/app/src/components/status/NodeStatusIndicator.vue
  frontend/app/src/components/status/ProgressIndicator.vue
  frontend/app/src/components/status/sync/SyncIndicator.vue
  frontend/app/src/views/Assets.vue
  frontend/app/src/views/Staking.vue
  frontend/app/src/views/Statistics.vue
  frontend/app/src/views/defi/Airdrops.vue
  frontend/app/src/views/defi/DecentralizedOverview.vue
  frontend/app/src/views/defi/deposits/Liquidity.vue
  frontend/app/src/views/history/DepositsWithdrawals.vue
  frontend/app/src/views/history/LedgerActions.vue
  frontend/app/src/views/history/TradeHistory.vue
  frontend/app/src/views/history/Transactions.vue
  frontend/app/src/views/settings/AccountingSettings.vue
  frontend/app/src/views/settings/GeneralSettings.vue
  frontend/app/src/views/settings/ModuleSettings.vue
  frontend/app/src/views/settings/UserSecuritySettings.vue
  frontend/app/src/views/staking/Eth2Page.vue
Due: frontend_unit, frontend_integration

Adds mobile layout improvements
  frontend/app/src/App.vue
  frontend/app/src/components/asset-manager/AssetManagement.vue
  frontend/app/src/components/base/BasePageHeader.vue
  frontend/app/src/components/dashboard/OverallBalances.vue
  frontend/app/src/components/defi/dex-trades/DexTradeHistory.vue
  frontend/app/src/components/helper/RefreshHeader.vue
  frontend/app/src/components/helper/TabNavigation.vue
  frontend/app/src/components/history/ClosedTrades.vue
  frontend/app/src/components/price-manager/PriceManagement.vue
  frontend/app/src/components/profitloss/Generate.vue
  frontend/app/src/components/settings/PremiumSettings.vue
  frontend/app/src/locales/en.json
  frontend/app/src/router/routes.ts
  frontend/app/src/store/settings/consts.ts
  frontend/app/src/views/AccountsBalances.vue
  frontend/app/src/views/Dashboard.vue
  frontend/app/src/views/ImportData.vue
  frontend/app/src/views/ProfitLossReport.vue
  frontend/app/src/views/Staking.vue
  frontend/app/src/views/Statistics.vue
  frontend/app/src/views/defi/DecentralizedFinance.vue
  frontend/app/src/views/history/DepositsWithdrawalsContent.vue
  frontend/app/src/views/history/History.vue
  frontend/app/src/views/history/LedgerActions.vue
  frontend/app/src/views/settings/ApiKeys.vue
  frontend/app/src/views/settings/Settings.vue
  frontend/app/src/views/staking/AdexPage.vue
  frontend/app/src/views/staking/Eth2Page.vue
  frontend/app/tests/e2e/pages/account-balances-page.ts
  frontend/app/tests/e2e/specs/accounts-balances.spec.ts
  frontend/app/tests/unit/components/helper/tab-navigation.spec.ts
  frontend/app/tests/unit/components/settings/premium-settings.spec.ts
Due: frontend_unit, frontend_integration

Remove unused function deserialize_asset_movement_category_from_db
  rotkehlchen/serialization/deserialize.py
Due: backend

Fixes broken e2e tests
  frontend/app/src/App.vue
  frontend/app/src/components/helper/TabNavigation.vue
  frontend/app/tests/e2e/pages/accounting-settings-page.ts
  frontend/app/tests/e2e/pages/api-keys-page.ts
  frontend/app/tests/e2e/pages/general-settings-page.ts
  frontend/app/tests/e2e/pages/user-security-settings-page.ts
  frontend/app/tests/e2e/specs/accounts-balances.spec.ts
Due: frontend_unit, frontend_integration

Enables tab arrows on mobile screens
  frontend/app/src/components/helper/TabNavigation.vue
Due: frontend_unit, frontend_integration

Upgrade flask to 2.0.1
  requirements.txt
Due: none

Merges node and balance icon on mobile
  frontend/app/src/App.vue
  frontend/app/src/components/accounts/ManualBalancesList.vue
  frontend/app/src/components/premium/NoPremiumPlaceholder.vue
  frontend/app/src/components/status/NodeStatus.vue
  frontend/app/src/components/status/NodeStatusIndicator.vue
  frontend/app/src/components/status/sync/SyncIndicator.vue
  frontend/app/tests/unit/components/status/node-status-indicator.spec.ts
Due: frontend_unit, frontend_integration

Updates changelog
  docs/changelog.rst
Due: none

Update some linting packages
  requirements_lint.txt
Due: none

Update pylint + astroid
  requirements_lint.txt
Due: none

Ignore all pylint unsusbcriptedable-object errors
  rotkehlchen/exchanges/gemini.py
  rotkehlchen/externalapis/coingecko.py
  rotkehlchen/externalapis/etherscan.py
  rotkehlchen/inquirer.py
Due: backend

Use enumerate instead of range and len
  rotkehlchen/chain/ethereum/modules/balancer/balancer.py
Due: backend

Update on_account_addition action for liquity
  rotkehlchen/chain/ethereum/modules/balancer/balancer.py
  rotkehlchen/chain/ethereum/modules/liquity/trove.py
Due: backend

Use global grpah error message
  rotkehlchen/chain/ethereum/modules/adex/adex.py
  rotkehlchen/chain/ethereum/modules/adex/utils.py
  rotkehlchen/chain/ethereum/modules/balancer/balancer.py
  rotkehlchen/chain/ethereum/modules/balancer/utils.py
  rotkehlchen/chain/ethereum/modules/yearn/vaultsv2.py
Due: backend

Add liquity events and staking
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/chain/ethereum/graph.py
  rotkehlchen/chain/ethereum/modules/__init__.py
  rotkehlchen/chain/ethereum/modules/liquity/graph.py
  rotkehlchen/chain/ethereum/modules/liquity/trove.py
  rotkehlchen/constants/assets.py
  rotkehlchen/constants/assets.py.template
  rotkehlchen/history/events.py
  rotkehlchen/serialization/serialize.py
  rotkehlchen/tests/api/test_liquity.py
  rotkehlchen/typing.py
Due: backend

Update api docs to add liquity
  docs/api.rst
Due: none

Add liquity protocol
  rotkehlchen/accounting/structures.py
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/chain/ethereum/graph.py
  rotkehlchen/chain/ethereum/modules/__init__.py
  rotkehlchen/chain/ethereum/modules/liquity/__init__.py
  rotkehlchen/chain/ethereum/modules/liquity/graph.py
  rotkehlchen/chain/ethereum/modules/liquity/trove.py
  rotkehlchen/chain/manager.py
  rotkehlchen/constants/assets.py
  rotkehlchen/constants/assets.py.template
  rotkehlchen/constants/ethereum.py
  rotkehlchen/data/eth_contracts.json
  rotkehlchen/serialization/serialize.py
  rotkehlchen/tests/api/test_liquity.py
  rotkehlchen/typing.py
Due: backend

Improve data quality on liquity mode and protect from deserailization errors
  rotkehlchen/chain/ethereum/graph.py
  rotkehlchen/chain/ethereum/modules/liquity/trove.py
  rotkehlchen/serialization/serialize.py
  rotkehlchen/tests/api/test_liquity.py
Due: backend

Update docs on liquity
  docs/api.rst
Due: none

Adds node bump script
  frontend/bump.js
  tools/scripts/bump.sh
Due: none

Updates bump script
  tools/scripts/bump.sh
Due: none

ignore pylint false positives
  rotkehlchen/api/rest.py
  rotkehlchen/chain/ethereum/modules/liquity/trove.py
  rotkehlchen/tests/api/test_liquity.py
Due: backend

Use correct number of steps
  rotkehlchen/history/events.py
Due: backend

Adds querying of sushiswap trades in history
  frontend/app/src/views/history/TradeHistory.vue
Due: frontend_unit, frontend_integration

Use id if greenlet is raw during logging
  rotkehlchen/logging.py
Due: backend

Log adapter should accept any kind of msg that can be turned to str
  rotkehlchen/logging.py
Due: backend

Upgrade marshmallow to 3.13.0
  requirements.txt
Due: none

Upgrade webargs to 8.0.1
  requirements.txt
Due: none

Update web3.py to 5.23.0
  requirements.txt
Due: none

Update substrate-interface to 0.13.12
  requirements.txt
Due: none

Update gevent + greenlet
  requirements.txt
Due: none

Update isort to 5.9.3
  requirements_lint.txt
Due: none

Pin urllib3 to 1.26.6
  requirements.txt
Due: none

Fix linting
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
Due: backend

Add a test for adding same EVM address for 2 different chains
  rotkehlchen/tests/api/test_blockchain.py
Due: backend

Upgrade the DB so chain accounts have account + chain as primary key
  rotkehlchen/db/schema.py
  rotkehlchen/db/settings.py
  rotkehlchen/db/upgrade_manager.py
  rotkehlchen/db/upgrades/v28_v29.py
Due: backend
