Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Fix typing in api/blockchain tests
  pyproject.toml
  rotkehlchen/tests/api/blockchain/test_bitcoin.py
  rotkehlchen/tests/api/blockchain/test_evm.py
  rotkehlchen/tests/api/blockchain/test_optimism.py
  rotkehlchen/tests/api/blockchain/test_substrate.py
Due: backend

style: consitent descritpions
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

Upgrade to web3.py 7.3.0
  requirements.txt
  rotkehlchen/chain/arbitrum_one/modules/arbitrum_one_bridge/decoder.py
  rotkehlchen/chain/avalanche/manager.py
  rotkehlchen/chain/ethereum/abi.py
  rotkehlchen/chain/ethereum/defi/price.py
  rotkehlchen/chain/ethereum/modules/eigenlayer/balances.py
  rotkehlchen/chain/ethereum/modules/eigenlayer/constants.py
  rotkehlchen/chain/ethereum/modules/eigenlayer/decoder.py
  rotkehlchen/chain/ethereum/modules/ens/decoder.py
  rotkehlchen/chain/ethereum/modules/juicebox/constants.py
  rotkehlchen/chain/ethereum/modules/optimism_bridge/decoder.py
  rotkehlchen/chain/evm/contracts.py
  rotkehlchen/chain/evm/decoding/aave/common.py
  rotkehlchen/chain/evm/decoding/aave/v2/decoder.py
  rotkehlchen/chain/evm/decoding/aave/v3/decoder.py
  rotkehlchen/chain/evm/decoding/cowswap/decoder.py
  rotkehlchen/chain/evm/decoding/eas/decoder.py
  rotkehlchen/chain/evm/decoding/gitcoinv2/decoder.py
  rotkehlchen/chain/evm/decoding/safe/decoder.py
  rotkehlchen/chain/evm/decoding/thegraph/constants.py
  rotkehlchen/chain/evm/decoding/thegraph/decoder.py
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/chain/gnosis/transactions.py
  rotkehlchen/serialization/serialize.py
  rotkehlchen/tests/api/test_makerdao_dsr.py
  rotkehlchen/tests/unit/test_ethereum_inquirer.py
  rotkehlchen/tests/utils/blockchain.py
  rotkehlchen/utils/misc.py
Due: backend

bump gevent and greenlet to 24.10.2 / 3.1.1
  requirements.txt
Due: none

Update dev-test google packages
  requirements_dev.txt
Due: none

Bump vcrpy
  requirements_dev.txt
Due: none

Bump typing packages
  requirements_lint.txt
Due: none

fix: clear historic price with 2 hour range
  docs/changelog.rst
  frontend/app/src/store/prices/historic.ts
  frontend/app/tests/unit/setup-files/setup.ts
  frontend/app/tests/unit/specs/store/prices/historic.spec.ts
Due: frontend_unit, frontend_integration

fix: prevent data migration reset message from displaying
  frontend/app/src/components/account-management/upgrade/UpgradeProgressDisplay.vue
Due: frontend_unit, frontend_integration

fix: clear historic price cache within 2 hour range (#8728)
  docs/changelog.rst
  frontend/app/src/store/prices/historic.ts
  frontend/app/tests/unit/setup-files/setup.ts
  frontend/app/tests/unit/specs/store/prices/historic.spec.ts
Due: frontend_unit, frontend_integration

fix: set the initial undecoded tx status relative to undecoded transactions
  frontend/app/src/composables/history/events/tx/decoding.ts
Due: frontend_unit, frontend_integration

fix: amount display for amount in notes with different asset
  frontend/app/src/composables/history/events/notes.ts
  frontend/app/tests/unit/specs/composables/history/notes.spec.ts
Due: frontend_unit, frontend_integration

chore: remove vue-i18n-bridge
  frontend/app/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

refactor: change usePaginationFilters signature, move optional parameters
  frontend/app/src/components/accounts/AccountBalances.vue
  frontend/app/src/components/accounts/AccountGroupDetails.vue
  frontend/app/src/components/accounts/EthStakingValidators.vue
  frontend/app/src/components/accounts/balances/NonFungibleBalances.vue
  frontend/app/src/components/accounts/manual-balances/ManualBalanceTable.vue
  frontend/app/src/components/address-book-manager/AddressBookManagement.vue
  frontend/app/src/components/asset-manager/cex-mapping/ManageCexMappingContent.vue
  frontend/app/src/components/asset-manager/custom/CustomAssetContent.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetContent.vue
  frontend/app/src/components/calendar/CalendarView.vue
  frontend/app/src/components/dashboard/NftBalanceTable.vue
  frontend/app/src/components/dashboard/edit-snapshot/EditBalancesSnapshotAssetPriceForm.vue
  frontend/app/src/components/exchanges/BinanceSavingDetail.vue
  frontend/app/src/components/history/deposits-withdrawals/DepositsWithdrawalsContent.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/history/trades/ClosedTrades.vue
  frontend/app/src/components/notes/UserNotesList.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleConflictsDialog.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleSetting.vue
  frontend/app/src/composables/filter-paginate.ts
  frontend/app/tests/unit/specs/composables/accounts/filter-paginate-exchange-balances.spec.ts
  frontend/app/tests/unit/specs/composables/accounts/filter-paginate-nfts.spec.ts
  frontend/app/tests/unit/specs/composables/assets/filter-paginate-assets.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-asset-movements.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-trades.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-transactions.spec.ts
Due: frontend_unit, frontend_integration

fix: amount display for amount in notes with different asset (#8730)
  frontend/app/src/composables/history/events/notes.ts
  frontend/app/tests/unit/specs/composables/history/notes.spec.ts
Due: frontend_unit, frontend_integration

refactor: cleanup redundant toString calls
  frontend/app/src/components/dashboard/edit-snapshot/EditBalancesSnapshotAssetPriceForm.vue
  frontend/app/src/composables/assets/index.ts
  frontend/app/src/composables/assets/nft.ts
  frontend/app/src/composables/filters/kraken-staking.ts
  frontend/app/src/composables/history/events/index.ts
  frontend/app/src/store/assets/ignored.ts
  frontend/app/src/store/assets/whitelisted.ts
  frontend/app/src/store/backend-messages.ts
  frontend/app/src/store/balances/exchanges.ts
  frontend/app/src/store/balances/prices.ts
  frontend/app/src/store/blockchain/accounts/addresses-names.ts
  frontend/app/src/store/defi/liquity/index.ts
  frontend/app/src/store/defi/sushiswap/index.ts
  frontend/app/src/store/defi/uniswap/index.ts
  frontend/app/src/store/exchanges/index.ts
  frontend/app/src/store/session/index.ts
  frontend/app/src/store/session/periodic.ts
  frontend/app/src/store/session/queried-addresses.ts
  frontend/app/src/store/session/watchers.ts
  frontend/app/src/store/settings/index.ts
  frontend/app/src/store/staking/kraken.ts
  frontend/app/src/store/statistics/index.ts
Due: frontend_unit, frontend_integration

Improve checks on yearn cache
  rotkehlchen/api/rest.py
  rotkehlchen/chain/ethereum/modules/yearn/decoder.py
  rotkehlchen/chain/ethereum/modules/yearn/utils.py
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/external_apis/test_yearn.py
  rotkehlchen/tests/unit/test_protocol_balances.py
  rotkehlchen/tests/utils/decoders.py
Due: backend

Refactor pagination composable (#8734)
  frontend/app/package.json
  frontend/app/src/components/accounts/AccountBalances.vue
  frontend/app/src/components/accounts/AccountGroupDetails.vue
  frontend/app/src/components/accounts/EthStakingValidators.vue
  frontend/app/src/components/accounts/balances/NonFungibleBalances.vue
  frontend/app/src/components/accounts/manual-balances/ManualBalanceTable.vue
  frontend/app/src/components/address-book-manager/AddressBookManagement.vue
  frontend/app/src/components/asset-manager/cex-mapping/ManageCexMappingContent.vue
  frontend/app/src/components/asset-manager/custom/CustomAssetContent.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetContent.vue
  frontend/app/src/components/calendar/CalendarView.vue
  frontend/app/src/components/dashboard/NftBalanceTable.vue
  frontend/app/src/components/dashboard/edit-snapshot/EditBalancesSnapshotAssetPriceForm.vue
  frontend/app/src/components/exchanges/BinanceSavingDetail.vue
  frontend/app/src/components/history/deposits-withdrawals/DepositsWithdrawalsContent.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/history/trades/ClosedTrades.vue
  frontend/app/src/components/notes/UserNotesList.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleConflictsDialog.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleSetting.vue
  frontend/app/src/composables/filter-paginate.ts
  frontend/app/tests/unit/specs/composables/accounts/filter-paginate-exchange-balances.spec.ts
  frontend/app/tests/unit/specs/composables/accounts/filter-paginate-nfts.spec.ts
  frontend/app/tests/unit/specs/composables/assets/filter-paginate-assets.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-asset-movements.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-trades.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-transactions.spec.ts
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

refactor: cleanup redundant toString calls
  frontend/app/src/composables/assets/index.ts
  frontend/app/src/composables/assets/nft.ts
  frontend/app/src/composables/filters/kraken-staking.ts
  frontend/app/src/composables/history/events/index.ts
  frontend/app/src/store/assets/ignored.ts
  frontend/app/src/store/assets/whitelisted.ts
  frontend/app/src/store/backend-messages.ts
  frontend/app/src/store/balances/exchanges.ts
  frontend/app/src/store/balances/prices.ts
  frontend/app/src/store/blockchain/accounts/addresses-names.ts
  frontend/app/src/store/defi/liquity/index.ts
  frontend/app/src/store/defi/sushiswap/index.ts
  frontend/app/src/store/defi/uniswap/index.ts
  frontend/app/src/store/exchanges/index.ts
  frontend/app/src/store/session/index.ts
  frontend/app/src/store/session/periodic.ts
  frontend/app/src/store/session/queried-addresses.ts
  frontend/app/src/store/session/watchers.ts
  frontend/app/src/store/settings/index.ts
  frontend/app/src/store/staking/kraken.ts
  frontend/app/src/store/statistics/index.ts
Due: frontend_unit, frontend_integration

Skip retrieving yearn vault inception
  rotkehlchen/chain/ethereum/modules/yearn/utils.py
  rotkehlchen/tests/external_apis/test_yearn.py
Due: backend

Add reloading of yearn vaults
  rotkehlchen/chain/ethereum/modules/yearn/decoder.py
Due: backend

EURe == EUR price for current and historical
  docs/changelog.rst
  rotkehlchen/globaldb/handler.py
  rotkehlchen/history/price.py
  rotkehlchen/inquirer.py
Due: backend

Add changelog entry for yearn bugfixes changes
  docs/changelog.rst
Due: none

fix: latest price hack
  frontend/app/src/store/balances/prices.ts
Due: frontend_unit, frontend_integration

Fix typing in tests/api/test_a*
  pyproject.toml
  rotkehlchen/tests/api/test_accounting_rules.py
  rotkehlchen/tests/api/test_assets.py
  rotkehlchen/tests/api/test_assets_updates.py
  rotkehlchen/tests/api/test_async.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
