Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

fix: query Sonic native balances without scanner
  rotkehlchen/chain/sonic/node_inquirer.py
  rotkehlchen/data/global.db
Due: backend

fix: satisfy mypy on generalized Balancer decoders
  rotkehlchen/chain/evm/decoding/balancer/balancer_cache.py
  rotkehlchen/chain/evm/decoding/balancer/constants.py
  rotkehlchen/chain/evm/decoding/balancer/v2/decoder.py
  rotkehlchen/chain/evm/decoding/balancer/v3/decoder.py
  rotkehlchen/chain/sonic/constants.py
  rotkehlchen/chain/sonic/modules/balancer/v2/decoder.py
  rotkehlchen/chain/sonic/modules/balancer/v3/decoder.py
Due: backend

docs: link Sonic changelog entry to issue #9110
  docs/changelog.rst
Due: none

refactor(frontend): validate password confirmation with zod
  frontend/app/src/modules/auth/login/PasswordConfirmationDialog.spec.ts
  frontend/app/src/modules/auth/login/PasswordConfirmationDialog.vue
Due: frontend_unit, frontend_integration

refactor(frontend): validate premium setup with zod
  frontend/app/src/modules/auth/create-account/premium/CreateAccountPremiumForm.vue
  frontend/app/src/modules/auth/create-account/premium/premium-setup-form.ts
Due: frontend_unit, frontend_integration

refactor(frontend): validate account credentials with zod
  frontend/app/src/modules/auth/create-account/credentials/CreateAccountCredentialsForm.vue
  frontend/app/src/modules/auth/create-account/credentials/credentials-form.ts
  frontend/app/src/modules/auth/credentials-fields.spec.ts
  frontend/app/src/modules/auth/credentials-fields.ts
Due: frontend_unit, frontend_integration

fix(frontend): accept localhost as a custom backend url
  frontend/app/src/modules/auth/login/LoginForm.spec.ts
  frontend/app/src/modules/auth/login/login-form.spec.ts
  frontend/app/src/modules/auth/login/login-form.ts
Due: frontend_unit, frontend_integration

refactor(frontend): validate the login form with zod
  frontend/app/src/modules/auth/login/LoginForm.vue
  frontend/app/src/modules/auth/login/login-form.spec.ts
  frontend/app/src/modules/auth/login/login-form.ts
Due: frontend_unit, frontend_integration

fix(frontend): keep a login error through the username restore
  frontend/app/src/modules/auth/login/LoginForm.spec.ts
  frontend/app/src/modules/auth/login/LoginForm.vue
Due: frontend_unit, frontend_integration

fix(dev): honour the instance data directory in electron
  frontend/app/electron/main/config.spec.ts
  frontend/app/electron/main/config.ts
Due: frontend_unit, frontend_integration

refactor(starling): share one stop sequence
  frontend/app/electron/main/starling-handler.ts
  frontend/app/scripts/start-starling.ts
  frontend/app/shared/starling/starling-launch.spec.ts
  frontend/app/shared/starling/starling-launch.ts
  frontend/scripts/dev/starling.ts
Due: frontend_unit, frontend_integration

Skip kraken notification on peer reset error
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/tests/exchanges/test_kraken.py
Due: backend

Avoid notification for frankencoin assets
  rotkehlchen/chain/evm/decoding/frankencoin/savings/decoder.py
Due: backend

Decode the ftPUT position NFT as the wrapped position it is
  rotkehlchen/chain/evm/decoding/flying_tulip/decoder.py
  rotkehlchen/chain/evm/decoding/flying_tulip/put/constants.py
  rotkehlchen/chain/evm/decoding/flying_tulip/put/decoder.py
  rotkehlchen/tests/unit/decoders/test_flying_tulip_put.py
Due: backend

Keep a deposit made for someone else on the payer's wallet
  rotkehlchen/chain/evm/decoding/flying_tulip/lend/decoder.py
  rotkehlchen/tests/unit/decoders/test_flying_tulip_lend.py
Due: backend

Decode the relayer fee of a queued unstake as a fee
  rotkehlchen/chain/evm/decoding/flying_tulip/ftusd/decoder.py
  rotkehlchen/tests/unit/decoders/test_flying_tulip_ftusd.py
Due: backend

Ask each Flying Tulip market only about its own users
  rotkehlchen/chain/evm/decoding/flying_tulip/ftusd/balances.py
  rotkehlchen/chain/evm/decoding/flying_tulip/lend/balances.py
  rotkehlchen/tests/unit/test_protocol_balances.py
Due: backend

Find lending deposits made for someone else
  rotkehlchen/chain/evm/decoding/flying_tulip/lend/constants.py
  rotkehlchen/chain/evm/decoding/flying_tulip/lend/decoder.py
  rotkehlchen/chain/evm/decoding/flying_tulip/lend/discovery.py
  rotkehlchen/db/cache.py
  rotkehlchen/tasks/manager.py
  rotkehlchen/tasks/utils.py
  rotkehlchen/tests/unit/decoders/test_flying_tulip_lend.py
Due: backend

fix(decoding): guard unloaded protocol caches
  rotkehlchen/chain/ethereum/modules/convex/decoder.py
  rotkehlchen/chain/evm/decoding/balancer/decoder.py
  rotkehlchen/chain/evm/decoding/curve/decoder.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/chain/evm/decoding/gearbox/decoder.py
  rotkehlchen/chain/evm/decoding/interfaces.py
  rotkehlchen/chain/evm/decoding/velodrome/decoder.py
  rotkehlchen/tests/unit/test_evm_tx_decoding.py
Due: backend

fix(colibri): stop two tests fixturing a shippable asset
  colibri/src/api/assets.rs
  colibri/src/globaldb/assets.rs
Due: none

ci: run the colibri job on a shipped database change
  .github/workflows/rotki_ci.yml
Due: none

feat(colibri): let an asset search ask for nfts alone
  colibri/src/api/assets.rs
  colibri/src/api/schemas/assets.rs
Due: none

feat(api): let an asset search ask for nfts alone
  docs/api.rst
  docs/dev_changelog.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/services/assets.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/assets/nft_handling.py
  rotkehlchen/db/search_assets.py
  rotkehlchen/tests/api/test_assets.py
  rotkehlchen/tests/unit/test_search.py
Due: backend

refactor(assets): state what a picker may offer in one prop
  frontend/app/src/locales/en.json
  frontend/app/src/modules/accounts/manual-balances/ManualBalancesForm.vue
  frontend/app/src/modules/assets/admin/MergeDialog.vue
  frontend/app/src/modules/assets/api/use-asset-info-api.spec.ts
  frontend/app/src/modules/assets/api/use-asset-info-api.ts
  frontend/app/src/modules/assets/nft-handling.ts
  frontend/app/src/modules/assets/prices/latest/LatestPriceContent.vue
  frontend/app/src/modules/assets/prices/latest/LatestPriceForm.vue
  frontend/app/src/modules/dashboard/edit-snapshot/EditBalancesSnapshotAssetPriceForm.vue
  frontend/app/src/modules/history/balances/BalanceDivergenceView.vue
  frontend/app/src/modules/history/management/forms/HistoryEventAssetPriceForm.vue
  frontend/app/src/modules/history/management/forms/common/SimpleFeeEntry.vue
  frontend/app/src/modules/shell/components/inputs/AssetSelect.spec.ts
  frontend/app/src/modules/shell/components/inputs/AssetSelect.vue
  frontend/app/src/modules/shell/components/inputs/use-asset-search.spec.ts
  frontend/app/src/modules/shell/components/inputs/use-asset-search.ts
Due: frontend_unit, frontend_integration

fix(assets): re-scope an asset search when nft handling changes
  frontend/app/src/modules/shell/components/inputs/use-asset-search.spec.ts
  frontend/app/src/modules/shell/components/inputs/use-asset-search.ts
Due: frontend_unit, frontend_integration

refactor(assets): take the field variant instead of an outlined flag
  frontend/app/src/modules/accounts/manual-balances/ManualBalancesForm.vue
  frontend/app/src/modules/accounts/manual-balances/ManualBalancesPriceForm.vue
  frontend/app/src/modules/assets/admin/MergeDialog.vue
  frontend/app/src/modules/assets/admin/cex-mapping/ManageCexMappingForm.vue
  frontend/app/src/modules/assets/admin/counterparty-mapping/ManageCounterpartyMappingForm.vue
  frontend/app/src/modules/assets/admin/managed/ManagedAssetForm.vue
  frontend/app/src/modules/assets/prices/components/oracle/OracleCacheContent.vue
  frontend/app/src/modules/assets/prices/historic/HistoricPriceForm.vue
  frontend/app/src/modules/assets/prices/latest/LatestPriceContent.vue
  frontend/app/src/modules/assets/prices/latest/LatestPriceForm.vue
  frontend/app/src/modules/dashboard/edit-snapshot/EditBalancesSnapshotAssetPriceForm.vue
  frontend/app/src/modules/history/balances/BalanceDivergenceView.vue
  frontend/app/src/modules/history/management/forms/HistoryEventAssetPriceForm.vue
  frontend/app/src/modules/history/management/forms/common/AssetMovementFeeEntry.vue
  frontend/app/src/modules/history/management/forms/common/SimpleFeeEntry.vue
  frontend/app/src/modules/reports/ReportProfitLossEventAction.vue
  frontend/app/src/modules/settings/data-security/data-management/PurgeImagesCache.vue
  frontend/app/src/modules/shell/components/inputs/AssetSelect.spec.ts
  frontend/app/src/modules/shell/components/inputs/AssetSelect.vue
Due: frontend_unit, frontend_integration

feat(snapshot): pick an nft instead of typing its identifier
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/ru.json
  frontend/app/src/modules/assets/api/use-asset-info-api.ts
  frontend/app/src/modules/dashboard/edit-snapshot/EditBalancesSnapshotAssetPriceForm.vue
  frontend/app/src/modules/shell/components/inputs/AssetSelect.spec.ts
  frontend/app/src/modules/shell/components/inputs/AssetSelect.vue
  frontend/eslint.config.js
Due: frontend_unit, frontend_integration

refactor(frontend): extract the managed asset payload builder
  frontend/app/src/modules/assets/admin/managed/ManagedAssetForm.vue
  frontend/app/src/modules/assets/admin/managed/managed-asset-payload.spec.ts
  frontend/app/src/modules/assets/admin/managed/managed-asset-payload.ts
Due: frontend_unit, frontend_integration

fix(frontend): keep an edit made during a token lookup
  frontend/app/src/modules/assets/admin/managed/use-managed-token-lookup.spec.ts
  frontend/app/src/modules/assets/admin/managed/use-managed-token-lookup.ts
Due: frontend_unit, frontend_integration

refactor(frontend): extract the managed token lookup
  frontend/app/src/modules/assets/admin/managed/ManagedAssetForm.vue
  frontend/app/src/modules/assets/admin/managed/managed-asset-payload.spec.ts
  frontend/app/src/modules/assets/admin/managed/use-managed-token-lookup.spec.ts
  frontend/app/src/modules/assets/admin/managed/use-managed-token-lookup.ts
Due: frontend_unit, frontend_integration

refactor(frontend): lift the managed form's field plumbing out
  frontend/app/src/modules/assets/admin/asset-field-models.spec.ts
  frontend/app/src/modules/assets/admin/asset-field-models.ts
  frontend/app/src/modules/assets/admin/managed/ManagedAssetForm.vue
  frontend/app/src/modules/assets/admin/managed/asset-kind.ts
  frontend/app/src/modules/assets/admin/managed/use-managed-asset-save.spec.ts
  frontend/app/src/modules/assets/admin/managed/use-managed-asset-save.ts
  frontend/app/src/modules/assets/admin/solana-token-migration/SolanaTokenMigrationForm.vue
Due: frontend_unit, frontend_integration
