Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

refactor: replace useForm approach for exchange management
  frontend/app/auto-imports.d.ts
  frontend/app/src/components/dialogs/BigDialog.vue
  frontend/app/src/components/settings/api-keys/exchange/ExchangeKeysForm.vue
  frontend/app/src/components/settings/api-keys/exchange/ExchangeKeysFormDialog.vue
  frontend/app/src/composables/api/balances/exchanges.ts
  frontend/app/src/composables/settings/api-keys/exchanges/form.ts
  frontend/app/src/locales/en.json
  frontend/app/src/pages/api-keys/exchanges/index.vue
  frontend/app/src/store/exchanges/index.ts
  frontend/app/src/types/exchanges.ts
  frontend/app/src/utils/model/index.ts
Due: frontend_unit, frontend_integration

Fix balances in tests
  docs/changelog.rst
  rotkehlchen/chain/evm/tokens.py
  rotkehlchen/tests/api/test_compound.py
Due: backend

Create balance scanner contract in memory
  rotkehlchen/chain/arbitrum_one/node_inquirer.py
  rotkehlchen/chain/base/node_inquirer.py
  rotkehlchen/chain/ethereum/node_inquirer.py
  rotkehlchen/chain/evm/base_contracts.py
  rotkehlchen/chain/gnosis/node_inquirer.py
  rotkehlchen/chain/optimism/node_inquirer.py
  rotkehlchen/chain/polygon_pos/node_inquirer.py
  rotkehlchen/chain/scroll/node_inquirer.py
  rotkehlchen/tests/utils/blockchain.py
  rotkehlchen/tests/utils/ethereum.py
Due: backend

Use new balance scanner contract
  rotkehlchen/chain/arbitrum_one/node_inquirer.py
  rotkehlchen/chain/base/node_inquirer.py
  rotkehlchen/chain/ethereum/interfaces/balances.py
  rotkehlchen/chain/ethereum/node_inquirer.py
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/chain/evm/tokens.py
  rotkehlchen/chain/gnosis/node_inquirer.py
  rotkehlchen/chain/optimism/node_inquirer.py
  rotkehlchen/chain/polygon_pos/node_inquirer.py
  rotkehlchen/chain/scroll/node_inquirer.py
  rotkehlchen/tests/api/blockchain/test_optimism.py
  rotkehlchen/tests/api/test_aave.py
  rotkehlchen/tests/unit/test_blockchain_balances.py
  rotkehlchen/tests/unit/test_protocol_balances.py
  rotkehlchen/tests/utils/blockchain.py
  rotkehlchen/tests/utils/ethereum.py
Due: backend

Fix typing in tests/api/test_i
  rotkehlchen/tests/api/test_icons.py
  rotkehlchen/tests/api/test_ignored_actions.py
Due: backend

Fix typing in tests/api/test_l*
  rotkehlchen/tests/api/test_liquity.py
  rotkehlchen/tests/api/test_locations.py
Due: backend

linted: Fix typing in tests/api/test_i
  rotkehlchen/tests/api/test_icons.py
  rotkehlchen/tests/api/test_ignored_actions.py
Due: backend

fixed typo on line 67
  rotkehlchen/tests/api/test_icons.py
Due: backend

remove newline and corrected formating
  rotkehlchen/tests/api/test_icons.py
Due: backend

Decode walletconnect airdrop and stake transactions
  docs/changelog.rst
  frontend/app/public/assets/images/protocols/walletconnect.svg
  rotkehlchen/chain/evm/decoding/airdrops.py
  rotkehlchen/chain/optimism/modules/walletconnect/__init__.py
  rotkehlchen/chain/optimism/modules/walletconnect/constants.py
  rotkehlchen/chain/optimism/modules/walletconnect/decoder.py
  rotkehlchen/tests/unit/decoders/test_walletconnect.py
Due: backend, frontend_unit, frontend_integration

fix: show quote amount for trades view
  docs/changelog.rst
  frontend/app/src/components/history/trades/ClosedTrades.vue
  frontend/app/src/locales/en.json
  frontend/app/tests/e2e/pages/history-page/trade-history-page.ts
Due: frontend_unit, frontend_integration

fix: show quote amount for trades view (#8957)
  docs/changelog.rst
  frontend/app/src/components/history/trades/ClosedTrades.vue
  frontend/app/src/locales/en.json
  frontend/app/tests/e2e/pages/history-page/trade-history-page.ts
Due: frontend_unit, frontend_integration

feat: blockchain balances filter by chains
  docs/changelog.rst
  frontend/app/src/components/AssetBalances.vue
  frontend/app/src/components/EvmNativeTokenBreakdown.vue
  frontend/app/src/components/accounts/blockchain/ChainSelect.vue
  frontend/app/src/components/address-book-manager/AddressBookManagement.vue
  frontend/app/src/components/common/ListItem.vue
  frontend/app/src/components/dashboard/DashboardAssetTable.vue
  frontend/app/src/components/dashboard/DashboardExpandableTable.vue
  frontend/app/src/components/dashboard/NftBalanceTable.vue
  frontend/app/src/components/dashboard/VisibleColumnsSelector.vue
  frontend/app/src/components/dashboard/liquity-provider/LiquidityProviderBalanceTable.vue
  frontend/app/src/composables/blockchain/balances/aggregated.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/balances/blockchain/[[tab]].vue
  frontend/app/src/store/blockchain/index.ts
  frontend/app/src/types/settings/frontend-settings.ts
  frontend/app/src/utils/array.ts
  frontend/app/src/utils/blockchain/accounts/index.ts
  frontend/app/tests/e2e/pages/account-balances-page/blockchain-balances-page.ts
  frontend/app/tests/unit/specs/store/settings/frontend.spec.ts
  frontend/app/tests/unit/specs/types/user.spec.ts
Due: frontend_unit, frontend_integration

Typing api l (#8963)
  rotkehlchen/tests/api/test_liquity.py
  rotkehlchen/tests/api/test_locations.py
Due: backend

Limit requests for slow nodes and save progress
  docs/changelog.rst
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/chain/gnosis/transactions.py
  rotkehlchen/tests/integration/test_gnosischain.py
Due: backend

Detect staked WCT balances
  docs/changelog.rst
  rotkehlchen/api/rest.py
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/ethereum/interfaces/balances.py
  rotkehlchen/chain/optimism/modules/walletconnect/balances.py
  rotkehlchen/premium/premium.py
  rotkehlchen/tests/unit/test_protocol_balances.py
Due: backend

Also properly decode WCT unstake, lock increase and lock update
  rotkehlchen/chain/optimism/modules/walletconnect/balances.py
  rotkehlchen/chain/optimism/modules/walletconnect/decoder.py
  rotkehlchen/tests/unit/decoders/test_walletconnect.py
Due: backend

style: improve asset icons and protocol icons
  frontend/app/public/assets/images/protocols/ens.svg
  frontend/app/public/assets/images/protocols/ethereum.svg
  frontend/app/public/assets/images/protocols/extrafi.svg
  frontend/app/public/assets/images/protocols/polygon_pos.svg
  frontend/app/public/assets/images/protocols/uniswap.svg
  frontend/app/src/components/accounts/IconTokenDisplay.vue
  frontend/app/src/components/common/ListItem.vue
  frontend/app/src/components/helper/AssetDetailsBase.vue
  frontend/app/src/components/helper/display/icons/AssetIcon.vue
  frontend/app/src/components/helper/display/icons/GeneratedIcon.vue
  frontend/app/src/components/history/events/HistoryEventTypeCombination.vue
  frontend/app/src/components/history/events/HistoryEventTypeCounterparty.vue
  frontend/app/src/components/inputs/AssetSelect.vue
  frontend/app/src/components/table-filter/SuggestedItem.vue
  frontend/app/tests/unit/specs/components/table-filter/suggested-item.spec.ts
Due: frontend_unit, frontend_integration

fix: prevent false subscription expiry alerts on poor network
  docs/changelog.rst
  rotkehlchen/premium/premium.py
  rotkehlchen/tests/api/test_users.py
  rotkehlchen/tests/fixtures/messages.py
  rotkehlchen/tests/fixtures/taskmanager.py
  rotkehlchen/tests/unit/test_tasks_manager.py
Due: backend

Fix wrong range queried in gnosis logs
  docs/changelog.rst
  rotkehlchen/chain/evm/transactions.py
  rotkehlchen/chain/gnosis/transactions.py
  rotkehlchen/tests/integration/test_gnosischain.py
Due: backend

Bump version: 1.36.0 → 1.36.1
  .bumpversion.cfg
  docs/conf.py
  frontend/app/package.json
  pyproject.toml
Due: frontend_unit, frontend_integration

Add 1.36.1 to the changelog
  docs/changelog.rst
Due: none

style: make generated icon looks consistent with other icon in dark mode
  docs/changelog.rst
  frontend/app/src/components/helper/display/icons/AssetIcon.vue
  frontend/app/src/components/helper/display/icons/GeneratedIcon.vue
  frontend/app/src/main.scss
Due: frontend_unit, frontend_integration

style: make generated icon looks consistent with other in dark mode
  docs/changelog.rst
  frontend/app/src/components/helper/display/icons/AssetIcon.vue
  frontend/app/src/components/helper/display/icons/GeneratedIcon.vue
  frontend/app/src/main.scss
Due: frontend_unit, frontend_integration

Removed old query ranges for gnosis
  rotkehlchen/chain/gnosis/transactions.py
  rotkehlchen/data_migrations/migrations/migrations_19.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tests/api/blockchain/test_base.py
  rotkehlchen/tests/data_migrations/test_migrations.py
Due: backend

add balances and accountant for aura finance
  frontend/app/auto-imports.d.ts
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/ethereum/interfaces/balances.py
  rotkehlchen/chain/ethereum/modules/aura_finance/accountant.py
  rotkehlchen/chain/evm/decoding/aura_finance/balances.py
  rotkehlchen/chain/evm/decoding/aura_finance/constants.py
  rotkehlchen/chain/evm/decoding/aura_finance/utils.py
  rotkehlchen/inquirer.py
  rotkehlchen/tests/unit/decoders/test_main.py
  rotkehlchen/tests/unit/test_protocol_balances.py
  rotkehlchen/types.py
Due: backend, frontend_unit, frontend_integration

Reset coinbase ts query to events are requeried
  rotkehlchen/data_migrations/migrations/migrations_19.py
Due: backend

Fix bug where coinbase deposits appeared as withdrawals
  docs/changelog.rst
  rotkehlchen/exchanges/coinbase.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
