Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Fix issue creating folder in the wrong path
  docs/changelog.rst
  rotkehlchen/api/rest.py
  rotkehlchen/chain/ethereum/airdrops.py
  rotkehlchen/data_migrations/constants.py
  rotkehlchen/data_migrations/manager.py
  rotkehlchen/data_migrations/migrations/migrations_19.py
  rotkehlchen/tasks/calendar.py
  rotkehlchen/tests/data_migrations/test_migrations.py
  rotkehlchen/tests/unit/test_calendar_reminders.py
  rotkehlchen/tests/unit/test_ethereum_airdrops.py
Due: backend

Fix some nitpicks
  docs/changelog.rst
  rotkehlchen/constants/misc.py
  rotkehlchen/tests/data_migrations/test_migrations.py
Due: backend

refactor: rename price prop and adjust latest asset
  frontend/app/src/components/AssetBalances.vue
  frontend/app/src/components/GlobalSearch.vue
  frontend/app/src/components/accounts/balances/NonFungibleBalances.vue
  frontend/app/src/components/accounts/manual-balances/ManualBalanceTable.vue
  frontend/app/src/components/accounts/manual-balances/ManualBalancesPriceForm.vue
  frontend/app/src/components/assets/AssetValueRow.vue
  frontend/app/src/components/dashboard/DashboardAssetTable.vue
  frontend/app/src/components/dashboard/NftBalanceTable.vue
  frontend/app/src/components/dashboard/liquity-provider/LiquidityProviderBalanceDetails.vue
  frontend/app/src/components/display/amount/AmountDisplay.vue
  frontend/app/src/components/price-manager/latest/LatestPriceContent.vue
  frontend/app/src/composables/balances/aggregated.ts
  frontend/app/src/composables/balances/index.ts
  frontend/app/src/composables/balances/sorting.ts
  frontend/app/src/composables/price-manager/latest/index.ts
  frontend/app/src/store/balances/manual.ts
  frontend/app/src/store/balances/prices.ts
  frontend/app/src/types/blockchain/accounts.ts
  frontend/app/src/types/manual-balances.ts
  frontend/app/src/types/nfbalances.ts
  frontend/app/src/types/prices.ts
  frontend/app/src/utils/balances/manual/manual-balances.ts
  frontend/app/src/utils/prices.ts
  frontend/app/tests/unit/specs/components/display/amount-display.spec.ts
  frontend/app/tests/unit/specs/composables/balances/breakdown.spec.ts
  frontend/app/tests/unit/specs/store/balances/aggregated.spec.ts
  frontend/app/tests/unit/specs/store/balances/exchanges.spec.ts
  frontend/app/tests/unit/specs/store/balances/manual.spec.ts
  frontend/app/tests/unit/specs/store/balances/prices.spec.ts
  frontend/app/tests/unit/specs/store/blockchain/blockchain-store.spec.ts
  frontend/common/src/balances/index.ts
Due: frontend_unit, frontend_integration

refactor: rename collection total usd value to total value
  frontend/app/src/components/accounts/AccountBalancesTable.vue
  frontend/app/src/components/accounts/EthStakingValidators.vue
  frontend/app/src/components/accounts/balances/NonFungibleBalances.vue
  frontend/app/src/components/accounts/manual-balances/ManualBalanceTable.vue
  frontend/app/src/components/dashboard/NftBalanceTable.vue
  frontend/app/src/components/exchanges/BinanceSavingDetail.vue
  frontend/app/src/components/helper/CollectionHandler.vue
  frontend/app/src/types/collection.ts
  frontend/app/src/utils/balances/manual/manual-balances.ts
  frontend/app/src/utils/blockchain/accounts/index.ts
  frontend/app/src/utils/blockchain/accounts/validator.ts
  frontend/app/src/utils/calculation.ts
  frontend/app/src/utils/collection.ts
Due: frontend_unit, frontend_integration

fix: ETH was force selected on account editing
  frontend/app/src/components/accounts/blockchain/XpubInput.vue
  frontend/app/src/components/accounts/management/AccountForm.vue
  frontend/app/src/composables/blockchain/accounts/index.ts
Due: frontend_unit, frontend_integration

Update README.md
  README.md
Due: none

Bump web3py to 7.5.0
  requirements.txt
Due: none

docs: Readme (#8893)
  README.md
Due: none

Bump gevent to 24.11.1
  requirements.txt
Due: none

fix starknet price before 09/05/24
  docs/changelog.rst
  rotkehlchen/externalapis/coingecko.py
  rotkehlchen/externalapis/cryptocompare.py
  rotkehlchen/tests/external_apis/test_cryptocompare.py
  rotkehlchen/tests/integration/test_price_history.py
Due: backend

fix typos
  .github/workflows/task_backend_tests.yml
  docs/api.rst
  frontend/dev-proxy/README.md
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/evm/decoding/gitcoinv2/decoder.py
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/api/test_statistics.py
  rotkehlchen/tests/unit/decoders/test_gnosis_pay.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend

Typo Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

filtration on api level for usd_threshold
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/tests/api/test_balances.py
Due: backend

Crypto For All
  saifulazley
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix: issue for expanded button in account table
  docs/changelog.rst
  frontend/app/src/components/accounts/AccountBalances.vue
  frontend/app/src/composables/use-pagination-filter/index.ts
Due: frontend_unit, frontend_integration

fix: issue for expanding button in account table (#8901)
  docs/changelog.rst
  frontend/app/src/components/accounts/AccountBalances.vue
  frontend/app/src/composables/use-pagination-filter/index.ts
Due: frontend_unit, frontend_integration

Bump flask and polars
  requirements.txt
Due: none

chore: update dependencies
  frontend/app/auto-imports.d.ts
  frontend/app/electron/main/ps-list.ts
  frontend/app/package.json
  frontend/app/tests/e2e/pages/account-balances-page/blockchain-balances-page.ts
  frontend/app/tests/e2e/specs/balances/blockchain-balances.spec.ts
  frontend/app/tests/e2e/utils/amounts.ts
  frontend/common/package.json
  frontend/dev-proxy/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

Fix typing in tests/api/test_e
  pyproject.toml
  rotkehlchen/tests/api/test_ens.py
  rotkehlchen/tests/api/test_erc20_info.py
  rotkehlchen/tests/api/test_errors.py
  rotkehlchen/tests/api/test_eth2.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/api/test_evm_transactions.py
  rotkehlchen/tests/api/test_evmlike.py
  rotkehlchen/tests/api/test_exchange_rates_query.py
  rotkehlchen/tests/api/test_exchanges.py
  rotkehlchen/tests/api/test_external_services.py
  rotkehlchen/tests/utils/exchanges.py
  rotkehlchen/tests/utils/factories.py
  rotkehlchen/tests/utils/mock.py
Due: backend

chore: update vanilla-jsoneditor
  frontend/app/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

fix: zero asset values in the edit snapshot form
  docs/changelog.rst
  frontend/app/src/components/display/amount/AmountDisplay.vue
Due: frontend_unit, frontend_integration
