Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

feat: rpc node management for optimism
  frontend/app/.eslintrc-auto-import.json
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/accounts/management/types/XpubAccountForm.vue
  frontend/app/src/components/helper/ListItem.vue
  frontend/app/src/components/settings/general/rpc/DotRpcSetting.vue
  frontend/app/src/components/settings/general/rpc/EthRpcSetting.vue
  frontend/app/src/components/settings/general/rpc/EthereumRpcNodeManager.vue
  frontend/app/src/components/settings/general/rpc/EvmRpcNodeManager.vue
  frontend/app/src/components/settings/general/rpc/KsmRpcSetting.vue
  frontend/app/src/components/settings/general/rpc/OptimismRpcSetting.vue
  frontend/app/src/components/settings/general/rpc/RpcNodeForm.vue
  frontend/app/src/components/settings/general/rpc/RpcSettings.vue
  frontend/app/src/composables/api/settings/evm-nodes-api.ts
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/settings/general/index.vue
  frontend/app/src/services/settings/eth-nodes-api.ts
  frontend/app/src/types/settings.ts
Due: frontend_unit, frontend_integration

Add tx settings for events customization
  rotkehlchen/chain/evm/accounting/aggregator.py
  rotkehlchen/tests/unit/accounting/test_default_settings.py
  rotkehlchen/tests/utils/history.py
Due: backend

Add websocket message for user DB migration at evm chain addition
  docs/websockets.rst
  rotkehlchen/api/websockets/notifier.py
  rotkehlchen/api/websockets/typedefs.py
  rotkehlchen/data_migrations/migrations/migration_8.py
  rotkehlchen/user_messages.py
Due: backend

Bumps requested component version
  rotkehlchen/premium/premium.py
Due: backend

Rename variable and remove duplicate entry
  rotkehlchen/assets/converters.py
  rotkehlchen/assets/exchanges_mappings/bitfinex.py
  rotkehlchen/tests/exchanges/test_okx.py
Due: backend

Replace freezgun utility for pytest.
  requirements_dev.txt
Due: none

New assets for 1.27
  rotkehlchen/assets/converters.py
  rotkehlchen/assets/exchanges_mappings/binance.py
  rotkehlchen/assets/exchanges_mappings/bitfinex.py
  rotkehlchen/assets/exchanges_mappings/coinbase_pro.py
  rotkehlchen/assets/exchanges_mappings/common.py
  rotkehlchen/assets/exchanges_mappings/kraken.py
  rotkehlchen/assets/exchanges_mappings/kucoin.py
  rotkehlchen/assets/exchanges_mappings/okx.py
  rotkehlchen/assets/exchanges_mappings/poloniex.py
  rotkehlchen/data/global.db
  rotkehlchen/externalapis/coingecko.py
  rotkehlchen/globaldb/updates.py
  rotkehlchen/tests/exchanges/test_kraken.py
  rotkehlchen/tests/exchanges/test_okx.py
  rotkehlchen/tests/unit/test_assets.py
Due: backend

Fix error trying to add new asset to a collection during update
  rotkehlchen/globaldb/updates.py
  rotkehlchen/tests/unit/test_globaldb_asset_updates.py
Due: backend

Changes asset update confirmation to success
  frontend/app/src/components/dialogs/BigDialog.vue
  frontend/app/src/components/dialogs/ConfirmDialog.vue
  frontend/app/src/components/status/update/AssetUpdate.vue
  frontend/app/src/store/confirm.ts
  frontend/app/src/types/dialogs.ts
Due: frontend_unit, frontend_integration

Removes dots from docker dev build version
  .github/workflows/rotki_dev_builds.yml
Due: none

Handle profit on first day for eth validators
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/eth2/utils.py
  rotkehlchen/tests/data/mocks/test_eth2/validator_daily_stats/999.html
  rotkehlchen/tests/unit/test_eth2.py
Due: backend

Adjust assets constants after updating globaldb
  rotkehlchen/chain/ethereum/modules/makerdao/sai/decoder.py
  rotkehlchen/chain/optimism/modules/hop/decoder.py
  rotkehlchen/constants/assets.py
  rotkehlchen/data/global.db
  rotkehlchen/externalapis/xratescom.py
  rotkehlchen/globaldb/upgrades/v3_v4.py
  rotkehlchen/tests/api/test_database.py
  rotkehlchen/tests/api/test_user_assets.py
  rotkehlchen/tests/unit/test_globaldb.py
  rotkehlchen/tests/unit/test_globaldb_upgrades.py
Due: backend

Adjust web3 related fixtures for all backend tests
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/tests/api/blockchain/test_avalanche.py
  rotkehlchen/tests/api/blockchain/test_evm.py
  rotkehlchen/tests/api/test_avalanche_transactions.py
  rotkehlchen/tests/api/test_balances.py
  rotkehlchen/tests/api/test_liquity.py
  rotkehlchen/tests/fixtures/blockchain.py
  rotkehlchen/tests/fixtures/rotkehlchen.py
  rotkehlchen/tests/unit/test_blockchain_balances.py
  rotkehlchen/tests/unit/test_ens.py
  rotkehlchen/tests/utils/evm.py
  rotkehlchen/tests/utils/mock.py
Due: backend

Ensure uniswap auto routers support
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/sushiswap/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/utils.py
  rotkehlchen/chain/ethereum/modules/uniswap/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/decoder.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/tests/unit/decoders/test_1inch.py
  rotkehlchen/tests/unit/decoders/test_uniswapv2.py
  rotkehlchen/tests/unit/decoders/test_uniswapv3.py
Due: backend

feat: regroup evm multichain sections
  frontend/app/package.json
  frontend/app/src/components/helper/display/icons/EvmChainIcon.vue
  frontend/app/src/components/settings/api-keys/ServiceKey.vue
  frontend/app/src/components/settings/general/rpc/RpcSettings.vue
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/settings/api-keys/external/index.vue
  frontend/app/tests/unit/components/settings/api-keys/external-services.spec.ts
  frontend/app/tests/unit/setup-files/setup.ts
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

Change post-decoding rules to return events
  rotkehlchen/chain/evm/decoding/decoder.py
Due: backend

Sort events earlier after decoding
  rotkehlchen/chain/evm/decoding/decoder.py
Due: backend

Fix savepoint not being released on Exception
  rotkehlchen/db/drivers/gevent.py
  rotkehlchen/tests/db/test_savepoints.py
Due: backend

test: fix error in frontend unit test
  frontend/app/src/components/UserNotesList.vue
  frontend/app/src/components/dashboard/OverallBalances.vue
  frontend/app/src/composables/accounts/blockie.ts
  frontend/app/src/utils/blockie.ts
  frontend/app/tests/unit/components/settings/premium-settings.spec.ts
  frontend/app/tests/unit/composables/accounts/blockie.spec.ts
  frontend/app/tests/unit/setup-files/setup.ts
  frontend/app/tests/unit/store/blockchain/accounts/addresses-names.spec.ts
Due: frontend_unit, frontend_integration

Make events details keys snake case
  docs/api.rst
  rotkehlchen/accounting/structures/base.py
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

feat: add decoder support for uniswap v3 liquidity addition & removal
  rotkehlchen/chain/ethereum/constants.py
  rotkehlchen/chain/ethereum/modules/compound/compound.py
  rotkehlchen/chain/ethereum/modules/uniswap/v2/common.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/decoder.py
  rotkehlchen/tests/unit/decoders/test_uniswapv3.py
Due: backend

feat: add decoder for uniswap v2 liquidity addition & removal
  rotkehlchen/chain/ethereum/modules/uniswap/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/utils.py
  rotkehlchen/chain/ethereum/utils.py
  rotkehlchen/tests/unit/decoders/test_uniswapv2.py
  rotkehlchen/tests/unit/decoders/test_uniswapv3.py
  rotkehlchen/tests/unit/test_utils.py
Due: backend

feat: add decoders for sushiswap liquidity addition and removal
  rotkehlchen/chain/ethereum/modules/sushiswap/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v2/common.py
  rotkehlchen/chain/ethereum/modules/uniswap/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/decoder.py
  rotkehlchen/tests/unit/decoders/test_sushiswap.py
  rotkehlchen/tests/unit/decoders/test_uniswapv2.py
  rotkehlchen/tests/unit/decoders/test_uniswapv3.py
Due: backend

update accountant module for sushiswap & uniswap
  rotkehlchen/chain/ethereum/modules/sushiswap/accountant.py
  rotkehlchen/chain/ethereum/modules/uniswap/v2/accountant.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/accountant.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/decoder.py
  rotkehlchen/tests/unit/decoders/test_uniswapv3.py
Due: backend

fix failing tests
  rotkehlchen/chain/ethereum/modules/uniswap/v3/utils.py
  rotkehlchen/tests/api/test_uniswap.py
  rotkehlchen/tests/unit/decoders/test_weth.py
Due: backend

feat: add new transactions type for information-null
  frontend/app/src/store/history/consts.ts
Due: frontend_unit, frontend_integration

Fixes transaction link to adjust to chain
  frontend/app/src/components/history/transactions/TransactionContent.vue
Due: frontend_unit, frontend_integration

fix: adjust liquity tx extra data endpoint
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/accounts/blockchain/AddressInput.vue
  frontend/app/src/components/accounts/management/types/AddressAccountForm.vue
  frontend/app/src/components/history/TransactionEventForm.vue
  frontend/app/src/components/history/transactions/TransactionContent.vue
  frontend/app/src/components/history/transactions/TransactionEventAsset.vue
  frontend/app/src/components/history/transactions/TransactionEventExtraData.vue
  frontend/app/src/components/history/transactions/TransactionEventLiquityExtraData.vue
  frontend/app/src/components/history/transactions/TransactionEvents.vue
  frontend/app/src/composables/history/transactions/query-status.ts
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/services/history/transactions.ts
  frontend/app/src/store/history/transactions.ts
  frontend/app/src/types/history/meta.ts
  frontend/app/src/types/history/tx.ts
Due: frontend_unit, frontend_integration

address pr comments & refactor decoding interface
  rotkehlchen/chain/ethereum/constants.py
  rotkehlchen/chain/ethereum/decoding/decoder.py
  rotkehlchen/chain/ethereum/modules/sushiswap/accountant.py
  rotkehlchen/chain/ethereum/modules/sushiswap/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/utils.py
  rotkehlchen/chain/ethereum/modules/uniswap/v1/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v2/accountant.py
  rotkehlchen/chain/ethereum/modules/uniswap/v2/common.py
  rotkehlchen/chain/ethereum/modules/uniswap/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/accountant.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/decoder.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/tests/unit/decoders/test_sushiswap.py
  rotkehlchen/tests/unit/decoders/test_uniswapv2.py
  rotkehlchen/tests/unit/decoders/test_uniswapv3.py
  rotkehlchen/tests/unit/decoders/test_weth.py
  rotkehlchen/types.py
Due: backend
