Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

chore: remove product from events
  frontend/app/src/composables/api/history/events/index.ts
  frontend/app/src/composables/filters/events.ts
  frontend/app/src/composables/history/events/mapping/product.ts
  frontend/app/src/locales/en.json
  frontend/app/src/locales/fr.json
  frontend/app/src/modules/history/management/forms/EthDepositEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/EvmEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/EvmEventForm.vue
  frontend/app/src/modules/history/management/forms/SolanaEventForm.vue
  frontend/app/src/modules/history/management/forms/history-event-form.spec.ts
  frontend/app/src/modules/history/management/forms/use-event-form-validation.ts
  frontend/app/src/types/history/events/event-type.ts
  frontend/app/src/types/history/events/schemas.ts
Due: frontend_unit, frontend_integration

feat(solana): add tx by signature and repulling txs
  frontend/app/src/components/history/events/tx/RepullingTransactionForm.vue
  frontend/app/src/components/history/events/tx/RepullingTransactionFormDialog.vue
  frontend/app/src/components/history/events/tx/TransactionForm.vue
  frontend/app/src/components/history/events/tx/TransactionFormDialog.vue
  frontend/app/src/components/table-filter/SuggestedItem.vue
  frontend/app/src/composables/api/history/events/index.ts
  frontend/app/src/composables/history/events/dialog-manager/use-history-events-dialog-manager.ts
  frontend/app/src/composables/history/events/tx/index.ts
  frontend/app/src/modules/onchain/use-wallet-helper.ts
  frontend/app/src/types/history/events/index.ts
  frontend/app/tests/unit/specs/composables/history/transactions.spec.ts
Due: frontend_unit, frontend_integration

fix: query exchange events call error
  frontend/app/src/composables/api/history/events/index.ts
  frontend/app/src/composables/history/events/tx/refresh-handlers.ts
  frontend/app/src/modules/balances/exchanges/use-exchanges.ts
  frontend/app/src/types/exchanges.ts
Due: frontend_unit, frontend_integration

chore: update some icons
  frontend/app/public/assets/images/protocols/1inch.svg
  frontend/app/public/assets/images/protocols/base.svg
  frontend/app/public/assets/images/protocols/runmoney.png
  frontend/app/public/assets/images/services/monerium.png
Due: frontend_unit, frontend_integration

chore: rename monerium env variable
  rotkehlchen/externalapis/monerium.py
Due: backend

Fix linter after bugfixes merge
  rotkehlchen/chain/evm/decoding/uniswap/v4/decoder.py
Due: backend

remove related solana data on address removal
  docs/api.rst
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/solanatx.py
  rotkehlchen/tests/api/blockchain/test_base.py
Due: backend

remove related solana data on address removal (#10760)
  docs/api.rst
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/solanatx.py
  rotkehlchen/tests/api/blockchain/test_base.py
Due: backend

Bump pylint and ruff
  .pylint.rc
  pyproject.toml
  uv.lock
Due: none

Remove unused gnosispay get_data_for_transaction
  rotkehlchen/externalapis/gnosispay.py
  rotkehlchen/tests/external_apis/test_gnosispay.py
Due: backend

chore(frontend): adjust tx_hash and signature to tx_ref
  frontend/app/src/components/history/events/HistoryEventsAction.vue
  frontend/app/src/components/history/events/HistoryEventsIdentifier.vue
  frontend/app/src/components/history/events/tx/TransactionFormDialog.vue
  frontend/app/src/composables/history/events/tx/decoding.ts
  frontend/app/src/modules/dashboard/progress/composables/use-transaction-status-check.ts
  frontend/app/src/modules/history/events/composables/use-history-events-deletion.ts
  frontend/app/src/modules/history/events/composables/use-history-events-operations.ts
  frontend/app/src/modules/history/management/forms/EvmEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/EvmEventForm.vue
  frontend/app/src/modules/history/management/forms/EvmSwapEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/EvmSwapEventForm.vue
  frontend/app/src/modules/history/management/forms/SolanaEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/SolanaEventForm.vue
  frontend/app/src/modules/history/management/forms/SolanaSwapEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/SolanaSwapEventForm.vue
  frontend/app/src/modules/history/management/forms/history-event-form.spec.ts
  frontend/app/src/types/history/events/index.ts
  frontend/app/src/types/history/events/schemas.ts
  frontend/app/src/utils/history/index.ts
  frontend/app/tests/unit/fixtures/history-events.json
Due: frontend_unit, frontend_integration

Fix file rotator initialization in windows
  colibri/src/logging.rs
Due: none

Adjust docker build script
  frontend/package.json
Due: none

chore: adjust base icon
  frontend/app/public/assets/images/protocols/base.svg
Due: frontend_unit, frontend_integration

add icon for uniswap v4 nfts and changelog entry
  colibri/src/blockchain/abis/UniswapNFTManager.json
  colibri/src/globaldb.rs
  colibri/src/icons.rs
  docs/changelog.rst
Due: none

chore: adjust base icon (#10771)
  frontend/app/public/assets/images/protocols/base.svg
Due: frontend_unit, frontend_integration

add five-letter support for gemini assets
  rotkehlchen/exchanges/gemini.py
  rotkehlchen/tests/exchanges/test_gemini.py
Due: backend

properly abstract evm/solana event classes
  rotkehlchen/history/events/structures/base.py
  rotkehlchen/history/events/structures/eth2.py
  rotkehlchen/history/events/structures/evm_event.py
  rotkehlchen/history/events/structures/onchain_event.py
  rotkehlchen/history/events/structures/solana_event.py
  rotkehlchen/history/events/structures/swap.py
  rotkehlchen/serialization/deserialize.py
Due: backend

Add jupiter route_v2 decoding
  frontend/app/public/assets/images/protocols/pump-fun.png
  rotkehlchen/chain/solana/decoding/constants.py
  rotkehlchen/chain/solana/decoding/decoder.py
  rotkehlchen/chain/solana/decoding/tools.py
  rotkehlchen/chain/solana/decoding/utils.py
  rotkehlchen/chain/solana/modules/jupiter/constants.py
  rotkehlchen/chain/solana/modules/jupiter/decoder.py
  rotkehlchen/chain/solana/modules/pump_fun/__init__.py
  rotkehlchen/chain/solana/modules/pump_fun/constants.py
  rotkehlchen/chain/solana/modules/pump_fun/decoder.py
  rotkehlchen/chain/solana/types.py
  rotkehlchen/tests/unit/solana_decoders/test_jupiter.py
Due: backend, frontend_unit, frontend_integration

Show missing helius api key msg earlier
  frontend/app/src/locales/en.json
  rotkehlchen/externalapis/etherscan.py
  rotkehlchen/externalapis/helius.py
  rotkehlchen/externalapis/interface.py
Due: backend, frontend_unit, frontend_integration

feat: add nudge to add helium api key
  frontend/app/src/components/accounts/management/AccountForm.vue
  frontend/app/src/components/accounts/management/AccountFormApiKeyAlert.vue
  frontend/app/src/locales/en.json
  frontend/app/src/modules/messaging/handlers/missing-api-key.ts
Due: frontend_unit, frontend_integration

events specific accounting rules improvements.
  docs/api.rst
  rotkehlchen/db/accounting_rules.py
  rotkehlchen/db/checks.py
  rotkehlchen/db/filtering.py
  rotkehlchen/db/minimized_schema.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v49_v50.py
  rotkehlchen/tests/api/test_accounting_rules.py
  rotkehlchen/tests/db/test_db_accounting_rules.py
  rotkehlchen/tests/db/test_db_upgrades.py
  tools/scripts/generate_minimized_db_schema.py
Due: backend
