Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

refactor: unify blockchain and exchange balances into single composable (#10196)
  frontend/app/src/components/AssetBalances.vue
  frontend/app/src/components/GlobalSearch.vue
  frontend/app/src/components/accounts/AccountBalanceAggregatedAssets.vue
  frontend/app/src/components/accounts/AccountTopTokens.vue
  frontend/app/src/components/assets/AssetLocations.vue
  frontend/app/src/components/assets/AssetValueRow.vue
  frontend/app/src/components/helper/PriceRefresh.vue
  frontend/app/src/components/locations/LocationAssets.vue
  frontend/app/src/components/locations/LocationValueRow.vue
  frontend/app/src/composables/balances/aggregated.ts
  frontend/app/src/composables/balances/asset-summary.ts
  frontend/app/src/composables/balances/balance-transformations.ts
  frontend/app/src/composables/balances/index.ts
  frontend/app/src/composables/balances/location-breakdown.ts
  frontend/app/src/composables/balances/sorting.ts
  frontend/app/src/composables/balances/use-aggregated-balances.spec.ts
  frontend/app/src/composables/balances/use-aggregated-balances.ts
  frontend/app/src/composables/blockchain/balances/aggregated.ts
  frontend/app/src/composables/defi/metadata.ts
  frontend/app/src/composables/history/events/mapping/counterparty.ts
  frontend/app/src/modules/balances/breakdown.spec.ts
  frontend/app/src/modules/balances/exchanges/exchanges.spec.ts
  frontend/app/src/modules/balances/exchanges/use-exchange-data.spec.ts
  frontend/app/src/modules/balances/exchanges/use-exchange-data.ts
  frontend/app/src/modules/balances/manual/use-manual-balance-data.spec.ts
  frontend/app/src/modules/balances/protocols/ProtocolIcon.vue
  frontend/app/src/modules/balances/protocols/use-protocol-data.ts
  frontend/app/src/modules/balances/use-account-assets-summary.ts
  frontend/app/src/modules/balances/use-asset-balances-breakdown.spec.ts
  frontend/app/src/modules/balances/use-location-balances-breakdown.ts
  frontend/app/src/modules/dashboard/Dashboard.vue
  frontend/app/src/pages/assets/[identifier].vue
  frontend/app/src/pages/balances/blockchain/index.vue
  frontend/app/src/pages/balances/exchange/[[exchange]].vue
  frontend/app/src/premium/premium-apis.ts
  frontend/app/src/store/statistics/index.ts
  frontend/app/tests/unit/utils/test-data.ts
Due: frontend_unit, frontend_integration

Remove get_all_asset_data function from the code
  rotkehlchen/assets/asset.py
  rotkehlchen/globaldb/asset_updates/manager.py
  rotkehlchen/globaldb/asset_updates/parsers.py
  rotkehlchen/globaldb/handler.py
  rotkehlchen/tests/unit/globaldb/test_asset_updates.py
  rotkehlchen/tests/unit/globaldb/test_globaldb.py
  rotkehlchen/tests/unit/test_assets.py
Due: backend

Fix curve lp divide by zero error
  docs/changelog.rst
  rotkehlchen/inquirer.py
  rotkehlchen/tests/conftest.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend

Independentreserve trades, deposits/withdrawals now use execution TS
  docs/changelog.rst
  rotkehlchen/exchanges/independentreserve.py
  rotkehlchen/tests/exchanges/test_independentreserve.py
Due: backend

fix: allow historic price for swap event (#10204)
  frontend/app/src/components/inputs/TwoFieldsAmountInput.vue
  frontend/app/src/locales/en.json
  frontend/app/src/modules/history/management/forms/HistoryEventAssetPriceForm.vue
  frontend/app/src/modules/history/management/forms/SwapEventForm.vue
  frontend/app/src/modules/history/management/forms/swap/SwapEventAssetAmount.vue
  frontend/app/src/modules/history/management/forms/swap/SwapEventFee.vue
  frontend/app/src/modules/prices/use-price-task-manager.ts
Due: frontend_unit, frontend_integration

Fix broken link in Bitcoin address generation docstring
  rotkehlchen/chain/bitcoin/utils.py
Due: backend

fix: undefined asset in the onchain history
  docs/changelog.rst
  frontend/app/src/modules/onchain/send/TradeHistoryItem.vue
  frontend/app/src/modules/onchain/send/TradeSendCard.vue
  frontend/app/src/pages/wallet-bridge/index.vue
Due: frontend_unit, frontend_integration

fix failing test in bugfixes
  rotkehlchen/tests/api/test_users.py
Due: backend

Skip price queries for zero balance tokens
  rotkehlchen/chain/evm/tokens.py
  rotkehlchen/tests/unit/test_tokens.py
Due: backend

Add blockcypher btc tx querying
  rotkehlchen/chain/bitcoin/constants.py
  rotkehlchen/chain/bitcoin/manager.py
  rotkehlchen/chain/bitcoin/types.py
  rotkehlchen/db/cache.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tests/api/test_bitcoin_transactions.py
  rotkehlchen/tests/unit/test_bitcoin_transactions.py
  rotkehlchen/tests/utils/bitcoin.py
Due: backend

Add btx tx query status WS messages
  docs/websockets.rst
  rotkehlchen/api/websockets/typedefs.py
  rotkehlchen/chain/bitcoin/manager.py
  rotkehlchen/chain/evm/transactions.py
  rotkehlchen/tests/api/test_bitcoin_transactions.py
Due: backend

Support multiple OP_PUSHBYTES in OP_RETURN scripts
  rotkehlchen/chain/bitcoin/manager.py
  rotkehlchen/chain/bitcoin/utils.py
  rotkehlchen/tests/unit/test_bitcoin_transactions.py
Due: backend

refactor: remove unused `getTimeframeByRange` function and `Timeframes` export
  frontend/common/src/settings/graphs.ts
Due: none

feat: add ECharts integration to premium module
  frontend/app/src/premium/premium.ts
  frontend/app/src/premium/setup-premium.ts
Due: frontend_unit, frontend_integration

Add tx hash to bitcoin serialization
  rotkehlchen/history/events/structures/base.py
  rotkehlchen/tests/unit/test_bitcoin_transactions.py
Due: backend

Allow to choose components version
  rotkehlchen/premium/premium.py
Due: backend

chore: bump components version to 14
  rotkehlchen/premium/premium.py
Due: backend

refactor: migrate AccountBalanceDetails to use aggregated balances
  frontend/app/src/components/accounts/balances/AccountAssetBalances.vue
  frontend/app/src/components/accounts/balances/AccountBalanceDetails.vue
  frontend/app/src/composables/balances/use-aggregated-balances.ts
  frontend/app/src/modules/balances/blockchain/use-blockchain-account-data.ts
Due: frontend_unit, frontend_integration

refactor: migrate AccountBalanceDetails to use aggregated balances (#10219)
  frontend/app/src/components/accounts/balances/AccountAssetBalances.vue
  frontend/app/src/components/accounts/balances/AccountBalanceDetails.vue
  frontend/app/src/composables/balances/use-aggregated-balances.ts
  frontend/app/src/modules/balances/blockchain/use-blockchain-account-data.ts
Due: frontend_unit, frontend_integration

feat: introduce per protocol breakdown
  docs/changelog.rst
  frontend/app/src/components/AssetBalances.vue
  frontend/app/src/components/dashboard/DashboardAssetTable.vue
  frontend/app/src/locales/en.json
  frontend/app/src/modules/balances/protocols/BalanceTopProtocols.vue
  frontend/app/src/modules/balances/protocols/ProtocolIcon.vue
  frontend/app/src/modules/balances/protocols/ProtocolTooltipIcon.vue
  frontend/app/src/modules/balances/protocols/components/AssetDetailsLayout.vue
  frontend/app/src/modules/balances/protocols/components/AssetProtocolBreakdown.vue
  frontend/app/src/modules/balances/protocols/components/AssetRowDetails.vue
  frontend/app/src/modules/balances/protocols/use-protocol-data.ts
Due: frontend_unit, frontend_integration

feat: add logger integration to PremiumApi interface and setup
  frontend/app/src/premium/setup-interface.ts
  frontend/common/src/premium/index.ts
Due: frontend_unit, frontend_integration

feat: introduce per protocol breakdown (#10221)
  docs/changelog.rst
  frontend/app/src/components/AssetBalances.vue
  frontend/app/src/components/dashboard/DashboardAssetTable.vue
  frontend/app/src/locales/en.json
  frontend/app/src/modules/balances/protocols/BalanceTopProtocols.vue
  frontend/app/src/modules/balances/protocols/ProtocolIcon.vue
  frontend/app/src/modules/balances/protocols/ProtocolTooltipIcon.vue
  frontend/app/src/modules/balances/protocols/components/AssetDetailsLayout.vue
  frontend/app/src/modules/balances/protocols/components/AssetProtocolBreakdown.vue
  frontend/app/src/modules/balances/protocols/components/AssetRowDetails.vue
  frontend/app/src/modules/balances/protocols/use-protocol-data.ts
Due: frontend_unit, frontend_integration

Fix decoding of paraswap swap
  rotkehlchen/chain/evm/decoding/curve/constants.py
  rotkehlchen/chain/evm/decoding/curve/decoder.py
  rotkehlchen/tests/unit/decoders/test_paraswap_v6.py
Due: backend

Fix aave xdai deposit decoding
  rotkehlchen/chain/gnosis/modules/aave/v3/decoder.py
  rotkehlchen/tests/unit/decoders/test_aave_v3.py
Due: backend

refactor: remove Chart.js and related dependencies
  frontend/app/package.json
  frontend/app/src/components/app/AppHost.vue
  frontend/app/src/components/graphs/GraphTooltipWrapper.vue
  frontend/app/src/composables/graphs.ts
  frontend/app/src/modules/dashboard/graph/use-net-value-chart-config.ts
  frontend/app/src/premium/premium.ts
  frontend/app/src/premium/register-components.ts
  frontend/app/src/premium/setup-interface.ts
  frontend/app/src/premium/setup-premium.ts
  frontend/app/src/utils/chartjs-adapter-dayjs.ts
  frontend/app/vite.config.ts
  frontend/common/src/premium/index.ts
  frontend/common/src/settings/graphs.ts
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

refactor: remove Chart.js and related dependencies (#10226)
  frontend/app/package.json
  frontend/app/src/components/app/AppHost.vue
  frontend/app/src/components/graphs/GraphTooltipWrapper.vue
  frontend/app/src/composables/graphs.ts
  frontend/app/src/modules/dashboard/graph/use-net-value-chart-config.ts
  frontend/app/src/premium/premium.ts
  frontend/app/src/premium/register-components.ts
  frontend/app/src/premium/setup-interface.ts
  frontend/app/src/premium/setup-premium.ts
  frontend/app/src/utils/chartjs-adapter-dayjs.ts
  frontend/app/vite.config.ts
  frontend/common/src/premium/index.ts
  frontend/common/src/settings/graphs.ts
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

fix: error query names for xpub address
  docs/changelog.rst
  frontend/app/src/components/display/LabeledAddressDisplay.vue
Due: frontend_unit, frontend_integration

Fix aave xdai deposit decoding (#10224)
  rotkehlchen/chain/gnosis/modules/aave/v3/decoder.py
  rotkehlchen/tests/unit/decoders/test_aave_v3.py
Due: backend
