Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Add collection information to NFTs
  docs/api.rst
  rotkehlchen/externalapis/opensea.py
  rotkehlchen/tests/api/test_nfts.py
Due: backend

Add danish crown to the globaldb
  rotkehlchen/data/global.db
Due: backend

Add support for pickle's dill
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/chain/ethereum/modules/__init__.py
  rotkehlchen/chain/ethereum/modules/pickle/__init__.py
  rotkehlchen/chain/ethereum/modules/pickle/pickle.py
  rotkehlchen/chain/manager.py
  rotkehlchen/constants/assets.py
  rotkehlchen/constants/assets.py.template
  rotkehlchen/constants/ethereum.py
  rotkehlchen/data/eth_contracts.json
  rotkehlchen/serialization/serialize.py
  rotkehlchen/tests/api/test_pickle.py
  rotkehlchen/typing.py
Due: backend

Add pickle dill to eth balances
  rotkehlchen/api/rest.py
  rotkehlchen/chain/ethereum/modules/pickle/pickle.py
  rotkehlchen/chain/manager.py
Due: backend

#3416 - Initial pass at importing ShapeShift Trades.
  docs/api.rst
  frontend/app/src/assets/images/import/shapeshift.svg
  frontend/app/src/assets/images/shapeshift-fox.svg
  frontend/app/src/components/history/consts.ts
  frontend/app/src/components/import/FileUpload.vue
  frontend/app/src/data/defaults.ts
  frontend/app/src/locales/en.json
  frontend/app/src/views/ImportData.vue
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/encoding.py
  rotkehlchen/data/importer.py
  rotkehlchen/db/schema.py
  rotkehlchen/typing.py
Due: backend, frontend_unit, frontend_integration

#3416 - Test coverage, documentation, and linting.
  docs/usage_guide.rst
  rotkehlchen/data/importer.py
  rotkehlchen/tests/api/test_data_import.py
  rotkehlchen/tests/data/shapeshift-trade-history.csv
  rotkehlchen/tests/utils/dataimport.py
  rotkehlchen/typing.py
Due: backend

Update rotkehlchen/tests/api/test_data_import.py
  rotkehlchen/tests/api/test_data_import.py
Due: backend

Update typo in comment re shapeshift trade fee.
  rotkehlchen/data/importer.py
Due: backend

#3416 - Edge case for SAI before 2019-11-18, and verbose notes.
  frontend/app/src/assets/images/shapeshift-fox.svg
  frontend/app/src/components/history/consts.ts
  rotkehlchen/data/importer.py
  rotkehlchen/tests/utils/dataimport.py
Due: backend, frontend_unit, frontend_integration

Add more information on the merge asset functionality
  docs/usage_guide.rst
Due: none

Fix ids selection
  rotkehlchen/assets/asset.py
  rotkehlchen/assets/typing.py
  rotkehlchen/globaldb/handler.py
  rotkehlchen/globaldb/upgrades/v2_v3.py
  rotkehlchen/tests/data/v2_global.db
Due: backend

Update brew command in docs to pin sqlcipher to 4.4.3
  docs/installation_guide.rst
Due: none

#3416 - Dark mode support, passing unit test for csv consumer.
  frontend/app/src/assets/images/import/shapeshift.svg
  frontend/app/src/components/history/LocationDisplay.vue
  frontend/app/src/components/history/LocationIcon.vue
  frontend/app/src/components/history/consts.ts
  frontend/app/src/components/history/type.d.ts
  frontend/app/src/components/icons/FOXIcon.vue
  frontend/app/src/components/images/ShapeShiftHorizontal.vue
  frontend/app/src/views/ImportData.vue
  rotkehlchen/data/importer.py
  rotkehlchen/tests/data/shapeshift-trade-history.csv
  rotkehlchen/tests/utils/dataimport.py
Due: backend, frontend_unit, frontend_integration

Avoid errors if fiat currency is not present in db
  rotkehlchen/api/v1/encoding.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/tests/api/test_exchange_rates_query.py
Due: backend

Avoid double counting xsushi
  rotkehlchen/chain/ethereum/tokens.py
Due: backend

#3416 - Update type property on TradeLocationData.
  frontend/app/src/components/history/LocationDisplay.vue
  frontend/app/src/components/history/LocationIcon.vue
  frontend/app/src/components/history/consts.ts
  frontend/app/src/components/history/type.d.ts
Due: frontend_unit, frontend_integration

Refactor EthTransactions to not be inside EthereumManager
  rotkehlchen/api/rest.py
  rotkehlchen/chain/ethereum/manager.py
  rotkehlchen/chain/ethereum/modules/eth2.py
  rotkehlchen/chain/ethereum/transactions.py
  rotkehlchen/history/events.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/fixtures/blockchain.py
  rotkehlchen/tests/unit/test_tasks_manager.py
  tools/uniswapv2/detect.py
Due: backend

Remove the from_etherscan argument when querying transactions
  rotkehlchen/chain/ethereum/transactions.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/ethtx.py
  rotkehlchen/tests/api/test_data_purging.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/db/test_ethtx.py
Due: backend

Remove internal ethereum transactions
  rotkehlchen/chain/ethereum/transactions.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v28_v29.py
  rotkehlchen/externalapis/etherscan.py
  rotkehlchen/tests/data/v28_rotkehlchen.db
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/external_apis/test_etherscan.py
Due: backend

Move Eth Transaction DB code to own class and add tx_hash filter
  rotkehlchen/api/rest.py
  rotkehlchen/chain/ethereum/transactions.py
  rotkehlchen/chain/ethereum/utils.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/ethtx.py
  rotkehlchen/db/filtering.py
  rotkehlchen/externalapis/utils.py
  rotkehlchen/tests/api/test_data_purging.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/db/test_ethtx.py
  rotkehlchen/utils/misc.py
Due: backend

Query transactions if needed and also from web3
  rotkehlchen/chain/ethereum/manager.py
  rotkehlchen/chain/ethereum/transactions.py
  rotkehlchen/db/filtering.py
  rotkehlchen/externalapis/etherscan.py
  rotkehlchen/serialization/deserialize.py
  rotkehlchen/tests/external_apis/test_etherscan.py
  rotkehlchen/tests/integration/test_transactions.py
  rotkehlchen/utils/misc.py
Due: backend

Fix tests. EthTransactions should be a stateless object.
  rotkehlchen/chain/ethereum/manager.py
  rotkehlchen/chain/ethereum/transactions.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
Due: backend

Include topic index in the DB
  rotkehlchen/db/ethtx.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v28_v29.py
  rotkehlchen/tests/integration/test_transactions.py
  rotkehlchen/tests/utils/ethereum.py
Due: backend

Add table creations in a lot of DB upgrades
  rotkehlchen/db/upgrades/v10_v11.py
  rotkehlchen/db/upgrades/v11_v12.py
  rotkehlchen/db/upgrades/v12_v13.py
  rotkehlchen/db/upgrades/v14_v15.py
  rotkehlchen/db/upgrades/v17_v18.py
  rotkehlchen/db/upgrades/v20_v21.py
  rotkehlchen/db/upgrades/v22_v23.py
  rotkehlchen/db/upgrades/v23_v24.py
  rotkehlchen/db/upgrades/v28_v29.py
  rotkehlchen/db/upgrades/v5_v6.py
  rotkehlchen/db/upgrades/v8_v9.py
  rotkehlchen/tests/utils/premium.py
Due: backend

Add transaction receipts
  rotkehlchen/chain/ethereum/modules/makerdao/dsr.py
  rotkehlchen/chain/ethereum/modules/makerdao/vaults.py
  rotkehlchen/chain/ethereum/structures.py
  rotkehlchen/chain/ethereum/transactions.py
  rotkehlchen/db/ethtx.py
  rotkehlchen/db/schema.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/integration/test_transactions.py
  rotkehlchen/tests/utils/ethereum.py
  rotkehlchen/utils/misc.py
Due: backend

Transaction receipts are now queried on idle time via task manager
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/integration/test_transactions.py
  rotkehlchen/tests/unit/test_tasks_manager.py
  rotkehlchen/tests/utils/ethereum.py
Due: backend

Latest tables **should not** be created before starting DB upgrade
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/upgrade_manager.py
  rotkehlchen/db/upgrades/v20_v21.py
  rotkehlchen/db/upgrades/v25_v26.py
  rotkehlchen/db/upgrades/v5_v6.py
  rotkehlchen/tests/api/test_history.py
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

Add sushiswap to the PnL report
  docs/changelog.rst
  rotkehlchen/chain/ethereum/trades.py
Due: backend

Add xsushi fix to the changelog
  docs/changelog.rst
Due: none

Updates job checker and dependencies
  .github/actions/job-checker/dist/index.js
  .github/actions/job-checker/dist/index.js.map
  .github/actions/job-checker/package-lock.json
  .github/actions/job-checker/package.json
  .github/actions/job-checker/src/main.ts
Due: none

Updates dev-proxy dependencies
  frontend/dev-proxy/package-lock.json
  frontend/dev-proxy/package.json
Due: none

#3416 - Fix lint errors with frontend.
  frontend/app/src/components/history/type.d.ts
  frontend/app/src/components/icons/FOXIcon.vue
  frontend/app/src/components/images/ShapeShiftHorizontal.vue
  frontend/app/src/views/ImportData.vue
Due: frontend_unit, frontend_integration

Adds a clean:modules script
  frontend/package-lock.json
  frontend/package.json
Due: none

#3416 - Update changelog, code style and optimizations.
  docs/changelog.rst
  rotkehlchen/data/importer.py
  rotkehlchen/tests/utils/dataimport.py
Due: backend

Rename variables and fix types
  rotkehlchen/constants/resolver.py
  rotkehlchen/globaldb/schema.py
  rotkehlchen/globaldb/upgrades/v2_v3.py
  rotkehlchen/tests/data/v2_global.db
  rotkehlchen/tests/unit/test_globaldb_upgrades.py
Due: backend

Introduces pagination for NFTs
  frontend/app/src/components/nft/NftGallery.vue
  frontend/app/src/composables/theme.ts
Due: frontend_unit, frontend_integration

Adds filtering using the ethereum address
  frontend/app/src/components/nft/NftGallery.vue
Due: frontend_unit, frontend_integration

Adds collection information and adjusts layout
  frontend/app/src/components/nft/NftGallery.vue
  frontend/app/src/components/nft/NftGalleryItem.vue
  frontend/app/src/locales/en.json
  frontend/app/src/store/session/types.ts
Due: frontend_unit, frontend_integration

Introduces basic nft support
  frontend/app/src/components/NavigationMenu.vue
  frontend/app/src/components/base/IconLink.vue
  frontend/app/src/components/nft/NftGallery.vue
  frontend/app/src/components/nft/NftGalleryItem.vue
  frontend/app/src/components/nft/types.d.ts
  frontend/app/src/locales/en.json
  frontend/app/src/model/task-type.ts
  frontend/app/src/router/index.ts
  frontend/app/src/router/routes.ts
  frontend/app/src/services/rotkehlchen-api.ts
  frontend/app/src/store/session/actions.ts
  frontend/app/src/store/session/const.ts
  frontend/app/src/store/session/types.ts
  frontend/app/src/store/utils.ts
  frontend/app/src/views/Nft.vue
Due: frontend_unit, frontend_integration
