Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

chore: updating eslint-config to v3
  .github/workflows/rotki_ci.yml
  frontend/app/tsconfig.json
  frontend/common/package.json
  frontend/common/tsconfig.json
  frontend/common/tsconfig.lib.json
  frontend/common/tsconfig.node.json
  frontend/dev-proxy/tsconfig.json
  frontend/eslint.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/tsconfig.json
Due: frontend_unit, frontend_integration

Graph delegations log queries will now query proper amount of events
  docs/changelog.rst
  rotkehlchen/chain/evm/decoding/thegraph/constants.py
Due: backend

Add a test for event log queries both by etherscan and web3 nodes
  rotkehlchen/tests/unit/test_ethereum_inquirer.py
Due: backend

Support gnosispay referrals in the history events view
  docs/changelog.rst
  rotkehlchen/chain/gnosis/modules/gnosis_pay/constants.py
  rotkehlchen/chain/gnosis/modules/gnosis_pay/decoder.py
  rotkehlchen/tests/unit/decoders/test_gnosis_pay.py
Due: backend

Add head to CI messages
  .github/workflows/task_backend_tests.yml
Due: none

style: grouping settings and cleaner look
  frontend/app/src/components/settings/GeneralSettingsCategory.vue
  frontend/app/src/components/settings/general/BalanceSaveFrequencySetting.vue
  frontend/app/src/components/settings/general/DateDisplayFormatSetting.vue
  frontend/app/src/components/settings/general/DateInputFormatSelector.vue
  frontend/app/src/components/settings/general/EvmChainsToIgnoreSettings.vue
  frontend/app/src/components/settings/general/TreatEthAsEth2Setting.vue
  frontend/app/src/components/settings/general/VersionUpdateFrequencySetting.vue
Due: frontend_unit, frontend_integration

Query logs for also vested thegraph accounts
  rotkehlchen/chain/ethereum/transactions.py
  rotkehlchen/tests/unit/test_tasks_manager.py
Due: backend

Add get_evm_accounts to bugfixes too
  rotkehlchen/db/dbhandler.py
Due: backend

style: amount settings start
  frontend/app/src/components/settings/AmountSettingsCategory.vue
  frontend/app/src/components/settings/general/BalanceSaveFrequencySetting.vue
  frontend/app/src/components/settings/general/CurrencyLocationSetting.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

Delete all un-needed thegraph evm transactions
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/makerdao/vaults.py
  rotkehlchen/data_migrations/constants.py
  rotkehlchen/data_migrations/manager.py
  rotkehlchen/data_migrations/migrations/migrations_18.py
  rotkehlchen/tests/data_migrations/test_migrations.py
  rotkehlchen/utils/misc.py
Due: backend

Bump ruff and some other deps
  requirements.txt
  requirements_lint.txt
Due: none

feat: add link to accounting setting from pnl detail
  frontend/app/src/components/profitloss/AccountingSettingsDisplay.vue
  frontend/app/src/components/profitloss/ProfitLossOverview.vue
  frontend/app/src/components/profitloss/ReportGenerator.vue
  frontend/app/src/components/profitloss/ReportMissingAcquisitions.vue
  frontend/app/src/locales/en.json
  frontend/app/src/pages/reports/[id].vue
Due: frontend_unit, frontend_integration

chore: update dependencies
  frontend/app/package.json
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/PrivacyModeDropdown.vue
  frontend/app/src/components/asset-manager/RestoreAssetDbButton.vue
  frontend/app/src/components/helper/TableStatusFilter.vue
  frontend/app/src/components/settings/OnboardingSettings.vue
  frontend/app/vite.config.ts
  frontend/common/package.json
  frontend/dev-proxy/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

chore: update vue-i18n to v10
  frontend/app/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

refactor: extract manual balances dialog
  frontend/app/src/components/accounts/manual-balances/ManualBalancesDialog.vue
  frontend/app/src/pages/balances/manual/index.vue
Due: frontend_unit, frontend_integration

feat: redetect token button for particular chains
  frontend/app/src/components/accounts/AccountBalances.vue
  frontend/app/src/components/accounts/balances/DetectTokenChainsSelection.vue
  frontend/app/src/composables/balances/refresh.ts
  frontend/app/src/locales/en.json
  frontend/app/src/router/index.ts
Due: frontend_unit, frontend_integration

refactor: add tabs for manual assets/liablities
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/accounts/manual-balances/ManualBalanceTable.vue
  frontend/app/src/composables/filters/manual-balances.ts
  frontend/app/src/locales/en.json
  frontend/app/src/pages/balances/manual/[[tab]].vue
  frontend/app/typed-router.d.ts
Due: frontend_unit, frontend_integration

fix: double conversion in edit snapshot form
  frontend/app/src/components/dashboard/edit-snapshot/EditBalancesSnapshotAssetPriceForm.vue
  frontend/app/src/components/dashboard/edit-snapshot/EditBalancesSnapshotForm.vue
  frontend/app/src/components/dashboard/edit-snapshot/EditBalancesSnapshotTable.vue
  frontend/app/src/components/dashboard/edit-snapshot/EditLocationDataSnapshotTable.vue
  frontend/app/src/components/dashboard/edit-snapshot/EditSnapshotTotal.vue
  frontend/app/src/locales/en.json
  frontend/app/src/router/index.ts
Due: frontend_unit, frontend_integration

fix: close dialog after click detect
  frontend/app/src/components/accounts/balances/DetectTokenChainsSelection.vue
Due: frontend_unit, frontend_integration

feat: redetect token button for particular chains (#8687)
  frontend/app/src/components/accounts/AccountBalances.vue
  frontend/app/src/components/accounts/balances/DetectTokenChainsSelection.vue
  frontend/app/src/composables/balances/refresh.ts
  frontend/app/src/locales/en.json
  frontend/app/src/router/index.ts
Due: frontend_unit, frontend_integration

Decode gitcoin donations for differented Voted Log event
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/gitcoinv2/decoder.py
  rotkehlchen/chain/evm/decoding/gitcoinv2/decoder.py
  rotkehlchen/tests/unit/decoders/test_gitcoin_v2.py
Due: backend

Do not capture test output
  .github/workflows/task_backend_tests.yml
Due: none

style: general settings
  frontend/app/src/components/settings/AmountSettingsCategory.vue
  frontend/app/src/components/settings/GeneralSettingsCategory.vue
  frontend/app/src/components/settings/NftSettingsCategory.vue
  frontend/app/src/components/settings/general/CurrencyLocationSetting.vue
  frontend/app/src/components/settings/general/amount/AbbreviateNumberSetting.vue
  frontend/app/src/components/settings/general/amount/NumericSeparatorsSettings.vue
  frontend/app/src/components/settings/general/amount/RoundingSettings.vue
  frontend/app/src/components/settings/general/nft/NftImageRenderingSetting.vue
  frontend/app/src/components/settings/general/nft/NftsInNetValueSetting.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

refactor: modularized
  frontend/app/src/components/settings/AmountSettingsCategory.vue
  frontend/app/src/components/settings/general/CurrencyLocationSetting.vue
Due: frontend_unit, frontend_integration

style: lint
  frontend/app/src/components/settings/general/CurrencyLocationSetting.vue
Due: frontend_unit, frontend_integration
