Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Mock network for eth2 deposit related unit tests
  rotkehlchen/tests/data/mocks/test_eth2/deposits/test_get_eth2_staking_deposits.json
  rotkehlchen/tests/data/mocks/test_eth2/deposits/test_get_eth2_staking_deposits_fetch_from_db.json
  rotkehlchen/tests/data/mocks/test_eth2/validator_daily_stats/33710.html
  rotkehlchen/tests/fixtures/eth2.py
  rotkehlchen/tests/unit/test_eth2.py
  rotkehlchen/tests/utils/mock.py
Due: backend

Mock network for avalanche + covalent tests
  rotkehlchen/tests/api/blockchain/test_avalanche.py
  rotkehlchen/tests/api/blockchain/test_evm.py
  rotkehlchen/tests/api/test_avalanche_transactions.py
  rotkehlchen/tests/api/test_balances.py
  rotkehlchen/tests/data/mocks/test_avalanche/covalent_query_transactions.json
  rotkehlchen/tests/data/mocks/test_balances/covalent_query_balances.json
  rotkehlchen/tests/fixtures/blockchain.py
  rotkehlchen/tests/fixtures/rotkehlchen.py
  rotkehlchen/tests/utils/mock.py
Due: backend

Bump isort to 5.11.4
  requirements_lint.txt
Due: none

Update ruff to 0.0.193
  requirements_lint.txt
  rotkehlchen/tests/api/test_data_purging.py
Due: backend

Upgrade other linting packages
  requirements_lint.txt
Due: none

fix: adjust makerdao sai decoder test to not make network calls
  rotkehlchen/tests/unit/decoders/test_makerdao_sai.py
Due: backend

Fix tag editing. Should now delete old tag mappings
  rotkehlchen/chain/bitcoin/xpub.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/utils.py
  rotkehlchen/tests/api/blockchain/test_base.py
Due: backend

Remove liquity graph usage
  rotkehlchen/api/rest.py
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/ethereum/modules/liquity/trove.py
  rotkehlchen/chain/ethereum/types.py
  rotkehlchen/data/eth_contracts.json
  rotkehlchen/data/global.db
  rotkehlchen/serialization/serialize.py
  rotkehlchen/tests/api/test_liquity.py
  rotkehlchen/tests/fixtures/rotkehlchen.py
  rotkehlchen/tests/unit/test_globaldb_upgrades.py
Due: backend

Disallow empty list for tags at the api level
  docs/api.rst
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/utils.py
  rotkehlchen/tests/api/blockchain/test_base.py
  rotkehlchen/tests/api/test_bitcoin.py
  rotkehlchen/tests/api/test_manually_tracked_balances.py
Due: backend

[run nft py tests] Add nfts manual prices to the API latest manual prices response
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/chain/ethereum/modules/nft/nfts.py
  rotkehlchen/db/filtering.py
  rotkehlchen/tests/api/test_current_assets_price.py
Due: backend

Change execution order in makefile for linting
  Makefile
Due: none

Add commit message options for tests in docs
  docs/contribute.rst
Due: none

fix: empty tags to null
  frontend/app/src/components/accounts/AccountForm.vue
  frontend/app/src/components/accounts/manual-balances/ManualBalancesForm.vue
  frontend/app/src/store/balances/types.ts
  frontend/app/src/utils/data.ts
  frontend/app/tests/e2e/pages/account-balances-page/blockchain-balances-page.ts
Due: frontend_unit, frontend_integration

Add name field to the balancer tokens
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/balancer/utils.py
  rotkehlchen/tests/api/test_balancer.py
Due: backend

feat: adjust liquity staking UI
  frontend/app/src/components/display/AmountCurrency.vue
  frontend/app/src/components/display/AmountDisplay.vue
  frontend/app/src/components/helper/NftDetails.vue
  frontend/app/src/components/staking/liquity/LiquityStake.vue
  frontend/app/src/components/staking/liquity/LiquityStakingDetails.vue
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/store/assets/asset-cache.ts
  frontend/app/src/store/defi/liquity/index.ts
  frontend/common/src/liquity/index.ts
Due: frontend_unit, frontend_integration

Add decoder for some aave v2 events
  rotkehlchen/chain/ethereum/modules/aave/constants.py
  rotkehlchen/chain/ethereum/modules/aave/v2/__init__.py
  rotkehlchen/chain/ethereum/modules/aave/v2/accountant.py
  rotkehlchen/chain/ethereum/modules/aave/v2/decoder.py
  rotkehlchen/tests/unit/decoders/test_aave.py
  rotkehlchen/tests/unit/decoders/test_main.py
Due: backend

Use RAY constant in aave decoder
  rotkehlchen/chain/ethereum/constants.py
  rotkehlchen/chain/ethereum/modules/aave/aave.py
  rotkehlchen/chain/ethereum/modules/aave/graph.py
  rotkehlchen/chain/ethereum/modules/aave/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/makerdao/constants.py
  rotkehlchen/chain/ethereum/modules/makerdao/dsr.py
  rotkehlchen/chain/ethereum/modules/makerdao/vaults.py
  rotkehlchen/tests/unit/decoders/test_aave.py
  rotkehlchen/tests/utils/makerdao.py
Due: backend

Adjust liquity balance query
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/ethereum/modules/liquity/trove.py
Due: backend

Don't query trades for locations ignored
  docs/changelog.rst
  rotkehlchen/history/events.py
  rotkehlchen/tests/api/test_exchanges.py
  rotkehlchen/tests/unit/test_tasks_manager.py
Due: backend

Remove pacakged db write attempt
  rotkehlchen/globaldb/handler.py
  rotkehlchen/tests/unit/test_assets.py
Due: backend

Follow up of 5314
  docs/changelog.rst
  rotkehlchen/tests/api/test_exchanges.py
  rotkehlchen/tests/unit/test_assets.py
Due: backend
