Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    paths:
      - rotkehlchen
  frontend_unit:
    paths:
      - electron-app
  frontend_integration:
    carryforward: true
    paths:
      - electron-app

Handle incosistent Kraken response when balances are empty
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/tests/api/test_exchanges.py
Due: backend

If user has manual balances, they should now be saved in the DB
  rotkehlchen/balances/manual.py
  rotkehlchen/db/dbhandler.py
Due: backend

Test for saving manually tracked balances in the DB
  rotkehlchen/tests/api/test_manually_tracked_balances.py
Due: backend

Add changelog entry for 942
  docs/changelog.rst
Due: none

Batch BTC balance calls to both blockchain.info and blockcypher
  rotkehlchen/chain/manager.py
  rotkehlchen/utils/misc.py
Due: backend

Adjust tests for the batched blockchain.info querying
  rotkehlchen/chain/manager.py
  rotkehlchen/tests/utils/blockchain.py
Due: backend

Add integration test that queries a bech32 address
  rotkehlchen/tests/api/test_blockchain.py
  rotkehlchen/tests/utils/blockchain.py
Due: backend

Add changelog entry for 950
  docs/changelog.rst
Due: none

Make sure that web3 uses the http retry request middleware
  rotkehlchen/chain/ethereum/manager.py
Due: backend

Add changelog entry for 927
  docs/changelog.rst
Due: none

Adjust tests after web3 middleware injection
  rotkehlchen/tests/utils/mock.py
Due: backend

Add Poloniex's BVOL and IBVOL to poloniex unsupported assets
  rotkehlchen/assets/converters.py
Due: backend

Add support for CTSI (Cartesi token)
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
  rotkehlchen/externalapis/coinmarketcap.py
  rotkehlchen/externalapis/coinpaprika.py
  tools/asset_aggregator/name_check.py
  tools/asset_aggregator/typeinfo_check.py
Due: backend

Add support for Revain (REV)
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
  rotkehlchen/externalapis/coinpaprika.py
Due: backend

Add support for Ubique chain of things (UCT)
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Add support for YOUCOIN (YOU)
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
  tools/asset_aggregator/active_check.py
Due: backend

Bump version: 1.4.1 → 1.4.2
  .bumpversion.cfg
  docs/conf.py
  electron-app/package-lock.json
  electron-app/package.json
  setup.py
Due: frontend_unit, frontend_integration

Add release v1.4.2 to the changelog
  docs/changelog.rst
Due: none

Add support for Aave interest bearing DAI (aDAI)
  docs/changelog.rst
  rotkehlchen/constants/cryptocompare.py
  rotkehlchen/data/all_assets.json
Due: backend

Add support for LOKI token
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Fake current price queries from the inquirer during tests
  rotkehlchen/tests/external_apis/test_etherscan.py
  rotkehlchen/tests/fixtures/accounting.py
  rotkehlchen/tests/fixtures/history.py
  rotkehlchen/tests/fixtures/rotkehlchen.py
  rotkehlchen/tests/utils/history.py
Due: backend
