Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Updates CI configuration for new workspace setup
  .github/workflows/rotki_ci.yml
  .github/workflows/rotki_nightly.yml
  frontend/package.json
Due: none

Moves graph time period code to common library
  frontend/app/src/components/dashboard/NetworthChart.vue
  frontend/app/src/components/dashboard/OverallBalances.vue
  frontend/app/src/components/dashboard/const.ts
  frontend/app/src/components/dashboard/types.d.ts
  frontend/app/src/components/helper/TimeframeSelector.vue
  frontend/app/src/components/settings/FrontendSettings.vue
  frontend/app/src/components/settings/general/TimeFrameSettings.vue
  frontend/app/src/store/session/actions.ts
  frontend/app/src/store/session/mutations.ts
  frontend/app/src/store/session/state.ts
  frontend/app/src/store/session/types.ts
  frontend/app/src/store/settings/consts.ts
  frontend/app/src/store/settings/mutations.ts
  frontend/app/src/store/settings/state.ts
  frontend/app/src/store/settings/types.d.ts
  frontend/app/src/store/settings/utils.ts
  frontend/app/src/store/statistics/getters.ts
  frontend/app/tests/unit/store/settings/actions.spec.ts
  frontend/app/tests/unit/store/settings/mutations.spec.ts
  frontend/app/tests/unit/store/settings/utils.spec.ts
  frontend/common/.eslintignore
  frontend/common/src/gitcoin/index.ts
  frontend/common/src/settings/graphs.ts
  frontend/package.json
Due: frontend_unit, frontend_integration

Updates minimum required npm version to avoid bug
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/check-versions.js
  frontend/common/package-lock.json
  frontend/common/package.json
  frontend/dev-proxy/package.json
  frontend/package-lock.json
  frontend/package.json
Due: frontend_unit, frontend_integration

Adds .nvmrc to the frontend folder
  frontend/.nvmrc
Due: none

Adds build step for common library before e2e
  .github/workflows/rotki_ci.yml
  .github/workflows/rotki_nightly.yml
Due: none

Adds a note about the premium components env var
  frontend/dev-proxy/README.md
Due: none

Introduces ability to disable the tray icon
  frontend/app/src/background.ts
  frontend/app/src/electron-main/app-settings.ts
  frontend/app/src/electron-main/ipc-setup.ts
  frontend/app/src/electron-main/menu.ts
  frontend/app/src/electron-main/tray-manager.ts
Due: frontend_unit, frontend_integration

Updates changelog
  docs/changelog.rst
Due: none

Disables dismiss to tray when it is disabled
  frontend/app/src/background.ts
  frontend/app/src/electron-main/menu.ts
  frontend/app/src/electron-main/tray-manager.ts
Due: frontend_unit, frontend_integration

Adds usage guide entry about disabling the tray icon
  docs/usage_guide.rst
Due: none

Updates the installation guide for frontend
  docs/installation_guide.rst
Due: none

Add sushiswa module
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/chain/ethereum/modules/ammswap/ammswap.py
  rotkehlchen/chain/ethereum/modules/ammswap/graph.py
  rotkehlchen/chain/ethereum/modules/ammswap/typing.py
  rotkehlchen/chain/ethereum/modules/ammswap/utils.py
  rotkehlchen/chain/ethereum/modules/sushiswap/__init__.py
  rotkehlchen/chain/ethereum/modules/sushiswap/graph.py
  rotkehlchen/chain/ethereum/modules/sushiswap/sushiswap.py
  rotkehlchen/chain/ethereum/modules/sushiswap/utils.py
  rotkehlchen/chain/ethereum/modules/uniswap/__init__.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/upgrades/v24_v25.py
  rotkehlchen/tests/api/test_uniswap.py
  rotkehlchen/typing.py
Due: backend

Add sushiswap to the API and tests
  rotkehlchen/api/server.py
  rotkehlchen/chain/ethereum/modules/__init__.py
  rotkehlchen/chain/ethereum/modules/sushiswap/graph.py
  rotkehlchen/chain/ethereum/modules/sushiswap/sushiswap.py
  rotkehlchen/db/schema.py
  rotkehlchen/tests/api/test_sushiswap.py
Due: backend

Add tests and lint sushiswap
  rotkehlchen/chain/ethereum/modules/__init__.py
  rotkehlchen/chain/ethereum/modules/ammswap/__init__.py
  rotkehlchen/chain/ethereum/modules/ammswap/ammswap.py
  rotkehlchen/chain/ethereum/modules/ammswap/graph.py
  rotkehlchen/chain/ethereum/modules/ammswap/typing.py
  rotkehlchen/chain/ethereum/modules/ammswap/utils.py
  rotkehlchen/chain/ethereum/modules/sushiswap/graph.py
  rotkehlchen/chain/ethereum/modules/sushiswap/sushiswap.py
  rotkehlchen/chain/ethereum/modules/sushiswap/utils.py
  rotkehlchen/chain/ethereum/modules/uniswap/graph.py
  rotkehlchen/chain/ethereum/modules/uniswap/uniswap.py
  rotkehlchen/chain/ethereum/modules/uniswap/utils.py
  rotkehlchen/chain/manager.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/schema.py
  rotkehlchen/tests/api/test_sushiswap.py
  rotkehlchen/tests/api/test_uniswap.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/unit/uniswap/test_calculate_events_balances.py
  rotkehlchen/tests/unit/uniswap/test_get_balances_graph.py
  rotkehlchen/tests/unit/uniswap/utils.py
  rotkehlchen/typing.py
Due: backend

Modularize sushiswap code
  rotkehlchen/chain/ethereum/modules/ammswap/ammswap.py
  rotkehlchen/chain/ethereum/modules/ammswap/typing.py
  rotkehlchen/chain/ethereum/modules/sushiswap/sushiswap.py
  rotkehlchen/chain/ethereum/modules/sushiswap/utils.py
  rotkehlchen/chain/ethereum/modules/uniswap/uniswap.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/settings.py
  rotkehlchen/db/upgrade_manager.py
  rotkehlchen/db/upgrades/v24_v25.py
  rotkehlchen/db/upgrades/v28_v29.py
  rotkehlchen/tests/api/test_sushiswap.py
  rotkehlchen/tests/api/test_uniswap.py
  rotkehlchen/tests/data/v28_rotkehlchen.db
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/unit/uniswap/test_calculate_events_balances.py
  rotkehlchen/tests/unit/uniswap/utils.py
Due: backend

Adjusts the build scripts to use the workspace
  package.ps1
  package.sh
Due: none

Fixes docker build to work with the new structure
  Dockerfile
  frontend/package.json
Due: none

Fixes #974: use loop in coinbase pagination
  rotkehlchen/exchanges/coinbase.py
Due: backend

Add list of supported DEXes in usage guide
  docs/usage_guide.rst
Due: none

Improve modularity of AMMSwapPlatform
  rotkehlchen/chain/ethereum/interfaces/__init__.py
  rotkehlchen/chain/ethereum/interfaces/ammswap/__init__.py
  rotkehlchen/chain/ethereum/interfaces/ammswap/ammswap.py
  rotkehlchen/chain/ethereum/interfaces/ammswap/graph.py
  rotkehlchen/chain/ethereum/interfaces/ammswap/typing.py
  rotkehlchen/chain/ethereum/interfaces/ammswap/utils.py
  rotkehlchen/chain/ethereum/modules/ammswap/graph.py
  rotkehlchen/chain/ethereum/modules/balancer/balancer.py
  rotkehlchen/chain/ethereum/modules/sushiswap/__init__.py
  rotkehlchen/chain/ethereum/modules/sushiswap/graph.py
  rotkehlchen/chain/ethereum/modules/sushiswap/sushiswap.py
  rotkehlchen/chain/ethereum/modules/uniswap/__init__.py
  rotkehlchen/chain/ethereum/modules/uniswap/graph.py
  rotkehlchen/chain/ethereum/modules/uniswap/uniswap.py
  rotkehlchen/chain/ethereum/modules/uniswap/utils.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/upgrade_manager.py
  rotkehlchen/db/upgrades/v24_v25.py
  rotkehlchen/db/upgrades/v28_v29.py
  rotkehlchen/tests/api/test_sushiswap.py
  rotkehlchen/tests/api/test_uniswap.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/unit/uniswap/test_calculate_events_balances.py
  rotkehlchen/tests/unit/uniswap/test_get_balances_graph.py
  rotkehlchen/tests/unit/uniswap/utils.py
Due: backend

Improve user messages with tx id if a price can't be found
  rotkehlchen/accounting/accountant.py
  rotkehlchen/chain/ethereum/gitcoin/importer.py
  rotkehlchen/chain/ethereum/modules/aave/blockchain.py
  rotkehlchen/chain/ethereum/modules/aave/graph.py
  rotkehlchen/chain/ethereum/modules/compound.py
  rotkehlchen/chain/ethereum/modules/eth2.py
  rotkehlchen/chain/ethereum/modules/yearn/graph.py
  rotkehlchen/chain/ethereum/modules/yearn/vaults.py
  rotkehlchen/chain/ethereum/modules/yearn/vaultsv2.py
  rotkehlchen/utils/accounting.py
Due: backend

Refactor code
  rotkehlchen/chain/ethereum/interfaces/ammswap/ammswap.py
  rotkehlchen/chain/ethereum/interfaces/ammswap/graph.py
  rotkehlchen/chain/ethereum/interfaces/ammswap/typing.py
  rotkehlchen/chain/ethereum/interfaces/ammswap/utils.py
  rotkehlchen/chain/ethereum/modules/sushiswap/graph.py
  rotkehlchen/chain/ethereum/modules/sushiswap/sushiswap.py
  rotkehlchen/chain/ethereum/modules/uniswap/graph.py
  rotkehlchen/chain/ethereum/modules/uniswap/uniswap.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/settings.py
  rotkehlchen/db/upgrades/v24_v25.py
  rotkehlchen/tests/api/test_sushiswap.py
  rotkehlchen/tests/api/test_uniswap.py
  rotkehlchen/tests/data/v28_rotkehlchen.db
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/unit/uniswap/conftest.py
  rotkehlchen/tests/unit/uniswap/test_get_balances_graph.py
  rotkehlchen/tests/unit/uniswap/test_get_unknown_asset_price.py
Due: backend

dockerfile fix for aarch64
  Dockerfile
Due: none

Fixes redirect when downloading the CSV on docker
  frontend/app/src/services/rotkehlchen-api.ts
Due: frontend_unit, frontend_integration

Some small nitpick fixes from older PR reviews
  rotkehlchen/chain/ethereum/interfaces/ammswap/ammswap.py
  rotkehlchen/exchanges/coinbase.py
Due: backend

Removed unused contract YEARN_CONTROLLER
  rotkehlchen/chain/ethereum/defi/price.py
  rotkehlchen/data/eth_contracts.json
Due: backend

Remove some unused constants
  rotkehlchen/exchanges/binance.py
  rotkehlchen/tests/utils/constants.py
Due: backend

Remove unused code from makerdao DSR
  rotkehlchen/chain/ethereum/modules/makerdao/dsr.py
Due: backend

Add comment to clarify when is ManualPriceOracle used
  rotkehlchen/history/price.py
Due: backend

Remove unused coinpaprika, coinmarketcap and old assets scripts
  rotkehlchen/externalapis/coinmarketcap.py
  rotkehlchen/externalapis/coinpaprika.py
  tools/asset_aggregator/__init__.py
  tools/asset_aggregator/__main__.py
  tools/asset_aggregator/active_check.py
  tools/asset_aggregator/args.py
  tools/asset_aggregator/name_check.py
  tools/asset_aggregator/timerange_check.py
  tools/asset_aggregator/typeinfo_check.py
  tools/asset_aggregator/utils.py
Due: backend

Remove unneeded code from yearn vaults v2 graph queries
  rotkehlchen/chain/ethereum/modules/yearn/graph.py
Due: backend

set_polkadot rpc endpoint should now work
  rotkehlchen/rotkehlchen.py
Due: backend

Add fox airdrop
  docs/changelog.rst
  frontend/app/src/assets/images/airdrops/FOX_Icon_dark.svg
  frontend/app/src/store/defi/const.ts
  frontend/app/src/views/defi/Airdrops.vue
  rotkehlchen/chain/ethereum/airdrops.py
  rotkehlchen/constants/assets.py
  rotkehlchen/constants/assets.py.template
  rotkehlchen/tests/unit/test_ethereum_airdrops.py
Due: backend, frontend_unit, frontend_integration

Allow disabling of PNL CSV formulas
  rotkehlchen/api/v1/encoding.py
  rotkehlchen/csv_exporter.py
  rotkehlchen/db/settings.py
  rotkehlchen/tests/db/test_db.py
Due: backend

Make CSV formula export customizable from the UI accounting settings
  frontend/app/src/data/converters.ts
  frontend/app/src/data/factories.ts
  frontend/app/src/locales/en.json
  frontend/app/src/typing/types.ts
  frontend/app/src/views/settings/AccountingSettings.vue
Due: frontend_unit, frontend_integration

Add changelog entry for 3252
  docs/changelog.rst
Due: none

Add the ability to have a summary in the exported all_events.csv
  rotkehlchen/accounting/accountant.py
  rotkehlchen/api/v1/encoding.py
  rotkehlchen/csv_exporter.py
  rotkehlchen/db/settings.py
  rotkehlchen/tests/db/test_db.py
Due: backend

Add the ability to edit have_summary setting from the UI
  frontend/app/src/data/converters.ts
  frontend/app/src/data/factories.ts
  frontend/app/src/locales/en.json
  frontend/app/src/model/action-result.ts
  frontend/app/src/typing/types.ts
  frontend/app/src/views/settings/AccountingSettings.vue
Due: frontend_unit, frontend_integration

Add changelog for 3279
  docs/changelog.rst
Due: none

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
