Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

chore: updates dependencies, pnpm v8
  .github/.env.ci
  frontend/app/package.json
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/asset-manager/ManagedAssetTable.vue
  frontend/app/src/store/defi/index.ts
  frontend/app/tests/common/guid.ts
  frontend/app/tests/e2e/pages/account-balances-page/blockchain-balances-page.ts
  frontend/app/tests/e2e/pages/account-balances-page/index.ts
  frontend/app/tests/e2e/pages/account-balances-page/manual-balances-page.ts
  frontend/app/tests/e2e/pages/accounting-settings-page.ts
  frontend/app/tests/e2e/pages/assets-manager-page.ts
  frontend/app/tests/e2e/pages/defi-page.ts
  frontend/app/tests/e2e/pages/history-page/index.ts
  frontend/app/tests/e2e/pages/history-page/ledger-action-page.ts
  frontend/app/tests/e2e/pages/history-page/trade-history-page.ts
  frontend/app/tests/e2e/pages/rotki-app.ts
  frontend/app/tests/e2e/pages/tag-manager.ts
  frontend/app/tests/e2e/specs/1/assets.spec.ts
  frontend/common/package.json
  frontend/dev-proxy/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

added a cache table to globaldb for next upgrade
  rotkehlchen/chain/ethereum/modules/curve/curve_cache.py
  rotkehlchen/chain/ethereum/modules/curve/decoder.py
  rotkehlchen/chain/ethereum/modules/yearn/utils.py
  rotkehlchen/chain/ethereum/utils.py
  rotkehlchen/globaldb/cache.py
  rotkehlchen/globaldb/migrations/migration1.py
  rotkehlchen/globaldb/schema.py
  rotkehlchen/globaldb/upgrades/v4_v5.py
  rotkehlchen/inquirer.py
  rotkehlchen/tests/external_apis/test_yearn.py
  rotkehlchen/tests/unit/globaldb/test_globaldb.py
  rotkehlchen/tests/unit/globaldb/test_upgrades.py
  rotkehlchen/tests/unit/test_general_cache.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend

ci: moves cassette workflow permissions to upper level
  .github/workflows/rotki_cassette_merge.yml
Due: none

ci: changes merge trigger to pull_request_target
  .github/workflows/rotki_cassette_merge.yml
Due: none

Periodically query beaconchain for the produced blocks
  rotkehlchen/externalapis/beaconchain.py
  rotkehlchen/tasks/manager.py
Due: backend

fix: updates eth2 staking, exposes `vueuse/shared`
  frontend/app/src/components/staking/eth2/Eth2Page.vue
  frontend/app/src/composables/api/staking/eth2.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/premium/premium.ts
  frontend/app/src/premium/setup-premium.ts
  frontend/app/src/store/staking/eth2.ts
  frontend/app/src/types/task-type.ts
  frontend/common/src/staking/eth2/index.ts
Due: frontend_unit, frontend_integration

feat: cache invalidation for images
  frontend/app/.eslintrc-auto-import.json
  frontend/app/public/assets/images/defi/curve.png
  frontend/app/public/assets/images/defi/curve.svg
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/display/EnsAvatar.vue
  frontend/app/src/components/helper/display/icons/AssetIcon.vue
  frontend/app/src/components/history/transactions/events/TransactionEventType.vue
  frontend/app/src/components/settings/data-security/DataManagement.vue
  frontend/app/src/components/settings/data-security/PurgeSelector.vue
  frontend/app/src/components/settings/data-security/data-management/DataManagement.vue
  frontend/app/src/components/settings/data-security/data-management/PurgeData.vue
  frontend/app/src/components/settings/data-security/data-management/PurgeImagesCache.vue
  frontend/app/src/composables/api/assets/icon.ts
  frontend/app/src/composables/api/blockchain/addresses-names.ts
  frontend/app/src/composables/assets/icon.ts
  frontend/app/src/composables/history/transactions/protocol-data.ts
  frontend/app/src/composables/location.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/defi/airdrops/index.vue
  frontend/app/src/store/blockchain/accounts/addresses-names.ts
  frontend/app/src/types/defi/protocols.ts
  frontend/app/src/types/history/tx/index.ts
Due: frontend_unit, frontend_integration

cleanups
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/accounts/balances/NonFungibleBalances.vue
  frontend/app/src/composables/filters/index.ts
  frontend/app/src/composables/history/filter-paginate.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-nfts.spec.ts
Due: frontend_unit, frontend_integration

cleanups
  frontend/app/.eslintrc-auto-import.json
Due: frontend_unit, frontend_integration

move unit test to correct directory
  frontend/app/tests/unit/specs/composables/accounts/filter-paginate-nfts.spec.ts
Due: frontend_unit, frontend_integration

function can no longer be undefined
  frontend/app/src/composables/history/filter-paginate.ts
Due: frontend_unit, frontend_integration

ci: fixes e2e tests not running on chrome
  .github/workflows/task_e2e_tests.yml
  frontend/app/scripts/e2e.js
Due: frontend_unit, frontend_integration

add some doc blocks, remove optional call check
  frontend/app/src/composables/history/filter-paginate.ts
Due: frontend_unit, frontend_integration

decode curve deposits & withdrawals via curve zap deposit contracts
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/curve/decoder.py
  rotkehlchen/tests/unit/decoders/test_curve.py
Due: backend

ci: changes token used for auto-merge
  .github/workflows/rotki_cassette_merge.yml
Due: none

add lodash modules for optimisation
  frontend/app/vite.config.ts
Due: frontend_unit, frontend_integration

refactor: pagination filters for nfts balances (#5844)
  frontend/app/.eslintrc-auto-import.json
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/accounts/balances/NonFungibleBalances.vue
  frontend/app/src/components/history/transactions/TransactionContent.vue
  frontend/app/src/composables/filters/index.ts
  frontend/app/src/composables/history/filter-paginate.ts
  frontend/app/tests/unit/fixtures/nfts.json
  frontend/app/tests/unit/setup-files/handlers/nfts.ts
  frontend/app/tests/unit/setup-files/setup.ts
  frontend/app/tests/unit/specs/composables/accounts/filter-paginate-nfts.spec.ts
  frontend/app/vite.config.ts
Due: frontend_unit, frontend_integration

fix: fixes eth2 filtering for new transaction view
  frontend/app/src/components/helper/filter/Eth2ValidatorFilter.vue
  frontend/app/src/components/staking/eth2/Eth2Page.vue
Due: frontend_unit, frontend_integration

Add filterable API endpoint to query all history events
  docs/api.rst
  rotkehlchen/accounting/structures/base.py
  rotkehlchen/accounting/structures/evm_event.py
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/ethereum/interfaces/balances.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/filtering.py
  rotkehlchen/db/history_events.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/api/test_history_base_entry.py
  rotkehlchen/types.py
Due: backend

Use function scope bittrex in most tests
  rotkehlchen/tests/exchanges/test_bittrex.py
  rotkehlchen/tests/fixtures/exchanges/bittrex.py
Due: backend

feat: updates components version to v6
  rotkehlchen/premium/premium.py
Due: backend

feat: setting to render nft image
  docs/changelog.rst
  frontend/app/.eslintrc-auto-import.json
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/accounts/balances/NonFungibleBalances.vue
  frontend/app/src/components/accounts/management/inputs/InputModeSelect.vue
  frontend/app/src/components/helper/NftDetails.vue
  frontend/app/src/components/nft/NftGallery.vue
  frontend/app/src/components/nft/NftGalleryItem.vue
  frontend/app/src/components/settings/FrontendSettings.vue
  frontend/app/src/components/settings/NftSettings.vue
  frontend/app/src/components/settings/general/RefreshSetting.vue
  frontend/app/src/components/settings/general/nft/NftImageRenderingSetting.vue
  frontend/app/src/components/settings/general/nft/NftImageRenderingSettingMenu.vue
  frontend/app/src/components/settings/general/nft/NftsInNetValueSetting.vue
  frontend/app/src/composables/assets/nft.ts
  frontend/app/src/data/psl.json
  frontend/app/src/data/psl.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/balances/blockchain/index.vue
  frontend/app/src/pages/settings/api-keys/external/index.vue
  frontend/app/src/pages/settings/general/index.vue
  frontend/app/src/store/settings/frontend.ts
  frontend/app/src/types/frontend-settings.ts
  frontend/app/src/types/user.ts
  frontend/app/src/utils/url.ts
  frontend/app/tests/unit/specs/composables/assets/index.spec.ts
  frontend/app/tests/unit/specs/store/assets/nft.spec.ts
  frontend/app/tests/unit/specs/store/settings/frontend.spec.ts
  frontend/app/tests/unit/specs/store/settings/utils.spec.ts
  frontend/app/tests/unit/specs/types/user.spec.ts
  frontend/app/tests/unit/specs/utils/url.spec.ts
Due: frontend_unit, frontend_integration

Utilize curve api for cache
  rotkehlchen/api/rest.py
  rotkehlchen/assets/utils.py
  rotkehlchen/chain/ethereum/modules/curve/curve_cache.py
  rotkehlchen/chain/ethereum/node_inquirer.py
  rotkehlchen/data/global.db
  rotkehlchen/db/addressbook.py
  rotkehlchen/globaldb/cache.py
  rotkehlchen/globaldb/upgrades/v4_v5.py
  rotkehlchen/inquirer.py
  rotkehlchen/tests/api/test_addressbook.py
  rotkehlchen/tests/api/test_assets.py
  rotkehlchen/tests/fixtures/globaldb.py
  rotkehlchen/tests/unit/globaldb/test_upgrades.py
  rotkehlchen/tests/unit/test_assets.py
  rotkehlchen/tests/unit/test_general_cache.py
  rotkehlchen/types.py
Due: backend

Catch ValueError in prune checks
  rotkehlchen/chain/ethereum/node_inquirer.py
  rotkehlchen/chain/optimism/node_inquirer.py
Due: backend

fix: asset select abort wrong controller
  frontend/app/src/components/inputs/AssetSelect.vue
Due: frontend_unit, frontend_integration

modify composable to accept function that returns default collection state
  frontend/app/src/composables/history/filter-paginate.ts
Due: frontend_unit, frontend_integration

update existing use cases and tests of the composable
  frontend/app/src/components/accounts/balances/NonFungibleBalances.vue
  frontend/app/src/components/history/deposits-withdrawals/DepositsWithdrawalsContent.vue
  frontend/app/src/components/history/ledger-actions/LedgerActionContent.vue
  frontend/app/src/components/history/trades/ClosedTrades.vue
  frontend/app/src/components/history/transactions/TransactionContent.vue
  frontend/app/tests/unit/specs/composables/accounts/filter-paginate-nfts.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-asset-movements.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-ledger-actions.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-trades.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-transactions.spec.ts
Due: frontend_unit, frontend_integration

add test for binance savings component use case of composable
  frontend/app/tests/unit/fixtures/binance-savings.json
  frontend/app/tests/unit/setup-files/handlers/binance-savings.ts
  frontend/app/tests/unit/setup-files/setup.ts
  frontend/app/tests/unit/specs/composables/accounts/filter-paginate-exchange-balances.spec.ts
Due: frontend_unit, frontend_integration

update binance savings component to use composable
  frontend/app/src/components/exchanges/BinanceSavingDetail.vue
Due: frontend_unit, frontend_integration

cleanup composable, set defaults where possible to reduce number of params when used with common params
  frontend/app/src/composables/history/filter-paginate.ts
Due: frontend_unit, frontend_integration

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
