Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Fix on deadlock and balances invalidation
  rotkehlchen/api/rest.py
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/bitcoin/xpub.py
  rotkehlchen/db/drivers/gevent.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/api/blockchain/test_avalanche.py
  rotkehlchen/tests/api/blockchain/test_base.py
  rotkehlchen/tests/api/blockchain/test_evm.py
  rotkehlchen/tests/api/blockchain/test_optimism.py
  rotkehlchen/tests/api/blockchain/test_substrate.py
  rotkehlchen/tests/api/test_balances.py
  rotkehlchen/tests/api/test_bitcoin.py
  rotkehlchen/tests/api/test_eth2.py
  rotkehlchen/tests/api/test_evmlike.py
  rotkehlchen/tests/integration/test_blockchain.py
  rotkehlchen/tests/unit/test_chains_aggregator.py
Due: backend

feat: add blockchain balance caching
  frontend/app/src/components/accounts/AccountBalancesDefaultPage.vue
  frontend/app/src/components/helper/BlockchainBalanceStalenessIndicator.vue
  frontend/app/src/composables/api/balances/blockchain.spec.ts
  frontend/app/src/composables/api/balances/blockchain.ts
  frontend/app/src/composables/staking/eth/use-eth-validator-operations.ts
  frontend/app/src/locales/en.json
  frontend/app/src/modules/accounts/use-account-operations.ts
  frontend/app/src/modules/balances/blockchain/use-token-detection-orchestrator.spec.ts
  frontend/app/src/modules/balances/blockchain/use-token-detection-orchestrator.ts
  frontend/app/src/modules/balances/services/use-balance-processing-service.ts
  frontend/app/src/modules/balances/use-balance-fetching.ts
  frontend/app/src/modules/balances/use-balance-refresh.ts
  frontend/app/src/modules/balances/use-blockchain-balance-staleness.spec.ts
  frontend/app/src/modules/balances/use-blockchain-balance-staleness.ts
  frontend/app/src/modules/balances/use-blockchain-balances.spec.ts
  frontend/app/src/modules/balances/use-blockchain-balances.ts
  frontend/app/src/modules/balances/use-blockchain-refresh-timestamps-store.spec.ts
  frontend/app/src/modules/balances/use-blockchain-refresh-timestamps-store.ts
  frontend/app/src/modules/dashboard/summary/BlockchainSummary.vue
  frontend/app/src/modules/messaging/handlers/refresh-balances.ts
  frontend/app/src/modules/onchain/use-wallet-helper.ts
  frontend/app/src/modules/staking/eth/composables/use-eth-staking-refresh.ts
  frontend/app/src/modules/staking/eth/composables/use-eth-validator-watchers.spec.ts
  frontend/app/src/modules/staking/eth/composables/use-eth-validator-watchers.ts
  frontend/app/src/pages/accounts/evm/[[tab]].vue
  frontend/app/src/pages/balances/blockchain/index.vue
  frontend/app/src/route-map.d.ts
  frontend/app/src/types/blockchain/balances.ts
Due: frontend_unit, frontend_integration

Update changelog
  docs/changelog.rst
Due: none

fix(frontend): fetch capabilities during login
  frontend/app/src/composables/session/settings.ts
  frontend/app/src/modules/premium/use-feature-access.spec.ts
  frontend/app/src/modules/premium/use-premium-watchers.ts
  frontend/app/src/modules/sigil/use-sigil.ts
Due: frontend_unit, frontend_integration

Update dependencies
  pyproject.toml
  uv.lock
Due: none

fix(electron): harden Windows shutdown flow
  frontend/app/electron/main/application.ts
  frontend/app/electron/main/ipc-setup.ts
  frontend/app/electron/main/process-manager.ts
  frontend/app/electron/main/window-manager.ts
  frontend/app/electron/main/ws.ts
Due: frontend_unit, frontend_integration

Update dependencies (#12013)
  pyproject.toml
  uv.lock
Due: none

Use onedir when packaging for windows and linux
  .github/workflows/rotki_release.yaml
  frontend/app/electron/main/core-args.ts
  package.py
  rotkehlchen.spec
Due: backend, frontend_unit, frontend_integration

Add HyperCore history ingestion for Hyperliquid
  rotkehlchen/externalapis/hyperliquid.py
  rotkehlchen/history/manager.py
  rotkehlchen/tests/unit/test_history_manager_hyperliquid.py
Due: backend

Add HyperCore balance merge for Hyperliquid
  rotkehlchen/chain/hyperliquid/manager.py
  rotkehlchen/tests/unit/test_hyperliquid_core_balances.py
Due: backend

Avoid Hyperliquid balance double counting
  rotkehlchen/chain/arbitrum_one/modules/hyperliquid/balances.py
  rotkehlchen/chain/arbitrum_one/modules/hyperliquid/constants.py
  rotkehlchen/chain/hyperliquid/constants.py
  rotkehlchen/externalapis/hyperliquid.py
  rotkehlchen/tests/unit/test_hyperliquid_dedup_balances.py
Due: backend

Support Hyperliquid multi-DEX queries
  rotkehlchen/chain/arbitrum_one/modules/hyperliquid/balances.py
  rotkehlchen/externalapis/hyperliquid.py
  rotkehlchen/tests/unit/test_hyperliquid_dedup_balances.py
  rotkehlchen/tests/unit/test_hyperliquid_dex_discovery.py
Due: backend

Fix beefy legacy boost exit decoding
  docs/changelog.rst
  rotkehlchen/chain/evm/decoding/beefy_finance/decoder.py
  rotkehlchen/tests/unit/decoders/test_beefy_finance.py
Due: backend

Address reviewer feedback
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/arbitrum_one/modules/hyperliquid/balances.py
  rotkehlchen/chain/hyperliquid/manager.py
  rotkehlchen/externalapis/hyperliquid.py
  rotkehlchen/history/manager.py
  rotkehlchen/tests/unit/test_hyperliquid_dedup_balances.py
  rotkehlchen/tests/unit/test_hyperliquid_dex_discovery.py
  rotkehlchen/tests/unit/test_protocol_balances.py
Due: backend

Adjust address provider for curve pools
  rotkehlchen/chain/evm/decoding/curve/constants.py
  rotkehlchen/chain/evm/decoding/curve/curve_cache.py
Due: backend

ci: update event-types docs path after restructure
  .github/workflows/task_docs_event_types_check.yml
Due: none

chore: update doc URLs after usage-guides restructure
  frontend/app/shared/external-links.ts
Due: frontend_unit, frontend_integration

chore(tools): add helper to resolve GitHub Actions tags to SHAs
  tools/pin_github_actions.py
Due: none

ci: disable setup-node package-manager cache in release
  .github/workflows/rotki_release.yaml
Due: none

ci: bump workflow actions to latest major versions
  .github/workflows/rotki_cassette_merge.yml
  .github/workflows/rotki_ci.yml
  .github/workflows/rotki_dev_builds.yml
  .github/workflows/rotki_nightly.yml
  .github/workflows/rotki_release.yaml
  .github/workflows/rotki_sqldiff.yml
  .github/workflows/task_backend_tests.yml
  .github/workflows/task_docs_event_types_check.yml
  .github/workflows/task_e2e_tests.yml
  .github/workflows/task_fe_external_links_verification.yml
  .github/workflows/task_fe_unit_tests.yml
Due: none

ci: pin all GitHub Actions to commit SHAs
  .github/workflows/rotki_cassette_merge.yml
  .github/workflows/rotki_ci.yml
  .github/workflows/rotki_dev_builds.yml
  .github/workflows/rotki_docker_publish.yaml
  .github/workflows/rotki_nightly.yml
  .github/workflows/rotki_release.yaml
  .github/workflows/rotki_sqldiff.yml
  .github/workflows/task_backend_tests.yml
  .github/workflows/task_docs_event_types_check.yml
  .github/workflows/task_e2e_tests.yml
  .github/workflows/task_fe_external_links_verification.yml
  .github/workflows/task_fe_unit_tests.yml
Due: none

ci: enable Renovate dependency dashboard
  .github/renovate.json5
Due: none

ci: bump codecov-action to v6 and setup-uv to v8
  .github/workflows/rotki_ci.yml
  .github/workflows/rotki_dev_builds.yml
  .github/workflows/rotki_nightly.yml
  .github/workflows/rotki_release.yaml
  .github/workflows/task_backend_tests.yml
  .github/workflows/task_docs_event_types_check.yml
  .github/workflows/task_e2e_tests.yml
  .github/workflows/task_fe_unit_tests.yml
Due: none

Add GDAX/CoinbasePro CSV data importer
  rotkehlchen/data_import/importers/coinbasepro.py
  rotkehlchen/data_import/importers/constants.py
  rotkehlchen/data_import/manager.py
  rotkehlchen/tests/api/test_data_import.py
  rotkehlchen/tests/data/coinbasepro.csv
  rotkehlchen/tests/utils/dataimport.py
Due: backend

test: parametrize simple data import tests
  rotkehlchen/tests/api/test_data_import.py
Due: backend

feat: add Xaman (XRPL) CSV importer
  rotkehlchen/data_import/importers/xaman.py
Due: backend

feat: register Xaman importer in DataImportSource
  rotkehlchen/data_import/manager.py
Due: backend

fix(i18n): rename accounting ignore labels
  docs/changelog.rst
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/locales/ru.json
  frontend/app/src/modules/history/events/composables/use-history-events-deletion.ts
Due: frontend_unit, frontend_integration

chore(frontend): remove unused components and composables
  frontend/app/src/components/display/TableEmptyState.vue
  frontend/app/src/components/history/events/EventDecodingStatusDetails.vue
  frontend/app/src/components/wallets/ProviderSelection.vue
  frontend/app/src/composables/array/index.ts
  frontend/app/src/types/external.ts
Due: frontend_unit, frontend_integration

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
