Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

fix: disable premium sync pull button when there is upload error (#7510)
  frontend/app/src/components/status/sync/SyncButtons.vue
  frontend/app/src/components/status/sync/SyncIndicator.vue
  frontend/app/src/composables/session/logout.ts
Due: frontend_unit, frontend_integration

refactor: introduce subsection status in store
  frontend/app/src/components/accounts/AccountBalanceTable.vue
  frontend/app/src/components/accounts/AccountBalances.vue
  frontend/app/src/components/dashboard/OverallBalances.vue
  frontend/app/src/components/staking/eth/EthStakingPage.vue
  frontend/app/src/composables/blockchain/account-balances/btc.ts
  frontend/app/src/composables/blockchain/account-balances/chain.ts
  frontend/app/src/composables/blockchain/account-balances/eth.ts
  frontend/app/src/composables/blockchain/balances/index.ts
  frontend/app/src/composables/defi/lending.ts
  frontend/app/src/composables/history/events/tx/decoding.ts
  frontend/app/src/composables/session/load.ts
  frontend/app/src/composables/session/purge.ts
  frontend/app/src/composables/status.ts
  frontend/app/src/store/blockchain/accounts/eth.ts
  frontend/app/src/store/defi/aave/index.ts
  frontend/app/src/store/defi/balancer/index.ts
  frontend/app/src/store/defi/compound/index.ts
  frontend/app/src/store/defi/index.ts
  frontend/app/src/store/defi/liquity/index.ts
  frontend/app/src/store/defi/makerdao/index.ts
  frontend/app/src/store/defi/overview.ts
  frontend/app/src/store/defi/sushiswap/index.ts
  frontend/app/src/store/defi/uniswap/index.ts
  frontend/app/src/store/defi/yearn/index.ts
  frontend/app/src/store/status.ts
  frontend/app/src/types/action.ts
  frontend/app/src/types/blockchain/accounts.ts
  frontend/app/src/types/blockchain/index.ts
  frontend/app/src/types/status.ts
  frontend/app/tests/unit/specs/components/settings/account-balances.spec.ts
  frontend/app/tests/unit/specs/composables/blockchains/balances/index.spec.ts
Due: frontend_unit, frontend_integration

chore: introduce prefix for pinia cache
  frontend/app/src/store/debug.ts
Due: frontend_unit, frontend_integration

refactor(frontend): unify history query status ui and modal
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/history/events/HistoryQueryStatus.vue
  frontend/app/src/components/history/events/HistoryQueryStatusBar.vue
  frontend/app/src/components/history/events/HistoryQueryStatusCurrent.vue
  frontend/app/src/components/history/events/HistoryQueryStatusDialog.vue
  frontend/app/src/components/history/events/query-status/HistoryEventsQueryStatus.vue
  frontend/app/src/components/history/events/query-status/HistoryEventsQueryStatusCurrent.vue
  frontend/app/src/components/history/events/query-status/HistoryEventsQueryStatusDetails.vue
  frontend/app/src/components/history/events/query-status/HistoryEventsQueryStatusDialog.vue
  frontend/app/src/components/history/events/query-status/HistoryEventsQueryStatusLine.vue
  frontend/app/src/components/history/events/query-status/QueryStatusBar.vue
  frontend/app/src/components/history/events/query-status/QueryStatusCurrent.vue
  frontend/app/src/components/history/events/query-status/QueryStatusDialog.vue
  frontend/app/src/components/history/events/tx/query-status/TransactionQueryStatus.vue
  frontend/app/src/components/history/events/tx/query-status/TransactionQueryStatusCurrent.vue
  frontend/app/src/components/history/events/tx/query-status/TransactionQueryStatusDetails.vue
  frontend/app/src/components/history/events/tx/query-status/TransactionQueryStatusDialog.vue
  frontend/app/src/components/history/events/tx/query-status/TransactionQueryStatusLine.vue
  frontend/app/src/components/history/events/tx/query-status/TransactionQueryStatusSteps.vue
  frontend/app/src/composables/history/events/query-status/events-query-status.ts
  frontend/app/src/composables/history/events/query-status/tx-query-status.ts
Due: frontend_unit, frontend_integration

chore: update translations
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
Due: frontend_unit, frontend_integration

refactor: VMenu to RuiMenu
  frontend/app/src/components/CurrencyDropdown.vue
  frontend/app/src/components/EthNamesHint.vue
  frontend/app/src/components/HintMenuIcon.vue
  frontend/app/src/components/PrivacyModeDropdown.vue
  frontend/app/src/components/accounts/balances/NonFungibleBalancesFilter.vue
  frontend/app/src/components/accounts/management/inputs/InputModeSelect.vue
  frontend/app/src/components/asset-manager/RestoreAssetDbButton.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetContent.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetIgnoringMore.vue
  frontend/app/src/components/asset-manager/newly-detected/NewlyDetectedAssetTable.vue
  frontend/app/src/components/dashboard/DashboardAssetTable.vue
  frontend/app/src/components/dashboard/NftBalanceTable.vue
  frontend/app/src/components/dashboard/SnapshotActionButton.vue
  frontend/app/src/components/dashboard/liquity-provider/LiquidityProviderBalanceTable.vue
  frontend/app/src/components/dashboard/summary-card/SummaryCardRefreshMenu.vue
  frontend/app/src/components/helper/TableStatusFilter.vue
  frontend/app/src/components/history/events/HistoryEventAction.vue
  frontend/app/src/components/history/events/HistoryEventNote.vue
  frontend/app/src/components/history/events/HistoryEventsAction.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/profitloss/ReportGenerator.vue
  frontend/app/src/components/profitloss/ReportMissingAcquisitions.vue
  frontend/app/src/components/profitloss/ReportProfitLossEventAction.vue
  frontend/app/src/components/profitloss/ReportsTableMoreAction.vue
  frontend/app/src/components/settings/StatisticsGraphSettings.vue
  frontend/app/src/components/staking/liquity/LiquityStakingDetails.vue
  frontend/app/src/components/status/notifications/NoTasksRunning.vue
  frontend/app/src/components/status/sync/SyncIndicator.vue
  frontend/app/src/components/table-filter/SavedFilterManagement.vue
  frontend/app/src/main.scss
  frontend/app/src/pages/import/index.vue
  frontend/app/tests/e2e/pages/assets-manager-page.ts
Due: frontend_unit, frontend_integration

Process kraken rewards program events
  docs/changelog.rst
  rotkehlchen/assets/converters.py
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/tests/exchanges/test_kraken.py
Due: backend

Handle invalid ENS names in decoder
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/ens/decoder.py
  rotkehlchen/tests/unit/decoders/test_ens.py
Due: backend

Fix (Airdrops): Update CSVs/JSONs with hash
  docs/changelog.rst
  rotkehlchen/chain/ethereum/airdrops.py
  rotkehlchen/tests/api/test_metadata.py
  rotkehlchen/tests/unit/test_ethereum_airdrops.py
  rotkehlchen/types.py
Due: backend

Fix deletion of transactions
  docs/changelog.rst
  rotkehlchen/db/evmtx.py
  rotkehlchen/tests/unit/test_evm_transactions.py
  rotkehlchen/tests/utils/ethereum.py
Due: backend

refactor: useDisplay to useBreakpoint
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/UserDropdown.vue
  frontend/app/src/components/accounts/AccountGroupHeader.vue
  frontend/app/src/components/app/AppCore.vue
  frontend/app/src/components/app/AppIndicators.vue
  frontend/app/src/components/common/PaginatedCards.vue
  frontend/app/src/components/display/LabeledAddressDisplay.vue
  frontend/app/src/components/help/HelpSidebar.vue
  frontend/app/src/components/history/UpgradeRow.vue
  frontend/app/src/components/history/events/HistoryEventsIdentifier.vue
  frontend/app/src/components/notes/UserNotesSidebar.vue
  frontend/app/src/components/premium/GetPremiumButton.vue
  frontend/app/src/components/status/notifications/NotificationSidebar.vue
  frontend/app/src/composables/common.ts
  frontend/app/src/plugins/vuetify.ts
Due: frontend_unit, frontend_integration

Bump version: 1.32.0 → 1.32.1
  .bumpversion.cfg
  docs/changelog.rst
  docs/conf.py
  frontend/app/package.json
  pyproject.toml
Due: frontend_unit, frontend_integration

Fix the curve pool token price calculation
  docs/changelog.rst
  rotkehlchen/inquirer.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend

Map STRK in exchanges as the native token and not the EVM one
  rotkehlchen/assets/exchanges_mappings/common.py
Due: backend

Fix incorrect match for ethereum withdrawals in arb
  rotkehlchen/chain/arbitrum_one/modules/arbitrum_one_bridge/decoder.py
  rotkehlchen/tests/unit/decoders/test_arbitrum_one_bridge.py
Due: backend

Bump pylint
  requirements_lint.txt
Due: none

Bump substrate modules
  requirements.txt
Due: none

Bump cryptography to 42.0.5
  requirements.txt
Due: none

Bump testing packages
  requirements_dev.txt
Due: none

refactor: remove VPagination, use DataTablePagination instead
  frontend/app/src/components/common/PaginatedCards.vue
  frontend/app/src/components/notes/UserNotesList.vue
  frontend/app/src/components/notes/UserNotesSidebar.vue
  frontend/app/src/composables/api/session/user-notes.ts
  frontend/app/src/composables/filter-paginate.ts
  frontend/app/src/plugins/rui/index.ts
  frontend/app/src/types/notes.ts
  frontend/app/src/utils/collection.ts
Due: frontend_unit, frontend_integration
