Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

chore(premium): introduce components v16
  frontend/app/scripts/extract-premium-keys.ts
  frontend/app/src/modules/premium/premium.ts
  rotkehlchen/premium/premium.py
Due: backend, frontend_unit, frontend_integration

fix(statistics): parse the value snapshots actually send
  frontend/app/src/modules/statistics/api/use-statistics-api.spec.ts
  frontend/common/src/balances/index.ts
  frontend/common/src/statistics/index.ts
Due: frontend_unit, frontend_integration

Fix duplicates for monerium in ethereum
  rotkehlchen/chain/ethereum/decoding/decoder.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/tests/unit/decoders/test_monerium.py
Due: backend

Fix duplicates for monerium in ethereum (#12902)
  rotkehlchen/chain/ethereum/decoding/decoder.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/tests/unit/decoders/test_monerium.py
Due: backend

Bump dependencies
  pyproject.toml
  uv.lock
Due: none

fix(frontend): modernise the vitest config file imports
  frontend/app/vitest.config.ts
  frontend/app/vitest.contract.config.ts
Due: frontend_unit, frontend_integration

fix(frontend): silence the vite config extension warnings
  frontend/app/tsconfig.node.json
  frontend/app/vite.config.ts
  frontend/eslint.config.js
Due: frontend_unit, frontend_integration

Bump dependencies (#12904)
  pyproject.toml
  uv.lock
Due: none

test(frontend): pin the account form validation gate
  frontend/app/src/modules/accounts/management/AccountForm.spec.ts
Due: frontend_unit, frontend_integration

refactor(frontend): validate the eth2 input with zod
  frontend/app/src/locales/en.json
  frontend/app/src/modules/accounts/blockchain/Eth2Input.spec.ts
  frontend/app/src/modules/accounts/blockchain/Eth2Input.vue
  frontend/app/src/modules/accounts/blockchain/eth2-validator-form.spec.ts
  frontend/app/src/modules/accounts/blockchain/eth2-validator-form.ts
  frontend/app/src/modules/accounts/management/types/ValidatorAccountForm.vue
Due: frontend_unit, frontend_integration

test(frontend): characterize the premium credentials form
  frontend/app/src/modules/auth/create-account/premium/CreateAccountPremiumForm.spec.ts
Due: frontend_unit, frontend_integration

test(frontend): characterize the password confirmation dialog
  frontend/app/src/modules/auth/login/PasswordConfirmationDialog.spec.ts
Due: frontend_unit, frontend_integration

test(frontend): characterize the create account credentials form
  frontend/app/src/modules/auth/create-account/credentials/CreateAccountCredentialsForm.spec.ts
Due: frontend_unit, frontend_integration

test(frontend): characterize the login form validation
  frontend/app/src/modules/auth/login/LoginForm.spec.ts
Due: frontend_unit, frontend_integration

test(frontend): guard the create account step gates
  frontend/app/src/modules/auth/create-account/credentials/CreateAccountCredentials.spec.ts
  frontend/app/src/modules/auth/create-account/premium/CreateAccountPremium.spec.ts
Due: frontend_unit, frontend_integration

refactor(pill): share the account pill with filter-bound bars
  frontend/app/src/modules/core/table/filters/shared/account-field.ts
  frontend/app/src/modules/core/table/pill/core/field-adapter.ts
Due: frontend_unit, frontend_integration

feat(pill): let a field caption its options but not its pill
  frontend/app/src/modules/core/table/pill/core/field-adapter.ts
  frontend/app/src/modules/core/table/pill/core/format.spec.ts
  frontend/app/src/modules/core/table/pill/core/format.ts
  frontend/app/src/modules/core/table/pill/core/types.ts
Due: frontend_unit, frontend_integration

feat(staking): replace the validator toggle with filter pills
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/ru.json
  frontend/app/src/modules/staking/eth/EthStakingPage.vue
  frontend/app/src/modules/staking/eth/components/EthStakingFilterBar.vue
  frontend/app/src/modules/staking/eth/components/EthValidatorCombinedFilter.vue
  frontend/app/src/modules/staking/eth/components/EthValidatorFilter.vue
  frontend/app/src/modules/staking/eth/use-eth-staking-selection-fields.spec.ts
  frontend/app/src/modules/staking/eth/use-eth-staking-selection-fields.ts
  frontend/app/src/modules/staking/eth/use-eth-staking-selection.spec.ts
  frontend/app/src/modules/staking/eth/use-eth-staking-selection.ts
  frontend/app/src/modules/staking/eth2/Eth2ValidatorFilter.vue
Due: frontend_unit, frontend_integration

refactor(staking): single-source the validator statuses
  frontend/app/src/modules/staking/eth/use-eth-validator-filter.ts
  frontend/common/src/staking/eth2/index.ts
Due: frontend_unit, frontend_integration

refactor(ui): give the validator row the shared two-line treatment
  frontend/app/src/modules/shell/components/display/ValidatorDisplay.vue
Due: frontend_unit, frontend_integration

refactor(frontend): validate the address book form with zod
  frontend/app/src/modules/accounts/address-book/AddressBookForm.spec.ts
  frontend/app/src/modules/accounts/address-book/AddressBookForm.vue
  frontend/app/src/modules/accounts/address-book/address-book-form.ts
  frontend/app/src/modules/accounts/address-book/use-address-suggestions.spec.ts
  frontend/app/src/modules/accounts/address-book/use-address-suggestions.ts
Due: frontend_unit, frontend_integration

refactor(frontend): validate the manual balances form with zod
  frontend/app/src/locales/en.json
  frontend/app/src/modules/accounts/manual-balances/ManualBalancesDialog.vue
  frontend/app/src/modules/accounts/manual-balances/ManualBalancesForm.spec.ts
  frontend/app/src/modules/accounts/manual-balances/ManualBalancesForm.vue
  frontend/app/src/modules/accounts/manual-balances/manual-balance-form.spec.ts
  frontend/app/src/modules/accounts/manual-balances/manual-balance-form.ts
  frontend/app/src/modules/accounts/manual-balances/use-suggested-location.ts
Due: frontend_unit, frontend_integration

refactor(frontend): validate the xpub input with zod
  frontend/app/src/modules/accounts/blockchain/AddressInput.vue
  frontend/app/src/modules/accounts/blockchain/BtcAddressInput.spec.ts
  frontend/app/src/modules/accounts/blockchain/BtcAddressInput.vue
  frontend/app/src/modules/accounts/blockchain/use-xpub-input.ts
  frontend/app/src/modules/accounts/management/inputs/AccountDataInput.vue
  frontend/app/src/modules/accounts/management/types/BtcAccountForm.vue
Due: frontend_unit, frontend_integration

refactor(frontend): validate the address input with zod
  frontend/app/src/modules/accounts/blockchain/AddressInput.spec.ts
  frontend/app/src/modules/accounts/blockchain/AddressInput.vue
  frontend/app/src/modules/accounts/blockchain/address-entries.spec.ts
  frontend/app/src/modules/accounts/blockchain/address-entries.ts
  frontend/app/src/modules/accounts/management/types/AddressAccountForm.vue
  frontend/app/src/modules/accounts/management/types/AgnosticAddressAccountForm.vue
Due: frontend_unit, frontend_integration
