Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Differentiate between v2 and v1 tokens in some mappings
  rotkehlchen/chain/ethereum/modules/aave/aave.py
  rotkehlchen/chain/ethereum/modules/aave/blockchain.py
  rotkehlchen/chain/ethereum/modules/aave/common.py
  rotkehlchen/chain/ethereum/modules/aave/constants.py
  rotkehlchen/chain/ethereum/modules/aave/graph.py
  rotkehlchen/constants/assets.py
  rotkehlchen/constants/assets.py.template
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tests/api/test_aave.py
  rotkehlchen/tests/api/test_uniswap.py
  rotkehlchen/tests/db/test_defi_events.py
  rotkehlchen/tests/unit/test_aave.py
  rotkehlchen/tests/utils/aave.py
Due: backend

Add changelog entry for 3437
  docs/changelog.rst
Due: none

Add 1D Timeframe
  frontend/app/src/components/dashboard/NetworthChart.vue
  frontend/app/src/store/settings/utils.ts
  frontend/common/src/settings/graphs.ts
  frontend/common/src/settings/index.ts
Due: frontend_unit, frontend_integration

Use correct ABI for v2 aTokens and other test fixes
  rotkehlchen/chain/ethereum/manager.py
  rotkehlchen/chain/ethereum/modules/aave/common.py
  rotkehlchen/chain/ethereum/modules/aave/graph.py
  rotkehlchen/chain/ethereum/modules/l2/loopring.py
  rotkehlchen/chain/ethereum/modules/yearn/vaults.py
  rotkehlchen/constants/ethereum.py
  rotkehlchen/data/eth_abi.json
  rotkehlchen/tests/api/test_aave.py
  rotkehlchen/tests/utils/aave.py
Due: backend

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

test_open_nodes use newer transaction. Avoid pruning.
  rotkehlchen/chain/ethereum/manager.py
  rotkehlchen/tests/unit/test_ethereum_manager.py
Due: backend

enable nfts module for api test
  rotkehlchen/tests/api/test_nfts.py
Due: backend

Also query all external exchanges for historical accounting
  rotkehlchen/api/rest.py
  rotkehlchen/history/events.py
  rotkehlchen/rotkehlchen.py
Due: backend

Add test for historical accounting of an external exchange
  rotkehlchen/tests/api/test_exchanges.py
  rotkehlchen/tests/api/test_history.py
  rotkehlchen/tests/api/test_trades.py
  rotkehlchen/tests/fixtures/rotkehlchen.py
  rotkehlchen/tests/utils/history.py
Due: backend

Changelog entry for 3452
  docs/changelog.rst
Due: none

Improve Kucoin api rate limiting handling. Recognize CFG in Kucoin
  rotkehlchen/assets/asset.py
  rotkehlchen/assets/converters.py
  rotkehlchen/exchanges/kucoin.py
Due: backend

Add changelog for 3448
  docs/changelog.rst
Due: none

Add more infura endpoints for testing
  rotkehlchen/tests/utils/ethereum.py
Due: backend

Removes common/lib from eslint ignore
  frontend/app/.eslintignore
Due: frontend_unit, frontend_integration

#1345: Update docs and user guide regarding frontend changes.
  docs/api.rst
  docs/changelog.rst
  docs/usage_guide.rst
  frontend/app/src/components/icons/UpholdIcon.vue
  frontend/app/src/components/images/UpholdHorizontal.vue
Due: frontend_unit, frontend_integration

Enabled asset navigation for closed trades
  frontend/app/src/components/history/ClosedTrades.vue
Due: frontend_unit, frontend_integration

1345: Add uphold exchange to the backend, tests.
  frontend/app/src/components/history/consts.ts
  frontend/app/src/components/icons/UpholdIcon.vue
  frontend/app/src/components/images/UpholdHorizontal.vue
  frontend/app/src/components/import/FileUpload.vue
  frontend/app/src/components/import/UpholdImport.vue
  frontend/app/src/data/defaults.ts
  frontend/app/src/locales/en.json
  frontend/app/src/views/ImportData.vue
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/encoding.py
  rotkehlchen/data/importer.py
  rotkehlchen/db/schema.py
  rotkehlchen/tests/api/test_data_import.py
  rotkehlchen/tests/data/uphold-transaction-history.csv
  rotkehlchen/tests/utils/dataimport.py
  rotkehlchen/typing.py
Due: backend, frontend_unit, frontend_integration

#1345: Fix FOXIcon.vue sizing from 100% to 40px.
  frontend/app/src/components/icons/FOXIcon.vue
Due: frontend_unit, frontend_integration

#1345: Add uphold supported assets.
  frontend/app/src/components/import/UpholdImport.vue
  frontend/app/src/views/ImportData.vue
  rotkehlchen/assets/asset.py
  rotkehlchen/assets/converters.py
  rotkehlchen/data/importer.py
  rotkehlchen/tests/exchanges/test_uphold.py
  rotkehlchen/tests/utils/dataimport.py
Due: backend, frontend_unit, frontend_integration

Disables keep-alive on dev mode
  frontend/app/src/components/helper/TabNavigation.vue
Due: frontend_unit, frontend_integration

Makes icons in balance display navigate to assets page
  frontend/app/src/components/assets/AssetLink.vue
  frontend/app/src/components/display/AssetMovementDisplay.vue
  frontend/app/src/components/display/BalanceDisplay.vue
  frontend/app/src/composables/common.ts
  frontend/app/src/premium/register-components.ts
  frontend/app/src/views/Assets.vue
  frontend/start-dev.js
Due: frontend_unit, frontend_integration

Simplifies amount currency component
  frontend/app/src/components/display/AmountCurrency.vue
Due: frontend_unit, frontend_integration

Fix uphold asset mappings
  rotkehlchen/assets/asset.py
  rotkehlchen/tests/exchanges/test_uphold.py
Due: backend

Small fix in the PR template
  .github/pull_request_template.md
Due: none

Add pickle to the balances
  frontend/app/src/assets/images/modules/pickle.svg
  frontend/app/src/components/defi/wizard/consts.ts
  frontend/app/src/services/defi/defi-api.ts
  frontend/app/src/services/session/consts.ts
  frontend/app/src/store/defi/actions.ts
Due: frontend_unit, frontend_integration

Add pickle finance to changelog and remove unncesary code
  docs/changelog.rst
  frontend/app/src/assets/images/modules/pickle.svg
  frontend/app/src/services/defi/defi-api.ts
  frontend/app/src/store/defi/actions.ts
Due: frontend_unit, frontend_integration

Enforce python version in tests
  docs/installation_guide.rst
  rotkehlchen/tests/conftest.py
Due: backend

Task scheduling should never occur after/during logout
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tasks/manager.py
Due: backend

Make sure that the converters ignore locale
  frontend/app/src/services/axios-tranformers.ts
Due: frontend_unit, frontend_integration

Updates changelog
  docs/changelog.rst
Due: none

Add Binance Fiat Deposits / Withdraws
  rotkehlchen/exchanges/binance.py
Due: backend

Fix binance fiat deposit/withdrawals. Add fiat payments
  rotkehlchen/exchanges/binance.py
Due: backend

fiat/payments compatible deserialize
  rotkehlchen/exchanges/binance.py
Due: backend

Adjust binance tests after fiat order and fiat deposit/withdrawals
  rotkehlchen/tests/exchanges/test_binance.py
  rotkehlchen/tests/utils/history.py
Due: backend

Changelog for 2362
  docs/changelog.rst
Due: none

Adds an edit button to the assets page
  frontend/app/src/components/asset-manager/AssetManagement.vue
  frontend/app/src/components/asset-manager/RestoreAssetDbButton.vue
  frontend/app/src/components/settings/data-security/RestoreAssetsDatabase.vue
  frontend/app/src/mixins/restore-assets-database-mixin.ts
  frontend/app/src/router/index.ts
  frontend/app/src/views/AssetManager.vue
  frontend/app/src/views/Assets.vue
Due: frontend_unit, frontend_integration

Skip account if trove is closes or account hasn't open it
  rotkehlchen/chain/ethereum/modules/liquity/trove.py
Due: backend

Fixes snake_case transformer prefixing capitalized keys
  frontend/app/src/services/axios-tranformers.ts
  frontend/app/tests/unit/services/axios-transformers.spec.ts
Due: frontend_unit, frontend_integration

Add link and notes to csv
  rotkehlchen/accounting/accountant.py
  rotkehlchen/accounting/events.py
  rotkehlchen/csv_exporter.py
Due: backend
