Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Use specifie eth2 addresses when querying anything eth2 related
  rotkehlchen/chain/manager.py
Due: backend

Skip the eth2 deposits/details test in the CI
  rotkehlchen/tests/api/test_eth2.py
Due: backend

Fix test_try_premium_at_start_old_account_can_pull_data
  rotkehlchen/tests/utils/premium.py
Due: backend

Add assets that should be ignored on FTX
  rotkehlchen/assets/converters.py
Due: backend

Fix test_history.py
  rotkehlchen/tests/api/test_history.py
Due: backend

Fix kusama tests
  rotkehlchen/tests/utils/substrate.py
Due: backend

Add 2 more kusama open nodes. OnFinality and Elara
  rotkehlchen/chain/substrate/manager.py
  rotkehlchen/chain/substrate/typing.py
  rotkehlchen/chain/substrate/utils.py
  rotkehlchen/tests/utils/substrate.py
Due: backend

Query staked ADX balances for ADX v5 staking pool
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/adex/adex.py
  rotkehlchen/chain/manager.py
  rotkehlchen/data/eth_contracts.json
  rotkehlchen/tests/api/test_adex.py
  rotkehlchen/tests/integration/test_blockchain.py
  rotkehlchen/tests/unit/test_tokens.py
  rotkehlchen/tests/utils/blockchain.py
  rotkehlchen/tests/utils/rotkehlchen.py
Due: backend

Utilize the on_acccount_addition callback for Adex staked balances
  rotkehlchen/chain/ethereum/modules/aave/aave.py
  rotkehlchen/chain/ethereum/modules/adex/adex.py
  rotkehlchen/chain/ethereum/modules/balancer/balancer.py
  rotkehlchen/chain/ethereum/modules/compound.py
  rotkehlchen/chain/ethereum/modules/eth2.py
  rotkehlchen/chain/ethereum/modules/l2/loopring.py
  rotkehlchen/chain/ethereum/modules/makerdao/common.py
  rotkehlchen/chain/ethereum/modules/makerdao/vaults.py
  rotkehlchen/chain/ethereum/modules/uniswap/uniswap.py
  rotkehlchen/chain/ethereum/modules/yearn/vaults.py
  rotkehlchen/chain/manager.py
  rotkehlchen/utils/interfaces.py
Due: backend

Return adex balances as before to frontend
  rotkehlchen/api/rest.py
  rotkehlchen/chain/ethereum/modules/adex/adex.py
Due: backend

Fixes closed trades error on null fee
  frontend/app/src/components/history/ClosedTrades.vue
Due: frontend_unit, frontend_integration

Separates optional fields when adding trades
  frontend/app/src/components/ExternalTradeForm.vue
  frontend/app/src/components/inputs/AssetSelect.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

Separates optional from require ledger action fields
  frontend/app/src/components/history/LedgerActionForm.vue
  frontend/app/src/locales/en.json
  frontend/app/src/views/history/LedgerActions.vue
Due: frontend_unit, frontend_integration

Uses new note-display component in ledger actions
  frontend/app/src/locales/en.json
  frontend/app/src/views/history/LedgerActions.vue
Due: frontend_unit, frontend_integration

Moves trade fee from column to expand area
  frontend/app/src/components/helper/AssetDetailsBase.vue
  frontend/app/src/components/helper/table/NotesDisplay.vue
  frontend/app/src/components/history/ClosedTrades.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

Fixes a really small typo
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

Rip out old unusable adex staking and fee rewards code
  rotkehlchen/chain/ethereum/modules/adex/__init__.py
  rotkehlchen/chain/ethereum/modules/adex/adex.py
  rotkehlchen/chain/ethereum/modules/adex/typing.py
  rotkehlchen/chain/ethereum/modules/adex/utils.py
  rotkehlchen/serialization/serialize.py
  rotkehlchen/tests/api/test_adex.py
  rotkehlchen/tests/unit/test_adex.py
Due: backend

Add timeout in substrate query. Also modify tests to not use parity
  rotkehlchen/chain/substrate/manager.py
  rotkehlchen/tests/api/test_substrate_manager.py
  rotkehlchen/tests/unit/test_substrate_manager.py
  rotkehlchen/tests/utils/substrate.py
Due: backend

Adds a small debouncing in asset table's search
  frontend/app/src/components/asset-manager/AssetTable.vue
Due: frontend_unit, frontend_integration

Update globaldb
  rotkehlchen/data/global.db
Due: backend

Update github sponsors info
  .github/FUNDING.yml
  README.md
Due: none

Adds unsupported message for older macos versions
  frontend/app/src/App.vue
  frontend/app/src/components/error/ErrorScreen.vue
  frontend/app/src/components/error/MacOsVersionUnsupported.vue
  frontend/app/src/electron-interop.ts
  frontend/app/src/electron-main/backend-code.ts
  frontend/app/src/electron-main/ipc.ts
  frontend/app/src/locales/en.json
  frontend/app/src/preload.ts
  frontend/app/src/py-handler.ts
Due: frontend_unit, frontend_integration

Handle returning None for kusama last block
  rotkehlchen/chain/substrate/manager.py
Due: backend

More readale error for inability to find price for asset at time
  rotkehlchen/history/price.py
Due: backend

Handle 0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE in defi sdk result
  rotkehlchen/chain/ethereum/defi/zerionsdk.py
Due: backend

Bump version: 1.15.2 → 1.16.0
  .bumpversion.cfg
  docs/conf.py
  frontend/app/package-lock.json
  frontend/app/package.json
  setup.py
Due: frontend_unit, frontend_integration

Add release v1.16.0 to the changelog
  docs/changelog.rst
Due: none

Don't log an error if a single node's kusama query fails
  rotkehlchen/chain/substrate/manager.py
Due: backend

Updates unsupported version message
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

Update image docs and behaviour
  docs/images/external_trade.png
  docs/images/ledger_action.png
  docs/usage_guide.rst
Due: none

Uses the correct function to read assets from FTX
  docs/changelog.rst
  rotkehlchen/exchanges/ftx.py
Due: backend

Allow timestamps from kraken to be a float Closes #2773
  docs/changelog.rst
  rotkehlchen/serialization/deserialize.py
  rotkehlchen/tests/exchanges/test_kraken.py
Due: backend

Crash the app if it opens with DB version higher than expected
  rotkehlchen/globaldb/handler.py
Due: backend

Add test for opening new globaldb with old rotki
  rotkehlchen/tests/data/v9999999999_global.db
  rotkehlchen/tests/unit/test_globaldb.py
Due: backend

Add changelog entry for 2781
  docs/changelog.rst
Due: none

Utilize the new aave-v1 subgraph
  rotkehlchen/chain/ethereum/modules/aave/graph.py
Due: backend

Changelog entry for 2794
  docs/changelog.rst
Due: none

Fix Curve pool tokens being double counted
  docs/changelog.rst
  rotkehlchen/chain/manager.py
Due: backend

Avoid double queries on vested CRV
  docs/changelog.rst
  rotkehlchen/chain/ethereum/defi/chad.py
  rotkehlchen/constants/ethereum.py
  rotkehlchen/data/eth_contracts.json
  rotkehlchen/tests/api/test_balances.py
  rotkehlchen/tests/utils/blockchain.py
Due: backend

Reorder section for historical event
  docs/usage_guide.rst
Due: none

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
