Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

fix: backfill BTC/BCH rewards, add redecode
  docs/api.rst
  frontend/app/src/modules/core/messaging/handlers/progress-updates.spec.ts
  frontend/app/src/modules/history/events/tx/use-history-transaction-decoding.spec.ts
  frontend/app/src/modules/history/events/tx/use-history-transaction-decoding.ts
  frontend/app/src/modules/history/events/tx/use-history-transactions.spec.ts
  frontend/app/src/modules/history/redecode/HistoryRedecodeSelection.spec.ts
  frontend/app/src/modules/history/redecode/HistoryRedecodeSelection.vue
  rotkehlchen/api/rest.py
  rotkehlchen/api/services/transactions.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/bitcoin/manager.py
  rotkehlchen/db/bitcointx.py
  rotkehlchen/db/upgrades/v53_v54.py
  rotkehlchen/tests/api/test_bitcoin_transactions.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/unit/test_bitcoin_transactions.py
  rotkehlchen/types.py
Due: backend, frontend_unit, frontend_integration

fix: avoid final rate-limit sleeps
  rotkehlchen/exchanges/bitpanda.py
  rotkehlchen/exchanges/gemini.py
  rotkehlchen/tests/exchanges/test_bitpanda.py
  rotkehlchen/tests/exchanges/test_gemini.py
Due: backend

Handle blockscout v12 migration
  docs/changelog.rst
  rotkehlchen/externalapis/blockscout.py
  rotkehlchen/tests/external_apis/test_blockscout.py
Due: backend

test: use low SQLCipher KDF iterations in tests
  rotkehlchen/tests/conftest.py
  rotkehlchen/tests/utils/database.py
Due: backend

perf(globaldb): batch underlying token reads
  rotkehlchen/globaldb/handler.py
  rotkehlchen/tests/unit/globaldb/test_globaldb.py
Due: backend

perf(chain): cache decoder module discovery
  rotkehlchen/chain/decoding/decoder.py
  rotkehlchen/chain/discovery.py
  rotkehlchen/chain/evm/accounting/aggregator.py
  rotkehlchen/globaldb/handler.py
  rotkehlchen/tests/unit/test_chain_discovery.py
Due: backend

Save bitcoin tx checkpoints per address
  docs/changelog.rst
  rotkehlchen/chain/bitcoin/bch/manager.py
  rotkehlchen/chain/bitcoin/btc/manager.py
  rotkehlchen/chain/bitcoin/manager.py
  rotkehlchen/chain/bitcoin/types.py
  rotkehlchen/tests/unit/test_bitcoin_transactions.py
Due: backend

Address round 2 review feedback on the bitcoin checkpoint fixes
  rotkehlchen/chain/bitcoin/manager.py
  rotkehlchen/tests/unit/test_bitcoin_transactions.py
Due: backend

Address review feedback on the bitcoin checkpoint fixes
  docs/changelog.rst
  rotkehlchen/chain/bitcoin/btc/manager.py
  rotkehlchen/chain/bitcoin/manager.py
  rotkehlchen/db/upgrades/v53_v54.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/unit/test_bitcoin_transactions.py
Due: backend

Address round 3 review feedback on the bitcoin checkpoint fixes
  docs/changelog.rst
  rotkehlchen/chain/bitcoin/manager.py
  rotkehlchen/db/upgrades/v53_v54.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/unit/test_bitcoin_transactions.py
Due: backend

Query ENS resolver address via RPC nodes first
  rotkehlchen/chain/ethereum/node_inquirer.py
  rotkehlchen/tests/unit/test_ens.py
Due: backend

Share one tx sync end across address requests
  frontend/app/src/modules/history/api/events/use-history-events-api.ts
  frontend/app/src/modules/history/events/event-payloads.ts
  frontend/app/src/modules/history/events/tx/use-transaction-sync.spec.ts
  frontend/app/src/modules/history/events/tx/use-transaction-sync.ts
Due: frontend_unit, frontend_integration

Fix Hyperliquid Core history paging and funding
  docs/changelog.rst
  rotkehlchen/chain/hyperliquid/manager.py
  rotkehlchen/data_migrations/constants.py
  rotkehlchen/data_migrations/manager.py
  rotkehlchen/data_migrations/migrations/migration_29.py
  rotkehlchen/externalapis/hyperliquid.py
  rotkehlchen/tests/data_migrations/test_migration_29.py
  rotkehlchen/tests/unit/test_hyperliquid_dex_discovery.py
  rotkehlchen/tests/unit/test_hyperliquid_entry_id.py
  rotkehlchen/tests/unit/test_hyperliquid_history_paging.py
  rotkehlchen/tests/unit/test_hyperliquid_manager.py
  rotkehlchen/tests/utils/hyperliquid.py
Due: backend

Don't refetch customized Hyperliquid funding
  docs/changelog.rst
  rotkehlchen/chain/hyperliquid/manager.py
  rotkehlchen/data_migrations/migrations/migration_29.py
  rotkehlchen/tests/unit/test_hyperliquid_manager.py
Due: backend

Derive Hyperliquid fallback ids from content
  rotkehlchen/externalapis/hyperliquid.py
  rotkehlchen/tests/unit/test_hyperliquid_entry_id.py
Due: backend

Fail Hyperliquid range on unreadable entry time
  rotkehlchen/externalapis/hyperliquid.py
  rotkehlchen/tests/unit/test_hyperliquid_entry_id.py
Due: backend

Document legacy Hyperliquid funding fallback
  rotkehlchen/chain/hyperliquid/manager.py
  rotkehlchen/tests/unit/test_hyperliquid_manager.py
Due: backend

fix: Jupiter SOL swap double spend
  docs/changelog.rst
  rotkehlchen/chain/solana/modules/jupiter/decoder.py
  rotkehlchen/tests/unit/solana_decoders/test_jupiter.py
Due: backend

Skip ERC721 tokens in Alchemy price queries
  rotkehlchen/externalapis/alchemy.py
  rotkehlchen/tests/external_apis/test_alchemy.py
Due: backend

Add support for staking on hyperliquid
  docs/changelog.rst
  rotkehlchen/chain/hyperliquid/manager.py
  rotkehlchen/externalapis/hyperliquid.py
  rotkehlchen/tasks/historical_balances.py
  rotkehlchen/tests/unit/test_hyperliquid_core_balances.py
  rotkehlchen/tests/unit/test_hyperliquid_manager.py
  rotkehlchen/tests/unit/test_hyperliquid_staking.py
  rotkehlchen/tests/utils/hyperliquid.py
Due: backend

Coalesce concurrent current price queries
  rotkehlchen/inquirer.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend

fix(frontend): group asset mapping failures in one notification
  frontend/app/src/locales/en.json
  frontend/app/src/modules/assets/use-asset-info-cache.spec.ts
  frontend/app/src/modules/assets/use-asset-info-cache.ts
  frontend/common/src/messages/index.ts
Due: frontend_unit, frontend_integration

perf(frontend): share one clipboard composable across copy buttons
  frontend/app/src/modules/core/common/use-clipboard.ts
  frontend/app/src/modules/core/notifications/use-notification-card.ts
  frontend/app/src/modules/shell/components/CopyButton.vue
Due: frontend_unit, frontend_integration

fix(frontend): back off repeated item cache fetch failures
  frontend/app/src/modules/core/common/use-item-cache.spec.ts
  frontend/app/src/modules/core/common/use-item-cache.ts
Due: frontend_unit, frontend_integration

feat(frontend): refresh search, notes and notifications
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/ru.json
  frontend/app/src/modules/assets/amount-display/CurrencyDropdown.spec.ts
  frontend/app/src/modules/assets/amount-display/CurrencyDropdown.vue
  frontend/app/src/modules/core/notifications/Notification.vue
  frontend/app/src/modules/core/notifications/NotificationSidebar.spec.ts
  frontend/app/src/modules/core/notifications/NotificationSidebar.vue
  frontend/app/src/modules/core/notifications/use-notification-card.spec.ts
  frontend/app/src/modules/core/notifications/use-notification-card.ts
  frontend/app/src/modules/notes/UserNotesIndicator.vue
  frontend/app/src/modules/notes/UserNotesList.spec.ts
  frontend/app/src/modules/notes/UserNotesList.vue
  frontend/app/src/modules/notes/UserNotesSidebar.vue
  frontend/app/src/modules/shell/components/GlobalSearch.spec.ts
  frontend/app/src/modules/shell/components/GlobalSearch.vue
  frontend/app/src/modules/shell/components/GlobalSearchFooter.vue
  frontend/app/src/modules/shell/components/NotificationIndicator.vue
Due: frontend_unit, frontend_integration

build(frontend): move to Tailwind CSS 4
  frontend/app/.stylelintrc
  frontend/app/package.json
  frontend/app/postcss.config.js
  frontend/app/src/main.css
  frontend/app/tailwind.config.ts
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend_unit, frontend_integration

feat(frontend): refresh login, about and account creation
  frontend/app/src/layouts/auth.vue
  frontend/app/src/layouts/default.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/locales/ru.json
  frontend/app/src/modules/auth/ConnectionLoading.vue
  frontend/app/src/modules/auth/UserHost.vue
  frontend/app/src/modules/auth/create-account/CreateAccountWizard.spec.ts
  frontend/app/src/modules/auth/create-account/CreateAccountWizard.vue
  frontend/app/src/modules/auth/create-account/analytics/CreateAccountSubmitAnalytics.vue
  frontend/app/src/modules/auth/create-account/analytics/CreateAccountSubmitStep.vue
  frontend/app/src/modules/auth/create-account/credentials/CreateAccountCredentials.vue
  frontend/app/src/modules/auth/create-account/introduction/CreateAccountIntroduction.vue
  frontend/app/src/modules/auth/create-account/premium/CreateAccountPremium.vue
  frontend/app/src/modules/auth/create-account/premium/CreateAccountPremiumForm.vue
  frontend/app/src/modules/auth/create-account/use-create-account-steps.ts
  frontend/app/src/modules/auth/login/LoginBackendToggle.vue
  frontend/app/src/modules/auth/login/LoginCustomBackendFields.vue
  frontend/app/src/modules/auth/login/LoginForm.vue
  frontend/app/src/modules/auth/login/LoginRememberOptions.vue
  frontend/app/src/modules/auth/login/LoginUsernameField.vue
  frontend/app/src/modules/shell/components/About.vue
  frontend/app/src/modules/shell/components/AboutDataDirectory.vue
  frontend/app/src/pages/user/create/index.vue
  frontend/app/src/pages/user/login/index.vue
Due: frontend_unit, frontend_integration

feat(accounts): match the other account pages and explain empty tables
  frontend/app/src/locales/en.json
  frontend/app/src/modules/accounts/AccountBalances.spec.ts
  frontend/app/src/modules/accounts/AccountBalances.vue
  frontend/app/src/modules/accounts/AccountBalancesDefaultPage.vue
  frontend/app/src/modules/accounts/AccountTopTokens.vue
  frontend/app/src/modules/accounts/table/AccountBalancesTable.vue
  frontend/app/src/modules/accounts/table/use-account-table-config.ts
  frontend/app/src/modules/accounts/use-account-balances-pagination.ts
  frontend/app/src/modules/accounts/use-account-fetching.spec.ts
  frontend/app/src/modules/accounts/use-account-fetching.ts
  frontend/app/src/modules/accounts/use-blockchain-accounts-store.ts
  frontend/app/src/modules/core/table/TableEmptyNotice.vue
  frontend/app/src/pages/accounts/evm/[[tab]].vue
Due: frontend_unit, frontend_integration

feat(accounts): lighten the account rows
  frontend/app/src/locales/en.json
  frontend/app/src/modules/accounts/AccountBalanceAggregatedAssets.vue
  frontend/app/src/modules/accounts/AccountChains.vue
  frontend/app/src/modules/accounts/AccountChainsOverflow.vue
  frontend/app/src/modules/accounts/AccountTopTokens.vue
  frontend/app/src/modules/accounts/IconTokenDisplay.vue
  frontend/app/src/modules/balances/AssetBalances.vue
  frontend/app/src/modules/balances/protocols/BalanceTopProtocols.vue
  frontend/app/src/modules/balances/protocols/ProtocolIcon.vue
  frontend/app/src/modules/shell/components/AssetIcon.vue
  frontend/app/src/modules/shell/components/GeneratedIcon.vue
  frontend/app/src/modules/shell/components/display/LabeledAddressDisplay.vue
  frontend/app/src/modules/tags/TagIcon.vue
Due: frontend_unit, frontend_integration
