Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

chore: minor improvement for docs
  .pylint.rc
  rotkehlchen/chain/bitcoin/__init__.py
  rotkehlchen/tests/api/test_balances.py
  rotkehlchen/tests/pylint/test_disallow_not.py
Due: backend

fix: guard calendar timestamp type
  rotkehlchen/externalapis/google_calendar.py
Due: backend

Properly handle multiple swap fees from kraken
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/history/events/structures/swap.py
  rotkehlchen/tests/exchanges/test_kraken.py
  rotkehlchen/tests/utils/history.py
Due: backend

docs: edited the link to Platform X (#10909)
  README.md
Due: none

chore: minor improvement for docs
  rotkehlchen/chain/bitcoin/__init__.py
Due: backend

chore: minor improvement for docs (#10963)
  .pylint.rc
  rotkehlchen/chain/bitcoin/__init__.py
  rotkehlchen/tests/api/test_balances.py
  rotkehlchen/tests/pylint/test_disallow_not.py
Due: backend

Add a developer changelog
  docs/conf.py
  docs/dev_changelog.rst
  docs/index.rst
Due: none

Add a developer changelog (#10967)
  docs/conf.py
  docs/dev_changelog.rst
  docs/index.rst
Due: none

migrate liquity trove from usd_value -> value
  rotkehlchen/chain/ethereum/modules/liquity/trove.py
  rotkehlchen/db/settings.py
  rotkehlchen/tests/api/test_balances.py
  rotkehlchen/tests/api/test_liquity.py
  rotkehlchen/tests/unit/test_blockchain_balances.py
Due: backend

feat: Add support for custom Bitcoin Mempool APIs
  frontend/app/public/assets/images/services/mempool.png
  frontend/app/src/components/settings/general/rpc/RpcSettings.vue
  frontend/app/src/components/settings/general/rpc/simple/SimpleRpcNodeManager.vue
  frontend/app/src/data/defaults.ts
  frontend/app/src/data/factories.ts
  frontend/app/src/store/settings/general.ts
  frontend/app/src/types/user.ts
  frontend/app/tests/e2e/specs/app/settings/general.cy.ts
  frontend/app/tests/unit/fixtures/settings.json
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/bitcoin/btc/manager.py
  rotkehlchen/chain/bitcoin/manager.py
  rotkehlchen/chain/bitcoin/utils.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/settings.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/api/test_settings.py
  rotkehlchen/tests/data/pnl_debug.json
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/unit/test_bitcoin.py
Due: backend, frontend_unit, frontend_integration

fix(10964): time selector gets reset in networth graph
  frontend/app/src/modules/dashboard/graph/NetWorthChart.vue
Due: frontend_unit, frontend_integration

Disable account auto-discovery for Optimism, BSC, and Base
  docs/changelog.rst
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tests/db/test_utils.py
Due: backend

Properly handle multiple swap fees in accounting
  rotkehlchen/accounting/history_base_entries.py
  rotkehlchen/accounting/pot.py
  rotkehlchen/tests/unit/test_cost_basis.py
Due: backend

Support add/editing swaps with multiple fees in the api
  docs/api.rst
  docs/changelog.rst
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/history/events/structures/swap.py
  rotkehlchen/tests/api/test_history_base_entry.py
  rotkehlchen/tests/exchanges/test_kraken.py
  rotkehlchen/tests/utils/history_base_entry.py
Due: backend

Add blockscout as fallback for txlist etc
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/chain/evm/transactions.py
  rotkehlchen/externalapis/blockscout.py
  rotkehlchen/externalapis/etherscan.py
  rotkehlchen/externalapis/etherscan_like.py
  rotkehlchen/serialization/deserialize.py
  rotkehlchen/tests/unit/test_evm_transactions.py
Due: backend

Adjust uniswap v4 icon
  colibri/src/icons.rs
Due: none

Unlock colibri on account create
  frontend/app/src/modules/account/use-login.ts
Due: frontend_unit, frontend_integration

test: add colibri login/logout in cypress
  frontend/app/scripts/e2e.ts
  frontend/app/tests/e2e/specs/app/assets.cy.ts
  frontend/app/tests/e2e/support/commands.ts
Due: frontend_unit, frontend_integration

fix(10964): time selector gets reset in networth graph
  docs/changelog.rst
  frontend/app/src/modules/dashboard/graph/NetWorthChart.vue
Due: frontend_unit, frontend_integration

ci: bump actions/checkout to v6
  .github/workflows/rotki_ci.yml
  .github/workflows/rotki_dev_builds.yml
  .github/workflows/rotki_nightly.yml
  .github/workflows/rotki_release.yaml
  .github/workflows/rotki_sqldiff.yml
  .github/workflows/task_backend_tests.yml
  .github/workflows/task_e2e_tests.yml
  .github/workflows/task_fe_external_links_verification.yml
  .github/workflows/task_fe_unit_tests.yml
Due: none

fix: restore post-decoding break logic broken by regression
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/tests/unit/decoders/test_main.py
Due: backend

chore: data sync hint
  frontend/app/src/components/status/sync/AutomaticSyncSetting.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

fix(frontend): multiple fees in swap event
  frontend/app/src/modules/history/management/forms/SwapEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/SwapEventForm.vue
  frontend/app/src/modules/history/management/forms/common/SimpleFeeEntry.vue
  frontend/app/src/modules/history/management/forms/common/SimpleFeeList.vue
  frontend/app/src/modules/history/management/forms/swap/SwapEventNotes.vue
  frontend/app/src/types/history/events/schemas.ts
Due: frontend_unit, frontend_integration

fix(backend): issue when editing existing event with multiple fee
  frontend/app/src/modules/history/management/forms/SwapEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/SwapEventForm.vue
  frontend/app/src/types/history/events/schemas.ts
  rotkehlchen/api/rest_helpers/history_events.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/tests/api/test_history_base_entry.py
Due: backend, frontend_unit, frontend_integration

d
  .github/workflows/rotki_ci.yml
  .github/workflows/task_backend_tests.yml
  rotkehlchen/tests/fixtures/db.py
Due: backend

d
  .github/workflows/task_backend_tests.yml
Due: none

d
  .github/workflows/rotki_ci.yml
Due: none

d
  rotkehlchen/tests/fixtures/db.py
Due: backend

ci experiments
  .github/workflows/rotki_ci.yml
  .github/workflows/task_backend_tests.yml
  rotkehlchen/api/v1/resources.py
Due: backend

fix: correct binance range tracking
  rotkehlchen/exchanges/binance.py
Due: backend
