Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

fix(frontend): sort chain picker alphabetically
  docs/changelog.rst
  frontend/app/src/modules/accounts/blockchain/ChainSelect.spec.ts
  frontend/app/src/modules/accounts/blockchain/ChainSelect.vue
Due: frontend_unit, frontend_integration

Address kelsos comments on PR
  docs/changelog.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/rest_helpers/downloads.py
  rotkehlchen/api/services/history.py
  rotkehlchen/api/services/user_data.py
  rotkehlchen/tests/api/test_database.py
  rotkehlchen/tests/unit/test_downloads.py
Due: backend

fix(frontend): scan .ts files for tailwind classes
  frontend/app/tailwind.config.ts
Due: frontend_unit, frontend_integration

Close stream after last chunk sent (#13071)
  docs/changelog.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/rest_helpers/downloads.py
  rotkehlchen/api/services/history.py
  rotkehlchen/api/services/user_data.py
  rotkehlchen/tests/api/test_database.py
  rotkehlchen/tests/unit/test_downloads.py
Due: backend

test(e2e): poll every pill filter focus assertion
  frontend/app/tests/e2e/pages/pill-filter-keyboard.ts
  frontend/app/tests/e2e/specs/history/pill-filter.spec.ts
Due: frontend_unit, frontend_integration

test(e2e): assert explorer settings with retrying matchers
  frontend/app/tests/e2e/pages/interface-settings-page.ts
  frontend/app/tests/e2e/specs/settings/interface.spec.ts
Due: frontend_unit, frontend_integration

test(e2e): pick the named option, never the first one
  frontend/app/tests/e2e/pages/price-manager-page.ts
  frontend/app/tests/e2e/pages/purge-data-page.ts
  frontend/app/tests/e2e/specs/app/assets.spec.ts
Due: frontend_unit, frontend_integration

test(e2e): drop the fixed sleeps for real waits
  frontend/app/tests/e2e/pages/address-book-page.ts
  frontend/app/tests/e2e/pages/calendar-page.ts
Due: frontend_unit, frontend_integration

test(e2e): expose expectations, not values, from page objects
  frontend/app/tests/e2e/pages/address-book-page.ts
  frontend/app/tests/e2e/pages/dashboard-page.ts
  frontend/app/tests/e2e/pages/pill-filter-bar.ts
  frontend/app/tests/e2e/pages/pill-views-menu.ts
  frontend/app/tests/e2e/pages/snapshot-list-page.ts
  frontend/app/tests/e2e/pages/tag-manager.ts
  frontend/app/tests/e2e/specs/app/address-book.spec.ts
  frontend/app/tests/e2e/specs/app/snapshot-edit.spec.ts
  frontend/app/tests/e2e/specs/app/tag-manager.spec.ts
  frontend/app/tests/e2e/specs/history/pill-filter.spec.ts
Due: frontend_unit, frontend_integration

build(deps): bump the frontend test toolchain
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

build(deps): bump zod to 4.5.4
  frontend/app/src/modules/core/form/use-form.ts
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend_unit, frontend_integration

build(deps): bump the frontend lint and type gates
  frontend/app/auto-imports.d.ts
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend_unit, frontend_integration

build(deps): bump frontend runtime patches
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

build(deps): bump vue-router and vue-echarts
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

build(deps): bump viem and walletconnect
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

build(deps): bump node to 24.20.0
  Dockerfile
  frontend/.nvmrc
Due: none

build(deps): bump electron to 43.5.0
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

build(deps): bump pnpm to 12.2.1
  .github/scripts/package.json
  .github/scripts/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

fix(dashboard): stop hiding the net-worth chart by position
  frontend/app/src/modules/dashboard/graph/NetWorthChart.vue
  frontend/app/src/modules/dashboard/graph/use-net-value-chart-config.ts
Due: frontend_unit, frontend_integration

test: install pinia plugins in createCustomPinia
  frontend/app/tests/unit/utils/create-pinia.spec.ts
  frontend/app/tests/unit/utils/create-pinia.ts
Due: frontend_unit, frontend_integration

test: add replace to the global vue-router mock
  frontend/app/tests/unit/setup-files/setup.spec.ts
  frontend/app/tests/unit/setup-files/setup.ts
Due: frontend_unit, frontend_integration

chore(frontend): bump eslint-config to 8.2.0
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

refactor(core): document the facts the comments carried
  frontend/app/src/modules/core/api/request-transformers.ts
  frontend/app/src/modules/core/common/file/file.ts
  frontend/app/src/modules/core/common/helpers/e2e.ts
  frontend/app/src/modules/core/common/use-item-cache.ts
  frontend/app/src/modules/core/common/use-ref-debounce.ts
  frontend/app/src/modules/core/messaging/handler-registry.ts
  frontend/app/src/modules/core/messaging/handlers/calendar-reminder.ts
  frontend/app/src/modules/core/messaging/handlers/database-migration.ts
  frontend/app/src/modules/core/messaging/handlers/database-upload.ts
  frontend/app/src/modules/core/messaging/handlers/evm-accounts.ts
  frontend/app/src/modules/core/messaging/handlers/missing-api-key.ts
  frontend/app/src/modules/core/messaging/handlers/monerium-session.ts
  frontend/app/src/modules/core/messaging/handlers/premium-status.ts
  frontend/app/src/modules/core/messaging/handlers/refresh-balances.ts
  frontend/app/src/modules/core/messaging/text-utils.spec.ts
  frontend/app/src/modules/core/notifications/PendingTaskNode.spec.ts
  frontend/app/src/modules/core/sigil/use-sigil-queue.ts
  frontend/app/src/modules/core/table/pill/core/codec.ts
  frontend/app/src/modules/core/table/use-table-reducer.ts
  frontend/app/src/modules/core/tasks/use-task-handler.spec.ts
Due: frontend_unit, frontend_integration

refactor(history): document the facts the comments carried
  frontend/app/src/modules/history/balances/BalanceDivergenceToggle.vue
  frontend/app/src/modules/history/data-issues/DataIssuesView.vue
  frontend/app/src/modules/history/events-status-handler.ts
  frontend/app/src/modules/history/events/flows.spec.ts
  frontend/app/src/modules/history/events/tx/use-history-transaction-decoding.ts
  frontend/app/src/modules/history/events/use-history-events-deletion.ts
  frontend/app/src/modules/history/events/use-history-events-selection-actions.ts
  frontend/app/src/modules/history/events/use-pinned-match-panel.ts
  frontend/app/src/modules/history/events/use-selection-mode.ts
  frontend/app/src/modules/history/events/use-virtual-rows.ts
  frontend/app/src/modules/history/management/forms/asset-movement-event-form.spec.ts
  frontend/app/src/modules/history/management/forms/use-evm-tx-lookup.ts
  frontend/app/src/modules/history/transaction-status-handler.ts
Due: frontend_unit, frontend_integration

refactor(e2e): document the facts the comments carried
  frontend/app/tests/e2e/coverage.ts
  frontend/app/tests/e2e/pages/address-book-page.ts
  frontend/app/tests/e2e/pages/airdrops-page.ts
  frontend/app/tests/e2e/pages/api-keys-page.ts
  frontend/app/tests/e2e/pages/assets-manager-page.ts
  frontend/app/tests/e2e/pages/blockchain-accounts-page.ts
  frontend/app/tests/e2e/pages/dashboard-page.ts
  frontend/app/tests/e2e/pages/history-event-rows.ts
  frontend/app/tests/e2e/pages/manual-balances-page.ts
  frontend/app/tests/e2e/pages/pill-filter-bar.ts
  frontend/app/tests/e2e/pages/purge-data-page.ts
  frontend/app/tests/e2e/pages/rotki-app.ts
  frontend/app/tests/e2e/pages/rpc-settings-page.ts
  frontend/app/tests/e2e/pages/snapshot-editor-page.ts
  frontend/app/tests/e2e/pages/snapshot-list-page.ts
  frontend/app/tests/e2e/rpc-mock/server.ts
  frontend/app/tests/e2e/specs/app/account-creation.spec.ts
  frontend/app/tests/e2e/specs/app/address-book.spec.ts
  frontend/app/tests/e2e/specs/app/exchange-purge.spec.ts
  frontend/app/tests/e2e/specs/app/tag-manager.spec.ts
  frontend/app/tests/e2e/specs/history/history-events.spec.ts
  frontend/app/tests/e2e/specs/settings/account.spec.ts
  frontend/app/tests/e2e/specs/settings/chains.spec.ts
Due: frontend_unit, frontend_integration

refactor(ui): address RuiCard parts by name, not position
  frontend/app/src/modules/assets/AssetValueRow.vue
  frontend/app/src/modules/assets/admin/AssetIconForm.vue
  frontend/app/src/modules/calendar/CalendarSelectedEventsPanel.vue
  frontend/app/src/modules/calendar/CalendarUpcomingEventsPanel.vue
  frontend/app/src/modules/notes/UserNotesList.vue
  frontend/app/src/pages/staking/[[location]].vue
Due: frontend_unit, frontend_integration
