Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

fix: refresh validator on first load
  frontend/app/src/components/staking/eth/EthStakingPage.vue
Due: frontend_unit, frontend_integration

docs: update faq about premium privilege
  docs/faq.rst
Due: none

chore: bump library version
  frontend/app/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

chore: fix scroll chain mapping reference
  frontend/app/src/components/history/trades/ClosedTrades.vue
  frontend/app/src/components/nft/NftGallery.vue
  frontend/app/src/composables/blockchain/account-balances/index.ts
Due: frontend_unit, frontend_integration

chore: make accounting rules conflict table scroll to modal top instead of window
  frontend/app/src/components/dialogs/BigDialog.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleConflictsDialog.vue
Due: frontend_unit, frontend_integration

refactor(frontend): migrate edit snapshot tables
  frontend/app/src/components/dashboard/edit-snapshot/EditBalancesSnapshotTable.vue
  frontend/app/src/components/dashboard/edit-snapshot/EditLocationDataSnapshotTable.vue
  frontend/app/src/main.scss
Due: frontend_unit, frontend_integration

Refactor (2698): Move Bitfinex currency_map to DB
  rotkehlchen/assets/converters.py
  rotkehlchen/exchanges/bitfinex.py
  rotkehlchen/globaldb/handler.py
  rotkehlchen/tests/exchanges/test_bitfinex.py
Due: backend

Fix (7623): Add missing data file in spec
  rotkehlchen.spec
Due: backend

Chore: Use enter_exit_debug_log decorator
  rotkehlchen/data_migrations/migrations/migration_10.py
  rotkehlchen/data_migrations/migrations/migration_11.py
  rotkehlchen/data_migrations/migrations/migrations_13.py
  rotkehlchen/db/upgrades/v34_v35.py
  rotkehlchen/db/upgrades/v35_v36.py
  rotkehlchen/db/upgrades/v36_v37.py
  rotkehlchen/db/upgrades/v37_v38.py
  rotkehlchen/db/upgrades/v38_v39.py
  rotkehlchen/db/upgrades/v39_v40.py
  rotkehlchen/db/upgrades/v40_v41.py
  rotkehlchen/db/upgrades/v41_v42.py
  rotkehlchen/globaldb/upgrades/v2_v3.py
  rotkehlchen/globaldb/upgrades/v3_v4.py
  rotkehlchen/globaldb/upgrades/v4_v5.py
  rotkehlchen/globaldb/upgrades/v5_v6.py
  rotkehlchen/logging.py
Due: backend

refactor: update asset more layout
  frontend/app/src/components/asset-manager/cex-mapping/ManageCexMappingContent.vue
  frontend/app/src/components/asset-manager/newly-detected/NewlyDetectedAssetContent.vue
  frontend/app/src/components/helper/LazyLoader.vue
  frontend/app/src/components/helper/TabNavigation.vue
  frontend/app/src/components/layout/TablePageLayout.vue
  frontend/app/src/pages/asset-manager/more/index.vue
Due: frontend_unit, frontend_integration

refactor(frontend): migrate edit snapshot table (#7637)
  frontend/app/package.json
  frontend/app/src/components/dashboard/edit-snapshot/EditBalancesSnapshotTable.vue
  frontend/app/src/components/dashboard/edit-snapshot/EditLocationDataSnapshotTable.vue
  frontend/app/src/components/dialogs/BigDialog.vue
  frontend/app/src/components/history/trades/ClosedTrades.vue
  frontend/app/src/components/nft/NftGallery.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleConflictsDialog.vue
  frontend/app/src/composables/blockchain/account-balances/index.ts
  frontend/app/src/main.scss
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

chore: resolve some lint warnings
  frontend/app/src/components/GlobalSearch.vue
  frontend/app/src/components/account-management/login/LoginForm.vue
  frontend/app/src/components/accounts/AccountBalances.vue
  frontend/app/src/components/accounts/balances/NonFungibleBalances.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetContent.vue
  frontend/app/src/components/helper/DataTable.vue
  frontend/app/src/components/history/events/forms/EthBlockEventForm.vue
  frontend/app/src/components/history/events/forms/EthDepositEventForm.vue
  frontend/app/src/components/history/events/forms/EthWithdrawalEventForm.vue
  frontend/app/src/components/history/events/forms/EvmEventForm.vue
  frontend/app/src/premium/premium-apis.ts
  frontend/app/src/premium/premium.ts
  frontend/app/src/store/backend-messages.ts
  frontend/app/src/store/reports/index.ts
  frontend/app/src/store/session/index.ts
Due: frontend_unit, frontend_integration

Chore (VCR): Add cassettes for inquirer tests
  rotkehlchen/tests/unit/test_arbitrum_one_inquirer.py
  rotkehlchen/tests/unit/test_base_inquirer.py
  rotkehlchen/tests/unit/test_gnosis_inquirer.py
  rotkehlchen/tests/unit/test_optimism_inquirer.py
  rotkehlchen/tests/unit/test_polygon_pos_inquirer.py
  rotkehlchen/tests/utils/arbitrum_one.py
  rotkehlchen/tests/utils/base.py
  rotkehlchen/tests/utils/gnosis.py
  rotkehlchen/tests/utils/optimism.py
  rotkehlchen/tests/utils/polygon_pos.py
Due: backend

refactor: introduce limited parallelization when fetching balances
  frontend/app/src/components/dashboard/blockchain-balance/BlockchainBalanceCardList.vue
  frontend/app/src/composables/api/balances/blockchain.ts
  frontend/app/src/composables/blockchain/balances/index.ts
  frontend/app/src/store/blockchain/balances/btc.ts
  frontend/app/src/store/blockchain/balances/chains.ts
  frontend/app/src/store/blockchain/balances/eth.ts
  frontend/app/src/types/blockchain/chains.ts
  frontend/app/src/types/task.ts
  frontend/app/tests/unit/specs/composables/blockchains/balances/index.spec.ts
Due: frontend_unit, frontend_integration

Feat (2698): Remote updates for unsupported assets
  rotkehlchen/db/constants.py
  rotkehlchen/db/updates.py
  rotkehlchen/tests/unit/test_data_updates.py
Due: backend

Chore (VCR): Cassettes for scroll inquirer test
  rotkehlchen/tests/unit/test_scroll_inquirer.py
  rotkehlchen/tests/utils/scroll.py
Due: backend

refactor: relax chain type make it dynamic
  frontend/app/src/components/accounts/blockchain/ChainSelect.vue
  frontend/app/src/components/accounts/management/AccountForm.vue
  frontend/app/src/components/accounts/management/inputs/AccountSelector.vue
  frontend/app/src/components/accounts/management/inputs/InputModeSelect.vue
  frontend/app/src/components/accounts/management/types/AddressAccountForm.vue
  frontend/app/src/components/accounts/management/types/MetamaskAccountForm.vue
  frontend/app/src/components/address-book-manager/AddressBookManagement.vue
  frontend/app/src/components/address-book-manager/AddressBookTable.vue
  frontend/app/src/composables/api/balances/blockchain.ts
  frontend/app/src/composables/api/blockchain/accounts.ts
  frontend/app/src/composables/balances/refresh.ts
  frontend/app/src/composables/balances/token-detection.ts
  frontend/app/src/composables/blockchain/account-balances/index.ts
  frontend/app/src/composables/blockchain/accounts/index.ts
  frontend/app/src/composables/blockchain/index.ts
  frontend/app/src/composables/info/chains.ts
  frontend/app/src/store/blockchain/accounts/addresses-names.ts
  frontend/app/src/store/blockchain/tokens.ts
  frontend/app/src/types/blockchain/accounts.ts
  frontend/app/src/types/eth-names.ts
Due: frontend_unit, frontend_integration

refactor(frontend): migrate profit and loss tables
  frontend/app/src/components/profitloss/CostBasisTable.vue
  frontend/app/src/components/profitloss/ProfitLossEvents.vue
  frontend/app/src/components/profitloss/ReportActionableCard.vue
  frontend/app/src/components/profitloss/ReportMissingAcquisitions.vue
  frontend/app/src/components/profitloss/ReportMissingPrices.vue
Due: frontend_unit, frontend_integration

refactor: update blockchain account page
  frontend/app/src/components/accounts/AccountBalanceTable.vue
  frontend/app/src/components/accounts/AccountBalances.vue
  frontend/app/src/components/accounts/balances/AccountBalanceDetails.vue
  frontend/app/src/components/accounts/blockchain/TokenDetection.vue
  frontend/app/src/components/accounts/management/AccountDialog.vue
  frontend/app/src/components/accounts/management/AccountForm.vue
  frontend/app/src/components/display/AccountDisplay.vue
  frontend/app/src/components/helper/BlockchainAccountSelector.vue
  frontend/app/src/components/helper/HashLink.vue
  frontend/app/src/components/helper/display/icons/ChainIcon.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/composables/accounts/loading.ts
  frontend/app/src/composables/balances/account-details.ts
  frontend/app/src/composables/balances/refresh.ts
  frontend/app/src/composables/blockchain/index.ts
  frontend/app/src/composables/history/events/tx/index.ts
  frontend/app/src/composables/info/chains.ts
  frontend/app/src/pages/balances/blockchain/index.vue
  frontend/app/src/store/blockchain/accounts/addresses-names.ts
  frontend/app/src/types/asset/asset-urls.ts
  frontend/app/src/types/defi/index.ts
  frontend/app/src/types/route.ts
  frontend/common/src/account/index.ts
Due: frontend_unit, frontend_integration

Add evmlike transaction refresh API endpoint
  pyproject.toml
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/ethereum/modules/__init__.py
  rotkehlchen/chain/ethereum/modules/l2/zksync.py
  rotkehlchen/tests/api/test_evmlike.py
  rotkehlchen/tests/integration/test_zksynclite.py
  rotkehlchen/types.py
Due: backend

Add zksync lite as an evmlike chain with queriable balances
  docs/api.rst
  frontend/app/public/assets/images/protocols/zksync_lite.svg
  rotkehlchen/api/rest.py
  rotkehlchen/chain/accounts.py
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/balances.py
  rotkehlchen/chain/constants.py
  rotkehlchen/chain/evm/names.py
  rotkehlchen/db/utils.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/api/test_evmlike.py
  rotkehlchen/tests/fixtures/blockchain.py
  rotkehlchen/tests/unit/test_types.py
  rotkehlchen/types.py
Due: backend, frontend_unit, frontend_integration

Handle kraken new yield bearing product balances
  docs/changelog.rst
  rotkehlchen/assets/converters.py
Due: backend
