Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Adds link to open address on external block explorers
  frontend/app/src/components/display/LabeledAddressDisplay.vue
  frontend/app/src/components/helper/asset-urls.ts
  frontend/app/src/components/history/MovementLinks.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

Updates changelog.rst
  docs/changelog.rst
Due: none

Fixes tooltip text
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

Fixes account table header not updating to selected currency
  frontend/app/src/components/accounts/AccountBalanceTable.vue
Due: frontend_unit, frontend_integration

Support BAKE
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
  rotkehlchen/externalapis/cryptocompare.py
Due: backend

Add support for CAKE
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
  rotkehlchen/externalapis/cryptocompare.py
Due: backend

Add support for BURGER
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
  rotkehlchen/externalapis/cryptocompare.py
Due: backend

Add support for Flamingo Finance
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Add support for Aavegotchi
  docs/changelog.rst
  rotkehlchen/assets/converters.py
  rotkehlchen/data/all_assets.json
Due: backend

Support SUN token
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Add support for New Bitshares
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Add support for Polkastarter
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
  rotkehlchen/externalapis/cryptocompare.py
Due: backend

Add support for Moji Experience Points
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
  rotkehlchen/externalapis/cryptocompare.py
Due: backend

Support CBDao
  docs/changelog.rst
  rotkehlchen/assets/converters.py
  rotkehlchen/data/all_assets.json
  rotkehlchen/externalapis/cryptocompare.py
Due: backend

Add support for dHedge DAO Token
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Support Powerpool CVP token
  docs/changelog.rst
  rotkehlchen/assets/converters.py
  rotkehlchen/data/all_assets.json
Due: backend

Add support for Helium
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Support STORJ in Gemini trades/balances
  rotkehlchen/exchanges/gemini.py
Due: backend

Add support for VALUE
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
  rotkehlchen/externalapis/cryptocompare.py
Due: backend

Add support for Beowulf
  docs/changelog.rst
  rotkehlchen/assets/asset.py
  rotkehlchen/assets/converters.py
  rotkehlchen/data/all_assets.json
Due: backend

Add support for RIO DeFi
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Support Rarible
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
  rotkehlchen/externalapis/cryptocompare.py
Due: backend

Add support for GST Coin
  docs/changelog.rst
  rotkehlchen/assets/converters.py
  rotkehlchen/data/all_assets.json
Due: backend

If current price query for cryptocompare fails use coingecko
  docs/changelog.rst
  rotkehlchen/externalapis/coingecko.py
  rotkehlchen/inquirer.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/fixtures/accounting.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend

Upgrade AdEx Network contract address
  rotkehlchen/data/all_assets.json
Due: backend

Remove REP-old. Should not keep it as it's not a swap
  rotkehlchen/data/all_assets.json
Due: backend

Add support for Keep Network token
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Add support for AAVE new token
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Fix few coingecko asset identifiers thanks to tests
  rotkehlchen/data/all_assets.json
  rotkehlchen/data/all_assets.meta
  rotkehlchen/tests/unit/test_assets.py
Due: backend

Bump version: 1.8.0 → 1.8.1
  .bumpversion.cfg
  docs/conf.py
  frontend/app/package-lock.json
  frontend/app/package.json
  setup.py
Due: frontend_unit, frontend_integration

Add v1.8.1 to the changelog
  docs/changelog.rst
Due: none

Introduces packaging workflow
  .gitattributes
  .github/workflows/rotki_ci.yml
  .github/workflows/rotki_nightly.yml
  .github/workflows/rotki_packaging.yaml
  appveyor.yml
  appveyor/install.ps1
  appveyor/utils.ps1
  appveyor/variables.ps1
  frontend/app/package-lock.json
  install_deps.sh
  package.ps1
  package.sh
  packaging/pysqlcipher3_win.diff
  packaging/sqlcipher_win.diff
Due: frontend_unit, frontend_integration

Fixes sqlcipher and libcrypto packaging
  .gitignore
  package.ps1
Due: none

Enables packaging for linux and osx
  .github/workflows/rotki_packaging.yaml
  install_deps.sh
Due: none

Add support for $BASED token
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
  rotkehlchen/data/all_assets.meta
  rotkehlchen/externalapis/cryptocompare.py
  rotkehlchen/tests/unit/test_assets.py
Due: backend

Fixes blockchain balance refresh and unifies page headers
  frontend/app/src/components/accounts/AccountBalances.vue
  frontend/app/src/components/base/BasePageHeader.vue
  frontend/app/src/locales/en.json
  frontend/app/src/views/AccountsBalances.vue
  frontend/app/src/views/Dashboard.vue
  frontend/app/src/views/ImportData.vue
  frontend/app/src/views/Statistics.vue
  frontend/app/src/views/TaxReport.vue
  frontend/app/src/views/defi/DecentralizedFinance.vue
  frontend/app/src/views/settings/ApiKeys.vue
  frontend/app/src/views/settings/Settings.vue
Due: frontend_unit, frontend_integration

Updates dependencies
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/dev-proxy/package-lock.json
  frontend/dev-proxy/package.json
Due: frontend_unit, frontend_integration

Fix FAQ link
  docs/faq.rst
Due: none

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
