Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Add more explicit comment to query in globaldb
  rotkehlchen/globaldb/handler.py
Due: backend

Change currency converter api param
  rotkehlchen/constants/misc.py
  rotkehlchen/tests/api/test_exchanges.py
Due: backend

Add tests for ongoing upgrades
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/unit/test_globaldb_upgrades.py
Due: backend

Fix test_get_eth2_staking_deposits_fetch_from_db
  rotkehlchen/tests/unit/test_eth2.py
Due: backend

Temporarily(?) avoid querying binance from CI
  rotkehlchen/tests/api/test_exchanges.py
  rotkehlchen/tests/exchanges/test_binance.py
Due: backend

Skip FTX tests that contact the live exchange
  rotkehlchen/tests/exchanges/test_ftx.py
Due: backend

Moves response transformer axios setup
  frontend/app/src/services/accounts.ts
  frontend/app/src/services/assets/asset-api.ts
  frontend/app/src/services/assets/ignore.ts
  frontend/app/src/services/assets/info.ts
  frontend/app/src/services/assets/management-api.ts
  frontend/app/src/services/axios-tranformers.ts
  frontend/app/src/services/backup.ts
  frontend/app/src/services/balances/balances-api.ts
  frontend/app/src/services/balances/blockchain.ts
  frontend/app/src/services/balances/ethereum-names.ts
  frontend/app/src/services/balances/exchanges.ts
  frontend/app/src/services/balances/index.ts
  frontend/app/src/services/balances/manual.ts
  frontend/app/src/services/balances/nft.ts
  frontend/app/src/services/balances/price.ts
  frontend/app/src/services/consts.ts
  frontend/app/src/services/defi/defi-api.ts
  frontend/app/src/services/history/history-api.ts
  frontend/app/src/services/history/history-ignoring-api.ts
  frontend/app/src/services/reports/reports-api.ts
  frontend/app/src/services/rotkehlchen-api.ts
  frontend/app/src/services/session/index.ts
  frontend/app/src/services/session/user-notes.api.ts
  frontend/app/src/services/session/users.api.ts
  frontend/app/src/services/settings/external-services-api.ts
  frontend/app/src/services/settings/settings-api.ts
  frontend/app/src/services/settings/snapshot-api.ts
  frontend/app/src/services/staking/eth2.ts
  frontend/app/src/services/staking/kraken.ts
  frontend/app/src/services/statistics/statistics-api.ts
  frontend/app/src/services/types-api.ts
  frontend/app/src/services/utils.ts
  frontend/app/src/store/defi/protocols/index.ts
  frontend/app/src/types/defi/compound.ts
  frontend/app/tests/common/tk.ts
  frontend/app/tests/e2e/pages/rotki-app.ts
  frontend/app/tests/unit/services/axios-transformers.spec.ts
  frontend/common/src/defi/aave/index.ts
Due: frontend_unit, frontend_integration

Updates job checker action
  .github/workflows/rotki_ci.yml
Due: none

Add new globalDB tables and make EvmContracts query them
  rotkehlchen/chain/ethereum/node_inquirer.py
  rotkehlchen/chain/evm/contracts.py
  rotkehlchen/chain/optimism/node_inquirer.py
  rotkehlchen/globaldb/handler.py
  rotkehlchen/globaldb/schema.py
  rotkehlchen/tests/fixtures/blockchain.py
Due: backend

Remove unused all_assets.json/meta and references to it
  rotkehlchen.spec
  rotkehlchen/chain/aggregator.py
  rotkehlchen/data/all_assets.json
  rotkehlchen/data/all_assets.meta
  rotkehlchen/tests/fixtures/assets.py
  rotkehlchen/tests/unit/test_assets.py
  setup.py
  tools/assets_editing/main.py
  tools/scripts/update_assets_metadata.py
Due: backend

Run the packaged global.db through v3->v4 upgrade
  rotkehlchen/data/global.db
Due: backend

Add a test for global DB upgrade v3->v4
  rotkehlchen/chain/evm/contracts.py
  rotkehlchen/tests/data/v3_global.db
  rotkehlchen/tests/unit/test_globaldb_upgrades.py
Due: backend

Remove unused file token_abi.json
  rotkehlchen/data/token_abi.json
  rotkehlchen/tests/fixtures/assets.py
  rotkehlchen/tests/unit/test_assets.py
Due: backend

Global DB Upgrade to add contract + ABI tables
  rotkehlchen/globaldb/minimized_schema.py
  rotkehlchen/globaldb/schema.py
  rotkehlchen/globaldb/upgrades/manager.py
  rotkehlchen/globaldb/upgrades/v3_v4.py
  rotkehlchen/globaldb/utils.py
Due: backend

Fix import of cryptocom cashback reversal entries
  docs/changelog.rst
  rotkehlchen/data_import/importers/cryptocom.py
  rotkehlchen/tests/data/cryptocom_special_events.csv
  rotkehlchen/tests/utils/dataimport.py
Due: backend

Adjust tests after contract data in global DB
  rotkehlchen/globaldb/assets_management.py
  rotkehlchen/globaldb/utils.py
  rotkehlchen/tests/api/test_assets_updates.py
  rotkehlchen/tests/api/test_database.py
  rotkehlchen/tests/fixtures/globaldb.py
  rotkehlchen/tests/unit/test_evm_contracts.py
  rotkehlchen/tests/unit/test_globaldb_upgrades.py
  rotkehlchen/tests/utils/globaldb.py
Due: backend

Upgrade linting packages and adjust code where needed
  requirements_lint.txt
  rotkehlchen/accounting/structures/processed_event.py
Due: backend

fix: nfts gallery responsive issue
  frontend/app/src/components/nft/NftGallery.vue
Due: frontend_unit, frontend_integration

remove unneeded geventwebsocket request upgrade debug logs
  rotkehlchen/api/server.py
Due: backend

feat: controllable logo
  frontend/app/src/components/About.vue
  frontend/app/src/components/app/AppDrawer.vue
  frontend/app/src/components/common/NoDataScreen.vue
  frontend/app/src/components/common/RotkiLogo.vue
  frontend/app/src/components/premium/NoPremiumPlaceholder.vue
Due: frontend_unit, frontend_integration

Change default ethereum nodes
  rotkehlchen/data/nodes.json
Due: backend

Change the ubuntu version used in CI for tests
  .github/workflows/rotki_ci.yml
  .github/workflows/rotki_nightly.yml
Due: none

Update changelog for cryptocom cashback reversal
  docs/changelog.rst
Due: none

refactor: move all rules to vuelidate
  frontend/app/src/components/UserNoteForm.vue
  frontend/app/src/components/account-management/CreateAccountForm.vue
  frontend/app/src/components/account-management/LoginForm.vue
  frontend/app/src/components/account-management/PremiumCredentials.vue
  frontend/app/src/components/accounts/AccountForm.vue
  frontend/app/src/components/accounts/manual-balances/ManualBalancesForm.vue
  frontend/app/src/components/asset-manager/CustomAssetForm.vue
  frontend/app/src/components/asset-manager/ManagedAssetForm.vue
  frontend/app/src/components/asset-manager/MergeDialog.vue
  frontend/app/src/components/asset-manager/UnderlyingTokenManager.vue
  frontend/app/src/components/dashboard/EditBalancesSnapshotForm.vue
  frontend/app/src/components/dashboard/EditLocationDataSnapshotForm.vue
  frontend/app/src/components/dashboard/EditSnapshotTotal.vue
  frontend/app/src/components/eth-address-book-manager/EthAddressBookForm.vue
  frontend/app/src/components/helper/date/RangeSelector.vue
  frontend/app/src/components/history/ExternalTradeForm.vue
  frontend/app/src/components/history/LedgerActionForm.vue
  frontend/app/src/components/import/ImportSource.vue
  frontend/app/src/components/inputs/AssetSelect.vue
  frontend/app/src/components/inputs/RevealableInput.vue
  frontend/app/src/components/price-manager/historic/HistoricPriceForm.vue
  frontend/app/src/components/price-manager/latest/LatestPriceForm.vue
  frontend/app/src/components/profitloss/ReportGenerator.vue
  frontend/app/src/components/settings/OnboardingSettings.vue
  frontend/app/src/components/settings/api-keys/ExchangeKeysForm.vue
  frontend/app/src/components/tags/TagCreator.vue
  frontend/app/src/components/tags/TagManager.vue
Due: frontend_unit, frontend_integration

Add migration to update nodes of existing users
  docs/changelog.rst
  rotkehlchen/data/nodes_as_of_1-26-1.json
  rotkehlchen/data_migrations/manager.py
  rotkehlchen/data_migrations/migrations/migration_6.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tests/data_migrations/test_migrations.py
Due: backend

Temporarily disable Gemini tests that do remote calls in the CI
  rotkehlchen/tests/exchanges/test_gemini.py
Due: backend

Adjust tests after open node changes
  rotkehlchen/tests/api/test_misc.py
  rotkehlchen/tests/utils/history.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
