Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

fix(frontend): adjust and set default for assets conflict dialog
  frontend/app/src/components/status/update/AssetConflictDialog.vue
Due: frontend_unit, frontend_integration

fix(frontend): handle evm and evmlike chains
  frontend/app/src/composables/api/task.ts
  frontend/app/src/store/blockchain/accounts/migrate.ts
Due: frontend_unit, frontend_integration

refactor(frontend): apply changes to asset conflict dialog, adjust ui
  frontend/app/src/components/dialogs/BigDialog.vue
  frontend/app/src/components/status/update/AssetConflictDialog.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/tests/unit/specs/composables/message-handling.spec.ts
Due: frontend_unit, frontend_integration

fix(frontend): change filter from available to unknown for airdrops
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/defi/airdrops/index.vue
Due: frontend_unit, frontend_integration

Fix balancer trades
  rotkehlchen/chain/ethereum/modules/balancer/v2/decoder.py
  rotkehlchen/tests/unit/decoders/test_balancer.py
Due: backend

fix: improve decoding status messages in single tx
  frontend/app/src/components/history/events/HistoryEventsDecodingStatus.vue
  frontend/app/src/composables/history/events/tx/decoding.ts
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

fix: resolve typo in decoding text
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

fix: properly load NFT if the URL is video
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/helper/NftDetails.vue
  frontend/app/src/components/nft/NftGalleryItem.vue
  frontend/app/src/composables/nft-image.ts
  frontend/app/src/utils/nft.ts
Due: frontend_unit, frontend_integration

style: word break issue in the pending task message
  frontend/app/src/components/dialogs/ConfirmDialog.vue
  frontend/app/src/components/history/MovementLinks.vue
  frontend/app/src/components/status/notifications/Notification.vue
  frontend/app/src/components/status/notifications/PendingTask.vue
  frontend/app/src/composables/price-manager/latest/index.ts
  frontend/app/src/main.scss
Due: frontend_unit, frontend_integration

fix(frontend): skip token detection for evmlike chains during migration, remove scroll
  frontend/app/src/components/history/events/HistoryQueryStatusDialog.vue
  frontend/app/src/store/blockchain/accounts/migrate.ts
  frontend/app/tests/unit/specs/composables/message-handling.spec.ts
Due: frontend_unit, frontend_integration

chore: updates components major version
  rotkehlchen/premium/premium.py
Due: backend

chore: updates components major version (#7825)
  rotkehlchen/premium/premium.py
Due: backend

Update mappings with globaldb
  rotkehlchen/globaldb/handler.py
  rotkehlchen/globaldb/updates.py
  tools/assets_database/__init__.py
  tools/assets_database/main.py
  tools/assets_database/populate_with_mappings.py
Due: backend

feat(decoder): add handling for GRT delegation transfer events to L2
  rotkehlchen/chain/ethereum/modules/thegraph/constants.py
  rotkehlchen/chain/evm/decoding/thegraph/decoder.py
  rotkehlchen/tests/unit/decoders/test_thegraph.py
Due: backend

fix: asset location error for non blockchain
  frontend/app/src/components/assets/AssetLocations.vue
  frontend/app/src/components/settings/data-security/ChangePassword.vue
  frontend/app/src/components/settings/data-security/backups/DatabaseBackups.vue
  frontend/app/src/store/blockchain/index.ts
Due: frontend_unit, frontend_integration

fix(frontend): loading UI when asset reset is running
  frontend/app/src/components/asset-manager/RestoreAssetDbButton.vue
Due: frontend_unit, frontend_integration

fix: order found matchers correctly in TableFilter
  frontend/app/src/components/status/notifications/PendingTask.vue
  frontend/app/src/components/table-filter/TableFilter.vue
Due: frontend_unit, frontend_integration

Simplify evm events redecoding endpoint and delete tx data
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/db/history_events.py
Due: backend

Evmlike redecoding by transaction hash repull all data
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/zksync_lite/manager.py
Due: backend

feat(frontend): filter by active validator on loaded in staking page
  frontend/app/src/components/staking/eth/EthStakingPage.vue
  frontend/app/src/components/staking/eth/EthValidatorCombinedFilter.vue
Due: frontend_unit, frontend_integration

fix: replace missing auto-import causing reference error
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/accounts/AccountBalanceTable.vue
  frontend/app/src/components/accounts/management/types/ValidatorAccountForm.vue
Due: frontend_unit, frontend_integration

fix: replace missing auto-import causing reference error (#7832)
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/accounts/AccountBalanceTable.vue
  frontend/app/src/components/accounts/management/types/ValidatorAccountForm.vue
Due: frontend_unit, frontend_integration

Add an ignore_cache for decode pending to full redecode
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/zksync_lite/constants.py
  rotkehlchen/chain/zksync_lite/manager.py
  rotkehlchen/db/history_events.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/api/test_evmlike.py
  rotkehlchen/tests/integration/test_zksynclite.py
  rotkehlchen/tests/utils/api.py
Due: backend

refactor: changes redecode/pull calls
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/composables/api/history/events/index.ts
  frontend/app/src/composables/history/events/tx/decoding.ts
  frontend/app/src/composables/history/events/tx/index.ts
  frontend/app/tests/unit/specs/composables/history/transactions.spec.ts
Due: frontend_unit, frontend_integration

docs: update docs for calendar
  docs/changelog.rst
  docs/images/defi_overview.png
  docs/images/rotki_add_calendar_event.png
  docs/images/rotki_calendar.png
  docs/images/rotki_calendar_automatic_events_setting.png
  docs/images/rotki_calendar_reminder.png
  docs/images/sc_decentralized_deposits.png
  docs/images/sc_decentralized_deposits_history.png
  docs/images/sc_decentralized_deposits_no_premium.png
  docs/images/sc_decentralized_deposits_yearn.png
  docs/images/sc_decentralized_lp.png
  docs/images/sc_decentralized_lp_pnl_and_events.png
  docs/images/sc_decentralized_lp_summary.png
  docs/images/sc_decentralized_lp_sushi.png
  docs/images/sc_vaults_nonpremium.png
  docs/images/sc_vaults_premium.png
  docs/usage_guide.rst
Due: none

fix: remove unneeded error on version update check setting
  frontend/app/src/components/settings/explorers/Explorers.vue
  frontend/app/src/components/settings/frontend/AnimationsEnabledSetting.vue
  frontend/app/src/components/settings/general/DateDisplayFormatSetting.vue
  frontend/app/src/components/settings/general/DateInputFormatSetting.vue
  frontend/app/src/components/settings/general/DisplayDateInLocaltimeSetting.vue
  frontend/app/src/components/settings/general/EvmChainsToIgnoreSettings.vue
  frontend/app/src/components/settings/general/TreatEthAsEth2Setting.vue
  frontend/app/src/components/settings/general/UsageAnalyticsSetting.vue
  frontend/app/src/components/settings/general/VersionUpdateFrequencySetting.vue
  frontend/app/src/composables/message-handling.ts
  frontend/app/src/pages/settings/general/index.vue
Due: frontend_unit, frontend_integration

docs: remove dappnode log warning
  docs/contribute.rst
Due: none
