Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Adjust tests
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/unit/test_tasks_manager.py
  rotkehlchen/tests/utils/database.py
Due: backend

Updates .dockerignore
  .dockerignore
Due: none

fix minor issue with typing
  rotkehlchen/api/v1/parser.py
Due: backend

Applies some lint suggestions on Dockerfile
  Dockerfile
Due: none

Temporary fix for ignored assets exclusion at tx events
  rotkehlchen/api/v1/schemas.py
Due: backend

Now able to deserialize tx with None "to address"
  rotkehlchen/serialization/deserialize.py
  rotkehlchen/tests/unit/test_serialization.py
Due: backend

Add logs around the transaction querying process
  rotkehlchen/chain/ethereum/transactions.py
Due: backend

Disables rust, pyinstaller bootloader steps on amd64
  .github/workflows/rotki_nightly_builds.yml
  Dockerfile
Due: none

Gitcoin event detection fixes
  frontend/app/src/locales/en.json
  frontend/app/src/store/history/consts.ts
  frontend/app/src/types/transaction.ts
  rotkehlchen/chain/ethereum/decoding/base.py
  rotkehlchen/chain/ethereum/decoding/decoder.py
  rotkehlchen/chain/ethereum/modules/curve/decoder.py
  rotkehlchen/chain/ethereum/modules/gitcoin/accountant.py
  rotkehlchen/chain/ethereum/modules/gitcoin/decoder.py
  rotkehlchen/tests/unit/decoders/test_gitcoin.py
Due: backend, frontend_unit, frontend_integration

set a fallback version for python packaging
  setup.py
Due: none

Add shapeshift FOX airdrop in decoding and frontend
  frontend/app/src/store/history/consts.ts
  frontend/app/src/types/transaction.ts
  rotkehlchen/chain/ethereum/modules/airdrops/constants.py
  rotkehlchen/chain/ethereum/modules/airdrops/decoder.py
Due: backend, frontend_unit, frontend_integration

fix: assets problems
  frontend/app/src/components/helper/AssetDetailsBase.vue
  frontend/app/src/components/inputs/AssetSelect.vue
  frontend/app/src/services/assets/asset-api.ts
  frontend/app/src/services/assets/types.ts
  frontend/app/src/services/types-api.ts
  frontend/app/src/store/assets/index.ts
  frontend/app/src/utils/assets.ts
  frontend/app/src/views/settings/AccountingSettings.vue
  frontend/app/tests/e2e/specs/settings.spec.ts
  frontend/common/src/data/index.ts
Due: frontend_unit, frontend_integration

Adjust logic of filters
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/filtering.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/db/test_db_filters.py
Due: backend

fix issue with link not opening on docker
  frontend/app/src/electron-interop.ts
  setup.py
Due: frontend_unit, frontend_integration

fix: fix asset symbol missing from transactions
  frontend/app/src/components/history/transactions/TransactionEventNote.vue
Due: frontend_unit, frontend_integration

Update the list of spam assets and add basic info about them
  frontend/app/src/locales/en.json
  frontend/app/tests/e2e/specs/settings.spec.ts
  rotkehlchen/assets/spam_assets.py
Due: backend, frontend_unit, frontend_integration

Adds .git to docker ignore adds version from arg
  .dockerignore
  Dockerfile
Due: none

fix: trim transaction notes events
  frontend/app/src/store/history/index.ts
Due: frontend_unit, frontend_integration

Properly show transfer between account events in the frontend
  frontend/app/src/locales/en.json
  frontend/app/src/store/history/consts.ts
  frontend/app/src/types/transaction.ts
Due: frontend_unit, frontend_integration

Fix icons pulling
  rotkehlchen/icons.py
Due: backend

Support decoding of ELFI airdrop
  frontend/app/src/assets/images/defi/element_finance.png
  frontend/app/src/store/history/consts.ts
  frontend/app/src/types/transaction.ts
  rotkehlchen/chain/ethereum/modules/airdrops/constants.py
  rotkehlchen/chain/ethereum/modules/airdrops/decoder.py
  rotkehlchen/constants/assets.py
  rotkehlchen/constants/assets.py.template
  rotkehlchen/tests/unit/decoders/test_element_finance.py
Due: backend, frontend_unit, frontend_integration

Fix hashes comparison
  rotkehlchen/db/filtering.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/api/test_nfts.py
Due: backend

fix: update electron builder
  frontend/app/package.json
  frontend/package-lock.json
  frontend/package.json
Due: frontend_unit, frontend_integration

add data migration to validate assets icons
  rotkehlchen/data_migrations/migrations/migration_3.py
Due: backend

Fix problem with ignored_asset already in user DB but not globalDB
  rotkehlchen/assets/spam_assets.py
Due: backend

add endpoint to refresh asset icon, update api docs, write test, & minor changes to data migration
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/data_migrations/migrations/migration_3.py
  rotkehlchen/icons.py
  rotkehlchen/tests/api/test_icons.py
Due: backend

Fix the entries_found of ethereum transactions if filtering is used
  rotkehlchen/assets/spam_assets.py
  rotkehlchen/db/ethtx.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/utils/factories.py
Due: backend

fix minor bug with data migration and improve tests
  rotkehlchen/data_migrations/migrations/migration_3.py
  rotkehlchen/tests/api/test_icons.py
  rotkehlchen/tests/data_migrations/test_migrations.py
Due: backend

Changelog for 718
  docs/changelog.rst
Due: none

Add changelog for 1680 and 1697
  docs/changelog.rst
Due: none

Add changelog for 2890
  docs/changelog.rst
Due: none

Return optional group_id attribute for groupable PnL events
  docs/api.rst
  rotkehlchen/accounting/structures/processed_event.py
  rotkehlchen/accounting/transactions.py
  rotkehlchen/exchanges/data_structures.py
Due: backend

Don't count KFEE in cost basis and don't require acquisitions for it
  rotkehlchen/accounting/pot.py
Due: backend

fxi: fix ui bugs
  frontend/app/src/components/dashboard/NetWorthChart.vue
  frontend/app/src/components/profitloss/ReportMissingAcquisitions.vue
  frontend/app/src/components/staking/kraken/KrakenStakingReceived.vue
Due: frontend_unit, frontend_integration

Add decoder for hop protocol and decode eth transfers to l2
  frontend/app/src/assets/images/hop_protocol.png
  frontend/app/src/store/history/consts.ts
  frontend/app/src/types/transaction.ts
  rotkehlchen/chain/ethereum/modules/hop/__init__.py
  rotkehlchen/chain/ethereum/modules/hop/constants.py
  rotkehlchen/chain/ethereum/modules/hop/decoder.py
  rotkehlchen/tests/unit/accounting/test_misc.py
  rotkehlchen/tests/unit/decoders/test_1inch.py
  rotkehlchen/tests/unit/decoders/test_hop.py
  rotkehlchen/tests/unit/decoders/test_main.py
Due: backend, frontend_unit, frontend_integration

minor changes to implementation, tests and updated deps
  docs/api.rst
  requirements.txt
  rotkehlchen/api/rest.py
  rotkehlchen/data_migrations/migrations/migration_3.py
  rotkehlchen/icons.py
  rotkehlchen/tests/api/test_icons.py
  rotkehlchen/tests/data_migrations/test_migrations.py
Due: backend

Gather all possible counterparties at decoder initialization
  rotkehlchen/chain/ethereum/decoding/decoder.py
Due: backend

create endpoint with all protocols
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/chain/ethereum/decoding/constants.py
  rotkehlchen/chain/ethereum/decoding/decoder.py
  rotkehlchen/tests/api/test_history_base_entry.py
  rotkehlchen/tests/unit/decoders/test_main.py
Due: backend

Refactor gas and xdai counterparties
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/chain/ethereum/accounting/aggregator.py
  rotkehlchen/chain/ethereum/constants.py
  rotkehlchen/chain/ethereum/decoding/constants.py
  rotkehlchen/chain/ethereum/decoding/decoder.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/api/test_history_base_entry.py
  rotkehlchen/tests/unit/accounting/test_settings.py
  rotkehlchen/tests/unit/accounting/test_transactions.py
  rotkehlchen/tests/unit/decoders/test_1inch.py
  rotkehlchen/tests/unit/decoders/test_aave.py
  rotkehlchen/tests/unit/decoders/test_compound.py
  rotkehlchen/tests/unit/decoders/test_curve.py
  rotkehlchen/tests/unit/decoders/test_element_finance.py
  rotkehlchen/tests/unit/decoders/test_enriched.py
  rotkehlchen/tests/unit/decoders/test_gitcoin.py
  rotkehlchen/tests/unit/decoders/test_hop.py
  rotkehlchen/tests/unit/decoders/test_kyber.py
  rotkehlchen/tests/unit/decoders/test_liquity.py
  rotkehlchen/tests/unit/decoders/test_pickle.py
  rotkehlchen/tests/unit/decoders/test_votium.py
  rotkehlchen/tests/unit/test_evm_tx_decoding.py
  rotkehlchen/tests/utils/history.py
Due: backend

Test now checks binance imported content
  rotkehlchen/tests/utils/dataimport.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
