Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Some small fixes and dead code removal
  rotkehlchen/chain/evm/decoding/base.py
  rotkehlchen/constants/assets.py
  rotkehlchen/db/upgrades/v35_v36.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/types.py
  rotkehlchen/utils/mixins/serializableenumvalue.py
Due: backend

Activate ruff RSE rules and implement fixes
  pyproject.toml
  rotkehlchen/chain/ethereum/modules/l2/loopring.py
  rotkehlchen/db/drivers/gevent.py
Due: backend

fix: some wording and eth breakdown in exchange balances
  frontend/app/src/components/AssetBalances.vue
  frontend/app/src/components/app/AppCore.vue
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/balances/exchange/index.vue
Due: frontend_unit, frontend_integration

Fixes automatic changelog generation
  .github/workflows/rotki_release.yaml
  .github/workflows/task_backend_tests.yml
  .github/workflows/task_e2e_tests.yml
Due: none

docs: add changelog for navigation bar bug
  docs/changelog.rst
Due: none

DecoderInterface now enforces the constructor
  rotkehlchen/chain/ethereum/modules/aave/v1/decoder.py
  rotkehlchen/chain/ethereum/modules/aave/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/airdrops/decoder.py
  rotkehlchen/chain/ethereum/modules/balancer/decoder.py
  rotkehlchen/chain/ethereum/modules/compound/decoder.py
  rotkehlchen/chain/ethereum/modules/convex/decoder.py
  rotkehlchen/chain/ethereum/modules/dxdaomesa/decoder.py
  rotkehlchen/chain/ethereum/modules/eth2/decoder.py
  rotkehlchen/chain/ethereum/modules/gitcoin/decoder.py
  rotkehlchen/chain/ethereum/modules/kyber/decoder.py
  rotkehlchen/chain/ethereum/modules/liquity/decoder.py
  rotkehlchen/chain/ethereum/modules/makerdao/sai/decoder.py
  rotkehlchen/chain/ethereum/modules/oneinch/v1/decoder.py
  rotkehlchen/chain/ethereum/modules/oneinch/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/sushiswap/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v1/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/decoder.py
  rotkehlchen/chain/ethereum/modules/votium/decoder.py
  rotkehlchen/chain/ethereum/modules/weth/decoder.py
  rotkehlchen/chain/ethereum/modules/yearn/decoder.py
  rotkehlchen/chain/evm/decoding/interfaces.py
  rotkehlchen/chain/optimism/modules/airdrops/decoder.py
  rotkehlchen/chain/optimism/modules/hop/decoder.py
  rotkehlchen/chain/optimism/modules/optimism/decoder.py
Due: backend

Run the new tables execute script only in the case of a fresh DB
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tests/fixtures/db.py
Due: backend

HistoryBaseEntry properly ignored in accounting depending on chain
  rotkehlchen/accounting/structures/base.py
  rotkehlchen/tests/unit/accounting/test_transactions.py
  rotkehlchen/types.py
Due: backend

Some misc fixes
  rotkehlchen/db/upgrades/v35_v36.py
  rotkehlchen/history/events.py
Due: backend

Adjust tests
  rotkehlchen/data_migrations/manager.py
  rotkehlchen/data_migrations/migrations/migration_1.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/api/test_pnl_csv.py
  rotkehlchen/tests/data_migrations/test_migrations.py
  rotkehlchen/tests/fixtures/db.py
  rotkehlchen/tests/fixtures/rotkehlchen.py
  rotkehlchen/tests/unit/accounting/test_default_settings.py
  rotkehlchen/tests/unit/accounting/test_settings.py
  rotkehlchen/tests/unit/accounting/test_transactions.py
  rotkehlchen/tests/unit/decoders/test_aave.py
  rotkehlchen/tests/utils/database.py
Due: backend

Introduce DB migration 9 & fix a bug introduced at 1.27 with new DB
  rotkehlchen/data_migrations/manager.py
  rotkehlchen/data_migrations/migrations/migration_8.py
  rotkehlchen/data_migrations/migrations/migration_9.py
  rotkehlchen/db/schema.py
  rotkehlchen/tests/data/data_migration_9.db
  rotkehlchen/tests/data_migrations/test_migrations.py
  rotkehlchen/tests/fixtures/db.py
  rotkehlchen/types.py
Due: backend

Remove obsolete chain_id mapping from history_events_mappings
  docs/api.rst
  docs/changelog.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/data_migrations/migrations/migration_9.py
  rotkehlchen/db/constants.py
  rotkehlchen/db/evmtx.py
  rotkehlchen/db/history_events.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/api/test_history_base_entry.py
  rotkehlchen/tests/data_migrations/test_migrations.py
  rotkehlchen/tests/db/test_history_events.py
Due: backend

Adds ethereum and optimism locations
  frontend/app/src/components/history/LocationIcon.vue
  frontend/app/src/components/history/TransactionEventForm.vue
  frontend/app/src/components/history/transactions/TransactionContent.vue
  frontend/app/src/data/defaults.ts
  frontend/app/src/types/history/tx.ts
  frontend/app/src/types/trades.ts
Due: frontend_unit, frontend_integration

Upgrade pylint to 2.16.1
  .pylint.rc
  requirements_lint.txt
  rotkehlchen/chain/ethereum/modules/uniswap/utils.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/utils.py
Due: backend

Add some more pylint rules and fix them
  .pylint.rc
  rotkehlchen/tests/unit/test_tasks_manager.py
  rotkehlchen/tests/utils/blockchain.py
Due: backend

Activate and apply unnecessary-ellipsis pylint check
  .pylint.rc
  rotkehlchen/accounting/cost_basis/base.py
  rotkehlchen/accounting/mixins/event.py
  rotkehlchen/api/rest.py
  rotkehlchen/chain/ethereum/oracles/uniswap.py
  rotkehlchen/chain/evm/accounting/interfaces.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/chain/evm/decoding/interfaces.py
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/chain/evm/tokens.py
  rotkehlchen/data_import/importers/binance.py
  rotkehlchen/data_import/utils.py
  rotkehlchen/db/filtering.py
  rotkehlchen/interfaces.py
  rotkehlchen/tests/unit/accounting/test_exchanges.py
  rotkehlchen/types.py
  rotkehlchen/utils/interfaces.py
Due: backend

Activate and apply the consider-using-dict-items pylint rule
  .pylint.rc
  rotkehlchen/data_import/importers/cryptocom.py
  rotkehlchen/db/drivers/gevent.py
Due: backend

Activate and apply the comparison-with-itself pylint check
  .pylint.rc
  rotkehlchen/tests/api/test_bitcoin.py
Due: backend

Activate and apply the unnecessary-comprehension pylint check
  .pylint.rc
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tests/api/blockchain/test_base.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
