Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Bump flake8-executable to 2.1.3
  requirements_lint.txt
Due: none

Enable some of ruff's PTH rules
  package.py
  pyproject.toml
  tools/assets_database/main.py
Due: none

Enable ruff flake8-import-conventions
  pyproject.toml
Due: none

Enable ruff flake8-logging-format except no f-string in logs
  pyproject.toml
  rotkehlchen/accounting/debugimporter/json.py
  rotkehlchen/api/rest.py
  rotkehlchen/chain/aggregator.py
  rotkehlchen/data_import/importers/binance.py
  rotkehlchen/exchanges/kraken.py
Due: backend

Enable some bandit rules. Fix requests without timeout
  package.py
  pyproject.toml
  rotkehlchen/chain/ethereum/modules/yearn/utils.py
  rotkehlchen/exchanges/utils.py
  rotkehlchen/externalapis/opensea.py
  rotkehlchen/usage_analytics.py
  tools/assets_database/main.py
Due: backend

bump ruff to 0.0.237 and adjust code
  requirements_lint.txt
  rotkehlchen/chain/ethereum/oracles/uniswap.py
  rotkehlchen/db/filtering.py
  rotkehlchen/externalapis/etherscan.py
  rotkehlchen/tests/api/test_makerdao_dsr.py
  rotkehlchen/tests/unit/decoders/test_convex.py
  rotkehlchen/tests/unit/test_assets.py
Due: backend

bump isort to 5.12.0
  requirements_lint.txt
Due: none

Bump type-requests to 2.28.11.8
  requirements_lint.txt
Due: none

Enable some of ruff's TCH rules
  pyproject.toml
  rotkehlchen/data_migrations/progress.py
Due: backend

Mock response for optimism test using rotki account"
  rotkehlchen/tests/api/blockchain/test_optimism.py
Due: backend

Replace get or create evm token for a simpler version in spam tokens
  rotkehlchen/assets/spam_assets.py
Due: backend

Add for the last time a sync of the spam assets
  rotkehlchen/assets/spam_assets.py
  rotkehlchen/data_migrations/migrations/migration_8.py
  rotkehlchen/tests/data_migrations/test_migrations.py
  rotkehlchen/tests/utils/blockchain.py
Due: backend

feat: update several things in frontend
  frontend/app/src/components/account-management/DbActivityProgress.vue
  frontend/app/src/components/account-management/LoginForm.vue
  frontend/app/src/components/asset-manager/IgnoreScamAssetsButton.vue
  frontend/app/src/components/asset-manager/ManagedAssetTable.vue
  frontend/app/src/composables/message-handling.ts
  frontend/app/src/composables/user/account.ts
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/asset-manager/managed/index.vue
  frontend/app/src/pages/user/login/index.vue
  frontend/app/src/services/assets/ignore.ts
  frontend/app/src/store/assets/ignored.ts
  frontend/app/src/store/session/auth.ts
  frontend/app/src/store/session/index.ts
  frontend/app/src/types/task-type.ts
  frontend/app/src/types/websocket-messages.ts
  frontend/app/tests/e2e/pages/assets-manager-page.ts
Due: frontend_unit, frontend_integration

Include optimism in the list of hidden imports
  rotkehlchen.spec
Due: backend

Fix double 0x in tx hash
  rotkehlchen/assets/utils.py
Due: backend

Fix missing asset in user's db for spam assets
  rotkehlchen/assets/spam_assets.py
  rotkehlchen/data_migrations/migrations/migration_8.py
Due: backend

fix: several things in frontend
  frontend/app/src/components/account-management/DbActivityProgress.vue
  frontend/app/src/components/account-management/LoginForm.vue
  frontend/app/src/components/asset-manager/NewlyDetectedAssetTable.vue
  frontend/app/src/components/status/notifications/NotificationPopup.vue
  frontend/app/src/composables/message-handling.ts
  frontend/app/src/composables/user/account.ts
  frontend/app/src/locales/en.json
  frontend/app/src/store/blockchain/accounts/migrate.ts
  frontend/app/src/store/notifications/index.ts
  frontend/app/src/store/session/index.ts
  frontend/app/src/types/login.ts
  frontend/app/tests/unit/composables/message-handling.spec.ts
Due: frontend_unit, frontend_integration

fix: improve newly detected tokens storage
  frontend/app/src/components/GlobalSearch.vue
  frontend/app/src/components/status/notifications/Notification.vue
  frontend/app/src/composables/assets/newly-detected-tokens.ts
  frontend/app/src/composables/user/account.ts
  frontend/app/src/data/amount_formatter.ts
  frontend/app/src/pages/dashboard/index.vue
  frontend/app/src/router/routes.ts
Due: frontend_unit, frontend_integration

Specify that it's not possible to enable debug logs in dappnode
  docs/contribute.rst
Due: none

Don't query chains that address is not added to
  rotkehlchen/chain/evm/transactions.py
  rotkehlchen/tests/unit/test_evm_transactions.py
Due: backend

Moves asset update flow directly after login
  frontend/app/src/components/account-management/ConnectionLoading.vue
  frontend/app/src/components/account-management/DbActivityProgress.vue
  frontend/app/src/components/account-management/LoginForm.vue
  frontend/app/src/components/account-management/PremiumReminder.vue
  frontend/app/src/components/account-management/upgrade/DbActivityProgress.vue
  frontend/app/src/components/account-management/upgrade/UpgradeProgressDisplay.vue
  frontend/app/src/components/app/AppCore.vue
  frontend/app/src/components/helper/Card.vue
  frontend/app/src/components/status/update/AssetUpdate.vue
  frontend/app/src/components/status/update/AssetUpdateInlineConfirm.vue
  frontend/app/src/components/status/update/AssetUpdateMessage.vue
  frontend/app/src/components/status/update/AssetUpdateSetting.vue
  frontend/app/src/components/status/update/AssetUpdateStatus.vue
  frontend/app/src/components/user/LoginHost.vue
  frontend/app/src/composables/assets/newly-detected-tokens.ts
  frontend/app/src/composables/message-handling.ts
  frontend/app/src/composables/premium.ts
  frontend/app/src/composables/user/account.ts
  frontend/app/src/locales/en.json
  frontend/app/src/pages/playground/index.vue
  frontend/app/src/pages/user/login/index.vue
  frontend/app/src/store/blockchain/accounts/migrate.ts
  frontend/app/src/store/monitor.ts
  frontend/app/src/store/notifications/index.ts
  frontend/app/src/store/session/auth.ts
  frontend/app/src/store/session/index.ts
  frontend/app/src/types/assets.ts
  frontend/app/tests/e2e/pages/rotki-app.ts
  frontend/app/tests/unit/composables/message-handling.spec.ts
Due: frontend_unit, frontend_integration

Add profit currency frontend feature to show profit currency symbol
  docs/changelog.rst
Due: none

Kill evm tx greenlets on account deletion
  rotkehlchen/api/rest.py
  rotkehlchen/chain/evm/transactions.py
  rotkehlchen/errors/misc.py
  rotkehlchen/greenlets/manager.py
  rotkehlchen/rotkehlchen.py
Due: backend

feat: clear saved newly detected tokens on upgrade
  frontend/app/src/components/account-management/upgrade/UpgradeProgressDisplay.vue
  frontend/app/src/components/asset-manager/MergeDialog.vue
  frontend/app/src/components/dialogs/MessageDialog.vue
  frontend/app/src/components/status/update/AssetUpdateMessage.vue
  frontend/app/src/composables/assets/newly-detected-tokens.ts
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
Due: frontend_unit, frontend_integration

Handle killed greenlets
  rotkehlchen/api/rest.py
  rotkehlchen/chain/evm/transactions.py
  rotkehlchen/errors/misc.py
  rotkehlchen/greenlets/manager.py
  rotkehlchen/rotkehlchen.py
Due: backend

fix: hide multichain account if only 1 selectable account exist
  frontend/app/src/components/helper/BlockchainAccountSelector.vue
Due: frontend_unit, frontend_integration

feat: update docs and compress images
  docs/changelog.rst
  docs/images/add_blockchain_account.png
  docs/images/add_evm_address_book.png
  docs/images/asset_overview.png
  docs/images/delete_blockchain_account.png
  docs/images/display_evm_address_book_behaviour.png
  docs/images/filter_by_tag.png
  docs/images/latest_price.png
  docs/images/lps_in_dashboard.png
  docs/images/price_management.png
  docs/images/rotki_add_edit_asset.png
  docs/images/rotki_add_edit_custom_asset.png
  docs/images/rotki_add_edit_notes.png
  docs/images/rotki_dappnode_mobile.png
  docs/images/rotki_eth2_balances.png
  docs/images/rotki_eth2_staking.png
  docs/images/rotki_general_notes.png
  docs/images/rotki_location_specific_notes.png
  docs/images/rotki_manage_assets.png
  docs/images/rotki_manage_newly_detected_assets.png
  docs/images/rotki_merge_assets.png
  docs/images/rotki_pin_delete_notes.png
  docs/images/rotki_premium_del.png
  docs/images/rotki_premium_set.png
  docs/images/rotki_premium_set_sync_data.png
  docs/images/sc_nf_balances_dashboard.png
  docs/images/sc_nf_price.png
  docs/images/sc_pnl_report.png
  docs/images/sc_pnl_report1.png
  docs/images/sc_priceoracle_settings.png
  docs/images/sc_staking_liquity.png
  docs/images/tokens_detection.png
  docs/usage_guide.rst
Due: none

Changes transaction events to avoid infinite loop
  frontend/app/src/components/history/transactions/TransactionContent.vue
  frontend/app/src/components/history/transactions/TransactionEvents.vue
  frontend/app/src/composables/user/account.ts
  frontend/app/src/locales/en.json
  frontend/app/src/store/history/transactions.ts
  frontend/app/src/store/tasks/index.ts
Due: frontend_unit, frontend_integration
