Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

chore(frontend): show save button for create and edit, fix failing test.
  docs/images/add_tag_label.png
  frontend/app/src/components/tags/TagCreator.vue
  frontend/app/tests/e2e/pages/tag-manager.ts
Due: frontend_unit, frontend_integration

fix: freeze issue on the edit snapshot form
  frontend/app/src/components/asset-manager/managed/ManagedAssetTable.vue
  frontend/app/src/components/helper/LocationSelector.vue
  frontend/app/src/components/import/FileUpload.vue
  frontend/app/src/components/profitloss/ReportActionableCard.vue
  frontend/app/src/components/profitloss/ReportGenerator.vue
  frontend/app/src/components/profitloss/ReportMissingAcquisitions.vue
  frontend/app/src/components/settings/data-security/data-management/RefreshCache.vue
  frontend/app/src/pages/reports/index.vue
Due: frontend_unit, frontend_integration

fix: freeze issue on the edit snapshot form (#7853)
  frontend/app/src/components/asset-manager/managed/ManagedAssetTable.vue
  frontend/app/src/components/helper/LocationSelector.vue
  frontend/app/src/components/import/FileUpload.vue
  frontend/app/src/components/profitloss/ReportActionableCard.vue
  frontend/app/src/components/profitloss/ReportGenerator.vue
  frontend/app/src/components/profitloss/ReportMissingAcquisitions.vue
  frontend/app/src/components/settings/data-security/data-management/RefreshCache.vue
  frontend/app/src/pages/reports/index.vue
Due: frontend_unit, frontend_integration

refactor(frontend): add save and continue button to tag manager (#7852)
  docs/images/add_tag_label.png
  frontend/app/src/components/tags/TagCreator.vue
  frontend/app/src/components/tags/TagManager.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/store/session/tags.ts
  frontend/app/tests/e2e/pages/tag-manager.ts
Due: frontend_unit, frontend_integration

feat(decoding): add support for decoding zerox OTC Order Filled events
  rotkehlchen/chain/evm/decoding/zerox/constants.py
  rotkehlchen/chain/evm/decoding/zerox/decoder.py
  rotkehlchen/tests/unit/decoders/test_zerox.py
Due: backend

fix: delay unknown task removal to avoid race condition
  frontend/app/src/store/tasks/index.ts
  frontend/app/tests/unit/specs/store/tasks/tasks.spec.ts
Due: frontend_unit, frontend_integration

fix(frontend): counterparty icon not loaded
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/history/events/HistoryEventTypeCounterparty.vue
  frontend/app/src/components/history/events/forms/EvmEventForm.vue
  frontend/app/src/components/inputs/CounterpartyInput.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleForm.vue
  frontend/app/src/composables/filters/accounting-rule.ts
  frontend/app/src/composables/filters/events.ts
  frontend/app/src/composables/history/events/mapping/counterparty.ts
  frontend/app/src/composables/history/events/mapping/index.ts
  frontend/app/src/composables/history/events/mapping/product.ts
  frontend/app/tests/unit/specs/components/history/events/evm-event-form.spec.ts
Due: frontend_unit, frontend_integration

fix(frontend): counterparty icon not loaded (#7856)
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/history/events/HistoryEventTypeCounterparty.vue
  frontend/app/src/components/history/events/forms/EvmEventForm.vue
  frontend/app/src/components/inputs/CounterpartyInput.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleForm.vue
  frontend/app/src/composables/filters/accounting-rule.ts
  frontend/app/src/composables/filters/events.ts
  frontend/app/src/composables/history/events/mapping/counterparty.ts
  frontend/app/src/composables/history/events/mapping/index.ts
  frontend/app/src/composables/history/events/mapping/product.ts
  frontend/app/tests/unit/specs/components/history/events/evm-event-form.spec.ts
Due: frontend_unit, frontend_integration

fix: delay unknown task removal to avoid race condition (#7855)
  frontend/app/src/store/tasks/index.ts
  frontend/app/tests/unit/specs/store/tasks/tasks.spec.ts
Due: frontend_unit, frontend_integration

Update liquity test
  rotkehlchen/db/upgrades/v41_v42.py
  rotkehlchen/tests/api/test_liquity.py
  rotkehlchen/tests/data/liquity_stats.db
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

feat(frontend): add action button to delete a transaction and its events.
  frontend/app/src/components/history/events/HistoryEventsAction.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/composables/api/history/events/index.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
Due: frontend_unit, frontend_integration

chore(frontend): fix scrolling on modal, and break text in sync warning message.
  frontend/app/src/components/history/events/HistoryEventsDecodingStatus.vue
  frontend/app/src/components/status/sync/SyncIndicator.vue
Due: frontend_unit, frontend_integration

Make ens events consecutive
  rotkehlchen/chain/ethereum/modules/ens/decoder.py
  rotkehlchen/tests/unit/decoders/test_ens.py
  rotkehlchen/tests/unit/test_tasks_manager.py
Due: backend

Ensure that orphan events get deleted on db upgrade
  rotkehlchen/db/upgrades/v41_v42.py
  rotkehlchen/tests/data/v41_rotkehlchen.db
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

fix: lazy loader debounced when appearing
  frontend/app/src/components/helper/LazyLoader.vue
  frontend/app/src/components/history/events/HistoryEventsListTable.vue
Due: frontend_unit, frontend_integration

chore(frontend): add changelog entry and update usage guide
  docs/changelog.rst
  docs/images/delete_transaction_events.png
  docs/images/redecode_events.png
  docs/usage_guide.rst
Due: none

chore(frontend): show full hash for larger screens only
  frontend/app/src/components/history/events/HistoryEventsIdentifier.vue
Due: frontend_unit, frontend_integration

feat(frontend): add delete tx action for evm transactions (#7860)
  docs/changelog.rst
  docs/images/delete_transaction_events.png
  docs/images/redecode_events.png
  docs/usage_guide.rst
  frontend/app/src/components/history/events/HistoryEventsAction.vue
  frontend/app/src/components/history/events/HistoryEventsDecodingStatus.vue
  frontend/app/src/components/history/events/HistoryEventsIdentifier.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/status/sync/SyncIndicator.vue
  frontend/app/src/composables/api/history/events/index.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
Due: frontend_unit, frontend_integration

fix: lazy loader debounced when appearing (#7859)
  frontend/app/src/components/helper/LazyLoader.vue
  frontend/app/src/components/history/events/HistoryEventsListTable.vue
Due: frontend_unit, frontend_integration

Fix debug import
  rotkehlchen/accounting/debugimporter/json.py
  rotkehlchen/api/rest.py
Due: backend

fix(frontend): fix chain sent on tx delete, use chain id and handle error notification.
  frontend/app/src/components/history/events/HistoryEventsAction.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/composables/info/chains.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
Due: frontend_unit, frontend_integration

fix(frontend): fix chain sent on tx delete, use chain id and handle error notification. (#7864)
  frontend/app/src/components/history/events/HistoryEventsAction.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/composables/info/chains.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
Due: frontend_unit, frontend_integration

fix: exchange input for cex mapping
  frontend/app/src/components/inputs/ExchangeInput.vue
  frontend/app/src/components/settings/api-keys/exchange/ExchangeKeysForm.vue
  rotkehlchen/api/v1/schemas.py
Due: backend, frontend_unit, frontend_integration

Prevent user errors when checking compound tokens
  rotkehlchen/chain/evm/decoding/compound/v3/balances.py
  rotkehlchen/chain/evm/decoding/compound/v3/decoder.py
Due: backend

fix(frontend): fix underlying tokens form, adjust the table to auto grow, clear form on save
  frontend/app/src/components/asset-manager/UnderlyingTokenManager.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetForm.vue
Due: frontend_unit, frontend_integration

Hardening the checks in aave v2 and v3 common decoder when transaction events are parsed
  rotkehlchen/chain/evm/decoding/aave/common.py
Due: backend

Fix (_maybe_create_calendar_reminder): Include it
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/unit/test_tasks_manager.py
Due: backend

fix(backend): update counterparty image and icon
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/chain/evm/decoding/polygon/constants.py
  rotkehlchen/chain/evm/decoding/types.py
  rotkehlchen/serialization/serialize.py
  rotkehlchen/tests/api/test_misc.py
Due: backend

fix(frontend): fix underlying tokens form, adjust the table to auto grow (#7868)
  frontend/app/src/components/asset-manager/UnderlyingTokenManager.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetForm.vue
Due: frontend_unit, frontend_integration

fix: update counterparty input and display
  frontend/app/src/components/calendar/CalendarSettingsMenu.vue
  frontend/app/src/components/history/CounterpartyDisplay.vue
  frontend/app/src/components/history/events/HistoryEventTypeCounterparty.vue
  frontend/app/src/components/inputs/CounterpartyInput.vue
  frontend/app/src/components/settings/accounting/TaxFreeSetting.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleConflictsDialog.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleForm.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleSetting.vue
  frontend/app/src/composables/history/events/mapping/counterparty.ts
Due: frontend_unit, frontend_integration

fix(frontend): update counterparty input and display (#7861)
  frontend/app/src/components/calendar/CalendarSettingsMenu.vue
  frontend/app/src/components/history/CounterpartyDisplay.vue
  frontend/app/src/components/history/events/HistoryEventTypeCounterparty.vue
  frontend/app/src/components/inputs/CounterpartyInput.vue
  frontend/app/src/components/settings/accounting/TaxFreeSetting.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleConflictsDialog.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleForm.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleSetting.vue
  frontend/app/src/composables/history/events/mapping/counterparty.ts
Due: frontend_unit, frontend_integration

Add version to the label in protocols with versions
  rotkehlchen/chain/ethereum/modules/aave/v1/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v1/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/yearn/constants.py
  rotkehlchen/chain/ethereum/modules/yearn/decoder.py
  rotkehlchen/chain/evm/decoding/aave/constants.py
  rotkehlchen/chain/evm/decoding/aave/v2/decoder.py
  rotkehlchen/chain/evm/decoding/aave/v3/decoder.py
  rotkehlchen/chain/evm/decoding/compound/v3/decoder.py
  rotkehlchen/chain/evm/decoding/oneinch/decoder.py
  rotkehlchen/chain/evm/decoding/uniswap/constants.py
  rotkehlchen/chain/evm/decoding/uniswap/v3/decoder.py
Due: backend

Add ENS color to ENS calendar events
  rotkehlchen/tasks/calendar.py
  rotkehlchen/tests/unit/test_tasks_manager.py
Due: backend

Exclude zksync from spam detection
  rotkehlchen/chain/ethereum/modules/aave/v1/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v1/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v2/decoder.py
  rotkehlchen/chain/evm/decoding/aave/constants.py
  rotkehlchen/chain/evm/decoding/aave/v2/decoder.py
  rotkehlchen/chain/evm/decoding/aave/v3/decoder.py
  rotkehlchen/chain/evm/decoding/uniswap/constants.py
  rotkehlchen/chain/evm/decoding/uniswap/v3/decoder.py
  rotkehlchen/db/filtering.py
  rotkehlchen/tasks/assets.py
Due: backend
