Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Bump ruff
  pyproject.toml
  uv.lock
Due: none

Bump some production packages
  pyproject.toml
  uv.lock
Due: none

linter
  rotkehlchen/externalapis/cowswap.py
  rotkehlchen/tests/external_apis/test_cowswap.py
Due: backend

use default cowswap `order_type` when missing `fullAppData`
  rotkehlchen/externalapis/cowswap.py
  rotkehlchen/tests/external_apis/test_cowswap.py
Due: backend

use null check over try-except
  rotkehlchen/externalapis/cowswap.py
Due: backend

mock test data internally rather than using vcr
  rotkehlchen/externalapis/cowswap.py
  rotkehlchen/tests/external_apis/test_cowswap.py
Due: backend

linter fixes
  rotkehlchen/externalapis/cowswap.py
  rotkehlchen/tests/external_apis/test_cowswap.py
Due: backend

fix(e2e): add retry mechanism for cleanup when files are locked
  frontend/app/package.json
  frontend/app/scripts/e2e.ts
  frontend/app/src/modules/dashboard/history-progress/HistoryQueryIndicator.vue
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

fix: fetch the location labels options for history events
  frontend/app/src/composables/history/events/use-history-events-actions.ts
Due: frontend_unit, frontend_integration

add changelog entry
  docs/changelog.rst
Due: none

feat(frontend): add helius api key
  frontend/app/public/assets/images/services/helius.svg
  frontend/app/shared/external-links.ts
  frontend/app/src/components/settings/api-keys/external/HeliusApiKey.vue
  frontend/app/src/locales/en.json
  frontend/app/src/modules/messaging/handlers/missing-api-key.ts
  frontend/app/src/pages/api-keys/external/index.vue
  frontend/app/src/types/user.ts
  frontend/app/src/utils/url.ts
  frontend/app/typed-router.d.ts
  frontend/common/src/messages/index.ts
Due: frontend_unit, frontend_integration

Add api to requery events in exchange for range
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/exchanges/manager.py
  rotkehlchen/tests/api/test_exchanges.py
Due: backend

refactor BaseDecoderTools
  rotkehlchen/chain/base/modules/runmoney/decoder.py
  rotkehlchen/chain/bitcoin/manager.py
  rotkehlchen/chain/decoding/tools.py
  rotkehlchen/chain/decoding/utils.py
  rotkehlchen/chain/evm/decoding/base.py
  rotkehlchen/history/events/utils.py
Due: backend

feat: adjust new token detected ws for solana
  frontend/app/src/components/asset-manager/newly-detected/NewlyDetectedAssetTable.vue
  frontend/app/src/components/display/AccountDisplay.vue
  frontend/app/src/composables/assets/newly-detected-tokens.ts
  frontend/app/src/modules/messaging/messages.ts
  frontend/app/src/modules/messaging/registries/business-registry.ts
  frontend/app/src/modules/messaging/types/base.ts
  frontend/app/src/modules/messaging/types/business-types.ts
  frontend/app/tests/unit/specs/composables/assets/newly-detected-tokens.spec.ts
  frontend/app/typed-router.d.ts
  frontend/common/src/assets/index.ts
Due: frontend_unit, frontend_integration

fix cowswap wrapped-native swaps
  docs/changelog.rst
  rotkehlchen/chain/evm/decoding/cowswap/decoder.py
  rotkehlchen/chain/evm/decoding/spark/savings/decoder.py
  rotkehlchen/tests/unit/decoders/test_cowswap.py
Due: backend

Save solana txs in chunks
  rotkehlchen/chain/solana/manager.py
  rotkehlchen/externalapis/helius.py
  rotkehlchen/tests/external_apis/test_helius.py
Due: backend

use default cowswap `order_type` when missing `fullAppData` (#10653)
  docs/changelog.rst
  rotkehlchen/externalapis/cowswap.py
  rotkehlchen/tests/external_apis/test_cowswap.py
Due: backend

feat: adjust new token detected ws for solana (#10659)
  frontend/app/src/components/asset-manager/newly-detected/NewlyDetectedAssetTable.vue
  frontend/app/src/components/display/AccountDisplay.vue
  frontend/app/src/composables/assets/newly-detected-tokens.ts
  frontend/app/src/modules/messaging/messages.ts
  frontend/app/src/modules/messaging/registries/business-registry.ts
  frontend/app/src/modules/messaging/types/base.ts
  frontend/app/src/modules/messaging/types/business-types.ts
  frontend/app/tests/unit/specs/composables/assets/newly-detected-tokens.spec.ts
  frontend/app/typed-router.d.ts
  frontend/common/src/assets/index.ts
Due: frontend_unit, frontend_integration

Refactor chain managers
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/avalanche/manager.py
  rotkehlchen/chain/balances.py
  rotkehlchen/chain/bitcoin/manager.py
  rotkehlchen/chain/evm/manager.py
  rotkehlchen/chain/evm/types.py
  rotkehlchen/chain/manager.py
  rotkehlchen/chain/solana/manager.py
  rotkehlchen/chain/substrate/manager.py
  rotkehlchen/chain/substrate/utils.py
  rotkehlchen/chain/zksync_lite/manager.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/api/blockchain/test_base.py
  rotkehlchen/tests/api/test_balances.py
  rotkehlchen/tests/api/test_evmlike.py
  rotkehlchen/tests/integration/test_blockchain.py
  rotkehlchen/tests/integration/test_zksynclite.py
  rotkehlchen/tests/unit/test_bitcoin.py
  rotkehlchen/tests/unit/test_bitcoin_cash.py
  rotkehlchen/tests/unit/test_blockchain_balances.py
  rotkehlchen/tests/unit/test_protocol_balances.py
  rotkehlchen/types.py
  rotkehlchen/utils/mixins/lockable.py
Due: backend

Fix some typos
  _typos.toml
  colibri/src/api/globaldb_endpoints/assets_collections.rs
  docs/changelog.rst
  rotkehlchen/db/upgrades/v35_v36.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/utils/ports.py
Due: backend

fix: harvest finance icon
  rotkehlchen/chain/ethereum/modules/harvest_finance/decoder.py
  rotkehlchen/data_migrations/migrations/migration_21.py
Due: backend

feat: add feature flags support to premium limits endpoint
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/premium/premium.py
  rotkehlchen/tests/api/test_premium.py
  rotkehlchen/tests/fixtures/eth2.py
  rotkehlchen/tests/fixtures/rotkehlchen.py
  rotkehlchen/tests/integration/test_premium.py
  rotkehlchen/tests/unit/test_eth2.py
Due: backend

refactor evm_events_info table
  rotkehlchen/api/rest.py
  rotkehlchen/chain/ethereum/interfaces/ammswap/ammswap.py
  rotkehlchen/chain/ethereum/modules/eigenlayer/utils.py
  rotkehlchen/chain/ethereum/modules/liquity/statistics.py
  rotkehlchen/data_migrations/migrations/migrations_18.py
  rotkehlchen/db/constants.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/eth2.py
  rotkehlchen/db/evmtx.py
  rotkehlchen/db/filtering.py
  rotkehlchen/db/history_events.py
  rotkehlchen/db/minimized_schema.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v49_v50.py
  rotkehlchen/history/events/structures/eth2.py
  rotkehlchen/history/events/structures/evm_event.py
  rotkehlchen/history/events/structures/evm_swap.py
  rotkehlchen/history/events/structures/swap.py
  rotkehlchen/history/events/structures/types.py
  rotkehlchen/tasks/assets.py
  rotkehlchen/tests/api/test_evm_transactions.py
  rotkehlchen/tests/data/v49_rotkehlchen.db
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
