Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Add solana to the valid addressbook ecosystems
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/solana/validation.py
  rotkehlchen/tests/api/test_addressbook.py
  rotkehlchen/types.py
  rotkehlchen/utils/misc.py
Due: backend

Fix aave v3 monerium order
  docs/changelog.rst
  rotkehlchen/chain/evm/decoding/aave/v3/decoder.py
  rotkehlchen/tests/unit/decoders/test_aave_v3.py
Due: backend

vcr more cryptocompare tests
  rotkehlchen/tests/external_apis/test_cryptocompare.py
Due: backend

Bump linting tools
  pyproject.toml
  uv.lock
Due: none

Bump some dependencies
  pyproject.toml
  uv.lock
Due: none

events_source argument was not used in Kraken function
  rotkehlchen/exchanges/kraken.py
Due: backend

add database schema for storing solana transactions
  rotkehlchen/chain/solana/types.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/filtering.py
  rotkehlchen/db/minimized_schema.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/solanatx.py
  rotkehlchen/db/upgrades/v49_v50.py
  rotkehlchen/db/utils.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/db/test_solana_tx.py
  rotkehlchen/tests/db/test_utils.py
  rotkehlchen/tests/utils/factories.py
Due: backend

Add helius solana tx querying
  _typos.toml
  rotkehlchen/errors/misc.py
  rotkehlchen/externalapis/helius.py
  rotkehlchen/serialization/deserialize.py
  rotkehlchen/tests/external_apis/test_helius.py
  rotkehlchen/types.py
Due: backend

chore: fix typo in rotkehlchen/data_migrations/migrations/migration_21.py
  rotkehlchen/data_migrations/migrations/migration_21.py
Due: backend

improve `get_solana_transactions`
  rotkehlchen/db/solanatx.py
Due: backend

Add solana tx querying from the rpcs
  _typos.toml
  rotkehlchen/chain/solana/manager.py
  rotkehlchen/chain/solana/utils.py
  rotkehlchen/serialization/deserialize.py
  rotkehlchen/tests/unit/test_solana.py
Due: backend

Allow solana tx query via the api
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/api/websockets/typedefs.py
  rotkehlchen/chain/solana/manager.py
  rotkehlchen/chain/solana/types.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/filtering.py
  rotkehlchen/db/solanatx.py
  rotkehlchen/externalapis/helius.py
  rotkehlchen/tests/api/test_solana_transactions.py
  rotkehlchen/tests/db/test_solana_tx.py
  rotkehlchen/tests/external_apis/test_helius.py
  rotkehlchen/tests/unit/test_solana.py
  rotkehlchen/tests/utils/factories.py
  rotkehlchen/types.py
Due: backend

feat(frontend): add helius api key
  frontend/app/public/assets/images/services/helius.svg
  frontend/app/shared/external-links.ts
  frontend/app/src/components/settings/api-keys/external/HeliusApiKey.vue
  frontend/app/src/locales/en.json
  frontend/app/src/modules/messaging/handlers/missing-api-key.ts
  frontend/app/src/pages/api-keys/external/index.vue
  frontend/app/src/types/user.ts
  frontend/app/src/utils/url.ts
  frontend/app/typed-router.d.ts
  frontend/common/src/messages/index.ts
Due: frontend_unit, frontend_integration

Update the list of 0x settlers
  rotkehlchen/chain/arbitrum_one/modules/zerox/constants.py
  rotkehlchen/chain/base/modules/zerox/constants.py
  rotkehlchen/chain/binance_sc/modules/zerox/constants.py
  rotkehlchen/chain/ethereum/modules/zerox/constants.py
  rotkehlchen/chain/optimism/modules/zerox/constants.py
  rotkehlchen/chain/polygon_pos/modules/zerox/constants.py
  rotkehlchen/tests/unit/decoders/test_zerox.py
Due: backend

Add a SolanaInquirer class
  rotkehlchen/chain/solana/manager.py
  rotkehlchen/chain/solana/node_inquirer.py
  rotkehlchen/chain/solana/utils.py
  rotkehlchen/tests/unit/test_solana.py
Due: backend

fix: fetch the location labels options for history events
  frontend/app/src/composables/history/events/use-history-events-actions.ts
Due: frontend_unit, frontend_integration

decode runmoney.app transactions
  frontend/app/public/assets/images/protocols/runmoney.png
  rotkehlchen/chain/base/modules/runmoney/__init__.py
  rotkehlchen/chain/base/modules/runmoney/constants.py
  rotkehlchen/chain/base/modules/runmoney/decoder.py
  rotkehlchen/tests/unit/decoders/test_runmoney.py
Due: backend, frontend_unit, frontend_integration

add support for runmoney balances
  docs/changelog.rst
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/base/modules/runmoney/balances.py
  rotkehlchen/chain/base/modules/runmoney/constants.py
  rotkehlchen/chain/ethereum/interfaces/balances.py
  rotkehlchen/tests/unit/test_protocol_balances.py
Due: backend

add support for runmoney balances (#10643)
  docs/changelog.rst
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/base/modules/runmoney/balances.py
  rotkehlchen/chain/base/modules/runmoney/constants.py
  rotkehlchen/chain/ethereum/interfaces/balances.py
  rotkehlchen/tests/unit/test_protocol_balances.py
Due: backend

fix(e2e): add retry mechanism for cleanup when files are locked
  frontend/app/package.json
  frontend/app/scripts/e2e.ts
  frontend/app/src/modules/dashboard/history-progress/HistoryQueryIndicator.vue
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

Add get_or_create_solana_token
  docs/websockets.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/websockets/typedefs.py
  rotkehlchen/assets/asset.py
  rotkehlchen/assets/utils.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/chain/evm/decoding/uniswap/v2/utils.py
  rotkehlchen/chain/solana/manager.py
  rotkehlchen/chain/solana/node_inquirer.py
  rotkehlchen/chain/solana/utils.py
  rotkehlchen/constants/resolver.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/errors/misc.py
  rotkehlchen/tests/unit/decoders/test_convex.py
  rotkehlchen/tests/unit/test_solana.py
  rotkehlchen/tests/unit/test_tokens.py
  rotkehlchen/types.py
Due: backend

refactor: remove redundant length check in pylint log checker
  tools/pylint/log_checker.py
Due: none

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
