Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Remove noise from detected tokens
  rotkehlchen/assets/utils.py
  rotkehlchen/chain/ethereum/modules/balancer/utils.py
  rotkehlchen/chain/ethereum/modules/curve/curve_cache.py
  rotkehlchen/chain/ethereum/modules/ens/decoder.py
  rotkehlchen/chain/ethereum/modules/makerdao/cache.py
  rotkehlchen/chain/ethereum/modules/uniswap/v2/common.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/utils.py
  rotkehlchen/chain/ethereum/modules/yearn/utils.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/chain/optimism/modules/velodrome/velodrome_cache.py
  rotkehlchen/inquirer.py
Due: backend

refactor(frontend): update big dialog buttons
  frontend/app/src/components/dialogs/BigDialog.vue
Due: frontend_unit, frontend_integration

refactor(frontend): migrating exchange api-keys layout
  frontend/app/src/components/helper/RowActions.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/settings/api-keys/exchanges/index.vue
Due: frontend_unit, frontend_integration

Make event_identifier required only for editing deposit events
  docs/api.rst
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/serialization/deserialize.py
  rotkehlchen/tests/api/test_history_base_entry.py
  rotkehlchen/tests/utils/history_base_entry.py
Due: backend

refactor: update icons and layout on notification and help sidebar
  frontend/app/src/components/help/HelpSidebar.vue
  frontend/app/src/components/status/notifications/CollapsedPendingTasks.vue
  frontend/app/src/components/status/notifications/NoTasksRunning.vue
  frontend/app/src/components/status/notifications/PendingTask.vue
  frontend/app/src/components/status/notifications/PendingTasks.vue
  frontend/app/src/components/svgs/DiscordIcon.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/plugins/rui/index.ts
  frontend/app/src/plugins/vuetify.ts
Due: frontend_unit, frontend_integration

refactor(frontend): migrate table page layout title to property
  frontend/app/src/components/accounts/balances/NonFungibleBalances.vue
  frontend/app/src/components/address-book-manager/AddressBookManagement.vue
  frontend/app/src/components/asset-manager/custom/CustomAssetContent.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetContent.vue
  frontend/app/src/components/asset-manager/newly-detected/NewlyDetectedAssetContent.vue
  frontend/app/src/components/history/deposits-withdrawals/DepositsWithdrawalsContent.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/history/trades/ClosedTrades.vue
  frontend/app/src/components/price-manager/historic/HistoricPriceContent.vue
  frontend/app/src/components/price-manager/latest/LatestPriceContent.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleSetting.vue
  frontend/app/src/pages/balances/blockchain/index.vue
  frontend/app/src/pages/balances/exchange/index.vue
  frontend/app/src/pages/balances/manual/index.vue
  frontend/app/src/pages/defi/airdrops/index.vue
  frontend/app/src/pages/settings/api-keys/exchanges/index.vue
Due: frontend_unit, frontend_integration

refactor(frontend): migrate rotki premium key layout
  frontend/app/src/components/layout/TablePageLayout.vue
  frontend/app/src/pages/settings/api-keys/premium/index.vue
  frontend/app/src/store/session/premium.ts
  frontend/app/tests/unit/specs/components/settings/premium-settings.spec.ts
Due: frontend_unit, frontend_integration

Fix editing of all history events
  rotkehlchen/accounting/structures/base.py
  rotkehlchen/accounting/structures/eth2.py
  rotkehlchen/accounting/structures/evm_event.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/history_events.py
  rotkehlchen/tests/api/test_history_base_entry.py
  rotkehlchen/tests/utils/history_base_entry.py
Due: backend

added new badge for x (twitter)
  README.md
Due: none

Add linked settings for accounting rules and remote updates for them
  docs/api.rst
  rotkehlchen/accounting/rules.py
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/api/websockets/typedefs.py
  rotkehlchen/chain/evm/accounting/structures.py
  rotkehlchen/db/accounting_rules.py
  rotkehlchen/db/constants.py
  rotkehlchen/db/minimized_schema.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/updates.py
  rotkehlchen/db/upgrades/v39_v40.py
  rotkehlchen/tests/api/test_accounting_rules.py
  rotkehlchen/tests/data_migrations/test_migrations.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/db/test_db_accounting_rules.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/unit/test_data_updates.py
Due: backend

Octant GLM lock/unlock events are now properly detected
  docs/changelog.rst
  frontend/app/public/assets/images/protocols/octant.svg
  rotkehlchen/chain/ethereum/modules/octant/__init__.py
  rotkehlchen/chain/ethereum/modules/octant/constants.py
  rotkehlchen/chain/ethereum/modules/octant/decoder.py
  rotkehlchen/tests/unit/decoders/test_main.py
  rotkehlchen/tests/unit/decoders/test_octant.py
Due: backend, frontend_unit, frontend_integration

feat(frontend): modify all history events
  docs/changelog.rst
  frontend/app/src/components/asset-manager/managed/ManagedAssetForm.vue
  frontend/app/src/components/display/DateDisplay.vue
  frontend/app/src/components/history/IgnoredInAcountingIcon.vue
  frontend/app/src/components/history/events/HistoryEventForm.vue
  frontend/app/src/components/history/events/HistoryEventFormDialog.vue
  frontend/app/src/components/history/events/HistoryEventsAction.vue
  frontend/app/src/components/history/events/HistoryEventsList.vue
  frontend/app/src/components/history/events/HistoryEventsSkippedExternalEvents.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/history/events/forms/EthBlockEventForm.vue
  frontend/app/src/components/history/events/forms/EthDepositEventForm.vue
  frontend/app/src/components/history/events/forms/EthWithdrawalEventForm.vue
  frontend/app/src/components/history/events/forms/EvmEventForm.vue
  frontend/app/src/components/history/events/forms/HistoryEventAssetPriceForm.vue
  frontend/app/src/components/history/events/forms/OnlineHistoryEventForm.vue
  frontend/app/src/components/history/trades/ExternalTradeForm.vue
  frontend/app/src/components/inputs/DateTimePicker.vue
  frontend/app/src/components/price-manager/historic/HistoricPriceForm.vue
  frontend/app/src/components/profitloss/ReportProfitLossEventAction.vue
  frontend/app/src/components/settings/controls/DateFormatHelp.vue
  frontend/app/src/composables/api/history/events/index.ts
  frontend/app/src/composables/history/events/mapping.ts
  frontend/app/src/composables/history/events/tx/index.ts
  frontend/app/src/composables/session/purge.ts
  frontend/app/src/data/constraints.ts
  frontend/app/src/data/date_formatter.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/store/prices/historic.ts
  frontend/app/src/types/history/events/index.ts
  frontend/app/src/types/status.ts
  frontend/app/tests/unit/specs/composables/history/transactions.spec.ts
Due: frontend_unit, frontend_integration

fix: test and props
  frontend/app/src/components/helper/HashLink.vue
  frontend/app/src/components/helper/display/icons/AssetIcon.vue
  frontend/app/src/components/helper/display/icons/GeneratedIcon.vue
  frontend/app/src/components/history/events/HistoryEventForm.vue
  frontend/app/src/components/history/events/HistoryEventType.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/history/events/forms/EthBlockEventForm.vue
  frontend/app/src/components/history/events/forms/EthDepositEventForm.vue
  frontend/app/src/components/history/events/forms/EthWithdrawalEventForm.vue
  frontend/app/src/components/history/events/forms/EvmEventForm.vue
  frontend/app/src/components/history/events/forms/HistoryEventAssetPriceForm.vue
  frontend/app/src/components/history/events/forms/OnlineHistoryEventForm.vue
  frontend/app/src/components/svgs/TokenPlaceholder.vue
  frontend/app/src/plugins/rui/index.ts
  frontend/app/tests/unit/specs/components/history/events/evm-history-event-form.spec.ts
  frontend/app/tests/unit/specs/components/history/events/history-event-form.spec.ts
Due: frontend_unit, frontend_integration

fix: based on the feedbacks
  frontend/app/src/components/history/events/HistoryEventForm.vue
  frontend/app/src/components/history/events/HistoryEventType.vue
  frontend/app/src/components/history/events/HistoryEventTypeCombination.vue
  frontend/app/src/components/history/events/forms/EthBlockEventForm.vue
  frontend/app/src/components/history/events/forms/EthDepositEventForm.vue
  frontend/app/src/components/history/events/forms/EthWithdrawalEventForm.vue
  frontend/app/src/components/history/events/forms/EvmEventForm.vue
  frontend/app/src/components/history/events/forms/OnlineHistoryEventForm.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/types/history/events/index.ts
  frontend/app/tests/unit/specs/components/history/events/evm-history-event-form.spec.ts
  frontend/app/tests/unit/specs/components/history/events/history-event-form.spec.ts
  frontend/common/src/history/events.ts
Due: frontend_unit, frontend_integration

feat: modify datepicker, remove seconds, add miliseconds option
  frontend/app/.eslintrc.js
  frontend/app/src/components/asset-manager/managed/ManagedAssetForm.vue
  frontend/app/src/components/display/DateDisplay.vue
  frontend/app/src/components/history/events/forms/EthBlockEventForm.vue
  frontend/app/src/components/history/events/forms/EthDepositEventForm.vue
  frontend/app/src/components/history/events/forms/EthWithdrawalEventForm.vue
  frontend/app/src/components/history/events/forms/EvmEventForm.vue
  frontend/app/src/components/history/events/forms/HistoryEventAssetPriceForm.vue
  frontend/app/src/components/history/events/forms/OnlineHistoryEventForm.vue
  frontend/app/src/components/history/trades/ExternalTradeForm.vue
  frontend/app/src/components/inputs/DateTimePicker.vue
  frontend/app/src/components/price-manager/historic/HistoricPriceForm.vue
  frontend/app/src/components/profitloss/ReportProfitLossEventAction.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/types/filtering.ts
  frontend/app/src/utils/date.ts
  frontend/app/tests/unit/specs/components/input/date-time-picker.spec.ts
Due: frontend_unit, frontend_integration

test: add unit test for other forms
  frontend/app/src/components/history/events/HistoryEventForm.vue
  frontend/app/src/components/history/events/HistoryEventTypeCombination.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/history/events/forms/EthBlockEventForm.vue
  frontend/app/src/components/history/events/forms/EthWithdrawalEventForm.vue
  frontend/app/src/components/history/events/forms/EvmEventForm.vue
  frontend/app/src/components/history/events/forms/OnlineHistoryEventForm.vue
  frontend/app/src/components/inputs/AmountInput.vue
  frontend/app/src/plugins/rui/index.ts
  frontend/app/tests/unit/specs/components/history/events/eth-block-event-form.spec.ts
  frontend/app/tests/unit/specs/components/history/events/eth-deposit-event-form.spec.ts
  frontend/app/tests/unit/specs/components/history/events/eth-withdrawal-event-form.spec.ts
  frontend/app/tests/unit/specs/components/history/events/online-history-event-form.spec.ts
Due: frontend_unit, frontend_integration

feat: migrate dashboard component layouts, move snapshot menu button
  frontend/app/src/components/dashboard/NetWorthChart.vue
  frontend/app/src/components/dashboard/OverallBalances.vue
  frontend/app/src/components/dashboard/SnapshotActionButton.vue
  frontend/app/src/components/helper/MenuTooltipButton.vue
  frontend/app/src/components/helper/TimeframeSelector.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/dashboard/index.vue
  frontend/app/src/plugins/rui/index.ts
Due: frontend_unit, frontend_integration

chore: fix lint issues
  frontend/app/src/components/dashboard/NetWorthChart.vue
Due: frontend_unit, frontend_integration

feat: add extra data field
  frontend/app/package.json
  frontend/app/src/components/history/events/HistoryEventsExport.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/history/events/forms/EthDepositEventForm.vue
  frontend/app/src/components/history/events/forms/EvmEventForm.vue
  frontend/app/src/components/inputs/JsonInput.vue
  frontend/app/src/locales/en.json
  frontend/app/src/types/history/events/index.ts
  frontend/app/tests/unit/specs/components/history/events/eth-deposit-event-form.spec.ts
  frontend/app/tests/unit/specs/components/history/events/evm-event-form.spec.ts
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

chore: replace with lib components
  frontend/app/src/components/dashboard/summary-card/SummaryCard.vue
  frontend/app/src/components/dashboard/summary-card/SummaryCardCreateButton.vue
  frontend/app/src/components/dashboard/summary-card/SummaryCardRefreshMenu.vue
  frontend/app/src/pages/dashboard/index.vue
Due: frontend_unit, frontend_integration

feat(frontend): migrate dashboard component layouts, move snapshot menu button (#6764)
  frontend/app/src/components/dashboard/NetWorthChart.vue
  frontend/app/src/components/dashboard/OverallBalances.vue
  frontend/app/src/components/dashboard/SnapshotActionButton.vue
  frontend/app/src/components/dashboard/summary-card/SummaryCard.vue
  frontend/app/src/components/dashboard/summary-card/SummaryCardCreateButton.vue
  frontend/app/src/components/dashboard/summary-card/SummaryCardRefreshMenu.vue
  frontend/app/src/components/helper/MenuTooltipButton.vue
  frontend/app/src/components/helper/TimeframeSelector.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/dashboard/index.vue
  frontend/app/src/plugins/rui/index.ts
Due: frontend_unit, frontend_integration

feat: update some icons, unify save function
  frontend/app/package.json
  frontend/app/src/components/display/DateDisplay.vue
  frontend/app/src/components/history/events/HistoryEventType.vue
  frontend/app/src/components/history/events/HistoryEventsAction.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/history/events/forms/EthBlockEventForm.vue
  frontend/app/src/components/history/events/forms/EthDepositEventForm.vue
  frontend/app/src/components/history/events/forms/EthWithdrawalEventForm.vue
  frontend/app/src/components/history/events/forms/EvmEventForm.vue
  frontend/app/src/components/history/events/forms/OnlineHistoryEventForm.vue
  frontend/app/src/components/history/events/tx/TransactionForm.vue
  frontend/app/src/components/inputs/DateTimePicker.vue
  frontend/app/src/components/inputs/JsonInput.vue
  frontend/app/src/composables/history/events/form.ts
  frontend/app/src/composables/history/events/index.ts
  frontend/app/src/composables/history/events/tx/index.ts
  frontend/app/src/plugins/rui/index.ts
  frontend/app/src/types/task-type.ts
  frontend/app/tests/unit/specs/components/history/events/history-event-form.spec.ts
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

test: adjust test, move frequently used stubs
  frontend/app/tests/unit/specs/components/history/events/eth-block-event-form.spec.ts
  frontend/app/tests/unit/specs/components/history/events/eth-deposit-event-form.spec.ts
  frontend/app/tests/unit/specs/components/history/events/eth-withdrawal-event-form.spec.ts
  frontend/app/tests/unit/specs/components/history/events/evm-event-form.spec.ts
  frontend/app/tests/unit/specs/components/history/events/history-event-form.spec.ts
  frontend/app/tests/unit/specs/components/history/events/online-history-event-form.spec.ts
  frontend/app/tests/unit/specs/components/input/date-time-picker.spec.ts
  frontend/app/tests/unit/specs/composables/history/transactions.spec.ts
  frontend/app/tests/unit/specs/stubs/VAutocomplete.ts
  frontend/app/tests/unit/specs/stubs/VCombobox.ts
  frontend/app/tests/unit/specs/stubs/VSelect.ts
Due: frontend_unit, frontend_integration

feat: adjust changes for timestamp inconsistency
  frontend/app/src/components/display/DateDisplay.vue
  frontend/app/src/components/display/amount/AmountDisplay.vue
  frontend/app/src/components/history/events/HistoryEventAsset.vue
  frontend/app/src/components/history/events/forms/EthBlockEventForm.vue
  frontend/app/src/components/history/events/forms/EthDepositEventForm.vue
  frontend/app/src/components/history/events/forms/EthWithdrawalEventForm.vue
  frontend/app/src/components/history/events/forms/EvmEventForm.vue
  frontend/app/src/components/history/events/forms/HistoryEventAssetPriceForm.vue
  frontend/app/src/components/history/events/forms/OnlineHistoryEventForm.vue
  frontend/app/src/components/inputs/DateTimePicker.vue
  frontend/app/src/composables/scramble.ts
  frontend/app/src/data/date_formatter.ts
  frontend/app/src/store/prices/historic.ts
  frontend/app/src/types/history/events/index.ts
  frontend/app/src/utils/date.ts
Due: frontend_unit, frontend_integration

fix: rename event group header
  frontend/app/src/components/history/events/HistoryEventsList.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
Due: frontend_unit, frontend_integration

Added Back to Top in readme.md
  README.md
Due: none

Make easier to index external services endpoint
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/tests/api/test_external_services.py
  rotkehlchen/types.py
Due: backend

test: add no running tasks assertion
  frontend/app/src/components/status/NotificationIndicator.vue
  frontend/app/tests/e2e/specs/balances/blockchain-balances.spec.ts
  frontend/app/tests/e2e/specs/balances/manual-balances.spec.ts
  frontend/app/tests/e2e/support/commands.ts
  frontend/app/tests/e2e/support/types.d.ts
Due: frontend_unit, frontend_integration

gnosis xdai bridge
  frontend/app/public/assets/images/protocols/xdai_bridge.svg
  rotkehlchen/chain/ethereum/decoding/constants.py
  rotkehlchen/chain/ethereum/decoding/decoder.py
  rotkehlchen/chain/ethereum/modules/arbitrum_one_bridge/decoder.py
  rotkehlchen/chain/ethereum/modules/base_bridge/decoder.py
  rotkehlchen/chain/ethereum/modules/optimism_bridge/decoder.py
  rotkehlchen/chain/ethereum/modules/xdai_bridge/__init__.py
  rotkehlchen/chain/ethereum/modules/xdai_bridge/decoder.py
  rotkehlchen/chain/ethereum/utils.py
  rotkehlchen/chain/evm/decoding/utils.py
  rotkehlchen/chain/evm/decoding/xdai_bridge/__init__.py
  rotkehlchen/chain/evm/decoding/xdai_bridge/decoder.py
  rotkehlchen/chain/gnosis/modules/xdai_bridge/__init__.py
  rotkehlchen/chain/gnosis/modules/xdai_bridge/decoder.py
  rotkehlchen/chain/optimism/modules/optimism_bridge/decoder.py
  rotkehlchen/tests/unit/decoders/test_main.py
  rotkehlchen/tests/unit/decoders/test_xdai_bridge.py
Due: backend, frontend_unit, frontend_integration

docs: fix typo in README.md
  README.md
Due: none
