Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Add support for yearn Curve.fi DAI/USDC/USDT vault
  docs/changelog.rst
  rotkehlchen/chain/ethereum/defi.py
  rotkehlchen/constants/ethereum.py
  rotkehlchen/data/all_assets.json
  rotkehlchen/data/eth_contracts.json
  rotkehlchen/inquirer.py
Due: backend

Support new Makerdao vault collateral types
  docs/changelog.rst
  rotkehlchen/chain/ethereum/aave/graph.py
  rotkehlchen/chain/ethereum/compound.py
  rotkehlchen/chain/ethereum/makerdao/vaults.py
  rotkehlchen/chain/ethereum/tokens.py
  rotkehlchen/chain/ethereum/utils.py
  rotkehlchen/chain/ethereum/yearn/vaults.py
  rotkehlchen/chain/ethereum/zerion.py
  rotkehlchen/constants/assets.py
  rotkehlchen/constants/ethereum.py
  rotkehlchen/data/all_assets.json
  rotkehlchen/data/eth_contracts.json
  rotkehlchen/tests/unit/test_ethereum_constants.py
  rotkehlchen/tests/unit/test_makerdao.py
  rotkehlchen/tests/unit/test_tokens.py
Due: backend

Support PickleToken
  docs/changelog.rst
  rotkehlchen/constants/assets.py
  rotkehlchen/data/all_assets.json
  rotkehlchen/externalapis/cryptocompare.py
Due: backend

Add support for Bidao token
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Add support for Audius token
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Add support for Easyfi
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Add support for Binance leveaged tokens FILDOWN, FILUP
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
  rotkehlchen/externalapis/cryptocompare.py
Due: backend

Add support for Injective Token
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Add support for Binance leveraged token YFIDOWN, YFIP
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
  rotkehlchen/externalapis/cryptocompare.py
Due: backend

Add support for Celo Dollar
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Add support for Elastos
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Add support for KardiaChain Token
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Properly handle poloniex's new timestamps with milliseconds
  docs/changelog.rst
  rotkehlchen/db/upgrades/v18_v19.py
  rotkehlchen/serialization/deserialize.py
  rotkehlchen/tests/exchanges/test_poloniex.py
Due: backend

Process only deposit/withdrawals for kraken asset movements
  rotkehlchen/exchanges/kraken.py
Due: backend

Bump version: 1.8.1 → 1.8.2
  .bumpversion.cfg
  docs/conf.py
  frontend/app/package-lock.json
  frontend/app/package.json
  setup.py
Due: frontend_unit, frontend_integration

Add release v1.8.2 to the changelog
  docs/changelog.rst
Due: none

Fix asset json after asset changes and adjust tests
  rotkehlchen/data/all_assets.json
  rotkehlchen/data/all_assets.meta
  rotkehlchen/tests/unit/test_assets.py
Due: backend

Fix kraken and poloniex tests after recent changes
  rotkehlchen/serialization/deserialize.py
  rotkehlchen/tests/exchanges/test_kraken.py
Due: backend

Aave's reserve address is its own address not the aToken's
  rotkehlchen/chain/ethereum/aave/common.py
Due: backend

Add timeout on the ENS unit test
  rotkehlchen/tests/unit/test_ens.py
Due: backend

Properly filters out data for collapsed xpubs
  frontend/app/src/components/accounts/AccountBalanceTable.vue
  frontend/app/src/components/accounts/AccountGroupHeader.vue
Due: frontend_unit, frontend_integration

Fixes build errors
  frontend/app/src/components/accounts/AccountBalanceTable.vue
Due: frontend_unit, frontend_integration

Applies patch for github actions failure
  rotkehlchen/tests/unit/test_ens.py
Due: backend

Loading ethereum transactions should now work again
  frontend/app/src/store/history/actions.ts
Due: frontend_unit, frontend_integration

Changelog entry for 1637
  docs/changelog.rst
Due: none

Fixes account address mapping
  frontend/app/src/store/balances/actions.ts
  frontend/app/src/store/history/actions.ts
Due: frontend_unit, frontend_integration

Don't allow adding xpubs with invalid derivation paths
  rotkehlchen/api/v1/encoding.py
  rotkehlchen/chain/bitcoin/utils.py
  rotkehlchen/tests/api/test_bitcoin.py
  rotkehlchen/tests/unit/test_bitcoin.py
Due: backend

Fixes transformation for account apis
  frontend/app/src/services/rotkehlchen-api.ts
Due: frontend_unit, frontend_integration

Add a DB upgrade to remove any xpubs with invalid derivation paths
  rotkehlchen/db/settings.py
  rotkehlchen/db/upgrade_manager.py
  rotkehlchen/db/upgrades/v19_v20.py
  rotkehlchen/tests/data/v19_rotkehlchen.db
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

Improve the error messages around derivation paths
  rotkehlchen/chain/bitcoin/hdkey.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tests/api/test_bitcoin.py
Due: backend

Add changelog entry for 1641
  docs/changelog.rst
Due: none

Change ETHEREUM_TEST_PARAMETERS if running in Github actions
  rotkehlchen/tests/unit/test_ens.py
  rotkehlchen/tests/utils/ethereum.py
Due: backend

Fix last data upload timestamp display for premium sync
  docs/changelog.rst
  rotkehlchen/premium/sync.py
Due: backend

Fixes value sorting in dashboard cards
  frontend/app/src/components/dashboard/BlockchainBalanceCardList.vue
  frontend/app/src/filters.ts
  frontend/app/src/locales/en.json
  frontend/app/src/store/balances/getters.ts
  frontend/app/src/store/balances/types.d.ts
  frontend/app/src/views/Dashboard.vue
Due: frontend_unit, frontend_integration

Updates changelog
  docs/changelog.rst
Due: none

Moves sync buttons to save icon in toolbar
  frontend/app/src/App.vue
  frontend/app/src/components/settings/PremiumSettings.vue
  frontend/app/src/components/status/BalanceSavedIndicator.vue
  frontend/app/src/components/status/sync/SyncButtons.vue
  frontend/app/src/components/status/sync/SyncIndicator.vue
  frontend/app/src/locales/en.json
  frontend/app/src/views/settings/ApiKeys.vue
Due: frontend_unit, frontend_integration

Fixes application terminating on loglevel change
  frontend/app/src/background.ts
Due: frontend_unit, frontend_integration

Skips navigation to dashboard if already on dashboard
  frontend/app/src/App.vue
Due: frontend_unit, frontend_integration

Fixes sending empty string as derivation path when deleting an xpubs
  frontend/app/src/services/rotkehlchen-api.ts
Due: frontend_unit, frontend_integration

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
