Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Extend backend linting to more files + address all findings (#8484)
  .github/scripts/notifier.py
  Makefile
  docs/conf.py
  packaging/docker/entrypoint.py
  pyproject.toml
  pytestgeventwrapper.py
  stubs/Crypto/Random/__init__.pyi
Due: none

Fix query of pol token
  rotkehlchen/inquirer.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend

double click edit hint
  frontend/app/src/components/table-filter/FilterDropdown.vue
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
Due: frontend_unit, frontend_integration

fix: matching logic in autocomplete
  frontend/app/src/components/table-filter/FilterDropdown.vue
  frontend/app/src/components/table-filter/TableFilter.vue
Due: frontend_unit, frontend_integration

feat(FilterDropdown): add double edit + note about it and improve styles
  frontend/app/src/components/table-filter/FilterDropdown.vue
  frontend/app/src/components/table-filter/TableFilter.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

docs: update changelog
  docs/changelog.rst
Due: none

refactor(FilterDropdown)
  frontend/app/src/components/table-filter/FilterDropdown.vue
Due: frontend_unit, frontend_integration

fix: apply suggestions from review
  frontend/app/src/components/table-filter/FilterDropdown.vue
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
Due: frontend_unit, frontend_integration

double click edit hint
  frontend/app/src/components/table-filter/FilterDropdown.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

feat: simplify logics
  docs/changelog.rst
  frontend/app/src/components/table-filter/FilterDropdown.vue
  frontend/app/src/components/table-filter/TableFilter.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/plugins/rui/index.ts
  frontend/app/tests/unit/specs/components/table-filter/filter-dropdown.spec.ts
  frontend/app/tests/unit/specs/components/table-filter/table-filter.spec.ts
Due: frontend_unit, frontend_integration

fix: filter UI when no suggestions
  docs/changelog.rst
  frontend/app/src/components/table-filter/FilterDropdown.vue
  frontend/app/src/components/table-filter/TableFilter.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/plugins/rui/index.ts
  frontend/app/tests/unit/specs/components/table-filter/filter-dropdown.spec.ts
  frontend/app/tests/unit/specs/components/table-filter/table-filter.spec.ts
Due: frontend_unit, frontend_integration

Fix (Arbitrum Bridge): Support old contract
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/arbitrum_one_bridge/decoder.py
  rotkehlchen/tests/unit/decoders/test_arbitrum_one_bridge.py
Due: backend

fix: add missing key-attr on import page and history events filter by account
  frontend/app/src/components/helper/BlockchainAccountSelector.vue
  frontend/app/src/components/import/GroupedImport.vue
Due: frontend_unit, frontend_integration

fix(GroupedImport): resolve lint issues
  frontend/app/src/components/import/GroupedImport.vue
Due: frontend_unit, frontend_integration

fix: add missing key-attr on import page and history events (#8498)
  frontend/app/src/components/helper/BlockchainAccountSelector.vue
  frontend/app/src/components/import/GroupedImport.vue
Due: frontend_unit, frontend_integration

Add multiple end values to EVENT_CATEGORY_MAPPINGS
  docs/api.rst
  rotkehlchen/accounting/constants.py
  rotkehlchen/history/events/structures/base.py
  rotkehlchen/history/events/structures/types.py
Due: backend

fix(frontend): adjust multiple end values on global mappings
  frontend/app/src/components/history/events/forms/HistoryEventTypeForm.vue
  frontend/app/src/components/history/events/forms/OnlineHistoryEventForm.vue
  frontend/app/src/composables/history/events/mapping/index.ts
  frontend/app/src/types/history/events/event-type.ts
Due: frontend_unit, frontend_integration

fix(frontend): adjust multiple end values on global mappings (#8500)
  frontend/app/src/components/history/events/forms/HistoryEventTypeForm.vue
  frontend/app/src/components/history/events/forms/OnlineHistoryEventForm.vue
  frontend/app/src/composables/history/events/mapping/index.ts
  frontend/app/src/types/history/events/event-type.ts
Due: frontend_unit, frontend_integration

Limit linting to our own directories
  Makefile
Due: none

Convert monerium v1 events to v2
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/chain/gnosis/decoding/decoder.py
  rotkehlchen/chain/gnosis/modules/monerium/constants.py
  rotkehlchen/chain/polygon_pos/decoding/decoder.py
  rotkehlchen/chain/polygon_pos/modules/monerium/constants.py
  rotkehlchen/tests/unit/decoders/test_cowswap.py
  rotkehlchen/tests/unit/decoders/test_curve.py
Due: backend

Allow custom delimiter in CSV export
  rotkehlchen/accounting/export/csv.py
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/settings.py
  rotkehlchen/db/snapshots.py
  rotkehlchen/history/skipped.py
  rotkehlchen/tests/api/test_history_events_export.py
  rotkehlchen/tests/api/test_settings.py
  rotkehlchen/tests/data/pnl_debug.json
  rotkehlchen/tests/db/test_db.py
Due: backend

Improve Levenshtein search
  docs/api.rst
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/filtering.py
  rotkehlchen/db/search_assets.py
  rotkehlchen/tests/api/test_assets.py
Due: backend

Bump some production packages
  requirements.txt
Due: none

Bump pylint and ruff
  requirements_lint.txt
Due: none

style: pluralize 'chain' column to 'chains'
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

feat: improve asset filter
  frontend/app/src/components/GlobalSearch.vue
  frontend/app/src/components/helper/BlockchainAccountSelector.vue
  frontend/app/src/components/helper/display/icons/AssetIcon.vue
  frontend/app/src/components/helper/display/icons/GeneratedIcon.vue
  frontend/app/src/components/inputs/AssetSelect.vue
  frontend/app/src/components/table-filter/FilterDropdown.vue
  frontend/app/src/components/table-filter/SuggestedItem.vue
  frontend/app/src/composables/api/assets/info.ts
  frontend/app/src/composables/assets/retrieval.ts
  frontend/app/src/composables/filters/events.ts
  frontend/app/src/composables/info/chains.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/types/filtering.ts
  frontend/app/tests/unit/specs/components/table-filter/filter-dropdown.spec.ts
  frontend/app/tests/unit/specs/components/table-filter/suggested-item.spec.ts
Due: frontend_unit, frontend_integration

refactor: removed row info data
  frontend/app/src/composables/message-handling.ts
Due: frontend_unit, frontend_integration

no longer needed
  rotkehlchen/tests/data/cointracking_trades_list BAD.csv
Due: backend

style: new read more / read less button in notifications
  frontend/app/src/components/status/notifications/Notification.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

feat(import): initial implementation of CSV import error handling (WIP)
  frontend/app/src/components/import/FileUpload.vue
  frontend/app/src/components/import/ImportSource.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
