Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

refactored address name priority using prioritized list component
  frontend/app/src/components/helper/PrioritizedList.vue
  frontend/app/src/components/helper/PrioritizedListEntry.vue
  frontend/app/src/components/settings/FrontendSettings.vue
  frontend/app/src/components/settings/PriceOracleSettings.vue
  frontend/app/src/components/settings/data-security/OracleCacheManagement.vue
  frontend/app/src/components/settings/frontend/AddressNamePriorityEntry.vue
  frontend/app/src/components/settings/frontend/AddressNamePrioritySelection.vue
  frontend/app/src/components/settings/frontend/AddressNamePrioritySetting.vue
  frontend/app/src/locales/en.json
  frontend/app/src/types/address-name-priorities.ts
  frontend/app/src/types/price-oracle.ts
  frontend/app/src/types/prioritized-list-data.ts
  frontend/app/src/types/prioritized-list-id.ts
Due: frontend_unit, frontend_integration

added some tests for prioritized list
  frontend/app/src/components/helper/PrioritizedList.vue
  frontend/app/tests/unit/components/helper/prioritized-list.spec.ts
Due: frontend_unit, frontend_integration

removed i18n workaround
  frontend/app/tests/unit/components/helper/prioritized-list.spec.ts
Due: frontend_unit, frontend_integration

refactored current address name implementation to be more flexible
  rotkehlchen/chain/ethereum/names.py
  rotkehlchen/tests/unit/test_ethereum_names.py
  rotkehlchen/types.py
Due: backend

use address name priority from settings
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/ethereum/names.py
  rotkehlchen/db/addressbook.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/settings.py
  rotkehlchen/tests/api/test_settings.py
  rotkehlchen/tests/data/pnl_debug.json
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/unit/test_ethereum_names.py
Due: backend

refactored price oracle settings using generic prioritized list component
  frontend/app/src/components/helper/PrioritizedList.vue
  frontend/app/src/components/settings/PriceOracleSettings.vue
  frontend/app/src/components/settings/data-security/OracleCacheManagement.vue
  frontend/app/src/locales/en.json
  frontend/app/src/types/price-oracle.ts
Due: frontend_unit, frontend_integration

implemented frontend with address name priority list
  frontend/app/src/components/helper/PrioritizedListEntry.vue
  frontend/app/src/components/settings/FrontendSettings.vue
  frontend/app/src/components/settings/OracleEntry.vue
  frontend/app/src/components/settings/frontend/AddressNamePriorityEntry.vue
  frontend/app/src/components/settings/frontend/AddressNamePrioritySelection.vue
  frontend/app/src/components/settings/frontend/AddressNamePrioritySetting.vue
  frontend/app/src/data/factories.ts
  frontend/app/src/locales/en.json
  frontend/app/src/locales/gr.json
  frontend/app/src/store/settings/general.ts
  frontend/app/src/types/address-name-priorities.ts
  frontend/app/src/types/price-oracle.ts
  frontend/app/src/types/prioritized-list-data.ts
  frontend/app/src/types/user.ts
  frontend/app/tests/unit/components/helper/prioritized-list.spec.ts
Due: frontend_unit, frontend_integration

added defillama from rebase
  frontend/app/src/components/settings/PriceOracleSettings.vue
Due: frontend_unit, frontend_integration

documentation, hints and translation
  docs/api.rst
  docs/changelog.rst
  docs/usage_guide.rst
  frontend/app/src/components/EthNamesHint.vue
  frontend/app/src/components/settings/FrontendSettings.vue
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
Due: frontend_unit, frontend_integration

Adjusted all tests. Linting passed
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/db/upgrades/v35_v36.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/external_apis/test_etherscan.py
  rotkehlchen/tests/fixtures/blockchain.py
  rotkehlchen/tests/fixtures/history.py
  rotkehlchen/tests/fixtures/rotkehlchen.py
  rotkehlchen/tests/integration/test_blockchain.py
  rotkehlchen/tests/unit/decoders/test_1inch.py
  rotkehlchen/tests/unit/decoders/test_aave.py
  rotkehlchen/tests/unit/decoders/test_compound.py
  rotkehlchen/tests/unit/decoders/test_curve.py
  rotkehlchen/tests/unit/decoders/test_element_finance.py
  rotkehlchen/tests/unit/decoders/test_ens.py
  rotkehlchen/tests/unit/decoders/test_gitcoin.py
  rotkehlchen/tests/unit/decoders/test_hop.py
  rotkehlchen/tests/unit/decoders/test_makerdao.py
  rotkehlchen/tests/unit/decoders/test_uniswapv2.py
  rotkehlchen/tests/unit/decoders/test_weth.py
  rotkehlchen/tests/unit/test_ethereum_manager.py
  rotkehlchen/tests/unit/test_general_cache.py
  rotkehlchen/tests/unit/test_makerdao.py
  rotkehlchen/tests/unit/test_tasks_manager.py
  rotkehlchen/tests/unit/test_zerionsdk.py
  tools/uniswapv2/detect.py
Due: backend

fix: eth names not called
  frontend/app/src/store/blockchain/balances/index.ts
Due: frontend_unit, frontend_integration

feat: add abbreviations for large number
  docs/changelog.rst
  docs/usage_guide.rst
  frontend/app/src/components/defi/QueriedAddressDialog.vue
  frontend/app/src/components/display/AmountDisplay.vue
  frontend/app/src/components/settings/general/AbbreviateNumberSetting.vue
  frontend/app/src/components/status/NotificationIndicator.vue
  frontend/app/src/components/status/notifications/NotificationSidebar.vue
  frontend/app/src/components/status/notifications/PendingTasks.vue
  frontend/app/src/data/amount_formatter.ts
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/settings/general/index.vue
  frontend/app/src/store/settings/frontend.ts
  frontend/app/src/types/frontend-settings.ts
  frontend/app/tests/unit/components/display/amount-display.spec.ts
  frontend/app/tests/unit/store/settings/frontend.spec.ts
  frontend/app/tests/unit/store/settings/utils.spec.ts
Due: frontend_unit, frontend_integration

feat: ignore NFT in frontend
  frontend/app/src/components/UserNotesList.vue
  frontend/app/src/components/accounts/balances/NonFungibleBalanceEdit.vue
  frontend/app/src/components/accounts/balances/NonFungibleBalances.vue
  frontend/app/src/components/accounts/balances/NonFungibleBalancesFilter.vue
  frontend/app/src/components/asset-manager/ManagedAssetTable.vue
  frontend/app/src/components/dashboard/NftBalanceTable.vue
  frontend/app/src/components/defi/wizard/ModuleSelector.vue
  frontend/app/src/components/helper/AssetDetails.vue
  frontend/app/src/components/helper/CollectionHandler.vue
  frontend/app/src/components/helper/NftDetails.vue
  frontend/app/src/components/history/ClosedTrades.vue
  frontend/app/src/components/history/deposits-withdrawals/DepositsWithdrawalsContent.vue
  frontend/app/src/components/history/ledger-actions/LedgerActionContent.vue
  frontend/app/src/components/history/transactions/TransactionContent.vue
  frontend/app/src/components/inputs/AssetSelect.vue
  frontend/app/src/components/nft/NftGallery.vue
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/premium/premium-apis.ts
  frontend/app/src/services/assets/asset-api.ts
  frontend/app/src/services/assets/info.ts
  frontend/app/src/services/balances/balances-api.ts
  frontend/app/src/services/balances/nft.ts
  frontend/app/src/store/assets/nft.ts
  frontend/app/src/store/balances/non-fungible.ts
  frontend/app/src/store/history/utils.ts
  frontend/app/src/store/statistics/index.ts
  frontend/app/src/types/assets.ts
  frontend/app/src/types/collection.ts
  frontend/app/src/types/common.ts
  frontend/app/src/types/history/index.ts
  frontend/app/src/types/history/ledger-actions.ts
  frontend/app/src/types/history/movements.ts
  frontend/app/src/types/history/trades.ts
  frontend/app/src/types/history/tx.ts
  frontend/app/src/types/nfbalances.ts
  frontend/app/src/utils/collection.ts
  frontend/common/src/data/index.ts
Due: frontend_unit, frontend_integration

Adds initial unified confirmation dialog
  frontend/app/src/components/UserDropdown.vue
  frontend/app/src/components/accounts/AccountBalances.vue
  frontend/app/src/components/app/AppMessages.vue
  frontend/app/src/components/settings/data-security/DataManagement.vue
  frontend/app/src/pages/settings/api-keys/external/index.vue
  frontend/app/src/store/confirm.ts
  frontend/app/tests/unit/components/settings/api-keys/external-services.spec.ts
Due: frontend_unit, frontend_integration

evm_tx_address_mappings now also has blockchain as a column
  rotkehlchen/api/rest.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/evmtx.py
  rotkehlchen/db/filtering.py
  rotkehlchen/db/schema.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/db/test_db_filters.py
  rotkehlchen/types.py
Due: backend

fixed nitpicks for 4487
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/ethereum/names.py
  rotkehlchen/db/addressbook.py
  rotkehlchen/db/dbhandler.py
Due: backend

test: add test for pinia stores
  frontend/app/src/services/assets/asset-api.ts
  frontend/app/src/services/assets/ignore.ts
  frontend/app/src/services/balances/balances-api.ts
  frontend/app/src/services/balances/ethereum-names.ts
  frontend/app/src/store/assets/ignored.ts
  frontend/app/src/store/balances/ethereum-names.ts
  frontend/app/tests/unit/store/assets/ignored.spec.ts
  frontend/app/tests/unit/store/balances/ethereum-names.spec.ts
Due: frontend_unit, frontend_integration

feat: add loading when asset info is being fetched
  frontend/app/src/components/helper/AssetDetailsBase.vue
  frontend/app/src/components/helper/ListItem.vue
  frontend/app/src/components/helper/NftDetails.vue
Due: frontend_unit, frontend_integration

properly decode amm transactions with aggregators
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/uniswap/v2/common.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/decoder.py
  rotkehlchen/tests/unit/decoders/test_uniswapv3.py
Due: backend

Extracts re-usable workflows adds nightly notifications
  .github/scripts/notifier.py
  .github/workflows/rotki_ci.yml
  .github/workflows/rotki_dev_builds.yml
  .github/workflows/rotki_docker_publish.yaml
  .github/workflows/rotki_nightly.yml
  .github/workflows/rotki_release.yaml
  .github/workflows/task_backend_tests.yml
  .github/workflows/task_e2e_tests.yml
  .github/workflows/task_env.yml
Due: none

Migrate data when pulling database
  docs/changelog.rst
  rotkehlchen/data_migrations/migrations/migration_1.py
  rotkehlchen/premium/sync.py
  rotkehlchen/rotkehlchen.py
Due: backend

Updates the notified role ids to the correct ones
  .github/scripts/notifier.py
Due: none

fix: loopring issue
  docs/changelog.rst
  frontend/app/src/composables/balances/refresh.ts
Due: frontend_unit, frontend_integration

Properly show warning message in docs
  docs/installation_guide.rst
Due: none

[run nft py tests] Fix path and structure in tests for nfts
  rotkehlchen/tests/api/test_nfts.py
Due: backend

Allow more trade formats from binance CSV exports
  docs/changelog.rst
  rotkehlchen/data_import/importers/binance.py
  rotkehlchen/tests/data/binance_history.csv
  rotkehlchen/tests/utils/dataimport.py
Due: backend
