Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Fix typo: opene -> open
  README.md
Due: none

Add missing supported exchanges to docs
  docs/usage_guide.rst
Due: none

Add Kusama as a supported chain in docs
  docs/usage_guide.rst
Due: none

Updates merge dialog texts
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

Fixes invalid mutation name on asset update
  frontend/app/src/components/status/update/AssetUpdate.vue
Due: frontend_unit, frontend_integration

Fixes border color of import area in dark mode
  frontend/app/src/components/import/FileUpload.vue
  frontend/app/src/views/ImportData.vue
Due: frontend_unit, frontend_integration

Add last minute new assets from exchanges
  rotkehlchen/assets/asset.py
  rotkehlchen/assets/converters.py
  rotkehlchen/data/global.db
Due: backend

Updates documentation about merging assets
  docs/images/rotki_merge_assets.png
  docs/usage_guide.rst
Due: none

Bump version: 1.16.2 → 1.17.0
  .bumpversion.cfg
  docs/conf.py
  frontend/app/package-lock.json
  frontend/app/package.json
  setup.py
Due: frontend_unit, frontend_integration

Add release v1.17.0 to the changelog
  docs/changelog.rst
Due: none

Updating pysqlcipher version commit for windows
  .github/workflows/rotki_nightly.yml
  .github/workflows/rotki_packaging.yaml
  package.ps1
Due: none

Downgrading electron-builder to 22.10.5
  frontend/app/package-lock.json
  frontend/app/package.json
Due: frontend_unit, frontend_integration

Fixes NotificationPopup on dark mode
  frontend/app/src/components/status/notifications/NotificationPopup.vue
Due: frontend_unit, frontend_integration

Fix trades + asset movements queries when user has multiple keys
  rotkehlchen/rotkehlchen.py
Due: backend

Push v1.17.0 by 1 day in changelog
  docs/changelog.rst
Due: none

Add ipython and ipdb for dev requirements
  requirements_dev.txt
Due: none

Downgrade pycryptodome and coincurve
  requirements.txt
Due: none

Add v1.17.1 to changelog
  docs/changelog.rst
  frontend/app/src/locales/en.json
  rotkehlchen/rotkehlchen.py
Due: backend, frontend_unit, frontend_integration

Makes the notification adjust to mode
  docs/changelog.rst
  frontend/app/src/components/status/notifications/NotificationPopup.vue
Due: frontend_unit, frontend_integration

Fixes FTX not being correctly authenticated
  docs/changelog.rst
  rotkehlchen/exchanges/ftx.py
Due: backend

Bump version: 1.17.0 → 1.17.1
  .bumpversion.cfg
  docs/conf.py
  frontend/app/package-lock.json
  frontend/app/package.json
  setup.py
Due: frontend_unit, frontend_integration

Splits nightly tests from builds
  .github/workflows/rotki_nightly.yml
  .github/workflows/rotki_nightly_builds.yml
Due: none

Adds build failure notification
  .github/workflows/rotki_nightly_builds.yml
Due: none

Test for acquisition warning during sell of FIAT for crypto
  rotkehlchen/tests/unit/test_accounting.py
  rotkehlchen/tests/utils/history.py
Due: backend

Don't go into cost basis and profit calc for fiat sell to crypto
  rotkehlchen/accounting/events.py
  rotkehlchen/tests/unit/test_accounting.py
  rotkehlchen/tests/utils/history.py
Due: backend

Add changelog entry for 2993
  docs/changelog.rst
Due: none

If txId is missing in binance use id for the link field
  rotkehlchen/exchanges/binance.py
Due: backend

Add changelog for 2999
  docs/changelog.rst
Due: none

Remove nonce_lock semaphore from binance, kraken, poloniex
  rotkehlchen/exchanges/binance.py
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/exchanges/poloniex.py
Due: backend

Handle SubstrateRequestException in SubstrateInterface initialize
  rotkehlchen/chain/substrate/manager.py
Due: backend

Invalidate token detection cache if new token is added
  rotkehlchen/api/rest.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/globaldb/updates.py
Due: backend

Add changelog for 2998
  docs/changelog.rst
Due: none

Add test for removing account not removing its liabilities
  rotkehlchen/tests/api/test_blockchain.py
  rotkehlchen/tests/utils/blockchain.py
  rotkehlchen/tests/utils/rotkehlchen.py
Due: backend

Upgrade Sphinx to 4.0.2
  requirements_docs.txt
Due: none

Fix name of exception in comment
  rotkehlchen/data/importer.py
Due: backend

Remove "not-possible" exception handling block
  rotkehlchen/data/importer.py
Due: backend

Remove liabilities from totals when removing an ETH account
  rotkehlchen/chain/manager.py
  rotkehlchen/tests/api/test_blockchain.py
  rotkehlchen/tests/utils/rotkehlchen.py
Due: backend

Changelog entry for 1403
  docs/changelog.rst
Due: none

Increase backend integration test timeout in MacOS
  rotkehlchen/tests/integration/test_backend.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
