Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Updates unit tests for AmountDisplay
  electron-app/src/components/display/AmountDisplay.vue
  electron-app/tests/unit/components/display/amount-display.spec.ts
Due: frontend_unit, frontend_integration

* AmountDisplay Improvements
  electron-app/src/components/display/AmountDisplay.vue
  electron-app/src/views/Dashboard.vue
Due: frontend_unit, frontend_integration

Various to 920
  electron-app/src/components/accounts/AccountBalances.vue
  electron-app/src/components/accounts/FiatBalances.vue
  electron-app/src/components/accounts/ManualBalancesList.vue
  electron-app/src/components/dashboard/ExchangeBox.vue
  electron-app/src/components/dashboard/InformationBox.vue
  electron-app/src/components/display/AmountDisplay.vue
  electron-app/src/components/settings/AssetBalances.vue
  electron-app/src/views/Dashboard.vue
  electron-app/src/views/OtcTrades.vue
Due: frontend_unit, frontend_integration

Fix infinite loop in pagination
  rotkehlchen/exchanges/coinbase.py
Due: backend

Test coinbase paginated trade history
  rotkehlchen/tests/exchanges/test_coinbase.py
Due: backend

Make linter happy in coinbase test
  rotkehlchen/tests/exchanges/test_coinbase.py
Due: backend

Add changelog entry for #962
  docs/changelog.rst
Due: none

Fix docstring and remove comment
  rotkehlchen/tests/exchanges/test_coinbase.py
Due: backend

Make etherscan's rate limit test always work thanks to mocking
  rotkehlchen/chain/ethereum/manager.py
  rotkehlchen/constants/ethereum.py
  rotkehlchen/externalapis/etherscan.py
  rotkehlchen/tests/external_apis/test_etherscan.py
Due: backend

Upgrade pylint
  requirements_lint.txt
Due: none

Remove unused etherscan functions
  rotkehlchen/externalapis/etherscan.py
Due: backend

Remove unused function request_get_direct
  rotkehlchen/utils/misc.py
Due: backend

Fix flakiness in DB replacement by forgiving existence of dbinfojson
  rotkehlchen/tests/utils/premium.py
Due: backend

Also catch FileNotFoundError in DB's destructor
  rotkehlchen/db/dbhandler.py
Due: backend

Improvements to Welcome Screen
  electron-app/src/assets/images/rotkipattern2.png
  electron-app/src/components/AccountManagement.vue
  electron-app/src/components/CreateAccount.vue
  electron-app/src/components/Login.vue
  electron-app/src/components/PremiumCredentials.vue
Due: frontend_unit, frontend_integration

Fixes glitch in scrolling background
  electron-app/src/components/AccountManagement.vue
Due: frontend_unit, frontend_integration

Fix minor linting issue in frontend
  electron-app/src/components/PremiumCredentials.vue
Due: frontend_unit, frontend_integration

Adds a changelog for newlogin (#975)
  docs/changelog.rst
  electron-app/src/components/AccountManagement.vue
Due: frontend_unit, frontend_integration

Fixes rendering of fiat balances amounts in certain cases
  electron-app/src/components/accounts/FiatBalances.vue
Due: frontend_unit, frontend_integration

Updates changelog feat971 "rotkehlchen"->robin
  docs/changelog.rst
Due: none

Adds frontend capability for user change password
  electron-app/src/components/inputs/RevealableInput.vue
  electron-app/src/services/rotkehlchen-api.ts
  electron-app/src/views/settings/General.vue
Due: frontend_unit, frontend_integration

Adds tests for the change user password backend functionality
  rotkehlchen/api/rest.py
  rotkehlchen/tests/api/test_users.py
Due: backend

Adds backend functionality to change current user's password
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/encoding.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/data_handler.py
  rotkehlchen/db/dbhandler.py
Due: backend

Adds changelog for user change password
  docs/changelog.rst
Due: none

Fixes db connect() functino which I broke
  rotkehlchen/db/dbhandler.py
Due: backend

Updates 'verify settings persist re-login' test
  electron-app/tests/e2e/specs/settings-general.spec.ts
Due: frontend_unit, frontend_integration

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: electron-app
  frontend_integration: any of: electron-app
