Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Remove usage of base54 when encrypting/decrypting the db
  rotkehlchen/crypto.py
  rotkehlchen/data_handler.py
  rotkehlchen/premium/premium.py
  rotkehlchen/premium/sync.py
Due: backend

fix: use correct image url for blockchain location
  frontend/app/src/composables/assets/icon.ts
Due: frontend_unit, frontend_integration

fix: use correct asset identifier for blockchain location (#6417)
  frontend/app/src/composables/assets/icon.ts
Due: frontend_unit, frontend_integration

docs: add changelog for the location blockchain image
  docs/changelog.rst
Due: none

docs: add changelog for the location blockchain image (#6418)
  docs/changelog.rst
Due: none

Improve error messages for server actions
  rotkehlchen/premium/premium.py
  rotkehlchen/premium/sync.py
  rotkehlchen/tests/integration/test_premium.py
Due: backend

Querying asset existence with case insensitive ID now normalizes it
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/assets/asset.py
  rotkehlchen/assets/resolver.py
  rotkehlchen/globaldb/handler.py
  rotkehlchen/icons.py
  rotkehlchen/tests/api/test_icons.py
  rotkehlchen/tests/external_apis/test_coingecko.py
Due: backend

Bump version: 1.29.0 → 1.29.1
  .bumpversion.cfg
  docs/changelog.rst
  docs/conf.py
  frontend/app/package.json
  pyproject.toml
Due: frontend_unit, frontend_integration

Better comment in premium sync test
  rotkehlchen/tests/integration/test_premium.py
Due: backend

Retry premium backup upload. Help slow/unstable connections.
  rotkehlchen/premium/premium.py
Due: backend

feat: also update graph on balance auto refresh
  frontend/app/src/composables/balances/index.ts
Due: frontend_unit, frontend_integration

Properly decode optimism governance votes with parameters
  docs/changelog.rst
  rotkehlchen/chain/optimism/modules/optimism_governor/decoder.py
  rotkehlchen/tests/unit/decoders/test_optimism_governor.py
Due: backend

Fix some test linting after merging bugfixes to develop
  rotkehlchen/tests/api/test_users.py
Due: backend

improve error message and log when no evm nodes are queried
  rotkehlchen/chain/evm/node_inquirer.py
Due: backend

Add changelog entry for 6033
  docs/changelog.rst
Due: none

feat: also refresh graph on balance auto refresh
  frontend/app/src/composables/balances/index.ts
Due: frontend_unit, frontend_integration

Ensure that arbitrum nodes get populated
  rotkehlchen/globaldb/migrations/manager.py
  rotkehlchen/globaldb/migrations/migration2.py
  rotkehlchen/tests/data/globaldb_as_1.29.1.db
  rotkehlchen/tests/unit/globaldb/test_migrations.py
Due: backend

feat(frontend): add arbitrum support
  frontend/app/src/composables/blockchain/account-balances/chain.ts
  frontend/app/src/composables/blockchain/account-balances/index.ts
  frontend/app/src/data/defaults.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/balances/blockchain/index.vue
  frontend/app/src/pages/settings/api-keys/external/index.vue
  frontend/app/src/store/blockchain/accounts/chains.ts
  frontend/app/src/store/blockchain/balances/chains.ts
  frontend/app/src/types/asset/asset-urls.ts
  frontend/app/src/types/blockchain/balances.ts
  frontend/app/src/types/blockchain/chains.ts
  frontend/app/src/types/blockchain/index.ts
  frontend/app/src/types/frontend-settings.ts
  frontend/app/src/types/status.ts
  frontend/app/src/types/user.ts
  frontend/app/src/utils/url.ts
  frontend/app/tests/unit/fixtures/supported-chains.json
  frontend/common/src/blockchain/index.ts
  frontend/common/src/data/index.ts
Due: frontend_unit, frontend_integration

fix test_iso8601ts_to_timestamp() in windows ci
  rotkehlchen/tests/unit/test_utils.py
Due: backend

migration_to_detect_arbitrum_accounts
  rotkehlchen/data_migrations/migrations/migration_10.py
  rotkehlchen/data_migrations/migrations/migration_11.py
  rotkehlchen/tests/api/blockchain/test_evm.py
  rotkehlchen/tests/data_migrations/test_migrations.py
Due: backend

fix: scramble for hex and dates
  docs/changelog.rst
  frontend/app/src/components/display/DateDisplay.vue
  frontend/app/src/composables/scramble.ts
Due: frontend_unit, frontend_integration

feat(frontend): show chain name in tooltip instead of symbol
  frontend/app/src/components/accounts/AccountBalances.vue
Due: frontend_unit, frontend_integration

feat(frontend): refresh token and balances for arbitrum
  frontend/app/src/composables/balances/account-details.ts
  frontend/app/src/composables/balances/refresh.ts
  frontend/app/src/composables/balances/token-detection.ts
  frontend/app/src/store/blockchain/accounts/chains.ts
  frontend/app/src/store/blockchain/tokens.ts
Due: frontend_unit, frontend_integration

Remove unused types
  rotkehlchen/types.py
Due: backend

Better error handling and avoid unbound variable in edge case
  rotkehlchen/chain/ethereum/modules/curve/curve_cache.py
  rotkehlchen/server.py
Due: backend

ENS renewals of new RegistrarController will be properly detected
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/ens/decoder.py
  rotkehlchen/tests/unit/decoders/test_ens.py
Due: backend

Safe transaction execution/failure is now properly decoded
  docs/changelog.rst
  rotkehlchen/chain/evm/decoding/safe/decoder.py
  rotkehlchen/tests/unit/decoders/test_safe.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
