Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

chore: display history even note url in-line
  frontend/app/src/components/history/events/HistoryEventNote.vue
Due: frontend_unit, frontend_integration

chore: use tailwind class and wrap link text
  frontend/app/src/components/helper/ExternalLink.vue
  frontend/app/src/components/history/events/HistoryEventNote.vue
Due: frontend_unit, frontend_integration

chore: update eslint-config/eslint-plugin
  frontend/app/src/components/defi/loan/LoanRow.vue
  frontend/app/src/components/helper/RowAppend.vue
  frontend/app/src/store/defi/overview.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

fix: display history event note url in-line (#7336)
  frontend/app/src/components/helper/ExternalLink.vue
  frontend/app/src/components/history/events/HistoryEventNote.vue
Due: frontend_unit, frontend_integration

Fix max queried range in bybit
  rotkehlchen/exchanges/bybit.py
  rotkehlchen/tests/exchanges/test_bybit.py
Due: backend

Avoid querying ignored assets more than once
  rotkehlchen/accounting/accountant.py
Due: backend

feat: minimum digit for abbreviate setting
  frontend/app/src/components/display/amount/AmountDisplay.vue
  frontend/app/src/components/settings/general/amount/AbbreviateNumberSetting.vue
  frontend/app/src/data/constraints.ts
  frontend/app/src/locales/en.json
  frontend/app/src/store/settings/frontend.ts
  frontend/app/src/types/settings/frontend-settings.ts
  frontend/app/tests/unit/specs/components/display/amount-display.spec.ts
  frontend/app/tests/unit/specs/store/settings/frontend.spec.ts
  frontend/app/tests/unit/specs/store/settings/utils.spec.ts
  frontend/app/tests/unit/specs/types/user.spec.ts
Due: frontend_unit, frontend_integration

fix: remove digits and show the abbreviation instead
  frontend/app/src/components/settings/general/amount/AbbreviateNumberSetting.vue
  frontend/app/src/data/amount-formatter.ts
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

Fix (Paraswap): python/cpython/issues/107078
  rotkehlchen/tests/unit/accounting/evm/test_paraswap.py
Due: backend

feat: add minimum digit for abbreviate setting (#7331)
  frontend/app/src/components/display/amount/AmountDisplay.vue
  frontend/app/src/components/settings/general/amount/AbbreviateNumberSetting.vue
  frontend/app/src/data/amount-formatter.ts
  frontend/app/src/data/constraints.ts
  frontend/app/src/locales/en.json
  frontend/app/src/store/settings/frontend.ts
  frontend/app/src/types/settings/frontend-settings.ts
  frontend/app/tests/unit/specs/components/display/amount-display.spec.ts
  frontend/app/tests/unit/specs/store/settings/frontend.spec.ts
  frontend/app/tests/unit/specs/store/settings/utils.spec.ts
  frontend/app/tests/unit/specs/types/user.spec.ts
Due: frontend_unit, frontend_integration

fix (cache): LAST_SPAM_ASSETS_DETECT_KEY usage
  rotkehlchen/tasks/assets.py
  rotkehlchen/tests/unit/test_tasks_manager.py
Due: backend

Notify user on fatal error during report
  docs/api.rst
  rotkehlchen/accounting/accountant.py
  rotkehlchen/accounting/cost_basis/base.py
  rotkehlchen/api/rest.py
  rotkehlchen/errors/misc.py
  rotkehlchen/tests/api/test_history.py
Due: backend

fix(frontend): trigger router when api responds with a 401 error
  frontend/app/src/services/rotkehlchen-api.ts
Due: frontend_unit, frontend_integration

fix(frontend): delay when logging out and show loading overlay for a few seconds
  frontend/app/src/components/app/AppCore.vue
  frontend/app/src/store/session/index.ts
Due: frontend_unit, frontend_integration

chore: add tiny animation
  frontend/app/src/components/app/AppCore.vue
Due: frontend_unit, frontend_integration

Feat (7018): Move account labels to address_book
  docs/changelog.rst
  rotkehlchen/accounting/structures/processed_event.py
  rotkehlchen/chain/evm/names.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/minimized_schema.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v40_v41.py
  rotkehlchen/tests/api/test_addressbook.py
  rotkehlchen/tests/api/test_makerdao_dsr.py
  rotkehlchen/tests/data/data_migration_v0.db
  rotkehlchen/tests/data/v40_rotkehlchen.db
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

fix(frontend): logout issue with 401 api call after calling logout (#7344)
  frontend/app/src/components/app/AppCore.vue
  frontend/app/src/services/rotkehlchen-api.ts
  frontend/app/src/store/session/index.ts
Due: frontend_unit, frontend_integration

Feat (userdb): Reset history_events in upgrade v41
  rotkehlchen/db/upgrades/v40_v41.py
  rotkehlchen/tests/data/v40_rotkehlchen.db
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

Avoid executing eth only tasks if no address is tracked
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/unit/test_tasks_manager.py
Due: backend

Add paraswap case with factories
  rotkehlchen/chain/evm/decoding/paraswap/constants.py
  rotkehlchen/chain/evm/decoding/paraswap/decoder.py
  rotkehlchen/tests/unit/decoders/test_paraswap.py
Due: backend

refactor: adjust group header slot properties
  frontend/app/package.json
  frontend/app/src/components/accounts/AccountBalanceTable.vue
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

refactor: adjust group header slot properties (#7350)
  frontend/app/package.json
  frontend/app/src/components/accounts/AccountBalanceTable.vue
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

ci: update actions to newer major versions
  .github/workflows/rotki_cassette_merge.yml
  .github/workflows/rotki_ci.yml
  .github/workflows/rotki_dev_builds.yml
  .github/workflows/rotki_docker_publish.yaml
  .github/workflows/rotki_release.yaml
  .github/workflows/task_backend_tests.yml
  .github/workflows/task_e2e_tests.yml
  .github/workflows/task_fe_external_links_verification.yml
  .github/workflows/task_fe_unit_tests.yml
Due: none

ci: update actions to newer major versions (#7352)
  .github/workflows/rotki_cassette_merge.yml
  .github/workflows/rotki_ci.yml
  .github/workflows/rotki_dev_builds.yml
  .github/workflows/rotki_docker_publish.yaml
  .github/workflows/rotki_release.yaml
  .github/workflows/task_backend_tests.yml
  .github/workflows/task_e2e_tests.yml
  .github/workflows/task_fe_external_links_verification.yml
  .github/workflows/task_fe_unit_tests.yml
Due: none

test: force instrumentation on test build
  frontend/app/vite.config.ts
Due: frontend_unit, frontend_integration

Update addressbook to work with any blockchain
  docs/api.rst
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/addressbook.py
  rotkehlchen/tests/api/test_addressbook.py
  rotkehlchen/tests/utils/factories.py
  rotkehlchen/types.py
Due: backend

Mention import/export assets in user DB syncing
  docs/usage_guide.rst
Due: none

feat(opensea): Update OpenSea API integration to v2
  rotkehlchen/externalapis/opensea.py
  rotkehlchen/tests/api/test_nfts.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
