Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

fix: history refresh and indicator issue
  frontend/app/src/composables/history/events/tx/use-history-transaction-accounts.spec.ts
  frontend/app/src/composables/history/events/tx/use-refresh-transactions.spec.ts
  frontend/app/src/composables/history/events/tx/use-refresh-transactions.ts
  frontend/app/src/modules/dashboard/progress/DashboardProgressIndicator.vue
  frontend/app/src/modules/dashboard/progress/components/BalanceQuerySection.vue
  frontend/app/src/modules/dashboard/progress/components/HistoryQuerySection.vue
  frontend/app/src/modules/dashboard/progress/components/IdleQuerySection.vue
  frontend/app/src/modules/dashboard/progress/composables/use-transaction-status-check.ts
  frontend/app/src/modules/dashboard/progress/composables/use-unified-progress.ts
  frontend/app/src/store/history/refresh-state.spec.ts
  frontend/app/src/store/history/refresh-state.ts
Due: frontend_unit, frontend_integration

fix: simplify refresh state
  frontend/app/src/composables/balances/use-balance-queue.ts
  frontend/app/src/composables/history/events/tx/use-account-categorization.ts
  frontend/app/src/composables/history/events/tx/use-history-transaction-accounts.spec.ts
  frontend/app/src/composables/history/events/tx/use-history-transaction-accounts.ts
  frontend/app/src/composables/history/events/tx/use-refresh-transactions.spec.ts
  frontend/app/src/composables/history/events/tx/use-refresh-transactions.ts
  frontend/app/src/composables/history/events/tx/use-transaction-sync.ts
  frontend/app/src/store/history/refresh-state.spec.ts
  frontend/app/src/store/history/refresh-state.ts
  frontend/app/src/types/history/events/index.ts
Due: frontend_unit, frontend_integration

style: adjust layout for asset filter
  frontend/app/src/components/asset-manager/managed/ManagedAssetActions.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetTable.vue
Due: frontend_unit, frontend_integration

style: adjust layout for asset filter (#10780)
  frontend/app/src/components/asset-manager/managed/ManagedAssetActions.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetTable.vue
Due: frontend_unit, frontend_integration

fix: history refresh and indicator issue (#10773)
  frontend/app/src/composables/balances/use-balance-queue.ts
  frontend/app/src/composables/history/events/tx/use-account-categorization.ts
  frontend/app/src/composables/history/events/tx/use-history-transaction-accounts.spec.ts
  frontend/app/src/composables/history/events/tx/use-history-transaction-accounts.ts
  frontend/app/src/composables/history/events/tx/use-refresh-transactions.spec.ts
  frontend/app/src/composables/history/events/tx/use-refresh-transactions.ts
  frontend/app/src/composables/history/events/tx/use-transaction-sync.ts
  frontend/app/src/modules/dashboard/progress/DashboardProgressIndicator.vue
  frontend/app/src/modules/dashboard/progress/components/BalanceQuerySection.vue
  frontend/app/src/modules/dashboard/progress/components/HistoryQuerySection.vue
  frontend/app/src/modules/dashboard/progress/components/IdleQuerySection.vue
  frontend/app/src/modules/dashboard/progress/composables/use-transaction-status-check.ts
  frontend/app/src/modules/dashboard/progress/composables/use-unified-progress.ts
  frontend/app/src/store/history/refresh-state.spec.ts
  frontend/app/src/store/history/refresh-state.ts
  frontend/app/src/types/history/events/index.ts
Due: frontend_unit, frontend_integration

fix: persist history filter per logged account
  frontend/app/src/modules/table/use-remember-table-filter.ts
Due: frontend_unit, frontend_integration

warn users about missing beaconchain api key
  frontend/app/shared/external-links.ts
  frontend/app/src/components/accounts/management/AccountDialog.vue
  frontend/app/src/components/accounts/management/AccountForm.vue
  frontend/app/src/components/accounts/management/AccountFormApiKeyAlert.vue
  frontend/app/src/components/settings/api-keys/external/BeaconchainApiKey.vue
  frontend/app/src/locales/en.json
  frontend/app/src/modules/messaging/handlers/missing-api-key.ts
  frontend/app/src/modules/staking/eth/EthStakingPage.vue
  frontend/app/src/utils/url.ts
  frontend/common/src/messages/index.ts
  rotkehlchen/externalapis/beaconchain/service.py
  rotkehlchen/tests/external_apis/test_beaconchain.py
  rotkehlchen/tests/fixtures/blockchain.py
  rotkehlchen/tests/fixtures/db.py
  rotkehlchen/tests/fixtures/rotkehlchen.py
  rotkehlchen/tests/utils/database.py
Due: backend, frontend_unit, frontend_integration

fix: add confirmation to open external link from event notes
  frontend/app/src/components/helper/ExternalLink.vue
  frontend/app/src/components/history/events/HistoryEventNote.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

fix: persist history filter per logged account (#10784)
  frontend/app/src/modules/table/use-remember-table-filter.ts
Due: frontend_unit, frontend_integration

fix: add confirmation to open external link from event notes (#10785)
  frontend/app/src/components/helper/ExternalLink.vue
  frontend/app/src/components/history/events/HistoryEventNote.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

remove monerium from external services
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tests/api/test_query_online_events.py
  rotkehlchen/types.py
Due: backend

fix: pass beaconchain service name
  frontend/app/src/components/settings/api-keys/external/BeaconchainApiKey.vue
  rotkehlchen/externalapis/beaconchain/service.py
  rotkehlchen/tests/api/test_eth2.py
  rotkehlchen/tests/api/test_external_services.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/fixtures/blockchain.py
  rotkehlchen/tests/fixtures/db.py
  rotkehlchen/tests/fixtures/rotkehlchen.py
  rotkehlchen/tests/integration/test_eth2.py
  rotkehlchen/tests/unit/decoders/test_eth2.py
  rotkehlchen/tests/unit/test_eth2.py
  rotkehlchen/tests/utils/database.py
  rotkehlchen/tests/utils/mock.py
Due: backend, frontend_unit, frontend_integration

fix: include native token in asset search endpoint
  rotkehlchen/db/filtering.py
  rotkehlchen/db/search_assets.py
  rotkehlchen/tests/api/test_assets.py
Due: backend

added feature for auto-login, password
  frontend/app/src/components/account-management/login/LoginForm.vue
  frontend/app/src/components/settings/data-security/AutoLoginThreshold.vue
  frontend/app/src/composables/user/account.ts
  frontend/app/src/data/defaults.ts
  frontend/app/src/data/factories.ts
  frontend/app/src/locales/en.json
  frontend/app/src/pages/settings/account/index.vue
  frontend/app/src/store/settings/general.ts
  frontend/app/src/types/login.ts
  frontend/app/src/types/user.ts
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/settings.py
Due: backend, frontend_unit, frontend_integration

fix: update condition for showing the warning
  frontend/app/src/components/accounts/management/AccountDialog.vue
  frontend/app/src/components/accounts/management/AccountForm.vue
  frontend/app/src/components/accounts/management/AccountFormApiKeyAlert.vue
  frontend/app/src/components/settings/general/rpc/RpcSettings.vue
  frontend/app/src/locales/en.json
  frontend/app/src/modules/staking/eth/EthStakingPage.vue
Due: frontend_unit, frontend_integration

ci: switch runners to macos-15(-intel)
  .github/workflows/rotki_dev_builds.yml
  .github/workflows/rotki_release.yaml
Due: none

improve exception handling for linea airdrop check
  rotkehlchen/chain/ethereum/airdrops.py
  rotkehlchen/tests/unit/test_calendar_reminders.py
Due: backend

warn users about missing beaconchain api key (#10782)
  frontend/app/shared/external-links.ts
  frontend/app/src/components/accounts/management/AccountDialog.vue
  frontend/app/src/components/accounts/management/AccountForm.vue
  frontend/app/src/components/accounts/management/AccountFormApiKeyAlert.vue
  frontend/app/src/components/settings/api-keys/external/BeaconchainApiKey.vue
  frontend/app/src/components/settings/general/rpc/RpcSettings.vue
  frontend/app/src/locales/en.json
  frontend/app/src/modules/messaging/handlers/missing-api-key.ts
  frontend/app/src/modules/staking/eth/EthStakingPage.vue
  frontend/app/src/utils/url.ts
  frontend/common/src/messages/index.ts
  rotkehlchen/chain/ethereum/airdrops.py
  rotkehlchen/externalapis/beaconchain/service.py
  rotkehlchen/tests/api/test_eth2.py
  rotkehlchen/tests/api/test_external_services.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/external_apis/test_beaconchain.py
  rotkehlchen/tests/fixtures/db.py
  rotkehlchen/tests/fixtures/rotkehlchen.py
  rotkehlchen/tests/integration/test_eth2.py
  rotkehlchen/tests/unit/decoders/test_eth2.py
  rotkehlchen/tests/unit/test_calendar_reminders.py
  rotkehlchen/tests/unit/test_eth2.py
  rotkehlchen/tests/utils/database.py
  rotkehlchen/tests/utils/mock.py
Due: backend, frontend_unit, frontend_integration

feat: custom accounting rules for specific event_ids
  frontend/app/src/components/history/events/HistoryEventsTableActions.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleFormDialog.vue
  frontend/app/src/locales/en.json
  frontend/app/src/modules/history/events/composables/use-selection-mode.ts
  frontend/app/src/types/settings/accounting.ts
Due: frontend_unit, frontend_integration

fix: adjust accounting rule view
  frontend/app/src/components/asset-manager/managed/ManagedAssetActions.vue
  frontend/app/src/components/dialogs/BigDialog.vue
  frontend/app/src/components/history/events/HistoryEventsList.vue
  frontend/app/src/components/history/events/HistoryEventsListSwap.vue
  frontend/app/src/components/history/events/HistoryEventsListTable.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleEventsDialog.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleForm.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleFormDialog.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleSetting.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleTable.vue
  frontend/app/src/locales/en.json
  frontend/app/src/modules/history/events/components/HistoryEventsTable.vue
  frontend/app/src/types/settings/accounting.ts
Due: frontend_unit, frontend_integration

fix(frontend): edit accounting rules for all scenarios
  frontend/app/src/components/dialogs/MissingRulesDialog.vue
  frontend/app/src/components/history/events/HistoryEventAction.vue
  frontend/app/src/components/history/events/HistoryEventsList.vue
  frontend/app/src/components/history/events/HistoryEventsListItem.vue
  frontend/app/src/components/history/events/HistoryEventsListSwap.vue
  frontend/app/src/components/history/events/HistoryEventsListTable.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/history/events/dialog-types.ts
  frontend/app/src/components/settings/accounting/rule/AccountingRuleActionDialog.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleEventsDialog.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleSetting.vue
  frontend/app/src/composables/history/events/dialog-manager/use-history-events-dialog-manager.ts
  frontend/app/src/locales/en.json
  frontend/app/src/modules/history/events/components/HistoryEventsTable.vue
  frontend/app/src/modules/history/events/composables/use-selection-mode.ts
  frontend/app/src/types/settings/accounting.ts
Due: frontend_unit, frontend_integration

fix: only allow custom accounting rule for the same event_type + event_subtype
  frontend/app/src/components/asset-manager/managed/ManagedAssetActions.vue
  frontend/app/src/components/dialogs/MissingRulesDialog.vue
  frontend/app/src/components/history/events/HistoryEventsListItem.vue
  frontend/app/src/components/history/events/HistoryEventsListSwap.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/history/events/dialog-types.ts
  frontend/app/src/components/settings/accounting/rule/AccountingRuleActionDialog.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleEventsDialog.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleForm.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleFormDialog.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleSetting.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleTable.vue
  frontend/app/src/locales/en.json
  frontend/app/src/modules/history/events/components/HistoryEventsTable.vue
  frontend/app/src/modules/history/events/composables/use-deletion-strategies.ts
  frontend/app/src/modules/history/events/composables/use-event-analysis.ts
  frontend/app/src/modules/history/events/composables/use-history-events-data.ts
  frontend/app/src/modules/history/events/composables/use-history-events-deletion.ts
  frontend/app/src/modules/history/events/types.ts
  frontend/app/src/modules/history/management/forms/HistoryEventTypeForm.vue
Due: frontend_unit, frontend_integration

fix: based on some reviews
  frontend/app/src/components/dialogs/MissingRulesDialog.vue
  frontend/app/src/components/history/events/HistoryEventsListSwap.vue
  frontend/app/src/components/history/events/dialog-types.ts
  frontend/app/src/components/settings/accounting/rule/AccountingRuleActionDialog.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleSetting.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleTable.vue
  frontend/app/src/composables/history/events/dialog-manager/use-history-events-dialog-manager.ts
  frontend/app/src/modules/history/events/composables/use-deletion-strategies.ts
  frontend/app/src/modules/history/events/composables/use-history-events-deletion.ts
  frontend/app/src/types/settings/accounting.ts
Due: frontend_unit, frontend_integration

test: add test for analyzeSelectedEvents function
  frontend/app/src/modules/history/events/composables/use-event-analysis.spec.ts
Due: frontend_unit, frontend_integration

Add XUSD and RLUSD bybit quote assets
  rotkehlchen/exchanges/bybit.py
  rotkehlchen/tests/exchanges/test_bybit.py
Due: backend

chore: split HistoryEventsView
  frontend/app/src/components/history/events/HistoryEventsDialogContainer.vue
  frontend/app/src/components/history/events/HistoryEventsListItemAction.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/modules/history/events/composables/use-history-events-selection-actions.ts
  frontend/app/src/utils/history/events.ts
Due: frontend_unit, frontend_integration

Decode messages sent in evm txs
  docs/changelog.rst
  frontend/app/src/plugins/rui/index.ts
  rotkehlchen/accounting/constants.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/history/events/structures/types.py
  rotkehlchen/tests/unit/decoders/test_main.py
  rotkehlchen/tests/unit/test_evm_tx_decoding.py
  rotkehlchen/tests/utils/constants.py
Due: backend, frontend_unit, frontend_integration

feat: custom accounting rules for specific event_ids (#10588)
  frontend/app/src/components/dialogs/BigDialog.vue
  frontend/app/src/components/dialogs/MissingRulesDialog.vue
  frontend/app/src/components/history/events/HistoryEventAction.vue
  frontend/app/src/components/history/events/HistoryEventsDialogContainer.vue
  frontend/app/src/components/history/events/HistoryEventsList.vue
  frontend/app/src/components/history/events/HistoryEventsListItem.vue
  frontend/app/src/components/history/events/HistoryEventsListItemAction.vue
  frontend/app/src/components/history/events/HistoryEventsListSwap.vue
  frontend/app/src/components/history/events/HistoryEventsListTable.vue
  frontend/app/src/components/history/events/HistoryEventsTableActions.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/history/events/dialog-types.ts
  frontend/app/src/components/settings/accounting/rule/AccountingRuleActionDialog.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleEventsDialog.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleForm.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleFormDialog.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleSetting.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleTable.vue
  frontend/app/src/composables/history/events/dialog-manager/use-history-events-dialog-manager.ts
  frontend/app/src/locales/en.json
  frontend/app/src/modules/history/events/components/HistoryEventsTable.vue
  frontend/app/src/modules/history/events/composables/use-deletion-strategies.ts
  frontend/app/src/modules/history/events/composables/use-event-analysis.spec.ts
  frontend/app/src/modules/history/events/composables/use-event-analysis.ts
  frontend/app/src/modules/history/events/composables/use-history-events-data.ts
  frontend/app/src/modules/history/events/composables/use-history-events-deletion.ts
  frontend/app/src/modules/history/events/composables/use-history-events-selection-actions.ts
  frontend/app/src/modules/history/events/composables/use-selection-mode.ts
  frontend/app/src/modules/history/events/types.ts
  frontend/app/src/modules/history/management/forms/HistoryEventTypeForm.vue
  frontend/app/src/types/settings/accounting.ts
  frontend/app/src/utils/history/events.ts
Due: frontend_unit, frontend_integration

Properly show solana rpc connection status
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/evm/manager.py
  rotkehlchen/chain/evm/types.py
  rotkehlchen/chain/manager.py
  rotkehlchen/chain/mixins/rpc_nodes.py
  rotkehlchen/chain/solana/manager.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/api/test_periodic.py
  rotkehlchen/types.py
Due: backend

fix(frontend): some small improvement
  frontend/app/src/components/history/events/HistoryEventsListItem.vue
  frontend/app/src/components/settings/general/rpc/BlockchainRpcNodeManager.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/modules/history/management/forms/common/ToggleLocationLink.vue
  frontend/app/src/pages/airdrops/index.vue
Due: frontend_unit, frontend_integration

Add step to redecode events in 1.41
  rotkehlchen/db/upgrades/v49_v50.py
Due: backend

fix: include solana on 'redetect all transactions'
  frontend/app/src/components/history/events/tx/RepullingTransactionForm.vue
  frontend/app/src/composables/history/events/tx/decoding.ts
  frontend/app/src/composables/info/chains.ts
  frontend/app/tests/unit/specs/composables/history/transactions.spec.ts
  frontend/app/tests/unit/specs/pages/settings/evm-chains-ignore-settings.spec.ts
Due: frontend_unit, frontend_integration

fix(frontend): adjust repulling tx and events form
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/history/events/dialog-types.ts
  frontend/app/src/components/history/events/tx/RepullingTransactionForm.vue
  frontend/app/src/components/history/events/tx/RepullingTransactionFormDialog.vue
  frontend/app/src/composables/history/events/tx/use-refresh-transactions.spec.ts
  frontend/app/src/composables/history/events/tx/use-refresh-transactions.ts
  frontend/app/src/composables/history/events/use-history-events-actions.ts
  frontend/app/src/locales/en.json
  frontend/app/src/types/history/events/index.ts
Due: frontend_unit, frontend_integration

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
