Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

fix(frontend): keep chain badge above the asset icon placeholder
  frontend/app/src/modules/shell/components/AssetIcon.vue
Due: frontend_unit, frontend_integration

docs: changelog entries for newly detected token chain fixes
  docs/changelog.rst.orig
Due: none

chore: Fix grammar in coinbase.py docstring
  rotkehlchen/exchanges/coinbase.py
Due: backend

fix(frontend): derive chain from identifier in newly detected tokens
  frontend/app/src/modules/assets/detection/NewlyDetectedAssetTable.vue
  frontend/app/src/modules/assets/detection/get-token-chain.spec.ts
  frontend/app/src/modules/assets/detection/get-token-chain.ts
  frontend/common/src/assets/index.ts
Due: frontend_unit, frontend_integration

feat(colibri): add Monad and Hyperliquid to SupportedBlockchain
  colibri/src/blockchain/types.rs
Due: none

fix: prevent partial-commit corruption in set_rotkehlchen_premium
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tests/db/test_db.py
Due: backend

fix: keep CSV import task alive when asset is unsupported on a location
  docs/changelog.rst
  rotkehlchen/data_import/importers/bitcoin_tax.py
  rotkehlchen/data_import/importers/bitstamp.py
  rotkehlchen/data_import/importers/bittrex.py
  rotkehlchen/data_import/importers/blockfi_trades.py
  rotkehlchen/data_import/importers/blockfi_transactions.py
  rotkehlchen/data_import/importers/blockpit.py
  rotkehlchen/data_import/importers/coinbasepro.py
  rotkehlchen/data_import/importers/coinledger.py
  rotkehlchen/data_import/importers/cointracking.py
  rotkehlchen/data_import/importers/cryptocom.py
  rotkehlchen/data_import/importers/kucoin.py
  rotkehlchen/data_import/importers/nexo.py
  rotkehlchen/data_import/importers/rotki_events.py
  rotkehlchen/data_import/importers/rotki_trades.py
  rotkehlchen/data_import/importers/shapeshift_trades.py
  rotkehlchen/data_import/importers/uphold_transactions.py
  rotkehlchen/tests/unit/test_data_import_utils.py
Due: backend

test: loosen rate limiter timing bounds to fix CI flake
  rotkehlchen/tests/unit/test_rate_limiter.py
Due: backend

fix: clean up orphan snapshot rows on delete
  rotkehlchen/db/snapshots.py
  rotkehlchen/tests/api/test_snapshots.py
Due: backend

use TypedDict for IncludeExcludeListField payload
  rotkehlchen/api/v1/fields.py
Due: backend

Ensure that task for cc doesnt run without key
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/unit/test_tasks_manager.py
Due: backend

ci: bump action-job-checker to v6
  .github/workflows/rotki_ci.yml
Due: none

Bump version: 1.43.0 → 1.43.1
  .bumpversion.cfg
  colibri/Cargo.lock
  colibri/Cargo.toml
  docs/conf.py
  frontend/app/package.json
  pyproject.toml
Due: frontend_unit, frontend_integration

Add 1.43.1 to the changelog
  docs/changelog.rst
Due: none

Remove cc from frontend suggested new order
  frontend/app/src/modules/settings/suggestions/settings-suggestions.ts
Due: frontend_unit, frontend_integration

Improve handling on the beaconchain logic
  rotkehlchen/chain/ethereum/modules/eth2/eth2.py
  rotkehlchen/externalapis/beaconchain/service.py
  rotkehlchen/tests/api/test_eth2.py
  rotkehlchen/tests/external_apis/test_beaconchain.py
Due: backend

feat(frontend): suppress no-indexers notification per chain
  docs/changelog.rst
  frontend/app/src/locales/en.json
  frontend/app/src/modules/core/messaging/handlers/no-available-indexers.spec.ts
  frontend/app/src/modules/core/messaging/handlers/no-available-indexers.ts
  frontend/app/src/modules/settings/evm/IndexerOrderSetting.vue
  frontend/app/src/modules/settings/evm/SuppressedNoIndexerChainsSetting.spec.ts
  frontend/app/src/modules/settings/evm/SuppressedNoIndexerChainsSetting.vue
  frontend/app/src/modules/settings/setting-highlight-ids.ts
  frontend/app/src/modules/settings/types/frontend-settings.ts
  frontend/app/src/modules/settings/types/user-settings.spec.ts
  frontend/app/src/modules/settings/use-frontend-settings-store.spec.ts
  frontend/app/src/modules/settings/use-frontend-settings-store.ts
  frontend/app/src/modules/settings/use-settings-search.ts
  frontend/app/src/pages/settings/evm/index.vue
Due: frontend_unit, frontend_integration

Exclude exited validators from beaconcha.in queries
  rotkehlchen/chain/ethereum/modules/eth2/eth2.py
  rotkehlchen/tests/unit/test_eth2.py
Due: backend

Keep one monerium object for the session
  docs/changelog.rst
  rotkehlchen/api/services/history.py
  rotkehlchen/api/services/integrations.py
  rotkehlchen/api/services/transactions.py
  rotkehlchen/chain/arbitrum_one/decoding/decoder.py
  rotkehlchen/chain/arbitrum_one/manager.py
  rotkehlchen/chain/arbitrum_one/modules/monerium/decoder.py
  rotkehlchen/chain/base/decoding/decoder.py
  rotkehlchen/chain/base/manager.py
  rotkehlchen/chain/base/modules/monerium/decoder.py
  rotkehlchen/chain/ethereum/decoding/decoder.py
  rotkehlchen/chain/ethereum/manager.py
  rotkehlchen/chain/ethereum/modules/monerium/decoder.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/chain/evm/decoding/monerium/decoder.py
  rotkehlchen/chain/evm/l2_with_l1_fees/decoding/decoder.py
  rotkehlchen/chain/gnosis/decoding/decoder.py
  rotkehlchen/chain/gnosis/manager.py
  rotkehlchen/chain/gnosis/modules/monerium/decoder.py
  rotkehlchen/chain/polygon_pos/decoding/decoder.py
  rotkehlchen/chain/polygon_pos/manager.py
  rotkehlchen/chain/polygon_pos/modules/monerium/decoder.py
  rotkehlchen/chain/scroll/decoding/decoder.py
  rotkehlchen/chain/scroll/manager.py
  rotkehlchen/chain/scroll/modules/monerium/decoder.py
  rotkehlchen/externalapis/monerium.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/api/test_query_online_events.py
  rotkehlchen/tests/external_apis/test_monerium.py
  rotkehlchen/tests/fixtures/blockchain.py
  rotkehlchen/tests/unit/decoders/test_monerium.py
  rotkehlchen/tests/utils/ethereum.py
Due: backend

Update revoked access on beaconcha.in
  rotkehlchen/externalapis/beaconchain/service.py
  rotkehlchen/tests/api/test_eth2.py
  rotkehlchen/tests/external_apis/test_beaconchain.py
Due: backend

feat(frontend): auto-detect tokens on login with cooldown
  docs/changelog.rst
  frontend/app/src/locales/en.json
  frontend/app/src/modules/balances/blockchain/use-auto-token-detection.spec.ts
  frontend/app/src/modules/balances/blockchain/use-auto-token-detection.ts
  frontend/app/src/modules/balances/use-balance-fetching.spec.ts
  frontend/app/src/modules/balances/use-balance-fetching.ts
  frontend/app/src/modules/settings/GeneralSettingsCategory.vue
  frontend/app/src/modules/settings/general/AutoDetectTokensCooldownSetting.spec.ts
  frontend/app/src/modules/settings/general/AutoDetectTokensCooldownSetting.vue
  frontend/app/src/modules/settings/setting-highlight-ids.ts
  frontend/app/src/modules/settings/types/frontend-settings.ts
  frontend/app/src/modules/settings/types/user-settings.spec.ts
  frontend/app/src/modules/settings/use-frontend-settings-store.spec.ts
  frontend/app/src/modules/settings/use-frontend-settings-store.ts
  frontend/app/src/modules/settings/use-settings-search.ts
Due: frontend_unit, frontend_integration

test(e2e): generalize rpc mock for multiple chains
  frontend/app/tests/e2e/fixtures/test-fixtures.ts
  frontend/app/tests/e2e/helpers/rpc-mock.ts
  frontend/app/tests/e2e/rpc-mock/server.ts
Due: frontend_unit, frontend_integration

feat(packaging): add windows signed-release orchestrator
  packaging/sign-release.ps1
  packaging/simple-sign.ps1
Due: none

test(e2e): add solana account add/edit/delete spec
  frontend/app/tests/e2e/cassettes/rpc/solana-accounts.json
  frontend/app/tests/e2e/fixtures/index.ts
  frontend/app/tests/e2e/specs/balances/solana-accounts.spec.ts
Due: frontend_unit, frontend_integration

chore: remove accidentally commited orig file
  docs/changelog.rst.orig
Due: none

test(e2e): assert solana account shows non-zero balance
  frontend/app/tests/e2e/cassettes/rpc/solana-accounts.json
  frontend/app/tests/e2e/fixtures/index.ts
  frontend/app/tests/e2e/specs/balances/solana-accounts.spec.ts
Due: frontend_unit, frontend_integration

test(e2e): refresh blockchain-balances cassette
  frontend/app/tests/e2e/cassettes/rpc/blockchain-balances.json
Due: frontend_unit, frontend_integration

test(e2e): preserve u64 precision in rpc cassette
  frontend/app/tests/e2e/cassettes/rpc/blockchain-balances.json
  frontend/app/tests/e2e/cassettes/rpc/solana-accounts.json
  frontend/app/tests/e2e/rpc-mock/server.ts
Due: frontend_unit, frontend_integration

chore: exclude unused polars submodules from bundle
  rotkehlchen.spec
Due: backend

chore: drop pycryptodome SelfTest suites from bundle
  rotkehlchen.spec
Due: backend

chore: drop test packages of runtime deps from bundle
  rotkehlchen.spec
Due: backend
