Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Add docs entries for the PnL report endpoints
  docs/api.rst
Due: none

3641: Update UI to allow deletion of Report records w/ a button.
  frontend/app/src/components/profitloss/ReportsTable.vue
  frontend/app/src/locales/en.json
  frontend/app/src/services/reports/reports-api.ts
  frontend/app/src/store/reports/actions.ts
  frontend/app/src/store/reports/const.ts
Due: frontend_unit, frontend_integration

Fix frontend naming to CamelCase
  frontend/app/src/store/reports/actions.ts
Due: frontend_unit, frontend_integration

3641: Implement delete rest method on /reports/<report_id:int>.
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/encoding.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/db/cache_handler.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/filtering.py
Due: backend

3641: Fix axios transformers for response and request.
  frontend/app/src/services/reports/reports-api.ts
Due: frontend_unit, frontend_integration

Remove name from PnL report DB entry. Can be frontend only.
  rotkehlchen/db/cache_handler.py
  rotkehlchen/db/schema_transient.py
Due: backend

Fix and implement proper backend for the multipnl report feature
  frontend/app/src/services/reports/reports-api.ts
  rotkehlchen/accounting/accountant.py
  rotkehlchen/accounting/constants.py
  rotkehlchen/accounting/typing.py
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/encoding.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/csv_exporter.py
  rotkehlchen/db/cache_handler.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/filtering.py
  rotkehlchen/db/schema_transient.py
  rotkehlchen/tests/api/test_history.py
  rotkehlchen/tests/unit/test_accounting.py
  rotkehlchen/typing.py
Due: backend, frontend_unit, frontend_integration

Some additional fixes after selfe-reviewing the PR
  rotkehlchen/csv_exporter.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/filtering.py
  rotkehlchen/typing.py
Due: backend

Fix tests
  rotkehlchen/db/cache_handler.py
Due: backend

Enforce isort at the lint stage.
  Makefile
Due: none

Apply isort to all files that did not yet have it
  rotkehlchen/chain/avalanche/manager.py
  rotkehlchen/chain/ethereum/airdrops.py
  rotkehlchen/chain/ethereum/defi/curve_pools.py
  rotkehlchen/chain/ethereum/modules/balancer/balancer.py
  rotkehlchen/chain/ethereum/modules/makerdao/vaults.py
  rotkehlchen/chain/ethereum/modules/pickle/pickle.py
  rotkehlchen/chain/ethereum/modules/sushiswap/__init__.py
  rotkehlchen/chain/ethereum/modules/uniswap/__init__.py
  rotkehlchen/chain/ethereum/modules/yearn/vaultsv2.py
  rotkehlchen/constants/assets.py
  rotkehlchen/data/importer.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/exchanges/__init__.py
  rotkehlchen/externalapis/bisq_market.py
  rotkehlchen/externalapis/interface.py
  rotkehlchen/history/events.py
  rotkehlchen/inquirer.py
  rotkehlchen/tests/api/test_custom_assets.py
  rotkehlchen/tests/api/test_data_import.py
  rotkehlchen/tests/api/test_data_purging.py
  rotkehlchen/tests/api/test_erc20_info.py
  rotkehlchen/tests/api/test_historical_assets_price.py
  rotkehlchen/tests/api/test_liquity.py
  rotkehlchen/tests/api/test_makerdao_dsr.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/exchanges/test_uphold.py
  rotkehlchen/tests/external_apis/test_bisq_market.py
  rotkehlchen/tests/unit/test_ethereum_airdrops.py
  rotkehlchen/tests/utils/dataimport.py
  rotkehlchen/tests/utils/exchanges.py
  rotkehlchen/tests/utils/factories.py
  rotkehlchen/tests/utils/makerdao.py
  rotkehlchen/user_messages.py
  tools/pyinstaller_hooks/hook-Crypto.py
  tools/pyinstaller_hooks/hook-coincurve.py
  tools/scripts/generate_changelog.py
Due: backend

Explaing how to use isort and make format in the docs
  docs/contribute.rst
Due: none

Don't return zero ETH2 if no ETH2 balance
  rotkehlchen/chain/manager.py
Due: backend

Disconnect from transient DB at logout
  rotkehlchen/db/dbhandler.py
Due: backend

feat: add hint to rate of external trades
  frontend/app/src/components/ExternalTradeForm.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

Changing the password should change in both user + transient DB
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tests/api/test_users.py
Due: backend

RPC response for transaction with status null is now handled
  docs/changelog.rst
  rotkehlchen/db/ethtx.py
Due: backend

Fix the guide to build dev-proxy
  frontend/dev-proxy/README.md
Due: none

Add NFTs total net worth setting to docs and minor correction
  docs/changelog.rst
  docs/images/sc_frontendonly_settings1.png
  docs/usage_guide.rst
  rotkehlchen/data/importer.py
Due: backend

fix: add custom input date format when importing csv file
  frontend/app/src/assets/images/import/cointracking_info.png
  frontend/app/src/assets/images/import/cointracking_info.svg
  frontend/app/src/assets/images/import/gitcoin.svg
  frontend/app/src/assets/images/import/shape_shift.svg
  frontend/app/src/assets/images/import/uphold.svg
  frontend/app/src/components/NavigationMenu.vue
  frontend/app/src/components/images/ShapeShiftHorizontal.vue
  frontend/app/src/components/images/UpholdHorizontal.vue
  frontend/app/src/components/import/Bisq.vue
  frontend/app/src/components/import/BlockFiImport.vue
  frontend/app/src/components/import/CointrackingImport.vue
  frontend/app/src/components/import/CryptoComImport.vue
  frontend/app/src/components/import/FileUpload.vue
  frontend/app/src/components/import/GitcoinImport.vue
  frontend/app/src/components/import/GroupedImport.vue
  frontend/app/src/components/import/ImportSource.vue
  frontend/app/src/components/import/NexoImport.vue
  frontend/app/src/components/import/ShapeshiftImport.vue
  frontend/app/src/components/import/UpholdImport.vue
  frontend/app/src/locales/en.json
  frontend/app/src/services/rotkehlchen-api.ts
  frontend/app/src/views/ImportData.vue
Due: frontend_unit, frontend_integration

feat: scroll table to top when changing page
  frontend/app/src/App.vue
  frontend/app/src/components/helper/DataTable.vue
Due: frontend_unit, frontend_integration

fix: support tags and tag filtering on the asset page
  frontend/app/src/components/assets/AssetLocations.vue
  frontend/app/src/components/dashboard/DashboardAssetTable.vue
  frontend/app/src/components/dashboard/NftBalanceTable.vue
  frontend/app/src/store/balances/getters.ts
  frontend/app/src/store/balances/types.ts
Due: frontend_unit, frontend_integration

Introduces eth2 account addition and balance fetching
  frontend/app/src/components/accounts/AccountBalanceTable.vue
  frontend/app/src/components/accounts/AccountBalances.vue
  frontend/app/src/components/accounts/AccountForm.vue
  frontend/app/src/components/accounts/BlockchainBalances.vue
  frontend/app/src/components/accounts/blockchain/ChainSelect.vue
  frontend/app/src/components/accounts/blockchain/Eth2Input.vue
  frontend/app/src/composables/balances.ts
  frontend/app/src/locales/en.json
  frontend/app/src/services/balances/balances-api.ts
  frontend/app/src/store/balances/actions.ts
  frontend/app/src/store/balances/getters.ts
  frontend/app/src/types/balances.ts
  frontend/app/src/types/task-type.ts
  frontend/common/src/index.ts
Due: frontend_unit, frontend_integration

Extracts chain select component
  frontend/app/src/components/accounts/AccountForm.vue
  frontend/app/src/components/accounts/blockchain/ChainSelect.vue
Due: frontend_unit, frontend_integration

Introduces parsing/validation for blockchain balances
  frontend/app/src/components/accounts/BlockchainBalances.vue
  frontend/app/src/components/helper/asset-urls.ts
  frontend/app/src/services/balances/consts.ts
  frontend/app/src/services/balances/types.ts
  frontend/app/src/store/balances/actions.ts
  frontend/app/src/store/balances/const.ts
  frontend/app/src/store/balances/getters.ts
  frontend/app/src/store/balances/mutations.ts
  frontend/app/src/store/balances/state.ts
  frontend/app/src/store/balances/types.ts
  frontend/app/src/store/const.ts
  frontend/app/src/types/frontend-settings.ts
  frontend/common/src/blockchain/index.ts
Due: frontend_unit, frontend_integration

Updates account form to composition api
  frontend/app/src/components/accounts/AccountForm.vue
  frontend/app/src/components/accounts/BlockchainBalances.vue
  frontend/app/src/composables/balances.ts
  frontend/app/src/composables/common.ts
  frontend/app/src/electron-interop.ts
  frontend/app/src/locales/en.json
  frontend/app/src/store/store.ts
Due: frontend_unit, frontend_integration

Introduces cypress command to disable modules
  frontend/app/tests/e2e/specs/accounts-balances.spec.ts
  frontend/app/tests/e2e/support/commands.ts
  frontend/app/tests/e2e/support/types.d.ts
Due: frontend_unit, frontend_integration

Adds delete support to the frontend
  frontend/app/src/components/accounts/AccountBalances.vue
  frontend/app/src/locales/en.json
  frontend/app/src/services/balances/balances-api.ts
  frontend/app/src/store/balances/actions.ts
  frontend/app/src/store/balances/getters.ts
  frontend/app/src/types/balances.ts
  rotkehlchen/chain/ethereum/structures.py
Due: backend, frontend_unit, frontend_integration

Moves xpub input to a new component
  frontend/app/src/components/accounts/AccountForm.vue
  frontend/app/src/components/accounts/InputModeSelect.vue
  frontend/app/src/components/accounts/blockchain/XpubInput.vue
  frontend/app/src/components/accounts/blockchain/xpub.ts
  frontend/app/src/store/balances/types.ts
Due: frontend_unit, frontend_integration

Fixes tag color references in templates
  frontend/app/src/components/inputs/TagFilter.vue
  frontend/app/src/components/inputs/TagInput.vue
  frontend/app/src/components/tags/TagCreator.vue
  frontend/app/src/components/tags/TagIcon.vue
Due: frontend_unit, frontend_integration

Adds validator index and eth2 total
  frontend/app/src/components/dashboard/BlockchainBalanceCardList.vue
  frontend/app/src/components/helper/asset-urls.ts
  frontend/app/src/locales/en.json
  frontend/app/src/services/balances/balances-api.ts
  frontend/app/src/store/balances/actions.ts
  frontend/app/src/store/balances/getters.ts
  frontend/app/src/store/balances/mutations.ts
  frontend/app/src/store/balances/state.ts
  frontend/app/src/store/balances/types.ts
  frontend/app/src/types/balances.ts
Due: frontend_unit, frontend_integration

Extracts AddressInput component and simplifies account form
  frontend/app/src/components/accounts/AccountForm.vue
  frontend/app/src/components/accounts/blockchain/AddressInput.vue
Due: frontend_unit, frontend_integration

Updates changelog
  docs/changelog.rst
Due: none

Allow enabling remote debugging via .env
  frontend/start-dev.js
Due: none

Validator deposits primary key should be pubkey + tx_hash + amount
  rotkehlchen/chain/ethereum/modules/eth2.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v30_v31.py
Due: backend

New eth2 endpoints are now available but have a limit for free users
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/chain/ethereum/modules/eth2.py
  rotkehlchen/chain/manager.py
  rotkehlchen/errors.py
  rotkehlchen/tests/api/test_eth2.py
Due: backend

Don't log each price oracle failure. Too many log entries.
  rotkehlchen/globaldb/manual_price_oracle.py
  rotkehlchen/history/price.py
Due: backend

Beaconcha.in API. For pubkeys do queries with chunk of 80
  rotkehlchen/externalapis/beaconchain.py
Due: backend

Various backend fixes for ETH2
  rotkehlchen/chain/ethereum/modules/eth2.py
  rotkehlchen/db/upgrades/v30_v31.py
  rotkehlchen/externalapis/beaconchain.py
  rotkehlchen/tests/external_apis/test_beaconchain.py
Due: backend

Updates eth2 validator delete to accept array
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/encoding.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/tests/api/test_eth2.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
