Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Disable status updates for project and patch
  .codecov.yml
Due: none

Fixes id and path for check output
  .github/workflows/rotki_ci.yml
Due: none

Fixes sourcemaps to enable coverage for Vue SFCs
  .codecov.yml
  .github/workflows/rotki_ci.yml
  .travis.yml
  electron-app/babel.config.js
  electron-app/package-lock.json
  electron-app/package.json
  electron-app/vue.config.js
Due: frontend_unit, frontend_integration

Enable code coverage for frontend on codecov
  .codecov.yml
  .github/workflows/rotki_ci.yml
  .travis.yml
  electron-app/.gitignore
  electron-app/.nycrc.json
  electron-app/babel.config.js
  electron-app/package-lock.json
  electron-app/package.json
  electron-app/tests/e2e/plugins/index.js
  electron-app/tests/e2e/support/index.ts
Due: frontend_unit, frontend_integration

Conservative Kraken API query approach respecting call counter limit
  rotkehlchen/errors.py
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/tests/exchanges/test_kraken.py
  rotkehlchen/tests/utils/kraken.py
  rotkehlchen/utils/misc.py
Due: backend

Fix tests after kraken changes
  rotkehlchen/tests/utils/kraken.py
Due: backend

Make kraken account type customizable via the API
  docs/api.rst
  rotkehlchen/api/v1/encoding.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/db/settings.py
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/exchanges/manager.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/serialization/serialize.py
  rotkehlchen/tests/api/test_settings.py
  rotkehlchen/tests/db/test_db.py
Due: backend

Changelog entry for 904
  docs/changelog.rst
Due: none

Add KrakenAccountType as a general setting in the frontend
  electron-app/src/components/settings/api-keys/ExchangeSettings.vue
  electron-app/src/data/converters.ts
  electron-app/src/data/defaults.ts
  electron-app/src/data/factories.ts
  electron-app/src/model/action-result.ts
  electron-app/src/typing/types.ts
Due: frontend_unit, frontend_integration

Frontend PR review
  electron-app/src/components/settings/api-keys/ExchangeSettings.vue
  electron-app/src/data/defaults.ts
  electron-app/src/store/session/getters.ts
Due: frontend_unit, frontend_integration

Frontend: Move setKrakenAccountType to session/actions.ts
  electron-app/src/components/settings/api-keys/ExchangeSettings.vue
  electron-app/src/store/session/actions.ts
Due: frontend_unit, frontend_integration

Add Compound DAI to supported assets
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Add support for cBAT
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Add support for cETH
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Add support for Compound Augur
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Add support for compound USDC coin
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Add support for Compound Wrapped BTC
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Add support for Compound 0x
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Add test for cryptocompare querying of all compound tokens
  rotkehlchen/tests/external_apis/test_cryptocompare.py
Due: backend

Support cryptocompare querying of all compound tokens
  rotkehlchen/assets/asset.py
  rotkehlchen/externalapis/cryptocompare.py
Due: backend

Search for the DSR's CHI value for more blocks
  rotkehlchen/chain/ethereum/makerdao.py
Due: backend

Reduces flakiness on integration tests
  electron-app/cypress.json
  electron-app/src/views/OtcTrades.vue
  electron-app/tests/e2e/pages/account-balances-page.ts
  electron-app/tests/e2e/pages/otc-page.ts
  electron-app/tests/e2e/pages/rotki-app.ts
  electron-app/tests/e2e/specs/otc-trades.spec.ts
Due: frontend_unit, frontend_integration

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: electron-app
  frontend_integration: any of: electron-app
