Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Change decoding tests
  rotkehlchen/tests/unit/decoders/test_1inch.py
  rotkehlchen/tests/unit/decoders/test_aave.py
  rotkehlchen/tests/unit/decoders/test_balancer.py
  rotkehlchen/tests/unit/decoders/test_compound.py
  rotkehlchen/tests/unit/decoders/test_convex.py
  rotkehlchen/tests/unit/decoders/test_cowswap.py
  rotkehlchen/tests/unit/decoders/test_curve.py
  rotkehlchen/tests/unit/decoders/test_element_finance.py
  rotkehlchen/tests/unit/decoders/test_enriched.py
  rotkehlchen/tests/unit/decoders/test_ens.py
  rotkehlchen/tests/unit/decoders/test_eth2.py
  rotkehlchen/tests/unit/decoders/test_gitcoin.py
  rotkehlchen/tests/unit/decoders/test_hop.py
  rotkehlchen/tests/unit/decoders/test_kyber.py
  rotkehlchen/tests/unit/decoders/test_liquity.py
  rotkehlchen/tests/unit/decoders/test_main.py
  rotkehlchen/tests/unit/decoders/test_makerdao.py
  rotkehlchen/tests/unit/decoders/test_makerdao_sai.py
  rotkehlchen/tests/unit/decoders/test_optimism.py
  rotkehlchen/tests/unit/decoders/test_optimism_bridge.py
  rotkehlchen/tests/unit/decoders/test_pickle.py
  rotkehlchen/tests/unit/decoders/test_sushiswap.py
  rotkehlchen/tests/unit/decoders/test_uniswapv2.py
  rotkehlchen/tests/unit/decoders/test_uniswapv3.py
  rotkehlchen/tests/unit/decoders/test_votium.py
  rotkehlchen/tests/unit/decoders/test_weth.py
  rotkehlchen/tests/unit/decoders/test_yearn.py
Due: backend

Change base decoding methods
  rotkehlchen/chain/evm/decoding/base.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/chain/evm/decoding/interfaces.py
  rotkehlchen/chain/evm/decoding/structures.py
  rotkehlchen/chain/evm/decoding/utils.py
Due: backend

Bump beautifulsoup4 to 4.12
  requirements.txt
Due: none

Bump flake8 packages
  requirements_lint.txt
Due: none

feat: frontend part of filter by evm chains and address
  frontend/app/src/components/asset-manager/ManagedAssetTable.vue
  frontend/app/src/components/dashboard/EditBalancesSnapshotTable.vue
  frontend/app/src/composables/filters/assets.ts
  frontend/app/src/locales/en.json
  frontend/app/src/types/asset/index.ts
Due: frontend_unit, frontend_integration

Add context to arguments in mapped decoders
  rotkehlchen/chain/ethereum/modules/aave/v1/decoder.py
  rotkehlchen/chain/ethereum/modules/aave/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/airdrops/decoder.py
  rotkehlchen/chain/ethereum/modules/balancer/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/compound/decoder.py
  rotkehlchen/chain/ethereum/modules/convex/decoder.py
  rotkehlchen/chain/ethereum/modules/cowswap/decoder.py
  rotkehlchen/chain/ethereum/modules/curve/decoder.py
  rotkehlchen/chain/ethereum/modules/dxdaomesa/decoder.py
  rotkehlchen/chain/ethereum/modules/ens/decoder.py
  rotkehlchen/chain/ethereum/modules/eth2/decoder.py
  rotkehlchen/chain/ethereum/modules/hop/decoder.py
  rotkehlchen/chain/ethereum/modules/kyber/decoder.py
  rotkehlchen/chain/ethereum/modules/liquity/decoder.py
  rotkehlchen/chain/ethereum/modules/makerdao/decoder.py
  rotkehlchen/chain/ethereum/modules/makerdao/sai/decoder.py
  rotkehlchen/chain/ethereum/modules/oneinch/v1/decoder.py
  rotkehlchen/chain/ethereum/modules/oneinch/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/optimism_bridge/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/decoder.py
  rotkehlchen/chain/ethereum/modules/votium/decoder.py
  rotkehlchen/chain/ethereum/modules/weth/decoder.py
  rotkehlchen/chain/ethereum/modules/zksync/decoder.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/chain/optimism/modules/airdrops/decoder.py
  rotkehlchen/chain/optimism/modules/hop/decoder.py
  rotkehlchen/chain/optimism/modules/optimism/decoder.py
  rotkehlchen/chain/optimism/modules/optimism_bridge/decoder.py
Due: backend

Replace argument for enrich rules in decoders
  rotkehlchen/chain/ethereum/decoding/decoder.py
  rotkehlchen/chain/ethereum/modules/balancer/v1/decoder.py
  rotkehlchen/chain/ethereum/modules/balancer/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/convex/decoder.py
  rotkehlchen/chain/ethereum/modules/curve/decoder.py
  rotkehlchen/chain/ethereum/modules/gitcoin/decoder.py
  rotkehlchen/chain/ethereum/modules/makerdao/sai/decoder.py
  rotkehlchen/chain/ethereum/modules/pickle_finance/decoder.py
  rotkehlchen/chain/ethereum/modules/sushiswap/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v2/common.py
  rotkehlchen/chain/ethereum/modules/uniswap/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/decoder.py
  rotkehlchen/chain/ethereum/modules/yearn/decoder.py
  rotkehlchen/chain/evm/decoding/structures.py
Due: backend

Query and cache ENS avatars
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/ethereum/utils.py
  rotkehlchen/constants/timing.py
  rotkehlchen/db/ens.py
  rotkehlchen/db/minimized_schema.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v36_v37.py
  rotkehlchen/icons.py
  rotkehlchen/tests/conftest.py
  rotkehlchen/tests/data/ethtxs.db
  rotkehlchen/tests/data/example_ens_avatar.png
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/unit/test_evm_names.py
Due: backend

feat: show ens avatar on frontend
  docs/changelog.rst
  frontend/app/src/components/display/AccountDisplay.vue
  frontend/app/src/components/display/EnsAvatar.vue
  frontend/app/src/components/display/LabeledAddressDisplay.vue
  frontend/app/src/components/helper/HashLink.vue
  frontend/app/src/components/history/transactions/events/TransactionEventType.vue
  frontend/app/src/store/blockchain/accounts/addresses-names.ts
  frontend/app/src/utils/history.ts
Due: frontend_unit, frontend_integration

Updates build runner to ubuntu 20.04
  .github/workflows/rotki_dev_builds.yml
  .github/workflows/rotki_release.yaml
Due: none

Add Cn translation from 3000 lines to 3200 lines
  frontend/app/src/locales/cn.json
Due: frontend_unit, frontend_integration

Update docs and remove dead code
  rotkehlchen/chain/ethereum/decoding/decoder.py
  rotkehlchen/chain/ethereum/modules/cowswap/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/decoder.py
  rotkehlchen/chain/evm/decoding/constants.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/chain/evm/decoding/interfaces.py
  rotkehlchen/chain/evm/decoding/structures.py
  rotkehlchen/chain/optimism/decoding/decoder.py
Due: backend

Vcr one nft test
  rotkehlchen/tests/api/test_nfts.py
Due: backend

Fix liquity stats
  rotkehlchen/chain/ethereum/modules/liquity/statistics.py
  rotkehlchen/tests/api/test_liquity.py
  rotkehlchen/tests/data/liquity_stats.db
Due: backend

Make counterparty None by default for decoding outputs
  rotkehlchen/chain/ethereum/decoding/decoder.py
  rotkehlchen/chain/ethereum/modules/aave/v1/decoder.py
  rotkehlchen/chain/ethereum/modules/aave/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/airdrops/decoder.py
  rotkehlchen/chain/ethereum/modules/balancer/v1/decoder.py
  rotkehlchen/chain/ethereum/modules/balancer/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/compound/decoder.py
  rotkehlchen/chain/ethereum/modules/convex/decoder.py
  rotkehlchen/chain/ethereum/modules/cowswap/decoder.py
  rotkehlchen/chain/ethereum/modules/curve/decoder.py
  rotkehlchen/chain/ethereum/modules/dxdaomesa/decoder.py
  rotkehlchen/chain/ethereum/modules/ens/decoder.py
  rotkehlchen/chain/ethereum/modules/eth2/decoder.py
  rotkehlchen/chain/ethereum/modules/gitcoin/decoder.py
  rotkehlchen/chain/ethereum/modules/hop/decoder.py
  rotkehlchen/chain/ethereum/modules/kyber/decoder.py
  rotkehlchen/chain/ethereum/modules/liquity/decoder.py
  rotkehlchen/chain/ethereum/modules/makerdao/decoder.py
  rotkehlchen/chain/ethereum/modules/makerdao/sai/decoder.py
  rotkehlchen/chain/ethereum/modules/oneinch/v1/decoder.py
  rotkehlchen/chain/ethereum/modules/oneinch/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/optimism_bridge/decoder.py
  rotkehlchen/chain/ethereum/modules/pickle_finance/decoder.py
  rotkehlchen/chain/ethereum/modules/sushiswap/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/utils.py
  rotkehlchen/chain/ethereum/modules/uniswap/v2/common.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/decoder.py
  rotkehlchen/chain/ethereum/modules/weth/decoder.py
  rotkehlchen/chain/ethereum/modules/yearn/decoder.py
  rotkehlchen/chain/ethereum/modules/zksync/decoder.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/chain/evm/decoding/structures.py
  rotkehlchen/chain/optimism/modules/airdrops/decoder.py
  rotkehlchen/chain/optimism/modules/hop/decoder.py
  rotkehlchen/chain/optimism/modules/optimism/decoder.py
  rotkehlchen/chain/optimism/modules/optimism_bridge/decoder.py
Due: backend

Avoid usage of intermediate variables in decoders
  rotkehlchen/chain/ethereum/modules/aave/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/balancer/v1/decoder.py
  rotkehlchen/chain/ethereum/modules/balancer/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/compound/decoder.py
  rotkehlchen/chain/ethereum/modules/makerdao/sai/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v2/common.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/decoder.py
Due: backend

Bump pylint
  requirements_lint.txt
Due: none

Bump ruff to 0.0.259
  package.py
  pyproject.toml
  requirements_lint.txt
  tools/profiling/graph.py
Due: none

Added cn translation from line 3200 to line 3400
  frontend/app/src/locales/cn.json
Due: frontend_unit, frontend_integration

Decode curve gauge events
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/curve/accountant.py
  rotkehlchen/chain/ethereum/modules/curve/curve_cache.py
  rotkehlchen/chain/ethereum/modules/curve/decoder.py
  rotkehlchen/chain/ethereum/node_inquirer.py
  rotkehlchen/data/global.db
  rotkehlchen/globaldb/cache.py
  rotkehlchen/globaldb/upgrades/v4_v5.py
  rotkehlchen/tests/unit/decoders/test_curve.py
  rotkehlchen/tests/unit/globaldb/test_upgrades.py
  rotkehlchen/tests/unit/test_general_cache.py
  rotkehlchen/tests/utils/globaldb.py
  rotkehlchen/types.py
Due: backend

Added cn translation from line 3400 to line 3600
  frontend/app/src/locales/cn.json
Due: frontend_unit, frontend_integration
