Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

refactor(settings): route session writes via registry
  frontend/app/src/modules/session/use-animations-enabled.ts
  frontend/app/src/modules/settings/settings-registry.ts
  frontend/app/src/modules/settings/settings-repo.spec.ts
  frontend/app/src/modules/settings/settings-repo.ts
  frontend/app/src/modules/settings/settings-writer.spec.ts
  frontend/app/src/modules/settings/settings-writer.ts
  frontend/app/src/modules/settings/use-settings.spec.ts
  frontend/app/src/modules/settings/use-settings.ts
Due: frontend_unit, frontend_integration

fix(settings): debounced revert and rpc computed
  frontend/app/src/modules/settings/general/rpc/simple/SimpleRpcNodeManager.vue
  frontend/app/src/modules/settings/use-setting-model.spec.ts
  frontend/app/src/modules/settings/use-setting-model.ts
Due: frontend_unit, frontend_integration

refactor(settings): add theme settings facade
  frontend/app/src/modules/premium/setup-interface.ts
  frontend/app/src/modules/settings/use-theme-migration.ts
  frontend/app/src/modules/shell/theme/use-dark-mode.ts
  frontend/app/src/modules/shell/theme/use-theme-settings.ts
Due: frontend_unit, frontend_integration

refactor(settings): reuse amount-display facade in stats
  frontend/app/src/modules/assets/amount-display/use-amount-display-settings.ts
  frontend/app/src/modules/statistics/use-statistics-store.ts
Due: frontend_unit, frontend_integration

feat(settings): generic SettingSwitch owning component
  frontend/app/src/modules/settings/accounting/CalculatePastCostBasisSetting.vue
  frontend/app/src/modules/settings/accounting/CryptoToCryptoTradeSetting.vue
  frontend/app/src/modules/settings/accounting/GasCostSetting.vue
  frontend/app/src/modules/settings/accounting/PnlCsvSummarySetting.vue
  frontend/app/src/modules/settings/accounting/PnlCsvWithFormulasSetting.vue
  frontend/app/src/modules/settings/controls/SettingSwitch.spec.ts
  frontend/app/src/modules/settings/controls/SettingSwitch.vue
  frontend/app/src/modules/settings/frontend/EnableEnsNamesSetting.vue
  frontend/app/src/modules/settings/frontend/ShowGraphRangeSelectorSetting.vue
  frontend/app/src/modules/settings/frontend/ZeroBasedGraphSetting.vue
  frontend/app/src/modules/settings/general/DisplayDateInLocaltimeSetting.vue
  frontend/app/src/modules/settings/general/TreatEthAsEth2Setting.vue
  frontend/app/src/modules/settings/settings-writer.ts
Due: frontend_unit, frontend_integration

feat(history): migrate the event action picker to RuiCategoryPicker
  frontend/app/src/modules/history/events/action-picker/HistoryEventActionPicker.spec.ts
  frontend/app/src/modules/history/events/action-picker/HistoryEventActionPicker.vue
Due: frontend_unit, frontend_integration

Bump @rotki/ui-library to 2.22.1
  frontend/app/src/brand-icons.ts
  frontend/app/src/modules/settings/accounting/rule/AccountingRuleConflictsDialog.vue
  frontend/app/src/plugins/rui/index.ts
  frontend/app/vite.config.ts
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend_unit, frontend_integration

feat: add kinetiq decoder and balances for hyperevm
  docs/changelog.rst
  frontend/app/public/assets/images/protocols/kinetiq.svg
  frontend/app/public/assets/images/protocols/kinetiq_dark.svg
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/ethereum/interfaces/balances.py
  rotkehlchen/chain/hyperliquid/modules/kinetiq/__init__.py
  rotkehlchen/chain/hyperliquid/modules/kinetiq/balances.py
  rotkehlchen/chain/hyperliquid/modules/kinetiq/constants.py
  rotkehlchen/chain/hyperliquid/modules/kinetiq/decoder.py
  rotkehlchen/tests/unit/decoders/test_kinetiq.py
  rotkehlchen/tests/unit/test_protocol_balances.py
  rotkehlchen/tests/utils/ethereum.py
Due: backend, frontend_unit, frontend_integration

feat: support kinetiq institutional lst deployments
  rotkehlchen/chain/hyperliquid/modules/kinetiq/balances.py
  rotkehlchen/chain/hyperliquid/modules/kinetiq/constants.py
  rotkehlchen/chain/hyperliquid/modules/kinetiq/decoder.py
  rotkehlchen/tests/unit/decoders/test_kinetiq.py
Due: backend

fix: check worktree and new files in logging lint
  tools/lint_new_logging_fstrings.py
Due: none

feat: filter history events by amount range
  docs/changelog.rst
  frontend/app/src/locales/en.json
  frontend/app/src/modules/core/table/filters/use-events-filter.spec.ts
  frontend/app/src/modules/core/table/filters/use-events-filter.ts
  frontend/app/src/modules/history/events/request-types.ts
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/filtering.py
  rotkehlchen/tests/api/test_history_events_amount_filter.py
  rotkehlchen/tests/unit/test_serialization.py
Due: backend, frontend_unit, frontend_integration

fix: stop renderer requests before app quit
  frontend/app/electron/ipc-commands.ts
  frontend/app/electron/main/application.ts
  frontend/app/electron/main/renderer-shutdown.spec.ts
  frontend/app/electron/main/renderer-shutdown.ts
  frontend/app/electron/main/window-manager.ts
  frontend/app/electron/preload/index.ts
  frontend/app/shared/ipc.ts
  frontend/app/src/modules/core/api/rotki-api.spec.ts
  frontend/app/src/modules/core/api/rotki-api.ts
  frontend/app/src/modules/shell/app/use-backend-messages.ts
Due: frontend_unit, frontend_integration

docs: add changelog entry for quit-race fix
  docs/changelog.rst
Due: none

feat: support kinetiq earn vault
  docs/changelog.rst
  rotkehlchen/chain/hyperliquid/modules/kinetiq/balances.py
  rotkehlchen/chain/hyperliquid/modules/kinetiq/constants.py
  rotkehlchen/chain/hyperliquid/modules/kinetiq/decoder.py
  rotkehlchen/tests/unit/decoders/test_kinetiq.py
  rotkehlchen/tests/unit/test_protocol_balances.py
Due: backend

fix: kraken tokenized asset swap reconstruction
  docs/changelog.rst
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/tests/exchanges/test_kraken.py
Due: backend

fix: use lazy logging args in kraken settlement leg debug log
  rotkehlchen/exchanges/kraken.py
Due: backend

fix: gate kraken settlement leg removal on tokenized_asset
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/tests/exchanges/test_kraken.py
Due: backend

feat(settings): generic owning controls for settings
  frontend/app/src/locales/en.json
  frontend/app/src/modules/settings/GeneralSettingsCategory.vue
  frontend/app/src/modules/settings/HistoryEventSettingsCategory.vue
  frontend/app/src/modules/settings/InferZeroTimedBalancesSetting.vue
  frontend/app/src/modules/settings/accounting/CostBasisFeesSetting.vue
  frontend/app/src/modules/settings/accounting/EthStakingTaxableAfterWithdrawalSetting.vue
  frontend/app/src/modules/settings/accounting/UseAssetCollectionsInCostBasisSetting.vue
  frontend/app/src/modules/settings/controls/SettingNumber.spec.ts
  frontend/app/src/modules/settings/controls/SettingNumber.vue
  frontend/app/src/modules/settings/controls/SettingSwitch.spec.ts
  frontend/app/src/modules/settings/controls/SettingSwitch.vue
  frontend/app/src/modules/settings/controls/SettingText.spec.ts
  frontend/app/src/modules/settings/controls/SettingText.vue
  frontend/app/src/modules/settings/data-security/oracle/OraclePenaltyDurationSetting.vue
  frontend/app/src/modules/settings/data-security/oracle/OraclePenaltySettings.vue
  frontend/app/src/modules/settings/data-security/oracle/OraclePenaltyThresholdCountSetting.vue
  frontend/app/src/modules/settings/frontend/InterfaceOnlyCategory.vue
  frontend/app/src/modules/settings/frontend/PersistPrivacySettings.vue
  frontend/app/src/modules/settings/frontend/PersistTableSortingSetting.vue
  frontend/app/src/modules/settings/general/AutoCreateProfitEventsSetting.vue
  frontend/app/src/modules/settings/general/AutoDetectTokensOnLoginSetting.vue
  frontend/app/src/modules/settings/general/AutoDetectTokensSetting.vue
  frontend/app/src/modules/settings/general/BalanceSaveFrequencySetting.vue
  frontend/app/src/modules/settings/general/BtcDerivationGapLimitSetting.vue
  frontend/app/src/modules/settings/general/CsvExportDelimiterSetting.vue
  frontend/app/src/modules/settings/general/QueryPeriodSetting.vue
  frontend/app/src/modules/settings/general/UsageAnalyticsSetting.vue
  frontend/app/src/modules/settings/general/nft/NftsInNetValueSetting.vue
  frontend/app/src/modules/settings/interface/HistoryQueryIndicatorDismissalThresholdSetting.vue
  frontend/app/src/modules/settings/interface/HistoryQueryIndicatorMinOutOfSyncPeriodSetting.vue
  frontend/app/src/modules/settings/interface/HistoryQueryIndicatorSettings.vue
  frontend/app/src/modules/settings/use-setting-model.ts
Due: frontend_unit, frontend_integration

Bump pyinstaller to address bugs and make it compatible with new python versions
  Dockerfile
  package.py
Due: none

Adjust spec after adding numpy
  rotkehlchen.spec
Due: backend

test: expand frontend unit coverage
  frontend/app/src/modules/core/common/display/assets.spec.ts
  frontend/app/src/modules/core/messaging/handlers/calendar-reminder.spec.ts
  frontend/app/src/modules/core/messaging/handlers/csv-import-result.spec.ts
  frontend/app/src/modules/core/messaging/handlers/missing-api-key.spec.ts
  frontend/app/src/modules/core/messaging/handlers/progress-updates.spec.ts
  frontend/app/src/modules/core/messaging/index.spec.ts
  frontend/app/src/modules/dashboard/graph/use-net-value-chart-config.spec.ts
  frontend/app/src/modules/dashboard/graph/use-net-value-event-handlers.spec.ts
  frontend/app/src/modules/dashboard/snapshots/use-snapshot-store.spec.ts
  frontend/app/src/modules/dashboard/use-dashboard-table-config.spec.ts
  frontend/app/src/modules/session/use-session-settings.spec.ts
  frontend/app/src/modules/session/use-session-sync.spec.ts
  frontend/app/src/modules/settings/suggestions/use-settings-suggestions.spec.ts
  frontend/app/src/modules/settings/use-settings-page-highlight.spec.ts
  frontend/app/src/modules/settings/use-settings-scroll-spy.spec.ts
  frontend/app/src/modules/shell/app/use-electron-interop.spec.ts
  frontend/app/src/modules/shell/layout/use-marquee-animation.spec.ts
  frontend/app/src/modules/staking/eth/use-eth-staking-refresh.spec.ts
  frontend/app/src/modules/staking/eth/use-eth-validator-management.spec.ts
Due: frontend_unit, frontend_integration

chore(dev): warm colibri and verify backend before dev start
  frontend/scripts/dev/prerequisites.ts
  frontend/scripts/dev/services.ts
  frontend/scripts/start-dev.ts
Due: none
