Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

chore(frontend): bump stylelint vue config to v2
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

chore: update github actions
  .github/workflows/rotki_benchmarks.yml
  .github/workflows/rotki_ci.yml
  .github/workflows/rotki_dev_builds.yml
  .github/workflows/rotki_docker_publish.yaml
  .github/workflows/rotki_nightly.yml
  .github/workflows/rotki_release.yaml
  .github/workflows/rotki_sqldiff.yml
  .github/workflows/task_backend_tests.yml
  .github/workflows/task_contract_tests.yml
  .github/workflows/task_docs_event_types_check.yml
  .github/workflows/task_e2e_tests.yml
  .github/workflows/task_fe_external_links_verification.yml
  .github/workflows/task_fe_unit_tests.yml
Due: none

chore(frontend): upgrade bignumber.js to v11
  frontend/app/src/modules/history/management/forms/asset-movement-event-form.ts
  frontend/app/src/modules/history/management/forms/bitcoin-event-form.ts
  frontend/app/src/modules/history/management/forms/eth-block-event-form.ts
  frontend/app/src/modules/history/management/forms/eth-deposit-event-form.ts
  frontend/app/src/modules/history/management/forms/eth-withdrawal-event-form.ts
  frontend/app/src/modules/history/management/forms/evm-event-form.ts
  frontend/app/src/modules/history/management/forms/online-history-event-form.ts
  frontend/app/src/modules/history/management/forms/solana-event-form.ts
  frontend/app/src/modules/shell/components/display/BalanceDisplay.vue
  frontend/app/src/modules/staking/lido-csm/LidoCsmTable.vue
  frontend/app/src/modules/wallet/send/TradeSendCard.vue
  frontend/common/package.json
  frontend/common/src/numbers/index.ts
  frontend/patches/bignumber.js@11.1.5.patch
  frontend/patches/bignumber.js@9.3.1.patch
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend_unit, frontend_integration

Redecode events on db upgrade
  rotkehlchen/db/upgrades/v52_v53.py
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

ci: prune old dated dev-build docker images
  .github/workflows/rotki_dev_builds.yml
Due: none

chore(frontend): bump non-major dependencies
  frontend/app/auto-imports.d.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend_unit, frontend_integration

fix(frontend): parse nfts that have no collection
  frontend/app/src/modules/assets/nfts.spec.ts
  frontend/app/src/modules/assets/nfts.ts
  frontend/app/src/modules/balances/nft/NftGalleryItem.vue
  frontend/app/src/modules/balances/nft/use-nft-gallery-filters.spec.ts
  frontend/app/src/modules/balances/nft/use-nft-gallery-filters.ts
Due: frontend_unit, frontend_integration

fix(accounts): disable token detection for skipped addresses
  frontend/app/src/locales/en.json
  frontend/app/src/modules/accounts/blockchain/TokenDetection.vue
  frontend/app/src/modules/balances/blockchain/use-token-detection-ui.spec.ts
  frontend/app/src/modules/balances/blockchain/use-token-detection-ui.ts
Due: frontend_unit, frontend_integration

test(sync): pin the casing the two sides actually use
  frontend/app/src/modules/settings/general/disabled-chain-queries/use-disabled-chains.ts
  frontend/app/src/modules/shell/sync-progress/use-sync-progress.spec.ts
Due: frontend_unit, frontend_integration

feat(sync): stop counting disabled chains in sync progress
  frontend/app/src/modules/history/events/tx/use-history-transaction-accounts.ts
  frontend/app/src/modules/settings/general/disabled-chain-queries/use-disabled-chains.spec.ts
  frontend/app/src/modules/settings/general/disabled-chain-queries/use-disabled-chains.ts
  frontend/app/src/modules/shell/sync-progress/use-chain-progress.ts
  frontend/app/src/modules/shell/sync-progress/use-sync-progress.spec.ts
  frontend/app/src/modules/shell/sync-progress/use-sync-progress.ts
Due: frontend_unit, frontend_integration

feat(balances): honour skipped chains when querying
  frontend/app/src/locales/en.json
  frontend/app/src/modules/balances/blockchain/use-token-detection-orchestrator.spec.ts
  frontend/app/src/modules/balances/blockchain/use-token-detection-orchestrator.ts
  frontend/app/src/modules/balances/use-blockchain-balances.spec.ts
  frontend/app/src/modules/balances/use-blockchain-balances.ts
Due: frontend_unit, frontend_integration

Close gaps on ignore chains or accounts
  rotkehlchen/api/rest.py
  rotkehlchen/chain/aggregator.py
  rotkehlchen/history/manager.py
  rotkehlchen/tasks/assets.py
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/api/test_balances.py
  rotkehlchen/tests/unit/test_blockchain_balances.py
  rotkehlchen/tests/unit/test_tasks_manager.py
Due: backend

docker: warn about an unauthenticated api, not docker
  docs/api.rst
  docs/changelog.rst
  docs/dev_changelog.rst
  frontend/app/shared/external-links.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/ru.json
  frontend/app/src/modules/auth/DockerWarning.spec.ts
  frontend/app/src/modules/auth/DockerWarning.vue
  frontend/app/src/modules/auth/UserHost.spec.ts
  frontend/app/src/modules/auth/UserHost.vue
  frontend/app/src/modules/core/common/use-main-store.ts
  frontend/app/src/modules/shell/app/backend.ts
  frontend/app/src/modules/shell/app/use-backend-connection.spec.ts
  frontend/app/src/modules/shell/app/use-backend-connection.ts
  frontend/app/src/modules/shell/app/use-info-api.spec.ts
  frontend/app/tests/unit/fixtures/info.json
  rotkehlchen/api/rest.py
  rotkehlchen/tests/api/test_misc.py
Due: backend, frontend_unit, frontend_integration

feat(bitcoin): report transaction and decoding progress
  rotkehlchen/chain/bitcoin/manager.py
  rotkehlchen/tests/api/test_bitcoin_transactions.py
  rotkehlchen/tests/unit/test_bitcoin_transactions.py
Due: backend

Avoid progress notifications when no zkSync Lite transactions exist
  rotkehlchen/chain/zksync_lite/manager.py
  rotkehlchen/tests/api/test_evmlike.py
Due: backend

test(frontend): kebab-case the remaining camelCase test ids
  frontend/app/src/modules/assets/admin/cex-mapping/ManageCexMappingForm.vue
  frontend/app/src/modules/assets/admin/counterparty-mapping/ManageCounterpartyMappingForm.vue
  frontend/app/src/modules/history/management/forms/AssetMovementEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/AssetMovementEventForm.vue
  frontend/app/src/modules/history/management/forms/BitcoinEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/BitcoinEventForm.vue
  frontend/app/src/modules/history/management/forms/EthBlockEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/EthBlockEventForm.vue
  frontend/app/src/modules/history/management/forms/EthDepositEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/EthDepositEventForm.vue
  frontend/app/src/modules/history/management/forms/EthWithdrawalEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/EthWithdrawalEventForm.vue
  frontend/app/src/modules/history/management/forms/EvmEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/EvmEventForm.vue
  frontend/app/src/modules/history/management/forms/OnlineHistoryEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/OnlineHistoryEventForm.vue
  frontend/app/src/modules/history/management/forms/SolanaEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/SolanaEventForm.vue
  frontend/app/tests/e2e/pages/history-events-page.ts
Due: frontend_unit, frontend_integration

Minor adjustment on ws message for btc
  rotkehlchen/chain/bitcoin/manager.py
  rotkehlchen/tests/api/test_bitcoin_transactions.py
Due: backend

chore(deps): update @rotki/ui-library to 2.23.4
  frontend/app/src/modules/history/events/action-picker/HistoryEventActionPicker.vue
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend_unit, frontend_integration

test(frontend): kebab-case the interpolated test ids
  frontend/app/src/modules/history/events/action-picker/HistoryEventActionPicker.spec.ts
  frontend/app/src/modules/history/events/action-picker/HistoryEventActionPicker.vue
  frontend/app/src/modules/history/events/actions-center/HistoryEventsActionRow.spec.ts
  frontend/app/src/modules/history/events/actions-center/use-history-event-issues.ts
Due: frontend_unit, frontend_integration

test(frontend): split values out of test ids
  frontend/app/src/modules/accounts/blockchain/BtcAddressInput.spec.ts
  frontend/app/src/modules/accounts/blockchain/BtcAddressInput.vue
  frontend/app/src/modules/core/table/pill/PillFilterBar.spec.ts
  frontend/app/src/modules/core/table/pill/PillMenu.spec.ts
  frontend/app/src/modules/core/table/pill/PillMenu.vue
  frontend/app/src/modules/core/table/pill/PillNarrowList.vue
  frontend/app/src/modules/core/table/pill/PillViewsMenu.spec.ts
  frontend/app/src/modules/core/table/pill/PillViewsMenu.vue
  frontend/app/src/modules/core/table/pill/TextValueEditor.vue
  frontend/app/src/modules/core/table/pill/ValueSelectList.spec.ts
  frontend/app/src/modules/core/table/pill/ValueSelectList.vue
  frontend/app/src/modules/history/events/PotentialMatchesCards.vue
  frontend/app/src/modules/history/events/PotentialMatchesTable.spec.ts
  frontend/app/src/modules/history/events/PotentialMatchesTable.vue
  frontend/app/src/modules/history/events/UnmatchedCardList.spec.ts
  frontend/app/src/modules/history/events/UnmatchedCardList.vue
  frontend/app/src/modules/history/management/forms/SwapEventForm.spec.ts
  frontend/app/src/modules/history/management/forms/swap/SwapEventNotes.vue
  frontend/app/src/modules/user-data/ImportSource.vue
  frontend/app/tests/e2e/pages/assets-manager-page.ts
  frontend/app/tests/e2e/pages/import-page.ts
  frontend/app/tests/e2e/pages/pill-filter-bar.ts
  frontend/app/tests/e2e/pages/pill-views-menu.ts
  frontend/app/tests/e2e/specs/history/pill-filter.spec.ts
Due: frontend_unit, frontend_integration

fix: provide cargo for arm64 docker builds
  Dockerfile
Due: none

Harden test to avoid flakiness
  rotkehlchen/tests/unit/test_tasks_manager.py
Due: backend

perf: keep editor chunk out of the startup graph
  .github/workflows/rotki_ci.yml
  frontend/app/package.json
  frontend/app/scripts/check-bundle.ts
  frontend/app/scripts/chunk-groups.ts
  frontend/app/vite.config.ts
Due: frontend_unit, frontend_integration

perf: rank vue-vendor above the other chunk groups
  frontend/app/scripts/chunk-groups.ts
  frontend/app/vite.config.ts
Due: frontend_unit, frontend_integration

test(frontend): start every e2e run from a pristine global db
  frontend/app/package.json
  frontend/app/scripts/e2e-reset-global-db.ts
  frontend/app/scripts/e2e-shards.ts
Due: frontend_unit, frontend_integration

perf(electron): load electron-updater on demand
  frontend/app/electron/main/ipc-handlers/update-handlers.ts
  frontend/app/vite.config.main.ts
Due: frontend_unit, frontend_integration

perf(electron): keep vue out of the main bundle
  frontend/app/electron/main/tray-manager.ts
  frontend/eslint.config.js
Due: frontend_unit, frontend_integration

perf(electron): replace electron-store with a JSON store
  frontend/app/electron/main/password-manager.spec.ts
  frontend/app/electron/main/password-manager.ts
  frontend/app/electron/main/password-store.spec.ts
  frontend/app/electron/main/password-store.ts
  frontend/app/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend_unit, frontend_integration

test(electron): cover the app settings schema
  frontend/app/electron/main/settings-manager.spec.ts
Due: frontend_unit, frontend_integration
