Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Vcr more NFT tests
  rotkehlchen/tests/api/test_nfts.py
Due: backend

Fix icons tests
  rotkehlchen/tests/api/test_icons.py
Due: backend

Update missing entries in changelog
  docs/changelog.rst
Due: none

Fix makerdao vault owner deletion
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/makerdao/vaults.py
  rotkehlchen/tests/api/test_makerdao_vaults.py
Due: backend

Improve proxies mocking
  rotkehlchen/tests/fixtures/blockchain.py
  rotkehlchen/tests/fixtures/rotkehlchen.py
  rotkehlchen/tests/utils/mock.py
Due: backend

Some nitpicks
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/ens/decoder.py
Due: backend

feat: adjust liquity staking schema
  frontend/app/src/components/staking/liquity/LiquityStakingDetails.vue
  frontend/common/src/liquity/index.ts
Due: frontend_unit, frontend_integration

feat: cache historic price in frontend
  frontend/app/.eslintrc-auto-import.json
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/display/amount/AmountDisplay.vue
  frontend/app/src/components/history/events/HistoryEventAsset.vue
  frontend/app/src/composables/api/balances/price.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/store/balances/prices.ts
  frontend/app/src/store/prices/historic.ts
  frontend/app/src/types/prices.ts
  frontend/app/tests/unit/specs/components/display/amount-display.spec.ts
Due: frontend_unit, frontend_integration

refactor: extract core of cache to reusable composable
  frontend/app/.eslintrc-auto-import.json
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/composables/useItemCache.ts
  frontend/app/src/store/assets/asset-cache.ts
  frontend/app/src/store/prices/historic.ts
Due: frontend_unit, frontend_integration

Handle ETH.S automatic conversions to ETH in Kraken
  docs/changelog.rst
  rotkehlchen/db/upgrades/v36_v37.py
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/tests/data/v36_rotkehlchen.db
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

Add details information to locations endpoint
  docs/api.rst
  rotkehlchen/api/v1/resources.py
  rotkehlchen/detail_mappings.py
  rotkehlchen/serialization/serialize.py
  rotkehlchen/tests/api/test_misc.py
  rotkehlchen/types.py
Due: backend

Enforce utf-8 encoding
  docs/changelog.rst
  rotkehlchen/accounting/debugimporter/json.py
  rotkehlchen/accounting/export/csv.py
  rotkehlchen/api/rest.py
  rotkehlchen/tests/api/test_pnl_csv.py
  rotkehlchen/tests/utils/history.py
  rotkehlchen/tests/utils/pnl_report.py
Due: backend

Adjust NFT test logic
  rotkehlchen/chain/ethereum/modules/nft/nfts.py
  rotkehlchen/tests/api/test_nfts.py
Due: backend

Add eth_staking_events_info to sanity check and test for new tables
  rotkehlchen/db/minimized_schema.py
  rotkehlchen/tests/db/test_db.py
Due: backend

Add withdrawal periodic query and tests for it
  rotkehlchen/accounting/structures/eth2.py
  rotkehlchen/chain/ethereum/modules/eth2/constants.py
  rotkehlchen/chain/ethereum/modules/eth2/eth2.py
  rotkehlchen/chain/ethereum/modules/eth2/utils.py
  rotkehlchen/db/eth2.py
  rotkehlchen/db/history_events.py
  rotkehlchen/externalapis/beaconchain.py
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/conftest.py
  rotkehlchen/tests/unit/test_eth2.py
Due: backend

Introduce EthWithdrawalEvent and withdrawal queries parsing
  rotkehlchen/accounting/structures/eth2.py
  rotkehlchen/chain/ethereum/modules/eth2/eth2.py
  rotkehlchen/chain/ethereum/modules/eth2/utils.py
  rotkehlchen/db/constants.py
  rotkehlchen/db/eth2.py
  rotkehlchen/db/history_events.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v36_v37.py
  rotkehlchen/externalapis/beaconchain.py
  rotkehlchen/tests/unit/test_eth2.py
Due: backend

Add withdrawal event queries in the filters
  rotkehlchen/accounting/structures/base.py
  rotkehlchen/db/filtering.py
  rotkehlchen/db/history_events.py
Due: backend

Remove beaconchain API balancehistory since it's not used yet
  rotkehlchen/externalapis/beaconchain.py
  rotkehlchen/tests/external_apis/test_beaconchain.py
Due: backend

Adjust tests after addition of withdrawals
  rotkehlchen/db/history_events.py
  rotkehlchen/externalapis/beaconchain.py
  rotkehlchen/tests/api/test_eth2.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

Add offset/limit pagination to blocks produced beaconchain queries
  rotkehlchen/externalapis/beaconchain.py
Due: backend

Add an endpoint to query online sources of all event types
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/eth2.py
Due: backend

Add optional display name to the response
  docs/api.rst
  rotkehlchen/api/v1/resources.py
  rotkehlchen/chain/ethereum/modules/eth2/decoder.py
  rotkehlchen/constants/location_details.py
  rotkehlchen/types.py
Due: backend

Add information related to db errors
  docs/contribute.rst
Due: none
