Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Add Bit2Me exchange integration
  frontend/app/public/assets/images/protocols/bit2me.png
  rotkehlchen/assets/converters.py
  rotkehlchen/constants/location_details.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/settings.py
  rotkehlchen/db/upgrade_manager.py
  rotkehlchen/db/upgrades/v51_v52.py
  rotkehlchen/exchanges/bit2me.py
  rotkehlchen/exchanges/constants.py
  rotkehlchen/tests/exchanges/test_bit2me.py
  rotkehlchen/tests/fixtures/exchanges/__init__.py
  rotkehlchen/tests/fixtures/exchanges/bit2me.py
  rotkehlchen/types.py
Due: backend, frontend_unit, frontend_integration

Store Bit2Me exchange rates as historical prices
  rotkehlchen/exchanges/bit2me.py
Due: backend

Fix query_balances signature to accept **kwargs
  rotkehlchen/exchanges/bit2me.py
Due: backend

Fix Balance usage after upstream changes
  rotkehlchen/exchanges/bit2me.py
Due: backend

calculate USD value for balances
  rotkehlchen/exchanges/bit2me.py
Due: backend

Calculate explicit fee for brokerage trades
  rotkehlchen/exchanges/bit2me.py
  rotkehlchen/tests/exchanges/test_bit2me.py
Due: backend

Fix withdrawal fee calculation in Bit2Me
  rotkehlchen/exchanges/bit2me.py
  rotkehlchen/tests/exchanges/test_bit2me.py
Due: backend

Add EARN (staking) movements support for Bit2Me
  rotkehlchen/exchanges/bit2me.py
  rotkehlchen/tests/exchanges/test_bit2me.py
Due: backend

Add airdrop support for Bit2Me (social-pay transactions)
  rotkehlchen/exchanges/bit2me.py
  rotkehlchen/tests/exchanges/test_bit2me.py
Due: backend

Fix balance parsing: use 'currency' field instead of 'asset'
  rotkehlchen/exchanges/bit2me.py
  rotkehlchen/tests/exchanges/test_bit2me.py
Due: backend

Apply remaining PR review comments
  rotkehlchen/db/upgrades/v50_v51.py
  rotkehlchen/db/upgrades/v51_v52.py
  rotkehlchen/exchanges/bit2me.py
Due: backend

Add EARN balance support to Bit2Me integration
  rotkehlchen/exchanges/bit2me.py
  rotkehlchen/tests/exchanges/test_bit2me.py
Due: backend

Bit2Me: address PR review feedback
  rotkehlchen/db/settings.py
  rotkehlchen/db/upgrade_manager.py
  rotkehlchen/exchanges/bit2me.py
Due: backend

Store Bit2Me historical price for airdrops
  rotkehlchen/exchanges/bit2me.py
  rotkehlchen/tests/exchanges/test_bit2me.py
Due: backend

style: tx progressbar fully clickable
  frontend/app/src/modules/sync-progress/components/SyncProgressDetails.vue
  frontend/app/src/modules/sync-progress/components/SyncProgressHeader.spec.ts
  frontend/app/src/modules/sync-progress/components/SyncProgressHeader.vue
  frontend/app/src/modules/sync-progress/components/SyncProgressPanel.vue
Due: frontend_unit, frontend_integration

refactor(frontend): replace `AmountDisplay` with modular display components across views
  frontend/app/src/components/accounts/manual-balances/ManualBalanceTable.vue
  frontend/app/src/components/profitloss/CostBasisTable.vue
  frontend/app/src/components/profitloss/ProfitLossEvents.vue
  frontend/app/src/components/profitloss/ProfitLossOverview.vue
  frontend/app/src/components/profitloss/ReportMissingAcquisitions.vue
  frontend/app/src/components/profitloss/ReportsTable.vue
  frontend/app/src/components/staking/kraken/KrakenStakingOverview.vue
  frontend/app/src/modules/amount-display/components/FiatDisplay.vue
Due: frontend_unit, frontend_integration

Fix visitor badge URL in README.md
  README.md
Due: none

fix(frontend): adjustment for asset movement
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/history/events/MatchAssetMovementsDialog.vue
  frontend/app/src/components/history/events/PotentialMatchesDialog.vue
  frontend/app/src/components/history/events/PotentialMatchesList.vue
  frontend/app/src/components/history/events/UnmatchedMovementsList.vue
  frontend/app/src/composables/history/events/use-unmatched-asset-movements.ts
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

refactor(premium): refactor API initialization to use dynamic imports and promises
  frontend/app/src/components/premium/PremiumLoading.vue
  frontend/app/src/components/premium/PremiumLoadingError.vue
  frontend/app/src/main.ts
  frontend/app/src/premium/premium.ts
  frontend/app/src/premium/setup-interface.ts
  frontend/common/src/premium/index.ts
Due: frontend_unit, frontend_integration

chore(premium): bump COMPONENTS_VERSION to 15
  rotkehlchen/premium/premium.py
Due: backend

fix: update wording for unsupported events
  frontend/app/src/components/history/events/HistoryEventsList.vue
  frontend/app/src/locales/en.json
  frontend/app/src/locales/ru.json
Due: frontend_unit, frontend_integration

fix(frontend): repulling transactions issue
  frontend/app/src/components/history/events/tx/RepullingTransactionForm.vue
  frontend/app/src/components/history/events/tx/RepullingTransactionFormDialog.vue
  frontend/app/src/types/settings/frontend-settings-migrations.spec.ts
  frontend/app/tests/unit/fixtures/frontend_settings_v0.json
  frontend/app/tests/unit/fixtures/settings.json
Due: frontend_unit, frontend_integration

fix(frontend): allow repulling all chains
  docs/changelog.rst
  frontend/app/src/components/dialogs/BigDialog.vue
  frontend/app/src/components/history/events/HistoryEventsAction.vue
  frontend/app/src/components/history/events/dialog-types.ts
  frontend/app/src/components/history/events/tx/RepullingTransactionForm.vue
  frontend/app/src/components/history/events/tx/RepullingTransactionFormDialog.vue
  frontend/app/src/composables/history/events/tx/use-repulling-transaction-form.spec.ts
  frontend/app/src/composables/history/events/tx/use-repulling-transaction-form.ts
  frontend/app/src/composables/history/events/use-history-events-actions.spec.ts
  frontend/app/src/composables/history/events/use-history-events-actions.ts
  frontend/app/src/locales/en.json
  frontend/app/src/modules/history/management/forms/form-guards.ts
  frontend/app/src/types/history/events/index.ts
  frontend/app/src/utils/history/events.ts
Due: frontend_unit, frontend_integration

Small perf improvements
  rotkehlchen/api/services/transactions.py
  rotkehlchen/chain/aggregator.py
Due: backend

feat(frontend): asset movement amount tolerance setting
  frontend/app/src/components/history/events/AssetMovementMatchingSettingsMenu.vue
  frontend/app/src/components/history/events/MatchAssetMovementsDialog.vue
  frontend/app/src/composables/api/settings/settings-api.spec.ts
  frontend/app/src/data/defaults.ts
  frontend/app/src/data/factories.ts
  frontend/app/src/locales/en.json
  frontend/app/src/store/settings/general.ts
  frontend/app/src/types/user.ts
  frontend/app/tests/unit/fixtures/settings.json
Due: frontend_unit, frontend_integration

fix: based on the review
  frontend/app/src/composables/history/events/tx/use-repulling-transaction-form.spec.ts
  frontend/app/src/composables/history/events/tx/use-repulling-transaction-form.ts
Due: frontend_unit, frontend_integration

fix(frontend): some small things
  frontend/app/src/components/NavigationMenu.vue
  frontend/app/src/components/NavigationMenuItem.vue
  frontend/app/src/components/helper/CopyTooltip.vue
  frontend/app/src/modules/amount-display/components/AssetValueDisplay.vue
  frontend/app/src/pages/balances/exchange/[[exchange]].vue
Due: frontend_unit, frontend_integration

fix(ci): improve error annotation in e2e tests workflow
  .github/workflows/task_e2e_tests.yml
Due: none

chore(frontend): upgrade @rotki/ui-library to v2.11.2
  frontend/app/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

chore(frontend): update dependencies
  frontend/app/package.json
  frontend/app/src/components/accounts/blockchain/ChainSelect.vue
  frontend/app/tsconfig.vitest.json
  frontend/app/typed-router.d.ts
  frontend/common/package.json
  frontend/dev-proxy/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

chore(frontend): update type definitions for session and local storage usage
  frontend/app/src/composables/dynamic-messages.ts
  frontend/app/src/composables/session/sync.ts
  frontend/app/src/composables/update-message.ts
Due: frontend_unit, frontend_integration

chore(frontend): update vitest to v4
  frontend/app/package.json
  frontend/app/src/composables/history/events/use-history-events-actions.spec.ts
  frontend/app/src/modules/api/request-queue/queue.spec.ts
  frontend/app/tests/unit/setup-files/setup.ts
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

feat(devtools): add Rotki Async Task Tracker for DevTools integration
  frontend/app/electron/main/window-manager.ts
  tools/chrome-task-tracker/background.js
  tools/chrome-task-tracker/devtools.html
  tools/chrome-task-tracker/devtools.js
  tools/chrome-task-tracker/jsconfig.json
  tools/chrome-task-tracker/manifest.json
  tools/chrome-task-tracker/panel.html
  tools/chrome-task-tracker/panel.js
  tools/chrome-task-tracker/types/chrome.d.ts
Due: frontend_unit, frontend_integration

feat: table filter chip groupping
  frontend/app/src/components/table-filter/SelectionChip.vue
  frontend/app/src/components/table-filter/TableFilter.vue
  frontend/app/src/components/table-filter/composables/use-chip-grouping.spec.ts
  frontend/app/src/components/table-filter/composables/use-chip-grouping.ts
  frontend/app/src/components/table-filter/composables/use-filter-matchers.spec.ts
  frontend/app/src/components/table-filter/composables/use-filter-matchers.ts
  frontend/app/src/components/table-filter/composables/use-filter-selection.spec.ts
  frontend/app/src/components/table-filter/composables/use-filter-selection.ts
  frontend/app/src/components/table-filter/composables/use-matcher-utils.spec.ts
  frontend/app/src/components/table-filter/composables/use-matcher-utils.ts
  frontend/app/tests/unit/specs/components/table-filter/selection-chip.spec.ts
  frontend/app/tests/unit/specs/components/table-filter/table-filter.spec.ts
Due: frontend_unit, frontend_integration

fix: based on the review
  frontend/app/src/components/table-filter/SelectionChip.vue
  frontend/app/src/components/table-filter/TableFilter.vue
  frontend/app/src/components/table-filter/composables/use-chip-grouping.ts
  frontend/app/src/components/table-filter/composables/use-filter-selection.spec.ts
  frontend/app/src/components/table-filter/composables/use-filter-selection.ts
  frontend/app/tests/unit/specs/components/table-filter/selection-chip.spec.ts
  frontend/app/tests/unit/specs/components/table-filter/table-filter.spec.ts
Due: frontend_unit, frontend_integration

feat(frontend): show repulled transactions
  docs/changelog.rst
  frontend/app/src/components/history/events/dialog-types.ts
  frontend/app/src/components/history/events/tx/RepullingTransactionForm.vue
  frontend/app/src/components/history/events/tx/RepullingTransactionFormDialog.vue
  frontend/app/src/composables/history/events/tx/decoding.ts
  frontend/app/src/composables/history/events/tx/index.ts
  frontend/app/src/composables/history/events/tx/use-repulling-transaction-form.spec.ts
  frontend/app/src/composables/history/events/tx/use-repulling-transaction-form.ts
  frontend/app/src/composables/history/events/use-history-events-actions.spec.ts
  frontend/app/src/composables/history/events/use-history-events-actions.ts
  frontend/app/src/locales/en.json
  frontend/app/src/modules/history/events/composables/use-history-events-deletion.ts
  frontend/app/src/modules/sync-progress/components/SyncProgressHeader.vue
  frontend/app/src/types/history/events/index.ts
Due: frontend_unit, frontend_integration

fix: loading status issue
  frontend/app/src/components/table-filter/TableFilter.vue
  frontend/app/src/components/table-filter/composables/use-filter-selection.spec.ts
  frontend/app/src/composables/history/events/tx/use-transaction-sync.ts
  frontend/app/src/modules/history/events/composables/use-history-events-data.ts
  frontend/app/src/modules/history/events/use-history-events-status.ts
Due: frontend_unit, frontend_integration

chore: bump ui library
  frontend/app/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
