Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

fix: use asyncComputed to load the api keys
  docs/changelog.rst
  frontend/app/src/components/accounts/management/AccountForm.vue
  frontend/app/src/components/settings/api-keys/external/MoneriumAuth.vue
  frontend/app/src/composables/settings/api-keys/external/index.ts
  frontend/app/src/composables/settings/api-keys/external/monerium-oauth.ts
  frontend/app/src/modules/history/refresh/HistoryRefreshProtocolEvents.vue
Due: frontend_unit, frontend_integration

fix: use asyncComputed to load the api keys (#10933)
  docs/changelog.rst
  frontend/app/src/components/accounts/management/AccountForm.vue
  frontend/app/src/components/settings/api-keys/external/MoneriumAuth.vue
  frontend/app/src/composables/settings/api-keys/external/index.ts
  frontend/app/src/composables/settings/api-keys/external/monerium-oauth.ts
  frontend/app/src/modules/history/refresh/HistoryRefreshProtocolEvents.vue
Due: frontend_unit, frontend_integration

chore: minor improvement for docs
  rotkehlchen/data_import/utils.py
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/api/test_database.py
Due: backend

fix: improve UpgradeRow component messaging for free/premium
  frontend/app/src/components/history/UpgradeRow.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/fr.json
Due: frontend_unit, frontend_integration

Bump version: 1.41.0 → 1.41.1
  .bumpversion.cfg
  docs/conf.py
  frontend/app/package.json
  pyproject.toml
Due: frontend_unit, frontend_integration

Add 1.41.1 to the changelog
  docs/changelog.rst
Due: none

feat: Add support for custom Bitcoin Mempool APIs
  frontend/app/public/assets/images/services/mempool.png
  frontend/app/src/components/settings/general/rpc/RpcSettings.vue
  rotkehlchen/api/rest.py
  rotkehlchen/chain/bitcoin/btc/manager.py
  rotkehlchen/chain/bitcoin/manager.py
  rotkehlchen/chain/bitcoin/utils.py
  rotkehlchen/tests/api/test_settings.py
Due: backend, frontend_unit, frontend_integration

fix: Use correct default_factory in combine_nested_dicts_inplace
  rotkehlchen/utils/misc.py
Due: backend

fix: enhance error handling for premium subscription setup
  frontend/app/src/locales/en.json
  frontend/app/src/pages/api-keys/premium/index.vue
Due: frontend_unit, frontend_integration

Fix unhandled traceback from too many devices
  rotkehlchen/premium/sync.py
  rotkehlchen/tests/api/test_users.py
Due: backend

Push 1.41.1 changelog date to the 14th
  docs/changelog.rst
Due: none

fix: add error notification for tx decoding failure
  frontend/app/src/composables/history/events/tx/decoding.ts
Due: frontend_unit, frontend_integration

retry Etherscan API calls when free tier is temporarily blocked
  rotkehlchen/externalapis/etherscan.py
Due: backend

retry Etherscan API calls when free tier is temporarily blocked (#10948)
  rotkehlchen/externalapis/etherscan.py
Due: backend

Avoid race condition on monerium refresh logic
  rotkehlchen/externalapis/monerium.py
  rotkehlchen/tests/external_apis/test_monerium.py
Due: backend

Add device limit link placeholder
  rotkehlchen/externalapis/monerium.py
  rotkehlchen/premium/sync.py
  rotkehlchen/tests/api/test_users.py
Due: backend

Add test to ensure local mempool API is called correctly
  rotkehlchen/chain/bitcoin/manager.py
  rotkehlchen/tests/unit/test_bitcoin.py
Due: backend

Fix device limit error on existing user login
  rotkehlchen/premium/sync.py
  rotkehlchen/rotkehlchen.py
Due: backend

fix: improve error handling for premium device limit notifications
  frontend/app/shared/external-links.ts
  frontend/app/src/components/account-management/create-account/CreateAccountWizard.vue
  frontend/app/src/locales/en.json
  frontend/app/src/pages/api-keys/premium/index.vue
Due: frontend_unit, frontend_integration

Fix device limit error on existing user login (#10951)
  rotkehlchen/premium/sync.py
  rotkehlchen/rotkehlchen.py
Due: backend

feat: Add Lido CSM module
  docs/api.rst
  docs/changelog.rst
  frontend/app/public/assets/images/placeholder/table_no_data_placeholder.svg
  frontend/app/public/assets/images/placeholder/table_no_data_placeholder_dark.svg
  frontend/app/public/assets/images/protocols/lido_csm.svg
  frontend/app/src/composables/api/staking/lido-csm.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/modules/staking/lido-csm/LidoCsmPage.vue
  frontend/app/src/pages/staking/[[location]].vue
  frontend/app/src/types/staking.ts
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/ethereum/interfaces/balances.py
  rotkehlchen/chain/ethereum/modules/lido/decoder.py
  rotkehlchen/chain/ethereum/modules/lido_csm/__init__.py
  rotkehlchen/chain/ethereum/modules/lido_csm/balances.py
  rotkehlchen/chain/ethereum/modules/lido_csm/constants.py
  rotkehlchen/chain/ethereum/modules/lido_csm/metrics.py
  rotkehlchen/db/lido_csm.py
  rotkehlchen/db/minimized_schema.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v50_v51.py
  rotkehlchen/tests/api/test_lido_csm.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/db/test_lido_csm.py
  rotkehlchen/tests/unit/decoders/test_main.py
  rotkehlchen/tests/unit/test_lido_csm_balances.py
  rotkehlchen/tests/unit/test_lido_csm_metrics.py
Due: backend, frontend_unit, frontend_integration

migrate /balances/manual to use value instead of usd_value
  docs/api.rst
  rotkehlchen/accounting/structures/balance.py
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/balances/manual.py
  rotkehlchen/tests/api/test_balances.py
  rotkehlchen/tests/api/test_liquity.py
  rotkehlchen/tests/api/test_manually_tracked_balances.py
  rotkehlchen/tests/api/test_statistics.py
  rotkehlchen/tests/api/test_sushiswap.py
  rotkehlchen/tests/api/test_uniswap.py
  rotkehlchen/tests/api/test_user_assets.py
  rotkehlchen/tests/unit/test_blockchain_balances.py
  rotkehlchen/tests/unit/test_structures.py
Due: backend

migrate sushiswap and uniswap v2 balances to use `value` instead of `usd_value`
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/chain/ethereum/interfaces/ammswap/ammswap.py
  rotkehlchen/chain/ethereum/interfaces/ammswap/types.py
  rotkehlchen/tests/api/test_pickle.py
  rotkehlchen/tests/api/test_sushiswap.py
  rotkehlchen/tests/api/test_uniswap.py
Due: backend

add tests for assets/mappings endpoint
  colibri/src/api/assets.rs
  colibri/src/globaldb/assets.rs
  colibri/src/main.rs
  colibri/src/types.rs
Due: none

fix: remove unused import
  rotkehlchen/db/lido_csm.py
Due: backend

fix: correct binance range tracking
  rotkehlchen/exchanges/binance.py
Due: backend

Add basic asset movement matching
  rotkehlchen/db/cache.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tasks/events.py
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/unit/events/test_match_asset_movements.py
Due: backend

Add stakedao v2 support
  docs/changelog.rst
  rotkehlchen/chain/arbitrum_one/modules/stakedao/v2/__init__.py
  rotkehlchen/chain/arbitrum_one/modules/stakedao/v2/decoder.py
  rotkehlchen/chain/base/modules/stakedao/__init__.py
  rotkehlchen/chain/base/modules/stakedao/v2/__init__.py
  rotkehlchen/chain/base/modules/stakedao/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/stakedao/v2/__init__.py
  rotkehlchen/chain/ethereum/modules/stakedao/v2/decoder.py
  rotkehlchen/chain/evm/constants.py
  rotkehlchen/chain/evm/decoding/aave/v2/decoder.py
  rotkehlchen/chain/evm/decoding/beefy_finance/decoder.py
  rotkehlchen/chain/evm/decoding/morpho/decoder.py
  rotkehlchen/chain/evm/decoding/stakedao/v2/__init__.py
  rotkehlchen/chain/evm/decoding/stakedao/v2/constants.py
  rotkehlchen/chain/evm/decoding/stakedao/v2/decoder.py
  rotkehlchen/chain/evm/decoding/stakedao/v2/utils.py
  rotkehlchen/chain/evm/decoding/utils.py
  rotkehlchen/chain/optimism/modules/stakedao/__init__.py
  rotkehlchen/chain/optimism/modules/stakedao/v2/__init__.py
  rotkehlchen/chain/optimism/modules/stakedao/v2/decoder.py
  rotkehlchen/tests/unit/decoders/test_main.py
  rotkehlchen/tests/unit/decoders/test_stakedao_v2.py
  rotkehlchen/tests/unit/test_protocol_balances.py
  rotkehlchen/tests/utils/decoders.py
  rotkehlchen/types.py
Due: backend

Increase FREE_HISTORY_EVENTS_LIMIT from 100 to 1000
  rotkehlchen/constants/limits.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/api/test_history_base_entry.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
