Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

feat(history): show raw event type/subtype hint in dev
  frontend/app/src/modules/history/events/action-picker/HistoryEventActionPicker.vue
Due: frontend_unit, frontend_integration

fix(privacy): remove stray blue box on scramble toggle
  frontend/app/src/modules/settings/PrivacyModeDropdown.vue
Due: frontend_unit, frontend_integration

feat: decode GnosisDAO GIP-151 treasury redemption on gnosis chain
  docs/changelog.rst
  rotkehlchen/chain/gnosis/modules/gnosisdao/__init__.py
  rotkehlchen/chain/gnosis/modules/gnosisdao/constants.py
  rotkehlchen/chain/gnosis/modules/gnosisdao/decoder.py
  rotkehlchen/tests/unit/decoders/test_gnosisdao.py
Due: backend

fix: clean all resolver caches and invalidate ignored-assets cache on asset changes
  rotkehlchen/api/rest.py
  rotkehlchen/api/services/assets.py
  rotkehlchen/assets/spam_assets.py
  rotkehlchen/tests/api/test_user_assets.py
  rotkehlchen/tests/unit/test_data_updates.py
Due: backend

fix: reset api task kill switch after session takeover
  rotkehlchen/api/rest.py
  rotkehlchen/tests/api/test_user_authenticate.py
Due: backend

fix: paginate etherscan withdrawals and validated blocks correctly
  rotkehlchen/externalapis/etherscan.py
  rotkehlchen/externalapis/etherscan_like.py
  rotkehlchen/tests/external_apis/test_etherscan.py
Due: backend

perf: memoize history counts and scope ignored-action reads
  rotkehlchen/api/services/history.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tests/api/test_ignored_actions.py
  rotkehlchen/tests/db/test_history_events.py
Due: backend

Swap out dead link for integrations link
  README.md
Due: none

fix: finalize exact-page withdrawal pagination
  rotkehlchen/externalapis/etherscan.py
  rotkehlchen/tests/external_apis/test_etherscan.py
Due: backend

fix: keep takeover cancellation latched through SID rotation
  rotkehlchen/api/rest.py
  rotkehlchen/tests/api/test_user_authenticate.py
Due: backend

fix: reject history count cache entries across writes
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tests/db/test_history_events.py
Due: backend

fix: annotate touched_indices for mypy
  rotkehlchen/externalapis/etherscan.py
Due: backend

feat(starling): pass log tunables to colibri
  crates/starling-core/src/config.rs
Due: none

fix(starling): outwait starling's shutdown grace
  frontend/app/electron/main/starling-args.spec.ts
  frontend/app/electron/main/starling-args.ts
  frontend/app/electron/main/starling-handler.spec.ts
  frontend/app/electron/main/starling-handler.ts
Due: frontend_unit, frontend_integration

fix: silence backend errors during app quit
  frontend/app/electron/ipc-commands.ts
  frontend/app/electron/main/application.ts
  frontend/app/electron/main/window-manager.ts
  frontend/app/electron/preload/index.ts
  frontend/app/shared/ipc.ts
  frontend/app/src/App.vue
  frontend/app/src/locales/en.json
  frontend/app/src/modules/core/api/rotki-api.ts
  frontend/app/src/modules/shell/app/AppQuitting.vue
  frontend/app/src/modules/shell/app/use-app-quitting.ts
  frontend/app/src/modules/shell/app/use-backend-messages.ts
Due: frontend_unit, frontend_integration

test: cover the quitting state and request gating
  frontend/app/src/App.spec.ts
  frontend/app/src/modules/core/api/rotki-api.spec.ts
Due: frontend_unit, frontend_integration

fix: stop notifying on cancelled requests
  frontend/app/src/modules/accounts/use-blockchain-accounts.ts
  frontend/app/src/modules/accounts/use-eth-staking.ts
  frontend/app/src/modules/assets/prices/use-oracle-prices.ts
  frontend/app/src/modules/assets/prices/use-price-task-manager.ts
  frontend/app/src/modules/balances/blockchain/use-token-detection-api.ts
  frontend/app/src/modules/balances/exchanges/use-exchanges.ts
  frontend/app/src/modules/balances/manual/use-manual-balances.ts
  frontend/app/src/modules/balances/non-fungible/use-nft-price-management.ts
  frontend/app/src/modules/history/use-history-data-fetching.ts
  frontend/app/src/modules/session/use-periodic-data-fetcher.ts
  frontend/app/src/modules/staking/kraken/use-kraken-staking-operations.ts
  frontend/app/src/modules/statistics/use-statistics-data-fetching.ts
Due: frontend_unit, frontend_integration

fix: destroy the window at the end of quit
  frontend/app/electron/main/application.ts
  frontend/app/electron/main/window-manager.ts
Due: frontend_unit, frontend_integration

fix: resolve cancelled task starts as cancelled
  frontend/app/src/modules/core/api/request-queue/is-request-cancellation.ts
  frontend/app/src/modules/core/tasks/use-task-handler.spec.ts
  frontend/app/src/modules/core/tasks/use-task-handler.ts
Due: frontend_unit, frontend_integration

fix: release IPC handlers and ws server on quit
  frontend/app/electron/main/application.ts
  frontend/app/electron/main/ipc-setup.ts
  frontend/app/electron/main/wallet-bridge-ws-types.ts
  frontend/app/electron/main/ws.ts
Due: frontend_unit, frontend_integration

Allow Alchemy/Moralis as current price oracles and revert oracle dialog on failed save
  frontend/app/src/modules/settings/use-setting-model.spec.ts
  frontend/app/src/modules/settings/use-setting-model.ts
  rotkehlchen/inquirer.py
  rotkehlchen/oracles/structures.py
  rotkehlchen/tests/api/test_settings.py
Due: backend, frontend_unit, frontend_integration

Add test syncing frontend oracle choices with backend enums
  frontend/app/src/modules/settings/PriceOracleSettings.vue
  frontend/app/src/modules/settings/price-oracle-lists.spec.ts
  frontend/app/src/modules/settings/price-oracle-lists.ts
Due: frontend_unit, frontend_integration
