Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    paths:
      - rotkehlchen
  frontend_unit:
    paths:
      - electron-app
  frontend_integration:
    carryforward: true
    paths:
      - electron-app

Fixes asset require to use @ syntax
  electron-app/src/components/dashboard/ExchangeBox.vue
Due: frontend_unit, frontend_integration

Implements dashboard Improvements based on review notes
  electron-app/src/components/accounts/FiatBalances.vue
  electron-app/src/components/dashboard/ManualBalanceCardList.vue
  electron-app/src/components/dashboard/SummaryCard.vue
  electron-app/src/views/Dashboard.vue
Due: frontend_unit, frontend_integration

Aligns elements in dashboard and condenses card content
  electron-app/src/components/dashboard/SummaryCard.vue
  electron-app/src/views/Dashboard.vue
Due: frontend_unit, frontend_integration

Removes needless manualBalances getter
  electron-app/src/store/balances/getters.ts
Due: frontend_unit, frontend_integration

Fixes double-conversion in datatable totals rows
  electron-app/src/components/accounts/ManualBalancesList.vue
  electron-app/src/filters.ts
  electron-app/src/views/Dashboard.vue
Due: frontend_unit, frontend_integration

Includes Fiat Balance total in Dashboard Manual Balances summary
  electron-app/src/components/dashboard/ManualBalanceCardList.vue
  electron-app/src/views/Dashboard.vue
Due: frontend_unit, frontend_integration

Fixes double-conversion in dashboard manual balances
  electron-app/src/components/dashboard/ManualBalanceCardList.vue
  electron-app/src/store/balances/getters.ts
Due: frontend_unit, frontend_integration

Improves new Dashboard and fixes bugs
  electron-app/src/components/dashboard/BlockchainBalanceCardList.vue
  electron-app/src/components/dashboard/ManualBalanceCardList.vue
  electron-app/src/components/dashboard/OverallBalances.vue
  electron-app/src/components/display/AmountDisplay.vue
  electron-app/src/store/balances/getters.ts
  electron-app/src/views/Dashboard.vue
Due: frontend_unit, frontend_integration

Cleans up Dashboard
  electron-app/src/components/dashboard/BlockchainBalanceCardList.vue
  electron-app/src/components/dashboard/OverallBalances.vue
  electron-app/src/components/dashboard/SummaryCard.vue
Due: frontend_unit, frontend_integration

Fixes manual balances in Dashboard to round down
  electron-app/src/components/dashboard/ManualBalanceCardList.vue
  electron-app/src/filters.ts
Due: frontend_unit, frontend_integration

Fixes dashboard issue with rounding, adds capitalize filter, adds tests
  electron-app/src/components/accounts/ManualBalancesList.vue
  electron-app/src/components/dashboard/BlockchainBalanceCardList.vue
  electron-app/src/components/dashboard/ExchangeBox.vue
  electron-app/src/components/dashboard/ManualBalanceCardList.vue
  electron-app/src/components/dashboard/OverallBalances.vue
  electron-app/src/components/display/AmountDisplay.vue
  electron-app/src/filters.ts
  electron-app/src/views/Dashboard.vue
  electron-app/tests/common/helpers.ts
  electron-app/tests/e2e/fixtures/manual-balances.json
  electron-app/tests/e2e/pages/account-balances-page.ts
  electron-app/tests/e2e/pages/dashboard-page.ts
  electron-app/tests/e2e/specs/accounts-balances.spec.ts
Due: frontend_unit, frontend_integration

Fixes no-console errors in filters
  electron-app/src/filters.ts
Due: frontend_unit, frontend_integration

Fixes a frontend test to rounddown usdValue
  electron-app/tests/unit/components/display/amount-display.spec.ts
Due: frontend_unit, frontend_integration

Adds changelog for #967 (updated dashboard UI)
  docs/changelog.rst
Due: none

Cleans up welcome screen elements some more
  electron-app/src/components/AccountManagement.vue
  electron-app/src/components/CreateAccount.vue
  electron-app/src/components/UserDropdown.vue
  electron-app/src/components/dialogs/ConfirmDialog.vue
Due: frontend_unit, frontend_integration

Updates dependencies
  electron-app/package-lock.json
  electron-app/package.json
  electron-app/src/utils/premium.ts
  electron-app/tests/unit/components/account-management.spec.ts
  electron-app/tests/unit/components/settings/api-keys/external-services.spec.ts
  electron-app/tests/unit/components/settings/api-keys/service-key.spec.ts
Due: frontend_unit, frontend_integration

First tests with bitcoin.de v4 api
  rotkehlchen/exchanges/bitcoinde.py
  rotkehlchen/exchanges/manager.py
Due: backend

Can query paginated trades from bitcoin.de
  rotkehlchen/exchanges/bitcoinde.py
  rotkehlchen/typing.py
Due: backend

Fix bug in signature
  rotkehlchen/exchanges/bitcoinde.py
Due: backend

Implement query_balances for bitcoinde importer
  rotkehlchen/exchanges/bitcoinde.py
Due: backend

Make linter happy
  rotkehlchen/exchanges/bitcoinde.py
Due: backend

Cleans up Dashboard based on review notes
  electron-app/src/components/dashboard/BlockchainBalanceCardList.vue
  electron-app/src/components/dashboard/ExchangeBox.vue
  electron-app/src/components/dashboard/ManualBalanceCardList.vue
  electron-app/src/components/dashboard/OverallBalances.vue
  electron-app/src/components/dashboard/SummaryCard.vue
  electron-app/src/filters.ts
  electron-app/src/store/balances/getters.ts
  electron-app/src/views/Dashboard.vue
  electron-app/tests/e2e/pages/account-balances-page.ts
  electron-app/tests/e2e/specs/accounts-balances.spec.ts
Due: frontend_unit, frontend_integration

Make mypy happy
  rotkehlchen/exchanges/bitcoinde.py
Due: backend

Improves tests for new dashboard
  electron-app/src/filters.ts
  electron-app/tests/common/helpers.ts
  electron-app/tests/e2e/pages/account-balances-page.ts
  electron-app/tests/e2e/plugins/index.js
  electron-app/tests/e2e/tsconfig.json
Due: frontend_unit, frontend_integration

Removes unneeded comments in E2E test
  electron-app/tests/e2e/pages/account-balances-page.ts
Due: frontend_unit, frontend_integration

Cleans up AccountManagement classes & sub-component hierarchy
  electron-app/src/components/AccountManagement.vue
  electron-app/src/components/account-management/CreateAccount.vue
  electron-app/src/components/account-management/Login.vue
  electron-app/src/components/account-management/PremiumCredentials.vue
Due: frontend_unit, frontend_integration

Add ICONOMI exchange (query_balances only for now)
  rotkehlchen/exchanges/iconomi.py
Due: backend

Updates new dashboard based on review notes
  electron-app/src/components/dashboard/BlockchainBalanceCardList.vue
  electron-app/src/components/dashboard/ExchangeBox.vue
  electron-app/src/components/dashboard/ExchangeBoxNew.vue
  electron-app/src/components/dashboard/OverallBalances.vue
  electron-app/src/store/balances/getters.ts
  electron-app/src/views/Dashboard.vue
Due: frontend_unit, frontend_integration

Adjusted some font-weights
  electron-app/src/components/dashboard/BlockchainBalanceCardList.vue
  electron-app/src/components/dashboard/ExchangeBoxNew.vue
  electron-app/src/components/dashboard/ManualBalanceCardList.vue
  electron-app/src/components/dashboard/SummaryCard.vue
  electron-app/src/views/Dashboard.vue
Due: frontend_unit, frontend_integration
