Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Implement new AssetMovement class
  rotkehlchen/constants/location_details.py
  rotkehlchen/db/history_events.py
  rotkehlchen/history/events/structures/asset_movement.py
  rotkehlchen/history/events/structures/base.py
Due: backend

Fix serialization of balances
  rotkehlchen/api/rest.py
  rotkehlchen/tests/api/test_balances.py
Due: backend

Remove polars warning from tests
  rotkehlchen/tests/conftest.py
Due: backend

refactor: remove some unused code
  frontend/app/src/composables/filters/kraken-staking.ts
  frontend/app/src/composables/utils/useEmptyOrSome/index.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/types/addresses.ts
  frontend/app/src/types/api/chains.ts
  frontend/app/src/types/blockchain/chains.ts
  frontend/app/src/types/defi/overview.ts
  frontend/app/src/types/history/events/index.ts
  frontend/app/src/types/settings/frontend-settings.ts
  frontend/app/src/types/tags.ts
  frontend/app/src/utils/calculation.ts
  frontend/app/src/utils/prices.ts
  frontend/app/src/utils/setup-formatter.ts
  frontend/app/src/utils/tags.ts
Due: frontend_unit, frontend_integration

refactor: remove some unused code (#9031)
  frontend/app/src/composables/filters/kraken-staking.ts
  frontend/app/src/composables/utils/useEmptyOrSome/index.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/types/addresses.ts
  frontend/app/src/types/api/chains.ts
  frontend/app/src/types/blockchain/chains.ts
  frontend/app/src/types/defi/overview.ts
  frontend/app/src/types/history/events/index.ts
  frontend/app/src/types/settings/frontend-settings.ts
  frontend/app/src/types/tags.ts
  frontend/app/src/utils/calculation.ts
  frontend/app/src/utils/prices.ts
  frontend/app/src/utils/setup-formatter.ts
  frontend/app/src/utils/tags.ts
Due: frontend_unit, frontend_integration

refactor: remove some unused code and break some circular dependencies
  frontend/app/src/components/history/events/EventProtocolCacheRefreshStatusDetails.vue
  frontend/app/src/components/staking/eth/EthValidatorCombinedFilter.vue
  frontend/app/src/composables/assets/newly-detected-tokens.ts
  frontend/app/src/composables/filters/asset-movement.ts
  frontend/app/src/composables/filters/events.ts
  frontend/app/src/composables/filters/manual-balances.ts
  frontend/app/src/composables/filters/trades.ts
  frontend/app/src/composables/session/settings.ts
  frontend/app/src/composables/session/use-items-per-page.ts
  frontend/app/src/composables/staking/kraken-events.ts
  frontend/app/src/composables/use-pagination-filter/index.ts
  frontend/app/src/composables/user/account.ts
  frontend/app/src/composables/user/use-logged-user-identifier.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/main.ts
  frontend/app/src/store/blockchain/accounts/migrate.ts
  frontend/app/src/store/blockchain/index.ts
  frontend/app/src/store/session/index.ts
  frontend/app/src/store/settings/frontend.ts
  frontend/app/src/types/filtering.ts
  frontend/app/src/utils/assets.ts
  frontend/app/src/utils/blockchain/accounts/create-account-with-balance.ts
  frontend/app/src/utils/blockchain/accounts/create.ts
  frontend/app/tests/unit/specs/composables/staking/eth2.spec.ts
Due: frontend_unit, frontend_integration

remove match_main_currency flag in price query
  rotkehlchen/api/rest.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/utils.py
  rotkehlchen/chain/ethereum/oracles/uniswap.py
  rotkehlchen/externalapis/coingecko.py
  rotkehlchen/externalapis/cryptocompare.py
  rotkehlchen/externalapis/defillama.py
  rotkehlchen/globaldb/manual_price_oracles.py
  rotkehlchen/globaldb/updates.py
  rotkehlchen/globaldb/upgrades/v9_v10.py
  rotkehlchen/inquirer.py
  rotkehlchen/interfaces.py
  rotkehlchen/tests/api/test_current_assets_price.py
  rotkehlchen/tests/external_apis/test_coingecko.py
  rotkehlchen/tests/external_apis/test_cryptocompare.py
  rotkehlchen/tests/external_apis/test_defillama.py
  rotkehlchen/tests/fixtures/accounting.py
  rotkehlchen/tests/unit/test_defi_oracles.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend

Use new AssetMovement class in importers
  rotkehlchen/data_import/importers/binance.py
  rotkehlchen/data_import/importers/bitmex.py
  rotkehlchen/data_import/importers/bittrex.py
  rotkehlchen/data_import/importers/blockfi_transactions.py
  rotkehlchen/data_import/importers/blockpit.py
  rotkehlchen/data_import/importers/cointracking.py
  rotkehlchen/data_import/importers/cryptocom.py
  rotkehlchen/data_import/importers/nexo.py
  rotkehlchen/data_import/importers/uphold_transactions.py
  rotkehlchen/data_import/utils.py
  rotkehlchen/tests/utils/dataimport.py
Due: backend

feat(AmountDisplay): add subscript decimals support
  docs/changelog.rst
  frontend/app/src/components/display/amount/AmountDisplay.vue
  frontend/app/src/components/settings/AmountSettingsCategory.vue
  frontend/app/src/components/settings/general/AskUserUponSizeDiscrepancySetting.vue
  frontend/app/src/components/settings/general/amount/SubscriptToggle.vue
  frontend/app/src/locales/en.json
  frontend/app/src/store/settings/frontend.ts
  frontend/app/src/types/settings/frontend-settings.ts
  frontend/app/tests/unit/specs/data/subscript-number.spec.ts
  frontend/app/tests/unit/specs/store/settings/frontend.spec.ts
  frontend/app/tests/unit/specs/types/user.spec.ts
Due: frontend_unit, frontend_integration

broken link CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

feat: export and import blockchain accounts
  frontend/app/shared/external-links.ts
  frontend/app/src/components/accounts/AccountBalancesExportImport.vue
  frontend/app/src/components/inputs/TagInput.vue
  frontend/app/src/composables/blockchain/accounts/index.ts
  frontend/app/src/composables/blockchain/index.ts
  frontend/app/src/composables/blockchain/use-account-addition-notifications.ts
  frontend/app/src/locales/en.json
  frontend/app/src/main.ts
  frontend/app/src/pages/balances/blockchain/[[tab]].vue
  frontend/app/src/store/session/tags.ts
Due: frontend_unit, frontend_integration

fix: adjust latest prices zod schema fix query errors
  frontend/app/src/composables/balances/index.ts
  frontend/app/src/store/balances/prices.ts
  frontend/app/src/types/prices.ts
  frontend/app/tests/unit/specs/components/display/amount-display.spec.ts
  frontend/app/tests/unit/specs/store/balances/aggregated.spec.ts
  frontend/app/tests/unit/specs/store/balances/manual.spec.ts
  frontend/app/tests/unit/specs/store/balances/prices.spec.ts
  frontend/app/tests/unit/specs/store/blockchain/blockchain-store.spec.ts
Due: frontend_unit, frontend_integration

refactor: rename cypress test to cy.ts from spec.ts
  .github/workflows/task_e2e_tests.yml
  frontend/app/cypress.config.ts
  frontend/app/tests/e2e/specs/app/account-creation.cy.ts
  frontend/app/tests/e2e/specs/app/api-keys.cy.ts
  frontend/app/tests/e2e/specs/app/assets.cy.ts
  frontend/app/tests/e2e/specs/app/defi.cy.ts
  frontend/app/tests/e2e/specs/app/settings/account.cy.ts
  frontend/app/tests/e2e/specs/app/settings/accounting.cy.ts
  frontend/app/tests/e2e/specs/app/settings/general.cy.ts
  frontend/app/tests/e2e/specs/app/settings/rpc.cy.ts
  frontend/app/tests/e2e/specs/balances/blockchain-balances.cy.ts
  frontend/app/tests/e2e/specs/balances/manual-balances.cy.ts
  frontend/app/tests/e2e/specs/history/trade-history.cy.ts
  frontend/app/vitest.config.ts
Due: frontend_unit, frontend_integration

chore: allow vitest to run specs from all dirs
  frontend/app/package.json
Due: frontend_unit, frontend_integration

Fix event_type typing in data importers
  rotkehlchen/data_import/importers/bitmex.py
  rotkehlchen/data_import/importers/bittrex.py
  rotkehlchen/data_import/importers/blockpit.py
  rotkehlchen/data_import/importers/cointracking.py
  rotkehlchen/data_import/importers/cryptocom.py
Due: backend

Update ExchangeInterface and Bitmex for new AssetMovement
  rotkehlchen/api/rest.py
  rotkehlchen/exchanges/bitmex.py
  rotkehlchen/exchanges/coinbaseprime.py
  rotkehlchen/exchanges/exchange.py
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/exchanges/manager.py
  rotkehlchen/tests/exchanges/test_bitmex.py
  rotkehlchen/tests/exchanges/test_coinbaseprime.py
  rotkehlchen/tests/utils/history.py
Due: backend

chore: remove redundant words in comment
  docs/api.rst
  rotkehlchen/chain/ethereum/modules/uniswap/v2/common.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/exchanges/data_structures.py
Due: backend

Add Giveth decoder for Optimism
  frontend/app/public/assets/images/protocols/giveth.jpg
  rotkehlchen/accounting/constants.py
  rotkehlchen/chain/optimism/modules/giveth/__init__.py
  rotkehlchen/chain/optimism/modules/giveth/constants.py
  rotkehlchen/chain/optimism/modules/giveth/decoder.py
  rotkehlchen/tests/conftest.py
  rotkehlchen/tests/unit/decoders/test_giveth.py
Due: backend, frontend_unit, frontend_integration

typing:api/tests_t-u-y
  rotkehlchen/tests/api/test_tags.py
  rotkehlchen/tests/api/test_trades.py
  rotkehlchen/tests/api/test_uniswap.py
  rotkehlchen/tests/api/test_user_assets.py
  rotkehlchen/tests/api/test_user_evm_tokens.py
  rotkehlchen/tests/api/test_user_notes.py
  rotkehlchen/tests/api/test_users.py
  rotkehlchen/tests/api/test_yearn_vaults.py
  rotkehlchen/tests/fixtures/rotkehlchen.py
  rotkehlchen/tests/utils/globaldb.py
Due: backend
