Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

feat(frontend): state plan limits in user numbers
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/locales/ru.json
  frontend/app/src/message-key.ts
  frontend/app/src/modules/accounts/blockchain/eth2/Eth2ValidatorLimitRow.vue
  frontend/app/src/modules/accounts/blockchain/eth2/Eth2ValidatorLimitTooltip.vue
  frontend/app/src/modules/accounts/management/AccountDialog.spec.ts
  frontend/app/src/modules/accounts/management/AccountDialog.vue
  frontend/app/src/modules/assets/amount-display/use-count-formatter.ts
  frontend/app/src/modules/balances/nft/NftGallery.vue
  frontend/app/src/modules/balances/nft/NftGalleryPremiumAlert.vue
  frontend/app/src/modules/history/UpgradeRow.spec.ts
  frontend/app/src/modules/history/UpgradeRow.vue
  frontend/app/src/modules/history/events/UnmatchedBridgesList.vue
  frontend/app/src/modules/history/events/UnmatchedMatchDisabledAlert.spec.ts
  frontend/app/src/modules/history/events/UnmatchedMatchDisabledAlert.vue
  frontend/app/src/modules/history/events/UnmatchedMovementsList.vue
  frontend/app/src/modules/history/events/components/HistoryEventsVirtualTable.vue
  frontend/app/src/modules/notes/UserNotesList.vue
  frontend/app/src/modules/notes/use-user-notes-list.ts
  frontend/app/src/modules/premium/PlanLimitMessage.spec.ts
  frontend/app/src/modules/premium/PlanLimitMessage.vue
  frontend/app/src/modules/premium/use-plan-upgrade-link.ts
  frontend/app/src/modules/reports/ProfitLossEvents.vue
  frontend/app/src/modules/reports/ReportsTable.vue
  frontend/app/src/modules/reports/report-utils.spec.ts
  frontend/app/src/modules/reports/report-utils.ts
Due: frontend_unit, frontend_integration

fix(frontend): stop session work after logout
  frontend/app/src/modules/assets/prices/use-price-refresh.session.spec.ts
  frontend/app/src/modules/assets/prices/use-price-refresh.ts
  frontend/app/src/modules/auth/unlock-flow/use-unlock-flow.ts
  frontend/app/src/modules/auth/use-logout.ts
  frontend/app/src/modules/auth/use-users-api.ts
  frontend/app/src/modules/balances/use-balance-fetching.spec.ts
  frontend/app/src/modules/balances/use-balance-fetching.ts
  frontend/app/src/modules/core/api/response-handlers.ts
  frontend/app/src/modules/core/api/rotki-api.spec.ts
  frontend/app/src/modules/core/api/rotki-api.ts
  frontend/app/src/modules/core/api/session-gate.ts
  frontend/app/src/modules/core/api/types.ts
  frontend/app/src/modules/core/session/session-lifecycle.spec.ts
  frontend/app/src/modules/core/session/session-lifecycle.ts
  frontend/app/src/modules/session/api/use-session-api.ts
  frontend/app/src/modules/session/use-session-state-cleaner.ts
  frontend/app/src/modules/settings/api/use-settings-api.ts
  frontend/app/src/modules/shell/app/store-debug-plugin.spec.ts
  frontend/app/src/modules/shell/app/store-debug-plugin.ts
  frontend/app/src/modules/shell/app/use-info-api.ts
  frontend/app/src/modules/task-center/use-native-task.spec.ts
  frontend/app/src/modules/task-center/use-native-task.ts
  frontend/app/tests/contract/setup.ts
  frontend/app/tests/unit/setup-files/setup.ts
Due: frontend_unit, frontend_integration

fix(frontend): resume a reload on the open page
  frontend/app/src/modules/auth/unlock-flow/use-session-ready.spec.ts
  frontend/app/src/modules/auth/unlock-flow/use-session-ready.ts
  frontend/app/src/modules/auth/use-auto-login.spec.ts
  frontend/app/src/modules/auth/use-auto-login.ts
  frontend/app/src/modules/shell/layout/login-redirect.spec.ts
  frontend/app/src/modules/shell/layout/login-redirect.ts
  frontend/app/src/modules/shell/layout/use-navigation.spec.ts
  frontend/app/src/modules/shell/layout/use-navigation.ts
  frontend/app/src/router/index.ts
  frontend/app/tests/e2e/specs/app/session-resume.spec.ts
Due: frontend_unit, frontend_integration

Bump dependencies
  pyproject.toml
  uv.lock
Due: none

fix(frontend): list every allow-listed asset
  frontend/app/src/locales/en.json
  frontend/app/src/modules/shell/components/inputs/AssetSelect.spec.ts
  frontend/app/src/modules/shell/components/inputs/AssetSelect.vue
  frontend/app/src/modules/shell/components/inputs/use-asset-allow-list.ts
  frontend/app/src/modules/shell/components/inputs/use-asset-search.spec.ts
  frontend/app/src/modules/shell/components/inputs/use-asset-search.ts
Due: frontend_unit, frontend_integration

fix(frontend): rank owned assets by current value
  frontend/app/src/modules/assets/use-asset-select-info.ts
  frontend/app/src/modules/premium/premium-apis.ts
  frontend/app/src/modules/premium/rank-owned-assets.spec.ts
  frontend/app/src/modules/premium/rank-owned-assets.ts
  frontend/app/src/modules/shell/components/inputs/use-asset-allow-list.ts
  frontend/app/src/modules/shell/components/inputs/use-asset-search.spec.ts
Due: frontend_unit, frontend_integration

fix(starling): readable exit text, single io error
  crates/starling-core/src/error.rs
  crates/starling-core/src/lifecycle.rs
Due: none

fix(electron): match the core by its exact name
  frontend/app/shared/starling/starling-paths.spec.ts
  frontend/app/shared/starling/starling-paths.ts
Due: frontend_unit, frontend_integration

fix(electron): report updated and blocked binaries
  frontend/app/electron/main/starling-binary-report.ts
  frontend/app/electron/main/starling-handler.spec.ts
  frontend/app/electron/main/starling-handler.ts
  frontend/app/electron/main/starling-mcp.ts
  frontend/app/shared/starling/binary-health.spec.ts
  frontend/app/shared/starling/binary-health.ts
  frontend/app/shared/starling/binary-types.ts
  frontend/app/src/locales/en.json
  frontend/app/src/modules/shell/app/use-missing-binary-copy.spec.ts
  frontend/app/src/modules/shell/app/use-missing-binary-copy.ts
  frontend/app/src/modules/shell/components/error/ErrorScreen.vue
  frontend/app/src/modules/shell/components/error/MissingBinaryScreen.spec.ts
  frontend/app/src/modules/shell/components/error/MissingBinaryScreen.vue
  frontend/app/tests/unit/fixtures/unusable-binary.ts
Due: frontend_unit, frontend_integration

Query ENS resolver address via RPC nodes first
  rotkehlchen/chain/ethereum/node_inquirer.py
  rotkehlchen/tests/unit/test_ens.py
Due: backend

fix(historical): flag unprocessed never-run DBs
  rotkehlchen/balances/historical.py
  rotkehlchen/tests/api/test_historical_balances.py
  rotkehlchen/tests/unit/test_historical_balances.py
Due: backend

Bump linting and multi-thread mypy
  pyproject.toml
  rotkehlchen/globaldb/handler.py
  rotkehlchen/history/events/structures/swap.py
  rotkehlchen/inquirer.py
  rotkehlchen/tests/unit/test_chains_aggregator.py
  uv.lock
Due: backend

fix(frontend): stay quiet on a cancelled fetch
  frontend/app/src/modules/assets/use-asset-icon-check.spec.ts
  frontend/app/src/modules/assets/use-asset-icon-check.ts
  frontend/app/src/modules/balances/use-snapshot-schedule.ts
  frontend/app/src/modules/banks/use-banks.spec.ts
  frontend/app/src/modules/banks/use-banks.ts
  frontend/app/src/modules/history/events/use-customized-event-duplicates.spec.ts
  frontend/app/src/modules/history/events/use-customized-event-duplicates.ts
  frontend/app/src/modules/history/events/use-unmatched-asset-movements.spec.ts
  frontend/app/src/modules/history/events/use-unmatched-asset-movements.ts
  frontend/app/src/modules/history/events/use-unmatched-bridge-transactions.spec.ts
  frontend/app/src/modules/history/events/use-unmatched-bridge-transactions.ts
  frontend/app/src/modules/history/internal-tx-conflicts/use-internal-tx-conflicts.ts
  frontend/app/src/modules/session/use-scheduler-state.ts
  frontend/app/src/modules/settings/api-keys/external/use-external-api-keys.ts
  frontend/app/src/modules/tags/use-tag-operations.ts
Due: frontend_unit, frontend_integration

fix(frontend): clear a session after its callers
  frontend/app/src/modules/auth/use-logout.spec.ts
  frontend/app/src/modules/auth/use-logout.ts
  frontend/app/src/modules/balances/api/use-blockchain-balances-api.ts
  frontend/app/src/modules/core/session/session-lifecycle.spec.ts
  frontend/app/src/modules/core/session/session-lifecycle.ts
  frontend/app/src/modules/core/tasks/use-task-handler.spec.ts
  frontend/app/src/modules/core/tasks/use-task-handler.ts
  frontend/app/src/modules/session/use-scheduler-state.spec.ts
  frontend/app/src/modules/session/use-scheduler-state.ts
  frontend/app/src/modules/session/use-session-state-cleaner.spec.ts
  frontend/app/src/modules/session/use-session-state-cleaner.ts
  frontend/app/src/modules/settings/api/use-external-services-api.ts
  frontend/app/src/modules/settings/suggestions/use-settings-suggestions.spec.ts
  frontend/app/src/modules/settings/suggestions/use-suggestion-probes.ts
Due: frontend_unit, frontend_integration

fix(frontend): clear user caches at logout
  frontend/app/src/modules/accounts/address-book/use-address-name-resolution.spec.ts
  frontend/app/src/modules/accounts/address-book/use-address-name-resolution.ts
  frontend/app/src/modules/assets/prices/use-historic-price-cache.spec.ts
  frontend/app/src/modules/assets/prices/use-historic-price-cache.ts
Due: frontend_unit, frontend_integration

fix(frontend): settle tasks the backend dropped
  frontend/app/src/modules/core/tasks/use-task-monitor.spec.ts
  frontend/app/src/modules/core/tasks/use-task-monitor.ts
Due: frontend_unit, frontend_integration

fix(frontend): save pending settings at logout
  frontend/app/src/modules/auth/use-logout.spec.ts
  frontend/app/src/modules/auth/use-logout.ts
  frontend/app/src/modules/core/session/session-lifecycle.ts
  frontend/app/src/modules/settings/use-setting-model.spec.ts
  frontend/app/src/modules/settings/use-setting-model.ts
Due: frontend_unit, frontend_integration

fix(frontend): quiet cancelled address name lookups
  frontend/app/src/modules/accounts/address-book/use-address-name-resolution.spec.ts
  frontend/app/src/modules/accounts/address-book/use-address-name-resolution.ts
Due: frontend_unit, frontend_integration

fix(frontend): write rows per page once
  frontend/app/src/modules/settings/use-items-per-page-writer.spec.ts
  frontend/app/src/modules/settings/use-items-per-page-writer.ts
  frontend/app/src/modules/settings/use-settings-operations.ts
Due: frontend_unit, frontend_integration

fix(frontend): ignore the logout's store reset
  frontend/app/src/modules/balances/use-balance-watchers.spec.ts
  frontend/app/src/modules/balances/use-balance-watchers.ts
  frontend/app/src/modules/history/use-history-watchers.spec.ts
  frontend/app/src/modules/history/use-history-watchers.ts
  frontend/app/src/modules/staking/eth/use-eth-validator-watchers.ts
Due: frontend_unit, frontend_integration

refactor(frontend): declare the login snapshot upfront
  frontend/app/src/locales/en.json
  frontend/app/src/modules/balances/use-balance-fetching.spec.ts
  frontend/app/src/modules/balances/use-balance-fetching.ts
  frontend/app/src/modules/balances/use-blockchain-balances.spec.ts
  frontend/app/src/modules/balances/use-blockchain-balances.ts
  frontend/app/src/modules/task-center/use-activity-batch.spec.ts
  frontend/app/src/modules/task-center/use-activity-batch.ts
  frontend/app/tests/e2e/specs/app/task-dock.spec.ts
  frontend/app/tests/unit/utils/mocks/native-task.ts
Due: frontend_unit, frontend_integration

refactor(frontend): declare history children upfront
  frontend/app/src/modules/history/events/tx/use-refresh-transactions.spec.ts
  frontend/app/src/modules/history/events/tx/use-refresh-transactions.ts
  frontend/app/src/modules/history/events/tx/use-transaction-sync.spec.ts
  frontend/app/src/modules/history/events/tx/use-transaction-sync.ts
  frontend/app/src/modules/history/events/tx/use-undecoded-transactions-status.ts
Due: frontend_unit, frontend_integration

test(frontend): wait out the backend logout
  frontend/app/tests/e2e/specs/app/session-resume.spec.ts
Due: frontend_unit, frontend_integration

refactor(frontend): run price refreshes on a lane
  frontend/app/src/modules/assets/prices/use-fetch-prices.spec.ts
  frontend/app/src/modules/assets/prices/use-fetch-prices.ts
  frontend/app/src/modules/assets/prices/use-price-refresh.spec.ts
  frontend/app/src/modules/assets/prices/use-price-refresh.ts
  frontend/app/src/modules/assets/prices/use-price-task-manager.spec.ts
  frontend/app/src/modules/assets/prices/use-price-task-manager.ts
  frontend/app/src/modules/task-center/core/orchestrator/spec.ts
  frontend/app/src/modules/task-center/use-task-orchestrator.ts
Due: frontend_unit, frontend_integration

fix(frontend): keep /messages inside the session
  frontend/app/src/modules/core/messaging/index.spec.ts
  frontend/app/src/modules/core/messaging/index.ts
  frontend/app/src/modules/session/api/use-session-api.spec.ts
  frontend/app/src/modules/session/api/use-session-api.ts
  frontend/app/src/modules/shell/app/use-monitor-service.spec.ts
  frontend/app/src/modules/shell/app/use-monitor-service.ts
Due: frontend_unit, frontend_integration

fix(frontend): apply scheduler period changes
  frontend/app/src/modules/shell/app/schedulers/use-balance-refresh-scheduler.spec.ts
  frontend/app/src/modules/shell/app/schedulers/use-balance-refresh-scheduler.ts
  frontend/app/src/modules/shell/app/schedulers/use-interval-scheduler.spec.ts
  frontend/app/src/modules/shell/app/schedulers/use-interval-scheduler.ts
  frontend/app/src/modules/shell/app/schedulers/use-periodic-polling-scheduler.spec.ts
  frontend/app/src/modules/shell/app/schedulers/use-periodic-polling-scheduler.ts
Due: frontend_unit, frontend_integration

fix(frontend): drop notifications after logout
  frontend/app/src/modules/auth/use-logout.spec.ts
  frontend/app/src/modules/auth/use-logout.ts
  frontend/app/src/modules/core/notifications/use-notification-dispatcher.spec.ts
  frontend/app/src/modules/core/notifications/use-notification-dispatcher.ts
  frontend/app/src/modules/core/notifications/use-notifications.spec.ts
  frontend/app/src/modules/core/notifications/use-notifications.ts
Due: frontend_unit, frontend_integration

Merge duplicate internal tx replacement tests
  rotkehlchen/tests/unit/test_evm_transactions.py
Due: backend

Fold L1 fee repair test into its parametrization
  rotkehlchen/tests/unit/test_optimism_transactions.py
Due: backend

Parametrize data update rotki version limit tests
  rotkehlchen/tests/unit/test_data_updates.py
Due: backend

Remove redundant aave v2 disable collateral test
  rotkehlchen/tests/unit/decoders/test_aave_v2.py
Due: backend

Replace live block by number test with a mocked one
  rotkehlchen/tests/unit/test_ethereum_inquirer.py
Due: backend

Merge hyperliquid range key test into success test
  rotkehlchen/tests/unit/test_hyperliquid_manager.py
Due: backend

Remove overmocked lido CSM balances test
  rotkehlchen/tests/unit/test_lido_csm_balances.py
Due: backend

Fix misleading internal tx conflict ordering test
  rotkehlchen/tests/unit/test_internal_tx_conflicts.py
Due: backend

Remove assertion-less informational events test
  rotkehlchen/tests/unit/test_history_events.py
Due: backend

Remove permanently skipped cryptocompare test
  rotkehlchen/tests/unit/test_assets.py
Due: backend

Simplify datadir permissions test
  rotkehlchen/tests/unit/test_app.py
Due: backend

Make makerdao get_vaults test check its vaults
  rotkehlchen/tests/unit/test_makerdao.py
  rotkehlchen/tests/utils/makerdao.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
