Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Remove queries to zerion sdk
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/ethereum/defi/chad.py
  rotkehlchen/chain/ethereum/defi/zerionsdk.py
  rotkehlchen/chain/evm/tokens.py
  rotkehlchen/tests/api/blockchain/test_base.py
  rotkehlchen/tests/api/test_balances.py
  rotkehlchen/tests/integration/test_blockchain.py
  rotkehlchen/tests/unit/test_blockchain_balances.py
  rotkehlchen/tests/unit/test_evm_balances.py
  rotkehlchen/tests/unit/test_zerionsdk.py
  rotkehlchen/tests/utils/blockchain.py
  rotkehlchen/tests/utils/rotkehlchen.py
Due: backend

Add new EvmSwapEvent class and api schema
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/rest_helpers/history_events.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/history_events.py
  rotkehlchen/history/events/structures/base.py
  rotkehlchen/history/events/structures/evm_swap.py
  rotkehlchen/history/events/structures/swap.py
  rotkehlchen/tests/api/test_history_base_entry.py
Due: backend

migrate trades to swap events for binance importer
  rotkehlchen/data_import/importers/binance.py
  rotkehlchen/tests/utils/dataimport.py
Due: backend

Use new AssetAmount when creating swap events
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/data_import/importers/binance.py
  rotkehlchen/data_import/importers/bisq_trades.py
  rotkehlchen/data_import/importers/bitcoin_tax.py
  rotkehlchen/data_import/importers/bitstamp.py
  rotkehlchen/data_import/importers/bittrex.py
  rotkehlchen/data_import/importers/blockfi_trades.py
  rotkehlchen/data_import/importers/blockpit.py
  rotkehlchen/data_import/importers/cointracking.py
  rotkehlchen/data_import/importers/cryptocom.py
  rotkehlchen/data_import/importers/kucoin.py
  rotkehlchen/data_import/importers/nexo.py
  rotkehlchen/data_import/importers/rotki_trades.py
  rotkehlchen/data_import/importers/shapeshift_trades.py
  rotkehlchen/data_import/importers/uphold_transactions.py
  rotkehlchen/db/upgrades/v47_v48.py
  rotkehlchen/exchanges/binance.py
  rotkehlchen/exchanges/bitcoinde.py
  rotkehlchen/exchanges/bitfinex.py
  rotkehlchen/exchanges/bitpanda.py
  rotkehlchen/exchanges/bitstamp.py
  rotkehlchen/exchanges/bybit.py
  rotkehlchen/exchanges/coinbase.py
  rotkehlchen/exchanges/coinbaseprime.py
  rotkehlchen/exchanges/gemini.py
  rotkehlchen/exchanges/htx.py
  rotkehlchen/exchanges/iconomi.py
  rotkehlchen/exchanges/independentreserve.py
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/exchanges/kucoin.py
  rotkehlchen/exchanges/okx.py
  rotkehlchen/exchanges/poloniex.py
  rotkehlchen/exchanges/woo.py
  rotkehlchen/history/events/structures/swap.py
  rotkehlchen/tests/exchanges/test_kraken.py
  rotkehlchen/types.py
Due: backend

Improve code related to adjustments in kraken
  rotkehlchen/exchanges/kraken.py
Due: backend

remove `query_trade_history` and `query_online_trade_history` from exchange interface
  rotkehlchen/exchanges/exchange.py
  rotkehlchen/tests/exchanges/test_manager.py
  rotkehlchen/tests/unit/test_tasks_manager.py
Due: backend

remove trades from historical balances query
  docs/api.rst
  rotkehlchen/balances/historical.py
  rotkehlchen/tests/api/test_historical_balances.py
Due: backend

Add comment to grouped history event query
  rotkehlchen/api/rest_helpers/history_events.py
Due: backend

remove asset movements autogenerated notes
  rotkehlchen/db/upgrades/v47_v48.py
  rotkehlchen/tests/data/v47_rotkehlchen.db
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

stashing progress
  rotkehlchen/exchanges/exchange.py
Due: backend

Avoid querying prices that will be later queried
  rotkehlchen/chain/evm/tokens.py
Due: backend

Use AssetAmount for fee in create_asset_movement_with_fee
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/data_import/importers/bitmex.py
  rotkehlchen/data_import/importers/cointracking.py
  rotkehlchen/db/upgrades/v45_v46.py
  rotkehlchen/exchanges/binance.py
  rotkehlchen/exchanges/bitfinex.py
  rotkehlchen/exchanges/bitmex.py
  rotkehlchen/exchanges/bitpanda.py
  rotkehlchen/exchanges/bitstamp.py
  rotkehlchen/exchanges/bybit.py
  rotkehlchen/exchanges/coinbase.py
  rotkehlchen/exchanges/coinbaseprime.py
  rotkehlchen/exchanges/htx.py
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/exchanges/kucoin.py
  rotkehlchen/exchanges/okx.py
  rotkehlchen/exchanges/poloniex.py
  rotkehlchen/exchanges/woo.py
  rotkehlchen/history/events/structures/asset_movement.py
  rotkehlchen/tests/exchanges/test_kraken.py
Due: backend

Sanitizing Rotki Backend Start-Up Arguments in Docker Entrypoint
  packaging/docker/entrypoint.py
Due: none

Added changes from review:
  packaging/docker/entrypoint.py
Due: none

Remove the Fee type
  rotkehlchen/api/v1/fields.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/zksync_lite/manager.py
  rotkehlchen/chain/zksync_lite/structures.py
  rotkehlchen/data_import/importers/bitcoin_tax.py
  rotkehlchen/data_import/importers/bitmex.py
  rotkehlchen/data_import/importers/cryptocom.py
  rotkehlchen/data_import/utils.py
  rotkehlchen/exchanges/binance.py
  rotkehlchen/exchanges/bitmex.py
  rotkehlchen/exchanges/coinbase.py
  rotkehlchen/exchanges/data_structures.py
  rotkehlchen/exchanges/okx.py
  rotkehlchen/serialization/deserialize.py
  rotkehlchen/tests/api/test_data_purging.py
  rotkehlchen/tests/api/test_exchanges.py
  rotkehlchen/tests/api/test_history.py
  rotkehlchen/tests/api/test_locations.py
  rotkehlchen/tests/api/test_statistics.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/db/test_locations.py
  rotkehlchen/tests/exchanges/test_bitmex.py
  rotkehlchen/tests/exchanges/test_bitstamp.py
  rotkehlchen/tests/integration/test_zksynclite.py
  rotkehlchen/tests/unit/accounting/test_basic.py
  rotkehlchen/tests/unit/accounting/test_exchanges.py
  rotkehlchen/tests/unit/accounting/test_misc.py
  rotkehlchen/tests/unit/test_cost_basis.py
  rotkehlchen/tests/utils/accounting.py
  rotkehlchen/tests/utils/dataimport.py
  rotkehlchen/tests/utils/exchanges.py
  rotkehlchen/tests/utils/factories.py
  rotkehlchen/types.py
Due: backend

Sanitizing Rotki Backend Start-Up Arguments in Docker Entrypoint (#9807)
  packaging/docker/entrypoint.py
Due: none

Improve a bit time spent used converting trades
  rotkehlchen/db/upgrades/v47_v48.py
Due: backend

Improve trade type handling in get_swap_spend_receive
  rotkehlchen/data_import/importers/bisq_trades.py
  rotkehlchen/data_import/importers/bitstamp.py
  rotkehlchen/data_import/importers/bittrex.py
  rotkehlchen/data_import/importers/kucoin.py
  rotkehlchen/db/upgrades/v47_v48.py
  rotkehlchen/exchanges/binance.py
  rotkehlchen/exchanges/bitfinex.py
  rotkehlchen/exchanges/bitpanda.py
  rotkehlchen/exchanges/bitstamp.py
  rotkehlchen/exchanges/bybit.py
  rotkehlchen/exchanges/coinbase.py
  rotkehlchen/exchanges/gemini.py
  rotkehlchen/exchanges/htx.py
  rotkehlchen/exchanges/independentreserve.py
  rotkehlchen/exchanges/kucoin.py
  rotkehlchen/exchanges/okx.py
  rotkehlchen/exchanges/poloniex.py
  rotkehlchen/exchanges/woo.py
  rotkehlchen/history/events/structures/swap.py
Due: backend

Add post decoding swap processing
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/chain/evm/decoding/metamask/decoder.py
  rotkehlchen/chain/evm/decoding/pendle/decoder.py
  rotkehlchen/chain/evm/decoding/structures.py
  rotkehlchen/history/events/structures/evm_event.py
  rotkehlchen/history/events/structures/evm_swap.py
  rotkehlchen/history/events/structures/swap.py
  rotkehlchen/tests/api/test_history_base_entry.py
  rotkehlchen/tests/unit/decoders/test_llamazip.py
  rotkehlchen/tests/unit/decoders/test_metamask.py
  rotkehlchen/tests/unit/decoders/test_pendle.py
Due: backend

add: translate to es
  frontend/app/src/locales/es.json
Due: frontend_unit, frontend_integration

exclude related events when any contains an ignored asset
  rotkehlchen/balances/historical.py
  rotkehlchen/db/filtering.py
  rotkehlchen/db/history_events.py
  rotkehlchen/tests/api/test_historical_balances.py
Due: backend

docs: fix words
  frontend/app/src/locales/es.json
Due: frontend_unit, frontend_integration

Optimize query of history events
  rotkehlchen/db/history_events.py
Due: backend

Update swaps in tests for decoders using post decoding
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/ethereum/modules/oneinch/v1/decoder.py
  rotkehlchen/chain/evm/decoding/cowswap/decoder.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/chain/evm/decoding/llamazip/decoder.py
  rotkehlchen/chain/evm/decoding/metamask/decoder.py
  rotkehlchen/chain/evm/decoding/oneinch/decoder.py
  rotkehlchen/chain/evm/decoding/oneinch/v4/decoder.py
  rotkehlchen/chain/evm/decoding/open_ocean/decoder.py
  rotkehlchen/chain/evm/decoding/rainbow/decoder.py
  rotkehlchen/chain/evm/decoding/zerox/decoder.py
  rotkehlchen/tests/api/test_history_base_entry.py
  rotkehlchen/tests/unit/decoders/test_1inch.py
  rotkehlchen/tests/unit/decoders/test_cowswap.py
  rotkehlchen/tests/unit/decoders/test_llamazip.py
  rotkehlchen/tests/unit/decoders/test_metamask.py
  rotkehlchen/tests/unit/decoders/test_openocean.py
  rotkehlchen/tests/unit/decoders/test_paraswap_v6.py
  rotkehlchen/tests/unit/decoders/test_pendle.py
  rotkehlchen/tests/unit/decoders/test_rainbow.py
  rotkehlchen/tests/unit/decoders/test_uniswapv3.py
  rotkehlchen/tests/unit/decoders/test_zerox.py
Due: backend
