Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Address review comments
  rotkehlchen/api/services/transactions.py
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/chain/mixins/rpc_nodes.py
  rotkehlchen/chain/solana/node_inquirer.py
  rotkehlchen/db/updates.py
  rotkehlchen/tests/unit/test_data_updates.py
  rotkehlchen/tests/unit/test_rpc_node_runtime.py
Due: backend

More review comments
  rotkehlchen/api/services/transactions.py
  rotkehlchen/chain/solana/node_inquirer.py
  rotkehlchen/db/updates.py
  rotkehlchen/tests/api/test_misc.py
  rotkehlchen/tests/unit/test_data_updates.py
  rotkehlchen/tests/unit/test_rpc_node_runtime.py
Due: backend

fix(frontend): keep other exchanges paused on toggle
  docs/changelog.rst
  frontend/app/src/modules/balances/exchanges/use-non-syncing-exchanges.spec.ts
  frontend/app/src/modules/balances/exchanges/use-non-syncing-exchanges.ts
  frontend/app/src/pages/api-keys/exchanges/index.vue
Due: frontend_unit, frontend_integration

feat(frontend): open the task dock when it matters
  frontend/app/src/locales/en.json
  frontend/app/src/modules/settings/frontend/DockShowSummarySetting.vue
  frontend/app/src/modules/settings/frontend/InterfaceOnlyCategory.vue
  frontend/app/src/modules/settings/setting-highlight-ids.ts
  frontend/app/src/modules/settings/settings-registry-frontend.ts
  frontend/app/src/modules/settings/settings-repo.spec.ts
  frontend/app/src/modules/settings/types/frontend-settings.ts
  frontend/app/src/modules/settings/types/user-settings.spec.ts
  frontend/app/src/modules/task-center/components/DockPill.vue
  frontend/app/src/modules/task-center/components/TaskDock.spec.ts
  frontend/app/src/modules/task-center/components/TaskDock.vue
  frontend/app/src/modules/task-center/dock-state.ts
  frontend/app/src/modules/task-center/use-dock-auto-open.spec.ts
  frontend/app/src/modules/task-center/use-dock-auto-open.ts
  frontend/app/src/modules/task-center/use-dock-panel.spec.ts
  frontend/app/src/modules/task-center/use-dock-panel.ts
  frontend/app/src/modules/task-center/use-task-dock-caption.ts
  frontend/app/src/modules/task-center/use-task-dock.spec.ts
  frontend/app/src/modules/task-center/use-task-dock.ts
Due: frontend_unit, frontend_integration

docs(changelog): mention the task centre opening
  docs/changelog.rst
Due: none

fix(frontend): line up dock rows that expand
  frontend/app/src/modules/task-center/components/DockActivityRow.vue
  frontend/app/src/modules/task-center/components/DockJobNode.vue
Due: frontend_unit, frontend_integration

fix(frontend): treat a short pause as one dock batch
  frontend/app/src/modules/task-center/use-dock-auto-open.spec.ts
  frontend/app/src/modules/task-center/use-dock-auto-open.ts
  frontend/app/src/modules/task-center/use-task-dock.spec.ts
  frontend/app/src/modules/task-center/use-task-dock.ts
Due: frontend_unit, frontend_integration

feat(frontend): name the job the user started first
  frontend/app/src/modules/balances/use-blockchain-balances.ts
  frontend/app/src/modules/history/events/tx/use-history-transaction-decoding.ts
  frontend/app/src/modules/history/events/tx/use-history-transactions.ts
  frontend/app/src/modules/history/events/tx/use-refresh-transactions.ts
  frontend/app/src/modules/history/events/tx/use-targeted-redecode.ts
  frontend/app/src/modules/reports/use-report-generation.ts
  frontend/app/src/modules/session/use-purge.ts
  frontend/app/src/modules/task-center/core/orchestrator/projection.ts
  frontend/app/src/modules/task-center/core/orchestrator/spec.ts
  frontend/app/src/modules/task-center/core/types.ts
  frontend/app/src/modules/task-center/use-activity-batch.ts
  frontend/app/src/modules/task-center/use-dock-primary.spec.ts
  frontend/app/src/modules/task-center/use-dock-primary.ts
  frontend/app/src/modules/user-data/ImportSource.vue
Due: frontend_unit, frontend_integration

fix(frontend): let the report sync button refresh history
  frontend/app/src/modules/reports/ReportGenerator.spec.ts
  frontend/app/src/modules/reports/ReportGenerator.vue
Due: frontend_unit, frontend_integration

test(e2e): turn the task dock summary off
  frontend/app/tests/e2e/helpers/api.ts
Due: frontend_unit, frontend_integration

fix(frontend): report failures from before the dock mounted
  frontend/app/src/modules/task-center/use-task-dock.spec.ts
  frontend/app/src/modules/task-center/use-task-dock.ts
Due: frontend_unit, frontend_integration

fix(frontend): fold a dock panel opened for a job
  frontend/app/src/modules/task-center/use-dock-auto-open.spec.ts
  frontend/app/src/modules/task-center/use-dock-auto-open.ts
Due: frontend_unit, frontend_integration

fix(frontend): point the dock collapse icon down
  frontend/app/src/modules/task-center/components/DockPanelHeader.vue
Due: frontend_unit, frontend_integration

build(deps): bump @rotki/ui-library to 2.26.0
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

test(frontend): cover the images cache purge
  frontend/app/src/modules/settings/data-security/data-management/PurgeImagesCache.spec.ts
  frontend/app/src/modules/settings/data-security/data-management/PurgeImagesCache.vue
Due: frontend_unit, frontend_integration

fix(frontend): keep the dashboard rows-per-page select reachable
  frontend/app/src/main.ts
  frontend/app/src/modules/dashboard/DashboardAssetTable.spec.ts
  frontend/app/src/modules/dashboard/DashboardAssetTable.vue
  frontend/app/src/modules/dashboard/NftBalanceTable.vue
  frontend/app/src/modules/dashboard/liquidity-pools/PoolTable.vue
  frontend/app/src/modules/session/use-items-per-page.ts
Due: frontend_unit, frontend_integration

docs: note the ui-library 2.26.0 table changes in the changelog
  docs/changelog.rst
Due: none

Add remediation task for wrongly decoded transfers
  frontend/app/src/locales/en.json
  frontend/app/src/modules/history/data-issues/constants.ts
  frontend/app/src/modules/history/data-issues/schemas.ts
  frontend/app/src/modules/history/data-issues/transforms.spec.ts
  frontend/app/src/modules/history/data-issues/transforms.ts
  frontend/app/src/modules/history/data-issues/use-data-issues-format.ts
  frontend/src/route-map.d.ts
  rotkehlchen/history/data_issues/constants.py
  rotkehlchen/history/data_issues/manager.py
  rotkehlchen/history/data_issues/types.py
  rotkehlchen/tasks/data_issues.py
  rotkehlchen/tests/unit/test_data_issue_remediation.py
Due: backend, frontend_unit, frontend_integration

test(frontend): cover the latest prices table
  frontend/app/src/modules/assets/prices/latest/LatestPriceContent.spec.ts
Due: frontend_unit, frontend_integration

test(frontend): cover the historic prices table
  frontend/app/src/modules/assets/prices/historic/HistoricPriceContent.spec.ts
Due: frontend_unit, frontend_integration

test(frontend): cover the oracle prices table
  frontend/app/src/modules/assets/prices/components/oracle/OraclePriceContent.spec.ts
Due: frontend_unit, frontend_integration

test(frontend): cover latest price deletes and saves
  frontend/app/src/modules/assets/prices/use-latest-price-manager.spec.ts
Due: frontend_unit, frontend_integration

feat(frontend): derive why a queued task waits
  frontend/app/src/modules/task-center/core/orchestrator/orchestrator.spec.ts
  frontend/app/src/modules/task-center/core/orchestrator/orchestrator.ts
  frontend/app/src/modules/task-center/core/orchestrator/rules.spec.ts
  frontend/app/src/modules/task-center/core/orchestrator/rules.ts
  frontend/app/src/modules/task-center/core/orchestrator/scheduler.ts
  frontend/app/src/modules/task-center/core/orchestrator/waiting.ts
  frontend/app/src/modules/task-center/core/types.ts
Due: frontend_unit, frontend_integration

feat(frontend): show why a queued task waits
  frontend/app/src/locales/en.json
  frontend/app/src/modules/task-center/components/DockActivityRow.spec.ts
  frontend/app/src/modules/task-center/components/DockActivityRow.vue
  frontend/app/src/modules/task-center/use-dock-primary.spec.ts
  frontend/app/src/modules/task-center/use-dock-primary.ts
  frontend/app/src/modules/task-center/use-pending-jobs.spec.ts
  frontend/app/src/modules/task-center/use-pending-jobs.ts
  frontend/app/src/modules/task-center/use-waiting-label.spec.ts
  frontend/app/src/modules/task-center/use-waiting-label.ts
Due: frontend_unit, frontend_integration

refactor(frontend): move the task render model types
  frontend/app/src/modules/task-center/components/TaskDock.spec.ts
  frontend/app/src/modules/task-center/core/model.ts
  frontend/app/src/modules/task-center/core/types.ts
  frontend/app/src/modules/task-center/use-dock-panel.spec.ts
  frontend/app/src/modules/task-center/use-dock-primary.spec.ts
  frontend/app/src/modules/task-center/use-pending-jobs.spec.ts
  frontend/app/src/modules/task-center/use-smart-rerun.spec.ts
  frontend/app/src/modules/task-center/use-task-center.ts
  frontend/app/src/modules/task-center/use-task-controller.spec.ts
  frontend/app/src/modules/task-center/use-task-dock.spec.ts
Due: frontend_unit, frontend_integration

fix(frontend): let a user refresh through a sync
  frontend/app/src/modules/balances/use-blockchain-balances.spec.ts
  frontend/app/src/modules/balances/use-blockchain-balances.ts
  frontend/app/src/modules/task-center/use-activity-batch.spec.ts
  frontend/app/src/modules/task-center/use-activity-batch.ts
Due: frontend_unit, frontend_integration

docs(changelog): mention queued reasons and refresh
  docs/changelog.rst
Due: none

feat: key exchange and bank connections by id
  docs/api.rst
  docs/designs/hierarchical_locations_progress.md
  rotkehlchen/banks/manager.py
  rotkehlchen/db/connections.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/upgrades/v53_v54.py
  rotkehlchen/exchanges/constants.py
  rotkehlchen/exchanges/manager.py
  rotkehlchen/tests/api/test_banks.py
  rotkehlchen/tests/api/test_data_purging.py
  rotkehlchen/tests/api/test_exchanges.py
  rotkehlchen/tests/api/test_history_base_entry.py
  rotkehlchen/tests/api/test_misc.py
  rotkehlchen/tests/api/test_settings.py
  rotkehlchen/tests/data_migrations/test_migration_22.py
  rotkehlchen/tests/data_migrations/test_migrations.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/exchanges/test_binance.py
  rotkehlchen/tests/exchanges/test_bit2me.py
  rotkehlchen/tests/exchanges/test_coinbase.py
  rotkehlchen/tests/exchanges/test_coinex.py
  rotkehlchen/tests/exchanges/test_gate.py
  rotkehlchen/tests/exchanges/test_kraken.py
  rotkehlchen/tests/exchanges/test_manager.py
  rotkehlchen/tests/fixtures/db.py
  rotkehlchen/tests/unit/accounting/test_exchanges.py
  rotkehlchen/tests/unit/test_app.py
  rotkehlchen/tests/unit/test_historical_balances.py
  rotkehlchen/tests/unit/test_location.py
  rotkehlchen/tests/unit/test_tasks_manager.py
  rotkehlchen/tests/utils/exchanges.py
Due: backend

test(frontend): cover the accounting rules import
  frontend/app/src/modules/settings/accounting/rule/AccountingRuleImportDialog.spec.ts
  frontend/app/src/modules/settings/accounting/rule/AccountingRuleImportDialog.vue
Due: frontend_unit, frontend_integration
