Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Fix convertDSRBalances
  frontend/app/src/services/converters.ts
Due: frontend_unit, frontend_integration

DSR frontend: Get total deposited across filtered accounts
  frontend/app/src/components/defi/Lending.vue
Due: frontend_unit, frontend_integration

Adding tx_hash to frontend DSRMovement types
  frontend/app/src/services/converters.ts
  frontend/app/src/services/types-api.ts
  frontend/app/src/services/types-model.ts
  frontend/app/src/typing/types.ts
Due: frontend_unit, frontend_integration

Respond to PR review and add vault/dsr screenshots
  docs/api.rst
  docs/images/dsr_premium_demo.gif
  docs/images/sc_dsr_nonpremium_account.png
  docs/images/sc_dsr_nonpremium_all.png
  docs/images/sc_dsr_premium_account.png
  docs/images/sc_dsr_premium_all.png
  docs/images/sc_vaults_nonpremium.png
  docs/images/sc_vaults_premium.png
  docs/images/sc_vaults_premium_watchers.png
  docs/images/vaults_premium_demo.gif
  docs/usage_guide.rst
Due: none

Watchers fixes
  frontend/app/src/components/defi/LoanInfo.vue
  frontend/app/src/components/dialogs/WatcherDialog.vue
  frontend/app/src/services/types-api.ts
  frontend/app/src/store/session/actions.ts
Due: frontend_unit, frontend_integration

Change screenshots and add vault information in the usage guide
  docs/images/sc_accounting_settings.png
  docs/images/sc_newacc1.png
  docs/images/sc_newacc2.png
  docs/images/sc_settings.png
  docs/usage_guide.rst
Due: none

Fix error in api docs
  docs/api.rst
Due: none

Add modify user password entry to api docs
  docs/api.rst
Due: none

Add a section on password change in the user guide
  docs/images/sc_user_password_change.png
  docs/usage_guide.rst
Due: none

Fixes Lending review comments
  frontend/app/src/components/defi/Lending.vue
  frontend/app/src/components/helper/BlockchainAccountSelector.vue
  frontend/app/src/services/types-model.ts
  frontend/app/src/typing/types.ts
Due: frontend_unit, frontend_integration

Add in memory-caching for makerdao vault and dsr historical results
  rotkehlchen/chain/ethereum/makerdao.py
Due: backend

Fixes review comments
  frontend/app/src/components/defi/Lending.vue
  frontend/app/src/components/defi/LoanInfo.vue
  frontend/app/src/components/dialogs/WatcherDialog.vue
  frontend/app/src/components/display/StatCardWide.vue
  frontend/app/src/components/helper/BlockchainAccountSelector.vue
  frontend/app/src/services/rotkehlchen-api.ts
  frontend/app/src/services/types-api.ts
  frontend/app/src/services/types-common.ts
  frontend/app/src/services/types-model.ts
  frontend/app/src/store/balances/actions.ts
  frontend/app/src/store/balances/getters.ts
  frontend/app/src/store/balances/mutations.ts
  frontend/app/src/store/balances/state.ts
  frontend/app/src/typing/types.ts
Due: frontend_unit, frontend_integration

Addresses review notes
  frontend/app/src/components/defi/LoanInfo.vue
  frontend/app/src/components/dialogs/WatcherDialog.vue
  frontend/app/src/components/helper/BlockchainAccountSelector.vue
Due: frontend_unit, frontend_integration

Implements add/edit/delete watcher functionality in Borrowing
  frontend/app/src/components/defi/LoanInfo.vue
  frontend/app/src/components/dialogs/WatcherDialog.vue
  frontend/app/src/services/rotkehlchen-api.ts
  frontend/app/src/services/types-api.ts
  frontend/app/src/services/types-common.ts
  frontend/app/src/services/types-model.ts
  frontend/app/src/store/balances/actions.ts
  frontend/app/src/store/balances/getters.ts
  frontend/app/src/store/balances/mutations.ts
  frontend/app/src/store/balances/state.ts
  frontend/app/src/store/session/actions.ts
Due: frontend_unit, frontend_integration

Squash with other Lending changes
  frontend/app/src/components/defi/Lending.vue
  frontend/app/src/components/display/StatCard.vue
  frontend/app/src/components/helper/BlockchainAccountSelector.vue
Due: frontend_unit, frontend_integration

Various improvements/fixes to vault UI
  frontend/app/src/components/defi/Vault.vue
  frontend/app/src/components/display/AmountDisplay.vue
  frontend/app/src/components/display/StatCard.vue
  frontend/app/src/services/types-model.ts
Due: frontend_unit, frontend_integration

Fixes incorrect filtering & aggregating in Lending
  frontend/app/src/components/defi/Lending.vue
  frontend/app/src/components/display/AmountDisplay.vue
Due: frontend_unit, frontend_integration

Rebases #1061
  frontend/app/src/components/defi/Lending.vue
  frontend/app/src/services/converters.ts
  frontend/app/src/services/types-api.ts
  frontend/app/src/services/types-model.ts
  frontend/app/src/typing/types.ts
Due: frontend_unit, frontend_integration

Adds WatcherDialog component and basic functionality in LoanInfo (ex Vault) to add a watcher
  frontend/app/src/components/defi/Borrowing.vue
  frontend/app/src/components/defi/LoanInfo.vue
  frontend/app/src/components/dialogs/WatcherDialog.vue
  frontend/app/src/components/helper/PremiumLock.vue
Due: frontend_unit, frontend_integration

Fixes dashboard amounts
  frontend/app/src/components/dashboard/BlockchainBalanceCardList.vue
  frontend/app/src/components/dashboard/ExchangeBox.vue
Due: frontend_unit, frontend_integration

Fix for non-multiple account selector
  frontend/app/src/components/defi/Lending.vue
  frontend/app/src/components/helper/BlockchainAccountSelector.vue
Due: frontend_unit, frontend_integration

Addresses review notes and watcher final touches
  frontend/app/src/components/defi/Borrowing.vue
  frontend/app/src/components/defi/Lending.vue
  frontend/app/src/components/defi/LoanInfo.vue
  frontend/app/src/components/dialogs/WatcherDialog.vue
  frontend/app/src/components/display/StatCard.vue
  frontend/app/src/components/display/StatCardWide.vue
  frontend/app/src/components/helper/BlockchainAccountSelector.vue
  frontend/app/src/components/helper/PremiumLock.vue
  frontend/app/src/filters.ts
  frontend/app/src/plugins/vuetify.ts
  frontend/app/src/store/balances/actions.ts
  frontend/app/src/typing/types.ts
Due: frontend_unit, frontend_integration

Fixes a front-end integration test
  frontend/app/tests/e2e/pages/account-balances-page.ts
Due: frontend_unit, frontend_integration

Fixes linting issue
  frontend/app/src/components/helper/PremiumLock.vue
Due: frontend_unit, frontend_integration

squash
  frontend/app/src/components/defi/Lending.vue
  frontend/app/src/components/helper/BlockchainAccountSelector.vue
Due: frontend_unit, frontend_integration

Improves the vaults frontend
  frontend/app/src/components/base/BaseExternalLink.vue
  frontend/app/src/components/defi/Borrowing.vue
  frontend/app/src/components/defi/Vault.vue
  frontend/app/src/components/display/AmountDisplay.vue
  frontend/app/src/components/display/StatCard.vue
  frontend/app/src/components/settings/PremiumSettings.vue
  frontend/app/src/components/settings/api-keys/ExchangeSettings.vue
  frontend/app/src/filters.ts
  frontend/app/src/views/Statistics.vue
Due: frontend_unit, frontend_integration

Various Borrowing & Lending improvements
  frontend/app/src/components/defi/Borrowing.vue
  frontend/app/src/components/defi/Lending.vue
  frontend/app/src/components/defi/LoanInfo.vue
  frontend/app/src/components/dialogs/WatcherDialog.vue
  frontend/app/src/components/display/StatCardWide.vue
  frontend/app/src/components/helper/BlockchainAccountSelector.vue
  frontend/app/src/components/helper/HashLink.vue
  frontend/app/src/components/helper/PremiumLock.vue
  frontend/app/src/store/balances/getters.ts
  frontend/app/src/utils/premium.ts
Due: frontend_unit, frontend_integration

Fixes filters to return - when the BigNumber is NaN
  frontend/app/src/filters.ts
Due: frontend_unit, frontend_integration

Some accounting bug fixes
  rotkehlchen/accounting/events.py
  rotkehlchen/utils/accounting.py
Due: backend

Adds a monitor for watchers
  frontend/app/src/services/monitoring.ts
Due: frontend_unit, frontend_integration

Show different DSR entry for each DSR account in the tax report
  rotkehlchen/chain/ethereum/makerdao.py
  rotkehlchen/history/trades.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
