Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    paths:
      - rotkehlchen
  frontend_unit:
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Adds frontend support for Lido/Furucombo airdrops
  frontend/app/src/assets/images/airdrops/furucombo.png
  frontend/app/src/assets/images/airdrops/lido.svg
  frontend/app/src/store/defi/const.ts
  frontend/app/src/views/defi/Airdrops.vue
Due: frontend_unit, frontend_integration

Bump version: 1.12.2 → 1.13.0
  .bumpversion.cfg
  docs/conf.py
  frontend/app/package-lock.json
  frontend/app/package.json
  setup.py
Due: frontend_unit, frontend_integration

Add v1.13.0 to the changelog
  docs/changelog.rst
Due: none

Spankity spank on kelsos' butt
  frontend/app/src/model/task.ts
Due: frontend_unit, frontend_integration

Do not allow sold amount of zero and log an error if it happens
  rotkehlchen/accounting/events.py
Due: backend

Include the deb package in the release notes template
  .github/workflows/rotki_packaging.yaml
Due: none

Add log entry for before deserializing bitstamp events
  rotkehlchen/exchanges/bitstamp.py
Due: backend

Fix adex test by not returning a usd value + token for withdraw
  rotkehlchen/chain/ethereum/adex/adex.py
  rotkehlchen/tests/api/test_adex.py
Due: backend

Do not allow blockchain balances be returned by reference - but copy
  rotkehlchen/accounting/structures.py
  rotkehlchen/chain/manager.py
Due: backend

Changelog entry for 2223
  docs/changelog.rst
Due: none

added ERC-20 tokens FOX and WIS to all_assets
  rotkehlchen/data/all_assets.json
  rotkehlchen/data/all_assets.meta
Due: backend

added ERC-20 tokens FOX and WIS to all_assets (with fixes)
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
  rotkehlchen/data/all_assets.meta
  rotkehlchen/tests/unit/test_assets.py
Due: backend

Updates bug report template with information
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Ledger action CSV exports asset identifier and not name
  rotkehlchen/csv_exporter.py
Due: backend

Changelog entry for 2215
  docs/changelog.rst
Due: none

Add support for aleph.im v2 token
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Add support for Perpetual protocol
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
  rotkehlchen/data/all_assets.meta
  rotkehlchen/tests/unit/test_assets.py
Due: backend

Add test for 2244
  rotkehlchen/tests/external_apis/test_cryptocompare.py
Due: backend

Properly add api key arg for cryptocompare in case of no other args
  rotkehlchen/externalapis/cryptocompare.py
Due: backend

Changelog for 2244
  docs/changelog.rst
Due: none

Adjust uniswap tests now that ALEPH is a known token
  rotkehlchen/tests/api/test_uniswap.py
Due: backend

Don't query delisted coingecko assets for icon
  rotkehlchen/constants/timing.py
  rotkehlchen/externalapis/coingecko.py
  rotkehlchen/icons.py
  rotkehlchen/tests/unit/test_assets.py
Due: backend

Adjusts dashboard overall card size
  frontend/app/src/components/dashboard/OverallBalances.vue
Due: frontend_unit, frontend_integration

Fixes text wrapping on various tables
  frontend/app/src/components/dashboard/DashboardAssetTable.vue
  frontend/app/src/components/display/AmountDisplay.vue
  frontend/app/src/components/helper/AssetDetails.vue
  frontend/app/src/components/settings/AccountAssetBalances.vue
  frontend/app/src/components/settings/AssetBalances.vue
Due: frontend_unit, frontend_integration

Update changelog
  docs/changelog.rst
Due: none

Use POST instead of GET for historical asset price endpoint
  docs/api.rst
  rotkehlchen/api/v1/resources.py
  rotkehlchen/tests/api/test_historical_assets_price.py
Due: backend

Add mention in the docs for vulture and bandit
  docs/contribute.rst
Due: none

Fix botched db upgrade test
  rotkehlchen/db/upgrades/v22_v23.py
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

Fix binance mapping for Blockstack
  docs/changelog.rst
  rotkehlchen/assets/asset.py
  rotkehlchen/data/all_assets.json
  rotkehlchen/data/all_assets.meta
  rotkehlchen/tests/unit/test_assets.py
Due: backend

Replaces the otc pair field with two asset components
  frontend/app/src/components/OtcForm.vue
  frontend/app/src/components/inputs/AssetSelect.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

Updates changelog
  docs/changelog.rst
Due: none

Fixes failing e2e tests for external trades
  frontend/app/src/components/OtcForm.vue
  frontend/app/tests/e2e/pages/history-page.ts
  frontend/app/tests/e2e/support/utils.ts
Due: frontend_unit, frontend_integration

Adds description for quote base asset
  frontend/app/src/components/CryptoIcon.vue
  frontend/app/src/components/OtcForm.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

Introduce rate retrieval for external trade rate
  frontend/app/src/components/OtcForm.vue
  frontend/app/src/locales/en.json
  frontend/app/src/model/task-type.ts
  frontend/app/src/services/balances/balances-api.ts
  frontend/app/src/store/balances/actions.ts
  frontend/app/src/store/balances/types.d.ts
Due: frontend_unit, frontend_integration

Fixes price rounding errors
  frontend/app/src/components/dashboard/DashboardAssetTable.vue
  frontend/app/src/components/display/AmountDisplay.vue
  frontend/app/src/components/settings/AccountAssetBalances.vue
  frontend/app/src/components/settings/AssetBalances.vue
Due: frontend_unit, frontend_integration

Add support for Name Change Token
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
Due: backend

Add cryptocompare support for assets that now have it
  rotkehlchen/data/all_assets.json
  rotkehlchen/tests/unit/test_assets.py
Due: backend

Add support for Archer DAO Governance Token
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
  rotkehlchen/tests/unit/test_assets.py
Due: backend
