Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Update rotkehlchen/chain/bitcoin/utils.py
  rotkehlchen/chain/bitcoin/utils.py
Due: backend

fix: error query names for xpub address
  docs/changelog.rst
  frontend/app/src/components/display/LabeledAddressDisplay.vue
Due: frontend_unit, frontend_integration

update assets parsers to support solana tokens
  rotkehlchen/globaldb/asset_updates/manager.py
  rotkehlchen/globaldb/asset_updates/parsers.py
  rotkehlchen/tests/unit/globaldb/test_asset_updates.py
Due: backend

fix: based on the review
  frontend/app/src/composables/history/events/query-status/index.ts
  frontend/app/src/composables/history/events/query-status/tx-query-status.ts
  frontend/app/src/composables/history/events/tx/index.ts
  frontend/app/src/composables/history/events/tx/types.ts
  frontend/app/src/store/blockchain/accounts/addresses-names.ts
  frontend/app/src/store/history/query-status/tx-query-status.ts
  frontend/app/src/types/websocket-messages.ts
Due: frontend_unit, frontend_integration

feat: bitcoin query status
  docs/changelog.rst
  frontend/app/src/components/history/events/HistoryEventsIdentifier.vue
  frontend/app/src/components/history/events/HistoryQueryStatus.vue
  frontend/app/src/components/history/events/HistoryQueryStatusDialog.vue
  frontend/app/src/components/history/events/tx/query-status/TransactionQueryStatus.vue
  frontend/app/src/components/history/events/tx/query-status/TransactionQueryStatusCurrent.vue
  frontend/app/src/components/history/events/tx/query-status/TransactionQueryStatusDetails.vue
  frontend/app/src/components/history/events/tx/query-status/TransactionQueryStatusLine.vue
  frontend/app/src/components/history/events/tx/query-status/TransactionQueryStatusSteps.vue
  frontend/app/src/composables/history/events/query-status/index.ts
  frontend/app/src/composables/history/events/query-status/tx-query-status.ts
  frontend/app/src/composables/history/events/tx/index.ts
  frontend/app/src/composables/message-handling/index.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/store/history/query-status/tx-query-status.ts
  frontend/app/src/types/history/events/index.ts
  frontend/app/src/types/websocket-messages.ts
Due: frontend_unit, frontend_integration

feat(frontend): BTC transactions
  frontend/app/src/components/history/events/HistoryEventType.vue
  frontend/app/src/composables/history/events/notes.ts
  frontend/app/src/composables/history/events/tx/index.ts
  frontend/app/src/composables/history/events/tx/use-history-transaction-accounts.ts
  frontend/app/src/composables/info/chains.ts
  frontend/app/src/composables/message-handling/calendar-reminder.ts
  frontend/app/src/modules/history/refresh/HistoryRefreshChains.vue
  frontend/app/src/modules/history/refresh/HistoryRefreshSelection.vue
  frontend/app/src/modules/history/refresh/types.ts
  frontend/app/src/store/blockchain/accounts/addresses-names.ts
  frontend/app/src/types/history/events/index.ts
  frontend/common/src/text/index.ts
Due: frontend_unit, frontend_integration

Upgrade web3.py to 7.12.0
  pyproject.toml
  uv.lock
Due: none

Fix missing cursor
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/unit/test_app.py
Due: backend

Bump linting packages
  pyproject.toml
  uv.lock
Due: none

Add database tables for new incremental accounting system
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v48_v49.py
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

Implement new incremental accounting system
  rotkehlchen/accounting/accountant.py
  rotkehlchen/accounting/structures/accounting_data.py
Due: backend

Complete new accounting system implementation with comprehensive tests
  rotkehlchen/accounting/accountant.py
  rotkehlchen/accounting/structures/accounting_data.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v48_v49.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/unit/accounting/test_accountant.py
Due: backend

Remove ProcessedAccountingEvent abstraction and PnL reporting infrastructure
  rotkehlchen/accounting/accountant.py
  rotkehlchen/accounting/cost_basis/base.py
  rotkehlchen/accounting/cost_basis/prefork.py
  rotkehlchen/accounting/export/csv.py
  rotkehlchen/accounting/pot.py
  rotkehlchen/accounting/structures/processed_event.py
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/accounting_rules.py
  rotkehlchen/db/reports.py
  rotkehlchen/tests/api/test_reports.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/db/test_reports.py
  rotkehlchen/tests/unit/accounting/evm/test_aave.py
  rotkehlchen/tests/unit/accounting/evm/test_cowswap.py
  rotkehlchen/tests/unit/accounting/evm/test_thegraph.py
  rotkehlchen/tests/unit/accounting/test_accountant.py
  rotkehlchen/tests/unit/accounting/test_default_settings.py
  rotkehlchen/tests/utils/accounting.py
Due: backend

Update README.md
  README.md
Due: none

Fix some issues with tests
  CLAUDE.md
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/upgrade_manager.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/utils/progress.py
Due: backend

Tweaks on imports and other stuff
  CLAUDE.md
  rotkehlchen/accounting/accountant.py
  rotkehlchen/accounting/export/csv.py
  rotkehlchen/accounting/structures/accounting_data.py
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/accounting_rules.py
  rotkehlchen/db/history_events.py
  rotkehlchen/history/events/structures/asset_movement.py
  rotkehlchen/history/events/structures/base.py
  rotkehlchen/history/events/structures/evm_event.py
  rotkehlchen/history/events/structures/swap.py
  rotkehlchen/tests/unit/accounting/test_accountant.py
  rotkehlchen/tests/utils/accounting.py
Due: backend

chore: update ui library to include datetimepicker fixes
  frontend/app/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

fix: properly transform loopring balances to new format
  frontend/app/src/modules/balances/use-blockchain-balances.spec.ts
  frontend/app/src/modules/balances/use-blockchain-balances.ts
  frontend/app/tests/unit/utils/create-data.ts
Due: frontend_unit, frontend_integration

fix: update velodrome finance label
  rotkehlchen/chain/optimism/modules/velodrome/decoder.py
Due: backend

refactor: rename the "protocol" label to "location" across asset tables
  frontend/app/src/components/AssetBalances.vue
  frontend/app/src/components/accounts/balances/AccountAssetBalances.vue
  frontend/app/src/components/dashboard/DashboardAssetTable.vue
  frontend/app/src/locales/en.json
  frontend/app/src/modules/balances/protocols/components/AssetDetailsLayout.vue
  frontend/app/src/modules/balances/protocols/components/AssetProtocolBreakdown.vue
Due: frontend_unit, frontend_integration

Accountant changes
  rotkehlchen/accounting/accountant.py
Due: backend

fix: change appkit to lazy initialize
  frontend/app/src/modules/onchain/transaction-helpers.ts
  frontend/app/src/modules/onchain/use-wallet-store.ts
Due: frontend_unit, frontend_integration

fix: change appkit to lazy initialize (#10241)
  frontend/app/src/modules/onchain/transaction-helpers.ts
  frontend/app/src/modules/onchain/use-wallet-store.ts
Due: frontend_unit, frontend_integration

use token protocol for balances breakdown
  rotkehlchen/chain/aggregator.py
  rotkehlchen/tests/unit/test_evm_balances.py
  rotkehlchen/tests/unit/test_protocol_balances.py
  rotkehlchen/types.py
Due: backend

refactor: improve flattened row handling in HistoryEventsTable
  frontend/app/src/components/history/events/HistoryEventsTable.vue
Due: frontend_unit, frontend_integration

add endpoint to migrate solana tokens
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/globaldb/upgrades/v12_v13.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/api/test_migrate_solana_token.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
