Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

fix: blockies cache size
  frontend/app/package.json
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/composables/accounts/blockie.ts
  frontend/app/src/composables/item-cache.ts
  frontend/app/tests/unit/specs/composables/accounts/blockie.spec.ts
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

Add information related to db errors
  docs/contribute.rst
Due: none

chore: updates dependencies
  frontend/app/.eslintrc-auto-import.json
  frontend/app/package.json
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/GlobalSearch.vue
  frontend/app/src/components/display/AdaptiveWrapper.vue
  frontend/app/src/components/helper/NavigatorLink.vue
  frontend/app/src/components/helper/RowAppend.vue
  frontend/app/src/components/history/LocationIcon.vue
  frontend/common/package.json
  frontend/dev-proxy/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

chore: updates stylelint
  frontend/app/.stylelintrc
  frontend/app/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

fix: blockies cache size issue
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/display/EnsAvatar.vue
  frontend/app/src/composables/accounts/blockie.ts
  frontend/app/src/composables/item-cache.ts
  frontend/app/src/store/assets/asset-cache.ts
  frontend/app/tests/unit/specs/composables/accounts/blockie.spec.ts
Due: frontend_unit, frontend_integration

fix: kraken staking issues
  frontend/app/src/components/helper/Card.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/inputs/TwoFieldsAmountInput.vue
  frontend/app/src/components/staking/kraken/KrakenPage.vue
  frontend/app/src/components/staking/kraken/KrakenStaking.vue
  frontend/app/src/components/staking/kraken/KrakenStakingEvents.vue
  frontend/app/src/components/staking/kraken/KrakenStakingOverview.vue
  frontend/app/src/components/staking/kraken/KrakenStakingReceived.vue
  frontend/app/src/composables/filters/events.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/store/staking/kraken.ts
  frontend/app/src/types/staking.ts
Due: frontend_unit, frontend_integration

fix: update based on review
  frontend/app/src/components/helper/Card.vue
  frontend/app/src/components/helper/display/icons/AssetIcon.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/staking/kraken/KrakenPage.vue
  frontend/app/src/components/staking/kraken/KrakenStaking.vue
  frontend/app/src/components/staking/kraken/KrakenStakingOverview.vue
  frontend/app/src/components/staking/kraken/KrakenStakingReceived.vue
  frontend/app/src/composables/filters/events.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-transactions.spec.ts
Due: frontend_unit, frontend_integration

feat: update location selector
  frontend/app/.eslintrc-auto-import.json
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/GlobalSearch.vue
  frontend/app/src/components/accounts/exchanges/ExchangeAmountRow.vue
  frontend/app/src/components/dashboard/EditLocationDataSnapshotForm.vue
  frontend/app/src/components/dashboard/ExchangeBox.vue
  frontend/app/src/components/display/ExchangeDisplay.vue
  frontend/app/src/components/helper/LocationSelector.vue
  frontend/app/src/components/history/LocationDisplay.vue
  frontend/app/src/components/history/LocationIcon.vue
  frontend/app/src/components/history/events/HistoryEventNote.vue
  frontend/app/src/components/history/events/HistoryEventType.vue
  frontend/app/src/components/history/events/HistoryEventsList.vue
  frontend/app/src/components/settings/api-keys/ExchangeKeysForm.vue
  frontend/app/src/components/settings/data-security/data-management/PurgeData.vue
  frontend/app/src/composables/api/history/index.ts
  frontend/app/src/composables/datatable.common.ts
  frontend/app/src/composables/history/asset-movements/index.ts
  frontend/app/src/composables/history/ledger-actions/index.ts
  frontend/app/src/composables/history/trade-locations.ts
  frontend/app/src/composables/history/trades/index.ts
  frontend/app/src/composables/location.ts
  frontend/app/src/composables/locations.ts
  frontend/app/src/composables/session/load.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/locations/[identifier].vue
  frontend/app/src/pages/reports/[id].vue
  frontend/app/src/pages/settings/api-keys/exchanges/index.vue
  frontend/app/src/types/history/events/index.ts
  frontend/app/src/types/history/trade/location.ts
Due: frontend_unit, frontend_integration

fix: update based on the review
  frontend/app/src/components/GlobalSearch.vue
  frontend/app/src/components/display/ExchangeDisplay.vue
  frontend/app/src/components/history/LocationDisplay.vue
  frontend/app/src/components/history/events/HistoryEventNote.vue
  frontend/app/src/components/settings/api-keys/ExchangeKeysForm.vue
  frontend/app/src/composables/api/history/index.ts
  frontend/app/src/composables/locations.ts
  frontend/app/src/composables/session/load.ts
  frontend/app/src/composables/utils/useRefMap/index.ts
  frontend/app/src/pages/locations/[identifier].vue
  frontend/app/src/types/history/events/index.ts
Due: frontend_unit, frontend_integration

feat: update location selector (#5927)
  frontend/app/.eslintrc-auto-import.json
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/GlobalSearch.vue
  frontend/app/src/components/accounts/exchanges/ExchangeAmountRow.vue
  frontend/app/src/components/dashboard/EditLocationDataSnapshotForm.vue
  frontend/app/src/components/dashboard/ExchangeBox.vue
  frontend/app/src/components/display/ExchangeDisplay.vue
  frontend/app/src/components/helper/LocationSelector.vue
  frontend/app/src/components/history/LocationDisplay.vue
  frontend/app/src/components/history/LocationIcon.vue
  frontend/app/src/components/history/events/HistoryEventNote.vue
  frontend/app/src/components/history/events/HistoryEventType.vue
  frontend/app/src/components/history/events/HistoryEventsList.vue
  frontend/app/src/components/settings/api-keys/ExchangeKeysForm.vue
  frontend/app/src/components/settings/data-security/data-management/PurgeData.vue
  frontend/app/src/composables/api/history/index.ts
  frontend/app/src/composables/datatable.common.ts
  frontend/app/src/composables/history/asset-movements/index.ts
  frontend/app/src/composables/history/ledger-actions/index.ts
  frontend/app/src/composables/history/trade-locations.ts
  frontend/app/src/composables/history/trades/index.ts
  frontend/app/src/composables/location.ts
  frontend/app/src/composables/locations.ts
  frontend/app/src/composables/session/load.ts
  frontend/app/src/composables/utils/useRefMap/index.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/locations/[identifier].vue
  frontend/app/src/pages/reports/[id].vue
  frontend/app/src/pages/settings/api-keys/exchanges/index.vue
  frontend/app/src/types/history/events/index.ts
  frontend/app/src/types/history/trade/location.ts
Due: frontend_unit, frontend_integration

fix: kraken staking issues (#5922)
  frontend/app/src/components/helper/display/icons/AssetIcon.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/inputs/TwoFieldsAmountInput.vue
  frontend/app/src/components/staking/kraken/KrakenPage.vue
  frontend/app/src/components/staking/kraken/KrakenStaking.vue
  frontend/app/src/components/staking/kraken/KrakenStakingEvents.vue
  frontend/app/src/components/staking/kraken/KrakenStakingOverview.vue
  frontend/app/src/components/staking/kraken/KrakenStakingReceived.vue
  frontend/app/src/composables/filters/events.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/store/staking/kraken.ts
  frontend/app/src/types/staking.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-transactions.spec.ts
Due: frontend_unit, frontend_integration

Add exchanges exrtas-specific method
  rotkehlchen/exchanges/binance.py
  rotkehlchen/exchanges/exchange.py
  rotkehlchen/tests/api/test_exchanges.py
Due: backend

Refactor edit_exchange_credentials
  rotkehlchen/exchanges/binance.py
  rotkehlchen/exchanges/bitcoinde.py
  rotkehlchen/exchanges/bitfinex.py
  rotkehlchen/exchanges/bitmex.py
  rotkehlchen/exchanges/bitpanda.py
  rotkehlchen/exchanges/bitstamp.py
  rotkehlchen/exchanges/bittrex.py
  rotkehlchen/exchanges/coinbase.py
  rotkehlchen/exchanges/coinbasepro.py
  rotkehlchen/exchanges/exchange.py
  rotkehlchen/exchanges/ftx.py
  rotkehlchen/exchanges/gemini.py
  rotkehlchen/exchanges/iconomi.py
  rotkehlchen/exchanges/independentreserve.py
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/exchanges/kucoin.py
  rotkehlchen/exchanges/okx.py
  rotkehlchen/exchanges/poloniex.py
  rotkehlchen/types.py
Due: backend

Move delete_exchange to exchange_manager
  rotkehlchen/api/rest.py
  rotkehlchen/exchanges/manager.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/unit/accounting/test_exchanges.py
Due: backend

Refactor edit_exchange method
  docs/changelog.rst
  rotkehlchen/api/rest.py
  rotkehlchen/exchanges/exchange.py
  rotkehlchen/exchanges/manager.py
  rotkehlchen/tests/exchanges/test_binance.py
  rotkehlchen/tests/unit/test_exchanges.py
Due: backend

Improve exchange editing
  rotkehlchen/exchanges/binance.py
  rotkehlchen/exchanges/exchange.py
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/exchanges/manager.py
Due: backend

Properly mock binance us
  rotkehlchen/tests/fixtures/rotkehlchen.py
Due: backend

Query history events from exchanges using the query endpoint
  docs/api.rst
  docs/websockets.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/api/websockets/typedefs.py
  rotkehlchen/exchanges/exchange.py
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/exchanges/manager.py
  rotkehlchen/tests/api/test_history_base_entry.py
  rotkehlchen/types.py
Due: backend

Add event type to ws messages when querying event
  docs/websockets.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/websockets/typedefs.py
  rotkehlchen/exchanges/exchange.py
  rotkehlchen/exchanges/kraken.py
  rotkehlchen/types.py
Due: backend

Detect EthBlockProduction events and add test for them
  docs/api.rst
  rotkehlchen/accounting/structures/base.py
  rotkehlchen/accounting/structures/eth2.py
  rotkehlchen/db/filtering.py
  rotkehlchen/db/history_events.py
  rotkehlchen/db/minimized_schema.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v36_v37.py
  rotkehlchen/externalapis/beaconchain.py
  rotkehlchen/tests/integration/test_eth2.py
Due: backend

Add entry_type to api serialization for events
  docs/api.rst
  rotkehlchen/accounting/structures/base.py
  rotkehlchen/accounting/structures/eth2.py
  rotkehlchen/accounting/structures/evm_event.py
  rotkehlchen/db/filtering.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/api/test_history_base_entry.py
Due: backend

Add exception stack trace for all DB upgrade failures
  rotkehlchen/db/upgrade_manager.py
  rotkehlchen/globaldb/upgrades/manager.py
Due: backend

Move eth2 withdrawals test to the proper location
  rotkehlchen/tests/integration/test_eth2.py
  rotkehlchen/tests/unit/test_eth2.py
Due: backend

Add logic to combine MEV reward events with block production events
  rotkehlchen/accounting/structures/eth2.py
  rotkehlchen/api/rest.py
  rotkehlchen/chain/ethereum/modules/eth2/eth2.py
  rotkehlchen/data_migrations/manager.py
  rotkehlchen/tests/api/test_eth2.py
  rotkehlchen/tests/unit/test_eth2.py
  rotkehlchen/types.py
Due: backend

Add periodic task to process events to do the combining
  rotkehlchen/tasks/events.py
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/api/test_eth2.py
  rotkehlchen/tests/integration/test_eth2.py
Due: backend
