Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Ensure that latest price is correctly queried for nfts
  docs/api.rst
  rotkehlchen/chain/ethereum/modules/nft/nfts.py
  rotkehlchen/externalapis/opensea.py
  rotkehlchen/tests/api/test_nfts.py
  rotkehlchen/tests/unit/test_nfts.py
Due: backend

Fix (7572): LAST_QUERY_ID query in Coinbase
  docs/changelog.rst
  rotkehlchen/exchanges/coinbase.py
Due: backend

fix: display nft price correctly across all asset types.
  docs/changelog.rst
  frontend/app/src/components/nft/NftGallery.vue
  frontend/app/src/components/settings/general/nft/NftImageRenderingSetting.vue
  frontend/app/src/components/settings/general/nft/NftImageRenderingSettingMenu.vue
  frontend/app/src/types/nfts.ts
  frontend/app/src/types/prices.ts
Due: frontend_unit, frontend_integration

Use uv in github CI
  .github/.env.ci
  .github/workflows/rotki_ci.yml
  .github/workflows/rotki_dev_builds.yml
  .github/workflows/rotki_release.yaml
  .github/workflows/task_backend_tests.yml
  .github/workflows/task_e2e_tests.yml
  Dockerfile
  docs/api.rst
  requirements_dev.txt
Due: none

Speed up docker container
  Dockerfile
Due: none

feat(frontend): cex asset mapping
  docs/changelog.rst
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/NavigationMenu.vue
  frontend/app/src/components/asset-manager/cex-mapping/ManageCexMappingContent.vue
  frontend/app/src/components/asset-manager/cex-mapping/ManageCexMappingForm.vue
  frontend/app/src/components/asset-manager/cex-mapping/ManageCexMappingFormDialog.vue
  frontend/app/src/components/asset-manager/cex-mapping/ManageCexMappingTable.vue
  frontend/app/src/components/asset-manager/custom/CustomAssetForm.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetContent.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetTable.vue
  frontend/app/src/components/inputs/ExchangeInput.vue
  frontend/app/src/components/settings/api-keys/exchange/ExchangeKeysForm.vue
  frontend/app/src/composables/api/assets/cex-mapping.ts
  frontend/app/src/composables/assets/forms/cex-mapping-form.ts
  frontend/app/src/locales/en.json
  frontend/app/src/pages/asset-manager/cex-mapping/index.vue
  frontend/app/src/pages/asset-manager/more/index.vue
  frontend/app/src/plugins/rui/index.ts
  frontend/app/src/router/index.ts
  frontend/app/src/router/routes.ts
  frontend/app/src/types/asset/index.ts
  frontend/app/tests/e2e/pages/api-keys-page.ts
Due: frontend_unit, frontend_integration

fix: based on the review
  frontend/app/src/components/inputs/ExchangeInput.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

fix(frontend): handle db locked error on assets search
  frontend/app/src/components/inputs/AssetSelect.vue
  frontend/app/src/components/price-manager/latest/LatestPriceContent.vue
Due: frontend_unit, frontend_integration

Fix (7531): Prioritise manual prices above oracles
  docs/changelog.rst
  rotkehlchen/inquirer.py
  rotkehlchen/tests/api/test_current_assets_price.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend

Bump version: 1.32.1 → 1.32.2
  .bumpversion.cfg
  docs/conf.py
  frontend/app/package.json
  pyproject.toml
Due: frontend_unit, frontend_integration

Add 1.32.2 to the changelog
  docs/changelog.rst
Due: none

feat(frontend): cex asset mapping (#7600)
  docs/changelog.rst
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/NavigationMenu.vue
  frontend/app/src/components/asset-manager/cex-mapping/ManageCexMappingContent.vue
  frontend/app/src/components/asset-manager/cex-mapping/ManageCexMappingForm.vue
  frontend/app/src/components/asset-manager/cex-mapping/ManageCexMappingFormDialog.vue
  frontend/app/src/components/asset-manager/cex-mapping/ManageCexMappingTable.vue
  frontend/app/src/components/asset-manager/custom/CustomAssetForm.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetContent.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetTable.vue
  frontend/app/src/components/inputs/ExchangeInput.vue
  frontend/app/src/components/settings/api-keys/exchange/ExchangeKeysForm.vue
  frontend/app/src/composables/api/assets/cex-mapping.ts
  frontend/app/src/composables/assets/forms/cex-mapping-form.ts
  frontend/app/src/locales/en.json
  frontend/app/src/pages/asset-manager/cex-mapping/index.vue
  frontend/app/src/pages/asset-manager/more/index.vue
  frontend/app/src/plugins/rui/index.ts
  frontend/app/src/router/index.ts
  frontend/app/src/router/routes.ts
  frontend/app/src/types/asset/index.ts
  frontend/app/tests/e2e/pages/api-keys-page.ts
Due: frontend_unit, frontend_integration

Update front-end with support for Scroll chain
  frontend/app/public/assets/images/protocols/scroll.svg
  frontend/app/src/composables/balances/account-details.ts
  frontend/app/src/composables/balances/token-detection.ts
  frontend/app/src/composables/blockchain/account-balances/chain.ts
  frontend/app/src/composables/blockchain/account-balances/index.ts
  frontend/app/src/data/external-links.ts
  frontend/app/src/pages/balances/blockchain/index.vue
  frontend/app/src/store/blockchain/accounts/chains.ts
  frontend/app/src/store/blockchain/balances/chains.ts
  frontend/app/src/store/blockchain/tokens.ts
  frontend/app/src/types/asset/asset-urls.ts
  frontend/app/src/types/blockchain/balances.ts
  frontend/app/src/types/blockchain/chains.ts
  frontend/app/src/types/settings/frontend-settings.ts
  frontend/common/src/blockchain/index.ts
Due: frontend_unit, frontend_integration

Back-end improvements from review
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/chain/scroll/constants.py
  rotkehlchen/db/upgrades/v41_v42.py
  rotkehlchen/tests/api/blockchain/test_evm.py
  rotkehlchen/tests/unit/test_scroll_inquirer.py
  rotkehlchen/tests/utils/database.py
  rotkehlchen/tests/utils/scroll.py
Due: backend

Fix mistakenly bumped db version
  rotkehlchen/globaldb/utils.py
Due: backend

Fix front-end with suggestions from review
  frontend/app/src/components/address-book-manager/AddressBookForm.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/balances/blockchain/index.vue
Due: frontend_unit, frontend_integration

Front-end updates after rebase
  frontend/app/src/composables/accounts/addresses.ts
  frontend/app/src/store/blockchain/tokens.ts
Due: frontend_unit, frontend_integration

Support coinbase staking_rewards tx type
  rotkehlchen/exchanges/coinbase.py
Due: backend

Bump ruff to 0.3.3
  requirements_lint.txt
Due: none

refactor: addresses in address book form
  frontend/app/src/components/address-book-manager/AddressBookForm.vue
Due: frontend_unit, frontend_integration

refactor: addresses in address book form (#7624)
  frontend/app/src/components/address-book-manager/AddressBookForm.vue
Due: frontend_unit, frontend_integration

chore: update ui-library
  frontend/app/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

chore: update ui-library (#7625)
  frontend/app/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

VCR test_coingecko_historical_price
  rotkehlchen/tests/external_apis/test_coingecko.py
Due: backend

chore: remove assertion errors on reload
  frontend/app/src/components/history/LocationDisplay.vue
  frontend/app/src/composables/locations.ts
Due: frontend_unit, frontend_integration

chore: remove assertion errors on reload (#7627)
  frontend/app/src/components/history/LocationDisplay.vue
  frontend/app/src/composables/locations.ts
Due: frontend_unit, frontend_integration

fix: resolve loopring key nav error
  frontend/app/src/components/settings/api-keys/external/LoopringApiKey.vue
  frontend/app/tests/unit/specs/components/settings/api-keys/external-services.spec.ts
Due: frontend_unit, frontend_integration

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
