Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Update tags of derived addresses
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tests/db/test_xpubs.py
Due: backend

Fix refund of uni v3 router
  rotkehlchen/chain/ethereum/modules/uniswap/v3/decoder.py
  rotkehlchen/tests/unit/decoders/test_uniswapv3.py
Due: backend

Avoid decoding transactions for the wrong chains
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/tests/unit/test_evm_tx_decoding.py
Due: backend

Verify that the accounting respects the main currency selected
  docs/changelog.rst
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tests/unit/accounting/test_misc.py
Due: backend

Fix price historian in tests
  rotkehlchen/tests/api/test_history.py
  rotkehlchen/tests/fixtures/history.py
  rotkehlchen/tests/integration/test_price_history.py
  rotkehlchen/tests/unit/test_price_historian.py
  rotkehlchen/tests/utils/history.py
Due: backend

Adds handling for empty message and tx query cleanup
  frontend/app/src/services/balances/price.ts
  frontend/app/src/services/types-api.ts
  frontend/app/src/store/history/query-status.ts
  frontend/app/src/store/history/transactions.ts
  frontend/app/src/store/tasks/index.ts
Due: frontend_unit, frontend_integration

Changes text for statistics asset select
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
Due: frontend_unit, frontend_integration

feat: logout after sync
  frontend/app/src/components/status/sync/SyncIndicator.vue
  frontend/app/src/store/session/sync-store.ts
Due: frontend_unit, frontend_integration

Make the create user endpoint async
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/tests/api/test_users.py
Due: backend

Adds DB upgrade progress on database pull flow
  frontend/app/src/components/status/sync/SyncIndicator.vue
  frontend/app/src/composables/message-handling.ts
  frontend/app/src/composables/user/account.ts
  frontend/app/src/store/session/auth.ts
  frontend/app/src/store/session/index.ts
  frontend/app/src/store/session/sync-store.ts
Due: frontend_unit, frontend_integration

Changes create account to async and fixes restore progress
  frontend/app/src/composables/user/account.ts
  frontend/app/src/pages/user/create/index.vue
  frontend/app/src/services/session/users.api.ts
  frontend/app/src/store/session/index.ts
  frontend/app/src/types/login.ts
  frontend/app/src/types/task-type.ts
Due: frontend_unit, frontend_integration

Fix and check string for error during user creation
  rotkehlchen/api/rest.py
  rotkehlchen/tests/api/test_users.py
Due: backend

Use token kind in cache key
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/tests/unit/test_tokens.py
Due: backend

fix: turn off tx hash for eth staking event note
  frontend/app/src/components/history/transactions/TransactionEventNote.vue
  frontend/app/src/components/history/transactions/TransactionEventType.vue
  frontend/app/src/components/history/transactions/TransactionEvents.vue
  frontend/app/src/store/history/consts.ts
  frontend/app/src/store/history/transactions.ts
  frontend/app/src/types/transaction.ts
Due: frontend_unit, frontend_integration

Prevent curve pool creation from raising NonERC20Conformant errors
  rotkehlchen/chain/ethereum/modules/curve/pools_cache.py
  rotkehlchen/chain/ethereum/node_inquirer.py
Due: backend

Bump version: 1.26.3 → 1.27.0
  .bumpversion.cfg
  docs/conf.py
  frontend/app/package.json
  setup.py
Due: frontend_unit, frontend_integration

Add 1.27.0 to changelong along with some missing entries
  docs/changelog.rst
Due: none

Etherscan ts to blocknumber utilized closest argument properly
  rotkehlchen/chain/ethereum/constants.py
  rotkehlchen/chain/ethereum/modules/compound/compound.py
  rotkehlchen/chain/ethereum/modules/yearn/vaults.py
  rotkehlchen/chain/ethereum/modules/yearn/vaultsv2.py
  rotkehlchen/chain/ethereum/node_inquirer.py
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/chain/optimism/constants.py
  rotkehlchen/chain/optimism/node_inquirer.py
  rotkehlchen/db/evmtx.py
  rotkehlchen/externalapis/etherscan.py
  rotkehlchen/tests/external_apis/test_etherscan.py
Due: backend

[UNDO]For all to_block etherscan queries use before instead of after
  rotkehlchen/chain/ethereum/modules/compound/compound.py
  rotkehlchen/chain/ethereum/modules/yearn/vaults.py
  rotkehlchen/chain/ethereum/modules/yearn/vaultsv2.py
  rotkehlchen/externalapis/etherscan.py
Due: backend

Fixes trades refresh to only check connected exchanges
  frontend/app/src/components/history/transactions/TransactionEventNote.vue
  frontend/app/src/components/staking/KrakenPage.vue
  frontend/app/src/pages/balances/exchange/index.vue
  frontend/app/src/store/balances/exchanges.ts
  frontend/app/src/store/history/associated-locations.ts
  frontend/app/src/store/history/trades.ts
Due: frontend_unit, frontend_integration

Not connected, not syncing exchange query won't query all
  docs/changelog.rst
  rotkehlchen/history/events.py
  rotkehlchen/tests/unit/test_trades.py
Due: backend

Invalidate eth2 cache on delete
  rotkehlchen/chain/aggregator.py
Due: backend

feat: fix informational history event type
  frontend/app/src/components/history/transactions/TransactionEventAsset.vue
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/store/history/consts.ts
  frontend/app/src/types/transaction.ts
Due: frontend_unit, frontend_integration

Reset events
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v35_v36.py
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
