Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Handle rate limited nodes
  frontend/app/src/components/history/BadgeDisplay.vue
  frontend/app/src/components/settings/general/rpc/BlockchainRpcNodeManager.vue
  frontend/app/src/composables/api/session/index.spec.ts
  frontend/app/src/locales/en.json
  frontend/app/src/modules/session/use-periodic-data-fetcher.spec.ts
  frontend/app/src/modules/session/use-periodic-data-fetcher.ts
  frontend/app/src/store/session/metadata.ts
  frontend/app/src/types/session/index.ts
  frontend/app/src/types/settings/rpc.ts
  rotkehlchen/api/services/transactions.py
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/chain/mixins/rpc_nodes.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/api/test_misc.py
  rotkehlchen/tests/api/test_periodic.py
  rotkehlchen/tests/unit/test_rpc_node_runtime.py
Due: backend, frontend_unit, frontend_integration

Move levenshtein search to colibri
  colibri/Cargo.lock
  colibri/Cargo.toml
  colibri/src/api/assets.rs
  colibri/src/api/schemas/assets.rs
  colibri/src/blockchain/types.rs
  colibri/src/database/user_db.rs
  colibri/src/main.rs
  colibri/src/types.rs
  frontend/app/src/composables/api/assets/info.spec.ts
  frontend/app/src/composables/api/assets/info.ts
Due: frontend_unit, frontend_integration

Fix the decode of beefy unstake rewards
  docs/changelog.rst
  rotkehlchen/chain/evm/decoding/beefy_finance/decoder.py
  rotkehlchen/tests/unit/decoders/test_beefy_finance.py
Due: backend

Bump dependencies
  pyproject.toml
  rotkehlchen/tests/api/test_balances.py
  rotkehlchen/tests/conftest.py
  rotkehlchen/tests/unit/test_solana.py
  uv.lock
Due: backend

Decode beefy reward claims
  rotkehlchen/chain/evm/decoding/beefy_finance/decoder.py
  rotkehlchen/tests/unit/decoders/test_beefy_finance.py
Due: backend

Small cryptocompare fixes
  rotkehlchen/externalapis/cryptocompare.py
Due: backend

Use frozenset for O(1) tracked address lookups in decode hot path
  rotkehlchen/chain/decoding/tools.py
  rotkehlchen/chain/decoding/utils.py
Due: backend

fix test_fatal_error_during_query_history by stopping indexers query
  rotkehlchen/tests/api/test_history.py
Due: backend

perf: use deque instead of list.pop(0) in token balance chunking
  rotkehlchen/chain/evm/tokens.py
Due: backend

perf: reuse token address list in multicall encode/decode loop
  rotkehlchen/chain/evm/tokens.py
Due: backend

perf: use frozenset for O(1) replacement asset lookup in decoder
  rotkehlchen/chain/evm/decoding/decoder.py
Due: backend

perf: use frozenset for non_syncing_exchanges O(1) lookups
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/settings.py
  rotkehlchen/tests/api/test_settings.py
  rotkehlchen/tests/db/test_db.py
Due: backend

Don't query blockscout for OP bedrock transactions
  docs/changelog.rst
  rotkehlchen/api/services/transactions.py
  rotkehlchen/chain/evm/decoding/odos/common.py
  rotkehlchen/chain/evm/decoding/paraswap/decoder.py
  rotkehlchen/chain/evm/decoding/rainbow/decoder.py
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/chain/evm/transactions.py
  rotkehlchen/chain/optimism/constants.py
  rotkehlchen/externalapis/blockscout.py
  rotkehlchen/externalapis/etherscan_like.py
  rotkehlchen/tests/external_apis/test_blockscout.py
  rotkehlchen/tests/unit/test_evm_transactions.py
Due: backend

Prevent data loss in internal transactions
  docs/changelog.rst
  rotkehlchen/api/services/transactions.py
  rotkehlchen/chain/evm/decoding/odos/common.py
  rotkehlchen/chain/evm/decoding/paraswap/decoder.py
  rotkehlchen/chain/evm/decoding/rainbow/decoder.py
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/chain/evm/transactions.py
  rotkehlchen/errors/misc.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/unit/test_evm_transactions.py
  rotkehlchen/types.py
Due: backend

Bump more deps
  pyproject.toml
  uv.lock
Due: none

Fixed lint errors
  rotkehlchen/tests/unit/test_coinledger_import.py
Due: backend

Sushiswap swaps should now be decoded on all EVM chains
  docs/changelog.rst
  rotkehlchen/chain/arbitrum_one/modules/sushiswap/__init__.py
  rotkehlchen/chain/arbitrum_one/modules/sushiswap/decoder.py
  rotkehlchen/chain/base/modules/sushiswap/__init__.py
  rotkehlchen/chain/base/modules/sushiswap/constants.py
  rotkehlchen/chain/base/modules/sushiswap/decoder.py
  rotkehlchen/chain/binance_sc/modules/sushiswap/__init__.py
  rotkehlchen/chain/binance_sc/modules/sushiswap/decoder.py
  rotkehlchen/chain/evm/decoding/sushiswap/__init__.py
  rotkehlchen/chain/evm/decoding/sushiswap/constants.py
  rotkehlchen/chain/evm/decoding/sushiswap/decoder.py
  rotkehlchen/chain/gnosis/modules/sushiswap/__init__.py
  rotkehlchen/chain/gnosis/modules/sushiswap/decoder.py
  rotkehlchen/chain/optimism/modules/sushiswap/__init__.py
  rotkehlchen/chain/optimism/modules/sushiswap/decoder.py
  rotkehlchen/chain/polygon_pos/modules/sushiswap/__init__.py
  rotkehlchen/chain/polygon_pos/modules/sushiswap/decoder.py
  rotkehlchen/chain/scroll/modules/sushiswap/__init__.py
  rotkehlchen/chain/scroll/modules/sushiswap/decoder.py
  rotkehlchen/tests/unit/decoders/test_sushiswap.py
Due: backend

Address CoinLedger PR comments
  rotkehlchen/data_import/importers/coinledger.py
  rotkehlchen/tests/unit/test_coinledger_import.py
Due: backend

add-missing-coinledger-tx-types
  rotkehlchen/data_import/importers/coinledger.py
  rotkehlchen/tests/data/coinledger_export.csv
  rotkehlchen/tests/unit/test_coinledger_import.py
Due: backend

Fix rainbow decoder inverted fee condition
  docs/changelog.rst
  rotkehlchen/chain/evm/decoding/rainbow/decoder.py
  rotkehlchen/tests/unit/decoders/test_rainbow.py
Due: backend

chore(frontend): update vueuse to v14.2.1
  frontend/app/auto-imports.d.ts
  frontend/app/package.json
  frontend/app/src/components/accounts/blockchain/XpubInput.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetForm.vue
  frontend/app/src/components/calendar/CalendarReminderEntry.vue
  frontend/app/src/components/history/events/tx/TransactionForm.vue
  frontend/app/src/components/notes/UserNotesList.vue
  frontend/app/src/components/sponsorship/SponsorshipView.vue
  frontend/app/src/composables/history/events/tx/use-refresh-transactions.spec.ts
  frontend/app/src/composables/settings/accounting/rule-mapping.ts
  frontend/app/src/composables/settings/use-asset-statistic-state.ts
  frontend/app/src/composables/update-message.ts
  frontend/app/src/modules/account/use-login.ts
  frontend/app/src/modules/history/events/use-history-events-status.ts
  frontend/app/src/modules/onchain/send/TradeAssetSelector.vue
  frontend/app/src/modules/onchain/wallet-providers/use-unified-providers.ts
  frontend/app/src/modules/premium/devices/components/PremiumDeviceFormDialog.vue
  frontend/app/src/modules/staking/eth/components/EthValidatorCombinedFilter.vue
  frontend/app/src/modules/table/use-remember-table-filter.ts
  frontend/app/src/modules/table/use-remember-table-sorting.ts
  frontend/app/src/store/settings/session.ts
  frontend/common/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

chore(frontend): bump frontend dependencies
  frontend/app/package.json
  frontend/common/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

fix(tests): resolve vitest warnings and Vue scope issues
  frontend/app/src/components/settings/OnboardingSettings.spec.ts
  frontend/app/src/composables/history/events/tx/index.spec.ts
  frontend/app/src/composables/history/events/tx/use-refresh-transactions.spec.ts
  frontend/app/src/composables/random-stepper.spec.ts
  frontend/app/src/modules/accounts/import-export/use-account-import.spec.ts
  frontend/app/src/modules/app/schedulers/use-interval-scheduler.spec.ts
  frontend/app/src/modules/app/use-backend-connection.spec.ts
  frontend/app/src/modules/balances/use-balance-queue.spec.ts
  frontend/app/src/modules/data/use-database.spec.ts
  frontend/app/src/modules/history/events/composables/use-history-events-data.spec.ts
  frontend/app/src/modules/reports/use-report-generation.spec.ts
  frontend/app/src/modules/staking/kraken/use-kraken-staking-operations.spec.ts
  frontend/app/src/modules/sync-progress/test-utils.ts
  frontend/app/tests/unit/setup-files/setup.ts
Due: frontend_unit, frontend_integration
