Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

chore: correct param name for docs/api.rst (#10444)
  docs/api.rst
Due: none

Delete txs etc when removing a btc/bch account
  rotkehlchen/api/rest.py
  rotkehlchen/chain/balances.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/history_events.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/api/test_bitcoin.py
  rotkehlchen/tests/utils/factories.py
  rotkehlchen/types.py
Due: backend

Add ts validation for setting historical prices
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/tests/api/test_historical_assets_price.py
Due: backend

fix: edit historical price with second timestamp
  frontend/app/src/modules/history/management/forms/HistoryEventAssetPriceForm.vue
Due: frontend_unit, frontend_integration

fix: use mapping endpoint directly for asset search
  frontend/app/src/components/AssetBalances.vue
  frontend/app/src/components/dashboard/DashboardAssetTable.vue
  frontend/app/src/components/inputs/use-asset-select-info.ts
  frontend/app/src/composables/assets/common.ts
  frontend/app/src/composables/assets/retrieval.ts
Due: frontend_unit, frontend_integration

fix: event analysis zero timestamp
  frontend/app/package.json
  frontend/app/src/components/wrapped/WrappedContainer.vue
  frontend/app/src/pages/statistics/history-events/index.vue
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

Add solana as a valid location
  rotkehlchen/constants/location_details.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v48_v49.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/types.py
Due: backend

Handle deserialization error for solana
  rotkehlchen/globaldb/handler.py
Due: backend

feat: solana filter in asset table
  frontend/app/src/components/asset-manager/managed/ManagedAssetContent.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetForm.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetFormDialog.vue
  frontend/app/src/composables/api/assets/management.ts
  frontend/app/src/composables/filters/assets.ts
  frontend/app/src/locales/en.json
  frontend/app/tests/unit/specs/composables/assets/filter-paginate-assets.spec.ts
Due: frontend_unit, frontend_integration

fix: add suggestionsToShow prop to the matcher
  frontend/app/src/components/helper/display/icons/AssetIcon.vue
  frontend/app/src/components/table-filter/FilterDropdown.vue
  frontend/app/src/composables/api/assets/management.ts
  frontend/app/src/composables/filters/assets.ts
  frontend/app/src/composables/filters/events.ts
  frontend/app/src/types/asset/index.ts
  frontend/app/src/types/filtering.ts
Due: frontend_unit, frontend_integration

Add logic to decode collateral swaps
  rotkehlchen/chain/arbitrum_one/modules/aave/v3/decoder.py
  rotkehlchen/chain/base/modules/aave/v3/decoder.py
  rotkehlchen/chain/binance_sc/modules/aave/v3/decoder.py
  rotkehlchen/chain/ethereum/modules/aave/v3/decoder.py
  rotkehlchen/chain/evm/decoding/aave/v3/constants.py
  rotkehlchen/chain/evm/decoding/aave/v3/decoder.py
  rotkehlchen/chain/gnosis/modules/aave/v3/decoder.py
  rotkehlchen/chain/optimism/modules/aave/v3/decoder.py
  rotkehlchen/chain/polygon_pos/modules/aave/v3/decoder.py
  rotkehlchen/tests/unit/decoders/test_aave_v3.py
Due: backend

Allow filtering assets with solana addresses
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/filtering.py
  rotkehlchen/globaldb/handler.py
  rotkehlchen/tests/api/test_assets.py
  rotkehlchen/utils/misc.py
Due: backend

Bump version: 1.39.1 → 1.40.0
  .bumpversion.cfg
  docs/conf.py
  frontend/app/package.json
  pyproject.toml
Due: frontend_unit, frontend_integration

Add 1.40 to changelog
  docs/changelog.rst
Due: none

Add solana tokens csv to rotkehlchen.spec
  rotkehlchen.spec
Due: backend

Only skip cache update for existing protocols after upgrade
  rotkehlchen/chain/ethereum/utils.py
Due: backend

fix: use https for VITE_ROTKI_WEBSITE_URL env
  frontend/app/.env
Due: frontend_unit, frontend_integration

chore: update GitHub actions in CI workflows
  .github/workflows/rotki_ci.yml
Due: none

Small adjustments for the aave v3 common decoder
  rotkehlchen/chain/evm/decoding/aave/v3/decoder.py
Due: backend

Script to detect duplicate binary constants
  .gitignore
  Makefile
  tools/find-duplicate-constants/Cargo.lock
  tools/find-duplicate-constants/Cargo.toml
  tools/find-duplicate-constants/README.md
  tools/find-duplicate-constants/run.sh
  tools/find-duplicate-constants/src/main.rs
Due: none

Bump ruff
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
