Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Prevent simultaneous global DB access at global DB upgrade
  rotkehlchen/globaldb/updates.py
Due: backend

Fix tests and adjust cache.
  frontend/app/src/store/assets/asset-cache.ts
  frontend/app/tests/unit/store/assets/asset-cache.spec.ts
  rotkehlchen/assets/exchanges_mappings/binance.py
Due: backend, frontend_unit, frontend_integration

Handle possible errors when resolving assets in decoders
  rotkehlchen/chain/ethereum/decoding/decoder.py
  rotkehlchen/chain/ethereum/decoding/interfaces.py
  rotkehlchen/chain/ethereum/modules/airdrops/decoder.py
  rotkehlchen/chain/ethereum/modules/convex/decoder.py
  rotkehlchen/chain/ethereum/modules/curve/decoder.py
  rotkehlchen/chain/ethereum/modules/gitcoin/decoder.py
  rotkehlchen/chain/ethereum/modules/kyber/decoder.py
  rotkehlchen/chain/ethereum/modules/liquity/decoder.py
  rotkehlchen/chain/ethereum/modules/makerdao/decoder.py
  rotkehlchen/chain/ethereum/modules/oneinch/v1/decoder.py
  rotkehlchen/chain/ethereum/modules/pickle_finance/decoder.py
  rotkehlchen/chain/ethereum/modules/sushiswap/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v1/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v2/common.py
  rotkehlchen/chain/ethereum/modules/uniswap/v2/decoder.py
  rotkehlchen/chain/ethereum/modules/uniswap/v3/decoder.py
  rotkehlchen/chain/ethereum/modules/votium/decoder.py
Due: backend

Changes GlobalSearch vue to lazily evaluate items
  frontend/app/src/components/AccountManagement.vue
  frontend/app/src/components/GlobalSearch.vue
Due: frontend_unit, frontend_integration

Add many more spam assets
  rotkehlchen/assets/spam_assets.py
Due: backend

Introduces batching to asset cache to reduce number of requests
  frontend/app/src/store/assets/asset-cache.ts
  frontend/app/tests/unit/store/assets/asset-cache.spec.ts
Due: frontend_unit, frontend_integration

At globalDB v2->v3 upgrade, move some prices to the new format
  rotkehlchen/globaldb/upgrades/v2_v3.py
Due: backend

Ignored ignored assets at token query. Add spam assets at v34->v35
  rotkehlchen/api/rest.py
  rotkehlchen/assets/spam_assets.py
  rotkehlchen/data_migrations/migrations/migration_3.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/upgrades/v34_v35.py
Due: backend

Adds required key to asset filter matchers
  frontend/app/src/composables/filters/assets.ts
Due: frontend_unit, frontend_integration

Change wording of some decoder event notes
  docs/api.rst
  rotkehlchen/chain/ethereum/decoding/decoder.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/api/test_history_base_entry.py
  rotkehlchen/tests/data/pnl_debug.json
  rotkehlchen/tests/unit/accounting/test_settings.py
  rotkehlchen/tests/unit/accounting/test_transactions.py
  rotkehlchen/tests/unit/decoders/test_1inch.py
  rotkehlchen/tests/unit/decoders/test_aave.py
  rotkehlchen/tests/unit/decoders/test_compound.py
  rotkehlchen/tests/unit/decoders/test_convex.py
  rotkehlchen/tests/unit/decoders/test_curve.py
  rotkehlchen/tests/unit/decoders/test_element_finance.py
  rotkehlchen/tests/unit/decoders/test_enriched.py
  rotkehlchen/tests/unit/decoders/test_gitcoin.py
  rotkehlchen/tests/unit/decoders/test_hop.py
  rotkehlchen/tests/unit/decoders/test_kyber.py
  rotkehlchen/tests/unit/decoders/test_liquity.py
  rotkehlchen/tests/unit/decoders/test_main.py
  rotkehlchen/tests/unit/decoders/test_makerdao.py
  rotkehlchen/tests/unit/decoders/test_pickle.py
  rotkehlchen/tests/unit/decoders/test_sushiswap.py
  rotkehlchen/tests/unit/decoders/test_uniswapv2.py
  rotkehlchen/tests/unit/decoders/test_uniswapv3.py
  rotkehlchen/tests/unit/decoders/test_votium.py
  rotkehlchen/tests/unit/test_evm_tx_decoding.py
Due: backend

Fix and adjust tests
  rotkehlchen/tests/api/test_aave.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/data/pnl_debug.json
  rotkehlchen/tests/data/v34_rotkehlchen.db
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

Add defillama as defi oracle
  frontend/app/public/assets/images/oracles/defillama.svg
  frontend/app/src/components/settings/OracleEntry.vue
  frontend/app/src/components/settings/PriceOracleSettings.vue
  frontend/app/src/types/price-oracle.ts
  rotkehlchen/externalapis/defillama.py
  rotkehlchen/history/price.py
  rotkehlchen/history/types.py
  rotkehlchen/inquirer.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/api/test_history.py
  rotkehlchen/tests/external_apis/test_cryptocompare.py
  rotkehlchen/tests/external_apis/test_defillama.py
  rotkehlchen/tests/fixtures/accounting.py
  rotkehlchen/tests/fixtures/history.py
  rotkehlchen/tests/unit/test_price_historian.py
Due: backend, frontend_unit, frontend_integration

Abstract common logic in defillama
  rotkehlchen/externalapis/defillama.py
  rotkehlchen/tests/external_apis/test_defillama.py
Due: backend

Add defillama oracle to the database, catch deserialization errors and rename oracle
  frontend/app/src/components/settings/PriceOracleSettings.vue
  rotkehlchen/externalapis/defillama.py
  rotkehlchen/globaldb/schema.py
  rotkehlchen/globaldb/upgrades/v2_v3.py
  rotkehlchen/history/price.py
  rotkehlchen/history/types.py
  rotkehlchen/inquirer.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/api/test_history.py
  rotkehlchen/tests/external_apis/test_defillama.py
  rotkehlchen/tests/fixtures/accounting.py
  rotkehlchen/tests/fixtures/history.py
  rotkehlchen/tests/integration/test_price_history.py
  rotkehlchen/tests/unit/test_price_historian.py
Due: backend, frontend_unit, frontend_integration

Update the list of oracles in db upgrade
  rotkehlchen/db/upgrades/v34_v35.py
  rotkehlchen/history/types.py
  rotkehlchen/inquirer.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/types.py
Due: backend

Use the same price as in trade for fee if it was one of the traded assets
  rotkehlchen/accounting/pot.py
  rotkehlchen/exchanges/data_structures.py
  rotkehlchen/tests/unit/accounting/test_basic.py
  rotkehlchen/tests/unit/accounting/test_settings.py
Due: backend

updated web3.py to 5.31.1
  requirements.txt
  requirements_dev.txt
Due: none

updated polyleven to 0.8
  requirements.txt
Due: none

Upgate pylint to 2.15.5
  requirements_lint.txt
Due: none

Update substrate interface to 1.3.3
  requirements.txt
Due: none

update bip-utils to 2.7.0
  requirements.txt
Due: none

Update psutil to 5.9.3
  requirements_dev.txt
Due: none

Update gevent to 22.10.1
  requirements.txt
Due: none

Update pytest coverage to 4.0.0
  requirements_dev.txt
Due: none
