Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

refactor(frontend): improve subprocess termination logging in electron modules
  frontend/app/electron/main/process-manager.ts
  frontend/app/electron/main/subprocess-handler.ts
Due: frontend_unit, frontend_integration

fix(11380): fix duplicated tags issue in asset breakdown
  docs/changelog.rst
  frontend/app/src/modules/balances/blockchain/use-blockchain-account-data.ts
  frontend/app/src/utils/blockchain/accounts/create-account-with-balance.ts
  frontend/app/src/utils/tags.ts
Due: frontend_unit, frontend_integration

fix(11381): hide edit button per chain
  docs/changelog.rst
  frontend/app/src/modules/accounts/table/components/table/AccountActions.spec.ts
  frontend/app/src/modules/accounts/table/components/table/AccountActions.vue
Due: frontend_unit, frontend_integration

Improvements for monerium API
  rotkehlchen/db/upgrades/v50_v51.py
  rotkehlchen/externalapis/monerium.py
  rotkehlchen/tests/data/v50_rotkehlchen.db
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/external_apis/test_monerium.py
  rotkehlchen/tests/fixtures/external_apis.py
Due: backend

Fix suppress_missing_key_msg_services being reset when updating other settings
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/tests/api/test_settings.py
Due: backend

fix: indexer setting and etherscan notification UX
  docs/changelog.rst
  frontend/app/src/components/settings/ExternalServiceSettingsCategory.vue
  frontend/app/src/components/settings/api-keys/ServiceKeyCard.vue
  frontend/app/src/components/settings/api-keys/external/BlockscoutApiKeys.vue
  frontend/app/src/components/settings/evm/IndexerOrderSetting.vue
  frontend/app/src/components/settings/general/external-services/SuppressMissingKeyServicesSetting.vue
  frontend/app/src/components/status/notifications/Notification.vue
  frontend/app/src/composables/api/settings/settings-api.spec.ts
  frontend/app/src/data/factories.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/locales/ru.json
  frontend/app/src/modules/messaging/handlers/missing-api-key.ts
  frontend/app/src/modules/messaging/types/notification-types.ts
  frontend/app/src/store/settings/general.ts
  frontend/app/src/types/user.ts
  frontend/app/tests/unit/fixtures/settings.json
  frontend/common/src/messages/index.ts
Due: frontend_unit, frontend_integration

feat(frontend): see group ignored events
  frontend/app/src/components/history/events/HistoryEventsList.vue
  frontend/app/src/components/history/events/HistoryEventsListItem.vue
  frontend/app/src/components/history/events/MatchAssetMovementsDialog.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

fix: based on the review
  frontend/app/src/components/settings/general/external-services/SuppressMissingKeyServicesSetting.vue
  frontend/app/src/modules/messaging/handlers/missing-api-key.ts
  frontend/app/src/types/user.ts
Due: frontend_unit, frontend_integration

feat: query archive node balances
  frontend/app/src/components/helper/BlockchainAccountSelector.vue
  frontend/app/src/components/settings/general/rpc/BlockchainRpcNodeManager.vue
  frontend/app/src/components/settings/general/rpc/RpcSettings.vue
  frontend/app/src/composables/api/balances/historical-balances-api.ts
  frontend/app/src/locales/en.json
  frontend/app/src/modules/history/balances/HistoricalBalancesContent.vue
  frontend/app/src/modules/history/balances/HistoricalBalancesFilter.vue
  frontend/app/src/modules/history/balances/types.ts
  frontend/app/src/modules/history/balances/use-archive-nodes.ts
  frontend/app/src/modules/history/balances/use-historical-balances.ts
  frontend/app/src/types/settings/rpc.ts
  frontend/app/src/types/task-type.ts
Due: frontend_unit, frontend_integration

fix: based on the review
  frontend/app/src/composables/api/settings/evm-nodes-api.ts
  frontend/app/src/modules/history/balances/use-archive-nodes.ts
Due: frontend_unit, frontend_integration

add missing bucket field to negative balance ws notification
  docs/websockets.rst
  rotkehlchen/tasks/historical_balances.py
Due: backend

Bump ruff and remove code from __init__
  pyproject.toml
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/bitcoin/__init__.py
  rotkehlchen/chain/bitcoin/utils.py
  rotkehlchen/chain/ethereum/modules/__init__.py
  rotkehlchen/chain/ethereum/modules/utils.py
  rotkehlchen/tests/fixtures/exchanges/__init__.py
  rotkehlchen/tests/fixtures/exchanges/exchanges.py
  uv.lock
Due: backend

fix(11395): table filter enter with num pad
  docs/changelog.rst
  frontend/app/src/components/table-filter/SuggestedItem.vue
Due: frontend_unit, frontend_integration

refactor: moves newly detected assets to indexeddb
  frontend/app/src/components/account-management/upgrade/UpgradeProgressDisplay.vue
  frontend/app/src/components/asset-manager/newly-detected/NewlyDetectedAssetContent.vue
  frontend/app/src/components/asset-manager/newly-detected/NewlyDetectedAssetTable.vue
  frontend/app/src/composables/assets/newly-detected-tokens.ts
  frontend/app/src/data/constraints.ts
  frontend/app/src/data/defaults.ts
  frontend/app/src/locales/en.json
  frontend/app/src/modules/asset-manager/missing-mappings/use-missing-mappings-db.spec.ts
  frontend/app/src/modules/asset-manager/missing-mappings/use-missing-mappings-db.ts
  frontend/app/src/modules/data/use-database.spec.ts
  frontend/app/src/modules/data/use-database.ts
  frontend/app/src/modules/data/utils/hash.spec.ts
  frontend/app/src/modules/data/utils/hash.ts
  frontend/app/src/modules/messaging/handlers/new-token-detected.ts
  frontend/app/src/modules/messaging/messages.ts
  frontend/app/src/modules/messaging/types/business-types.ts
  frontend/app/src/modules/newly-detected-tokens/components/NewlyDetectedAssetTable.vue
  frontend/app/src/modules/newly-detected-tokens/index.ts
  frontend/app/src/modules/newly-detected-tokens/settings/NewlyDetectedTokensMaxCountSetting.vue
  frontend/app/src/modules/newly-detected-tokens/settings/NewlyDetectedTokensSettingsCategory.vue
  frontend/app/src/modules/newly-detected-tokens/settings/NewlyDetectedTokensTtlSetting.vue
  frontend/app/src/modules/newly-detected-tokens/types.spec.ts
  frontend/app/src/modules/newly-detected-tokens/types.ts
  frontend/app/src/modules/newly-detected-tokens/use-newly-detected-tokens-db.spec.ts
  frontend/app/src/modules/newly-detected-tokens/use-newly-detected-tokens-db.ts
  frontend/app/src/modules/newly-detected-tokens/use-newly-detected-tokens.spec.ts
  frontend/app/src/modules/newly-detected-tokens/use-newly-detected-tokens.ts
  frontend/app/src/pages/asset-manager/more/newly-detected/index.vue
  frontend/app/src/pages/settings/interface/index.vue
  frontend/app/src/store/settings/frontend.ts
  frontend/app/src/types/settings/frontend-settings.ts
  frontend/app/tests/unit/specs/composables/assets/newly-detected-tokens.spec.ts
  frontend/app/tests/unit/specs/store/settings/frontend.spec.ts
  frontend/app/tests/unit/specs/types/user.spec.ts
Due: frontend_unit, frontend_integration

chore: changes extension loading order
  frontend/app/electron/main/window-manager.ts
Due: frontend_unit, frontend_integration

refactor(frontend): improve subprocess termination
  frontend/app/electron/main/process-manager.ts
  frontend/app/electron/main/subprocess-handler.ts
Due: frontend_unit, frontend_integration

fix(11396): loading indicator for asset whitelist
  docs/changelog.rst
  frontend/app/src/components/asset-manager/managed/ManagedAssetIgnoreSwitch.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetTable.vue
  frontend/app/src/composables/asset-manager/use-managed-asset-operations.ts
  frontend/app/src/locales/en.json
  frontend/app/src/pages/assets/[identifier].vue
Due: frontend_unit, frontend_integration

fix: based on the review
  frontend/app/src/components/asset-manager/managed/ManagedAssetIgnoreSwitch.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetTable.vue
  frontend/app/src/composables/asset-manager/use-asset-display-helpers.ts
  frontend/app/src/composables/asset-manager/use-managed-asset-operations.ts
  frontend/app/src/pages/assets/[identifier].vue
  frontend/app/src/store/assets/ignored.ts
  frontend/app/src/store/assets/whitelisted.ts
Due: frontend_unit, frontend_integration

feat(11397): redetect tokens for group
  docs/changelog.rst
  frontend/app/src/components/accounts/blockchain/TokenDetection.vue
  frontend/app/src/composables/balances/token-detection.ts
  frontend/app/src/modules/accounts/table/components/table/AccountActions.spec.ts
  frontend/app/src/modules/accounts/table/components/table/AccountActions.vue
Due: frontend_unit, frontend_integration

Manage customized events conflicts
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/tasks/events.py
  rotkehlchen/tests/api/test_customized_event_duplicates.py
Due: backend

serialize location in negative balance message
  rotkehlchen/tasks/historical_balances.py
Due: backend

fix(frontend): use negative balance bucket filter
  frontend/app/src/components/history/events/HistoryEventsFiltersChips.vue
  frontend/app/src/composables/history/events/use-history-events-filters.ts
  frontend/app/src/modules/history/balances/NegativeBalancesDialog.vue
  frontend/app/src/modules/messaging/types/status-types.ts
  frontend/common/src/statistics/index.ts
Due: frontend_unit, frontend_integration

fix flaky test_skip_if_running on macos
  rotkehlchen/tests/unit/test_utils.py
Due: backend

feat(frontend): enhance startup error handling
  frontend/app/electron/ipc-commands.ts
  frontend/app/electron/main/application.ts
  frontend/app/electron/main/subprocess-handler.ts
  frontend/app/electron/main/window-manager.ts
  frontend/app/electron/preload/index.ts
  frontend/app/shared/ipc.ts
  frontend/app/src/composables/electron-interop.ts
  frontend/app/src/store/backend-messages.ts
  frontend/app/src/store/main.ts
  frontend/app/src/store/websocket.ts
Due: frontend_unit, frontend_integration

chore(frontend): upgrade bignumber.js to v9.3.1 and update patches
  frontend/app/package.json
  frontend/common/package.json
  frontend/package.json
  frontend/patches/bignumber.js@9.3.1.patch
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

fix(frontend): add monerium OAuth cookie clearing on logout and app startup
  docs/changelog.rst
  frontend/app/electron/main/application.ts
  frontend/app/electron/main/ipc-handlers/index.ts
  frontend/app/electron/main/ipc-handlers/oauth-handlers.ts
  frontend/app/electron/main/ipc-setup.ts
Due: frontend_unit, frontend_integration

docs(conventions): add guidelines for handling floating promises with `startPromise()`
  AGENTS.md
  CLAUDE.md
Due: none

fix(frontend): update Monerium disconnect result schema and update tests
  frontend/app/src/modules/external-services/monerium/types.ts
  frontend/app/src/modules/external-services/monerium/use-monerium-api.spec.ts
Due: frontend_unit, frontend_integration

fix(frontend): small adjustment for asset movement matching
  frontend/app/src/components/history/events/AssetMovementMatchingSettingsMenu.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/history/events/MatchAssetMovementsDialog.vue
  frontend/app/src/composables/api/settings/settings-api.spec.ts
  frontend/app/src/data/defaults.ts
  frontend/app/src/data/factories.ts
  frontend/app/src/locales/en.json
  frontend/app/src/modules/messaging/handlers/unmatched-asset-movements.ts
  frontend/app/src/store/settings/general.ts
  frontend/app/src/types/user.ts
Due: frontend_unit, frontend_integration

feat(frontend): persist history balances filter
  frontend/app/src/modules/history/balances/HistoricalBalancesContent.vue
  frontend/app/src/modules/history/balances/HistoricalBalancesFilter.vue
  frontend/app/src/modules/history/balances/store.ts
  frontend/app/src/modules/history/balances/use-historical-balances.ts
Due: frontend_unit, frontend_integration

Track historical balances under swapped_for asset for token upgrades
  rotkehlchen/assets/asset.py
  rotkehlchen/balances/historical.py
  rotkehlchen/db/filtering.py
  rotkehlchen/db/minimized_schema.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v50_v51.py
  rotkehlchen/tasks/historical_balances.py
  rotkehlchen/tests/unit/test_historical_balances.py
Due: backend

fix(build): prioritize Strawberry Perl in PATH for Windows cargo builds
  package.py
Due: none

feat(frontend): handling duplicate custom event
  docs/changelog.rst
  frontend/app/src/components/history/events/CustomizedEventDuplicatesDialog.vue
  frontend/app/src/components/history/events/CustomizedEventDuplicatesTable.vue
  frontend/app/src/components/history/events/HistoryEventsAction.vue
  frontend/app/src/components/history/events/HistoryEventsAlerts.vue
  frontend/app/src/components/history/events/HistoryEventsDialogContainer.vue
  frontend/app/src/components/history/events/HistoryEventsFiltersChips.vue
  frontend/app/src/components/history/events/HistoryEventsList.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/history/events/HistoryEventsViewButtons.vue
  frontend/app/src/components/history/events/MatchAssetMovementsDialog.vue
  frontend/app/src/components/history/events/PotentialMatchesDialog.vue
  frontend/app/src/components/history/events/PotentialMatchesList.vue
  frontend/app/src/components/history/events/UnmatchedMovementsList.vue
  frontend/app/src/components/history/events/dialog-types.ts
  frontend/app/src/components/table-filter/composables/use-filter-selection.ts
  frontend/app/src/composables/api/history/events/index.ts
  frontend/app/src/composables/history/events/dialog-manager/types.ts
  frontend/app/src/composables/history/events/dialog-manager/use-history-events-dialog-manager.ts
  frontend/app/src/composables/history/events/index.ts
  frontend/app/src/composables/history/events/use-customized-event-duplicates.ts
  frontend/app/src/composables/history/events/use-history-events-filters.ts
  frontend/app/src/composables/history/events/use-unmatched-asset-movements.ts
  frontend/app/src/locales/en.json
  frontend/app/src/modules/history/balances/HistoricalBalancesFilter.vue
  frontend/app/src/modules/history/events/components/HistoryEventsTable.vue
Due: frontend_unit, frontend_integration

fix: improve memory management for history events data
  frontend/app/src/components/history/events/CustomizedEventDuplicatesDialog.vue
  frontend/app/src/components/history/events/CustomizedEventDuplicatesTable.vue
  frontend/app/src/components/history/events/HistoryEventsAlerts.vue
  frontend/app/src/composables/history/events/use-customized-event-duplicates.ts
Due: frontend_unit, frontend_integration

feat: move history events alerts
  frontend/app/src/components/history/events/HistoryEventsAlerts.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/history/events/HistoryEventsViewButtons.vue
Due: frontend_unit, frontend_integration

Add multicall retry logic with gas error handling
  rotkehlchen/chain/arbitrum_one/node_inquirer.py
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/errors/misc.py
  rotkehlchen/externalapis/etherscan_like.py
  rotkehlchen/tests/unit/test_arbitrum_one_inquirer.py
  rotkehlchen/tests/unit/test_evm_misc.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend

Add script to find spam assets from global database
  tools/scripts/find_spam_assets.py
Due: none

chore: update changelog for Contract tag migration
  docs/changelog.rst
  frontend/app/src/components/tags/TagIcon.vue
Due: frontend_unit, frontend_integration

style: progress bar missing in history events
  frontend/app/src/modules/sync-progress/components/SyncProgressHeader.vue
Due: frontend_unit, frontend_integration

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
