Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

perf(frontend): build an event row's actions on hover
  frontend/app/src/modules/history/events/components/HistoryEventsDetailItem.vue
Due: frontend_unit, frontend_integration

fix(frontend): keep the row context's parts internal
  frontend/app/src/modules/history/events/use-history-events-row-context.ts
Due: frontend_unit, frontend_integration

refactor(frontend): cut the events table down to seven props
  frontend/app/src/modules/history/events/HistoryEventsView.vue
  frontend/app/src/modules/history/events/components/HistoryEventsDetailItem.vue
  frontend/app/src/modules/history/events/components/HistoryEventsMatchedMovementItem.vue
  frontend/app/src/modules/history/events/components/HistoryEventsSwapItem.vue
  frontend/app/src/modules/history/events/components/HistoryEventsVirtualRow.vue
  frontend/app/src/modules/history/events/components/HistoryEventsVirtualTable.vue
  frontend/app/src/modules/history/events/types.ts
  frontend/app/src/modules/history/events/use-history-events-row-context.ts
  frontend/app/src/modules/history/events/use-history-events-selection-context.ts
  frontend/app/src/modules/history/events/use-history-events-table.ts
  frontend/app/src/modules/settings/accounting/rule/AccountingRuleEventsDialog.vue
Due: frontend_unit, frontend_integration

refactor(frontend): give history event rows a context
  frontend/app/src/modules/history/events/components/HistoryEventsRowPlaceholder.vue
  frontend/app/src/modules/history/events/components/HistoryEventsVirtualRow.vue
  frontend/app/src/modules/history/events/components/HistoryEventsVirtualTable.vue
  frontend/app/src/modules/history/events/use-history-events-row-context.ts
  frontend/app/src/modules/history/events/use-history-events-table.ts
Due: frontend_unit, frontend_integration

refactor(frontend): give HistoryEventNote one context prop
  frontend/app/src/modules/history/balances/BalanceDivergenceView.vue
  frontend/app/src/modules/history/events/HistoryEventNote.vue
  frontend/app/src/modules/history/events/components/HistoryEventsDetailItem.vue
  frontend/app/src/modules/history/events/components/HistoryEventsMatchedMovementItem.vue
  frontend/app/src/modules/history/events/components/HistoryEventsSwapItem.vue
  frontend/app/src/modules/history/events/use-history-event-note.ts
  frontend/app/src/modules/reports/ProfitLossEvents.vue
  frontend/app/src/modules/wallet/send/TradeHistoryItem.vue
  frontend/eslint.config.js
Due: frontend_unit, frontend_integration

refactor(frontend): extract indexer order logic
  frontend/app/src/modules/settings/evm/IndexerOrderSetting.spec.ts
  frontend/app/src/modules/settings/evm/IndexerOrderSetting.vue
  frontend/app/src/modules/settings/evm/evm-indexer-utils.spec.ts
  frontend/app/src/modules/settings/evm/evm-indexer-utils.ts
  frontend/app/src/modules/settings/evm/use-evm-indexer-order.ts
  frontend/app/src/modules/settings/use-setting-write-feedback.spec.ts
  frontend/app/src/modules/settings/use-setting-write-feedback.ts
Due: frontend_unit, frontend_integration

refactor(frontend): extract trade send card logic
  frontend/app/src/locales/en.json
  frontend/app/src/modules/wallet/send/TradeSendCard.vue
  frontend/app/src/modules/wallet/send/trade-send-utils.spec.ts
  frontend/app/src/modules/wallet/send/trade-send-utils.ts
  frontend/app/src/modules/wallet/send/use-trade-asset-balance.spec.ts
  frontend/app/src/modules/wallet/send/use-trade-asset-balance.ts
  frontend/app/src/modules/wallet/send/use-trade-gas-estimation.spec.ts
  frontend/app/src/modules/wallet/send/use-trade-gas-estimation.ts
  frontend/app/src/modules/wallet/send/use-trade-recipient-warning.ts
  frontend/app/src/modules/wallet/send/use-trade-wallet-actions.spec.ts
  frontend/app/src/modules/wallet/send/use-trade-wallet-actions.ts
Due: frontend_unit, frontend_integration

test(frontend): cover the recipient warning lookup
  frontend/app/src/modules/wallet/send/use-trade-recipient-warning.spec.ts
Due: frontend_unit, frontend_integration

chore(frontend): drop the unused model value wrappers
  frontend/app/src/modules/core/common/validation/model.spec.ts
  frontend/app/src/modules/core/common/validation/model.ts
Due: frontend_unit, frontend_integration

chore(frontend): delete the dead search keyword splitter
  frontend/app/src/modules/core/common/data/search.spec.ts
  frontend/app/src/modules/core/common/data/search.ts
Due: frontend_unit, frontend_integration

test(frontend): cover the indexer order write paths
  frontend/app/src/modules/settings/evm/IndexerOrderSetting.spec.ts
Due: frontend_unit, frontend_integration

test(frontend): cover the trade send card wiring
  frontend/app/src/modules/wallet/send/TradeSendCard.spec.ts
  frontend/app/src/modules/wallet/send/TradeSendCard.vue
Due: frontend_unit, frontend_integration

refactor(frontend): read the asset identifier read-only
  frontend/app/src/modules/assets/admin/managed/ManagedAssetForm.vue
Due: frontend_unit, frontend_integration

test(frontend): fix a typo in two test descriptions
  frontend/app/src/modules/wallet/send/trade-send-utils.spec.ts
Due: frontend_unit, frontend_integration

Use bridge matching to resolve calendar reminders
  rotkehlchen/tasks/bridges.py
  rotkehlchen/tasks/calendar.py
  rotkehlchen/tests/unit/test_calendar_reminders.py
Due: backend

Handle better errors from github
  rotkehlchen/chain/ethereum/airdrops.py
  rotkehlchen/tasks/calendar.py
  rotkehlchen/tests/unit/test_calendar_reminders.py
  rotkehlchen/tests/unit/test_ethereum_airdrops.py
Due: backend

chore: bump @rotki/ui-library to 2.23.5
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

Skip cache for ignored chains
  rotkehlchen/chain/aggregator.py
  rotkehlchen/tests/api/test_balances.py
Due: backend

Use bridge matching to resolve calendar reminders (#12930)
  rotkehlchen/chain/ethereum/airdrops.py
  rotkehlchen/tasks/bridges.py
  rotkehlchen/tasks/calendar.py
  rotkehlchen/tests/unit/test_calendar_reminders.py
  rotkehlchen/tests/unit/test_ethereum_airdrops.py
Due: backend

fix: clear recent wallet transactions on reset
  frontend/app/src/modules/wallet/use-transaction-manager.ts
  frontend/app/src/modules/wallet/use-wallet-store.spec.ts
  frontend/app/src/modules/wallet/use-wallet-store.ts
Due: frontend_unit, frontend_integration

fix: do not disconnect the wallet on store creation
  frontend/app/src/modules/wallet/use-wallet-store.spec.ts
  frontend/app/src/modules/wallet/use-wallet-store.ts
Due: frontend_unit, frontend_integration

fix: keep the wallet store out of the login screen
  frontend/app/src/modules/auth/unlock-flow/use-unlock-flow-controller.spec.ts
  frontend/app/src/modules/auth/unlock-flow/use-unlock-flow-controller.ts
  frontend/app/src/modules/auth/use-logout.spec.ts
  frontend/app/src/modules/auth/use-logout.ts
  frontend/app/src/modules/wallet/bridge/use-wallet-proxy.ts
  frontend/app/src/modules/wallet/use-wallet-store.spec.ts
  frontend/app/src/modules/wallet/use-wallet-store.ts
Due: frontend_unit, frontend_integration

fix: keep the login username model a string
  frontend/app/src/modules/auth/login/LoginUsernameField.spec.ts
  frontend/app/src/modules/auth/login/LoginUsernameField.vue
Due: frontend_unit, frontend_integration

fix: only register bridge cleanup when a scope owns it
  frontend/app/src/modules/wallet/bridge/use-wallet-proxy.ts
Due: frontend_unit, frontend_integration

fix: keep chain-keyed settings keyed by chain id
  frontend/app/src/modules/core/api/constants.ts
  frontend/app/src/modules/core/api/response-handlers.ts
  frontend/app/src/modules/core/api/rotki-api.ts
  frontend/app/src/modules/core/api/transformers.spec.ts
  frontend/app/src/modules/core/api/transformers.ts
  frontend/app/src/modules/core/api/types.ts
  frontend/app/src/modules/core/common/chains.ts
  frontend/app/src/modules/core/tasks/use-task-api.spec.ts
  frontend/app/src/modules/core/tasks/use-task-api.ts
  frontend/app/src/modules/settings/api/use-settings-api.spec.ts
  frontend/app/src/modules/settings/api/use-settings-api.ts
  frontend/app/src/modules/settings/general/disabled-chain-queries/use-disabled-chains.spec.ts
  frontend/app/src/modules/settings/general/disabled-chain-queries/use-disabled-chains.ts
Due: frontend_unit, frontend_integration

Skip cache for ignored chains (#12931)
  rotkehlchen/chain/aggregator.py
  rotkehlchen/tests/api/test_balances.py
Due: backend

refactor(frontend): extract data issues panel logic
  frontend/app/src/modules/history/data-issues/components/DataIssuesPanelContent.vue
  frontend/app/src/modules/history/data-issues/data-issues-panel-utils.ts
  frontend/app/src/modules/history/data-issues/use-data-issues-panel-list.ts
  frontend/app/src/modules/history/data-issues/use-data-issues-panel-polling.ts
  frontend/app/src/modules/history/data-issues/use-data-issues-panel-selection.ts
  frontend/app/src/modules/history/data-issues/use-panel-filter-engagement.ts
Due: frontend_unit, frontend_integration

test(frontend): cover the data issues panel
  frontend/app/src/modules/history/data-issues/components/DataIssuesPanelContent.spec.ts
  frontend/app/src/modules/history/data-issues/data-issues-panel-utils.spec.ts
  frontend/app/src/modules/history/data-issues/use-data-issues-panel-list.spec.ts
  frontend/app/src/modules/history/data-issues/use-data-issues-panel-polling.spec.ts
  frontend/app/src/modules/history/data-issues/use-data-issues-panel-selection.spec.ts
  frontend/app/src/modules/history/data-issues/use-panel-filter-engagement.spec.ts
Due: frontend_unit, frontend_integration

fix: keep chain-keyed settings keyed by chain id (#12936)
  frontend/app/src/modules/core/api/constants.ts
  frontend/app/src/modules/core/api/response-handlers.ts
  frontend/app/src/modules/core/api/rotki-api.ts
  frontend/app/src/modules/core/api/transformers.spec.ts
  frontend/app/src/modules/core/api/transformers.ts
  frontend/app/src/modules/core/api/types.ts
  frontend/app/src/modules/core/common/chains.ts
  frontend/app/src/modules/core/tasks/use-task-api.spec.ts
  frontend/app/src/modules/core/tasks/use-task-api.ts
  frontend/app/src/modules/settings/api/use-settings-api.spec.ts
  frontend/app/src/modules/settings/api/use-settings-api.ts
  frontend/app/src/modules/settings/general/disabled-chain-queries/use-disabled-chains.spec.ts
  frontend/app/src/modules/settings/general/disabled-chain-queries/use-disabled-chains.ts
Due: frontend_unit, frontend_integration

starling: add a setServiceAutostart control method
  crates/starling-core/src/config.rs
  crates/starling-core/src/control/controller.rs
  crates/starling-core/src/control/mod.rs
  crates/starling-core/src/control/protocol.rs
  crates/starling-core/src/lib.rs
  crates/starling-core/src/lifecycle.rs
  crates/starling/src/control/jsonrpc.rs
Due: none
