Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

fix division by zero in eth staking apr calculation
  rotkehlchen/chain/ethereum/modules/eth2/eth2.py
  rotkehlchen/db/eth2.py
  rotkehlchen/tests/unit/test_eth2.py
Due: backend

fix typos
  rotkehlchen/tests/integration/test_premium.py
Due: backend

Allow redecoding of eth block events
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/ethereum/modules/eth2/eth2.py
  rotkehlchen/db/eth2.py
  rotkehlchen/tests/api/test_data_purging.py
  rotkehlchen/tests/api/test_eth2.py
Due: backend

Decode more stakedao bribes
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/stakedao/decoder.py
Due: backend

Decode HOP merkle rewards claiming
  docs/changelog.rst
  rotkehlchen/chain/evm/decoding/balancer/v2/decoder.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/chain/evm/decoding/hop/constants.py
  rotkehlchen/chain/evm/decoding/hop/decoder.py
  rotkehlchen/chain/evm/decoding/structures.py
  rotkehlchen/chain/optimism/modules/hop/constants.py
  rotkehlchen/tests/unit/decoders/test_hop.py
Due: backend

ci: update package list before installing sqlcipher on runner
  .github/workflows/rotki_sqldiff.yml
Due: none

refactor: restructures managed asset form and extracts fetch method
  frontend/app/src/components/asset-manager/managed/ManagedAssetForm.vue
Due: frontend_unit, frontend_integration

feat: add evm token name, symbol, decimal refresh when editing
  docs/changelog.rst
  frontend/app/src/components/asset-manager/managed/ManagedAssetForm.vue
Due: frontend_unit, frontend_integration

Add button to refresh token name, symbol, decimals from chain when editing (#10019)
  docs/changelog.rst
  frontend/app/src/components/asset-manager/managed/ManagedAssetForm.vue
Due: frontend_unit, frontend_integration

fix: adjust text and layout for the history refresh menu
  frontend/app/src/locales/en.json
  frontend/app/src/modules/history/refresh/HistoryRefreshExchanges.vue
  frontend/app/src/modules/history/refresh/HistoryRefreshSelection.vue
  frontend/app/src/modules/history/refresh/HistoryRefreshStakingEvents.vue
Due: frontend_unit, frontend_integration

fix: adjust text and layout for the history refresh menu (#10020)
  frontend/app/src/locales/en.json
  frontend/app/src/modules/history/refresh/HistoryRefreshExchanges.vue
  frontend/app/src/modules/history/refresh/HistoryRefreshSelection.vue
  frontend/app/src/modules/history/refresh/HistoryRefreshStakingEvents.vue
Due: frontend_unit, frontend_integration

Handle stakedao bribe events with protocol fees
  rotkehlchen/chain/ethereum/modules/stakedao/decoder.py
  rotkehlchen/chain/evm/decoding/stakedao/decoder.py
  rotkehlchen/tests/unit/decoders/test_stakedao.py
Due: backend

Dont fail all decoding if NotERC20Conformant error happens
  rotkehlchen/chain/evm/decoding/decoder.py
Due: backend

Improve resolving of uniswap routing assets
  rotkehlchen/chain/ethereum/oracles/uniswap.py
  rotkehlchen/tests/unit/test_defi_oracles.py
Due: backend

improve error handling in balancer pool price query
  rotkehlchen/chain/evm/decoding/balancer/utils.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend

fix: introduce tracking and increase the interval for history refresh
  frontend/app/src/modules/history/events/use-history-events-auto-fetch.ts
Due: frontend_unit, frontend_integration

Fix async query on block event redecoding endpoint
  rotkehlchen/api/rest.py
  rotkehlchen/tests/api/test_eth2.py
Due: backend

If a DB upgrade has recently happened do not refresh protocols cache
  rotkehlchen/chain/ethereum/modules/curve/crvusd/decoder.py
  rotkehlchen/chain/ethereum/modules/yearn/decoder.py
  rotkehlchen/chain/ethereum/utils.py
  rotkehlchen/chain/evm/decoding/curve/lend/decoder.py
  rotkehlchen/chain/evm/decoding/morpho/decoder.py
  rotkehlchen/chain/evm/decoding/pendle/decoder.py
  rotkehlchen/chain/evm/decoding/stakedao/decoder.py
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/db/cache.py
  rotkehlchen/db/upgrade_manager.py
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/unit/globaldb/test_globaldb_cache.py
  rotkehlchen/tests/unit/globaldb/test_upgrades.py
  rotkehlchen/tests/unit/test_protocol_balances.py
Due: backend

Fix wait_until_messages_num logic
  rotkehlchen/tests/fixtures/websockets.py
Due: backend

Push the protocol cache refreshing to 1 week
  rotkehlchen/constants/timing.py
Due: backend

fix: introduce tracking and increase the interval for history refresh (#10026)
  frontend/app/src/modules/history/events/use-history-events-auto-fetch.ts
Due: frontend_unit, frontend_integration

feat: redecode block events
  frontend/app/src/components/history/events/HistoryEventsAction.vue
  frontend/app/src/components/history/events/HistoryEventsTable.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/composables/api/history/events/index.ts
  frontend/app/src/composables/history/events/tx/decoding.ts
  frontend/app/src/locales/en.json
  frontend/app/src/modules/history/events/use-history-events-status.ts
  frontend/app/src/types/history/events/index.ts
  frontend/app/src/types/task-type.ts
Due: frontend_unit, frontend_integration

fix: adjust the loading message
  docs/changelog.rst
  frontend/app/src/components/history/events/HistoryEventsAction.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/history/events/HistoryQueryStatus.vue
  frontend/app/src/locales/en.json
  frontend/app/src/modules/history/events/use-history-events-status.ts
Due: frontend_unit, frontend_integration

feat: add ui to redecode block events (#10023)
  docs/changelog.rst
  frontend/app/src/components/history/events/HistoryEventsAction.vue
  frontend/app/src/components/history/events/HistoryEventsTable.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/history/events/HistoryQueryStatus.vue
  frontend/app/src/composables/api/history/events/index.ts
  frontend/app/src/composables/history/events/tx/decoding.ts
  frontend/app/src/locales/en.json
  frontend/app/src/modules/history/events/use-history-events-status.ts
  frontend/app/src/types/history/events/index.ts
  frontend/app/src/types/task-type.ts
Due: frontend_unit, frontend_integration

chore: increase history event auto-refresh to 60 seconds
  frontend/app/src/modules/history/events/use-history-events-auto-fetch.ts
Due: frontend_unit, frontend_integration

Fix location_label for arbitrum WETH deposit
  rotkehlchen/chain/evm/decoding/weth/decoder.py
  rotkehlchen/tests/unit/decoders/test_weth.py
Due: backend

fix: change price fetching so that each chunk runs sequentially
  frontend/app/src/modules/prices/use-price-task-manager.ts
Due: frontend_unit, frontend_integration
