Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Fix location_label for arbitrum WETH deposit
  rotkehlchen/chain/evm/decoding/weth/decoder.py
  rotkehlchen/tests/unit/decoders/test_weth.py
Due: backend

adjust binance transactions importer
  docs/changelog.rst
  rotkehlchen/data_import/importers/binance.py
  rotkehlchen/tests/data/binance_history.csv
  rotkehlchen/tests/utils/dataimport.py
Due: backend

chore: increase history event auto-refresh to 60 seconds (#10031)
  frontend/app/src/modules/history/events/use-history-events-auto-fetch.ts
Due: frontend_unit, frontend_integration

fix: change price fetching so that each chunk runs sequentially (#10033)
  frontend/app/src/modules/prices/use-price-task-manager.ts
Due: frontend_unit, frontend_integration

Fix maybe_upload_data_to_server deadlock
  rotkehlchen/data_handler.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/premium/sync.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/integration/test_premium.py
  rotkehlchen/tests/utils/premium.py
Due: backend

feat: also redecode block events in 'Redecode Page' menu
  frontend/app/src/components/history/events/HistoryEventsListSwap.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/modules/history/refresh/HistoryRefreshButton.vue
  frontend/app/src/modules/history/refresh/HistoryRefreshSelection.vue
Due: frontend_unit, frontend_integration

Properly update status of existing validators
  rotkehlchen/db/eth2.py
  rotkehlchen/tests/unit/test_eth2.py
Due: backend

Improve velo/aero pool cache refresh
  rotkehlchen/chain/evm/decoding/velodrome/velodrome_cache.py
  rotkehlchen/tests/unit/globaldb/test_globaldb_cache.py
Due: backend

Update README.md (#10009)
  README.md
Due: none

fix: adjust type-guard to work with HistoryEvent children
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/utils/history/events.ts
Due: frontend_unit, frontend_integration

feat: also redecode block events in 'Redecode Page' menu (#10035)
  frontend/app/src/components/history/events/HistoryEventsListSwap.vue
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/modules/history/refresh/HistoryRefreshButton.vue
  frontend/app/src/modules/history/refresh/HistoryRefreshSelection.vue
  frontend/app/src/utils/history/events.ts
Due: frontend_unit, frontend_integration

fix: improve address selection on onchain page
  frontend/app/src/modules/onchain/send/TradeRecipientAddress.vue
Due: frontend_unit, frontend_integration

fix: minor timeout increases and error handling
  frontend/app/src/composables/api/history/events/index.ts
  frontend/app/src/composables/api/task.ts
  frontend/app/src/composables/history/events/tx/index.ts
  frontend/app/src/composables/history/events/tx/types.ts
  frontend/app/src/modules/asset-manager/missing-mappings/use-exchange-unknown-asset-handler.ts
Due: frontend_unit, frontend_integration

fix: minor timeout increases and error handling (#10040)
  frontend/app/src/composables/api/history/events/index.ts
  frontend/app/src/composables/api/task.ts
  frontend/app/src/composables/history/events/tx/index.ts
  frontend/app/src/composables/history/events/tx/types.ts
  frontend/app/src/modules/asset-manager/missing-mappings/use-exchange-unknown-asset-handler.ts
Due: frontend_unit, frontend_integration

remove curve cache query from greenlet
  rotkehlchen/chain/evm/decoding/curve/curve_cache.py
  rotkehlchen/tests/unit/globaldb/test_globaldb_cache.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend

Pull all data when manually refreshing cache
  rotkehlchen/chain/ethereum/modules/convex/convex_cache.py
  rotkehlchen/chain/evm/decoding/balancer/balancer_cache.py
  rotkehlchen/chain/evm/decoding/balancer/decoder.py
  rotkehlchen/chain/evm/decoding/curve/curve_cache.py
  rotkehlchen/chain/evm/decoding/extrafi/cache.py
  rotkehlchen/chain/evm/decoding/gearbox/gearbox_cache.py
  rotkehlchen/chain/evm/decoding/interfaces.py
  rotkehlchen/chain/evm/decoding/velodrome/velodrome_cache.py
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/tests/unit/globaldb/test_globaldb_cache.py
  rotkehlchen/tests/unit/test_protocol_balances.py
Due: backend

New internaltx and multiconsolidation requests
  rotkehlchen/chain/ethereum/modules/eth2/decoder.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/evmtx.py
  rotkehlchen/db/minimized_schema.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v47_v48.py
  rotkehlchen/serialization/deserialize.py
  rotkehlchen/tests/data/v47_rotkehlchen.db
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/db/test_evmtx.py
  rotkehlchen/tests/external_apis/test_etherscan.py
  rotkehlchen/tests/unit/decoders/test_curve.py
  rotkehlchen/tests/unit/decoders/test_eth2.py
  rotkehlchen/tests/unit/decoders/test_makerdao_sai.py
  rotkehlchen/tests/unit/decoders/test_rainbow.py
  rotkehlchen/types.py
Due: backend

Fix the issue with premium tests encrypted DB
  rotkehlchen/tests/api/test_users.py
  rotkehlchen/tests/utils/premium.py
Due: backend

prevent ERC20 token deletion when detecting ERC721 tokens
  rotkehlchen/chain/ethereum/tokens.py
  rotkehlchen/chain/evm/tokens.py
  rotkehlchen/tests/unit/test_tokens.py
Due: backend

fix(decoding): update Odos protocol documentation URL
  rotkehlchen/chain/evm/decoding/odos/common.py
Due: backend

feat: better placeholder for chart
  frontend/app/src/components/dashboard/NetWorthChart.vue
  frontend/app/src/components/dashboard/OverallBalances.vue
Due: frontend_unit, frontend_integration

fix: change running process check to be environment-specific
  frontend/app/electron/main/subprocess-handler.ts
Due: frontend_unit, frontend_integration

fix: change running process check to be environment-specific (#10048)
  frontend/app/electron/main/subprocess-handler.ts
Due: frontend_unit, frontend_integration

prevent odos swaps from being misclassified as curve events
  rotkehlchen/chain/arbitrum_one/modules/curve/decoder.py
  rotkehlchen/chain/evm/decoding/curve/decoder.py
  rotkehlchen/chain/gnosis/modules/curve/decoder.py
  rotkehlchen/chain/polygon_pos/modules/curve/decoder.py
Due: backend

fix: error schema for binance saving history
  frontend/app/src/components/exchanges/BinanceSavingDetail.vue
  frontend/app/src/pages/balances/exchange/[[exchange]].vue
  frontend/app/src/types/exchanges.ts
Due: frontend_unit, frontend_integration

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
