Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Add gitcoin easy retrofunding registration decoding
  docs/changelog.rst
  rotkehlchen/chain/arbitrum_one/modules/gitcoin/decoder.py
  rotkehlchen/chain/evm/decoding/gitcoinv2/decoder.py
  rotkehlchen/tests/unit/decoders/test_gitcoin_v2.py
Due: backend

feat: wallet connect test
  frontend/app/package.json
  frontend/app/src/composables/web3/web3-wallet.ts
  frontend/app/src/pages/playground/Pairing.vue
  frontend/app/src/pages/playground/index.html
  frontend/app/src/pages/playground/index.vue
  frontend/app/typed-router.d.ts
Due: frontend_unit, frontend_integration

feat: interface
  frontend/app/package.json
  frontend/app/src/components/GlobalSearch.vue
  frontend/app/src/components/NavigationMenu.vue
  frontend/app/src/components/accounts/blockchain/ChainDisplay.vue
  frontend/app/src/components/accounts/management/AccountForm.vue
  frontend/app/src/components/helper/display/icons/AssetIcon.vue
  frontend/app/src/components/inputs/AmountInput.vue
  frontend/app/src/components/trade/send/TradeAmountInput.vue
  frontend/app/src/components/trade/send/TradeAssetDisplay.vue
  frontend/app/src/components/trade/send/TradeAssetSelector.vue
  frontend/app/src/components/trade/send/TradeSendCard.vue
  frontend/app/src/composables/trade/asset.ts
  frontend/app/src/composables/trade/wallet-helper.ts
  frontend/app/src/composables/web3/web3-wallet.ts
  frontend/app/src/locales/en.json
  frontend/app/src/pages/accounts/evm/[[tab]].vue
  frontend/app/src/pages/playground/Pairing.vue
  frontend/app/src/pages/playground/index.vue
  frontend/app/src/pages/trade/send/index.vue
  frontend/app/src/plugins/rui/index.ts
  frontend/app/src/router/routes.ts
  frontend/app/src/store/blockchain/index.ts
  frontend/app/src/store/trade/wallet.ts
  frontend/app/src/types/trade/index.ts
  frontend/app/typed-router.d.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

Improve rainbow decoder
  rotkehlchen/chain/evm/decoding/rainbow/decoder.py
  rotkehlchen/tests/unit/decoders/test_rainbow.py
Due: backend

feat: added support to decode swap from 0xsettler
  rotkehlchen/chain/ethereum/modules/zerox/constants.py
  rotkehlchen/chain/ethereum/modules/zerox/decoder.py
  rotkehlchen/chain/evm/decoding/zerox/decoder.py
  rotkehlchen/tests/unit/decoders/test_zerox.py
Due: backend

chore: update node.js to v22
  frontend/.nvmrc
  frontend/app/package.json
  frontend/app/tsconfig.node.json
  frontend/common/tsconfig.node.json
  frontend/dev-proxy/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/scripts/check-versions.js
  frontend/tsconfig.node.json
Due: frontend_unit, frontend_integration

Fix editing of AssetMovements with reference
  docs/changelog.rst
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/tests/api/test_history_base_entry.py
Due: backend

feat: add multichain support for Rainbow decoder
  docs/api.rst
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/rainbow/__init__.py
  rotkehlchen/chain/ethereum/modules/rainbow/decoder.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/chain/evm/decoding/rainbow/constants.py
  rotkehlchen/chain/evm/decoding/rainbow/decoder.py
  rotkehlchen/tests/api/test_reports.py
  rotkehlchen/tests/unit/decoders/test_main.py
  rotkehlchen/tests/unit/decoders/test_rainbow.py
Due: backend

chore: update frontend build stage to use node 22
  Dockerfile
Due: none

feat: added multi chain support for settler
  rotkehlchen/chain/arbitrum_one/modules/zerox/constants.py
  rotkehlchen/chain/arbitrum_one/modules/zerox/decoder.py
  rotkehlchen/chain/base/modules/zerox/constants.py
  rotkehlchen/chain/base/modules/zerox/decoder.py
  rotkehlchen/chain/binance_sc/modules/zerox/__init__.py
  rotkehlchen/chain/binance_sc/modules/zerox/constants.py
  rotkehlchen/chain/binance_sc/modules/zerox/decoder.py
  rotkehlchen/chain/ethereum/modules/zerox/decoder.py
  rotkehlchen/chain/optimism/modules/zerox/constants.py
  rotkehlchen/chain/polygon_pos/modules/zerox/constants.py
  rotkehlchen/chain/polygon_pos/modules/zerox/decoder.py
  rotkehlchen/tests/unit/decoders/test_zerox.py
Due: backend

chore: update dependencies
  frontend/app/package.json
  frontend/app/src/components/settings/general/nft/NftImageRenderingSetting.vue
  frontend/common/package.json
  frontend/dev-proxy/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

Use SwapEvents in binance
  rotkehlchen/exchanges/binance.py
  rotkehlchen/tests/exchanges/test_binance.py
  rotkehlchen/tests/exchanges/test_binance_us.py
  rotkehlchen/tests/utils/history.py
Due: backend

chore: update electron-store to v10
  frontend/app/electron/main/ipc-setup.ts
  frontend/app/package.json
  frontend/app/vite.config.main.ts
  frontend/app/vite.config.preload.ts
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

chore: replace tasklist usage with pslist and remove
  frontend/app/.electron-builder.config.cjs
  frontend/app/electron/main/process-manager.ts
  frontend/app/package.json
  frontend/app/src/types/tasklist.d.ts
  frontend/app/vite.config.main.ts
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

fix(backend): repulling error
  rotkehlchen/api/v1/schemas.py
Due: backend

Improve test coverage of SwapEvents and AssetMovements
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/history/events/structures/asset_movement.py
  rotkehlchen/tests/api/test_history_base_entry.py
  rotkehlchen/tests/api/test_history_events_export.py
  rotkehlchen/tests/utils/history_base_entry.py
Due: backend

Fix historical price query RemoteError
  docs/changelog.rst
  rotkehlchen/chain/ethereum/oracles/uniswap.py
Due: backend

Sanity check to_timestamp in HistoricalPricesPerAssetSchema
  rotkehlchen/api/v1/schemas.py
Due: backend

Finally add json data logs for rotki's own api requests
  rotkehlchen/api/server.py
Due: backend

Update some packages
  requirements.txt
  requirements_dev.txt
Due: none

feat: refresh profiles
  docs/changelog.rst
  frontend/.nvmrc
  frontend/app/package.json
  frontend/app/src/components/account-management/login/LoginForm.vue
  frontend/app/src/locales/en.json
  frontend/app/src/locales/fr.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
