Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    paths:
      - rotkehlchen
  frontend_unit:
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Make price inquirer also work with WETH
  rotkehlchen/constants/cryptocompare.py
Due: backend

Changes in the modying settings api endpoint
  docs/api.rst
  frontend/app/src/services/rotkehlchen-api.ts
  rotkehlchen/api/v1/encoding.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/tests/api/test_settings.py
Due: backend, frontend_unit, frontend_integration

Adds stepper for analytics on account creation
  frontend/app/src/components/CurrencyDropDown.vue
  frontend/app/src/components/account-management/CreateAccount.vue
  frontend/app/src/services/rotkehlchen-api.ts
  frontend/app/src/store/session/actions.ts
  frontend/app/src/store/session/mutations.ts
  frontend/app/tests/e2e/pages/rotki-app.ts
  frontend/app/tests/unit/components/accounts/manual-balance-list.spec.ts
  frontend/app/tests/unit/components/display/amount-display.spec.ts
Due: frontend_unit, frontend_integration

Attempt to popup a dialog each time analytics submission disabled
  frontend/app/src/components/account-management/CreateAccount.vue
Due: frontend_unit, frontend_integration

Allow providing specific settings at user creation API call
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/encoding.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/data_handler.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/api/test_users.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/external_apis/test_etherscan.py
  rotkehlchen/tests/fixtures/db.py
  rotkehlchen/tests/fixtures/history.py
  tools/asset_aggregator/__main__.py
  tools/data_faker/data_faker/statistics.py
Due: backend

Add checkbox for submitting usage analytics on the frontend
  frontend/app/src/components/AccountManagement.vue
  frontend/app/src/components/account-management/CreateAccount.vue
  frontend/app/src/services/rotkehlchen-api.ts
  frontend/app/src/typing/types.ts
Due: frontend_unit, frontend_integration

Updates xcode to 12 on travis
  .travis.yml
Due: none

Split defi code from balances
  frontend/app/src/App.vue
  frontend/app/src/components/defi/Borrowing.vue
  frontend/app/src/components/defi/Lending.vue
  frontend/app/src/components/defi/LoanInfo.vue
  frontend/app/src/components/dialogs/WatcherDialog.vue
  frontend/app/src/services/converters.ts
  frontend/app/src/services/defi/defi-api.ts
  frontend/app/src/services/defi/types.d.ts
  frontend/app/src/services/monitoring.ts
  frontend/app/src/services/rotkehlchen-api.ts
  frontend/app/src/services/task-manager.ts
  frontend/app/src/services/types-api.ts
  frontend/app/src/services/types-common.ts
  frontend/app/src/services/types-model.ts
  frontend/app/src/services/utils.ts
  frontend/app/src/store/balances/actions.ts
  frontend/app/src/store/balances/getters.ts
  frontend/app/src/store/balances/mutations.ts
  frontend/app/src/store/balances/state.ts
  frontend/app/src/store/balances/types.ts
  frontend/app/src/store/defi/actions.ts
  frontend/app/src/store/defi/converters.ts
  frontend/app/src/store/defi/getters.ts
  frontend/app/src/store/defi/index.ts
  frontend/app/src/store/defi/mutations.ts
  frontend/app/src/store/defi/state.ts
  frontend/app/src/store/defi/types.d.ts
  frontend/app/src/store/session/actions.ts
  frontend/app/src/store/store.ts
  frontend/app/src/typing/types.ts
Due: frontend_unit, frontend_integration

Moves watchers to session
  frontend/app/src/components/defi/LoanInfo.vue
  frontend/app/src/components/dialogs/WatcherDialog.vue
  frontend/app/src/services/defi/defi-api.ts
  frontend/app/src/services/defi/types.d.ts
  frontend/app/src/services/monitoring.ts
  frontend/app/src/services/rotkehlchen-api.ts
  frontend/app/src/services/session/session-api.ts
  frontend/app/src/services/session/types.d.ts
  frontend/app/src/store/defi/actions.ts
  frontend/app/src/store/defi/getters.ts
  frontend/app/src/store/defi/mutations.ts
  frontend/app/src/store/defi/state.ts
  frontend/app/src/store/session/actions.ts
  frontend/app/src/store/session/getters.ts
  frontend/app/src/store/session/mutations.ts
  frontend/app/src/store/session/state.ts
Due: frontend_unit, frontend_integration

Move model types from balances to defi
  frontend/app/src/components/defi/Borrowing.vue
  frontend/app/src/components/defi/LoanInfo.vue
  frontend/app/src/store/balances/types.ts
  frontend/app/src/store/defi/getters.ts
  frontend/app/src/store/defi/types.d.ts
  frontend/app/src/store/session/actions.ts
Due: frontend_unit, frontend_integration

Updates base theme and look and feel of the app
  frontend/app/public/index.html
  frontend/app/src/App.vue
  frontend/app/src/assets/images/rotkipattern2.png
  frontend/app/src/assets/images/rotkipattern2.svg
  frontend/app/src/components/AccountManagement.vue
  frontend/app/src/components/CurrencyDropDown.vue
  frontend/app/src/components/NavigationMenu.vue
  frontend/app/src/components/NavigationMenuItem.vue
  frontend/app/src/components/UserDropdown.vue
  frontend/app/src/components/account-management/Login.vue
  frontend/app/src/components/dashboard/BlockchainBalanceCardList.vue
  frontend/app/src/components/dashboard/ManualBalanceCardList.vue
  frontend/app/src/components/dashboard/OverallBalances.vue
  frontend/app/src/components/dashboard/SummaryCard.vue
  frontend/app/src/components/display/AmountDisplay.vue
  frontend/app/src/components/helper/TabNavigation.vue
  frontend/app/src/components/status/BalanceSavedIndicator.vue
  frontend/app/src/components/status/NodeStatusIndicator.vue
  frontend/app/src/components/status/NotificationIndicator.vue
  frontend/app/src/components/status/ProgressIndicator.vue
  frontend/app/src/plugins/vuetify.ts
  frontend/app/src/router/index.ts
  frontend/app/src/views/Dashboard.vue
  frontend/app/src/views/ImportData.vue
  frontend/app/tests/e2e/pages/api-keys-page.ts
  frontend/app/tests/e2e/pages/general-settings-page.ts
  frontend/app/tests/e2e/pages/otc-page.ts
Due: frontend_unit, frontend_integration

Don't issue warning for pool together when querying defi balances
  rotkehlchen/chain/ethereum/zerion.py
Due: backend

Fixes some minor css issues
  frontend/app/src/App.vue
  frontend/app/src/components/helper/TabNavigation.vue
  frontend/app/src/views/AccountsBalances.vue
  frontend/app/src/views/Dashboard.vue
Due: frontend_unit, frontend_integration

Remove the FilePath type and use pathlib's Path everywhere
  rotkehlchen/accounting/accountant.py
  rotkehlchen/csv_exporter.py
  rotkehlchen/data_handler.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/upgrades/v5_v6.py
  rotkehlchen/externalapis/coinmarketcap.py
  rotkehlchen/externalapis/cryptocompare.py
  rotkehlchen/history/price.py
  rotkehlchen/history/trades.py
  rotkehlchen/inquirer.py
  rotkehlchen/premium/sync.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/fixtures/db.py
  rotkehlchen/typing.py
  rotkehlchen/utils/misc.py
  tools/asset_aggregator/__main__.py
  tools/data_faker/data_faker/statistics.py
Due: backend

Default linux data directory is now $XDG_CONFIG_HOME/rotki/data
  rotkehlchen/args.py
  rotkehlchen/config.py
Due: backend

Detect Rotki data directory for OSX and for Win32
  rotkehlchen/config.py
Due: backend

Add changelog entry for 1105
  docs/changelog.rst
Due: none

Fix tests
  rotkehlchen/db/dbhandler.py
  rotkehlchen/externalapis/cryptocompare.py
  rotkehlchen/tests/api/test_blockchain.py
  rotkehlchen/tests/fixtures/accounting.py
Due: backend

For Linux use XDG_DATA_HOME and not XDFG_CONFIG_HOME for user data
  docs/changelog.rst
  rotkehlchen/config.py
Due: backend

Fix tests -- permission related errors
  rotkehlchen/data_handler.py
  rotkehlchen/tests/fixtures/accounting.py
  rotkehlchen/tests/fixtures/db.py
  rotkehlchen/tests/test_users.py
Due: backend

At create_new account test that DB file exists, not only directory
  rotkehlchen/data_handler.py
  rotkehlchen/tests/db/test_db.py
Due: backend

Fix frontend end-to-end tests after directory changes
  rotkehlchen/rotkehlchen.py
Due: backend
