Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

fix: update balance refresh mechanism after detect tokens
  docs/changelog.rst
  frontend/.gitignore
  frontend/app/.gitignore
  frontend/app/src/components/accounts/AccountBalanceTable.vue
  frontend/app/src/components/accounts/AccountBalances.vue
  frontend/app/src/store/blockchain/tokens.ts
Due: frontend_unit, frontend_integration

feat: redecode missing events for protocol events
  frontend/app/src/components/history/transactions/TransactionContent.vue
  frontend/app/src/components/history/transactions/TransactionQueryStatus.vue
  frontend/app/src/store/history/query-status.ts
  frontend/app/src/store/history/transactions.ts
  frontend/app/src/store/session/purge.ts
  frontend/app/src/types/history/tx.ts
Due: frontend_unit, frontend_integration

Skips exchange key test
  frontend/app/tests/e2e/specs/api-keys.spec.ts
Due: frontend_unit, frontend_integration

Adds cython installation step
  package.py
Due: none

Add llamanodes to the list of web3 nodes
  rotkehlchen/data_migrations/manager.py
  rotkehlchen/data_migrations/migrations/migration_7.py
  rotkehlchen/tests/data_migrations/test_migrations.py
Due: backend

Add 1.26.3 to the changelog
  docs/changelog.rst
Due: none

Bump version: 1.26.2 → 1.26.3
  .bumpversion.cfg
  docs/conf.py
  frontend/app/package.json
  frontend/package-lock.json
  setup.py
Due: frontend_unit, frontend_integration

Make sure that previous migrations adding node works and are relevant
  rotkehlchen/tests/data_migrations/test_migrations.py
Due: backend

Fix typo in attribute name
  rotkehlchen/data_migrations/migrations/migration_6.py
  rotkehlchen/data_migrations/migrations/migration_7.py
  rotkehlchen/tests/data_migrations/test_migrations.py
Due: backend

Fixes some minor merge issues
  frontend/app/src/components/accounts/AccountBalanceTable.vue
  frontend/app/src/components/history/transactions/TransactionContent.vue
  frontend/app/src/store/blockchain/tokens.ts
Due: frontend_unit, frontend_integration

Bump pyinstaller to 5.7, unpin setuptools
  Dockerfile
  package.py
  requirements.txt
Due: none

Generalize transaction querying/decoding APIs for all EVM chains
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/api/v1/types.py
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/chain/evm/transactions.py
  rotkehlchen/db/evmtx.py
  rotkehlchen/db/filtering.py
  rotkehlchen/externalapis/etherscan.py
  rotkehlchen/tests/api/test_data_purging.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/types.py
Due: backend

Add test for transaction query of all evm transactions of an address
  rotkehlchen/api/rest.py
  rotkehlchen/db/filtering.py
  rotkehlchen/tests/api/test_evm_transactions.py
  rotkehlchen/tests/data/expected/test_evm_transactions-test_query_transactions.json
  rotkehlchen/tests/fixtures/blockchain.py
Due: backend

Adjust tests after evm transaction changes
  rotkehlchen/api/rest.py
  rotkehlchen/db/filtering.py
  rotkehlchen/history/events.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/api/test_evm_transactions.py
  rotkehlchen/tests/external_apis/test_defillama.py
  rotkehlchen/tests/integration/test_transactions.py
  rotkehlchen/tests/utils/factories.py
Due: backend

Fix: minor typos
  docs/faq.rst
  docs/usage_guide.rst
Due: none

Fix docker build
  Dockerfile
Due: none

Use evm_chain at transaction serialization out of the API
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/data/expected/test_evm_transactions-test_query_transactions.json
  rotkehlchen/types.py
Due: backend

Small fix to docs format
  docs/usage_guide.rst
Due: none

Fix test_ignored_assets test for ethereum transactions
  rotkehlchen/tests/api/test_ethereum_transactions.py
Due: backend

Generalize pending transactions endpoint for all EVM chains
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/api/v1/types.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
Due: backend

Fix error during globaldb upgrades
  rotkehlchen.spec
  rotkehlchen/data/populate_asset_collections.sql
  rotkehlchen/data/populate_multiasset_mappings.sql
  rotkehlchen/globaldb/upgrades/manager.py
  rotkehlchen/globaldb/upgrades/v3_v4.py
  rotkehlchen/tests/unit/test_globaldb_upgrades.py
  setup.py
Due: backend

Fix docker pyinstaller build again
  Dockerfile
Due: none

Restructures account addition code
  frontend/app/.eslintrc-auto-import.json
  frontend/app/package.json
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/accounts/AccountForm.vue
  frontend/app/src/components/accounts/blockchain/Eth2Input.vue
  frontend/app/src/components/accounts/blockchain/TokenDetection.vue
  frontend/app/src/components/accounts/blockchain/XpubInput.vue
  frontend/app/src/components/accounts/management/AccountDialog.vue
  frontend/app/src/components/accounts/management/AccountForm.vue
  frontend/app/src/components/accounts/management/inputs/AccountDataInput.vue
  frontend/app/src/components/accounts/management/inputs/AccountSelector.vue
  frontend/app/src/components/accounts/management/inputs/InputModeSelect.vue
  frontend/app/src/components/accounts/management/types/AddressAccountForm.vue
  frontend/app/src/components/accounts/management/types/MetamaskAccountForm.vue
  frontend/app/src/components/accounts/management/types/ValidatorAccountForm.vue
  frontend/app/src/components/accounts/management/types/XpubAccountForm.vue
  frontend/app/src/composables/accounts/dialog.ts
  frontend/app/src/composables/accounts/loading.ts
  frontend/app/src/pages/balances/blockchain/index.vue
  frontend/app/src/services/accounts.ts
  frontend/app/src/services/types-api.ts
  frontend/app/src/services/utils.ts
  frontend/app/src/store/blockchain/accounts/eth.ts
  frontend/app/src/store/types.d.ts
  frontend/app/src/types/account-input.ts
  frontend/app/src/types/api/errors.ts
  frontend/app/src/types/input-mode.ts
  frontend/app/vite.config.ts
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

feat: add nft price functionality in price menu
  docs/api.rst
  frontend/app/src/components/helper/NftDetails.vue
  frontend/app/src/components/inputs/AssetSelect.vue
  frontend/app/src/components/price-manager/latest/LatestPriceForm.vue
  frontend/app/src/components/price-manager/latest/LatestPriceTable.vue
  frontend/app/src/pages/price-manager/latest/index.vue
Due: frontend_unit, frontend_integration

Improve tests and code in addressbook
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/chain/ethereum/names.py
  rotkehlchen/db/addressbook.py
  rotkehlchen/tests/api/test_addressbook.py
  rotkehlchen/tests/utils/factories.py
Due: backend
