Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Add aave v2 liquidations
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/aave/v2/decoder.py
  rotkehlchen/tests/unit/decoders/test_aave.py
Due: backend

Add aave v1 liquidations
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/aave/v1/decoder.py
  rotkehlchen/chain/ethereum/modules/aave/v2/decoder.py
  rotkehlchen/tests/unit/decoders/test_aave.py
Due: backend

fix: counterparties options not appears on the first time
  frontend/app/src/composables/filters/events.ts
Due: frontend_unit, frontend_integration

Remove compound graph queries
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/chain/ethereum/modules/compound/compound.py
  rotkehlchen/serialization/serialize.py
  rotkehlchen/tests/api/test_compound.py
  rotkehlchen/tests/integration/test_premium.py
Due: backend

Add geth_poa middleware also for Polygon
  rotkehlchen/chain/evm/node_inquirer.py
Due: backend

fix: make global stats optional
  frontend/app/src/components/staking/liquity/LiquityStakingDetails.vue
  frontend/common/src/liquity/index.ts
Due: frontend_unit, frontend_integration

fix: make global stats optional (#6149)
  frontend/app/src/components/staking/liquity/LiquityStakingDetails.vue
  frontend/common/src/liquity/index.ts
Due: frontend_unit, frontend_integration

Allow adding and editing fiat assets
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/globaldb/assets_management.py
  rotkehlchen/globaldb/handler.py
  rotkehlchen/serialization/schemas.py
  rotkehlchen/tests/api/test_user_assets.py
Due: backend

Address a nitpick
  rotkehlchen/chain/evm/decoding/decoder.py
Due: backend

Merge assets/ethereum to assets/all
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/globaldb/handler.py
  rotkehlchen/tests/api/test_assets.py
  rotkehlchen/tests/api/test_user_evm_tokens.py
Due: backend

Addressing eth2 cycling import due to chain/ethereum/modules/init
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/ethereum/modules/__init__.py
Due: backend

Fix api/test_eth2.py::test_query_eth2_balances
  rotkehlchen/tests/api/test_eth2.py
Due: backend

When querying defillama prices for polygon use correct name
  rotkehlchen/externalapis/defillama.py
Due: backend

Allow filtering by contract address and product
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/ethereum/modules/convex/decoder.py
  rotkehlchen/chain/ethereum/modules/curve/decoder.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/chain/evm/decoding/interfaces.py
  rotkehlchen/db/filtering.py
  rotkehlchen/serialization/serialize.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/api/test_misc.py
  rotkehlchen/tests/utils/factories.py
Due: backend

Remove compound endpoint from docs
  docs/api.rst
Due: none

Avoid storing information of decoders in memory
  rotkehlchen/api/rest.py
  rotkehlchen/chain/evm/decoding/decoder.py
  rotkehlchen/chain/evm/decoding/interfaces.py
  rotkehlchen/db/filtering.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
  rotkehlchen/tests/api/test_misc.py
Due: backend

fix: update asset endpoint
  frontend/app/src/components/asset-manager/ManagedAssetContent.vue
  frontend/app/src/components/asset-manager/ManagedAssetForm.vue
  frontend/app/src/components/asset-manager/ManagedAssetTable.vue
  frontend/app/src/components/asset-manager/UnderlyingTokenManager.vue
  frontend/app/src/composables/api/assets/management.ts
  frontend/app/src/locales/en.json
  frontend/app/tests/e2e/pages/assets-manager-page.ts
  frontend/app/tests/e2e/specs/app/assets.spec.ts
  frontend/common/src/data/index.ts
Due: frontend_unit, frontend_integration

specify type for some methods params
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/asset-manager/ManagedAssetForm.vue
Due: frontend_unit, frontend_integration

fix: adjust asset management endpoint (#6153)
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/asset-manager/ManagedAssetContent.vue
  frontend/app/src/components/asset-manager/ManagedAssetForm.vue
  frontend/app/src/components/asset-manager/ManagedAssetTable.vue
  frontend/app/src/components/asset-manager/UnderlyingTokenManager.vue
  frontend/app/src/composables/api/assets/management.ts
  frontend/app/src/locales/en.json
  frontend/app/tests/e2e/pages/assets-manager-page.ts
  frontend/app/tests/e2e/specs/app/assets.spec.ts
  frontend/common/src/data/index.ts
Due: frontend_unit, frontend_integration

Add Polygon nodes
  rotkehlchen/data/global.db
  rotkehlchen/db/upgrades/v37_v38.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/unit/test_data_updates.py
Due: backend

Make native asset customizable
  rotkehlchen/api/rest.py
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/ethereum/node_inquirer.py
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/chain/optimism/node_inquirer.py
  rotkehlchen/chain/polygon_pos/node_inquirer.py
  rotkehlchen/tests/api/blockchain/test_evm.py
  rotkehlchen/tests/api/test_misc.py
  rotkehlchen/tests/unit/test_blockchain_balances.py
Due: backend

Query polygon balances.
  rotkehlchen/chain/aggregator.py
  rotkehlchen/tests/fixtures/blockchain.py
  rotkehlchen/tests/unit/test_blockchain_balances.py
Due: backend

Reduce DB size by removing unused internaltxs data
  rotkehlchen/db/evmtx.py
  rotkehlchen/db/minimized_schema.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v37_v38.py
  rotkehlchen/externalapis/etherscan.py
  rotkehlchen/serialization/deserialize.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/db/test_evmtx.py
  rotkehlchen/tests/external_apis/test_etherscan.py
  rotkehlchen/tests/unit/decoders/test_curve.py
  rotkehlchen/tests/unit/decoders/test_kyber.py
  rotkehlchen/tests/unit/decoders/test_liquity.py
  rotkehlchen/tests/unit/decoders/test_makerdao_sai.py
  rotkehlchen/tests/unit/decoders/test_sushiswap.py
  rotkehlchen/tests/unit/decoders/test_uniswapv2.py
  rotkehlchen/tests/unit/decoders/test_uniswapv3.py
  rotkehlchen/types.py
Due: backend

Fix two VCR tests in the CI
  requirements.txt
  rotkehlchen/tests/api/test_bitcoin.py
  rotkehlchen/tests/api/test_yearn_vaults.py
Due: backend

Empty polygon mocking if network_mocking is True
  rotkehlchen/tests/fixtures/rotkehlchen.py
Due: backend

Better mocking at user unlock for some tests
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/tests/api/test_users.py
  rotkehlchen/tests/fixtures/rotkehlchen.py
Due: backend
