Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Fix cowswap bug with other DEX
  docs/changelog.rst
  rotkehlchen/chain/evm/decoding/cowswap/decoder.py
  rotkehlchen/tests/unit/decoders/test_cowswap.py
Due: backend

Add huobi
  frontend/app/public/assets/images/protocols/htx.svg
  rotkehlchen/assets/converters.py
  rotkehlchen/constants/location_details.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v42_v43.py
  rotkehlchen/exchanges/constants.py
  rotkehlchen/exchanges/htx.py
  rotkehlchen/tests/api/test_exchanges.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/exchanges/test_htx.py
  rotkehlchen/tests/fixtures/exchanges/__init__.py
  rotkehlchen/tests/fixtures/exchanges/htx.py
  rotkehlchen/tests/utils/exchanges.py
  rotkehlchen/types.py
Due: backend, frontend_unit, frontend_integration

fix: merge dialog freezing
  frontend/app/src/components/asset-manager/MergeDialog.vue
  frontend/app/src/components/inputs/AssetSelect.vue
  frontend/app/src/components/settings/data-security/data-management/PurgeData.vue
  frontend/app/src/components/settings/data-security/data-management/PurgeImagesCache.vue
  frontend/app/src/components/settings/data-security/data-management/RefreshCache.vue
Due: frontend_unit, frontend_integration

Feat (Curve): Detect prices of LP and Gauge tokens
  docs/changelog.rst
  rotkehlchen/api/rest.py
  rotkehlchen/chain/arbitrum_one/manager.py
  rotkehlchen/chain/arbitrum_one/node_inquirer.py
  rotkehlchen/chain/base/manager.py
  rotkehlchen/chain/base/node_inquirer.py
  rotkehlchen/chain/ethereum/manager.py
  rotkehlchen/chain/evm/decoding/curve/constants.py
  rotkehlchen/chain/evm/decoding/curve/curve_cache.py
  rotkehlchen/chain/evm/decoding/interfaces.py
  rotkehlchen/chain/evm/l2_with_l1_fees/node_inquirer.py
  rotkehlchen/chain/evm/manager.py
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/chain/gnosis/manager.py
  rotkehlchen/chain/gnosis/node_inquirer.py
  rotkehlchen/chain/optimism/manager.py
  rotkehlchen/chain/polygon_pos/manager.py
  rotkehlchen/chain/polygon_pos/node_inquirer.py
  rotkehlchen/chain/scroll/manager.py
  rotkehlchen/chain/scroll/node_inquirer.py
  rotkehlchen/inquirer.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/unit/globaldb/test_globaldb_cache.py
  rotkehlchen/tests/unit/test_evm_misc.py
  rotkehlchen/tests/unit/test_inquirer.py
  rotkehlchen/utils/mixins/lockable.py
Due: backend

fix(frontend): allow single sort in usePaginationFilters
  frontend/app/src/components/accounts/balances/NonFungibleBalances.vue
  frontend/app/src/components/accounts/manual-balances/ManualBalanceTable.vue
  frontend/app/src/components/address-book-manager/AddressBookManagement.vue
  frontend/app/src/components/asset-manager/custom/CustomAssetContent.vue
  frontend/app/src/components/dashboard/NftBalanceTable.vue
  frontend/app/src/composables/filter-paginate.ts
  frontend/app/src/types/pagination.ts
  frontend/app/src/utils/collection.ts
  frontend/app/tests/unit/fixtures/assets.json
  frontend/app/tests/unit/setup-files/handlers/assets.ts
  frontend/app/tests/unit/setup-files/server.ts
  frontend/app/tests/unit/specs/composables/accounts/filter-paginate-nfts.spec.ts
  frontend/app/tests/unit/specs/composables/assets/filter-paginate-assets.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-trades.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-transactions.spec.ts
Due: frontend_unit, frontend_integration

chore: bump ui-library-compat
  frontend/app/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

docs: update contribution guide for screenshot
  docs/contribute.rst
  docs/images/contrib_dimens.png
  docs/images/contrib_screen.png
Due: none

fix: adjust text used in eth staking date filter
  frontend/app/src/components/staking/eth/EthValidatorCombinedFilter.vue
  frontend/app/src/composables/filters/asset-movement.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
Due: frontend_unit, frontend_integration

style: adjust asset select in external trade form
  frontend/app/package.json
  frontend/app/src/components/common/ListItem.vue
  frontend/app/src/components/helper/AssetDetailsBase.vue
  frontend/app/src/components/history/trades/ExternalTradeForm.vue
  frontend/app/src/components/inputs/AssetSelect.vue
  frontend/app/src/main.scss
  frontend/app/tests/e2e/pages/assets-manager-page.ts
  frontend/app/tests/e2e/support/utils.ts
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

chore: remove repeat words
  docs/contribute.rst
  rotkehlchen/globaldb/schema.py
  rotkehlchen/tests/api/test_trades.py
  rotkehlchen/tests/unit/test_ens.py
Due: backend

style: adjust asset select in external trade form (#8134)
  frontend/app/package.json
  frontend/app/src/components/common/ListItem.vue
  frontend/app/src/components/helper/AssetDetailsBase.vue
  frontend/app/src/components/history/trades/ExternalTradeForm.vue
  frontend/app/src/components/inputs/AssetSelect.vue
  frontend/app/src/main.scss
  frontend/app/tests/e2e/pages/assets-manager-page.ts
  frontend/app/tests/e2e/support/utils.ts
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

Use beaconchain api for daily stats
  rotkehlchen/chain/ethereum/modules/eth2/beacon.py
  rotkehlchen/chain/ethereum/modules/eth2/eth2.py
  rotkehlchen/chain/ethereum/modules/eth2/utils.py
  rotkehlchen/db/upgrades/v35_v36.py
  rotkehlchen/externalapis/beaconchain/service.py
  rotkehlchen/tests/api/test_eth2.py
  rotkehlchen/tests/data/mocks/test_eth2/validator_daily_stats/33710.html
  rotkehlchen/tests/data/mocks/test_eth2/validator_daily_stats/33710.json
  rotkehlchen/tests/data/mocks/test_eth2/validator_daily_stats/999.html
  rotkehlchen/tests/data/mocks/test_eth2/validator_daily_stats/999.json
  rotkehlchen/tests/unit/test_eth2.py
  rotkehlchen/utils/misc.py
Due: backend

fix: fix global search sorting
  docs/images/global_searchbox.gif
  frontend/app/src/components/GlobalSearch.vue
  frontend/app/src/components/inputs/AssetSelect.vue
Due: frontend_unit, frontend_integration

add the collateral ratio of the Liquity protocol in troves.py
  docs/api.rst
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/ethereum/modules/liquity/trove.py
  rotkehlchen/tests/api/test_liquity.py
Due: backend

Some fixes on liquity tests
  docs/api.rst
  rotkehlchen/tests/unit/test_blockchain_balances.py
Due: backend

fix: adjust liquity collateralization ratio format
  rotkehlchen/chain/ethereum/modules/liquity/trove.py
  rotkehlchen/tests/api/test_liquity.py
Due: backend

Fix balances for validators
  docs/changelog.rst
  rotkehlchen/chain/aggregator.py
  rotkehlchen/tests/api/test_eth2.py
Due: backend

feat(tools): location_mappings support for packageddb
  rotkehlchen/db/updates.py
  tools/assets_database/main.py
Due: backend

Add setting to not query daily stats
  docs/api.rst
  docs/changelog.rst
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/ethereum/modules/eth2/eth2.py
  rotkehlchen/db/settings.py
  rotkehlchen/tests/api/test_settings.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/unit/test_eth2.py
Due: backend

Eigenlayer: Complete LST withdrawal event
  rotkehlchen/chain/ethereum/modules/eigenlayer/constants.py
  rotkehlchen/chain/ethereum/modules/eigenlayer/decoder.py
  rotkehlchen/db/history_events.py
  rotkehlchen/tests/unit/decoders/test_eigenlayer.py
Due: backend

Detect eigenlayer LST queue balances for withdrawal
  rotkehlchen/chain/ethereum/modules/eigenlayer/balances.py
  rotkehlchen/chain/ethereum/modules/eigenlayer/decoder.py
  rotkehlchen/tests/unit/decoders/test_eigenlayer.py
Due: backend
