Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    paths:
      - rotkehlchen
  frontend_unit:
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Updates changelog
  docs/changelog.rst
Due: none

Moves rounding settings under amount settings
  frontend/app/src/components/settings/FrontendSettings.vue
  frontend/app/src/views/settings/GeneralSettings.vue
Due: frontend_unit, frontend_integration

Handle case of cancelled transactions
  rotkehlchen/exchanges/coinbasepro.py
Due: backend

Add bug 2633 to changelog
  docs/changelog.rst
Due: none

Update test entries
  rotkehlchen/tests/api/test_uniswap.py
Due: backend

Add change to changelog
  docs/changelog.rst
Due: none

Add conversions from coinbase
  docs/changelog.rst
  rotkehlchen/exchanges/coinbase.py
  rotkehlchen/tests/exchanges/test_coinbase.py
Due: backend

Add new graph for uniswap to the changelog
  docs/changelog.rst
Due: none

Remove exchangerates api
  rotkehlchen/externalapis/xratescom.py
  rotkehlchen/history/price.py
  rotkehlchen/inquirer.py
  rotkehlchen/tests/external_apis/test_xratescom.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend

Add some more badges to the readme
  README.md
Due: none

Coinbasepro should now also properly parse historical market trades
  docs/changelog.rst
  rotkehlchen/exchanges/coinbasepro.py
Due: backend

Coinbasepro: Query orders and then all fills for their product ids
  docs/changelog.rst
  rotkehlchen/exchanges/coinbasepro.py
Due: backend

Increase timeout for backend tests to 60 mins
  .github/workflows/rotki_ci.yml
Due: none

Global DB assets should now also cascade on update
  rotkehlchen/globaldb/schema.py
Due: backend

Upgrade the global DB for new eth token ID
  rotkehlchen/globaldb/handler.py
  rotkehlchen/globaldb/upgrades/v1_v2.py
  rotkehlchen/tests/fixtures/globaldb.py
  rotkehlchen/tests/unit/test_globaldb_upgrades.py
Due: backend

Fix exchange tests after trade pair changes
  rotkehlchen/db/dbhandler.py
  rotkehlchen/exchanges/gemini.py
  rotkehlchen/tests/exchanges/test_binance.py
  rotkehlchen/tests/exchanges/test_bitfinex.py
  rotkehlchen/tests/exchanges/test_gemini.py
  rotkehlchen/tests/exchanges/test_kraken.py
  rotkehlchen/tests/utils/constants.py
  rotkehlchen/tests/utils/kraken.py
Due: backend

Add global db method to query asset data by symbol
  rotkehlchen/assets/asset.py
  rotkehlchen/assets/resolver.py
  rotkehlchen/globaldb/handler.py
  rotkehlchen/tests/unit/test_globaldb.py
  rotkehlchen/typing.py
Due: backend

Simplify asset resolution by now only using the global DB
  rotkehlchen/assets/resolver.py
  rotkehlchen/data/global.db
  rotkehlchen/globaldb/handler.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/fixtures/assets.py
  rotkehlchen/tests/unit/test_assets.py
  tools/asset_aggregator/__main__.py
Due: backend

All unit tests now pass. Code adjustments made while fixing them
  rotkehlchen/assets/asset.py
  rotkehlchen/assets/utils.py
  rotkehlchen/chain/ethereum/defi/zerionsdk.py
  rotkehlchen/chain/ethereum/modules/aave/common.py
  rotkehlchen/chain/ethereum/modules/l2/loopring.py
  rotkehlchen/chain/ethereum/tokens.py
  rotkehlchen/chain/ethereum/utils.py
  rotkehlchen/constants/assets.py
  rotkehlchen/data/global.db
  rotkehlchen/db/dbhandler.py
  rotkehlchen/exchanges/data_structures.py
  rotkehlchen/globaldb/handler.py
  rotkehlchen/inquirer.py
  rotkehlchen/serialization/deserialize.py
  rotkehlchen/tests/api/test_balancer.py
  rotkehlchen/tests/fixtures/assets.py
  rotkehlchen/tests/fixtures/globaldb.py
  rotkehlchen/tests/unit/test_aave.py
  rotkehlchen/tests/unit/test_accounting.py
  rotkehlchen/tests/unit/test_assets.py
  rotkehlchen/tests/unit/test_balancer.py
  rotkehlchen/tests/unit/test_globaldb_upgrades.py
  rotkehlchen/tests/unit/test_inquirer.py
  rotkehlchen/tests/unit/test_loopring.py
  rotkehlchen/tests/unit/test_makerdao.py
  rotkehlchen/tests/unit/test_pairs.py
  rotkehlchen/tests/unit/test_structures.py
  rotkehlchen/tests/unit/test_tasks_manager.py
  rotkehlchen/tests/unit/test_tokens.py
  rotkehlchen/tests/unit/test_unknown_asset.py
  rotkehlchen/tests/unit/test_utils.py
  rotkehlchen/tests/utils/constants.py
Due: backend

All exchange tests now pass
  rotkehlchen/assets/asset.py
  rotkehlchen/assets/converters.py
  rotkehlchen/assets/utils.py
  rotkehlchen/constants/resolver.py
  rotkehlchen/exchanges/bitcoinde.py
  rotkehlchen/exchanges/coinbasepro.py
  rotkehlchen/exchanges/gemini.py
  rotkehlchen/exchanges/iconomi.py
  rotkehlchen/exchanges/poloniex.py
  rotkehlchen/globaldb/handler.py
  rotkehlchen/serialization/deserialize.py
  rotkehlchen/tests/exchanges/test_bitfinex.py
  rotkehlchen/tests/exchanges/test_bitstamp.py
  rotkehlchen/tests/exchanges/test_iconomi.py
  rotkehlchen/tests/exchanges/test_kraken.py
  rotkehlchen/tests/exchanges/test_kucoin.py
  rotkehlchen/tests/unit/test_globaldb.py
Due: backend

First version of user DB upgrade ready. DB tests all pass.
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/settings.py
  rotkehlchen/db/upgrade_manager.py
  rotkehlchen/db/upgrades/v24_v25.py
  rotkehlchen/tests/data/v24_rotkehlchen.db
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/db/test_defi_events.py
  rotkehlchen/tests/utils/constants.py
  rotkehlchen/tests/utils/database.py
Due: backend

All external api tests pass
  rotkehlchen/constants/assets.py
  rotkehlchen/externalapis/cryptocompare.py
  rotkehlchen/tests/external_apis/test_coingecko.py
  rotkehlchen/tests/external_apis/test_cryptocompare.py
Due: backend

Tweaks and adjustments afte rebasing on develop
  rotkehlchen/exchanges/coinbase.py
  rotkehlchen/tests/api/test_uniswap.py
  rotkehlchen/tests/exchanges/test_coinbase.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend

All api tests now pass
  rotkehlchen/assets/unknown_asset.py
  rotkehlchen/assets/utils.py
  rotkehlchen/chain/ethereum/modules/aave/blockchain.py
  rotkehlchen/chain/ethereum/modules/balancer/typing.py
  rotkehlchen/chain/ethereum/modules/compound.py
  rotkehlchen/chain/ethereum/modules/uniswap/typing.py
  rotkehlchen/chain/ethereum/modules/yearn/vaults.py
  rotkehlchen/chain/ethereum/trades.py
  rotkehlchen/data/global.db
  rotkehlchen/data/importer.py
  rotkehlchen/data_handler.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/globaldb/handler.py
  rotkehlchen/serialization/deserialize.py
  rotkehlchen/tests/api/test_aave.py
  rotkehlchen/tests/api/test_assets.py
  rotkehlchen/tests/api/test_balancer.py
  rotkehlchen/tests/api/test_balances.py
  rotkehlchen/tests/api/test_blockchain.py
  rotkehlchen/tests/api/test_compound.py
  rotkehlchen/tests/api/test_custom_ethereum_tokens.py
  rotkehlchen/tests/api/test_icons.py
  rotkehlchen/tests/api/test_ledger_actions.py
  rotkehlchen/tests/api/test_makerdao_vaults.py
  rotkehlchen/tests/api/test_manually_tracked_balances.py
  rotkehlchen/tests/api/test_statistics.py
  rotkehlchen/tests/api/test_trades.py
  rotkehlchen/tests/api/test_uniswap.py
  rotkehlchen/tests/api/test_yearn_vaults.py
  rotkehlchen/tests/fixtures/globaldb.py
  rotkehlchen/tests/utils/aave.py
  rotkehlchen/tests/utils/balances.py
  rotkehlchen/tests/utils/blockchain.py
  rotkehlchen/tests/utils/constants.py
  rotkehlchen/tests/utils/history.py
  rotkehlchen/tests/utils/rotkehlchen.py
Due: backend

All integration tests now pass
  rotkehlchen/chain/manager.py
  rotkehlchen/constants/assets.py
  rotkehlchen/tests/integration/test_blockchain.py
  rotkehlchen/tests/integration/test_end_to_end_tax_report.py
  rotkehlchen/tests/integration/test_price_history.py
Due: backend

Updates the dependencies for the github action
  .github/actions/job-checker/.nvmrc
  .github/actions/job-checker/package-lock.json
  .github/actions/job-checker/package.json
Due: none

Fix uniswap unit tests
  rotkehlchen/globaldb/upgrades/__init__.py
  rotkehlchen/tests/unit/test_assets.py
  rotkehlchen/tests/unit/uniswap/test_get_known_asset_price.py
  rotkehlchen/tests/unit/uniswap/test_get_update_assets_prices_in_address_balances.py
  rotkehlchen/tests/unit/uniswap/utils.py
Due: backend

Adjust api docs after the token identifier changes
  docs/api.rst
Due: none

Fix Coinbase pagination
  docs/changelog.rst
  rotkehlchen/exchanges/coinbase.py
Due: backend

Add information about xpub
  docs/images/add_xpub_key.png
  docs/usage_guide.rst
Due: none

Add tests
  rotkehlchen/exchanges/ftx.py
  rotkehlchen/tests/exchanges/test_ftx.py
  rotkehlchen/tests/fixtures/__init__.py
  rotkehlchen/tests/fixtures/exchanges/ftx.py
  rotkehlchen/tests/utils/exchanges.py
Due: backend

Add pagination
  rotkehlchen/assets/converters.py
  rotkehlchen/exchanges/__init__.py
  rotkehlchen/exchanges/ftx.py
  rotkehlchen/serialization/deserialize.py
  rotkehlchen/tests/exchanges/test_ftx.py
Due: backend

Implement base code for ftx
  rotkehlchen/assets/converters.py
  rotkehlchen/db/schema.py
  rotkehlchen/exchanges/ftx.py
  rotkehlchen/typing.py
Due: backend

Add FTX to the changelog. Closes #1334
  docs/changelog.rst
Due: none

Include global.db to the packaging script
  rotkehlchen.spec
  setup.py
Due: backend

Updates trades from pair to base/quote
  frontend/app/src/components/ExternalTradeForm.vue
  frontend/app/src/components/display/AmountDisplay.vue
  frontend/app/src/components/helper/AssetDetails.vue
  frontend/app/src/components/helper/AssetDetailsBase.vue
  frontend/app/src/components/history/ClosedTrades.vue
  frontend/app/src/locales/en.json
  frontend/app/src/services/history/types.d.ts
  frontend/app/src/store/defi/getters.ts
  frontend/app/src/store/defi/types.ts
  frontend/app/tests/e2e/fixtures/trades.json
  frontend/app/tests/e2e/pages/history-page.ts
  frontend/app/tests/e2e/support/types.d.ts
  frontend/app/tests/e2e/support/utils.ts
Due: frontend_unit, frontend_integration

Fixes failing asset ignore/unignore tests
  frontend/app/src/locales/en.json
  frontend/app/src/store/session/actions.ts
  frontend/app/src/views/settings/AccountingSettings.vue
  frontend/app/tests/e2e/pages/accounting-settings-page.ts
  frontend/app/tests/e2e/specs/settings.spec.ts
Due: frontend_unit, frontend_integration

Rephrase xpub docs info
  docs/usage_guide.rst
Due: none
