Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

refactor: remove circular dependencies from common lib (#8471)
  frontend/common/src/defi/aave/index.ts
  frontend/common/src/defi/balancer/index.ts
  frontend/common/src/defi/common.ts
  frontend/common/src/defi/index.ts
  frontend/common/src/defi/xswap/index.ts
  frontend/common/src/index.ts
  frontend/common/src/liquity/index.ts
  frontend/common/src/messages/index.ts
  frontend/common/src/premium/index.ts
  frontend/common/src/settings/frontend.ts
  frontend/common/src/settings/graphs.ts
  frontend/common/src/settings/index.ts
  frontend/common/src/settings/themes.ts
  frontend/common/src/staking/eth2/index.ts
  frontend/common/src/statistics/index.ts
  frontend/common/src/utils/index.ts
Due: none

refactor: small restructuring to avoid madge syntax error on AppCore.vue
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/app/AppCore.vue
  frontend/app/src/composables/graphs.ts
  frontend/app/src/composables/use-core-scroll.ts
Due: frontend_unit, frontend_integration

Fix (Velodrome): v2 swap order
  docs/changelog.rst
  rotkehlchen/chain/evm/decoding/velodrome/decoder.py
  rotkehlchen/tests/unit/decoders/test_velodrome.py
Due: backend

Improve CSV import error reporting
  docs/changelog.rst
  rotkehlchen/api/websockets/typedefs.py
  rotkehlchen/data_import/importers/binance.py
  rotkehlchen/data_import/importers/bisq_trades.py
  rotkehlchen/data_import/importers/bitcoin_tax.py
  rotkehlchen/data_import/importers/bitmex.py
  rotkehlchen/data_import/importers/bitstamp.py
  rotkehlchen/data_import/importers/bittrex.py
  rotkehlchen/data_import/importers/blockfi_trades.py
  rotkehlchen/data_import/importers/blockfi_transactions.py
  rotkehlchen/data_import/importers/blockpit.py
  rotkehlchen/data_import/importers/cointracking.py
  rotkehlchen/data_import/importers/cryptocom.py
  rotkehlchen/data_import/importers/kucoin.py
  rotkehlchen/data_import/importers/nexo.py
  rotkehlchen/data_import/importers/rotki_events.py
  rotkehlchen/data_import/importers/rotki_trades.py
  rotkehlchen/data_import/importers/shapeshift_trades.py
  rotkehlchen/data_import/importers/uphold_transactions.py
  rotkehlchen/data_import/manager.py
  rotkehlchen/data_import/utils.py
  rotkehlchen/tests/api/test_data_import.py
  rotkehlchen/tests/utils/dataimport.py
Due: backend

Remove flake8 + plugins in favour of ruff
  Makefile
  pyproject.toml
  requirements_lint.txt
  setup.cfg
Due: none

Switch from isort to isort via ruff
  Makefile
  pyproject.toml
  requirements_lint.txt
Due: none

chore: bump ui-library and add trace to .gitignore
  frontend/app/.gitignore
  frontend/app/package.json
  frontend/app/src/types/history/events/event-type.ts
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

refactor: introduces some types
  frontend/app/src/composables/defi/lending.ts
  frontend/app/src/store/statistics/index.ts
  frontend/app/src/utils/total-collateral.ts
Due: frontend_unit, frontend_integration

chore: update husky and pre-commit hook
  frontend/.husky/pre-commit
  frontend/package.json
Due: none

Checkpoint log queries of thegraph delegations
  docs/changelog.rst
  rotkehlchen/chain/ethereum/constants.py
  rotkehlchen/chain/ethereum/transactions.py
  rotkehlchen/chain/ethereum/types.py
  rotkehlchen/chain/evm/node_inquirer.py
  rotkehlchen/db/evmtx.py
  rotkehlchen/tests/unit/test_tasks_manager.py
Due: backend

feat: allow import addresses from other browser wallets
  docs/changelog.rst
  frontend/.gitignore
  frontend/app/electron/main/http.ts
  frontend/app/package.json
  frontend/app/public/address-import/img/alert.svg
  frontend/app/public/address-import/img/done.svg
  frontend/app/public/address-import/img/rotki.svg
  frontend/app/public/address-import/import.html
  frontend/app/public/assets/images/metamask-fox.svg
  frontend/app/public/metamask/img/mm-logo.svg
  frontend/app/public/metamask/import.html
  frontend/app/scripts/postinstall.js
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/accounts/blockchain/AddressInput.vue
  frontend/app/src/components/accounts/blockchain/MetamaskAddressesImport.vue
  frontend/app/src/components/accounts/blockchain/WalletAddressesImport.vue
  frontend/app/src/components/accounts/blockchain/WalletImportSelection.vue
  frontend/app/src/components/accounts/management/types/AddressAccountForm.vue
  frontend/app/src/components/settings/controls/SettingsOption.vue
  frontend/app/src/composables/settings/index.ts
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/fr.json
  frontend/app/src/locales/gr.json
  frontend/app/src/plugins/rui/index.ts
  frontend/app/src/types.d.ts
  frontend/app/src/utils/metamask.ts
Due: frontend_unit, frontend_integration

refactor: introduces some types (#8482)
  frontend/app/src/composables/defi/lending.ts
  frontend/app/src/store/statistics/index.ts
  frontend/app/src/utils/total-collateral.ts
Due: frontend_unit, frontend_integration

Disable pylint checks that are covered by ruff
  .pylint.rc
Due: none

Fix an oppsie during the latest bugfixes merge
  rotkehlchen/tests/unit/decoders/test_curve.py
Due: backend

chore: specify more function return types explicitly
  frontend/app/src/composables/accounts/blockchain/use-account-delete.ts
  frontend/app/src/composables/accounts/blockchain/use-account-manage.ts
  frontend/app/src/composables/accounts/blockie.ts
  frontend/app/src/composables/address-book/form.ts
  frontend/app/src/composables/api/assets/cex-mapping.ts
  frontend/app/src/composables/api/assets/icon.ts
  frontend/app/src/composables/api/assets/ignore.ts
  frontend/app/src/composables/filters/eth-validator.ts
  frontend/app/src/composables/user/account.ts
  frontend/app/src/composables/validation.ts
  frontend/app/src/data/amount-formatter.ts
  frontend/app/src/data/date-formatter.ts
  frontend/app/src/premium/premium.ts
  frontend/app/src/services/rotkehlchen-api.ts
  frontend/app/src/services/utils.ts
  frontend/app/src/store/assets/asset-cache.ts
  frontend/app/src/store/assets/icon.ts
  frontend/app/src/store/assets/ignored.ts
  frontend/app/src/store/assets/whitelisted.ts
  frontend/app/src/store/balances/exchanges.ts
  frontend/app/src/store/balances/manual.ts
  frontend/app/src/store/blockchain/accounts/addresses-names.ts
  frontend/app/src/store/blockchain/accounts/migrate.ts
  frontend/app/src/store/blockchain/index.ts
  frontend/app/src/store/history/query-status/index.ts
  frontend/app/src/store/reports/index.ts
  frontend/app/src/utils/attrs.ts
  frontend/app/src/utils/blockchain/accounts/index.ts
  frontend/dev-proxy/src/index.ts
  frontend/eslint.config.js
Due: frontend_unit, frontend_integration

Result of 'make format'
  docs/conf.py
  packaging/docker/entrypoint.py
  pytestgeventwrapper.py
  stubs/Crypto/Random/__init__.pyi
Due: none

Extend backend linting to more files
  Makefile
Due: none

Address remaining lint findings
  .github/scripts/notifier.py
  docs/conf.py
  packaging/docker/entrypoint.py
  pyproject.toml
Due: none

Add reminders for CRV vote escrow lock end
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/curve/decoder.py
  rotkehlchen/tasks/calendar.py
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/unit/decoders/test_curve.py
  rotkehlchen/tests/unit/test_tasks_manager.py
Due: backend

Fix linting in alexandria
  rotkehlchen/chain/evm/decoding/base.py
  rotkehlchen/db/upgrades/v39_v40.py
  rotkehlchen/tests/unit/test_tokens.py
Due: backend

Update docs/conf.py
  docs/conf.py
Due: none

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
