Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Add release v1.42 to the changelog
  docs/changelog.rst
Due: none

fix: sponsorship layout with long text
  frontend/app/src/components/sponsorship/SponsorshipView.vue
Due: frontend_unit, frontend_integration

Add Windows signing instructions
  packaging/SIGNING.md
Due: none

Farcaster pro purchase decoder
  docs/changelog.rst
  frontend/app/public/assets/images/protocols/farcaster.png
  rotkehlchen/chain/base/modules/farcaster/__init__.py
  rotkehlchen/chain/base/modules/farcaster/constants.py
  rotkehlchen/chain/base/modules/farcaster/decoder.py
  rotkehlchen/tests/unit/decoders/test_farcaster.py
Due: backend, frontend_unit, frontend_integration

Add .codexbox-out to .gitignore
  .gitignore
Due: none

Add some extra guidance to AGENTS.MD for backend decoders
  AGENTS.md
Due: none

Add base zerox settler decode
  docs/changelog.rst
  rotkehlchen/chain/base/modules/zerox/constants.py
  rotkehlchen/tests/unit/decoders/test_zerox.py
Due: backend

Explain in Agents.MD how to go around indexers not working
  AGENTS.md
Due: none

Fix the way envvar is fixed in a test
  rotkehlchen/tests/unit/test_data_updates.py
Due: backend

Dedupe gnosispay monerium reauth ws notifications
  rotkehlchen/externalapis/gnosispay.py
  rotkehlchen/externalapis/monerium.py
  rotkehlchen/externalapis/utils.py
Due: backend

Add Sky direct psm swap decoding
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/sky/constants.py
  rotkehlchen/chain/ethereum/modules/sky/decoder.py
  rotkehlchen/tests/unit/decoders/test_paraswap_v6.py
  rotkehlchen/tests/unit/decoders/test_sky.py
Due: backend

Clarify bytes constants policy for Agents
  AGENTS.md
Due: none

fix(frontend): refresh history events after ignoring asset
  docs/changelog.rst
  frontend/app/src/components/helper/AssetDetailsMenuContent.vue
  frontend/app/src/components/history/events/HistoryEventAsset.vue
  frontend/app/src/modules/history/events/composables/use-history-events-data.ts
Due: frontend_unit, frontend_integration

run CI with pytest xdist
  .github/workflows/task_backend_tests.yml
  rotkehlchen/tests/conftest.py
  rotkehlchen/tests/fixtures/accounting.py
  rotkehlchen/tests/fixtures/rotkehlchen.py
  rotkehlchen/tests/fixtures/variables.py
  rotkehlchen/tests/integration/test_backend.py
  rotkehlchen/tests/utils/api.py
  rotkehlchen/tests/utils/gevent.py
  rotkehlchen/tests/utils/substrate.py
Due: backend

extend spam token marking to support solana tokens and improve `_validate_address_with_blockchain` for solana
  docs/api.rst
  docs/changelog.rst
  docs/dev_changelog.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/services/assets.py
  rotkehlchen/api/v1/fields.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/assets/asset.py
  rotkehlchen/globaldb/utils.py
  rotkehlchen/tests/api/test_assets.py
  rotkehlchen/tests/api/test_calendar.py
Due: backend

Add WOOFi crosschain swap decoding
  rotkehlchen/chain/evm/decoding/woo_fi/constants.py
  rotkehlchen/chain/evm/decoding/woo_fi/decoder.py
  rotkehlchen/tests/unit/decoders/test_woo_fi.py
Due: backend

fix(frontend): update mark as spam endpoint
  frontend/app/src/composables/api/assets/spam.spec.ts
  frontend/app/src/composables/api/assets/spam.ts
Due: frontend_unit, frontend_integration

Add balancer v3 gauge claims
  docs/changelog.rst
  rotkehlchen/chain/evm/decoding/balancer/v3/decoder.py
  rotkehlchen/tests/unit/decoders/test_balancer_v3.py
Due: backend

Align okx location enum mixin usage
  rotkehlchen/api/v1/fields.py
  rotkehlchen/exchanges/okx.py
Due: backend

Modernize two old sai tests
  rotkehlchen/chain/evm/decoding/balancer/v3/decoder.py
  rotkehlchen/tests/unit/decoders/test_makerdao_sai.py
Due: backend

Unify ENS validation and allow non .eth domains
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/evm/decoding/ens/utils.py
  rotkehlchen/tests/api/test_ens.py
Due: backend

refactor: migrate template refs to useTemplateRef
  frontend/app/src/components/accounts/management/AccountDialog.vue
  frontend/app/src/components/accounts/management/types/AddressAccountForm.vue
  frontend/app/src/components/accounts/management/types/AgnosticAddressAccountForm.vue
  frontend/app/src/components/accounts/management/types/XpubAccountForm.vue
  frontend/app/src/components/accounts/manual-balances/ManualBalancesForm.vue
  frontend/app/src/components/asset-manager/custom/CustomAssetForm.vue
  frontend/app/src/components/asset-manager/managed/ManagedAssetForm.vue
  frontend/app/src/components/dashboard/edit-snapshot/EditBalancesSnapshotForm.vue
  frontend/app/src/components/dashboard/edit-snapshot/EditBalancesSnapshotTable.vue
  frontend/app/src/components/dashboard/edit-snapshot/EditLocationDataSnapshotTable.vue
  frontend/app/src/components/inputs/TwoFieldsAmountInput.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleImportDialog.vue
  frontend/app/src/components/settings/general/rpc/BlockchainRpcNodeFormDialog.vue
  frontend/app/src/components/settings/general/rpc/RpcSettings.vue
  frontend/app/src/components/settings/general/rpc/simple/SimpleRpcNodeManager.vue
  frontend/app/src/modules/dashboard/graph/NetWorthChart.vue
  frontend/app/src/modules/dashboard/graph/use-net-value-event-handlers.ts
  frontend/app/src/pages/reports/index.vue
Due: frontend_unit, frontend_integration

refactor: migrate bare withDefaults to destructured props
  frontend/app/src/components/accounts/AccountAssetSelectionActions.vue
  frontend/app/src/components/asset-manager/custom/CustomAssetForm.vue
  frontend/app/src/components/common/NoDataScreen.vue
  frontend/app/src/components/dashboard/edit-snapshot/EditBalancesSnapshotForm.vue
  frontend/app/src/components/helper/filter/ValidatorFilterInput.vue
  frontend/app/src/components/history/BadgeDisplay.vue
  frontend/app/src/components/history/HistoryTableActions.vue
  frontend/app/src/components/history/events/HistoryEventFormDialog.vue
  frontend/app/src/components/history/events/HistoryEventsDecodingStatusDialog.vue
  frontend/app/src/components/history/events/HistoryEventsDialogContainer.vue
  frontend/app/src/components/inputs/JsonInput.vue
  frontend/app/src/components/layout/TablePageLayout.vue
  frontend/app/src/components/wallets/ProviderSelection.vue
  frontend/app/src/components/wallets/ProviderSelectionDialog.vue
  frontend/app/src/modules/dashboard/summary/SummaryCard.vue
  frontend/app/src/modules/dashboard/summary/SummaryCardRefreshMenu.vue
  frontend/app/src/modules/history/management/forms/common/EventDateLocation.vue
  frontend/app/src/modules/history/management/forms/common/SimpleFeeList.vue
  frontend/app/src/modules/history/redecode/HistoryRedecodeChainItem.vue
  frontend/app/src/modules/history/redecode/HistoryRedecodeSelection.vue
  frontend/app/src/modules/history/refresh/HistoryRefreshSelection.vue
  frontend/app/src/modules/onchain/wallet-bridge/ProviderIcon.vue
  frontend/app/src/modules/staking/eth/components/EthValidatorCombinedFilter.vue
  frontend/app/src/modules/statistics/wrapped/components/WrappedSkeletonCards.vue
Due: frontend_unit, frontend_integration

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
