Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Fix test_addreses_queried_for_nfts
  rotkehlchen/tests/unit/test_nfts.py
Due: backend

Removes accidentally added module
  frontend/app/src/types/modules.ts
Due: frontend_unit, frontend_integration

Add filter data to the user notes endpoint and allow filtering by location
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/filtering.py
  rotkehlchen/tests/api/test_user_notes.py
Due: backend

Add premium limit to user notes
  rotkehlchen/api/rest.py
  rotkehlchen/constants/limits.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tests/api/test_user_notes.py
  rotkehlchen/tests/utils/factories.py
Due: backend

feat: update token detection
  docs/api.rst
  frontend/app/src/App.vue
  frontend/app/src/components/accounts/AccountBalanceTable.vue
  frontend/app/src/components/accounts/AccountDetectedTokensDialog.vue
  frontend/app/src/components/helper/ListItem.vue
  frontend/app/src/locales/en.json
  frontend/app/src/services/balances/balances-api.ts
  frontend/app/src/services/balances/types.ts
  frontend/app/src/store/balances/actions.ts
  frontend/app/src/store/balances/index.ts
  frontend/app/src/types/task-type.ts
Due: frontend_unit, frontend_integration

Fail on new note if the limit has been reached
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/tests/api/test_user_notes.py
Due: backend

Use DelimitedOrNormalList for order_by_attributes and ascending
  rotkehlchen/api/v1/schemas.py
Due: backend

Fix zero address ens name
  docs/changelog.rst
  rotkehlchen/chain/ethereum/manager.py
  rotkehlchen/tests/unit/test_ens.py
Due: backend

Remove deprecated poloniex stuff and skip methods until implemented
  rotkehlchen/exchanges/poloniex.py
  rotkehlchen/history/events.py
  rotkehlchen/tests/exchanges/test_poloniex.py
Due: backend

Support the new poloniex API
  rotkehlchen/exchanges/binance.py
  rotkehlchen/exchanges/data_structures.py
  rotkehlchen/exchanges/poloniex.py
  rotkehlchen/serialization/deserialize.py
  rotkehlchen/tests/exchanges/test_poloniex.py
  rotkehlchen/tests/utils/exchanges.py
Due: backend

More direct mapping of addresses of ERC20 to kraken
  rotkehlchen/assets/asset.py
Due: backend

Add changelog for 4645
  docs/changelog.rst
Due: none

Handle operational database error during login more gracefully
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/constants/misc.py
  rotkehlchen/rotkehlchen.py
Due: backend

Fix poloniex's validate_api_key
  rotkehlchen/exchanges/poloniex.py
  rotkehlchen/tests/api/test_exchanges.py
Due: backend

Adjust all history tests after poloniex changes
  rotkehlchen/tests/api/test_assets.py
  rotkehlchen/tests/api/test_balances.py
  rotkehlchen/tests/api/test_history.py
  rotkehlchen/tests/api/test_pnl_csv.py
  rotkehlchen/tests/utils/exchanges.py
  rotkehlchen/tests/utils/history.py
Due: backend

Remove unused code
  rotkehlchen/exchanges/poloniex.py
  rotkehlchen/types.py
Due: backend

Mark some more tests flaky to reduce random timeouts
  rotkehlchen/tests/api/test_liquity.py
  rotkehlchen/tests/api/test_uniswap.py
Due: backend

Add missing space
  rotkehlchen/chain/ethereum/transactions.py
Due: backend

Update docs
  docs/api.rst
Due: none

Add multical to tokens balances query
  rotkehlchen/chain/ethereum/tokens.py
  rotkehlchen/tests/unit/test_tokens.py
  rotkehlchen/tests/utils/constants.py
Due: backend

feat: user notes functionality in frontend
  frontend/app/src/App.vue
  frontend/app/src/components/UserNoteForm.vue
  frontend/app/src/components/UserNotesIndicator.vue
  frontend/app/src/components/UserNotesList.vue
  frontend/app/src/components/UserNotesSidebar.vue
  frontend/app/src/components/help/HelpSidebar.vue
  frontend/app/src/components/helper/DataTable.vue
  frontend/app/src/components/history/ClosedTrades.vue
  frontend/app/src/components/staking/kraken/KrakenStakingEvents.vue
  frontend/app/src/composables/history.ts
  frontend/app/src/locales/en.json
  frontend/app/src/router/index.ts
  frontend/app/src/router/routes.ts
  frontend/app/src/services/history/history-api.ts
  frontend/app/src/services/history/types.ts
  frontend/app/src/services/rotkehlchen-api.ts
  frontend/app/src/services/utils.ts
  frontend/app/src/store/history/index.ts
  frontend/app/src/store/staking/index.ts
  frontend/app/src/store/staking/kraken.ts
  frontend/app/src/types/collection.ts
  frontend/app/src/types/notes.ts
  frontend/app/src/types/staking.ts
  frontend/app/src/utils/collection.ts
  frontend/app/src/views/history/deposits-withdrawals/DepositsWithdrawalsContent.vue
  frontend/app/src/views/history/ledger-actions/LedgerActionContent.vue
  frontend/app/src/views/history/transactions/TransactionContent.vue
  frontend/common/src/staking/eth2/index.ts
Due: frontend_unit, frontend_integration

Stay consistent in the usage of addresses for ethereum addies
  rotkehlchen/api/rest.py
  rotkehlchen/chain/ethereum/tokens.py
  rotkehlchen/tests/integration/test_blockchain.py
  rotkehlchen/tests/unit/test_tokens.py
Due: backend

Remove generate_regular_chunks
  rotkehlchen/chain/ethereum/tokens.py
  rotkehlchen/tests/unit/test_tokens.py
Due: backend

Rewrites class-components to composition
  frontend/app/package.json
  frontend/app/src/App.vue
  frontend/app/src/components/AccountManagement.vue
  frontend/app/src/components/asset-manager/RestoreAssetDbButton.vue
  frontend/app/src/components/defi/QueriedAddressDialog.vue
  frontend/app/src/components/dialogs/WatcherDialog.vue
  frontend/app/src/components/settings/BackendSettings.vue
  frontend/app/src/components/settings/PremiumSettings.vue
  frontend/app/src/components/settings/api-keys/ExchangeKeysForm.vue
  frontend/app/src/components/settings/api-keys/ExternalServices.vue
  frontend/app/src/components/settings/data-security/RestoreAssetsDatabase.vue
  frontend/app/src/components/status/update/AssetUpdate.vue
  frontend/app/src/composables/backend.ts
  frontend/app/src/composables/balances.ts
  frontend/app/src/mixins/backend-mixin.ts
  frontend/app/src/mixins/restore-assets-database-mixin.ts
  frontend/app/tests/unit/components/settings/api-keys/external-services.spec.ts
  frontend/app/tests/unit/components/settings/premium-settings.spec.ts
  frontend/package-lock.json
Due: frontend_unit, frontend_integration

Fix tests by adjusting mocking and other details
  rotkehlchen/tests/api/test_blockchain.py
  rotkehlchen/tests/api/test_history.py
  rotkehlchen/tests/integration/test_blockchain.py
  rotkehlchen/tests/utils/api.py
  rotkehlchen/tests/utils/blockchain.py
  rotkehlchen/tests/utils/rotkehlchen.py
Due: backend

Adjust reverse ens logic
  docs/api.rst
  docs/changelog.rst
  rotkehlchen/api/rest.py
  rotkehlchen/chain/ethereum/manager.py
  rotkehlchen/constants/ethereum.py
  rotkehlchen/data/eth_contracts.json
  rotkehlchen/tests/unit/test_ens.py
Due: backend

Splits exchanges state to their own pinia store
  frontend/app/src/components/GlobalSearch.vue
  frontend/app/src/components/accounts/exchanges/ExchangeBalances.vue
  frontend/app/src/components/settings/api-keys/ExchangeKeysForm.vue
  frontend/app/src/components/settings/api-keys/ExchangeSettings.vue
  frontend/app/src/composables/balances.ts
  frontend/app/src/services/monitoring.ts
  frontend/app/src/store/balances/actions.ts
  frontend/app/src/store/balances/exchanges.ts
  frontend/app/src/store/balances/getters.ts
  frontend/app/src/store/balances/mutations.ts
  frontend/app/src/store/balances/state.ts
  frontend/app/src/store/balances/types.ts
  frontend/app/src/views/Dashboard.vue
  frontend/app/src/views/staking/KrakenPage.vue
  frontend/app/tests/unit/store/balances/getters.spec.ts
Due: frontend_unit, frontend_integration

feat: add uniswap v2 lps balances to snapshot
  rotkehlchen/chain/ethereum/interfaces/ammswap/ammswap.py
  rotkehlchen/chain/ethereum/modules/sushiswap/constants.py
  rotkehlchen/chain/ethereum/modules/uniswap/constants.py
  rotkehlchen/chain/ethereum/modules/uniswap/uniswap.py
  rotkehlchen/rotkehlchen.py
Due: backend

feat: translateable text for premium components
  frontend/app/.eslintrc.js
  frontend/app/src/components/accounts/balances/AccountBalanceDetails.vue
  frontend/app/src/components/asset-manager/AssetForm.vue
  frontend/app/src/components/asset-manager/AssetTable.vue
  frontend/app/src/components/dashboard/ExportSnapshotDialog.vue
  frontend/app/src/components/defi/Deposits.vue
  frontend/app/src/components/defi/Overview.vue
  frontend/app/src/components/defi/uniswap/UniswapPoolDetails.vue
  frontend/app/src/components/defi/uniswap/UniswapV2.vue
  frontend/app/src/components/defi/uniswap/UniswapV3.vue
  frontend/app/src/components/history/LedgerActionForm.vue
  frontend/app/src/components/history/MovementLinks.vue
  frontend/app/src/components/history/transactions/TransactionEvents.vue
  frontend/app/src/components/locations/LocationAssets.vue
  frontend/app/src/components/profitloss/ProfitLossEvents.vue
  frontend/app/src/components/profitloss/ProfitLossOverview.vue
  frontend/app/src/components/staking/kraken/KrakenStakingEvents.vue
  frontend/app/src/electron-main/ipc-setup.ts
  frontend/app/src/locales/en.json
  frontend/app/src/preload.ts
  frontend/app/src/premium/setup-interface.ts
  frontend/app/src/router/routes.ts
  frontend/app/src/views/Dashboard.vue
  frontend/app/src/views/history/ledger-actions/LedgerActionContent.vue
  frontend/app/src/views/history/transactions/TransactionContent.vue
  frontend/app/src/views/history/transactions/TransactionQueryStatus.vue
  frontend/app/src/views/staking/Eth2Page.vue
  frontend/common/src/premium/index.ts
  frontend/tsconfig.json
Due: frontend_unit, frontend_integration

fix: floating button blocked
  frontend/app/src/main.scss
Due: frontend_unit, frontend_integration

Restructures app and premium component registration
  frontend/app/src/App.vue
  frontend/app/src/components/app/AppCore.vue
  frontend/app/src/components/app/AppDrawer.vue
  frontend/app/src/components/app/AppHost.vue
  frontend/app/src/components/app/AppIndicators.vue
  frontend/app/src/components/app/AppMessages.vue
  frontend/app/src/components/app/AppSidebars.vue
  frontend/app/src/components/status/FrontendUpdateNotifier.vue
  frontend/app/src/composables/common.ts
  frontend/app/src/main.ts
  frontend/app/src/premium/register-components.ts
  frontend/app/src/premium/setup-interface.ts
  frontend/app/src/premium/setup-premium.ts
  frontend/app/src/store/session/index.ts
  frontend/app/src/store/session/visibility.ts
Due: frontend_unit, frontend_integration

Update nodes info in periodic
  docs/api.rst
  rotkehlchen/chain/ethereum/manager.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/api/test_periodic.py
Due: backend

feat: show connected eth nodes on frontend
  docs/changelog.rst
  frontend/app/src/components/settings/general/rpc/EthereumRpcNodeManager.vue
  frontend/app/src/locales/en.json
  frontend/app/src/services/types-api.ts
  frontend/app/src/store/session/index.ts
Due: frontend_unit, frontend_integration

Bump linting packages
  requirements_lint.txt
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/ethereum/modules/compound/compound.py
  rotkehlchen/exchanges/exchange.py
  rotkehlchen/globaldb/updates.py
  rotkehlchen/tests/utils/history.py
Due: backend

Upgrade flask to 2.2.2
  requirements.txt
Due: none

Bump cryptography to 37.0.4
  requirements.txt
Due: none

Bump pep8-naming to 0.13.2
  requirements_lint.txt
Due: none

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
