Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

refactor(frontend): migrate staking layout
  frontend/app/src/components/dashboard/OverallBalances.vue
  frontend/app/src/components/dashboard/summary-card/SummaryCard.vue
  frontend/app/src/components/defi/ActiveModules.vue
  frontend/app/src/components/display/AmountCurrency.vue
  frontend/app/src/components/display/amount/AmountDisplay.vue
  frontend/app/src/components/display/amount/CopyTooltip.vue
  frontend/app/src/components/helper/BlockchainAccountSelector.vue
  frontend/app/src/components/helper/hint/ValueAccuracyHint.vue
  frontend/app/src/components/staking/eth/EthStakingPage.vue
  frontend/app/src/components/staking/eth/EthValidatorFilter.vue
  frontend/app/src/components/staking/kraken/KrakenPage.vue
  frontend/app/src/components/staking/kraken/KrakenStaking.vue
  frontend/app/src/components/staking/kraken/KrakenStakingOverview.vue
  frontend/app/src/components/staking/kraken/KrakenStakingReceived.vue
  frontend/app/src/components/staking/liquity/LiquityPools.vue
  frontend/app/src/components/staking/liquity/LiquityStake.vue
  frontend/app/src/components/staking/liquity/LiquityStakingDetails.vue
  frontend/app/src/components/staking/liquity/LiquityStatistics.vue
  frontend/app/src/pages/staking/index.vue
  frontend/app/src/plugins/rui/index.ts
  frontend/app/tests/unit/setup-files/setup.ts
  frontend/app/tests/unit/specs/components/display/amount-display.spec.ts
  frontend/app/tests/unit/specs/stubs/RuiTooltip.ts
Due: frontend_unit, frontend_integration

style: use RuiDivider
  frontend/app/src/components/About.vue
  frontend/app/src/components/asset-manager/newly-detected/NewlyDetectedAssetTable.vue
  frontend/app/src/components/dashboard/SnapshotActionButton.vue
  frontend/app/src/components/defi/Overview.vue
  frontend/app/src/components/defi/loan/loans/aave/AaveCollateral.vue
  frontend/app/src/components/defi/loan/loans/compound/CompoundCollateral.vue
  frontend/app/src/components/defi/loan/loans/liquity/LiquityCollateral.vue
  frontend/app/src/components/defi/loan/loans/makerdao/MakerDaoVaultCollateral.vue
  frontend/app/src/components/defi/loan/loans/makerdao/MakerDaoVaultDebtDetails.vue
  frontend/app/src/components/defi/loan/loans/makerdao/MakerDaoVaultLiquidation.vue
  frontend/app/src/components/history/events/HistoryEventForm.vue
  frontend/app/src/components/history/events/forms/EthBlockEventForm.vue
  frontend/app/src/components/history/events/forms/EthDepositEventForm.vue
  frontend/app/src/components/history/events/forms/EthWithdrawalEventForm.vue
  frontend/app/src/components/history/events/forms/EvmEventForm.vue
  frontend/app/src/components/history/events/forms/OnlineHistoryEventForm.vue
  frontend/app/src/components/import/FileUpload.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleForm.vue
  frontend/app/src/components/settings/api-keys/external/EtherscanApiKeys.vue
  frontend/app/src/components/staking/liquity/LiquityStakingDetails.vue
  frontend/app/src/components/status/notifications/PendingTasks.vue
  frontend/app/src/premium/register-components.ts
Due: frontend_unit, frontend_integration

feat(frontend): allow addition of woo exchange
  frontend/app/src/pages/settings/api-keys/exchanges/index.vue
  frontend/app/src/types/exchanges.ts
Due: frontend_unit, frontend_integration

chore: adjust table page layout, unify use of container
  frontend/app/src/components/history/events/HistoryEventsView.vue
  frontend/app/src/components/layout/TablePageLayout.vue
  frontend/app/src/components/staking/eth/EthStakingPage.vue
  frontend/app/src/components/staking/kraken/KrakenPage.vue
  frontend/app/src/components/staking/liquity/LiquityStakingDetails.vue
  frontend/app/src/pages/asset-manager/index.vue
  frontend/app/src/pages/balances/index.vue
  frontend/app/src/pages/dashboard/index.vue
  frontend/app/src/pages/defi/deposits/liquidity/index.vue
  frontend/app/src/pages/defi/index.vue
  frontend/app/src/pages/history/index.vue
  frontend/app/src/pages/import/index.vue
  frontend/app/src/pages/price-manager/index.vue
  frontend/app/src/pages/settings/api-keys/index.vue
  frontend/app/src/pages/staking/index.vue
Due: frontend_unit, frontend_integration

chore: use button group from lib
  frontend/app/src/components/helper/TimeframeSelector.vue
Due: frontend_unit, frontend_integration

chore: bump the premium components version
  rotkehlchen/premium/premium.py
Due: backend

refactor: migrate database info display component
  frontend/app/src/components/settings/data-security/backups/DatabaseInfoDisplay.vue
Due: frontend_unit, frontend_integration

Fix missing types
  rotkehlchen/db/upgrades/v39_v40.py
Due: backend

Fix missing combinations and ports in the event types
  rotkehlchen/accounting/constants.py
  rotkehlchen/db/upgrades/v39_v40.py
  rotkehlchen/tests/data/v39_rotkehlchen.db
  rotkehlchen/tests/db/test_db_upgrades.py
Due: backend

Implement chain specific online data queries
  rotkehlchen/api/rest.py
  rotkehlchen/chain/evm/transactions.py
  rotkehlchen/chain/gnosis/constants.py
  rotkehlchen/chain/gnosis/modules/xdai_bridge/constants.py
  rotkehlchen/chain/gnosis/modules/xdai_bridge/decoder.py
  rotkehlchen/chain/gnosis/transactions.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/errors/misc.py
  rotkehlchen/tests/fixtures/blockchain.py
  rotkehlchen/tests/integration/test_gnosischain.py
Due: backend

Added code of conduct file.
  .gitpod.yml
  CODE_OF_CONDUCT.md
Due: none

refactor: migrate database info display component (#6813)
  frontend/app/src/components/settings/data-security/backups/DatabaseInfoDisplay.vue
Due: frontend_unit, frontend_integration

style: remove scroll on db upgrade
  frontend/app/src/components/account-management/upgrade/DbActivityProgress.vue
Due: frontend_unit, frontend_integration

Handle the Gnosis bridge XDAI withdrawal from Ethereum case
  rotkehlchen/chain/evm/decoding/xdai_bridge/decoder.py
  rotkehlchen/chain/gnosis/modules/xdai_bridge/decoder.py
  rotkehlchen/chain/gnosis/transactions.py
  rotkehlchen/tests/unit/decoders/test_xdai_bridge.py
Due: backend

fix(frontend): overall balance style bug
  frontend/app/src/components/dashboard/OverallBalances.vue
  frontend/app/src/components/dashboard/SnapshotActionButton.vue
  frontend/app/src/components/helper/TimeframeSelector.vue
  frontend/app/src/pages/balances/blockchain/index.vue
Due: frontend_unit, frontend_integration

feat: show warning on invalid event type combination
  frontend/app/src/components/history/events/forms/EvmEventForm.vue
  frontend/app/src/components/history/events/forms/HistoryEventTypeForm.vue
  frontend/app/src/components/history/events/forms/OnlineHistoryEventForm.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

refactor: replace runtime with type-based declarations
  frontend/app/src/components/inputs/TagInput.vue
  frontend/app/src/components/locations/LocationValueRow.vue
  frontend/app/src/components/nft/NftGalleryItem.vue
  frontend/app/src/components/notes/UserNotesIndicator.vue
  frontend/app/src/components/notes/UserNotesList.vue
  frontend/app/src/components/notes/UserNotesSidebar.vue
  frontend/app/src/components/premium/ThemeControl.vue
  frontend/app/src/components/profitloss/CostBasisTable.vue
  frontend/app/src/components/profitloss/ProfitLossOverview.vue
  frontend/app/src/components/profitloss/ReportActionable.vue
  frontend/app/src/components/profitloss/ReportActionableCard.vue
  frontend/app/src/components/profitloss/ReportMissingAcquisitions.vue
  frontend/app/src/components/profitloss/ReportMissingPrices.vue
  frontend/app/src/components/profitloss/ReportPeriodSelector.vue
  frontend/app/src/components/settings/controls/DateFormatHelp.vue
  frontend/app/src/components/settings/data-security/StatusButton.vue
  frontend/app/src/components/settings/data-security/backups/DatabaseBackups.vue
  frontend/app/src/components/settings/general/TimeFrameSettings.vue
Due: frontend_unit, frontend_integration

Handle settings keys that are not present in the db for accounting rules
  rotkehlchen/db/accounting_rules.py
  rotkehlchen/tests/api/test_accounting_rules.py
Due: backend

Add information endpoint for accounting linkable settings
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/db/accounting_rules.py
  rotkehlchen/tests/api/test_accounting_rules.py
Due: backend

refactor: remove unneeded dom elements from history event node
  frontend/app/src/components/history/events/HistoryEventNote.vue
Due: frontend_unit, frontend_integration

Add some decoder sanity checks for development
  rotkehlchen/chain/evm/decoding/decoder.py
Due: backend

Remove wrong airdrops CPT from accountants. Use direct from decoders
  rotkehlchen/chain/arbitrum_one/accountant.py
  rotkehlchen/chain/arbitrum_one/modules/airdrops/accountant.py
  rotkehlchen/chain/base/accountant.py
  rotkehlchen/chain/ethereum/accountant.py
  rotkehlchen/chain/ethereum/modules/airdrops/accountant.py
  rotkehlchen/chain/ethereum/modules/airdrops/constants.py
  rotkehlchen/chain/ethereum/modules/airdrops/decoder.py
  rotkehlchen/chain/evm/accounting/aggregator.py
  rotkehlchen/chain/evm/accounting/airdrop.py
  rotkehlchen/chain/gnosis/accountant.py
  rotkehlchen/chain/gnosis/modules/airdrops/accountant.py
  rotkehlchen/chain/gnosis/modules/airdrops/constants.py
  rotkehlchen/chain/optimism/accountant.py
  rotkehlchen/chain/optimism/modules/airdrops/accountant.py
  rotkehlchen/chain/polygon_pos/accountant.py
  rotkehlchen/chain/polygon_pos/constants.py
Due: backend

Make taxable also linkable for accounting rules
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/evm/accounting/structures.py
  rotkehlchen/db/accounting_rules.py
  rotkehlchen/db/constants.py
  rotkehlchen/tests/api/test_accounting_rules.py
  rotkehlchen/tests/db/test_db_accounting_rules.py
  rotkehlchen/tests/unit/test_data_updates.py
Due: backend

Decoder Accountants should load chain specific path
  rotkehlchen/chain/arbitrum_one/accountant.py
  rotkehlchen/chain/base/accountant.py
  rotkehlchen/chain/ethereum/accountant.py
  rotkehlchen/chain/ethereum/constants.py
  rotkehlchen/chain/evm/accounting/aggregator.py
  rotkehlchen/chain/evm/decoding/oneinch/v5/decoder.py
  rotkehlchen/chain/gnosis/accountant.py
  rotkehlchen/chain/optimism/accountant.py
  rotkehlchen/chain/polygon_pos/accountant.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
