Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Bump mypy to 1.7
  requirements_lint.txt
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/db/history_events.py
  rotkehlchen/externalapis/beaconchain.py
  rotkehlchen/externalapis/etherscan.py
  rotkehlchen/utils/misc.py
Due: backend

fix: service key always show value when filled
  frontend/app/src/components/display/amount/AmountDisplay.vue
  frontend/app/src/components/helper/DataTable.vue
  frontend/app/src/components/settings/api-keys/ServiceKey.vue
  frontend/app/src/premium/register-components.ts
Due: frontend_unit, frontend_integration

balancerv2 decode_swap_creation
  rotkehlchen/chain/ethereum/modules/balancer/v2/decoder.py
Due: backend

fix: service key always show value when filled (#6928)
  frontend/app/src/components/display/amount/AmountDisplay.vue
  frontend/app/src/components/helper/DataTable.vue
  frontend/app/src/components/settings/api-keys/ServiceKey.vue
  frontend/app/src/premium/register-components.ts
Due: frontend_unit, frontend_integration

style: history events small improvements
  frontend/app/src/components/dialogs/MissingRulesDialog.vue
  frontend/app/src/components/display/amount/AmountDisplay.vue
  frontend/app/src/components/history/events/HistoryEventsListTable.vue
  frontend/app/src/components/nft/NftGallery.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleForm.vue
  frontend/app/src/components/staking/kraken/KrakenStakingReceived.vue
  frontend/app/tailwind.config.js
Due: frontend_unit, frontend_integration

fixed asset importing
  rotkehlchen/api/rest.py
  rotkehlchen/globaldb/assets_management.py
  rotkehlchen/tests/api/test_user_assets.py
  rotkehlchen/tests/data/exported_assets.zip
Due: backend

style: history events small improvements (#6936)
  frontend/app/src/components/dialogs/MissingRulesDialog.vue
  frontend/app/src/components/display/amount/AmountDisplay.vue
  frontend/app/src/components/history/events/HistoryEventsListTable.vue
  frontend/app/src/components/nft/NftGallery.vue
  frontend/app/src/components/settings/accounting/rule/AccountingRuleForm.vue
  frontend/app/src/components/staking/kraken/KrakenStakingReceived.vue
  frontend/app/tailwind.config.js
Due: frontend_unit, frontend_integration

gnosis and base modules in spec
  rotkehlchen.spec
Due: backend

fix: autocomplete issue in login form
  frontend/app/.eslintrc-auto-import.json
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/GlobalSearch.vue
  frontend/app/src/components/account-management/login/LoginForm.vue
  frontend/app/src/components/table-filter/FilterDropdown.vue
  frontend/app/src/plugins/vuetify.ts
  frontend/app/src/utils/assets.ts
  frontend/patches/vuetify@2.7.0.patch
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

fix: autocomplete issue in login form (#6937)
  frontend/app/.eslintrc-auto-import.json
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/GlobalSearch.vue
  frontend/app/src/components/account-management/login/LoginForm.vue
  frontend/app/src/components/table-filter/FilterDropdown.vue
  frontend/app/src/plugins/vuetify.ts
  frontend/app/src/utils/assets.ts
  frontend/patches/vuetify@2.7.0.patch
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

Upgrade ruff to 0.1.5
  pyproject.toml
  requirements_lint.txt
  rotkehlchen/tests/unit/decoders/test_makerdao_sai.py
Due: backend

Adjust failing tests
  rotkehlchen/tests/unit/test_base_inquirer.py
Due: backend

refactor: update pnl and cost basis view
  frontend/app/src/components/helper/DataTable.vue
  frontend/app/src/components/profitloss/AccountingSettingsDisplay.vue
  frontend/app/src/components/profitloss/CostBasisTable.vue
  frontend/app/src/components/profitloss/ProfitLossEvents.vue
  frontend/app/src/components/profitloss/ProfitLossOverview.vue
  frontend/app/src/components/profitloss/ReportsTable.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/reports/[id].vue
Due: frontend_unit, frontend_integration

refactor: update pnl and cost basis view (#6939)
  frontend/app/src/components/helper/DataTable.vue
  frontend/app/src/components/profitloss/AccountingSettingsDisplay.vue
  frontend/app/src/components/profitloss/CostBasisTable.vue
  frontend/app/src/components/profitloss/ProfitLossEvents.vue
  frontend/app/src/components/profitloss/ProfitLossOverview.vue
  frontend/app/src/components/profitloss/ReportsTable.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/reports/[id].vue
Due: frontend_unit, frontend_integration

Bump pytest
  requirements_dev.txt
Due: none

Add task that detects when withdrawals are exits
  rotkehlchen/accounting/structures/eth2.py
  rotkehlchen/chain/ethereum/etherscan.py
  rotkehlchen/chain/ethereum/modules/eth2/constants.py
  rotkehlchen/chain/ethereum/modules/eth2/eth2.py
  rotkehlchen/chain/ethereum/modules/eth2/utils.py
  rotkehlchen/db/eth2.py
  rotkehlchen/externalapis/beaconchain.py
  rotkehlchen/tasks/manager.py
  rotkehlchen/tests/integration/test_eth2.py
  rotkehlchen/tests/unit/test_eth2.py
Due: backend

Move beaconcha.in into own directory
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/ethereum/modules/eth2/decoder.py
  rotkehlchen/chain/ethereum/modules/eth2/eth2.py
  rotkehlchen/chain/ethereum/modules/eth2/utils.py
  rotkehlchen/externalapis/beaconchain/__init__.py
  rotkehlchen/externalapis/beaconchain/constants.py
  rotkehlchen/externalapis/beaconchain/service.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/external_apis/test_beaconchain.py
  rotkehlchen/tests/fixtures/blockchain.py
  rotkehlchen/tests/utils/blockchain.py
Due: backend

Integrate blockscout for withdrawal queries
  docs/api.rst
  rotkehlchen/chain/ethereum/modules/eth2/eth2.py
  rotkehlchen/chain/ethereum/node_inquirer.py
  rotkehlchen/tests/integration/test_eth2.py
Due: backend

feat(frontend): implement blockscout api keys
  frontend/app/src/components/settings/api-keys/external/BeaconchainApiKey.vue
  frontend/app/src/components/settings/api-keys/external/BlockscoutApiKey.vue
  frontend/app/src/components/settings/api-keys/external/CovalentApiKey.vue
  frontend/app/src/components/settings/api-keys/external/CryptoCompareApiKey.vue
  frontend/app/src/components/settings/api-keys/external/EtherscanApiKey.vue
  frontend/app/src/components/settings/api-keys/external/LoopringApiKey.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/settings/api-keys/external/index.vue
  frontend/app/src/types/user.ts
Due: frontend_unit, frontend_integration

Fix withdrawal check flow when address has no withdrawals
  rotkehlchen/chain/ethereum/modules/eth2/eth2.py
  rotkehlchen/externalapis/blockscout.py
  rotkehlchen/tests/integration/test_eth2.py
Due: backend

fix: based on the suggestions
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
Due: frontend_unit, frontend_integration

feat(frontend): implement blockscout api keys (#6946)
  frontend/app/src/components/settings/api-keys/external/BeaconchainApiKey.vue
  frontend/app/src/components/settings/api-keys/external/BlockscoutApiKey.vue
  frontend/app/src/components/settings/api-keys/external/CovalentApiKey.vue
  frontend/app/src/components/settings/api-keys/external/CryptoCompareApiKey.vue
  frontend/app/src/components/settings/api-keys/external/EtherscanApiKey.vue
  frontend/app/src/components/settings/api-keys/external/LoopringApiKey.vue
  frontend/app/src/locales/cn.json
  frontend/app/src/locales/en.json
  frontend/app/src/locales/es.json
  frontend/app/src/locales/gr.json
  frontend/app/src/pages/settings/api-keys/external/index.vue
  frontend/app/src/types/user.ts
Due: frontend_unit, frontend_integration

Allow the globaldb reset endpoint to be called async
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/tests/api/test_assets_updates.py
Due: backend

style: generated icon color darker
  frontend/app/src/components/helper/display/icons/GeneratedIcon.vue
Due: frontend_unit, frontend_integration

fix: adjust property to properly display fiat symbol
  frontend/app/src/components/display/amount/AmountDisplay.vue
  frontend/app/tests/unit/specs/components/display/amount-display.spec.ts
Due: frontend_unit, frontend_integration

style: make generated icon color darker (#6950)
  frontend/app/src/components/helper/display/icons/GeneratedIcon.vue
Due: frontend_unit, frontend_integration

fix: adjust property to properly display fiat symbol (#6949)
  frontend/app/src/components/display/amount/AmountDisplay.vue
  frontend/app/tests/unit/specs/components/display/amount-display.spec.ts
Due: frontend_unit, frontend_integration

Adjust icons and event categories
  rotkehlchen/accounting/constants.py
  rotkehlchen/accounting/structures/types.py
  rotkehlchen/chain/ethereum/modules/ens/decoder.py
  rotkehlchen/tests/api/test_ethereum_transactions.py
Due: backend

feat(HistoryEventAction): add menu with action to edit an event's accounting rule from history
  frontend/app/src/components/history/events/HistoryEventAction.vue
Due: frontend_unit, frontend_integration

chore: add endpoint to fetch single accounting rule
  frontend/app/src/composables/api/settings/accounting-api.ts
  frontend/app/src/composables/settings/accounting/index.ts
Due: frontend_unit, frontend_integration
