Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Adds checks for periodic data changes before running mutation
  frontend/app/src/components/display/AmountCurrency.vue
  frontend/app/src/store/session/actions.ts
Due: frontend_unit, frontend_integration

Fix DSR tests
  rotkehlchen/tests/api/test_makerdao_dsr.py
  rotkehlchen/tests/utils/checks.py
Due: backend

Add changelog entry for 1402
  docs/changelog.rst
Due: none

Make reset data db query button premium only
  frontend/app/src/components/defi/Lending.vue
Due: frontend_unit, frontend_integration

Add support for Binance lending assets
  rotkehlchen/assets/converters.py
  rotkehlchen/tests/exchanges/test_binance.py
Due: backend

Make sure balance amounts of lending and spot balances are summed together.
  rotkehlchen/exchanges/binance.py
Due: backend

Fix lint errors
  rotkehlchen/assets/converters.py
  rotkehlchen/tests/exchanges/test_binance.py
Due: backend

Add changelog entry for 1502
  docs/changelog.rst
Due: none

Support Anyswap
  docs/changelog.rst
  rotkehlchen/assets/resolver.py
  rotkehlchen/data/all_assets.json
  rotkehlchen/typing.py
Due: backend

Pin greenlet version
  requirements.txt
Due: none

Fix asset unit tests
  rotkehlchen/data/all_assets.meta
  rotkehlchen/tests/unit/test_assets.py
Due: backend

Introduces port availability checking for the backend
  frontend/app/src/background.ts
  frontend/app/src/preload.ts
  frontend/app/src/py-handler.ts
  frontend/app/src/services/rotkehlchen-api.ts
  frontend/app/src/store/store.ts
  frontend/app/src/types.d.ts
Due: frontend_unit, frontend_integration

Updates changelog.rst
  docs/changelog.rst
Due: none

Fixes failing unit tests
  frontend/app/tests/unit/components/settings/data-management.spec.ts
  frontend/app/tests/unit/store/session/actions.spec.ts
Due: frontend_unit, frontend_integration

Changes ANY asset type and updates metadata
  rotkehlchen/data/all_assets.json
  rotkehlchen/data/all_assets.meta
Due: backend

Adds protocol selection for defi cache reset
  frontend/app/src/components/defi/Lending.vue
  frontend/app/src/components/defi/display/DefiProtocolIcon.vue
  frontend/app/src/components/helper/ConfirmableReset.vue
  frontend/app/src/locales/en.json
  frontend/app/src/services/defi/defi-api.ts
  frontend/app/src/store/defi/actions.ts
Due: frontend_unit, frontend_integration

Adds 30 minutes timeout to backend tests
  .github/workflows/rotki_ci.yml
Due: none

Do not crash if an unknown asset type is seen in the assets list
  rotkehlchen/assets/resolver.py
  rotkehlchen/tests/unit/test_assets.py
Due: backend

Add support for CHI gas token
  docs/changelog.rst
  rotkehlchen/data/all_assets.json
  rotkehlchen/data/all_assets.meta
  rotkehlchen/externalapis/cryptocompare.py
  rotkehlchen/tests/unit/test_assets.py
Due: backend

Adjust for cryptocompare bug
  rotkehlchen/externalapis/cryptocompare.py
Due: backend

Handle RemoteErrors in eth module api queries
  rotkehlchen/api/rest.py
Due: backend

Fixes reset to only affect selected defi protocols
  frontend/app/src/components/defi/Lending.vue
  frontend/app/src/store/defi/actions.ts
Due: frontend_unit, frontend_integration

Bump version: 1.7.0 → 1.8.0
  .bumpversion.cfg
  docs/conf.py
  frontend/app/package-lock.json
  frontend/app/package.json
  setup.py
Due: frontend_unit, frontend_integration

Add v1.8.0 to the changelog
  docs/changelog.rst
Due: none

Fixes spacing and truncation when currency is before
  frontend/app/src/components/display/AmountCurrency.vue
  frontend/app/src/components/display/AmountDisplay.vue
Due: frontend_unit, frontend_integration

Introduces ux/ui changes to RevealableInput.vue and ExchangeSettings.vue
  frontend/app/src/components/ExchangeBadge.vue
  frontend/app/src/components/account-management/Login.vue
  frontend/app/src/components/display/ExchangeDisplay.vue
  frontend/app/src/components/inputs/RevealableInput.vue
  frontend/app/src/components/settings/api-keys/ExchangeSettings.vue
  frontend/app/src/components/settings/data-security/ChangePassword.vue
  frontend/app/src/locales/en.json
  frontend/app/src/store/balances/actions.ts
  frontend/app/src/store/balances/types.d.ts
Due: frontend_unit, frontend_integration

Introduces revealable input component to PremiumSettings.vue
  frontend/app/src/components/settings/PremiumSettings.vue
  frontend/app/src/locales/en.json
  frontend/app/tests/unit/components/settings/premium-settings.spec.ts
Due: frontend_unit, frontend_integration

Introduces revealable input component to CreateAccount.vue
  frontend/app/src/components/UserDropdown.vue
  frontend/app/src/components/account-management/CreateAccount.vue
Due: frontend_unit, frontend_integration

Introduces revealable input component to PremiumCredentials.vue
  frontend/app/src/components/account-management/PremiumCredentials.vue
Due: frontend_unit, frontend_integration

Moves e2e port to different to be able to run tests in parallel
  frontend/app/.env.e2e
  frontend/app/package.json
  frontend/app/start-backend.js
Due: frontend_unit, frontend_integration

Add bigger timeout in async compound tests query
  rotkehlchen/tests/api/test_compound.py
Due: backend

Fix docs title underline
  docs/installation_guide.rst
Due: none

test_blockchain.py merge async tests into the normal ones
  rotkehlchen/tests/api/test_balances.py
  rotkehlchen/tests/api/test_blockchain.py
  rotkehlchen/tests/api/test_tags.py
  rotkehlchen/tests/utils/api.py
  rotkehlchen/tests/utils/blockchain.py
Due: backend

test_balances.py merge async tests
  rotkehlchen/tests/api/test_balances.py
Due: backend

test_exchange.py merge async tests
  rotkehlchen/tests/api/test_aave.py
  rotkehlchen/tests/api/test_balances.py
  rotkehlchen/tests/api/test_exchanges.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
