Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

feat: cleanups, export/import required types
  frontend/app/src/components/history/trades/ClosedTrades.vue
  frontend/app/src/composables/filters/asset-movement.ts
  frontend/app/src/composables/filters/ledger-actions.ts
  frontend/app/src/composables/filters/trades.ts
  frontend/app/src/composables/filters/transactions.ts
  frontend/app/src/composables/history/filter-paginate.ts
Due: frontend_unit, frontend_integration

feat: continue replacing reusable code with composable
  frontend/app/.eslintrc-auto-import.json
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/history/trades/ClosedTrades.vue
  frontend/app/src/composables/history/filter-paginate.ts
Due: frontend_unit, frontend_integration

feat: begin to replace use cases with composable
  frontend/app/src/components/history/trades/ClosedTrades.vue
Due: frontend_unit, frontend_integration

feat: continue replacing reusable code with composable on deposit withdrawal
  frontend/app/src/components/history/deposits-withdrawals/DepositsWithdrawalsContent.vue
Due: frontend_unit, frontend_integration

feat: add pagination composable
  frontend/app/.eslintrc-auto-import.json
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/composables/history/paginate.ts
Due: frontend_unit, frontend_integration

feat: cleanups for extra params
  frontend/app/src/components/history/trades/ClosedTrades.vue
  frontend/app/src/composables/history/filter-paginate.ts
Due: frontend_unit, frontend_integration

feat: rename generic params
  frontend/app/src/composables/history/filter-paginate.ts
Due: frontend_unit, frontend_integration

feat: continue replacing reusable code with composable
  frontend/app/src/components/history/trades/ClosedTrades.vue
  frontend/app/src/composables/history/filter-paginate.ts
Due: frontend_unit, frontend_integration

feat: continue replacing reusable code with composable on ledger actions content
  frontend/app/src/components/history/ledger-actions/LedgerActionContent.vue
  frontend/app/src/components/history/trades/ClosedTrades.vue
Due: frontend_unit, frontend_integration

feat: continue replacing reusable code with composable on transactions content
  frontend/app/src/components/history/trades/ClosedTrades.vue
  frontend/app/src/components/history/transactions/TransactionContent.vue
  frontend/app/src/composables/history/filter-paginate.ts
Due: frontend_unit, frontend_integration

feat: cleanup required type for location overview
  frontend/app/src/components/history/transactions/TransactionContent.vue
  frontend/app/src/composables/history/filter-paginate.ts
Due: frontend_unit, frontend_integration

feat: ensure correct typings
  frontend/app/src/components/history/deposits-withdrawals/DepositsWithdrawalsContent.vue
  frontend/app/src/components/history/ledger-actions/LedgerActionContent.vue
  frontend/app/src/components/history/trades/ClosedTrades.vue
  frontend/app/src/components/history/transactions/TransactionContent.vue
  frontend/app/src/composables/filters/asset-movement.ts
  frontend/app/src/composables/filters/ledger-actions.ts
  frontend/app/src/composables/filters/trades.ts
  frontend/app/src/composables/filters/transactions.ts
  frontend/app/src/composables/history/filter-paginate.ts
Due: frontend_unit, frontend_integration

feat: return call to component lifecycle method to composable
  frontend/app/src/components/history/deposits-withdrawals/DepositsWithdrawalsContent.vue
  frontend/app/src/components/history/ledger-actions/LedgerActionContent.vue
  frontend/app/src/components/history/trades/ClosedTrades.vue
  frontend/app/src/components/history/transactions/TransactionContent.vue
  frontend/app/src/composables/history/filter-paginate.ts
Due: frontend_unit, frontend_integration

feat: revert change on template from formatting
  frontend/app/src/components/history/trades/ClosedTrades.vue
Due: frontend_unit, frontend_integration

feat: cleanup typings
  frontend/app/src/components/history/deposits-withdrawals/DepositsWithdrawalsContent.vue
  frontend/app/src/components/history/ledger-actions/LedgerActionContent.vue
  frontend/app/src/components/history/trades/ClosedTrades.vue
  frontend/app/src/components/history/transactions/TransactionContent.vue
  frontend/app/src/composables/filters/asset-movement.ts
  frontend/app/src/composables/filters/ledger-actions.ts
  frontend/app/src/composables/filters/trades.ts
  frontend/app/src/composables/filters/transactions.ts
  frontend/app/src/composables/history/filter-paginate.ts
Due: frontend_unit, frontend_integration

feat: call component lifecycle method in component, remove from composable
  frontend/app/src/components/history/deposits-withdrawals/DepositsWithdrawalsContent.vue
  frontend/app/src/components/history/ledger-actions/LedgerActionContent.vue
  frontend/app/src/components/history/trades/ClosedTrades.vue
  frontend/app/src/components/history/transactions/TransactionContent.vue
  frontend/app/src/composables/history/filter-paginate.ts
Due: frontend_unit, frontend_integration

feat: setup unit tests to handle mocked api response using msw
  frontend/app/package.json
  frontend/app/src/composables/history/filter-paginate.ts
  frontend/app/tests/unit/fixtures/asset-movements.json
  frontend/app/tests/unit/fixtures/ledger-actions.json
  frontend/app/tests/unit/fixtures/trades.json
  frontend/app/tests/unit/setup-files/setup.ts
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

feat: add api handlers
  frontend/app/tests/unit/setup-files/handlers/asset-movements.ts
  frontend/app/tests/unit/setup-files/handlers/ledger-actions.ts
  frontend/app/tests/unit/setup-files/handlers/trades.ts
Due: frontend_unit, frontend_integration

feat: use exact version
  frontend/app/package.json
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

feat: fix eslint warning
  frontend/app/tests/unit/specs/composables/history/filter-paginate-asset-movements.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-ledger-actions.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-trades.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-transactions.spec.ts
Due: frontend_unit, frontend_integration

feat: add tests for each history component
  frontend/app/src/composables/history/filter-paginate.ts
  frontend/app/tests/unit/fixtures/evm-transactions.json
  frontend/app/tests/unit/setup-files/handlers/evm-transactions.ts
  frontend/app/tests/unit/setup-files/setup.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-asset-movements.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-ledger-actions.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-trades.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-transactions.spec.ts
Due: frontend_unit, frontend_integration

fix eslint warnings
  frontend/app/src/components/history/ledger-actions/LedgerActionContent.vue
  frontend/app/src/components/history/transactions/TransactionContent.vue
  frontend/app/tests/unit/setup-files/handlers/asset-movements.ts
  frontend/app/tests/unit/setup-files/handlers/evm-transactions.ts
  frontend/app/tests/unit/setup-files/handlers/ledger-actions.ts
  frontend/app/tests/unit/setup-files/handlers/trades.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-transactions.spec.ts
Due: frontend_unit, frontend_integration

feat: add cache invalidation for icons & avatars
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/icons.py
  rotkehlchen/tests/api/test_misc.py
Due: backend

move protocols to setup ref, so it can be modified on filters change
  frontend/app/src/components/history/transactions/TransactionContent.vue
Due: frontend_unit, frontend_integration

add protocol test to transactions test, update fixtures
  frontend/app/src/composables/history/filter-paginate.ts
  frontend/app/tests/unit/fixtures/evm-transactions.json
  frontend/app/tests/unit/specs/composables/history/filter-paginate-transactions.spec.ts
Due: frontend_unit, frontend_integration

Decode curve trades
  docs/changelog.rst
  rotkehlchen/chain/ethereum/modules/curve/accountant.py
  rotkehlchen/chain/ethereum/modules/curve/curve_cache.py
  rotkehlchen/chain/ethereum/modules/curve/decoder.py
  rotkehlchen/data/global.db
  rotkehlchen/globaldb/cache.py
  rotkehlchen/tests/unit/decoders/test_curve.py
  rotkehlchen/tests/unit/test_general_cache.py
Due: backend

use nonEmptyProperties utility helper to filter custom params
  frontend/app/src/components/history/transactions/TransactionContent.vue
  frontend/app/src/composables/history/filter-paginate.ts
Due: frontend_unit, frontend_integration

refactor: pagination and filters on history pages (#5797)
  frontend/app/.eslintrc-auto-import.json
  frontend/app/package.json
  frontend/app/src/auto-imports.d.ts
  frontend/app/src/components/history/deposits-withdrawals/DepositsWithdrawalsContent.vue
  frontend/app/src/components/history/ledger-actions/LedgerActionContent.vue
  frontend/app/src/components/history/trades/ClosedTrades.vue
  frontend/app/src/components/history/transactions/TransactionContent.vue
  frontend/app/src/composables/filters/asset-movement.ts
  frontend/app/src/composables/filters/ledger-actions.ts
  frontend/app/src/composables/filters/trades.ts
  frontend/app/src/composables/filters/transactions.ts
  frontend/app/src/composables/history/filter-paginate.ts
  frontend/app/tests/unit/fixtures/asset-movements.json
  frontend/app/tests/unit/fixtures/evm-transactions.json
  frontend/app/tests/unit/fixtures/ledger-actions.json
  frontend/app/tests/unit/fixtures/trades.json
  frontend/app/tests/unit/setup-files/handlers/asset-movements.ts
  frontend/app/tests/unit/setup-files/handlers/evm-transactions.ts
  frontend/app/tests/unit/setup-files/handlers/ledger-actions.ts
  frontend/app/tests/unit/setup-files/handlers/trades.ts
  frontend/app/tests/unit/setup-files/setup.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-asset-movements.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-ledger-actions.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-trades.spec.ts
  frontend/app/tests/unit/specs/composables/history/filter-paginate-transactions.spec.ts
  frontend/pnpm-lock.yaml
Due: frontend_unit, frontend_integration

Add beaconchain API to query block production data
  rotkehlchen/accounting/structures/types.py
  rotkehlchen/db/history_events.py
  rotkehlchen/db/schema.py
  rotkehlchen/externalapis/beaconchain.py
Due: backend

Remove eth2 deposits logic
  docs/api.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/ethereum/modules/eth2/decoder.py
  rotkehlchen/chain/ethereum/modules/eth2/eth2.py
  rotkehlchen/chain/ethereum/modules/eth2/structures.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/eth2.py
  rotkehlchen/db/minimized_schema.py
  rotkehlchen/db/schema.py
  rotkehlchen/db/upgrades/v36_v37.py
  rotkehlchen/externalapis/beaconchain.py
  rotkehlchen/serialization/serialize.py
  rotkehlchen/tests/data/mocks/test_eth2/deposits/test_get_eth2_staking_deposits.json
  rotkehlchen/tests/data/mocks/test_eth2/deposits/test_get_eth2_staking_deposits_fetch_from_db.json
  rotkehlchen/tests/data/v36_rotkehlchen.db
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/unit/test_eth2.py
Due: backend

Add validator index mapping to block production
  rotkehlchen/db/constants.py
  rotkehlchen/db/schema.py
  rotkehlchen/externalapis/beaconchain.py
Due: backend

ci: introduces cassette deck workflow
  .github/workflows/rotki_cassette_merge.yml
Due: none

Added Cn translation from line 3600 to line 3800
  frontend/app/src/locales/cn.json
Due: frontend_unit, frontend_integration

Add performance_total to the staking details endpoint
  docs/api.rst
  rotkehlchen/chain/ethereum/modules/eth2/structures.py
  rotkehlchen/externalapis/beaconchain.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/external_apis/test_beaconchain.py
Due: backend

Reset curve pool tokens
  rotkehlchen/globaldb/upgrades/v4_v5.py
  rotkehlchen/tests/unit/globaldb/test_upgrades.py
Due: backend

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
