Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  status:
    project: off
    patch: off

flags:
  backend:
    carryforward: true
    paths:
      - rotkehlchen
  frontend_unit:
    carryforward: true
    paths:
      - frontend/app
  frontend_integration:
    carryforward: true
    paths:
      - frontend/app

Add quickswap v4 lp decoding
  rotkehlchen/chain/base/modules/quickswap/v4/decoder.py
  rotkehlchen/chain/evm/decoding/quickswap/v3/decoder.py
  rotkehlchen/chain/evm/decoding/quickswap/v4/constants.py
  rotkehlchen/chain/evm/decoding/quickswap/v4/decoder.py
  rotkehlchen/tests/unit/decoders/test_quickswapv4.py
Due: backend

Bump linting packages
  pyproject.toml
  uv.lock
Due: none

refactor: modularize NFT data and table configuration into composables (#10573)
  frontend/app/src/components/dashboard/NftBalanceTable.vue
  frontend/app/src/composables/dashboard/use-nft-data.ts
  frontend/app/src/composables/dashboard/use-nft-table-config.ts
Due: frontend_unit, frontend_integration

refactor: modularize NFT gallery into components and composables (#10575)
  frontend/app/src/components/nft/NftGallery.vue
  frontend/app/src/components/nft/NftGalleryActions.vue
  frontend/app/src/components/nft/NftGalleryEmptyState.vue
  frontend/app/src/components/nft/NftGalleryFilters.vue
  frontend/app/src/components/nft/NftGalleryGrid.vue
  frontend/app/src/components/nft/NftGalleryPremiumAlert.vue
  frontend/app/src/composables/nft/use-nft-gallery-data.ts
  frontend/app/src/composables/nft/use-nft-gallery-filters.ts
  frontend/app/src/composables/nft/use-nft-gallery-layout.ts
Due: frontend_unit, frontend_integration

refactor: split wrapped container to smaller components
  frontend/app/src/components/wrapped/WrappedContainer.vue
  frontend/app/src/modules/statistics/wrapped/components/WrappedAlerts.vue
  frontend/app/src/modules/statistics/wrapped/components/WrappedCard.vue
  frontend/app/src/modules/statistics/wrapped/components/WrappedContainer.vue
  frontend/app/src/modules/statistics/wrapped/components/WrappedDateFilter.vue
  frontend/app/src/modules/statistics/wrapped/components/WrappedHeader.vue
  frontend/app/src/modules/statistics/wrapped/components/WrappedSkeletonCards.vue
  frontend/app/src/modules/statistics/wrapped/components/cards/WrappedExchangeCard.vue
  frontend/app/src/modules/statistics/wrapped/components/cards/WrappedGasCard.vue
  frontend/app/src/modules/statistics/wrapped/components/cards/WrappedGnosisPayCard.vue
  frontend/app/src/modules/statistics/wrapped/components/cards/WrappedProtocolCard.vue
  frontend/app/src/modules/statistics/wrapped/components/cards/WrappedTopDaysCard.vue
  frontend/app/src/modules/statistics/wrapped/components/cards/WrappedTransactionsCard.vue
  frontend/app/src/modules/statistics/wrapped/composables/use-wrapped-date-range.ts
  frontend/app/src/modules/statistics/wrapped/composables/use-wrapped-formatters.ts
  frontend/app/src/modules/statistics/wrapped/composables/use-wrapped-gnosis-pay.ts
  frontend/app/src/modules/statistics/wrapped/composables/use-wrapped-history-events.ts
  frontend/app/src/modules/statistics/wrapped/composables/use-wrapped-statistics.ts
  frontend/app/src/pages/statistics/history-events/index.vue
Due: frontend_unit, frontend_integration

Pull onchain tx when add/editing event with missing tx
  docs/changelog.rst
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/tests/api/test_evmlike.py
  rotkehlchen/tests/api/test_history_base_entry.py
Due: backend

Prevent paths in usernames
  docs/changelog.rst
  rotkehlchen/data_handler.py
  rotkehlchen/tests/api/test_users.py
Due: backend

Add solana token balances
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/ethereum/utils.py
  rotkehlchen/chain/solana/constants.py
  rotkehlchen/chain/solana/manager.py
  rotkehlchen/chain/solana/utils.py
  rotkehlchen/constants/resolver.py
  rotkehlchen/tests/api/test_balances.py
  rotkehlchen/tests/unit/test_solana.py
  rotkehlchen/utils/misc.py
Due: backend

Fix name search
  docs/api.rst
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/chain/bitcoin/__init__.py
  rotkehlchen/chain/bitcoin/bch/constants.py
  rotkehlchen/chain/bitcoin/bch/utils.py
  rotkehlchen/chain/bitcoin/bch/validation.py
  rotkehlchen/chain/bitcoin/utils.py
  rotkehlchen/chain/bitcoin/validation.py
  rotkehlchen/db/addressbook.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/db/filtering.py
  rotkehlchen/tests/api/test_addressbook.py
  rotkehlchen/tests/unit/test_bitcoin.py
  rotkehlchen/types.py
Due: backend

allow filtering of accounting rules for event-specific rules
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/filtering.py
  rotkehlchen/tests/api/test_accounting_rules.py
Due: backend

add accounting rules filtering by identifiers
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/accounting_rules.py
  rotkehlchen/db/filtering.py
  rotkehlchen/tests/api/test_accounting_rules.py
Due: backend

Add data migration to move addressbook blockchain
  rotkehlchen/data_migrations/common.py
  rotkehlchen/data_migrations/constants.py
  rotkehlchen/data_migrations/manager.py
  rotkehlchen/data_migrations/migrations/migration_21.py
  rotkehlchen/db/upgrades/utils.py
  rotkehlchen/globaldb/migrations/manager.py
  rotkehlchen/globaldb/migrations/migration3.py
  rotkehlchen/tests/data_migrations/test_migration_21.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/unit/globaldb/test_migrations.py
  rotkehlchen/tests/unit/globaldb/test_upgrades.py
  rotkehlchen/types.py
Due: backend

Improve solana rpc ratelimit handling
  rotkehlchen/chain/solana/manager.py
  rotkehlchen/tests/api/test_balances.py
Due: backend

feat(frontend): add strict_blockchain filter to the addressbook
  frontend/app/src/components/address-book-manager/AddressBookManagement.vue
  frontend/app/src/locales/en.json
  frontend/app/src/types/eth-names.ts
  frontend/app/src/utils/blockchain/accounts/utils.ts
Due: frontend_unit, frontend_integration

Small adjustments to addressbook search
  rotkehlchen/db/filtering.py
  rotkehlchen/types.py
Due: backend

fix: update text
  frontend/app/src/components/address-book-manager/AddressBookManagement.vue
  frontend/app/src/locales/en.json
Due: frontend_unit, frontend_integration

Return all the results for addressbook when strict is false
  rotkehlchen/db/filtering.py
Due: backend

refactor: split wrapped container to smaller components (#10579)
  frontend/app/src/components/wrapped/WrappedContainer.vue
  frontend/app/src/modules/statistics/wrapped/components/WrappedAlerts.vue
  frontend/app/src/modules/statistics/wrapped/components/WrappedCard.vue
  frontend/app/src/modules/statistics/wrapped/components/WrappedContainer.vue
  frontend/app/src/modules/statistics/wrapped/components/WrappedDateFilter.vue
  frontend/app/src/modules/statistics/wrapped/components/WrappedHeader.vue
  frontend/app/src/modules/statistics/wrapped/components/WrappedSkeletonCards.vue
  frontend/app/src/modules/statistics/wrapped/components/cards/WrappedExchangeCard.vue
  frontend/app/src/modules/statistics/wrapped/components/cards/WrappedGasCard.vue
  frontend/app/src/modules/statistics/wrapped/components/cards/WrappedGnosisPayCard.vue
  frontend/app/src/modules/statistics/wrapped/components/cards/WrappedProtocolCard.vue
  frontend/app/src/modules/statistics/wrapped/components/cards/WrappedTopDaysCard.vue
  frontend/app/src/modules/statistics/wrapped/components/cards/WrappedTransactionsCard.vue
  frontend/app/src/modules/statistics/wrapped/composables/use-wrapped-date-range.ts
  frontend/app/src/modules/statistics/wrapped/composables/use-wrapped-formatters.ts
  frontend/app/src/modules/statistics/wrapped/composables/use-wrapped-gnosis-pay.ts
  frontend/app/src/modules/statistics/wrapped/composables/use-wrapped-history-events.ts
  frontend/app/src/modules/statistics/wrapped/composables/use-wrapped-statistics.ts
  frontend/app/src/pages/statistics/history-events/index.vue
Due: frontend_unit, frontend_integration

add accounting rules filtering by event identifiers
  docs/api.rst
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/accounting_rules.py
  rotkehlchen/db/filtering.py
  rotkehlchen/tests/api/test_accounting_rules.py
Due: backend

fix: save manual current prices as historical during balance snapshots
  docs/changelog.rst
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/api/test_balances.py
Due: backend

save manual current prices as historical during balance snapshots (#10554)
  docs/changelog.rst
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/api/test_balances.py
Due: backend

Add quickswap lp position prices
  docs/changelog.rst
  rotkehlchen/chain/base/modules/quickswap/v4/constants.py
  rotkehlchen/chain/base/modules/quickswap/v4/decoder.py
  rotkehlchen/chain/evm/decoding/quickswap/utils.py
  rotkehlchen/chain/evm/decoding/quickswap/v3/constants.py
  rotkehlchen/chain/evm/decoding/quickswap/v3/decoder.py
  rotkehlchen/chain/evm/decoding/quickswap/v3/utils.py
  rotkehlchen/chain/evm/decoding/quickswap/v4/constants.py
  rotkehlchen/chain/evm/decoding/quickswap/v4/decoder.py
  rotkehlchen/chain/evm/decoding/quickswap/v4/utils.py
  rotkehlchen/chain/evm/decoding/uniswap/v2/utils.py
  rotkehlchen/chain/evm/protocol_constants.py
  rotkehlchen/chain/evm/utils.py
  rotkehlchen/chain/polygon_pos/modules/quickswap/v3/constants.py
  rotkehlchen/chain/polygon_pos/modules/quickswap/v3/decoder.py
  rotkehlchen/inquirer.py
  rotkehlchen/tests/unit/test_inquirer.py
Due: backend

Add summer.fi proxy account creation decoding and balances
  docs/changelog.rst
  frontend/app/public/assets/images/protocols/summer_fi.svg
  rotkehlchen/chain/arbitrum_one/modules/summer_fi/__init__.py
  rotkehlchen/chain/arbitrum_one/modules/summer_fi/decoder.py
  rotkehlchen/chain/base/modules/summer_fi/__init__.py
  rotkehlchen/chain/base/modules/summer_fi/decoder.py
  rotkehlchen/chain/ethereum/modules/summer_fi/__init__.py
  rotkehlchen/chain/ethereum/modules/summer_fi/decoder.py
  rotkehlchen/chain/evm/decoding/summer_fi/__init__.py
  rotkehlchen/chain/evm/decoding/summer_fi/constants.py
  rotkehlchen/chain/evm/decoding/summer_fi/decoder.py
  rotkehlchen/chain/evm/proxies_inquirer.py
  rotkehlchen/chain/optimism/modules/summer_fi/__init__.py
  rotkehlchen/chain/optimism/modules/summer_fi/decoder.py
  rotkehlchen/tests/unit/decoders/test_main.py
  rotkehlchen/tests/unit/decoders/test_summer_fi.py
  rotkehlchen/tests/unit/test_tokens.py
Due: backend, frontend_unit, frontend_integration

Allow multiple proxies per address
  rotkehlchen/chain/aggregator.py
  rotkehlchen/chain/ethereum/modules/liquity/trove.py
  rotkehlchen/chain/ethereum/modules/makerdao/dsr.py
  rotkehlchen/chain/ethereum/modules/makerdao/vaults.py
  rotkehlchen/chain/ethereum/tokens.py
  rotkehlchen/chain/evm/proxies_inquirer.py
  rotkehlchen/chain/evm/tokens.py
  rotkehlchen/tests/utils/mock.py
Due: backend

Handle paraswaps with smart wallets
  docs/changelog.rst
  rotkehlchen/chain/evm/decoding/paraswap/v6/decoder.py
  rotkehlchen/tests/unit/decoders/test_paraswap_v6.py
Due: backend

fix accounting rules filtering and pagination
  docs/api.rst
  rotkehlchen/api/v1/schemas.py
  rotkehlchen/db/accounting_rules.py
  rotkehlchen/db/filtering.py
  rotkehlchen/tests/api/test_accounting_rules.py
Due: backend
