Repository rotki/rotki: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend_unit, frontend_integration

Introduce data integrity check to fix broken DB ids
  rotkehlchen/db/dbhandler.py
  rotkehlchen/exchanges/data_structures.py
Due: backend

Changelog for 3010
  docs/changelog.rst
Due: none

WIP: Binance Buy Crypto history import
  rotkehlchen/api/rest.py
  rotkehlchen/api/v1/encoding.py
  rotkehlchen/data/importer.py
  rotkehlchen/tests/api/test_data_import.py
  rotkehlchen/tests/data/binance-purchases.csv
  rotkehlchen/tests/utils/dataimport.py
  rotkehlchen/typing.py
Due: backend

Re-invert rate calculation
  rotkehlchen/data/importer.py
  rotkehlchen/tests/utils/dataimport.py
Due: backend

WIP: address review comments
  rotkehlchen/data/importer.py
  rotkehlchen/tests/data/binance-purchases.csv
  rotkehlchen/tests/utils/dataimport.py
Due: backend

WIP: frontend
  frontend/app/src/components/import/FileUpload.vue
  frontend/app/src/data/defaults.ts
  frontend/app/src/locales/en.json
  frontend/app/src/views/ImportData.vue
  rotkehlchen/typing.py
Due: backend, frontend_unit, frontend_integration

Change get for put in docs
  docs/api.rst
Due: none

Updates NEXO logic to import CSV files
  docs/changelog.rst
  rotkehlchen/data/importer.py
  rotkehlchen/tests/data/nexo.csv
  rotkehlchen/tests/utils/dataimport.py
Due: backend

Fix tests after addition of data integrity check
  rotkehlchen/exchanges/data_structures.py
  rotkehlchen/tests/db/test_db_upgrades.py
  rotkehlchen/tests/utils/database.py
Due: backend

Fix setup of bitfinex api key
  rotkehlchen/exchanges/bitfinex.py
Due: backend

Changelog entry for 3030
  docs/changelog.rst
Due: none

Bitstramp trades, deposits, withdrawals history should work again
  rotkehlchen/exchanges/bitstamp.py
Due: backend

Add changelog entry for 3033
  docs/changelog.rst
Due: none

jsonloads_dict and list no longer raise an AssertionError
  rotkehlchen/tests/unit/test_utils.py
  rotkehlchen/utils/serialization.py
Due: backend

Fix tests after bitstamp changes
  rotkehlchen/exchanges/bitstamp.py
  rotkehlchen/tests/exchanges/test_bitstamp.py
Due: backend

Updates rounding in the docs.
  docs/images/sc_amount_settings.png
  docs/usage_guide.rst
Due: none

Fix binance.us queries
  rotkehlchen/exchanges/binance.py
Due: backend

Changelog entry for 3038
  docs/changelog.rst
Due: none

docs: fix link URL
  docs/usage_guide.rst
Due: none

Querying more than 80 legacy BTC addresses should now work again
  rotkehlchen/chain/bitcoin/__init__.py
Due: backend

Add changelog entry for 3037
  docs/changelog.rst
Due: none

Update list of assets for 1.17.2
  rotkehlchen/assets/asset.py
  rotkehlchen/assets/converters.py
  rotkehlchen/data/global.db
  rotkehlchen/tests/unit/test_assets.py
Due: backend

Makes sure regex index resets on each formatter call
  frontend/app/src/data/date_formatter.ts
  frontend/app/src/views/settings/DateFormatHelp.vue
  frontend/app/src/views/settings/GeneralSettings.vue
Due: frontend_unit, frontend_integration

Updates changelog
  docs/changelog.rst
Due: none

Pin susbstrate dependencies
  requirements.txt
Due: none

Handle poloniex trade queries of more than 10k results
  rotkehlchen/exchanges/poloniex.py
Due: backend

Handle BadFunctionCallOutput in _call_contract
  rotkehlchen/chain/ethereum/manager.py
Due: backend

Add changelog for 81
  docs/changelog.rst
Due: none

Updates notify hook for windows to use powershell
  .github/workflows/rotki_nightly_builds.yml
Due: none

Fixes exchange tab background color on dark mode
  frontend/app/src/components/accounts/exchanges/ExchangeBalances.vue
Due: frontend_unit, frontend_integration

Last miniute assets
  rotkehlchen/assets/asset.py
  rotkehlchen/assets/converters.py
  rotkehlchen/data/global.db
  rotkehlchen/tests/unit/test_assets.py
Due: backend

Fixes xpub collapsed balances not displaying in total
  frontend/app/src/components/accounts/AccountBalanceTable.vue
  frontend/app/src/components/accounts/AccountGroupHeader.vue
Due: frontend_unit, frontend_integration

Bump version: 1.17.1 → 1.17.2
  .bumpversion.cfg
  docs/conf.py
  frontend/app/package-lock.json
  frontend/app/package.json
  setup.py
Due: frontend_unit, frontend_integration

Add release v1.17.2 to the changelog
  docs/changelog.rst
Due: none

Remove Binance from external locations
  rotkehlchen/typing.py
Due: backend

Update pylint and pytest-cov
  requirements_dev.txt
  requirements_lint.txt
Due: none

Remove old cryptocompare test
  rotkehlchen/tests/external_apis/test_cryptocompare.py
Due: backend

Allow for custom markets in binance
  docs/api.rst
  docs/changelog.rst
  frontend/app/src/components/helper/BinancePairsSelector.vue
  frontend/app/src/components/settings/api-keys/ExchangeKeysForm.vue
  frontend/app/src/components/settings/api-keys/ExchangeSettings.vue
  frontend/app/src/locales/en.json
  frontend/app/src/services/rotkehlchen-api.ts
  frontend/app/src/store/balances/types.d.ts
  rotkehlchen/api/rest.py
  rotkehlchen/api/server.py
  rotkehlchen/api/v1/encoding.py
  rotkehlchen/api/v1/resources.py
  rotkehlchen/constants/misc.py
  rotkehlchen/db/dbhandler.py
  rotkehlchen/exchanges/binance.py
  rotkehlchen/exchanges/manager.py
  rotkehlchen/rotkehlchen.py
  rotkehlchen/tests/api/test_exchanges.py
  rotkehlchen/tests/db/test_db.py
  rotkehlchen/tests/exchanges/test_binance.py
  rotkehlchen/tests/exchanges/test_binance_us.py
  rotkehlchen/tests/utils/exchanges.py
Due: backend, frontend_unit, frontend_integration

Path conditions:
  backend: any of: rotkehlchen
  frontend_unit: any of: frontend/app
  frontend_integration: any of: frontend/app
